[2017-05-22 13:48] bf4 commented on #2138
Yeah, that would be nice. I wish we supported a way to specify mapping objects to serializers.

You can still serialize things yourself. It's less magical, but there's no shame in that :)

[2017-05-22 17:06] cassidycodes commented on #2125
@bf4 Apologies on getting to this so late. I was hit with a cold after our chat last week. Still recovering.

Is this what you had in mind when you said `config.belongs_to_uses_id_on_self = true`?

https://github.com/cassidycodes/active_model_serializers/commit/f1aa9f7156910c868f54b96807e7e9b90c7507dc

I'm not sure I understand the wording of your suggestion for the config. Doesn't it mean the sam

[2017-05-22 17:18] bf4 commented on #2125
@cassidycodes I commented on our commit. Looks good.

[2017-05-22 17:23] beauby commented on #2043
IMO the reason for this behavior is poor design. A possible fix would be for AMS to automatically define a dummy method that just forwards to the object whenever an attribute is declared without a block. It would be dangerous as well, but much more consistent with the idea that "attributes are methods on the serializer", compared to the current concept of "attributes are something, unless a method

[2017-05-22 18:19] bf4 commented on #2043
So, now it defines a method unless one exists.  You're suggesting that it always define an instance method.  It could still be overridden, so I think that would work fine.  It would mostly be a problem with inheritance if that same attribute were declared more than once.

[2017-05-22 20:07] cassidycodes commented on #2125
@bf4 Thanks! Made a PR, let me know if you want any changes.

[2017-05-23 03:55] jeffrey008 commented on #2138
Do you mean something like this?
[code]

Please correct me if I'm wrong. Thanks.

I propose that each_serializer can take a Symbol or a block as a value, then people can do whatever they would like to in the block.

[2017-05-23 07:15] krtschmr opened #2141 "NoMethodError: undefined method `model_name' for Hash:Class"
`ActiveModelSerializers.config.adapter = :json`

instead of using a serializer, for error_messages we do something like this

    def render_error(resource, status = :unprocessable_entity)
      render json: { errors: resource.errors.full_messages } , status: status
    end

or sometimes we simply do

    render json: {status: "approved"}

all of those throw the error '  undefined method `model_na

[2017-05-23 10:02] beauby commented on #2138
@jeffrey008 Currently in AMS you will have to rely on serializer inference for polymorphic associations.

[2017-05-23 13:32] cassidycodes commented on #2141
This same question was asked in https://github.com/rails-api/active_model_serializers/issues/2133

You can set the root key by following the guides here: https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/serializers.md#root

If you are looking to disable serializer lookup entirely, you can see the docs here: https://github.com/rails-api/active_model_serializers/bl

[2017-05-24 02:50] jeffrey008 commented on #2138
Hi @beauby In my case there is no association. `@events` is an array of event with different types. I want AMS to use the correct serializer based on `event.type`.

[2017-05-24 16:15] vergenzt commented on #1672
I'm not sure if the config was exposed when this issue was opened, but FWIW I'm removing eager loading code from my controllers by defining a custom collection serializer:

[code]

configuring it:
[code]

and using it:
[code]

The cleaned up controller code can then simply look like:
[code]

It doesn't entirely remove duplication, but IMO it strikes a good level of explicitness; it just seems like

[2017-05-24 16:39] bf4 commented on #1672
@vergenzt Nice. Want to make a PR? This is a good example of where user-land can do a better job extending AMS than AMS can in doing everything out of the box.

[2017-05-24 19:26] vergenzt commented on #1672
@bf4 you just mean a docs PR explaining the example? Sure! Any thoughts on where that example should go?

After reading through most of the docs (and re-reading some pages to find specific things I was looking for) I'm still a bit confused about what information lives where. :(

[2017-05-24 19:52] bf4 commented on #1672
@vergenzt Yeah!  Well, as a reader of the docs, you're in the best position to remember how you looked and then put things in the first place you looked :)

[2017-05-25 10:04] PratheepV commented on #2006
@bf4 is there any workaround for this as of now?.

Anyone has custom adapter for this.

[2017-05-25 13:19] marceloboeira opened #2142 "Unable to define root / json_key for collection"
#### Expected behavior vs actual behavior

Expected:
[code]

Actual
[code]

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*: `active_model_serializers (0.10.6)`

Output of `ruby -e "puts RUBY_DESCRIPTION"`:  `ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]`

Also

[2017-05-25 13:25] drewnichols commented on #2006
@PratheepV It looks like one of us is going to have to setup up and make it happen.

[2017-05-25 17:40] bf4 commented on #2142
@marceloboeira
which adapter are you using? What does `ActiveModel::Serializer::CollectionSerializer.new(Channel.all, root: "foo", adapter: :json).as_json` give you?

any particular reason you're calling the collection serializer directly?

[2017-05-25 20:24] marceloboeira commented on #2142
[code]

---

@bf4 I've tried to serialize using a `ChannelsSerializer` that inherits from `CollectionSerializer`, but it didn't work as well... ever since I was focusing on making the root work, but no success.

That's my app running. I had to create the root key manually, and use the collection to serialize an array.
https://github.com/feedcast/core/blob/feature/api/app/api/api/v1/channel.rb

[2017-05-25 21:10] marcosanfilippo opened #2143 "has_many doesn't call the given serializer"
#### Scenario

I'm working on photo collection with mongoDB, where an **album** `embeds_many` **photos** (as mongoDB documents). **Album** has a `title`, each **photo** has a `description`. I'm able to call the album serializer, like this (album contains correct data):

[code]

But I can't get the `each_serializer` on each `photo`, and the relation in **Album** is:

[code]

#### Expected behavior

[2017-05-26 03:04] ssinghi commented on #2143
Have you tried using:
[code]

[2017-05-26 03:19] yoda commented on #2132
Have the same issue with this, because we depend on extra ncrud where n is new that produce the state of the object with default values set however because the object is not persisted yet it has no id which invalidates the jsonapi spec. A dodgey way is to set an invalid id but something better than that would be good, any suggestions?

[2017-05-26 05:32] crustyratfink opened #2144 "Set serialization_scope and scope is nil in serializer"
#### Expected behavior vs actual behavior
Expect to set
serialization_scope :view_context
in application_controller.rb

And in serializer:
delegate :current_user, to: :scope

and then access current_user in serializer.

Actual:
IssueSerializer#current_user delegated to scope.current_user, but scope is nil:...

#### Steps to reproduce
See above:
Set serialization_scope :view_context in application_

[2017-05-26 07:23] InteNs commented on #2132
i would like to see an serializer option like `new_record: true` or something similar that would allow non persisted records to be serialized without id

[2017-05-26 07:55] marcosanfilippo commented on #2143
Do you mean to put all in the same line?
Yes, nothing changes.

[2017-05-29 17:00] PratheepV commented on #2006
:confused:

[2017-05-30 10:15] johnunclesam opened #2147 "Rails and ember with acts-as-taggable-on. How to handle relationships in JSONAPI?"
I have a Rails 5 (or 4) application and I need a good tag system.

- **First question**: is **acts-as-taggable-on** still a good choice?

This is my code:

    class User < ActiveRecord::Base
      acts_as_taggable_on :tags
    end

    class UsersController < ApplicationController
      def user_params
        params.require(:user).permit(:name, :tag_list)
      end
    end

    @user = User.new(

[2017-06-02 09:37] marcosanfilippo commented on #2143
I changed strategy, I can't find the issue solution.

[2017-06-02 09:37] #2143 closed

[2017-06-02 17:40] bf4 commented on #2143
This appears to be a deep nesting question

[2017-06-03 16:23] llaine commented on #2142
Having the same errors, all my endpoint loses there root key.

[2017-06-03 17:25] marceloboeira commented on #2142
@llaine I've been looking at the code for AMS to try to make sense of when the options are lost...
while I don't figure it out the solution I've been using a hack:

[code]

[2017-06-04 09:03] llaine commented on #2142
@marceloboeira thanks for the answer, unfortunately, I'm using rails as an api with it.
And this `MyCollectionSerializer.new(collection).as_json` is kind of implicit, si I can't put it in the code ...
Any idea if there is a global configuration for this or?

[2017-06-07 00:43] bf4 commented on #2142
I find it kind of strange to be reaching directly for the collection serializer like this. Any particular reason? Is your expected serialization based on docs?

[2017-06-07 04:15] marceloboeira commented on #2142
In my case it's because the expected code is not working...

"Channels.all.to_json" does not use the collection serializer, neither the root...

Sent from my iPhone

[2017-06-12 12:10] strivemag commented on #1250
is there any news? @marucjmar

[2017-06-14 14:16] smeshko commented on #2144
Hello, I have the same issue, any updates?

[2017-06-14 14:49] bf4 commented on #2144
How are you rendering?

[2017-06-16 23:00] shirkavand opened #2153 "AMS + json_api adapter + join_table (many to many relation)"
#### Expected behavior vs actual behavior
I have these models:
[code]
[code]
[code]
[code]
These are my serializers:
[code]
[code]
[code]
[code]
#### Steps to reproduce

when i do a `render json: @assessment, include: [questions: [:adjectives]]` i get the following JSON

[code]
As you can see `Adjective = 30` and `Adjective = 83` are on the same hierarchy level as `questions = 881` i want the `Adj

[2017-06-18 17:05] seb-sykio commented on #2142
+1 same pb for me since i migrate from 0.9 to 0.10

[2017-06-19 08:41] llaine commented on #2142
Sticking to my rails version and not upgrading solves the issue.

[2017-06-19 11:09] seb-sykio opened #2154 "ActiveModel::Serializer::CollectionSerializer each_serializer"
#### Expected behavior vs actual behavior
expected :
ActiveModel::Serializer::CollectionSerializer.new(options, each_serializer: OptionSelectedSerializer)
should use OptionSelectedSerializer

actual :
ActiveModel::Serializer::CollectionSerializer.new(options, each_serializer: OptionSelectedSerializer)
use OptionSerializer

adapter: :json

ruby 2.4.1
active_model_serializers 0.10.6

[2017-06-21 18:26] ledhed2222 opened #2155 "Support extending cache_store fetch"
#### Background
I'd like to record cache hit rates for a complex serialization. IE something like this:
[code]
Ideally, this would be possible by overriding some method from `Caching`. However, the actual calls to the cache in that module are disparate and hidden. To accomplish this it looks like I'll have to re-implement `fetch_attributes`, rather than overriding it.

#### Expected behavior
Inste

[2017-06-21 18:26] ledhed2222 commented on #2155
FYI - if there isn't another way to do this and there's agreement on this I'm happy to make a PR. Seems easy to implement.

[2017-06-21 20:10] bf4 commented on #2155
@ledhed2222 you probably just want to either subscribe to the cache events (using active support notifications) or add a special ActiveSupport::Cache.logger https://github.com/rails/rails/blob/4-2-stable/activesupport/lib/active_support/cache.rb#L156

In any case, I don't believe this is in scope for AMS. Thanks! Let me know how using the logger works.

[2017-06-22 01:51] beet commented on #2132
We just got a nasty surprise from this update as well, but reading the comments thread I suppose we were misusing the JSON API spec.

Our use-case was creating records from a form via AJAX. When validation errors prevented the object from being created, we returned it with the validation errors in an attribute which the UI fetched out and presented to the user.

With the update from Rails 5.1.0 to

[2017-06-22 05:04] ledhed2222 commented on #2031
I thought I ran into this problem today too (hadn't seen the issue) but after a brief source dive it looks like this is just a bit of documentation confusion. `cache_key` comes from the model, so if you want to override it you need to override it there. If for some reason (I happened to have one but it's definitely a rare need) you want to override from the serializer itself, the method to overrid

[2017-06-22 22:48] omarsve opened #2156 "Can't remove the model root name from my json"
Right now I'm trying to remove the root name from my json response.

I'm getting this:
`{
  "list": {
    "accounts": [
      {
        "id": 4,
        "name": "ACCOUNT",
        "country_id": 1
      }
    ]
  }
}`

When I'm trying to get this:
`{
  "list": [
    {
      "id": 3,
      "name": "VONS",
      "country_id": 1
    }
  ]
}`

This is my controller:

`render json: { list: ActiveModelSe

[2017-06-22 23:19] ledhed2222 commented on #2155
oh that's really cool @bf4 - I hadn't used notifications before. Looks like it will even pass the hit in the payload! Thanks. Closing this issue.

[2017-06-22 23:19] #2155 closed

[2017-06-22 23:26] ledhed2222 opened #2157 "API for cache pre-fetching"
#### Expected behavior vs actual behavior
There may be another way to do this, so please bear with me.

I have a complex and high-traffic serialization that will benefit from caching. I want to proactively write the cache just after it is invalidated (only for the most common invalidations). I've implemented this just fine, but it took a bit of source diving and wasn't particularly obvious how to

[2017-06-22 23:26] ledhed2222 commented on #2157
Again - happy to put together a PR if there's agreement :)

[2017-06-23 14:40] bf4 commented on #2157
well `serialization_adapter_instance` won't always the be same. Isn't there just `cache_key` method on the serializer instance?

Ok, I asked, but then went and looked. and found https://github.com/rails-api/active_model_serializers/blob/0-10-stable/lib/active_model/serializer/concerns/caching.rb#L267-L276 it's just `serializer.cache_key(adapter_instance)`   (yeah, it's dumb that the adapter_instan

[2017-06-23 15:09] NateJBeck commented on #2045
I've had some success serializing JSON to reflect a children > children > children ... structure using the following. In my example a `Job` has_many :steps, but you may be able to use the same `attributes :children` override for your Categories.

    class JobSerializer < ActiveModel::Serializer
        class StepSerializer < ActiveModel::Serializer
            attributes :description, :position

[2017-06-23 15:26] ledhed2222 commented on #2157
The use case here is for a serialization that is complex, hit frequently, and also frequently invalidated by user actions. It's also scoped to multiple users, so one resource will have several parallel serializations for each scope.

Since there are some obvious and frequent cases where a user will invalidate the cache, I'd like to not just invalidate the prior cache (which happens automatically d

[2017-06-23 15:52] ledhed2222 commented on #2157
K I'll put together a PR and we can pick up this discussion there :)

[2017-06-24 16:36] zackshapiro opened #2158 "Using active_model_serializers to return jsonapi.org format not working in Rails 5 app"
#### Expected behavior vs actual behavior

Expected: JSON returned has keys in `camelCase`

Actual: JSON returned has keys in `snake_case`

Not sure what I'm doing wrong here and I haven't found any solutions that have helped on StackOverflow, so I figured I'd ask here.

My goal is to have my Rails app API send out camelCase key names so that my JS app doesn't have to worry about snake_case at all

[2017-06-26 15:40] ledhed2222 commented on #2157
Looks like I don't have permissions to push branches - but I have a simple PR for addressing this. Just adding a `cache_key` method to `ActiveModelSerialzers::SerializableResource` should do the trick:

[code]

Then if you're outside of a controller and want to manually write to the cache you could do this:

[code]

What do you think? Will open the PR once I'm allowed to push branches :)

[2017-06-26 16:16] bf4 commented on #2157
@ledhed2222 you can make a PR from a fork :)

[2017-06-26 17:14] ledhed2222 commented on #2157
derp , thanks @bf4

[2017-06-26 23:42] ledhed2222 commented on #1586
I just noticed something that seems fishy here. I have a resource and am using the `Json` serializer. I set things up in the model so that I would preemptively write the cache when changes are made, so that the next user request always reads from cache. After source diving it appeared that AMS adds the adapter name to the end of the cache key, which makes sense. So for example, it might look like

[2017-06-26 23:50] ledhed2222 commented on #1586
Looks like I can ameliorate the above issue one of:

1) using the attributes adapter explicitly
2) using the attributes adapter de facto by writing the cache with `ActiveModelSerializers::SerializableResource.new(resouce).as_json`, which, again, actually writes to the attributes version

[2017-06-27 02:10] bf4 commented on #1586
@ledhed2222 Great catch!  Do you think you could write a failing test for it? This was probably introduced later (by me).

 Json's implementation of serializable_hash is:

[code]

should be sufficient. really, the two adapters should be unified again imho.

[2017-06-27 14:00] LeKristapino commented on #2108
@patrick99e99
From https://github.com/rails-api/active_model_serializers/blob/v0.10.6/docs/general/configuration_options.md

default_includes

What relationships to serialize by default. Default: '*', which includes one level of related objects. See includes for more info.

[2017-06-27 23:27] #2134 closed

[2017-06-28 14:33] furkanayhan opened #2160 "JSONAPI - Wrong "type" for belongs_to polymorphic relationships"
#### Expected behavior vs actual behavior

For JSONAPI, after this pr is merged: #1857, `type` parameter returns the relation type, instead of resource type.

#### Steps to reproduce

serializer:
[code]

request:
`/comments?include=commentable`

expected:
[code]

result:
[code]

#### Environment

ActiveModelSerializers Version, after this: #1857

[2017-06-29 02:12] bf4 commented on #2158
AMS doesn't serialize hashes

[code]

[2017-06-29 02:12] #2158 closed

[2017-06-29 02:14] bf4 commented on #2156
pass in `adapter: :attributes` to remove the root.  Also, it would be helpful if you included the exact version.

[2017-06-29 02:14] #2156 closed

[2017-06-29 02:15] bf4 commented on #2154
either don't do that or read the source code. That's not a recommended way to use the library.

[2017-06-29 02:15] #2154 closed

[2017-06-29 13:50] blmundie commented on #2160
I have this same issue for >= 0.10.4

[2017-06-29 14:23] blmundie commented on #2160
For me removing 'oj' fixes it.

[2017-06-30 00:25] NullVoxPopuli commented on #2160
huh. I'm using OJ with 0.10.5 without this problem. I did experience this with the latest 0.10.6 though.

[2017-06-30 05:01] andyhite commented on #2160
I'm using 0.10.6 without oj and seeing this issue.

[2017-06-30 18:19] beauby commented on #2160
I cannot envision a single way OJ might change this behavior 🤔

[2017-06-30 18:32] andyhite commented on #2160
@beauby OJ has nothing to do with it. I've found the problem, I just can't decide how best to fix it - so I've hacked a fix in my private fork for now.

The problem is here: https://github.com/rails-api/active_model_serializers/pull/1857/files#diff-4ed94f8e25cfa5ca61c077e1dbd5daceR58

The default type for the resource identifier when using a belongs_to is the field's name (pluralized). That means

[2017-06-30 18:39] andyhite commented on #2160
My temporary hack to fix this is the following:

[code]

I haven't tested anything other than my case though, so I'm not comfortable pull requesting it yet.

[2017-06-30 20:09] blmundie commented on #2160
Yes it wasn't oj.  Had two issues at the same time.  The newest version of oj with oj_mimick_json was causing my to_json to return an invalid string.

This issue I fixed by going to older version of ActiveModelSerializer.

Sorry for the confusion.

[2017-07-02 00:00] ledhed2222 commented on #1586
Yeah I can work on that at some point @bf4 - thinking about this further, that issue definitely doesn't have anything to do with cache performance (obviously actually).

I will say that I've personally encountered this now. I replaced an existing route that did not use AMS and that had cache hit rates of ~0.66 and whose average request time was 250 ms with AMS. My AMS implementation has as cache h

[2017-07-04 07:24] parasjain27 opened #2161 "Unable to add second level nested attributes"
#### Expected behavior vs actual behavior

I have three models namely **Invoice**, **InvoiceDetail** and **Product**. An **Invoice** has many **InvoiceDetails** and an **InvoiceDetails belongs to** **Invoice** and **Product**

I have serializers defined for all the three models respectively but when I'm fetch invoice, I'm not able to fetch Product attributes.

[code]
[code]
[code]

**The Searializ

[2017-07-06 07:46] vedant1811 opened #2163 "Generator not found in master"
I ran `rails g serializer Model` but I get a generator not found error while using master i.e. `gem 'active_model_serializers', github: 'rails-api/active_model_serializers'`

It works in the latest stable version i.e. `gem 'active_model_serializers'`

[2017-07-06 10:47] j-arnaiz commented on #2160
This do not solve the problem but as a workaround in your application you could change your `belong_to :field, polymorphic: true` to `has_one :field, polymorphic: true` and the type returned will be ok.

I tried to solve the problem... it seems like we should access attribute #{name}_type on polymorphic relationships on parent object, but on ::ActiveModel::Serializer::Reflection initialize method

[2017-07-06 23:50] burmashave commented on #2160
Having this issue as well. Changing to `has_one :field, polymorphic: true` (per @j-arnaiz) does fix it for me, but would love to see belongs_to work as expected.

[2017-07-07 01:50] remear commented on #2163
As mentioned in the README:

Sounds like you want to alter that line in your Gemfile to specify the `0-10-stable` branch.

[2017-07-07 17:39] kurko commented on #2036
@hoahm your approach changes the transformation of **all** keys. Here, I'm interested in 1 key being transformed differently from other keys.

[2017-07-10 08:11] vedant1811 commented on #2163
@remear, in the [0-10-stable README](https://github.com/rails-api/active_model_serializers/tree/0-10-stable#about) it is mentioned:

That is why I chose to use `master`.

[2017-07-10 08:11] #2163 closed

[2017-07-10 10:28] NullVoxPopuli commented on #2036
I'd recommend the unaltered key_transform, if you need keys of different casings.

[2017-07-10 13:46] remear commented on #2163
@vedant1811 A very good point. Would you like to open a PR against 0-10-stable to correct that?

[2017-07-11 21:05] bf4 commented on #2163
Lulz, oops on me 😊

[2017-07-13 15:38] phstoned commented on #2142
Having same issue. So my solution is to downgrade to `0.9.3`.

[code]
As it supposed.

[2017-07-13 17:58] Bernica commented on #2161
You are missing the include param when rendering (in your controller)

[2017-07-13 18:40] kurko commented on #2036
@bf4 with https://github.com/rails-api/active_model_serializers/pull/2026 merged, what else do you think is needed to have a per-key transformation instead of whole document?

I know we plan to have AMS being more abstract, as pointed out by @NullVoxPopuli, but I will need to expose this untransformed key in my app. Timeline is probably 2 or 3 months (for now I'll keep it with dashes for internal

[2017-07-17 13:50] ajahongir commented on #2160
having same issue,
passing custom `type: :versions` but it still as model.table_name

[2017-07-20 17:19] gregblass commented on #2078
I ended up using jbuilder instead of active model serializers.

[2017-07-20 21:42] kurko commented on #2144
I got this same issue, except that mine is `nil` only within `has_many do end` blocks.

[code]

[2017-07-21 19:00] LucasCioffi opened #2165 "Second Request gets NameError (uninitialized constant ActiveModelSerializers...)"
#### Expected behavior vs actual behavior
Using Firefox, the first time I visit http://localhost:3000/chatrooms/0.json I get a successful JSON response.

Without changing anything, if I reload the page, I get this error:
[code]

Then if I go to that file using my text editor (Atom) and merely save any ruby file without making any changes and reload the page, there is no error. Strange!

I can relo

[2017-07-21 19:01] beauby commented on #2165
Looks like an autoloading issue. Also, why namespace your serializers under `ActiveModelSerializers`?

[2017-07-21 19:03] LucasCioffi commented on #2165
@beauby Nice!

Changing
`serialization = ActiveModelSerializers::CommunitySerializer.new(community, options)` to
`serialization = CommunitySerializer.new(community, options)` did the trick!

So thankful!

[2017-07-21 19:03] #2165 closed

[2017-07-25 16:54] leadingproperties commented on #2160
Having same issue.
Downgraded to 0.10.5

[2017-07-26 22:54] danielbonnell commented on #2011
This is a pretty severe performance bottleneck for me since the API I manage has a lot of nested relations, sometimes going 3-4 layers deep. An ideal solution IMO would be (if possible) to just `include` whatever was in the `includes` statement of the query if one was present.

[2017-07-27 17:50] codeblooded opened #2168 "Installing active_model_serializers causes unexpected http_status_code changes in specs"
I'm super confused. I think I'm encountering some kind of bug. Could use some help. I had passing specs (passed dozens of times on local and CI server), but then I ONLY added the active_model_serializers, a UserSerializer class, and now my specs are failing. It's saying the response from my controllers (not using serializers) is :unauthorized which isn't even possible, b/c I'm calling `render stat

[2017-07-27 22:09] bf4 commented on #2168
That is indeed strange. I looked over the diffs and nothing stood out

[2017-07-27 22:16] codeblooded commented on #2168
@bf4 I know I feel crazy. Isn't that like the weirdest thing you've ever seen? Trying to find a workaround.

[2017-07-28 15:58] #1097 closed

[2017-07-28 15:58] #1206 closed

[2017-07-28 16:00] #1680 closed

[2017-07-28 16:34] #1696 closed

[2017-07-29 22:23] cmrd-senya commented on #366
Sorry for the bringing up an old topic, but I didn't want to create a new issue since I didn't know if it is a bug or a feature. `has_many`/`polymorphic` doesn't seems not to work on AMS `0.10.6` for me right now. I created [a question on stackoverflow](https://stackoverflow.com/questions/45394553/activemodel-serializer-0-10-has-many-polymorphic-association) (as suggested by the readme) describing

[2017-07-30 10:57] #2161 closed

[2017-08-01 03:12] LucasCioffi commented on #2011
@groyoh Thanks for the solution you posted above:
[code]
If you wanted to limit that query to the last 10 `shipment_service_types.time_windows` and sort them in descending order, is that possible?

[2017-08-02 11:11] william-mendes commented on #398
Other option is add:
`ActiveModel::Serializer.config.key_transform = :camel_lower
ActiveModel::Serializer.config.default_includes = "**"`
To the: active_model_serializers.rb

Everything that goes through the serializer will be camelCase

[2017-08-03 13:15] rajeevriitm commented on #1036
How can I pass current_user to serializer in rails console?

[2017-08-07 06:43] r72cccp opened #2173 "ArgumentError: wrong number of arguments (given 0, expected 1+)"
#### Expected behavior vs actual behavior
in `lib/active_model/serializer.rb:340:in `initialize'`:
[code]

throw error:
`ArgumentError: wrong number of arguments (given 0, expected 1+)`

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

when i read documentation for Enumerator, i'm find, that it's expect [minimum one argument](https://ruby-doc.org/core-2

[2017-08-08 11:12] cesarjr opened #2174 "Plans to generate API documentation"
Hi!

Do you have any plan to generate API documentation using AMS? Fo example using Swagger.

Thanks.

[2017-08-08 15:41] bf4 commented on #2174
@cesarjr Depending on what you mean, it already exists, or there aren't active plans.  It wouldn't be too hard. If by Swagger you imply JSON-SCHEMA, then that's probably a good idea, but not in the pipes.  Also, documentation for a schema/serialization structure is a bit different from API docs. API docs would include a /users endpoint.  AMS would just be like here's the different things you can d

[2017-08-09 09:26] Looooong opened #2175 "[Bug] ActionController#namespace_for_serializer doesn't read attribute correctly"
Version 0.10.6

Current implementation:

[code]

If `self.class.parent` is an `Object` (which is always `true` for class without namespace), `#namespace_for_serializer` returns `nil` instead of `@namespace_for_serializer`.

[2017-08-09 16:31] beauby commented on #2175
How is this a bug?

[2017-08-09 16:47] Looooong commented on #2175
When the controller is not in any namespace, setting `namespace_for_serializer` doesn't have any effect.

Only redefine the method `namespace_for_serializer` or put the controller in a namespace works.

[2017-08-10 01:44] TranBaVinhSon commented on #2024
I have the same problem. When I use AMS implicitly with `render json: @data`, it's work perfect. But when I use it in hash:
[code]
I got error: `Rendered ActiveModel::Serializer::Null with Hash `.
Does anyone solve it ?

[2017-08-10 02:00] bf4 commented on #2024
Call to_json on your hash

B mobile phone

[2017-08-10 02:20] TranBaVinhSon commented on #2024
@bf4 It doesn't work :(
[code]

[2017-08-10 03:08] bf4 commented on #2024
Well, without any more details on how it doesn't work I don't have anything tp add except don't serialize hashes... uses either records or strings

B mobile phone

[2017-08-10 03:32] TranBaVinhSon commented on #2024
@bf4 I'm sorry for my mistake

Response Function
[code]
Controller
[code]
ActiveModel::Serializer
[code]

It's only work when I use `render json: companies`

[2017-08-12 03:09] betoharres commented on #1667
Did anyone experienced the application **completly* hangs util the request timeout after adding `AMS` in a project with `devise_token_auth`?
My api was working just fine before adding the gem.
Not sure what happened yet, but I'm using the latest versions from rubygem.
[code]

[2017-08-12 04:17] seyhaheng2 commented on #1348
hi can i ask a question? i want to have 2 controller when i use scaffold so what should i do?
1 controller for API that path controllers/api/v1
1 controller for View

[2017-08-12 11:12] danlaffan commented on #1348
@seyhaheng2 - this question really belongs in Stack Overflow.  However, to answer your question, you have a few options:

-  You could use one controller and use a `respond_to` block to respond in different ways to HTML and AJAX requests.
-  You probably prefer to have a separate controller for your API and for your web pages.  In that case:
    -  You probably have your HTML scaffold already buil

[2017-08-13 02:04] bf4 commented on #1667
I'd recommend just stop using `devise_token_auth`. You can probably do a
better job yourself.

[2017-08-13 18:51] betoharres commented on #1667
@bf4 yeah I downgraded `AMS` to `0.10.0.rc4` and looks like it's working now, but in a near future I'm going to make my own auth library.

I realized that after started using `redux-auth`( the React frontend library that deals with authentication for `devise_token_auth` from the same author ). I had to rewrite the entire library, it felt like it was wrote in a rush with a lot of holes in the code.

[2017-08-17 16:01] spinlock99 commented on #1907
@kris what was the solution? We're having a similar issue and the link you've posted doesn't work anymore.

Thanks!

[2017-08-19 16:00] pynixwang commented on #1148
this happen again.
[code]

[2017-08-19 16:07] pynixwang commented on #1148
not gape problem
[code]

[2017-08-20 23:05] Rio517 commented on #2160
I resolved this for myself with the attached patch. Rather than relay on the json_key as I have, it might make more sense to expose the polymorphic_type variable as set on the following line, but I couldn't quite follow the control flow:

https://github.com/rails-api/active_model_serializers/blob/0-10-stable/lib/active_model/serializer/association.rb#L59

Diff:

[code]

[2017-08-21 06:55] furkanayhan commented on #2160
@Rio517 you may open a PR with this?

[2017-08-22 20:28] remear commented on #1907
@spinlock99 The updated link is https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/configuration_options.md#default_includes

[2017-08-23 11:11] borlafdev commented on #732
Just in case someone(like me) end up here, the solution @hchood pointed out isn't valid anymore( options variable was removed in 0.9 ), there is a valid response in stackoverflow:

https://stackoverflow.com/questions/23347587/how-to-pass-parameters-to-activemodel-serializer#answer-26780514

[2017-08-26 00:24] dasnixon opened #2178 "[Bug] ID of a relationship not reading the overridden ID attribute on the serializer of the relationship"
Version: `0.10.6` - Expect the ID of the relationship to first be read from the serializer, then the object.

There is no issue on `0.10.4`

I can help whip up a PR soon, just don't have the time at this moment. Figured you could fix this pretty quick (if it's a bug).

[code]

[code]

From `0.10.4`
<img width="567" alt="0 10 4" src="https://user-images.githubusercontent.com/672057/29736786-7df41ea

[2017-08-26 13:10] andrjuha01 commented on #2173
@r72cccp Sorry, I can be wrong right here, but in documentation you can really find another example of creating object.
```new(size = nil) { |yielder| ... }```.
In that way, the size would be nil, but it would yield a block given after it.
Like here:
[code]

[2017-08-29 01:11] xn commented on #2132
This bit me hard and wrecked my test suite. My use case:
[code]

Is there some better way to do this?

[2017-08-29 02:40] drn commented on #2173
I ran into this as well.

I didn't track down the reason why `object` did not exist, but this pull addresses the issue -
 https://github.com/rails-api/active_model_serializers/pull/2179

[code]

[2017-08-29 15:12] bf4 commented on #2173
Hmm, don't know how I missed that in implementation and test

[2017-08-29 16:48] xn commented on #2132
From the spec:
[Creating Resources](http://jsonapi.org/format/#crud-creating)
```A resource can be created by sending a POST request to a URL that represents a collection of resources. The request MUST include a single resource object as primary data. The resource object MUST contain at least a type member.```

[2017-08-29 16:56] xn opened #2180 "Does not allow serialization for purposes of Creating Resources"
#### Expected behavior vs actual behavior
I expect to be able to serialize an object without an id for the purpose creating a resource.
Current behavior returns: `{data: null}`

#### Steps to reproduce
[code]

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:
Everything south of `73eae19b3d0b8a3c03fda566a208eeee6720beed`

#### Additonal helpful information
*(e.g., Gemf

[2017-08-29 16:57] xn commented on #2132
https://github.com/rails-api/active_model_serializers/issues/2180

[2017-08-30 09:24] csaurav commented on #1905
Im also facing the similar issue with fragment caching and json_api adapter

AMS version: active_model_serializers (0.10.5)

[2017-08-31 10:37] devtoro opened #2182 "Custom relationship not serialized properly"
Hello all ! I have a rails 5 application and I am using active model serializers **v 0.10.6** and the oj gem.

I have a custom relationship in one of my models:
`class Team < ApplicationRecord`

 `  # Associations`
 `  has_many :users`
 `   has_and_belongs_to_many :projects`
 `   belongs_to :team_leader, class_name: 'User'`
`end`

and here is my serializer:

`class TeamSerializer < ActiveModel::Se

[2017-08-31 20:40] iamkobold opened #2183 "Issue with JSONApi and sparse field renderings"
#### Expected behavior vs actual behavior

Attempting to add support for sparse fields in a generic fashion to support a JSONApi 1.0 compliant service using ActiveModelSerializers. This document https://github.com/rails-api/active_model_serializers/blob/v0.10.6/docs/jsonapi/schema.md talks about using ActiveModel::Serializer::Fieldset however i can't find many examples how this works. However with

[2017-09-02 16:43] remear commented on #2182
Sounds like you might be looking for https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/serializers.md#type

[2017-09-04 04:10] oyeanuj commented on #1806
For anyone else who stumbles on this issue, the correct link now is: https://github.com/codenoble/active_model_normalizr

Thank you for throwing out the idea @adamcrown!

[2017-09-04 22:37] ZempTime opened #2186 "Defining different sets of rules on how to serialize data in the same serializer [brainstorm/proposal]"
## Introduction
I've been having a lot of confusion and difficulty implementing something that feels like it should be simple, and it's led to me tracing across a lot of issues & PR's while trying to figure it out. In the process of doing this, I get the impression everyone is collectively also trying to figure it out and nobody's quite satisfied with how things are. So, I had an idea for how I'd

[2017-09-04 23:55] ZempTime commented on #2186
p.s. - I was able to implement that api as-is this way. but still seems like being able to defer methods to a module with some handy helper methods would just make this a pleasure to use

[code]

[2017-09-07 13:17] imadmoussa1 opened #2187 "Deserialize JSONapi"
Hello ,
I am working on a rails api , that make calls to other apis using JSON api .
Those api are dynamic , It is possible to deserialize there response using active model Deserializes, without creating new models in our project ?

Thank you .

[2017-09-11 22:43] Genkilabs commented on #2132
+1 Being able to transmit non-persisted / recently initialized data is IMO a valid use case.

[2017-09-17 11:19] gambala commented on #2132
My (dirty but) workaround for now — set an id of the record to 0 or -1 and serialize it.

[code]

[2017-09-19 22:23] nitvik opened #2199 "Meta is not showing for for Array Serializer"
Sorry it shows. Please close this.

[2017-09-20 01:01] #2199 closed

[2017-09-20 15:35] sasavranic commented on #2186
Exactly what I'm looking for! Same situation.
I have Item which can be various kind and each of Item kind is represented differently.
Now, I need /items/all route to fetch all Items with each_serializer: MixedSerializer.
In MixedSerializer I need to chose what to show based on Item.item_type...

[2017-09-20 17:18] bf4 commented on #2168
@codeblooded Try this:

Define in the problem controller and step through some of these breakpoints.

[code]

[2017-09-20 17:20] bf4 commented on #2186
AMS is designed to have a one model to many serializers relationship. And authorization scope is one of the original concepts for why to use it over just passing options to 'as_json'.  Unless I'm misreading this, it seems you're trying to avoid polymorphism.

[2017-09-20 18:15] NullVoxPopuli commented on #2187
There are a couple ways:
https://github.com/NullVoxPopuli/rails-NPlusOneTests/blob/master/deserialization_benchmark.rb#L98-L109

:-)

[2017-09-20 18:15] #2187 closed

[2017-09-21 08:21] robbie-mcfarlane commented on #2154
You should use 'serializer' instead of 'each_serializer' as you're already using the ActiveModel::Serializer::CollectionSerializer:

`ActiveModel::Serializer::CollectionSerializer.new(options, serializer: OptionSelectedSerializer)`

[2017-09-22 18:50] grimmwerks opened #2201 "Crash upon start with ASM"
#### Expected behavior vs actual behavior
App has been running perfectly for some time on rails 5.0.1 with active_model_serializers (1.0.0.pre.dev)

Recently just updated to rails 5.0.6, updated all gems and now getting this crash upon start.

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:
active_model_serializers (1.0.0.pre.dev)

Output of `ruby -e "puts RUBY_DESCR

[2017-09-22 19:23] maxKimoby commented on #1724
@mitjok Yeah please explain the solution please.

[2017-09-24 09:20] onomated commented on #2178
Also seeing in 0.10.5

[2017-09-24 10:46] forestwater commented on #2201
I got the same issue.

[2017-09-24 16:06] sintro opened #2202 "ID attribute is always shown for JsonApi adapter"
The problem is when you use  JsonApi adapter and do not want id attribute to be hidden in serialized json output, you just can not achieve this.
If you try to remove :id from attributes method, it is still appears in output. If you try to override id method to nil or empty string, all the object will be empty.

[2017-09-24 16:28] beauby commented on #2202
Per the [JSON:API spec](http://jsonapi.org/format/#document-resource-objects):

[2017-09-24 16:28] #2202 closed

[2017-09-25 03:37] bf4 commented on #2201
[There's no such release as `1.0.0.pre.dev`](https://rubygems.org/gems/active_model_serializers/versions).  Seems like you're both installing from source and you recently updated AMS?

I'm guessing you mean to be using the 0-10-stable branch (instead of relying on releases)?

[2017-09-25 03:37] #2201 closed

[2017-09-25 10:38] onomated commented on #2178
@dasnixon Haven't tried this on 0.10.6, but found a bug in my serializer where I was specifying `id` as an attribute.  I removed the id attribute definition and only keep the id method and it works fine for me in 0.10.5

[2017-09-25 16:43] dasnixon commented on #2178
Oh interesting, I'll try that and get back to you @onomated. Thanks.

[2017-09-28 08:43] forestwater commented on #2201
@bf4
In my Gemfile, I bundle the AMS using:
gem "active_model_serializers", github: "rails-api/active_model_serializers"

Anyway, if I use _gem 'active_model_serializers', '0.10.5'_, the issue gone.

[2017-09-28 20:53] bf4 commented on #2201
@forestwater perfect.  I suggest you avoid installing directly from github, unless you have a really good reason. And in that case, that reason should, IMHO, be in the Gemfile right above the gem line.

[2017-10-04 19:37] turlockmike commented on #2160
I downgraded and the issue was resolved. Is there not a workaround without a patch?

[2017-10-04 19:41] andyhite commented on #2160
I get the feeling the maintainers of active_model_serializers don't care that it's broken. It's been busted for at least 5 months, and no activity on the repo since. Seriously – no activity in this project at all since like May according to GitHub.

[2017-10-04 20:10] NullVoxPopuli commented on #2160
I highly recommend using http://jsonapi-rb.org/

[2017-10-04 20:21] bf4 commented on #2160
@andyhite

More of just that maintainers tend to scratch their own itch, and I've been busy doing other things and no one has fixed it yet.  Maybe part of the problem is ego because I worked really hard on the code in between 0.10.5 and 0.10.6 and don't really want to yank it. I'd rather fix it. But I need help.

[2017-10-04 20:36] andyhite commented on #2160
@bf4 sorry, I didn't mean to come across as rude as I did. It's just a pretty big issue and makes 0.10.6 unusable for a lot of people. I understand you worked hard on the code between 0.10.5 and 0.10.6, which should be good reason to fix it so we can all reap the benefits of 0.10.6, haha.

I spent about a day trying to figure it out, and came up with the band-aid I mentioned in a comment back in J

[2017-10-04 20:42] andyhite commented on #2160
If I have time to circle back to this, I'll see if I can come up with a complete solution...but I was hoping that someone with more knowledge of the AMS code would be able to take the cause of the problem (that I pointed out a few months ago), and my partial solution, to fill in the gaps because I took it about as far as I could given the time I could budget for it.

[2017-10-04 20:59] bf4 commented on #2160
@andyhite

I think between https://github.com/rails-api/active_model_serializers/pull/1857/files#r124965507 and writing a failing test, we could do it together.

[2017-10-04 21:13] bf4 commented on #2160
I think what it needs in the context of this problem is a `polymorphic: true` flag to tell AMS that we can only know the object type from an instance of it, and can't get it from the name of the association.

as @Rio517 wrote above:

`assocation.reflection.type` for `association.polymorphic?` belongs to should be something like  `type = association.lazy_association.serializer.json_key`

[2017-10-04 21:47] dkniffin opened #2203 "Two-level nested objects don't get serialized"
#### Expected behavior vs actual behavior

I'd like to be able to nest objects as deep as I'd like using `has_many` or `belongs_to`, and have them all serialize correctly. Currently, it looks like it only serializes correctly for one level.

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

Here's the example code I've come up with, using POROs

[code]

[2017-10-04 21:49] bf4 commented on #2203
ref https://github.com/rails-api/active_model_serializers/pull/1958 should resolve your issue?

[2017-10-04 21:51] dkniffin commented on #2203
Yes, that would have helped :) Would you mind explaining why `**` isn't recommended?

[2017-10-04 22:13] dkniffin commented on #2203
I just left a comment that the PR you linked to might need to be closed. The documentation is already available, I just missed it.

[2017-10-04 22:14] #2203 closed

[2017-10-06 16:56] rafaelcgo opened #2204 "Self-reference relationship without association naming on include"
#### Expected behavior vs actual behavior
Shouldn't  `included` section include `friends` array with all `users` inside them?

If I have more than one association that refers to users (ex: invited_users), will all associations be written on the included section mixed up, as `type: 'users'`? How will I be able to differentiate the collections of the same type?

#### Steps to reproduce
[code]

[code

[2017-10-07 10:39] yosiat commented on #2067
Closing since pr is submitted and merged.

[2017-10-07 10:39] #2067 closed

[2017-10-07 20:53] AldrichMascarenhas opened #2205 "undefined method current_page for #<>"
#### Expected behavior vs actual behavior

Gem version
`gem 'active_model_serializers', '~> 0.10.6'
`
Using the json adapter
`ActiveModelSerializers.config.adapter = :json`

Application Controller
[code]

Post controller

[code]

I folled the "JSON adapter" section here https://github.com/rails-api/active_model_serializers/blob/v0.10.6/docs/howto/add_pagination_links.md

Error
undefined method cur

[2017-10-07 21:53] bf4 commented on #2205
@AldrichMascarenhas Thanks for your report.

Based on your code, the problem is unrelated to ActiveModelSerializers.  You're basically reporting that `Post.all.current_page` raises an exception.

Also, `devise_token_auth` is a buggy lib that seems to be associated with a lot of problems.

[2017-10-07 21:54] #2205 closed

[2017-10-07 22:00] bf4 commented on #2204
@rafaelcgo I think perhaps that's a question for the json:api spec.  I'm surprised the relationships are missing.   What's I'd expect would be something like:

[code]

[2017-10-09 16:32] icem commented on #181
I have found an easy way to make serializer for hash:
[code]
My hash example `{'lat' => 53.3, 'lon' => 0.19, 'city' => 'London', ...}`
I can even use my LocationSerializer through `has_one` on regular serializer, works good.
[for v10.6]

[2017-10-11 13:47] nguyenj commented on #2138
@jeffrey008 @beauby @bf4 Any updates on how to properly serialize a collection of different class models identified by `type`?

[2017-10-11 15:20] bf4 commented on #2138
@nguyenj It's unclear what version of AMS you're on or what you mean by 'properly' in the context of this issue.  There haven't been any feature changes to 0.9.  Please open a new issue if the discussion here is not sufficient.

[2017-10-11 16:00] nguyenj commented on #2138
Hi @bf4 I'm using version AMS 0.9 since this issue is regarding AMS v0.9.

As for the help and clarification that I am asking for is how can I use a different serializer for each item in a collection depending on the `.type` attribute of the item. I can't seem to find any documentation or examples to illustrate this scenario.

Thanks!

[2017-10-11 16:05] nguyenj commented on #2138
Ah nvm, I see that in 0.10, there's `ActiveModel::Serializer::CollectionSerializer` that I can use.

[2017-10-11 16:06] bf4 commented on #2138
@nguyenj Based on discussion above, would be something like (not tested code):

[code]

[2017-10-11 16:16] nguyenj commented on #2138
@bf4 I think that might work, I’ll give it a whirl. Thanks for being super responsive.

[2017-10-11 17:14] rafaelcgo commented on #2204
I think I got it. I will investigate further.

The way you expected, in order to a client identify which `users` are `friends` or `invited_users` it would need to filter the `included: users` by `friend_ids` or `invited_user_ids`. Is it right?

[2017-10-11 20:48] rafaelcgo commented on #2204
@bf4
I think when I specify `fields`, according to https://github.com/rails-api/active_model_serializers/blob/v0.10.6/docs/general/fields.md the serializer suppresses the `relationships`.

How can I turn them on when filtering the `fields` rendered?

[2017-10-12 13:53] nguyenj commented on #2138
@bf4 Thanks! This works; however, the `index` is messy–is there a way for this logic to be housed in a base serializer?

[2017-10-12 13:58] nguyenj commented on #2138
Ideally, it was be nice to be housed in an `EventSerializer` so that in the controller you'll just need to define `render json: @event(s), each_serializer: EventSerializer`. `EventSerializer` would determine which serializer to use depending on the `type` attribute of the object.

[2017-10-12 18:47] bf4 commented on #2138
Sure. How about

EventsSerializer = Struct.new(:events) do
  def as_json
     #logic from controller
   end
   def to_json; JSON.dump(as_json); end
end

And

render json: EventsSerializer.new(events)

B mobile phone

[2017-10-13 19:37] bf4 commented on #2204
@rafaelcgo I'm not sure what you mean by filter. relationships and included a way to flatten the response, and avoid nesting duplicate objects

[code]

so the client can build the graph of `[1 -> [2,3], 4 -> [3] ]` and use the included records to populate details for 2 and 3.  that's called sideloading

alternatively, instead of including 2 and 3, you could have each user's friends relationship ha

[2017-10-13 19:44] bf4 commented on #2204
I think that's what the purpose of the `type: users` attribute is in json:api.

You have a record/entity you call `users` that can have different meanings.

For example, if you had a resource `/users/1/friends` you'd expect it to return a collection of resource objects of `type: users` even though the HTTP resource is 'friends'

Similarly, when a user's relationships are `{ friends: {...}, partner

[2017-10-14 09:08] TONYHOKAN commented on #1804
@onomated
I am using `0.10.5` and facing the same problem that excluded fields in cache https://github.com/rails-api/active_model_serializers/issues/1804#issuecomment-230797892.
In my case `except:` and `only:` option both are not working.
May i know do you solve the problem?

[2017-10-14 09:40] TONYHOKAN commented on #1905
@jamesbrooks i encountered  the same problem like you that using JSON API adapter. May i know do you solve the problem?

[2017-10-15 02:30] jamesbrooks commented on #1905
I did not ever solve that issue. I opted to not use the fragment caching because of that issue unfortunately.

[2017-10-15 14:13] onomated commented on #1804
@TONYHOKAN  I have since disabled Fragment caching.  In my case it actually was less performant than without caching, as noted [here](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/caching.md).  For some of my endpoints, I cache the full response (including headers to retain pagination info), for data that doesn't change frequently.

[2017-10-16 02:31] TONYHOKAN commented on #1905
@jamesbrooks thanks for your reply. It seems that i can only disable fragment caching now and keep track of this problem.

[2017-10-16 02:32] TONYHOKAN commented on #1804
@onomated Thanks for your reply. It seems that i can only disable fragment caching now and keep track of this problem.

[2017-10-16 03:32] polarlights commented on #2053
@GuskiS U can set the AMS adapter to be `attributes`. If U want to render some objects to be jsonapi style, just do it like this: `render json: objects, adapter: :jsonapi`.

[2017-10-16 05:18] bf4 commented on #2053
There's no magic... but in any case, it will always ignore a string.  So, just dump your object to JSON (often by calling to_json)

[2017-10-17 18:20] rafaelcgo commented on #2204
@bf4 got it, sorry for taking your time on my json:api misunderstanding.

When I try to set sparse fields for the 'main' resource, `relationships` **is not** rendered.
[code]

[code]

When I try to set sparse fields for the associated resource (or when I don't set sparse fields), `relationships` **is** rendered.
[code]

[code]

I've tried to do add 'relationships' to the fields, but it doesn't wor

[2017-10-17 19:19] bf4 commented on #2204
@rafaelcgo On first glance, it appears to be a misunderstanding of the JSON:API spec.  Fields include attributes and relationships. So, `email` and `profile` are both fields.  And since fields is a whitelist, it would make sense that `fields: { user: ['email'] }` would not include the `profile` relationship. However, since you are `include: ['profile']`, and it ,may be a bug for the profile relati

[2017-10-17 20:11] rafaelcgo commented on #2204
From http://jsonapi.org/examples/:

**Request with fields parameter:**
`GET /articles?include=author&fields[articles]=title,body,author&fields[people]=name HTTP/1.1`

One should be able to specify sparse fields for the 'main' resource and 'relationships' should be rendered as well.

[2017-10-19 03:42] bf4 commented on #2204
@rafaelcgo I don't follow that example includes `author` and specifies the field `articles[author]`

[2017-10-19 03:47] bf4 commented on #2204
At this point it looks like this issue is invalid, as the compound document with spare fields behaves according to the spec.

I'm going to close this issue, but please follow up with your thoughts.

[2017-10-19 03:47] #2204 closed

[2017-10-19 13:16] rafaelcgo commented on #2204
@bf4 Thank you, I was missing the part that I needed to include the relationship name inside the `fields` as well. You were right from the beginning.

I see that `http://jsonapi-rb.org/` is now referenced in the README and the owner of the project used to be a core contributor of AMS.

Do you guys recommend migrating to jsonapi-rb for those who are using AMS with jsonapi adapter?

[2017-10-19 14:57] bf4 commented on #2204
Really up to you. If you're doing JSON:API, it's a better implementation, I think.

[2017-10-19 15:07] beauby commented on #2204
@rafaelcgo I'm obviously partial, but I believe that at the moment jsonapi-rb is faster, more customizable, and has less bugs. This is due to the facts that 1. it supports JSON API only, so it is not burdened with unrelated constraints, and 2. it was started from scratch using the insights gathered working on AMS, so it is less code and no legacy burden.

[2017-10-19 15:38] rafaelcgo commented on #2204
@beauby Thanks for your comment. Is it production ready already?

[2017-10-19 15:49] bf4 commented on #2204
@rafaelcgo believe me, we wouldn't recommend it if it weren't.

[2017-10-19 15:53] rafaelcgo commented on #2204
Gonna give it a try! Thanks guys.

[2017-10-22 13:54] arefaslani commented on #2051
@beauby I'm using JSONAPI-RB has for a few weeks. It's awesome, but unfortunately it has a week documentation and a small community around it...

[2017-10-22 15:35] beauby commented on #2051
@arefaslani Thanks for the feedback. It would help a lot if you could spare a few minutes opening an issue on jsonapi-rb listing the questions that you struggled with so that I could improve the docs.

[2017-10-22 15:38] arefaslani commented on #2051
@beauby Sure I will do this. Please continue the great job!

[2017-10-24 11:28] kingstonAccionsLabs opened #2208 "dynamic root Key in ActiveModel Serializers"
I am using `Rails 5` and `Acive Model Serializer (0.10.6)` in my project. I need below format of JSON

    {
       "account_lists": {
        "0": {
                "id": 1,
                "description": "test tets test tets"
              },
         "1": {
                "id": 2,
                "description": "test tets test tets"
              }
          }
    }

`0`,`1` keys would be the

[2017-10-24 14:37] bf4 commented on #2208
How about:

[code]

Then you'll get

[code]

which you can iterate in javascript to get the format you want

[2017-10-24 14:37] #2208 closed

[2017-10-25 12:08] kingstonAccionsLabs commented on #2208
@bf4 Thanks for you comment. I can do it, But I have a production runing application in that am following the same JSON structure, If I change the structure more changes will come in front end, So only I asked for this exact format.

Thanks.

[2017-10-25 14:05] bf4 commented on #2208
You can do the same thing in Ruby.  Nothing's stopping you from :) `¯\_(ツ)_/¯`

[2017-10-25 14:24] beauby commented on #2208
@kingstonAccionsLabs You could do it in many ways (overriding the renderer, or writing your own adapter). Basically, what you want to do in every case is:
[code]

Example input:
[code]

Example output:
[code]

[2017-10-25 18:14] stratigos commented on #2144
On _0.10.5_, I have the same issue as the OP, except unlike @kurko, my scope us always nil, regardless of where it is inspected (in the Serializer).

[2017-10-25 18:32] bf4 commented on #2144
@crustyratfink @stantona To what extent does the documentation at https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/serializers.md#controller-authorization-context help?

[2017-10-25 19:18] stratigos commented on #2144
@bf4 I have emulated that example you posted exactly, and `view_context` is always `nil` for me in _0.10.5_.

However, if I set no `serialized_scope`, then `current_user` is always present, and is the current authenticated User.

What I was trying to accomplish, was to use view helpers (specifically `number_with_precision`) without having to directly include the module in my Serializer or anything

[2017-10-25 20:39] stratigos commented on #2144
I deleted my comments - previously I thought I was having the same issue. Ill leave this note here in case anyone else runs into this:

There is no `view_context` for `ActionController::API`. Its supposed to be `nil`. The examples in the documentation use `ActionController::Base`.

[2017-10-26 15:51] laclance opened #2209 "Association variables not changing"
An Activity has one Term. A Term has many Translations.
A Translation has one TranslationImage.
A TranslationImage has one attachable, Image (which uses paperclip)

Here are my serializers:

[code]

[code]

[code]

Previously image_name was image_url, like so:

[code]

But when requesting an activity I still get image_url, example below:

`render json: Activity.find_by_id(params[:id])`

[code]

##

[2017-10-26 20:10] jmeredith16 opened #2210 "Rendering an empty array with JSON Adapter"
Hello all,
#### Explanation and Expected behavior vs actual behavior
I have an Array of objects called `clusters`.  A Cluster does not have a serializer, as I am using only AMS to serialize objects in my API, not this part of my codebase.

I expect that when I render my empty clusters array, I get back an empty array `[]`, but I am actually getting back `{"":[]}`.  This is causing some frontend is

[2017-10-26 20:34] bf4 commented on #2210
@jmeredith16  Sorry for the bug.

One thing that's kind of interesting about this is that if your `@clusters` object were an active model object,  it would be serialized as `clusters: []`. That's what AMS is wanting to do, I believe that if you passed in an `each_serializer: ClusterSerializer` option, you'd get that.  The problem is that AMS has no way to know what the `root` element is for an emp

[2017-10-27 09:17] beauby commented on #2209
This is a usage issue. Make sure you modified the right files and restart your server.

[2017-10-27 09:17] #2209 closed

[2017-10-27 09:41] laclance commented on #2209
sorry so you saying everything looks right? i have restarted my server locally and on heroku, and checked the files many times, also can't find any trace of image_url.

[2017-10-27 12:06] beauby commented on #2209
I'm saying that if there's no trace of `image_url` in your code, but you see an `image_url` attribute in your server responses, then the code running on your server is not the code you audited.

[2017-10-27 18:22] jmeredith16 commented on #2210
@bf4 Thanks for the reply.  That all makes a lot more sense.

Are there instances where returning a `nil` key from `json_key` is desired?  Or would throwing an UndeterminableJsonRootError be preferable?  Specifically, I'm referring to the tests located at https://github.com/rails-api/active_model_serializers/blob/v0.10.6/test/collection_serializer_test.rb#L92-L102, and whether or not they should b

[2017-10-28 02:03] bf4 commented on #2210
Sounds good .  Probably argument error, cannot infer root key from collection type. Please specify the root or serializer or give the collection the .... property

B mobile phone

[2017-10-28 17:04] ZempTime commented on #2186
Yes, that's it exactly. But it seems this is actually against the grain of the design of the gem, and a lot of attention is moving over to json-api-rb. So unless you have any compelling interest in this, I think I'll just use it my way privately and you can close the issue if you feel discussion is completed!

[2017-10-29 21:25] bf4 commented on #2210
related: https://github.com/rails-api/active_model_serializers/issues/1745

[2017-10-30 03:22] #2174 closed

[2017-10-30 03:30] bf4 commented on #2173
Fixed by https://github.com/rails-api/active_model_serializers/pull/2179

[2017-10-30 03:30] #2173 closed

[2017-10-30 03:30] bf4 commented on #2144
@stratigos that seems like a good thing to add. Want to make a PR?

[2017-10-30 03:34] bf4 commented on #2142
I think this issue has attracted various different problems that cause the root to be different from expected.

[2017-10-30 03:37] bf4 commented on #2131
@InteNs the collection serializer is meant to facilitate serialization items in a collection. It doesn't itself have a type. The type comes from the items being serialized.

I'd advise not trying to use the collection serializer directly (unless maybe if you're following how it works in the source code)

[2017-10-30 05:40] laclance commented on #2209
No its not the server, i get the same issue locally.

On Fri, Oct 27, 2017 at 2:06 PM, Lucas Hosseini <notifications@github.com>
wrote:

[2017-10-30 14:14] bf4 commented on #2186
This issue?

And elsewhere :)

I'm a big fan of programmers solving their problems by programming! :)

[2017-10-30 14:14] #2186 closed

[2017-10-31 14:16] #2210 closed

[2017-11-02 05:41] krtschmr commented on #2113
@beauby

the following code was working fine. simply remove the attributes if they been false.

in my serializer i added
[code]

then in my fork i went to the caching method and simply deleted the attributes that are flagged and false.

[code]

somehow, i reforked to get current development status and things changed a lot in serializer. i can't find the new place where to put similar code. can you

[2017-11-02 13:43] bf4 commented on #2180
Fixed by #2216

[2017-11-02 13:43] #2180 closed

[2017-11-02 13:43] bf4 commented on #2160
Fixed by #2211

[2017-11-02 13:43] #2160 closed

[2017-11-02 13:43] bf4 commented on #2132
Fixed by #2216

[2017-11-02 13:43] #2132 closed

[2017-11-02 13:47] bf4 commented on #1961
Also see https://github.com/rails-api/active_model_serializers/blob/3c5e11bb0f8d09562af9ee87474922ca4d50ea05/test/fixtures/poro.rb#L6-L26

[2017-11-02 13:47] #1961 closed

[2017-11-02 14:31] bf4 commented on #2178
this is because belongs_to default changed to read the id on self, which means it's not instantiating the association and, with it, the association serializer....

related:
- https://github.com/rails-api/active_model_serializers/pull/2211
- https://github.com/rails-api/active_model_serializers/pull/2151
- https://github.com/rails-api/active_model_serializers/pull/2140

[2017-11-05 22:12] krzysiek77 opened #2217 "data"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*:

#### Backtrace
*(e.g., provide any applicable backtr

[2017-11-09 20:24] coreypmurphy opened #2219 "Deserialization excludes hash attribute contents"
#### Expected behavior vs actual behavior
Given a model with an attribute that is treated as a hash of options, I'm expecting AMS to deserialize the JSON payload so I can persist the "some-options" attribute (re-serialized as YAML by the ActiveRecord::Base "serialize" method) to the db as it did in AMS@0.9.3.

But ```ActiveModelSerializers::Deserialization.jsonapi_parse()``` is excluding the conte

[2017-11-09 20:50] bf4 commented on #2219
related https://github.com/rails-api/active_model_serializers/pull/1928 https://github.com/rails-api/active_model_serializers/pull/1927

[2017-11-09 21:18] coreypmurphy commented on #2219
@bf4 , thanks. I had read those earlier but seeing as how long those have been open I was hoping I had just missed something.  Between that and the disclaimer about "Deserialization" being an experimental feature I guess I should have known better.  Real bummer since we're trying to move our project to JSON API.  Any thoughts on how soon we'll see that branch hit master?

[2017-11-10 05:16] bf4 commented on #2219
I was hoping you could help

B mobile phone

[2017-11-10 15:22] coreypmurphy commented on #2219
I appreciate the offer but I'm not completely confident I could pick up where you guys have left off.

[2017-11-12 07:23] ClayShentrup commented on #1978
`/register_jsonapi_renderer`

OMG this saved me! After HOURS of searching. Thank you.

[2017-11-12 22:48] greggawatt opened #2221 "serializer: nil doesn't exclude object from serializer"
I expect the line
`render json: @breeds, serializer: nil`
to allow me to skip the active model serializer, but it doesn't

What is the proper syntax?

[2017-11-12 22:52] greggawatt commented on #2221
Nevermind found that
`adapter: nil`
works

[2017-11-12 22:52] #2221 closed

[2017-11-20 22:59] dan-corneanu commented on #835
Does this actually work with the JSON API adapter ?

[2017-11-21 01:03] bf4 commented on #835
@dan-corneanu Please open a new issue.  (And clarify what 'this' is)

[2017-11-21 02:10] nekogami commented on #1971
I somehow had the same problem and could fix it by doing as follow

[code]

I am not a huge fan of including url_helpers since we already have access to the view_context / controller.

In my case I didn't use view_context, because for some reasons, it doesn't exist when rendering is generating so I had to pass through scope.

[2017-11-22 16:55] beauby commented on #2153
This is expected behavior, there is no nesting of resources with the jsonapi dapter as per the jsonapi spec.

[2017-11-22 16:55] #2153 closed

[2017-12-04 09:27] #1988 closed

[2017-12-04 16:33] rc-eddy opened #2225 "Failed to migrate from 0.8 to 0.10"
Hi,

I've tried to follow [this guide](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/howto/upgrade_from_0_8_to_0_10.md) to migrate from 0.8 to 0.10, but when I test my Rails 4 app I get `NameError: uninitialized constant ActiveModel::V08`.

Can you clarify the

part? I've tried adding the classes as separate files under `/lib` and `/app/serializers` but it didn't seem

[2017-12-04 20:04] bf4 commented on #2225
Hi @rc-eddy That's really a Rails question, if I understand you.  Rails adds `app/**/*` to the autoload path, which it relies on for automatic constant loading.  Rails would expect `ActiveModel::V08` to be in `app/serializer/active_model/v08`, or, if you add `lib` to your autoload paths, `lib/active_model/v08`.  For more details, see rails docs on constant lookup, and me know if this helps!  Good

[2017-12-04 20:04] #2225 closed

[2017-12-06 17:47] adaam2 commented on #1691
@bf4 If you're delegating to `object` then it passes through to the cache key method as defined by AR:

[code]

[2017-12-07 03:39] bf4 commented on #1691
@adaam2 Please open a new issue. I'm not sure why you're defining ` delegate :cache_key, to: :object`, but that's not expected

[2017-12-10 15:58] mhluska commented on #1853
The `as_json` hack above doesn't seem to work in the latest version (0.10.7). How can I enforce specifying a serializer for a model today?

[2017-12-10 23:36] bf4 commented on #1853
@mhluska

That's actually a different feature from OP's "AMS should error when no serializer can be found"

I don't remember when    `self.get_serializer_for(klass)` is called, but you could play with prepending it with a module

[code]

feel free to open a new issue for that.

[2017-12-12 06:01] dbzamt opened #2226 "what is array serializer in rails?"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*:

#### Backtrace
*(e.g., provide any applicable backtr

[2017-12-12 06:02] dbzamt opened #2227 "arrayserializer vs each_serializer rails?"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*:

#### Backtrace
*(e.g., provide any applicable backtr

[2017-12-12 13:06] silentlight commented on #1834
Hi,

I am using Rails 5 and AMS 0.10.5 and a have the same problem with JSON attributes being mutated after serialization. Has this problem been fixed?

[2017-12-12 15:40] bf4 commented on #1834
@silentlight PRs welcome

[2017-12-12 15:41] bf4 commented on #2227
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this issue.

[2017-12-12 15:41] #2227 closed

[2017-12-12 15:42] bf4 commented on #2226
I don't understand the question. This gem isn't part of Rails.

Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks

[2017-12-12 15:42] #2226 closed

[2017-12-12 15:42] #2178 closed

[2017-12-12 15:43] #2157 closed

[2017-12-12 15:44] #2142 closed

[2017-12-12 23:41] EduardoBautista opened #2228 "Relationships of relationships are being included in payload"
Version 0.10.7

Say you have:

[code]

If your controller is:

[code]

The request will also include all of the paragraphs.  For that behavior, shouldn't you need to do:

```render json: books, include: [chapters: :paragraphs]```

[2017-12-13 08:34] cocoakekeyu commented on #2043
I has a similar problem: serializer a `object` attribute.

If use:
[code]
then the `object` attribute of generated json will contain all attribute of instance be serializered.

So has to define like this :
[code]

[2017-12-14 02:34] silentlight opened #2229 "include not working"
Does anyone know if `include` option in controllers still work with `0.10.7` version of AMS? I am using :json adapter with `ActiveModelSerializers.config.default_includes = ''`.

Thanks

[2017-12-14 15:23] bf4 commented on #2229
@silentlight There's a lot of info missing from your question.  Are you asking about deep nesting of relationships? And are you trying to prevent it? i.e. what are you trying to do?

Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and

[2017-12-14 15:23] #2229 closed

[2017-12-14 15:24] bf4 commented on #2228
I assume you're using the JSON adapter? Have you see default_includes somewhere?

[2017-12-14 16:48] EduardoBautista commented on #2228
@bf4 I don't even know `default_includes` existed.  I haven't used it.

[2017-12-14 21:09] bf4 commented on #2228
You're right that it shouldn't be including paragraphs. I was asking if you might have a config /initializer setting somewhere, but that's a default, so should still shouldn't see paragraphs when passing an option.  Could you help make a failing test?

does this do anything?
[code]

[2017-12-15 19:58] #1946 closed

[2017-12-19 05:25] EduardoBautista commented on #2228
Including the fields option resolves the issue!  Thanks for the help!

[2017-12-20 03:53] bf4 commented on #2228
So, @EduardoBautista would you like to close this?

[2017-12-21 19:04] EduardoBautista commented on #2228
Will do.

[2017-12-21 19:04] #2228 closed

[2018-01-02 18:22] erluti opened #2231 "hash keys become lower case"
I have a jsonb column that contains a hash.  When I access the record and the column directly, the expected hash is available.  When I .to_json the keys all become lowercase.

#### Steps to reproduce
Below is my rails console.  Notice that the resource has the correct environment_data with the key being 'NYSWV3'.  But then when it serializes it has the key 'nyswv3'.  Then in line 3 I output the se

[2018-01-08 06:53] daydream05 opened #2232 "How do I go about changing the id for the jsonapi response?"
I'm using hashid to hash my database ids but when I return jsonapi response, the id is not hashed.

[2018-01-08 06:56] daydream05 commented on #2232
I figured it out! found the customizations here:

https://github.com/fotinakis/jsonapi-serializers#define-a-serializer

[2018-01-08 06:56] #2232 closed

[2018-01-11 14:55] asampatoor commented on #1250
I am getting the same issue. Can anyone help me with this?

[2018-01-11 19:50] marucjmar commented on #1250
@strivemag, @asampatoor  Too old topic, I do not remember

[2018-01-13 23:29] ulugbekov opened #2233 "Override serializable_hash"
Hi,

I am trying to include relationships dynamically based on role. When rendering single record, it is working as expected. Collection rendering is not including relationships. I see, there is a active model collection serializer. What overrides, I have to make in order to get include relationships to be included dynamically.

Thanks

  def serializable_hash(adapter_options = nil, options = {},

[2018-01-17 15:19] bf4 commented on #2233
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this issue.

[2018-01-17 15:19] #2233 closed

[2018-01-18 17:11] johntrandall opened #2234 "Changelog entry missing for for v0.10.7"
Changelog seems to stop at 0.10.6. Current release is 0.10.7.

[2018-01-24 13:13] brentgreeff commented on #315
Sorry if off topic, but I just added a current_user method to application_controller, and it seems, its getting called from:

I dont have any code like : serialization_scope :current_user

is this default now?

I am actually raising an exception when the correct authentication header is not sent, so I dont really want current_user to always be called.

I might have time to investigate the gem code

[2018-01-24 15:49] bf4 commented on #315
This is described in the docs.  Set `serialization_scope nil` or IIRC

On Wed, Jan 24, 2018 at 7:13 AM, Brent Greeff <notifications@github.com>
wrote:

[2018-01-24 16:04] f1sherman opened #2235 "Invalid resource identifiers are generated for null resources (with type and not id)"
#### Expected behavior vs actual behavior

Expected behavior:
Serializing a null resource returns `{ data: null }`

Actual behavior:
Serializing a null resource returns `{ data: { type: '(something)' } }`

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

Pass a blank `id` (representing a null or unpersisted record) to `ResourceIdentifier.for_type_with_i

[2018-02-01 12:06] array42 commented on #2154
Now it serializes the object, but does not insert the correct node name.
'''        <activeRecordRelations>
            <activeRecordRelation>
                <activeRecordRelation>'''

[2018-02-01 12:17] array42 commented on #1975
What about each_serializer? Some claim that is wrong.

[2018-02-01 17:22] bf4 commented on #2154
@array42 Please open a new issue and/or see my original comment

[2018-02-06 06:19] bf4 commented on #1975
@array42 dunno what they're talking about

[2018-02-07 03:32] Uysim opened #2241 "JSON not give correct format"
I can see that my json return like this
{"data":[{"id":"5","type":"chat-messages","attributes":{"chat-type":"image","text":null,"sticker":null,"image":{"url":"http://192.168.1.97:3000/uploads/chat_message/image/5/abc.jpg"},"audio":{"url":null},"video":{"url":null},"contact":{},"location":{},"trans":{},"file-size":null,"duration":null,"image-width":828,"image-height":null,"sent-time":"2018-02-05T06

[2018-02-07 13:57] mvz commented on #2234
@johntrandall it can be found on the 0-10-stable branch: https://github.com/rails-api/active_model_serializers/blob/0-10-stable/CHANGELOG.md

[2018-02-07 21:30] bf4 commented on #2234
@johntrandall Thanks for helping out @mvz

Since putting it like that on master, I've thought maybe we should link from master to each branch and let each branch handle itself, since they all have their own git root ;)

[2018-02-07 21:31] bf4 commented on #2241
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this issue.

[2018-02-07 21:31] #2241 closed

[2018-02-07 21:36] bf4 commented on #2235
@f1sherman yeah, we need to make this configurable.

Problem is, that `id` is optional is in CREATE requests, so it's reasonable to assume that serializing a record with no id (not persisted) should just not include the id.

In general we've tried to avoid allowing passing `nil` to a serializer.  But perhaps it makes sense for an adapter to intercept that nil object and interpret as a null resourc

[2018-02-08 07:11] mvz commented on #2234
Having the actual changelog on-disk after installing is kind of nice, so I wouldn't use pointers across git branches.

[2018-02-08 15:18] bf4 commented on #2234
@mvz Any thoughts on how to keep them in sync? like if we add something to 0-10-stable we then update master? It's a process thing? (maintenance problems)

[2018-02-08 16:18] mvz commented on #2234
@bf4 I would develop the next 0.10.x on master until there are breaking changes and only then create a 0-10-stable branch just for bugfixes. This gem is in a pre-1.x phase after all...

[2018-02-09 08:40] mvz commented on #2234
@bf4 alternatively, merge 0-10-stable into master periodically.

[2018-02-09 09:17] mvz commented on #2234
@bf4 I see now that master is basically empty. Since that is the case, I would clear out the changelog as well, and just point to 0-10-stable.

[2018-02-14 13:04] sree300994 commented on #2024
Actually to_json worked for me while sending hash in render `render json: @status.to_json`

[2018-02-14 18:29] bf4 commented on #2024
@sree300994

Strongly disagree. AMS by design ignores any string, such as the result of `to_json`.  So, this is a natural way to skip AMS.  AMS doesn't serialize a Hash because it's a primitive, not a model. Discussed in readme.

[2018-02-15 04:47] sree300994 commented on #2024
yaa its correct maybe their might be change in naming convention of serializer. what i mean is if the controller in normal controllers folder and the serializer might be created in versioning means it will through this error. The example is `class UsersController < ApplicationController` this is how i created controller but the serializer i created is like `class Api::V1::UserSerializer < ActiveMo

[2018-02-21 15:24] kriskhaira opened #2243 "How to combine sideloaded records into single array?"
Hi. I'm trying to combine the arrays of sideloaded records in the following setup with AMS 0.8.x.

Serializer:

[code]

Controller:

[code]

JSON response:

[code]

As you can see, `offers` and `nearby_offers` are sideloaded under two separate arrays with different root names. I still want `offer_ids` and `nearby_offer_ids` to appear separately in the video objects, but how do I combine the sidelo

[2018-02-23 05:55] TikiTDO opened #2244 "Runing import without passing it through ID fetcher"
#### Expected behavior vs actual behavior

Given code like this:

[code]

The import will end performing one extra query to load `some_association` per instance of `MyModel `in the scope, instead of using the included data.

[code]

This happens because both `import_scope` [here](https://github.com/toptal/chewy/blob/7c18afe02d28f5d635093582e529f32596965857/lib/chewy/type/adapter/active_record.rb#L

[2018-02-23 05:55] #2244 closed

[2018-02-23 05:58] TikiTDO commented on #2244
Wrong repo open

[2018-02-23 22:38] bf4 commented on #2243
It sounds like you have two concepts in the model which you'd like to treat as one in the api. That's what AMS is for :) Just make on `offers` relation and define an offers collection that combines the object.offers and object.nearby_offers.

What have you tried?

[2018-02-23 22:38] #2243 closed

[2018-02-28 14:09] ysyyork commented on #2095
Jesus, this saved me a day lol. Thanks @fazelmk

[2018-03-04 07:11] victorhazbun commented on #2231
@erluti please format the issue with some Markdown. Thanks.

[2018-03-05 14:13] LeonidFilbert commented on #1250
@strivemag, @asampatoor  add this to your config.ru: require 'grape-active_model_serializers'

[2018-03-05 14:26] asampatoor commented on #1250
@LeonidFilbert Thank you for the response. But that didn't fix the issue.

[2018-03-06 13:37] jeppester commented on #1554
@willcosgrove
Here's what I did to solve a similar problem (adapted to your models):
[code]

It would be usable addition though if instance options could be set for only the nested serializers.

[2018-03-07 16:11] bf4 commented on #2231
@erluti Have you tried setting the key transform to unaltered?

[2018-03-07 20:28] jfine commented on #1834
Just ran into this as well. My quick (but dirty) fix was to...
[code]
[code]
...most important thing was having solid request specs.

[2018-03-14 09:48] leoskyrocker commented on #1793
I think those issues weren't related to conforming to JSON API tho, so this still seems to be a valid issue?

[2018-03-15 05:20] #1793 closed

[2018-03-15 05:26] KevinColemanInc commented on #1793
@bf4 / @leoskyrocker

I see there is some consensus about how to fix the "?", but I don't see a solution for polymorphic attribute names.

Is there a PR for resolving the "/" issue?

[2018-03-21 13:04] pjg commented on #108
Anyone coming across this issue in the brave new world of 2018 should look here:
* https://github.com/rails-api/active_model_serializers/blob/v0.10.6/docs/general/rendering.md#namespace

[2018-03-22 21:50] shhavel commented on #1328
What if needed to provide a case for two meta objects (and keys)?
It sounds strange but still maybe needed to support some format that cannot be changed by requirements.
Maybe interface similar to this one:

[code]

that will result in:

[code]

[2018-03-22 22:10] bf4 commented on #1328
@shhavel I have no idea what version of the gem you're using or why you aren't specifying :meta_key. Please open a new issue and fill out the requested questions.

[2018-03-22 23:15] shhavel opened #2245 "Is it possible to have 2 different meta objects?"
Is it possible to have 2 different meta objects (in any version of the gem) to have JSON format like this? Thanks

[code]

[2018-03-25 01:07] natefoundry opened #2246 "Struct serializer lookup causes error"
#### Expected behavior vs actual behavior

Rendering a Struct as JSON should work as intended

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

* Create a Struct class
* Create a controller and render an array of Structs as json in a controller
** render json: [struct_instance_1, struct_instance_2, ...]
* Invoke REST API method

#### Environment

Active

[2018-03-26 13:41] bf4 commented on #2246
Hey @natefoundry what's your struct look like? From your description it seems to be an anonymous class. If so, you'll need to specify the serializer name to use.

[2018-03-26 13:42] bf4 commented on #2245
Not with the default adapter. You can always extend an existing one.

[2018-03-26 15:09] natefoundry commented on #2246
This is the Struct I'm attempting to render. I was expecting the default json renderer to work as it was before I added this gem (I did not create a serializer class for it):

[code]

[2018-03-26 15:12] natefoundry commented on #2246
Basically, if you just attempt to `render json: WindExposure.all` you'll run into the error.

[2018-03-26 19:47] bf4 commented on #2246
@natefoundry Oh, in the case just `render json: WindExposure.all.to_json` or however.  It'll ignore any string passed to it.

[2018-03-26 19:47] #2246 closed

[2018-03-26 19:47] bf4 commented on #2246
Closing as the issue was that OP wanted to render an object without AMS.

[2018-03-28 02:49] jcpny1 opened #2247 "Embedded association not using serializer"
#### Expected behavior vs actual behavior
I have Instruments containing Series data. Each instrument has 64 series data points. I'd like to have series data embedded in the instrument, rather than side-loaded. When side-loaded, the series data is using its serializer. When embedded, it is not. I'm trying to get the embedded version to use a serializer. I'm using the json_api adapter.

Side-loaded

[2018-03-28 09:35] shhavel commented on #2245
@bf4 Great thanks.

[2018-03-28 09:35] #2245 closed

[2018-03-29 19:54] jcpny1 commented on #2247
I figure I'm missing something. I've tried combinations of includes and has_manys, etc. I can't get the "series" data to use the serializer to limit the attributes.

[2018-04-05 13:51] wonderer007 opened #2248 "[ams] :test_render. Invalid JSON document."
I am getting

when I run
`bundle exec ruby benchmark.rb`

on Ubuntu 16.04 with ruby-2.3.0

Thanks

[2018-04-05 16:14] bf4 commented on #2248
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this issue.

[2018-04-05 16:14] #2248 closed

[2018-04-06 14:05] wonderer007 opened #2249 "Invalid JSON document"
#### Expected behavior vs actual behavior

## Expected Behavior
[code]
## Actual Behavior

[code]

#### Steps to reproduce
[code]

#### Environment

`active_model_serializers (0.10.3)`
`ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]`

**OS Type & Version**: Ubuntu 16.06

[2018-04-06 16:12] bf4 commented on #2249
Hi @wonderer007 Thanks for include more info than in https://github.com/rails-api/active_model_serializers/issues/2248

For what it's worth, It still took me a bit to understand the issue.  I think what you mean to say is you got an 'invalid json' error when running the benchmarks on the benchmarks branch.  'Invalid JSON document' could mean anything.

I tried Ruby 2.3.3 and didn't reproduce the i

[2018-04-06 17:08] wonderer007 commented on #2249
I tried
[code]
but result is same

**Gemfile.lock**

[code]

[2018-04-08 02:34] bf4 commented on #2249
Any stack trace you can share? I can't really debug it if I can't reproduce it.

[2018-04-09 21:35] luccasmaso commented on #2124
@coleturner I'm in the same situation here. Did you find some way to specify `include` in polymorphic?

[2018-04-13 14:57] mrjman commented on #2175
I'm having the same issue when trying to set namespace_for_serializer in a controller that is not inside a namespace. I believe the OP is correct in that this is a bug because the logic ignores the set `@namespace_for_serializer` value that was set in the controller only in the case when the controller is not inside a namespace. I can't think of a reason why this would be the desired behavior as t

[2018-04-16 21:15] bsylvain opened #2250 "Serializer attribute keys not used in errors pointers."
0.10.7

When validation errors occurs, the pointers does not use the keys from the serializer :

serializer :
`attribute :ville,key: :city`

JSON :
`{"errors":[{"source":{"pointer":"/data/attributes/ville"},"detail":"doit être rempli(e)"}]}`

The pointer should be `"/data/attributes/city"`

[2018-04-17 05:29] bf4 commented on #2250
seems like an easy PR, no?

[2018-04-17 15:05] gotoAndBliss commented on #2124
Just another similar example. But we have a `votable` object that can be assigned to a `Question` as well as a `Solution`. A Question has many Solutions and both of them have votable objects. AMS seems to only allow the include of one or the other via `include: 'votes'` or `include: solutions.votes`, but you can't do `include: 'votes, solutions, solutions.votes'`

[2018-04-20 08:41] Faizaankhan3 opened #2251 "Helper method for AMS"
This is probably a dumb question, but I need a small help.

Can anyone tell me how to call a helper method from my serializer passing the current serializer object.
I need to have some database calculation and send back the result to serializer to include it. I'm able to do it using  a model method currently.

Thanks a ton !!

[2018-04-20 09:09] Faizaankhan3 commented on #2251
USE DELEGATE !! :)

[2018-04-20 09:09] #2251 closed

[2018-05-01 21:57] austinh opened #2252 "'respond_with' returns reference String instead of json"
#### Expected behavior vs actual behavior
Recently upgraded from Rails 4.2 to Rails 5. I am on active_model_serializers 0.8.4
All serializers are returning a reference string instead of calling as_json automatically.
Possibly also related to using "responders" gem in Rails 5.

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*
[code]

response is:
[code]

[2018-05-03 19:59] jacquesporveau commented on #2234
:+1:

[2018-05-03 20:00] jacquesporveau commented on #2234
I would also appreciate a 0.10.7 changelog on master.

[2018-05-11 00:11] orlando opened #2254 "Runtime modification of parent serializer attributes doesn't update child attributes"
This is more of a question, since I'm not sure you want to support this use case

#### Expected behavior vs actual behavior

If you call attributes in a parent serializer after you defined a child serializer, changes to the parent will not be reflected in child attributes

[code]

**Actual**
[code]

**Expected**
[code]

#### Steps to reproduce
I made a test case https://github.com/orlando/active_m

[2018-05-17 19:54] bf4 commented on #1437
@adaam2 Yeah, it's now on the 0-10 branch instead of master. Or you can find a commit from 2016 and stick it in there instead of master

[2018-05-21 11:15] adaam2 commented on #1437
@bf4 Perfect, thanks

[2018-05-23 07:52] f-mer opened #2255 "Autoload race condition: uninitialized constant errors"
This is more like a hypothesis than a straight bug report.

#### Expected behavior vs actual behavior
Using ActiveModelSerializers with a threaded web server (in my case puma) I get infrequent `uninitialized constant ` errors. I think it's caused by the use of `autoload`. I guess that ActiveSupports `autoload` is not threadsafe and on application boot not all modules / classes are necessarily impl

[2018-05-24 01:09] bf4 commented on #2255
Interesting. I haven't run on Rails 5 yet.

In the past I have used an initializer with

[code]

[2018-05-24 01:09] bf4 commented on #2255
How come you're not using a release?

[2018-05-24 07:50] f-mer commented on #2255
From the [ActiveSupport::Autoload](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/dependencies/autoload.rb) source  I draw the conclusion that calling `eager_load!` will have no effect without wrapping `autoload` calls inside `eager_autoload` blocks.

Went also with an initializer but loading the constants explicitly on boot:

[code]

Haven't seen the errors again sinc

[2018-05-25 07:26] OneMain commented on #1008
serializers = datas.map do |group_type,items|
      [group_type, ActiveModel::Serializer::ArraySerializer.new(items,serializer: YourModelSerializer)]
    end
   by this way ,can  make serializer for hash
v:  0.10.7

[2018-05-25 16:31] bf4 commented on #1008
@onehouse please don't do that

[2018-05-26 09:05] jasjeetsingh527 opened #2256 "How to pull data from association model on condition base?"
Not an issue just need help.
I'm using active_model_serializers gem to send the response as JSON. I pull the data from association models but how to get only those data from questions table where UserType equals to clients.UserType.

ClientSerializer:

[code]

and QuestionSerializer:

[code]

here is the output as JSON:

[code]

Expected Output JSON:

[code]

[2018-05-27 14:36] feliperaul commented on #2014
Also having this on 0.10.6 and Rails 5.2

[2018-05-27 16:48] betosalvador opened #2257 "How to insert the ID attribute inside "attributes" key when Adpter is JsonAPI?"
Hello

I would like to get the ID of the record inside the **attributes** key when I'm using JsonAPI adapter.

My UserSerializer is:
[code]

My current json is:

[code]

But I want:
[code]

Can anyone help me to understand what I'm missing?

Thanks in advance

[2018-05-29 02:31] bf4 commented on #2257
I mean, if you're doing that you probably aren't really doing json-api or there's something wrong with your client that it can't read out the id where it's expected.

But if you really want to do that, there's all sorts of ways.  What have you read? What have you tried?

[2018-05-29 02:31] #2257 closed

[2018-05-29 02:35] bf4 commented on #2256
What version are you one? What Rails version? Which adapter? What have you read? What have you tried?

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this is

[2018-05-29 02:35] #2256 closed

[2018-05-30 21:00] betosalvador commented on #2257
Hello @bf4
Thanks for response.

And, sorry for delay in my response.

Well, I think that I were doing this the wrong way.

I'm now just using the default data.

THank you very much

[2018-05-31 16:05] bf4 commented on #2014
@feliperaul If you'd like to add this as a feature, PRs appreciated.  Otherwise, please see my comment https://github.com/rails-api/active_model_serializers/issues/2014#issuecomment-270822262 .

My take is that this issue should be closed as stale as OP never came back. However, it could be a feature if someone wants to do that.

[2018-05-31 16:05] #2014 closed

[2018-05-31 21:04] mapreal19 commented on #624
@peyterkim you need to mock/set `scope_name` as `:current_user`

[2018-06-01 13:33] indrapranesh commented on #2137
@JohnMerlino2 I too  have the same problem.Please post the solution if you have found it.

[2018-06-04 10:04] saiqulhaq commented on #2137
@indrapranesh this is not a bug
please see the docs
https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/serializers.md
https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/adapters.md#include-option

[2018-06-06 05:22] abhaynikam opened #2258 "undefined method `underscore' for association class_name option"
#### Expected behavior vs actual behavior
It should not throw error if class_name is constantized while doing `underscore` on class_name or we should update the documentation if required.

#### Steps to reproduce
[code]

[code]

https://github.com/rails-api/active_model_serializers/blob/0-10-stable/lib/active_model/serializer/reflection.rb#L59-L60

`undefined method 'underscore' for #<Class: >`

#

[2018-06-06 05:54] bf4 commented on #2258
Thanks for the report and due diligence!

Given that the option is called `class_name`, I don't think it's unreasonable to expect a string.

Any reason you prefer a constant? Constants can create circular dependencies at boot.

I'd accept a PR to clarify the documentation.

[2018-06-06 06:07] abhaynikam commented on #2258
@bf4 : Thanks for taking a look. No reason to prefer a constant.

Just we were working on upgrading the rails application to `5.0.7`. So in process of upgrading Rails, we also upgraded the `active_model_serializers` version from `0.10.3` to `0.10.7`. This is when we started to get this error.

I would love to raise a PR for documentation.

Also, I think it would be good if we raise an exception if

[2018-06-06 20:29] rafaelcgo commented on #1834
Currently I have some non db-backed data (ActiveModel) that I'm nesting inside my model. This additional data still have non transformed json-api keys. I think it's related. Is there any way I can make the adapter transform the keys on all levels of nesting?

`payment-subscription` was transformed (1st level attribute)
`last_invoice` wasn't (2nd level attribute)
`due_date` wasn't (3rd level attrib

[2018-06-11 19:48] dkniffin commented on #1672
I really like @vergenzt, but I wanted to take it one step further, so I wrote a version that would automatically do the includes, based on the associations you define in your serializer:

[code]

[2018-06-17 10:09] DmitryKK opened #2261 "Why is serializer significantly faster in the second iteration?"
I was checking perfomance ASM with Benchmark. And I discovered interesting situation.

For first iteration:

[code]

=>

[code]

But for second iteration:

[code]

=>

[code]

**Faster 2X**

Third iteration

[code]

=>

[code]

**Faster 24X**

For another record:

[code]

=>

[code]

It is still **faster** than the first iteration **2X**

Why is so happening?

ASM - 0.10.7

My serializer:

[code]

[2018-06-18 18:30] wmakley commented on #224
I'm experiencing what I believe to be memory leaks in the current version in Rails 5.2 development mode. (Production mode is fine.) It could totally be another part of Rails, but I'm having trouble isolating it, and it doesn't happen until I start trying to work on my SPA pages that use active_model_serializers heavily.

[2018-06-18 18:34] bf4 commented on #224
@wmakley Thanks for your help!

[2018-06-18 19:42] bf4 commented on #2261
@DmitryKK there's not enough info in your report to really tell.

There's a number of possible reasons.  For one thing, you're calling `to_json` which includes whatever your JSON gem is.  try benchmarking `record.as_json` vs `Serializer.new(record).as_json` (though note, it's unlikely you're calling Serializer.new(record).as_json in production)

[2018-06-18 19:43] bf4 commented on #2261
Also, `measure` isn't so much a benchmark as a measurement. It's like running a race and saying that's  you're average time.

[2018-06-18 22:41] juancaldera opened #2262 "Serializer will suddenly pick the wrong child serializer in production 0.10.4"
#### Expected behavior vs actual behavior
Given the serializer defintions below:

We're having problems with AMS using the wrong serializer in production. Everything will work after server startup, but after a while, it will suddenly break, and start using the wrong child serializer. (non-namespaced version).

I take it, this is not specifically AMS's problem, i'm not sure anyone can reproduce thi

[2018-06-19 22:00] juancaldera commented on #2262
0.10.7? Nothing in particular. We tend to be more conservative with regards to gem updates, but i'm sure updating to .7 should be fine.

[2018-06-20 19:03] #2262 closed

[2018-06-20 22:54] bf4 commented on #2262
Resolved?

On Wed, Jun 20, 2018, 2:03 PM juancaldera <notifications@github.com> wrote:

[2018-06-20 23:46] yehudamakarov commented on #2011
I had something similar going on with a need to get nested resources on my first project of this nature. Finally found this thread (thanks guys).
I found that the defined serializers in app/serializers don't get called properly on more than one level deep.

but when `includes` is passed to the render, the relationships passed in the `includes` options do actually use their serializer properly.

To

[2018-06-21 03:31] juancaldera commented on #2262
I upgraded to 0.10.7 but did not solve the problem. I did have userthe "serializer_for" workaround, and seems like it'll have a really predicable outcome, and so far, seems to be working.

I have no way of creating a re-producible scenario of of the original problem for ya, so I thought I'd just close the ticket.

[2018-06-23 14:54] DmitryKK commented on #2261
@bf4 thanks for response. I tried `as_json` and got similar pattern. There is no difference. As for measurements, i checked it so many times and got similar figure

[2018-06-25 16:52] bf4 commented on #2261
That's not very descriptive of how you checked.

So far, I still don't know
- the relationship between your test code and your production code (are they called the same, same db, etc)
- if you've observed any of this in production or if it's possibly an artifact of your benchmarking set up
- what is actually under benchmark. Without any code, for all I know you're benchmarking constant lookup the

[2018-06-25 16:53] bf4 commented on #2261
Closing as likely an artifact of userland benchmark code

[2018-06-25 16:53] #2261 closed

[2018-06-25 16:53] bf4 commented on #2258
Closed by #2260

[2018-06-25 16:53] #2258 closed

[2018-06-25 16:55] bf4 commented on #2255
Looks like we can add this to the docs as an FAQ of some sort, if you'd like to make a PR

[2018-06-28 11:18] jagdeepsingh commented on #354
### Configuration

[code]

### mongoid document serialized using `ActiveModel::Serializer`

#### Default

Output

[code]

#### With initializer

[code]

Output

[code]

[2018-06-28 23:09] bf4 commented on #2261
@DmitryKK based on what you've shared I think you're not using it correctly. Bear in mind you've only shared a fragment of what you're running

[2018-06-29 02:43] lassiter opened #2264 "Attributes are not listing for Polymorphic Comment Serializer"
I'm running my RSpec tests and my polymorphic comments are not rendering as expected. It seems like it's not even being passed to the associated serializer in my PostSerializer. The PostSerializer is properly rendering the attributes and relationships as expected.

#### Expected behavior vs actual behavior
Expected (at this point):
[code]
Actual:
[code]

#### Steps to reproduce
*(e.g., detailed wa

[2018-06-29 03:54] bf4 commented on #1834
@rafaelcgo I think what you bring up is a new issue. AMS certainly exposes the ability to customize your case transforming.  But I don't recall if there are examples of using it to transform attribute members with JSONs object values

[2018-06-29 12:17] rafaelcgo commented on #1834
@bf4 Yep, I couldn't find way to manipulate those. If anyone has any tips on how to do this I could submit a PR and open a new issue.

[2018-07-04 11:52] InteNs opened #2265 "Is it possible to check if the association is side loaded inside the has_many block?"
I'm trying to either generate a link, or get the proper data in my has_many relationships

#### Expected behavior vs actual behavior
Inside a has_many block I expect to be able to check if the relation is side-loaded just like `include_data :if_sideloaded`

#### Steps to reproduce
given the following code, Is it possible to make the `if sideloaded?` work?
[code]

[code]

#### Environment

ActiveMo

[2018-07-09 07:37] vivektiwary opened #2266 "Wrong type value while deserialising polymorphic relationships"
#### Expected behavior vs actual behavior
Given the data
[code]
And calling
[code]

I would expect
[code]

But I am getting
[code]
Pay attention to the `commentable_type`.

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:
~> 0.10.6
Output of `ruby -e "puts RUBY_DESCRIPTION"`:

[2018-07-12 06:02] oowowaee commented on #2247
Same issue.  Explicitly specifying the serializer on a deeply nested association is ignored, and the entire object is serialized.

[2018-07-12 18:37] BMahabir opened #2269 "revisions and versions array is empty in Rails 4 vs. Rails 3"
#### Expected behavior vs actual behavior

We have several failures that have popped up in our unit-test cases (rspec) after upgrading to Rails 4, largely related to the `revisions` and `versions` array being empty during execution that would previously have had no issues during Rails 3 execution and testing.  Here is an example of one for versions :

Failure/Error: risk1.versions.last.update_attr

[2018-08-03 13:36] johnny-miyake opened #2270 "Thread unsafe behavior"
## Expected behavior vs actual behavior
ActiveModelSerializer should properly serialize nested resources, but it does not under multi-threading environment. When multiple thread are serializing concurrently, a resource to be serialized can be replaced with another resource by another thread. Is this a known issue?

## Steps to reproduce
Given the following data,
[code]

### Example1: with Puma (a

[2018-08-05 21:28] garfieldhamilton opened #2271 "a developer"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*:

#### Backtrace
*(e.g., provide any applicable backtr

[2018-08-07 02:33] wasabigeek commented on #2262
Hi,

I've run into a similar issue when running rspec, where the chosen serializer doesn't seem to follow the namespace (or I've understood differently). This is the file structure:

**serializers/abc_serializer.rb**
[code]
**serializers/api/v2/abc_serializer.rb**
[code]

When I specifically run spec/controllers/api/v2/xyz_controller_spec.rb, the tests run fine and the correct Serializer (serializ

[2018-08-08 13:24] agalloch opened #2273 "Serializer upgrade question - options (:meta & :fields) in v0.9.x and v0.10.x"
Hello AMS team, 👋 🙂

First of all, thank you for maintaining this little gem!

It's not a gem issue, rather an upgrade question and I would really appreciate any feedback.

We've got a Rails 4 app built with AMS v0.9.x and we need to upgrade it to Rails 5.
We're not using many of the advanced AMS features (yet) but rely on 2 features that
had changed since v0.10.x - the `meta` method and response

[2018-08-09 17:10] israelcoper opened #2274 "Rails 4.2.1 not using serializer instead it returns string"
After upgrading from rails 4.1.9 to 4.2.1, the controllers does not returns the expected json using the serializer instead it returns something like this **"#\u003cUserSerializer:0x007fb8c12d1488\u003e"**.

Here's the content of my Gemfile:
[code]

**NOTE:** I did try using all version from 0.8.0 to 0.10.7 and still it gives me string.

Please help. Thanks.

[2018-08-10 18:44] bf4 commented on #2274
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this issue.

[2018-08-10 18:44] #2274 closed

[2018-08-10 18:45] bf4 commented on #2273
I believe this would be fixed by https://github.com/rails-api/active_model_serializers/pull/2223

[2018-08-10 18:45] #2271 closed

[2018-08-10 18:49] bf4 commented on #2270
Wow, great code spelunking!

I'm guessing this only happens with block-style associations.

I wonder how jsonapi-rb handles this.

[2018-08-13 17:51] agalloch commented on #2273
Thank you for the response, @bf4! 🙂

The linked PR seem to deal with `options[:fields]` which is nice (haven't tried it yet); any idea when will it be released?

What about `options[:meta]` - do you plan to add support for it in `:attributes` adapter?

[2018-08-16 04:38] chau-bao-long commented on #2270
@johnny-miyake
Thanks to your effort in finding out this bug. Base on your repository to reproduce, I tried to figure out what actually happens and fix it.
Let's take a look on, observe that _reflections is a class-level variable
https://github.com/rails-api/active_model_serializers/blob/0-10-stable/lib/active_model/serializer.rb#L176
[code]
When rails server boots and load fille `app/serializers/

[2018-08-19 15:29] agalloch commented on #1908
Also hit this bug with ActiveModelSerializers Version: 0.10.7 - `ActiveSupport::Configurable` leaks into serializer instances. It's present when serializing POROs as well.

Failing test case: https://github.com/agalloch/active_model_serializers/commit/a050aedce5274d42ffe01d57ac8a6a008b3a4959

[code]

Workaround: `delegate :config, to: :object` or override it in the serializer class.

[2018-08-21 03:58] brunoocasali commented on #2221
Idk but at log:
[code]
I still getting this...

[2018-09-07 05:48] eric-norcross opened #2280 "Deprecation warning when using ActiveModel::SerializableResource.new does not specify alternative"
Message:
NOTE: ActiveModel::SerializableResource.new is deprecated; use ActiveModelSerializers::SerializableResource. instead

#### Expected behavior vs actual behavior
Expected behavior: The deprecation message should Indicate what the new/replacement method is.
Actual behavior: The new method is omitted

#### Steps to reproduce
Call `ActiveModel::SerializableResource.new`

#### Environment
Activ

[2018-09-07 14:35] rrecio commented on #354
@jstejada version worked better for me:

[code]

The other solutions crashed of generated a strings containing special quote characters which led my REST client consumers to read ids as "\"123131b23b1b23b1b3\"" instead of "123131b23b1b23b1b3"

[2018-09-13 22:16] rafaelfragosom opened #2282 "Not rendering in-depth relationships"
#### Expected behavior vs actual behavior
I was expecting something like:

[code]

But for some reason, the addresses are not being rendered inside the profile.

#### Steps to reproduce

Here are my serializers:

[code]

And the place in the controller where I list them:

[code]
Where `current_user.accounts` are the accounts related to that User, all referring to the `User` model.

#### Environmen

[2018-09-16 10:54] usama520 commented on #2282
add ```ActiveModel::Serializer.config.default_includes = '**'``` in application.rb.

[2018-09-17 12:04] adaam2 commented on #1135
Just to reiterate for those who are running into a problem with defining keys that match method names already defined in the `ActiveModel::Serializer` class, you can use the below (I was trying to define a key in the serialized output named `attributes` which is one of methods used in AMS to define the payload keys):

[code]

[2018-09-17 15:28] bf4 commented on #1135
Yeah, @adaam2 that would be a problem.  Thanks for the workaround. You could also specify the 'key' option, I think

[2018-09-18 00:05] rafaelfragosom commented on #2282
@usama520 Thank you for this.

It says the three is too deep, but you showed me the right path.

[2018-09-18 00:05] #2282 closed

[2018-09-19 13:36] Mtihc opened #2283 "Store the serializer so I don't have recreate one"
I would expect to be able to do something like this:

[code]

But `serializer` is not defined, of course.

So I have to do this:

[code]

See the constructor of `Link`:
https://github.com/rails-api/active_model_serializers/blob/f3a19bd515330751083c0a70b8f57d792de0d788/lib/active_model_serializers/adapter/json_api/link.rb#L44

The `serializer` is passed as a constructor parameter. But it isn't stor

[2018-09-19 21:29] yogiv88 opened #2284 "issue with singular vs plural form"
#### Expected behavior vs actual behavior
i have an association defined in my user serializer like this
[code]
the generated JSON has structure like

user: {
.
.
.
bonuse_ids
.
.
.
}

however my client expects response like
user: {
.
.
.
bonus_ids
.
.
.
}

how do i fix this?
#### Environment

ActiveModelSerializers Version : 0.10.6

[2018-09-21 07:02] arkadiybutermanov commented on #2270
Any updates on this issue? It looks pretty critical, when AMS is used inside multi-threaded env, e.g: Amazon SQS handler.

[2018-09-24 17:19] tkalliom opened #2285 "A media type parameter (charset) is set for JSON API, againsst the standard"
#### Expected behavior vs actual behavior

Expected the `jsonapi` media type responses to have the header `Content-Type: application/vnd.api+json` _without_ any media type parameters, as per the JSON:API specification. Instead, `; charset=utf-8` is present in the response `Content-Type`

#### Steps to reproduce
Load `active_model_serializers/register_jsonapi_renderer.rb` and make a response in the

[2018-09-25 07:03] GeminPatel commented on #2270
Wrote a test case so that we can test more cases of failure and also test the fix.

https://gist.github.com/GeminPatel/4093be512b220b13ce3e46660e7df918

[2018-09-25 07:48] GeminPatel commented on #2255
facing a similar issue:

  uninitialized constant ActiveModelSerializers::Adapter::JsonApi::Meta
Did you mean?  ActiveModelSerializers::Adapter::JsonApi::Meta

[2018-09-26 14:00] cintamani opened #2287 "Rails cache versioning changes breaks AMS cache module"
## Expected behaviour vs actual behaviour

#### Expected
The cache is invalidated when a record is updated in Rails app running 5.1 or higher versions of the gem with the ActiveRecord.cache_versioning config set to `true`

#### Actual
The cache is not invalidated and the old record details are returned.

## Steps to reproduce
Given a new rails application: `rails new my-test-app`.
Given an RSpec t

[2018-09-26 15:50] bf4 commented on #2287
Would you be up to writing a PR?

[2018-09-26 15:52] bf4 commented on #2285
I'm pretty sure this is fine, but thanks for the issue!

[2018-09-26 17:41] cintamani commented on #2287
I can't implement the versioned cache system but I will be happy to open a PR to solve this using the `#cache_key_with_version` method

[2018-09-27 00:43] bf4 commented on #2287
I'm so sorry that I haven't been more active lately on AMS.  I'm just not
using it now.  I've happy to help anyone interesting in maintaining it.

On Wed, Sep 26, 2018 at 12:41 PM cintamani <notifications@github.com> wrote:

[2018-10-04 06:43] bf4 commented on #2255
@GeminPatel I'm not sure how Rails 5 would differ, but have you tried an initializer like what I described https://github.com/rails-api/active_model_serializers/issues/2255#issuecomment-391555431

[2018-10-06 01:14] dagumak commented on #1779
Did anyone figure out how to fix this?

[2018-10-08 07:46] f-mer commented on #2255
Rails 5 unhooks autoloading ([#a71350c](https://github.com/rails/rails/commit/a71350cae0082193ad8c66d65ab62e8bb0b7853b#diff-bf85cfa3d5f11bd1db1c97843818351b)) after the application has booted. I suspect the error originates from this gem not explicitly loading all deps during application boot.

The initializer is a workaround which actually forces autoloading during application boot.

@bf4 [#3f65e

[2018-10-08 13:12] bf4 commented on #2255
Yup, also generally help not leaving ams completely abandoned  :)

On Mon, Oct 8, 2018, 2:46 AM Fabian Mersch <notifications@github.com> wrote:

[2018-10-15 00:29] bf4 commented on #1779
@dagumak I'm not confident you're commenting on the same version the issue is related to. I'm going to close this. Please open a new issue.  (Generally, when commenting on an open issue with the last comment two years ago, you should make a new issue and reference this.)

[2018-10-15 00:29] #1779 closed

[2018-10-15 04:40] KevinColemanInc commented on #1779
@bf4

I am pretty sure this is still an issue on the latest version of AMS since no one has linked a pr fixing it.

[2018-10-15 05:49] LysanderGG commented on #2284
https://stackoverflow.com/questions/3517989/ruby-on-rails-how-do-you-explicitly-define-plural-names-and-singular-names-in-r

[2018-10-16 10:41] Charizard opened #2291 "Namespace ignored when fetching serializer for parent class"
Consider an STI case with only parent class serializers and no separate child serializers. Now throw in different namespaces.

With model's:
[code]
Controllers & Serializers with namespaces looks like:
`app/controllers/v1/parents_controller.rb`
`app/serializers/v1/parents_serializer.rb`

#### Expected behavior vs actual behavior

Now when I render child records's from my `V1::ParentsController` co

[2018-10-16 15:48] bf4 commented on #2291
Do I understand you're saying that the `V1` namespace isn't being used?

Thanks for digging into the code.

You don't include your render code.  Have you tried specifying `namespace` or `serializer`?  I get it would be nice if the namespace lookup worked as expected, but is there anything which makes specifying it inconvenient?

[2018-10-17 11:42] Charizard commented on #2291
@bf4 Yes the namespace is not respected even though the render is called from a `V1` namespaced controller.

I tried specifying `namespace` but it's the same. But, I've been bypassing this by specifying the `serializer`.

[2018-10-17 14:30] bf4 commented on #2291
Did you try the fix you suggested?

[2018-10-18 05:42] Charizard commented on #2291
@bf4 You mean the fix in AMS itself? No, not yet.

I can try it out and make a PR with tests over the weekend.

[2018-10-18 19:39] bf4 commented on #2291
@Charizard yeah, fork it, change it, point your gemfile to it, try it.

(Or clone it to a relative dir and point Gemfile to it, same story)

[2018-10-20 12:25] Hirurg103 opened #2295 "Serializer not found if the association's serializer is namespaced but the model is not"
Hello! I put all the serializers under the API namespace. My problem was that parent serializer
could not find serializers for the associated array of objects. I added the following patch to my
codebase to temporary fix this issue:

[code]

Then I looked into the test suite for AMS and was able to reproduce this bug with fixtures which are used in the AMS tests

[code]

But it should be `ResourceN

[2018-10-22 09:44] Hirurg103 commented on #2295
Hi @bf4, it is mine changes broke the build?

[2018-10-22 10:00] Hirurg103 commented on #2295
Hi @bf4, do you think it is mine changes broke the build?

[2018-10-24 22:04] #2285 closed

[2018-10-26 09:03] Hirurg103 commented on #2295
I think this can be closed now because #2296 is merged. Thanks @bf4

[2018-10-26 09:03] #2295 closed

[2018-10-29 07:53] jeremygachet opened #2298 "n custom show"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*:

#### Backtrace
*(e.g., provide any applicable backtr

[2018-10-31 14:31] lucasdavid commented on #298
@vanstee's solution doesn't seem to work anymore :-(

[2018-10-31 15:21] bf4 commented on #298
@lucasdavid please consider that you just commented on an issue that was closed as resolved *five* (5!) years ago and I can't even confirm 1) that you're referring to the same version the issue is related to or 2) what you tried. I'm going to lock this issue now. Please open an new issue and follow the guidelines.

[2018-11-01 16:11] stefanahman commented on #2274
@israelcoper Have you solved it?

[2018-11-01 16:11] stefanahman commented on #2252
@austinh Any progress?

[2018-11-01 16:48] stefanahman commented on #2252
Alright thanks! Did you end up removing oj or could you figure out a workaround?

[2018-11-01 17:13] bf4 commented on #2252
@austinh bug report in oj?

[2018-11-01 17:13] #2298 closed

[2018-11-01 17:14] bf4 commented on #2291
related I think https://github.com/rails-api/active_model_serializers/issues/2295

[2018-11-01 17:37] bf4 commented on #2270
On the other hand, I've definitely struggled with reflections being mutated by the evaluation of blocks, such as all the work I did to introducing lazy association when I wrote the first (!) reflection tests

`test/serializers/reflection_test.rb` 1ef7c7d35ba8a8822511329d75370f15cf41bada 876190440f18a0bb7004a5e401b5e5516adf36fc

[2018-11-01 18:58] bf4 commented on #2270
@johnny-miyake based on your excellent work I've made a PR with a failing test https://github.com/rails-api/active_model_serializers/pull/2299

[2018-11-01 19:50] bf4 commented on #2274
@stefanahman please make a new issue, though it probably is problem with either how you're using AMS or a json serialization gem you've installed

[2018-11-02 06:10] stefanahman commented on #2274
@bf4 Reading https://github.com/rails-api/active_model_serializers/issues/2252, it is probably `oj` in my case. Thanks.

[2018-11-14 18:49] faulk49 opened #2301 "e record joins with through table"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*:

#### Backtrace
*(e.g., provide any applicable backtr

[2018-11-14 20:55] bf4 commented on #2301
There's not much I can do about that.

[2018-11-14 21:12] #2301 closed

[2018-11-23 10:38] #2255 closed

[2018-11-26 19:33] bsylvain opened #2302 "Is it possible to embedd relation with AMS ?"
When I have a parent tha has many children in a serializer :

    has_many :operations,key: 'operations'

Is it possible to, instead of having only a reference, embed the serialized childrens in the same response?

I am using AMS with ember and I am encountering the API version of n+1 query.

Also, if it's possible, how can I make it so that it is enabled or disabled depending of the use case (sho

[2018-11-28 06:39] bf4 commented on #2302
yes

what have you tried?

what version are you on?

Closing this as it's a variation of 'how do I use AMS', though I'll followup if demonstrate you've done your due diligence.  (Not using the template isn't a good start, fyi)

[2018-11-28 06:39] #2302 closed

[2018-11-28 08:08] bsylvain commented on #2302
I am using AMS 0.10.

Here is how relations in my current payload look like :

`operations":{"data":[{"id":"5","type":"invoice/operation"}]}`

Here is what I would like to have :

`operations":{"data":[{"id":"5","attributes":{"state":"payment","payment-type":""}}]}`

My serializer use the following relations :
[code]
Can AMS embedd a child instead of a link?

I tried to include the relation in the

[2018-11-28 08:23] bsylvain opened #2303 "How do you embed a relation instead of a link"
#### Expected behavior vs actual behavior
Here is how relations in my current invoice payload look like :

`operations":{"data":[{"id":"5","type":"invoice/operation"}]}`

Here is what I would like to have :

`operations":{"data":[{"id":"5","attributes":{"state":"payment","payment-type":""}}]}`

#### Steps to reproduce
My serializer use the following relation :
[code]

#### Environment

ActiveModel

[2018-11-28 21:16] bf4 commented on #2302
It looks to me like you are using the jsonapi adapter and would the
relationship to reference the full resource object, rather than just the
resource object identifier.  That would violate the jsonapi spec.  The spec
expects you to sideload/embed the relationship using the include query
param and will put all included resource objects in the top level included
member

I'm not sure whether the issu

[2018-11-29 04:08] bf4 commented on #2303
Duplicate of https://github.com/rails-api/active_model_serializers/issues/2302

[2018-11-29 04:12] bf4 commented on #2303
See answer there.  You can mangle AMS to do that but it won't be jsonapi spec anymore.

In any case, since you know ams jsonapi supports the include param and I am guessing it is having no effect , maybe you have mistyped it? Maybe it should be plural like the relation?

[2018-11-29 04:12] #2303 closed

[2018-12-04 09:19] appstersjulia commented on #187
For anyone still struggling with this (and only experiencing it with Pow, not `rails s`):
Add the following to  `~/.powconfig`:
[code]
Then
`touch ~/.pow/restart.txt`

[2018-12-05 21:45] MattSmithASU opened #2305 "ActiveModel::ArraySerializer#serializable_array equivalent in ActiveModel::Serializer::CollectionSerializer"
#### Expected behavior vs actual behavior
I am upgrading from Rails 4.1 to 5.2. I have a custom ActiveModel::ArraySerializer which adds meta data to the collection response. For example `:type => 'collection'`. This is done by creating a new class that extends from ActiveModel::ArraySerializer and overrides the `serializable_array` method. This process was documented here in the README at one poin

[2018-12-06 02:39] bf4 commented on #2305
So, there's  couple of things going on here. Basically, you've changed versions from the 0.8 series to the 0.10. The upgrade itself requires changes unrelated to your Rails version.

My guess is part of the issue is what adapter you're using.

You can indeed customize your collection serializer. Compare the JSON adapter to the Attributes adapter.

[2018-12-07 15:04] bf4 commented on #187
@appstersjulia Unless you have a good reason to use Pow (sorry to everyone from 2013), [puma-dev](https://github.com/puma/puma-dev) is much better

[2019-01-02 22:38] MattSmithASU commented on #2305
Are those changes documented?

[2019-01-06 10:32] Bernard4132 commented on #563
This is a DIY way to solve this problem. Create a field on the model to store the url. then after the object has been saved, you update it with a manually generated url like this.
here is how i solved it.

if @questionsolution.save
generatedurl = 'http://localhost:3000/questionsolutions/' + @questionsolution.id.to_s
        @questionsolution.update(solutionurl: generatedurl)
end
 then you can get

[2019-01-09 16:10] maxrosecollins opened #2308 "has_many model, serializer: ModelSerializer not using the serializer"
#### Expected behavior vs actual behavior
When I use

[code]
I expect it to use my custom serializer `PostSerializer` but it doesn't use it and instead gives me the following

[code]

My post serializer

[code]

#### Environment

Output of `ruby -e "puts RUBY_DESCRIPTION"`:  ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]

AMS: 0.10.7

[2019-01-09 18:18] bf4 commented on #2308
@maxrosecollins that relationships object you posted makes me think you're using the JSON API adapter.  That object comes from the adapter (via the spec). The serializer would be used if you *included* the posts relationship and show up in the 'included' member. Please let me know if that helps.

[2019-01-09 18:18] #2308 closed

[2019-01-09 21:08] maxrosecollins commented on #2308
So do you mean I should do this?

`render json: model, status: 200, each_serializer: ModelSerializer, include: ['posts']`

[2019-01-09 21:36] maxrosecollins commented on #2308
Hmmm I think I understand now.

So there is no way to get this data into the `relationships` `data` part?
[code]

[2019-01-10 18:06] bf4 commented on #2308
@maxrosecollins you *could* do things like that, but then it most of your examples would break JSON:API clients.  Allow me to translate how I understand your issue:

1. You've chosen to use the JSON:API adapter
2. You want something different from what the adapter is designed to do

So, I see a couple of options:

If you really want your own custom format, make your own custom adapter

If someone

[2019-01-21 18:34] bf4 commented on #1779
@KevinColemanInc I'm happy to facilitate a fix.  As you know, development isn't very active now, in part because I don't think any of the current maintainers are using it.

[2019-01-21 18:35] #2305 closed

[2019-01-22 15:34] maxrosecollins commented on #2287
I am having issues with this.
Is there a fix?

[2019-01-28 08:11] mistraminayasa opened #2312 "can we add push method to serializer?"
Below is the output serialization:
[code]
As I know, they are array. So, I want to push another data from different table using that format. I try use push method. But, I always get error undefined method push.

[2019-01-29 15:52] bf4 commented on #2312
any reason you wouldn't just serialize your object to serializable_hash and then push to that?

It think combining two collection serializers would be too janky, depending on your AMS version (which you didn't share :(

[2019-01-29 15:52] #2312 closed

[2019-02-01 19:09] Fernando3643 commented on #1672
I have a problemn with the solution of @vergenzt,

`/app/config/initializers/active_model_serializers.rb:4:in block in <top (required)>': uninitialized constant RelationSerializer (NameError)`

[code]

[code]

[2019-02-02 03:46] jstdoit commented on #2182
I met the same problem, did you solve this problem? @devtoro

[2019-02-04 17:02] rusterholz opened #2313 "v0.8.4 does not properly include some associations"
#### Expected behavior vs actual behavior

In our serializer we have the following code (mildly streamlined for clarity). The `last_sale` relation does not exist on the main model but is defined via a method in the serializer:

[code]

When running with the gem version 0.8.3, this works properly – the method is called, and the key `last_sale` is included in the output of the serializer.

When runn

[2019-02-04 19:12] bf4 commented on #2313
Thanks for your report.

I'm curious, if you define 'last_sale' on 'Sale' if you get the same behavior.

Would be you be interested in helping write a failing test and possibly help fix the bug?

[2019-02-08 21:52] bf4 commented on #2182
@jstdoit please create a new issue and follow the issue template. There's not enough info to help you.

This issue should have been closed as stale with no response from OP.

[2019-02-08 21:52] #2182 closed

[2019-02-12 13:05] RobertoSchneiders commented on #2313
@rusterholz @bf4 I'm having the same problem.

[2019-02-12 20:56] bf4 commented on #2313
To clarify how much time I'm going to put into this, I'm here more to help you help yourselves than to help you help me... without more work on your part to demonstrate and debug your problem, there's not much I can do.

[2019-02-12 20:57] bf4 commented on #2313
If you're going to create and issue and disappear or comment on and issue without any details, nothing is going to happen.

[2019-02-12 21:45] RuanHerculano opened #2314 "Expected it to show only the listed attributes, but it shows all"
#### Expected it to show only the listed attributes, but it shows all

#### Steps to reproduce: Only send simple request with postman

#### Environment

ActiveModelSerializers Version: 0.9.3

Output of:
[code]

OS Type & Version: ubuntu, 18

Integrated application and version: only Rails 5.2 not api.

[2019-02-12 22:43] bf4 commented on #2314
@RuanHerculano I can't help you if you only tell me that the quoted JSON isn't what you want.

[2019-02-12 22:43] #2314 closed

[2019-02-18 19:32] Bajena commented on #1672
Hey, for those of you that are struggling with this problem - you may also consider using a gem of mine: https://github.com/Bajena/ams_lazy_relationships/

What you'd need to do is to define your relationships like this:
[code]

[2019-02-21 15:45] rusterholz commented on #2313
I'm fairly busy, but I will try to get to this!

[2019-02-22 10:00] vskale commented on #2231
@erluti have you been able to fix this?

[2019-02-22 18:55] erluti commented on #2231
@vskale sorry, I left the company shortly after that.  We might have monkey patched it or something?  I think it might have been related to how an internal library (plisskin?) translated the keys.  I wish I could help more.

[2019-02-22 19:23] wasifhossain commented on #2231
@bf4 do you think we can close this issue until someone picks it while working on a production app?

[2019-02-23 17:06] heaven opened #2315 "Incorrectly adds association when serializer is missing"
I have the following serializer:

[code]

Serializer for `ProfileAddress` (`primary_addrress`) is missing at the moment.

The controller is as simple as it gets:

[code]

All this produces the following JSON:

[code]

This is incorrect, the `included` array is missing and the attributes rendered within relationship's hash.

If I add a serializer for `ProfileAddress`:

[code]

Output format changes

[2019-02-24 14:16] iggant opened #2316 "Deprecation warning in Rails 6.0.0 beta"
DEPRECATION WARNING: `Module#parent` has been renamed to `module_parent`. `parent` is deprecated and will be removed in Rails 6.1. (called from namespace_for_serializer at /usr/local/bundle/gems/active_model_serializers-0.10.9/lib/action_controller/serialization.rb:26)

[2019-02-25 18:50] heaven opened #2317 "Preloads unnecessary associations"
The following controller and serializer cause all specified associations to be preloaded:

[code]

The resulting JSON output contains all of the specified in the serializer association while we only need `owned_sites` on the `index` action, where we have 100 records per page. This generates hundreds of unnecessary queries to the database slowing response time 10x. How do I skip this preloading? Sh

[2019-02-25 20:17] bf4 commented on #2317
I think the way you're using preload is different from how activerecord uses the term.

In any case, I'm assuming you're using the JSON:API adapter?

First, AMS doesn't handle any query methods on your models. You have to do that yourself.

Second, `:include => [:owned_sites]` means to that the `owned_sites` resource  relationships should appear fully serialized in the `included` top level member.

[2019-02-25 20:30] heaven commented on #2317
Hi, yes it's the JSON:API adapter.

I think `if: -> (serializer) { serializer.scope.admin? }` might work, thank you. What I don't like about this is that I need to define lots of procs for this, in many serializers.

I am also thinking about how this could be solved globally, i.e. with a global config and/or particular serializer option to only load included relationships. That would be an awesome

[2019-02-25 21:42] bf4 commented on #2317
@heaven I probably just don't understand exactly what you're saying, but it sounds to me like you want
to define relationships to conditionally serialize without having a conditional anywhere, either via polymorphic in the serializer you use or in the serializer via callable

I still am not positive you're clear on the difference whether a JSON:API resource is 'included' (side loaded) or not.  Eve

[2019-02-26 16:23] heaven commented on #2317
Whoops, I tried `include_data: false` as a parameter which didn't work, that's why I missed it. But I don't seem to have enough context within a block to determine whether to include the data or not.

My goal is to define all associations in a serializer but don't load them all where I don't need to. For example, we need a lot of data on `GET /profiles/:id`, `profile -> address -> country`, `site

[2019-02-26 20:53] bf4 commented on #2317
I understand what you're saying, and I apologize for being unclear, but `include` in JSON:API means something different from what you want it to do.  I believe AMS provides what you need to solve your problem and that these solutions are documented.  I believe I've addressed your questions by guiding you where to look.

I'm not sure there's much more I can do.

Here's the problem as I hear it:
1.

[2019-02-26 21:06] bf4 commented on #2231
@wasifhossain sure

[2019-02-26 21:06] #2231 closed

[2019-02-27 11:42] heaven commented on #2317
Thank you for the help, indeed the things you mentioned can solve the problem, I am just looking for a more convenient way for this.

You also understood my idea right, except for the number 3 – I don't want someone doing this for us, but if you think such a feature could have a place in the gem I can try preparing a pull request. Let me also know if you have any preferences/recommendations regard

[2019-02-27 15:11] bf4 commented on #2317
@heaven here's how I imagine it having a place in the gem

1. There's some configuration on the serializer relationship that toggles whether or not to render the relationship and/or the relationship linkage data (which is what is requiring the db load)
2. The serializer knows what relationships are being processed in the include directives
3. It's easy to use (2) in your ApplicationSerialize to to

[2019-02-27 15:11] bf4 commented on #2317
FWIW, you may want to look at other gems that do JSON:API

[2019-03-02 13:55] auscaster opened #2320 "Using AMS with rails 6"
Hey team,

I see that AMS currently restricts Rails version to < 6. Its currently the only gem in my bundle preventing the upgrade. Is there any plans for support or a way to use this gem with Rails 6?

Thanks for your great work!

[2019-03-02 20:50] wasifhossain commented on #2320
Thanks @auscaster for bringing it up.

@bf4 I found the tests for `0-10-stable` pass on Rails `master`. can we push rails version to 6 at this point, or should we wait until its officially released.

Otherwise, can you suggest how can we use rails 6 beta (which is released) with the present settings? Thanks

[2019-03-06 16:24] bsylvain commented on #2250
Is it unusual to use key? Maybe I missed something as this bug does not seems to bother anyone?

[2019-03-07 03:46] bf4 commented on #2250
Someone just needs to write a failing test and fix it. I don't use AMS anymore, so I'm guessing it's bothering you more than me :)

[2019-03-09 18:49] iggant commented on #2320
@auscaster  with this restriction < 6 you still can install beta2 Rails,
but before you can do this, you probable have to merge https://github.com/rails-api/active_model_serializers/pull/2319 otherwise log file will blow up with deprecation warning log entries

This PR is almost ready to merge.

[2019-03-15 15:57] heaven opened #2322 "Ability to add global meta and links from ApplicationSerializer"
We use JSON API and have a use case when we need to provide the total_count and some other custom meta information globally. Providing this as `meta:` option from each controller doesn't seem convenient.

I would expect an ability to specify some global metadata that would then be overridden by meta provided from controllers (if provided).

(or I didn't figure out how to do this reading the docs)

[2019-03-21 17:52] ajuni7 commented on #1552
Anyone else hitting this issue again in the latest release. We had no problems in 10.6 but are hitting this exact issue in 10.9

[2019-03-21 19:26] bf4 commented on #1552
@ajuni7 please open a new issue.  I appreciate the work you've done so far to isolate the version. I'll help you fix it (discuss there) if you're up for it.

[2019-03-21 20:24] wasifhossain commented on #1552
@ajuni7 can you please confirm if setting the [config option](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/configuration_options.md#jsonapi_use_foreign_key_on_belongs_to_relationship) introduced in **v0.10.7** would solve the case?
[code]

[2019-03-25 14:33] danielalvarenga commented on #1829
@rzane great!

[2019-03-25 15:02] wasifhossain commented on #1829
@bf4 do you have plans for this PR? Otherwise I would prefer to close this as the code @rzane shared above is good enough for the purpose (we are also using the same technique in production).

[2019-03-27 07:31] kofibright commented on #1091
You could try something like this.
[code]

[2019-04-03 05:04] cactis commented on #2108
how about this?
I use it to fix has_one problem about not included in nested case.
[code]

[2019-04-03 07:38] wasifhossain commented on #2108
@cactis the standard way AMS suggests is to define the has_one association using the same keyword in the serializer:
[code]
and in the controller, render it along with the `include` option putting a value of `**` in it if the parent of this association (the object of the above serializer) is at least 1-level deep from the controller resource.

[Doc](https://github.com/rails-api/active_model_serial

[2019-04-05 21:58] udit7590 commented on #1507
+1. Issue exists

[2019-04-26 11:42] jarkko commented on #2320
Rails is now at 6.0.0.rc1, so the `< 6` doesn't work anymore. Gonna fork and see how things work with it.

[2019-04-26 12:06] wasifhossain commented on #2320
will make the change to make it work with the latest Rails version soon.

[2019-04-29 20:54] wasifhossain commented on #2320
Travis is all good with Rails 6.0.0.rc1. Please have a look at the PR. I have also tested it in a project by trying to upgrade Rails from 5.2.3 to 6.0.0.rc1 and it ran successfully.

@auscaster @jarkko can you please check it out? thanks

[2019-05-06 09:47] typhoon2099 opened #2330 "Filtering fields on included associations"
I have a serializer which includes a `belongs_to` to another serializer. In my controller I want to specify the fields that the associated serializer returns. How do I do this? I have the following serializers:
[code]

The following in my controller does not seem to work:
[code]
This does not work, however, and my user field returns back all of its fields.

[2019-05-06 09:48] typhoon2099 commented on #2330
My current workaround is to add a new attribute to ProductSerializer:
[code]
But this feel like a hack to get around something I'm not fully grasping.

[2019-05-06 19:19] wasifhossain commented on #2330
can you please make sure you are using the `0-10-stable` HEAD

[2019-05-07 09:32] wasifhossain commented on #2330
@typhoon2099 do you have any further updates on this? thanks

[2019-05-07 10:33] typhoon2099 commented on #2330
Not yet, I've been working on other things. I'll give this a go and report back soon.

[2019-05-07 13:47] typhoon2099 commented on #2330
I've just added `0-10-stable` to my project and the situation seems to be the same as before. I can't seem to find much in the way of documentation around it but is it possible to limit the fields in the serializer? Eg:
[code]

That kind of thing?

[2019-05-07 14:08] wasifhossain commented on #2330
@typhoon2099  `0-10-stable` HEAD should support this feature. You can take a look at the test here: https://github.com/rails-api/active_model_serializers/blob/0-10-stable/test/adapter/json/fields_test.rb#L55

It should work for both `:json` and `:attributes` adapter in the same way, and for `:json_api` adapter in its own way.

`Fields` doc: https://github.com/rails-api/active_model_serializers/blo

[2019-05-07 14:27] typhoon2099 commented on #2330
No, it doesn't seem to work, all the fields defined in UserSeralizer are still being included. The tested code is the same as in my first comment.

[2019-05-07 20:01] ratneshraval commented on #1554
Not sure if this is any better but I ended up doing the following

[code]

[2019-05-08 20:03] wasifhossain commented on #2330
closing the issue due to lack of further data related to debugging the case. Reiterating that the feature is now supported as mentioned in this issue.

the main comment: https://github.com/rails-api/active_model_serializers/issues/2330#issuecomment-490095465

[2019-05-08 20:03] #2330 closed

[2019-05-08 20:04] wasifhossain commented on #2330
feel free to open the issue again with necessary data that would help in debugging the case.

[2019-05-16 15:40] xyingsoft commented on #2316
I have deprecation warning after upgrading rails,
So I tried to use master branch, but its not working with rails 6 at all.

[code]
When will be next version released for rails 6?

[2019-05-16 16:00] iggant commented on #2316
don't use master branch use

`gem 'active_model_serializers', '~> 0.10.0', require: true, github: 'rails-api/active_model_serializers', branch: '0-10-stable'`

[2019-05-16 16:02] #2316 closed

[2019-05-17 22:57] xyingsoft commented on #2316
Thanks @iggant, I will try now

[2019-05-17 23:06] xyingsoft commented on #2316
Awesome it works, thanks @iggant

[2019-05-20 11:01] karunakaranpt opened #2332 "Is there a way to display meta tag at first instead of root"
When I use like below
[code]
I get response as
[code]
Is there a way to display the message and then users as below?

[code]

[2019-05-20 23:39] wasifhossain commented on #2332
@karunakaranpt don't you think both the way would read as identical? btw I am not aware if we can do that.

[2019-05-23 16:15] heaven opened #2333 "Bug in LookupChain::BY_NAMESPACE"
I have 2 models: `Profile` and `Public::Profile` and 2 serializers:
* Api::Platform::Carmen::V1::ProfileSerializer
* Api::Platform::Carmen::V1::Public::ProfileSerializer

The first `Profile` could have many `Public::Profiles` so in the first serializer we have `has_many :public_profiles`.

As result AMS tries to use the first serializer for both, while the expected behavior would be using a separa

[2019-05-23 16:30] heaven commented on #2333
I think I've found an answer – when we open `Public::ProfilesController` we'll end up with `Public::Public::ProfileSerializer` name...

Not sure how to work around this yet. Perhaps instead of demodulizing, we should connect the namespaces of controller and model by ensuring there're no duplicates, like `Api::Platform::Carmen::V1::Public` + `Public::Profile` => `Api::Platform::Carmen::V1::Public::

[2019-05-23 20:59] wasifhossain commented on #2333
do you think that [explicitly passing the `serializer` option in the association](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/serializers.md#associations) could help AMS look up the serializer in correct way?

[2019-05-24 08:44] heaven commented on #2333
Indeed it will, but here I am talking about the current lookup chain implementation and its unexpected behavior.

Currently, there's a problem with namespaces when using `BY_PARENT_SERIALIZER` proc, which shows up when you have `Market::Account` and  `Public::Account` models and need a serializer for `Profile` that has many both `:market_accounts` and `public_accounts`:
[code]

None of these child

[2019-06-03 10:07] InteNs opened #2335 "`jsonapi_use_foreign_key_on_belongs_to_relationship = true` bug when belongs_to is blank"
#### Expected behavior vs actual behavior
when the config option `jsonapi_use_foreign_key_on_belongs_to_relationship = true`
empty belongs_to relationships are serialized in a different way. (the ID attribute is missing)

##### Expected
[code]
##### Actual
[code]
#### Steps to reproduce

##### `config/initializers/active_model_serializers.rb`
[code]

##### 'app/serializers/user_serializer.rb`
[cod

[2019-06-04 00:15] bf4 commented on #2335
Good bug report. you interested in trying a fix?

[2019-06-04 08:37] InteNs commented on #2335
I've made a start in #2337 but i won't have time to setup an environment right now, it should be an easy fix.
later this week i could work on this but it might be handy if this is fixed sooner.

[2019-06-05 15:35] duyetpt commented on #2330
I encounted the bug in version 0.10.6.

[2019-06-05 18:55] wasifhossain commented on #2330
@duyetpt can you please follow https://github.com/rails-api/active_model_serializers/issues/2330#issuecomment-489741918 and see if you still find the issue.

If yes, we would appreciate detailed info to help us debugging the case. Thanks!

[2019-06-06 07:55] duyetpt commented on #2330
When use version 0.10.6 or 0.10.9, i still encounter the bugs. I check code and see that, code in tag 0.10.6 and 0.10.9 is out date. After that, i try use gem with follow define:
[code]

It worked for me.

[2019-06-06 12:34] wasifhossain commented on #2330
yes because the issue was fixed recently after 0.10.9 was released.

[2019-06-06 13:37] yogiv88 opened #2338 "when belongs_to association has key option passed, resulting json does not contain the association data"
when i add **key** option to association belongs_to serialized data does not contain the association. can you help me in this?

here is the serializer class

[code]

i even tried
[code]

this too did not work

#### Environment

ActiveModelSerializers Version : 0.10.6

[2019-06-06 13:49] wasifhossain commented on #2338
what response do you get when you define it like
[code]

[2019-06-06 13:52] yogiv88 commented on #2338
i want to have team object's json under key primary_team in the output json

[2019-06-06 13:54] wasifhossain commented on #2338
that should do so. btw can you please tell us how did you do it before?

[2019-06-06 13:56] yogiv88 commented on #2338
when i have the key as **team** output json has the team data but when the key name and association name are different json doesn't contain team data

[2019-06-06 13:58] wasifhossain commented on #2338
that will work if you define `:primary_team` in the attributes
[code]

[2019-06-06 13:59] wasifhossain commented on #2338
can you share how do you render the UserSerializer?

[2019-06-06 14:01] wasifhossain commented on #2338
and what does `show_includes` look like?

[2019-06-06 14:07] yogiv88 commented on #2338
[code]

pasting the whole formatted array so that i don't miss anything

[2019-06-06 14:18] wasifhossain commented on #2338
I will take note of this relevant code only from the `show_includes` response:
[code]

so when you customize the key for the association (e.g. using `:key` option), e.g.
[code]
then you have to use the new key in the `include` option provided in the `render` call like
[code]
This will render the association under the new key.

[2019-06-06 14:28] duyetpt commented on #2330
yeah, thanks @wasifhossain.

[2019-06-06 14:28] yogiv88 commented on #2338
it works! thanks a lot 👍

[2019-06-06 14:28] #2338 closed

[2019-06-06 14:37] wasifhossain commented on #2338
great to hear that. you're welcome!

[2019-06-06 14:38] wasifhossain commented on #2330
you're welcome! @duyetpt

[2019-06-07 19:05] Mifrill commented on #1671
the same issue, besides the link is broken now
the config does not fluent to Serializer for some reason:
[code]
but the root key is not included in JSON, as same as for `:json` key

[code]

[2019-06-07 19:27] wasifhossain commented on #1671
can you please set the configuration as
[code]
and see if things get improved

[2019-06-07 20:28] Mifrill commented on #1671
@wasifhossain unfortunately, nope I've tried this, anyway thanks)

[2019-06-07 20:53] wasifhossain commented on #1671
@Mifrill  if you don't bother to update the gem in the Gemfile as
[code]
and revisit your issues, hope that should fix those cases

[2019-06-07 22:00] Mifrill commented on #1671
nah... looks really strange
[code]
even with:
[code]
as_json returns without root.

here is correct implementation:
https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/howto/upgrade_from_0_8_to_0_10.md
[code]
but it seems like they missed in current `0.10.x` gem build, look at this:
[code]

[2019-06-08 05:43] Mifrill opened #2339 "Adapter option to show Root directory for Rails 4"
#### Expected behavior vs actual behavior

Expect: it returs attributes with `root` directory for json results by Serializer, for example:
[code]
Actual: it returns only attributew witout `root`
[code]

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*
[code]

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:
`gem 'active_mode

[2019-06-08 06:18] Mifrill commented on #1671
@wasifhossain FYI: I've open the detailed issue here: https://github.com/rails-api/active_model_serializers/issues/2339, any help is appreciated. Thank you

[2019-06-08 07:51] wasifhossain commented on #1671
I will take a deeper look into the new issue in coming days. thanks @Mifrill for the details

[2019-06-08 14:52] erbunao commented on #2339
@Mifrill I am currently stumbling the same issue as yours. I added the config file already.
[code]

If I'm calling `UserSerializer.new(user).as_json`, the result does not include a root key. But when I use the same serializer in a controller action like so
[code]

returns with a root key.

[2019-06-08 16:01] wasifhossain commented on #2339
I agree with @erbunao very much. @Mifrill can you please confirm the case?

[2019-06-10 06:00] Mifrill commented on #2339
@erbunao , @wasifhossain yeah, confirmed, besides, the `root` can be controlled by `root: 'foo'` as an option for `render`. Cool, thanks, now I see

[2019-06-10 06:02] #2339 closed

[2019-06-10 07:18] wasifhossain commented on #2339
thanks so much! @Mifrill

[2019-06-14 21:35] ratneshraval commented on #1939
How would I set this up for Rspec?

[2019-06-15 16:51] wasifhossain commented on #1939
can we wrap it up, as https://github.com/rails-api/active_model_serializers/issues/1939#issuecomment-299091351 and https://github.com/rails-api/active_model_serializers/issues/1939#issuecomment-502283184 address different ways to achieve the target?

[2019-06-18 08:45] InteNs commented on #2335
fixed by #2337

[2019-06-18 08:45] #2335 closed

[2019-06-19 12:31] #1514 closed

[2019-07-11 13:06] danielnc commented on #1508
bump!

Any updates?

[2019-07-16 02:43] taki opened #2341 "It is raised NoMethodError: undefined method `singularize' for :data:Symbol if you pass string class to option root."
#### Expected behavior vs actual behavior

It does not raise NoMethodError.

#### Steps to reproduce

[code]

#### Environment

- ActiveModelSerializers Version 0.10.10
- ruby 2.6.1p33 (2019-01-30 revision 66950) [x86_64-darwin18]

#### Backtrace

[code]

#### Related GitHub issues
https://github.com/rails-api/active_model_serializers/issues/2342

[2019-07-16 10:30] wasifhossain commented on #2341
[docs/general/adapters.md#json](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/adapters.md#json) describes the ways to override the `root` key.

In short, this works only for the following adapters:
- :json
- :json_api

`:attributes` adapter (which is the default adapter) does not have any effect with the root key.

You can pass in the key as a **string** in th

[2019-07-17 00:18] FeminismIsAwesome opened #2342 "New fieldset params causes passing root as symbol to fail"
#### Expected behavior vs actual behavior

Prior to v0.10.10, passing a symbol key to :root resolved. I think this is due to a change moved in from 0.10.9.

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

[code]
will blow up, vs

[code]
Resolves correctly.
#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -

[2019-07-17 01:24] taki commented on #2341
Thank you for reply.

In version 0.10.9, I pass Symbol and root option is working. So, I was surprised.

Is it the expected behavior? If answer is yes, I change my application code.

[2019-07-17 06:43] wasifhossain commented on #2341
thanks @taki for reporting the issue :+1:  able to reproduce it on my side too. will take a look into this soon

[2019-07-17 06:48] wasifhossain commented on #2342
going to address this on the other issue. thanks

[2019-07-17 06:48] #2342 closed

[2019-07-17 09:17] pirvudoru opened #2343 "Versioning support"
#### Expected behavior vs actual behavior
According to: https://semver.org/ #3:
[code]
I expect patches to not break the app.

But...
![image](https://user-images.githubusercontent.com/2707601/61363491-c2499200-a88c-11e9-8d21-7c3cf69c2bfc.png)

This library is a nightmare to work with when it comes to updating the version, and it has been this way since v 0.7.x (when we started using it - huge mis

[2019-07-17 10:13] #2341 closed

[2019-07-17 10:25] Subomi opened #2345 "How to serialize a PORO Model generated from other attributes without specifying in the instantiation"
#### Expected behavior vs actual behavior
Actual Behavior:

     module Models
       class AllCats < ActiveModelSerializers::Model

         attributes :cats
         attributes :total

         def total
           cats.count
         end
       end
     end

Controller:
  `cats = Models::AllCats.new(total: true,cats: cats)`

JSON:
`{ total: '..', cats: [...] }`

Expected Behavior:

Controller:

[2019-07-17 11:08] davideluque opened #2346 "Serialize a collection with different models in it"
Hello,

I have a search procedure that returns a collection of three models in random order; post, profile, and tag.

Active Model Serializer can perfectly render the collection by using the default serializers I have created before:

[code]
However, for this procedure, I need to use specific serializer for each Post, Profile, and Tag, different from the ones that I have set by default for these m

[2019-07-17 12:04] wasifhossain commented on #2346
Hi.

lets assume you can access the models inside `r` as:
[code]

then you can serialize them individually using custom serializers as:
[code]
finally you can merge them in the `render` method as:
[code]

[2019-07-17 12:22] wasifhossain commented on #2345
Basically the serialization works like when you don't have any serializer defined for the model, `ActiveModel::Serializer::Null` is used by default. That will include the attributes that are present.

To achieve the expected behavior, you need to define a serializer like:
[code]

[2019-07-17 12:32] davideluque commented on #2346
Hello Wasif, thank you for your help!

I have no way to separate the classes by using r.posts, etc.

Also, I did not want to try to separate the models and merge them afterward because the order in which they are in r is relevant.

r behaves like an array but it is a different object (Searchkick::Results, if this can be helpful)

[2019-07-17 13:25] pethron commented on #2343
Same problem.
It's not possible to break things in a minor version upgrade, at least run the goddamn tests.

[2019-07-17 13:43] pethron commented on #2343
<img width="1378" alt="Screenshot 2019-07-17 at 15 40 33" src="https://user-images.githubusercontent.com/12462586/61380252-532e6680-a8a9-11e9-9ece-23cb166cee03.png">

What the f*** is this???
Next time use https://github.com/auchenberg/volkswagen

[2019-07-17 13:53] Subomi commented on #2345
@wasifhossain I skipped adding the below:

[code]

[2019-07-17 15:45] FeminismIsAwesome commented on #2343
Y'all should calm down. A) your test suite caught them, and while annoying that's easy enough to not upgrade or make an issue about it, it's an open source project you can contribute to since it needs love and support.
B) If you're using an undocumented feature and the standard docs suggest root as string anyways; it was easy for us to correct the issues we saw and move on. Or are you saying we sh

[2019-07-17 16:24] wasifhossain commented on #2346
would help if you could provide an example of how `r` would look like. is there any way to retrieve the fields from a model encapsulated in that object? i mean if it was possible to define a serializer, how does the serializer get serialized attribute values for each different type.

thanks

[2019-07-17 16:34] wasifhossain commented on #2345
i am sorry. but its hard to debug your case further with the info given above

[2019-07-17 17:09] Subomi commented on #2345
@wasifhossain Figured it out already. Thanks.

[2019-07-17 17:09] #2345 closed

[2019-07-17 17:28] wasifhossain commented on #2345
you are welcome! @Subomi

[2019-07-18 11:03] wasifhossain commented on #2346
@davideluque any updates plz?

[2019-07-18 11:11] davideluque commented on #2346
The object behaves like an array but it is defined by a search gem I am used called SearchKick. I can iterate over the results, print them, etc. Inside that object, there are mutiple Active Record Model objects, of different types and in a random order.

[2019-07-18 11:17] davideluque commented on #2346
@wasifhossain

I actually did not define a serializer for that `r` object, when I do

`render json: r`

Since it is an array, active model serializer serializes each of them with the default serializers

Is there a way that I can define a serializer for this array and then for each specific object inside the array specify a serializer? Example

[code]

[2019-07-19 18:44] pirvudoru commented on #2343
:wave:

[2019-07-19 18:44] #2343 closed

[2019-07-19 18:47] wasifhossain commented on #2343
nevertheless I agree with you @pirvudoru :+1:

should have followed the semver strictly. unfortunately we are not quite sure at this point in time if v1 would be released in near future, from which it would be easier to maintain the semver policy

[2019-07-19 20:05] bf4 commented on #2343
@wasifhossain 0.10 is supposed to be stable.  AMS is older than semver.  There shouldn't be breaking changes with 0.10.x. Just like rake of old, think of 0.10.x and 10.x

[2019-07-19 20:07] bf4 commented on #2343
@pethron I think you and @pirvudoru may be looking at master https://github.com/rails-api/active_model_serializers/blob/bd40fe68f0ba7332a4b86c793149ebbcd207ca9f/.travis.yml  the 0.10.x release comes from the 0-10-stable branch

[2019-07-19 20:21] wasifhossain commented on #2343
@bf4 thanks for the point.

in that case, should we consider a new version 0.10.x.y, where y would be for patch.

also what would be the policy for breaking changes like #2341, which was introduced in `0.10.10` since #2223. should we release 0.10.11 or 0.10.10.1

[2019-07-21 17:23] shijudevarajan opened #2349 "Root key ignored results/result is empty or nil"
`SHOW render json: @post, root: 'data'`
`INDEX render json: @posts, root: 'data'`
#### Expected behavior vs actual behavior
Response for SHOW API when the post is empty
**Expected**
[code]
**Actual**
`null`

Response for INDEX API when the posts are empty
**Expected**
[code]
**Actual**
[code]

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Enviro

[2019-07-21 21:19] LeKristapino opened #2350 "`root` key for :attributes adapter is pointless"
Before upgrading from 0.10.5 to 0.10.10 this line worked without any errors
[code]

Now it produces an error `undefined method 'model_name' for Hash:Class`.

Adding a `root` parameter (for example `..., serializer: SomeCustomSerializer, root: ''` fixes the issue.

BUT from the documentation [here](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/serializers.md#ro

[2019-07-22 20:51] wasifhossain commented on #2350
Hi @LeKristapino that was unfortunate. but upgrading to the latest HEAD of the `0-10-stable` branch should resolve the issue.

[code]

This PR fixes the case: https://github.com/rails-api/active_model_serializers/pull/2344

[2019-07-22 21:07] wasifhossain commented on #2350
@LeKristapino  I think I am wrong here. that PR does not fix the case yet! I see it now :(

Actually that was kind of like a side-effect while implementing the `fields` option for the `attributes` adapter: [docs/general/fields.md](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/fields.md)

can you please write a test for the scenario that you described, so that

[2019-07-23 11:48] LeKristapino commented on #2350
@wasifhossain  I think it would take me some time to understand the differences in mechanics for calling `SomeSerializer.new( {name: "John"}).to_json` and the differences with `render json: {name: "John"}, serializer: SomeSerializer` but in first case there is no problem (and wasn't before). The second case produces an error in 0.10.10 but was working fine in 0.5.10.

[2019-07-23 14:10] wasifhossain commented on #2350
@LeKristapino can you share some code to reproduce the fail case. Specifically how `SomeCustomSerializer` looks like when you pass `{first_key: "some string",  second_key: "another string" }` in `render json:` call

[2019-07-23 21:54] bf4 commented on #2350
@LeKristapino If you're trying to serialize a primitive like a Hash, AMS will get confused.  AMS is for models.  There's no way AMS can know what to do with a Hash.  I know this is documented both because I wrote it and because serializing Hashes comes up in issues periodically. When I've need to ensure that the thing I'm rendering doesn't use a serializer, I usually dump it to a string and pass t

[2019-07-24 01:11] aaronromeo commented on #1864
Does anyone know if there are any good blog posts about this? @bf4, I know this is some years later, but was your upgrade successful?

[2019-07-24 12:20] bf4 commented on #1864
Besides whether you can, do you want to?

[2019-07-24 13:10] pedrofurtado opened #2351 "Is v0.10.x still maintained?"

[2019-07-24 14:23] wasifhossain commented on #2351
yes.

you may take a look at https://github.com/rails-api/active_model_serializers#changes-to-010x-maintenance for details

[2019-07-24 14:23] #2351 closed

[2019-07-24 14:31] wasifhossain commented on #2350
@LeKristapino as bf4 mentioned, can you try your issue on other AMS versions later than 0.10.5 but earlier than 0.10.10 and let us know how you found it?

[2019-07-24 16:57] balen opened #2352 "undefined method `model_name' for Array:Class"
#### Expected behavior vs actual behavior

New Gem 0.10.10 should behave the same as the 0.10.9

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

Serializing an instance that contains an array. The code on line 387 of serializer.rb breaks because model_name is not a valid method for class:

[code]

#### Environment

ActiveModelSerializers Version *(comm

[2019-07-24 18:37] wasifhossain commented on #2352
can you please share some code that would help us reproduce the issue, as the code in the **Steps to reproduce** section is not helpful enough.

anything like `render` calls in the controller, [AMS::SR](https://github.com/rails-api/active_model_serializers/tree/0-10-stable#activemodelserializersserializableresource).new calls, serializer code etc would help. thanks

[2019-07-24 20:32] bf4 commented on #2352
@balen the change from 0.10.9 to 0.10.10 there doesn't shed light on your error

is https://github.com/rails-api/active_model_serializers/blob/v0.10.10/lib/active_model/serializer.rb#L383-L391
was https://github.com/rails-api/active_model_serializers/blob/v0.10.9/lib/active_model/serializer.rb#L381-L382

`[].model_name` continues to raise a `NoMethodError`

Unfortunately, you left off the actual e

[2019-07-24 20:32] #2352 closed

[2019-07-30 13:21] LeKristapino commented on #2350
@wasifhossain The breaking change came after 0.10.9.
0.10.9 Works as expected, 0.10.10 requires me to add `root` parameter.

As for the reason why I use AMS on a Hash - My DB JSON column has different key names as the API Response I am providing, but mostly it is so that I can create correctly formatted dates in the response instead of the plain format I have in my database JSON.

Sometimes I need

[2019-07-30 17:33] wasifhossain commented on #2350
@LeKristapino thanks for the insight.

btw AMS should have already covered the case, like: **formatting the attribute name or the value as needed by the api client**, and that is exactly the role of the serializer instead of doing anywhere else for an api response; which you got right - to do it in the serializer.

the only gotcha here is, if you need to change the name/value of a DB-backed field,

[2019-08-01 08:23] LeKristapino commented on #2350
I guess a good example would be something like:

DB has JSONB column `details`.

a persisted `Teacher` instance would have:
[code]

then `teacher_serializer.rb` would have something like:

[code]

and

[code]

Maybe the particular example doesn't make sense with JSON column being used, but I hope you get my point.

Of course I could make a separate model for the JSON column where I essentially wou

[2019-08-01 16:13] bf4 commented on #2350
@LeKristapino Thanks

The problem is that `TeacherDetailsSerialzer.new(object.details)` shouldn't work. AMS stands for ActiveModelSerializer. object.details is a hash, a primitive.  You'd need to do something like `TeacherDetailsSerialzer.new(TeacherDetails.new(object.details))` to process the details via AMS.

[2019-08-02 07:16] LeKristapino commented on #2350
@bf4 Right now my example works just fine (minus the `root`). As I mentioned, of course, you could make a model for the json first, but then it makes the serializer redundant since all the logic that is currently in the serializer would be in the model.

Wouldn't it be smarter to just support this use-case as well since it does not require any extra coding, just some tests which I could provide a

[2019-08-02 15:03] bf4 commented on #2350
@LeKristapino I'd be interested in see a PR with a Hash serializer. It's been brought up before. I don't follow the case myself.

[2019-08-06 08:27] #2346 closed

[2019-08-06 08:42] wasifhossain commented on #2346
@davideluque sorry to make delay. unfortunately I am still under loads of work before looking for the response for your case.

btw, have you already got the way how to do it. In that case, we are eager to know about it. Otherwise please allow me some more time to investigate the case. thanks

[2019-08-07 16:52] aaronromeo commented on #1864
@bf4 Sorry, I missed this message... What do you mean by do I want to? i.e. what are the advantages of AMS 10 over AMS 9? For me, I would like to get this done so I can move the project to Rails 5.

[2019-08-14 22:21] bmelton-mdsol commented on #2350
I believe I am having the same issue.  Definitely works with 0.10.9, does not work with 0.10.10.  I am passing a hash, root is false.  I get NoMethodError (described in the conversation for https://github.com/rails-api/active_model_serializers/pull/2223).  In 0.10.9 (and previous versions for some years prior) it sailed through fine, but now because of the fieldset addition to serializable_hash, t

[2019-08-15 16:06] bf4 commented on #2350
I'm honestly surprised that a Hash works at all as an input or that it would ever be the intended input object.

[2019-08-22 10:13] monorkin commented on #1908
Just ran into this issue this morning. @agalloch 's solution didn't work for me - I got `Unknown method jsonapi_use_foreign_key_on_belongs_to_relationship for Hash`.

I'm using the JSON::API adapter with AMS 0.10.7

Here is my workaround for the issue, it's far from elegant, but it works.

[code]

[2019-08-27 17:33] alexpanait opened #2355 "hash"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*:

#### Backtrace
*(e.g., provide any applicable backtr

[2019-08-27 17:33] #2355 closed

[2019-08-28 15:42] Loschcode commented on #2350
I've got the same problem going from `0.10.9` to `0.10.10` is there any workaround you guys figured already?

[2019-09-12 06:22] awadhwana commented on #2024
When serializing a model inside a namespace, such as Api::V1::Post, ActiveModelSerializers will expect the corresponding serializer to be inside the same namespace (namely Api::V1::PostSerializer).

[2019-10-04 17:18] heaven opened #2357 "Associations called twice"
#### Environment
rails 5.1.7
active_model_serializers 0.10.10

#### Actual behavior
All defined in a serializer associations called twice:
[code]

Tried with debugger and the block is called twice. Tried defining a block for `has_one :picture` – also called twice.

In the controller we have `respond_with(feed, adapter: :json_api, include: "**")` which is called just once. I also verified that `att

[2019-10-11 20:17] alexzherdev opened #2358 "FIPS 140-2 compatibility"
#### Expected behavior vs actual behavior
We'd like AMS to be compatible with FIPS 140-2 mode. This is currently not working because of the use of MD5 [here](https://github.com/rails-api/active_model_serializers/blob/ab47e983f587e93ece7ab2552537d1475a5eb234/lib/active_model/serializer/concerns/caching.rb#L59).

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example applicat

[2019-10-12 20:54] marselmustafin opened #2359 "Different field lists are not considered when caching"
## Expected behavior vs actual behavior
I have 2 following Rails actions:
[code]
[code]

Caching is enabled in environment config:
[code]

Fragment of response from first action:
[code]
#### Expected behaviour

Response from second action contains full list of fields defined in corresponding serializer:
[code]

#### Actual behaviour

Response from second action contains only `full-name` attribute

[2019-10-14 13:50] hugo-fonseca-bps commented on #2175
I'm having the same issue, and to set namespace on action not working too for me.

[2019-10-15 06:33] bf4 commented on #2358
sounds reasonable. surprising that it matters given the code's purpose

[2019-10-18 17:20] bf4 commented on #2175
Please open a new issue

[2019-10-18 17:20] #2175 closed

[2019-10-23 07:19] fzngagan commented on #825
Guys, I need to implement this in my project. What's the easiest way to implement this?

[2019-10-23 14:07] bf4 commented on #825
@fzngagan allow me to respond with the same level of detail

I tried to reproduce your problem, but `if:` works fine for me.

[2019-11-07 01:17] sferik commented on #2210
I ran into this issue recently and solved it with the following code:

[code]

[2019-11-07 03:34] bf4 commented on #2210
@sferik That's certain an acceptable solution, but shouldn't be necessary

Also, if you are forced into a scenario like this, you may prefer `render json: '[]'` since AMS and Rails ignore strings in the JSON renderer.

[2019-11-12 16:06] Kaakati commented on #2320
Works fine with Rails 6.0.0, and not yet with 6.0.1

[2019-11-12 16:11] wasifhossain commented on #2320
hi @Kaakati can you please elaborate the case with 6.0.1

thanks

[2019-11-13 00:52] Kaakati commented on #2320
@wasifhossain It was giving a 500 Internal Server Error, wasn't able to investigate much, I had to downgrade back to 6.0.0

[2019-11-13 11:19] wasifhossain commented on #2320
I will close this issue now. If you have more details on the problems, please open a new issue with those details. thanks

[2019-11-13 11:19] #2320 closed

[2019-11-14 17:23] bsylvain commented on #2250
I added a test to this file https://github.com/rails-api/active_model_serializers/blob/0-10-stable/test/action_controller/json_api/errors_test.rb

here  : https://github.com/bsylvain/active_model_serializers/blob/0-10-stable/test/action_controller/json_api/errors_test.rb

I added two methods : test_active_model_with_an_error_in_a_key_attribute to make the actual test and
render_resource_with_error

[2019-11-15 15:00] bsylvain opened #2363 "How to get the attribute key from the serializer ?"
I want to fix this issue : https://github.com/rails-api/active_model_serializers/issues/2250

To do so I need to ask to the serializer if an attribute has a key in the default serializer. From what I understand It should be done in https://github.com/rails-api/active_model_serializers/blob/0-10-stable/lib/active_model_serializers/adapter/json_api/error.rb

In the `self.resource_errors` method, it

[2019-11-19 16:47] belgoros opened #2364 "Serializing non-ActiveRecord objects fails"
#### Expected behavior vs actual behavior

[code]

#### Steps to reproduce
Here is the [gist](https://gist.github.com/belgoros/127a7e45104c27791f90daef01fab6c8) providing the required code snippets.

#### Environment

- ruby '2.6.5'
- gem 'rails', '~> 5.2.3'
- gem 'active_model_serializers', '~> 0.10.6'

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and v

[2019-11-19 17:17] bf4 commented on #2364
for posterity

[code]

that's odd. it appears to be ignoring the jsonapi adapter.

have you tried being explicit with the serializer?

also, you error response isn't actually valid jsonapi.

Please be aware, as written, you're asserting that it hasn't worked for anyone for years and the tests lie.  I wrote and used the PORO code with jsonapi, so it's something in your setup. I can't tell what you'

[2019-11-19 17:34] belgoros commented on #2364
@bf4 Yes, I know about error response, - I put there just to get feedback in any way. The main purpose was to be able to get a JSO API response. Another example, using a classic `Shop` model wth its serializer works as needed:
[code]
I've also tried to pass the explicite serializer as follows:
[code]
but it fails with:
[code]

[2019-11-19 18:28] wasifhossain commented on #2364
you probably need to pass the json_api adapter explicitly in this way
[code]

[2019-11-19 18:55] endash-gdm opened #2365 "Ability to specify `key_transform` as `render` option erroneously removed over 3 years ago"
#### Expected behavior vs actual behavior

As documented, you ought to be able to specify `key_transform` as an option when calling `render`. This doesn't actually work, because a bad merge 3.5 years ago deleted the requisite line from `SerializationContext`:

https://github.com/rails-api/active_model_serializers/commit/3498647d1a07b9e8a183702bef53cf1ce8a76370#diff-ea6de8747ad0fa42a5489132019568d8

[2019-11-19 19:14] #2358 closed

[2019-11-19 19:31] bf4 commented on #2364
@wasifhossain I'm closing this.  OP can include the stacktrace for the lib with the error if OP wants help from the lib maintainers.  Right now we know two things: 1) it works in general 2) it doesn't work for OP, and we don't know what's special about OP example

[2019-11-19 19:31] #2364 closed

[2019-11-19 19:52] wasifhossain commented on #2365
Hi. I think its working as documented here: [docs/general/key_transforms.md](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/key_transforms.md#key-transforms)

You may be interested to see it working fine in the test suite: https://github.com/rails-api/active_model_serializers/blob/873cf4add2bfa1ca1a96f63ed7d89912c4d253e4/test/action_controller/json_api/transfor

[2019-11-19 19:52] #2365 closed

[2019-11-19 19:54] endash-gdm commented on #2365
Great. It doesn't actually work in practice. That wouldn't be the first time a test inadvertently passed without actually validating the system under test. But if you want to just summarily close tickets when people have actually put real work and time into researching and tracking down problems, go right ahead. Just one more reason to jettison this library.

[2019-11-19 20:48] bf4 commented on #2365
@endash-gdm sounds like you may be able to write a failing test and propose a fix?

Thanks for your efforts.

For what it's worth, key_transform is a feature that has some performance issues and rough edges, and may be better handling in the client js library. I have in the past set the key_transform to unaltered for more predictable results.

[2019-11-19 21:33] belgoros commented on #2364
@bf4 What do mean under `OP`? (just to better understand your response)

[2019-11-22 12:26] fazo96 commented on #968
In case anyone like me was using a serializer manually like this: `MySerializer.new(record)` and could not figure out how to pass `include: ` it's done like this: `MySerializer.new(record).to_h(include: '**')` because passing this parameter to the constructor does not work.

[2019-11-22 12:32] wasifhossain commented on #968
@fazo96 this might help? https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/general/adapters.md#include-option

[2019-11-22 12:54] fazo96 commented on #968
Yes, we use it like that most of the time. However sometimes we need to include a serialized record inside a bigger hash structure that does not come from another active model serializer.

In those cases the include option has to be passed when calling `to_hash` or one of its aliases. I only figured this out by looking at the source code and could not find any documentation on this.

[2019-11-22 19:29] wasifhossain commented on #968
@fazo96 i see. i think its also documented on how to serialize a resource outside of a controller: [docs/howto/outside_controller_use.md#serializing-a-resource](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/howto/outside_controller_use.md#serializing-a-resource)

so you can pass every option to the `ActiveModelSerializers::SerializableResource` initializer that you wo

[2019-12-04 16:03] asad-ali-bhatti commented on #983
Some times you raise an exception from business logic layer where you don't know the status code because it is the responsibility of the controller layer. this solution won't work in that case. Or please correct me if I am wrong please

[2019-12-04 16:44] bf4 commented on #983
@asad-ali-bhatti three things

1. you're commenting on an issue closed 4 years ago, which is generally bad form
1. you're not providing any context for why your issue today relates in any way to code from 4 years ago
1. your proposal may suit you fine, but 1) it's not good design for non-request-handling code to know what response code to you 2) you inherited from `Exception` is a super bad idea.

[2019-12-13 11:07] frenkel opened #2366 "Performance hit when upgrading from 0.10.7"
Our API suddenly became a lot slower after upgrading from 0.10.7 to 0.10.10. I've bisected all commits in between and found that a9ea81a831b796487829637236ecbc9a3c63f140 is the commit that causes us this huge performance hit. We are not using caching.
What could we do to avoid this? I find it hard to create an isolated case as this is an API with numerous models and numerous records that are retur

[2019-12-13 15:44] wasifhossain commented on #2366
Hi. thanks for your report.

As its about performance, benchmarking your case would give some solid result and might help in debugging the case.

For example, you may use benchmark-ips, then use it for both 0.10.7 and 0.10.10 in separate way, and finally share the result with us.

[2019-12-16 07:31] frenkel commented on #2366
Thanks, I wasn't sure how to report this correctly. I've measured all versions in between as well. This are the results for one of or most important serializations in the API:
[code]

[2019-12-16 10:41] wasifhossain commented on #2366
@bf4 do you have some idea what would be the reason for the performance regression in the above case. I can't see it clearly from the OP commit

[2019-12-16 12:13] jughead commented on #2247
Looks like the signature of `has_many` changed. It now expects `serializer` according to tests: https://github.com/rails-api/active_model_serializers/blob/v0.10.10/test/fixtures/poro.rb#L110

[2019-12-16 21:59] bf4 commented on #2247
@jughead it doesn't require that and that's not the problem OP is having. OP wants to serialize some of the attributes as JSON objects using an AMS serializer

[2019-12-17 09:15] jughead commented on #2247
Indeed, is that https://github.com/rails-api/active_model_serializers/issues/2030 the right one?

[2019-12-17 13:03] bf4 commented on #2247
@jughead points for searching other issues, but no, that's talking about a different interface

[2019-12-17 13:03] #2247 closed

[2019-12-17 21:49] jcpny1 opened #2367 "Embedded association not using serializer #2247"
Issue #2247 was closed, but I'm having trouble figuring out what the resolution was.

[2019-12-17 22:42] bf4 commented on #2367
@jcpny1 I closed it because it was attracting off-topic conversation and was stale.

The resolution IMHO is as follows

1. Realize that the problem is really wanting to serialize an model-association as resource-attribute
1. Define the problem as 'how do I serialize a model using AMS'
1. Look up how to serialize a model using AMS and stick that in our attribute definition
1. profit

[2020-01-13 14:34] BKDruby opened #2372 "render_to_string serialization"
Could somebody help me?

I want to use `render_to_string` with options like
{:json=>"[array of objects]", :each_serializer=>AccountSerializer, :meta=>{:current_page=>1, :next_page=>nil, :prev_page=>nil, :total_pages=>0, :total_count=>0}, :filtered_by_category=>nil, :filter_by_locale__id=>nil}

But it requires `request` object. And I use it outside of controller.

So I want to return same response

[2020-01-13 15:39] bf4 commented on #2372
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

`render_to_string` is a controller method.  AMS has documentation for usage outside of controller

[2020-01-13 15:39] #2372 closed

[2020-01-29 04:03] blackst0ne commented on #2350
@Loschcode

You can use this workaround:

[code]

[2020-01-29 08:22] bf4 commented on #2350
@blackst0ne that is a bad fix for anything that might ever use another adapter as discussed above.

you mention

has anyone proposed something? I'm just trying to garden here.

[2020-02-13 23:56] #1915 closed

[2020-02-14 06:00] oyeanuj commented on #2252
@austinh @bf4 Is it possible to have AMS use oj? What changes did you make to make that happen?

[2020-02-23 01:09] tygryszcz opened #2378 ")"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*:

#### Backtrace
*(e.g., provide any applicable backtr

[2020-03-02 07:55] mashara-dev commented on #2133
so how do you solve this? @ramonlg

[2020-03-17 14:31] Viktor-Ivliev commented on #2142
`ActiveModelSerializers.config.adapter = :json`
the base serializer has a non-overridable adapter: attributes
https://github.com/rails-api/active_model_serializers/blob/v0.10.10/lib/active_model/serializer.rb#L138
`UserSerializer.new(user).to_json => {id: id, email: email .....} `
But if you use it like this:
`
ActiveModelSerializers::SerializableResource.new( record, serializer: serializer ).as_j

[2020-03-27 16:35] antoinesimonin opened #2379 "No serializer found for resource}"
#### Expected behavior vs actual behavior
Hi everyone,
I just begin on rails apps. I just switch from cedar14 into Herolu 18 a ruby / rails app.
I update gem file and pushed it into git. At the begining many depencies made failed deployment and finaly I succeed! But my app is not totaly load. My home page display a search bar and many filters depending data in Salesforce CRM. In my logs I can iden

[2020-03-27 18:52] wasifhossain commented on #2379
hi. could you please share the code which is raising the error. if its during rendering some json inside a controller, please share the controller namespace signature too. thanks

[2020-03-28 10:20] antoinesimonin commented on #2379
Hi wasifhossain.
I'm totaly beginner in rails app MVC. I'm apex developper and I don't know which part of the app is in error.
![2020-03-28_11h01_15](https://user-images.githubusercontent.com/15734447/77820565-6f92cc00-70e3-11ea-8d99-34e17f4d9612.png)
Here you can find the app architecture, can you tell me, witch file you want to see?

Here you can find logs in heroku :
`
2020-03-28T10:02:41.36165

[2020-03-28 18:17] wasifhossain commented on #2379
thanks for the info. could you share the `getallfilters` method from `FiltersController`

[2020-03-29 10:06] antoinesimonin commented on #2379
Hi Wasifhossain,

Here the method getallfilters from Ffilter_controller
`class FiltersController < ApplicationController

  caches_action :getallfilters

  respond_to :json

  def getallfilters
    puts "on geAllFilters"
    # login
    client = Restforce.new

    all_filters_value = []

    # High part
    # ------------------------

    # subsidiaries

    subsidiaries = client.picklist_values('

[2020-03-29 12:34] wasifhossain commented on #2379
to resolve the case, you need to introduce a class
[code]
and then make this small change in the last line (`render json: all_filters_value`) in the `getallfilters` method
[code]

If you are eager to know why you would need to introduce the Filter class that way, please refer to https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/howto/serialize_poro.md

[2020-03-29 16:09] antoinesimonin commented on #2379
Hi Wasifhossain,

Thanks it's seems that we fix the error, but I get another:
[code]

I'm watching your link to understand and learn on Rail MVC.

Anyway thanks you so much for your help.
I'm not sure I could succeed without you !

Regards,
Antoine.

[2020-03-29 16:13] wasifhossain commented on #2379
awesome! could you please paste line 266 from `filters_controller.rb`

[2020-03-29 16:31] antoinesimonin commented on #2379
render json: all_filters_value { |filter| Filter.new(filter) }

[2020-03-29 16:33] wasifhossain commented on #2379
got it! you might have missed a small part (`.map`) from what I shared in my post. i have pasted it again for clarification :)
[code]

[2020-03-29 16:34] antoinesimonin commented on #2379
ah my bad :p

Pushing it into git !

[2020-03-29 16:42] antoinesimonin commented on #2379
not yet ;(

[code]

any ideas?

Regards,

[2020-03-29 16:44] antoinesimonin commented on #2379
I guess same error  frm here ?

[code]

I hope I well understood ;p!

[2020-03-29 16:47] wasifhossain commented on #2379
i think the error comes from the same line as before. in this case, you need to prefix the Filter class with `::`
[code]
so the line would like
[code]
apart from this, you just need to make sure you have created the filter class under `app/models/filter.rb` with the content from https://github.com/rails-api/active_model_serializers/issues/2379#issuecomment-605629256

[2020-03-29 16:51] antoinesimonin commented on #2379
![2020-03-29_18h51_14](https://user-images.githubusercontent.com/15734447/77855041-3dba5c00-71ee-11ea-8b5d-680c89c3d209.png)

Here differents files in app/models

[2020-03-29 16:54] wasifhossain commented on #2379
i see the filter class is still missing from app/models. could you please create a file named `filter.rb` under `app/models` directory with the following content
[code]

[2020-03-29 16:55] antoinesimonin commented on #2379
![2020-03-29_18h54_02](https://user-images.githubusercontent.com/15734447/77855099-a570a700-71ee-11ea-8b1e-a19a21046acb.png)

Ok I create it but it existed in app/serializers/filter_serializer.rb

I make changes !
Thanks !

[2020-03-29 16:59] wasifhossain commented on #2379
basically you need 2 files for the serializer to work:
1. the **model** class that provides access to different methods (**Filter** class in `app/models/filter.rb`) and
2. the **serializer** class that serializes fields (**FilterSerializer** class in `app/serializers/filter_serializer.rb`)

in your case, the 2nd file is already present. now you just need to put the 1st file in place to make the se

[2020-03-29 17:00] antoinesimonin commented on #2379
Ok thanks for infos!

It's pushing into git.

And once again thanks a lot !!

Regards,
Antoine.

[2020-03-29 17:01] wasifhossain commented on #2379
np! would be glad if it works :)

[2020-03-29 17:08] antoinesimonin commented on #2379
Hey no more errors, but my filters are not display on my home page :(

[code]

![2020-03-29_19h06_13](https://user-images.githubusercontent.com/15734447/77855381-617ea180-71f0-11ea-9393-ea762fc7edcf.png)

I'm a bit disapointed :(.

Here all logs from my git push :

[code]

If you want me to share my screen let me know?

Thank you !

Regads,
Antoine

[2020-03-29 17:25] wasifhossain commented on #2379
as the issue relevant to the original post is resolved, I think we can close this and open a new one describing your current issue (but I fear it's out of scope of this gem)

[2020-03-29 17:26] antoinesimonin commented on #2379
Well ok thank you so much! anyway!
I close thank you for help !
I will try tomorrow morning to find a new approch and fix it !

Thank you again!

Regards,
Antoine.

[2020-03-29 17:26] #2379 closed

[2020-03-29 17:27] wasifhossain commented on #2379
we appreciate your efforts :+1:

[2020-05-04 09:16] adis-io commented on #1554
Any update on this?

BWT If you don't want to mutate original collection, just return :nil
[code]

[2020-05-13 21:15] #1337 closed

[2020-05-19 12:29] Sakaki-Ya opened #2381 "Is there a way to render attributes and variables together in JSON?"
#### Question
It may not be related to Active Model Serializer, but let me ask you a question.

For example, the following action...
[code]

I want to render the user information and token as shown in the JSON below.
[code]

The Serializer is as follows.
[code]

Is there a way to generate this JSON?
I would appreciate it if you could tell me how to do it better.
Thank you.

#### Steps to reproduce

[2020-05-19 18:04] wasifhossain commented on #2381
you can use [ActiveModelSerializers::SerializableResource](https://github.com/rails-api/active_model_serializers/blob/0-10-stable/docs/howto/outside_controller_use.md) anywhere the same way as you serialize a json using `render`

[code]

[2020-05-20 05:56] kofiasare commented on #2221
adapter: nil works.

[2020-05-21 01:35] Sakaki-Ya commented on #2381
Sorry it took me so long to reply.
I was able to render the JSON as I wanted.
Thank you so much.

[2020-05-21 11:09] #2381 closed

[2020-05-21 12:00] werleo commented on #2350
as a workaround, we added
[code]
and all other serializers just inherit from it.
It works for us as we don't have root objects in our json responses.
It was also a small change as we already had BaseSerializer implemented.
I hope it will help someone and I personally would like to see a fix for it.

[2020-05-26 17:15] lfv89 opened #2382 "Add ancestors accessor to nested serializer"
#### Feature Request

TL;DR: add `ancestors` method to a serialize instance

In the same way that it is possible to access `scope` and `object` inside a serializer instance, we'd also like to access its `parent` and so on... Maybe an `ancestors` method that makes it possible to access the "ancestors" of a nested serializer instance.

The use case for this feature came from an authorization impleme

[2020-05-26 20:23] wasifhossain commented on #2382
would be awesome to see a PR covering tests, which would help us to understand the feature request more clearly. thanks

[2020-05-28 13:16] Piioo commented on #1091
Used this:

[code]

[2020-05-29 02:50] #1457 closed

[2020-05-29 02:51] #1834 closed

[2020-05-29 02:52] #1842 closed

[2020-06-13 06:31] juliolugo96 commented on #2280
Sorry for delayed response. I hope this could help someone who has this same problem.

As far as I concerned, I used `initialize()` method; however, I think you can use the `new` method too, if I'm not misintrepreting what it's pointed in the[ docs ](https://www.rubydoc.info/gems/active_model_serializers/ActiveModelSerializers/SerializableResource).

Hope it helps. Cheers!

[2020-06-16 04:06] bf4 commented on #2280
yeah, it should read `ActiveModelSerializers::SerializableResource.new`

@juliolugo96 `new` is a class method `initialize` is an instance method (called by the class method `new` on the return value of the class method `allocate`)

[2020-06-16 21:37] juliolugo96 commented on #2280
@bf4 That's right. Thanks for the clarification, I'll update my comment.

[2020-06-24 05:05] Dhirendra24 commented on #582
We can also override `read_attribute_for_serialization`.
[code]

[2020-06-26 14:35] wasabigeek opened #2384 "JsonApi::Deserialization YARD docs are misleading"
#### Expected behavior vs actual behavior
In the YARD docs it suggests that using a symbol-keyed hash will work:
https://github.com/rails-api/active_model_serializers/blob/v0.10.10/lib/active_model_serializers/adapter/json_api/deserialization.rb#L22

But in the code, it will actually check via string-keys:
https://github.com/rails-api/active_model_serializers/blob/v0.10.10/lib/active_model_seriali

[2020-06-26 17:55] Malachi-Holden commented on #599
I tried @options, @instance_options, and serialization_options, no luck on any of them. I'm using v 0.10.6. @options and @instance_options are always nil, and serialization_options gives me a undefined local variable or method `serialization_options'
Has this changed again? What's the latest term?

[2020-06-26 18:06] Malachi-Holden commented on #599
I also tried instance_options (without the @) and it still didn't work. Undefined method or variable

[2020-06-27 00:49] wasifhossain commented on #2384
it says about the `keys` option; not about the `data` found inside the JSON API document.

you may take a look at an example how it can be used:

https://github.com/rails-api/active_model_serializers/blob/873cf4add2bfa1ca1a96f63ed7d89912c4d253e4/lib/active_model_serializers/adapter/json_api/deserialization.rb#L67-L69

[2020-06-27 00:49] wasifhossain commented on #2384
because `payload` is expected to be either a valid JSON API document, or `ActionController::Parameters`, as mentioned in:

https://github.com/rails-api/active_model_serializers/blob/873cf4add2bfa1ca1a96f63ed7d89912c4d253e4/lib/active_model_serializers/adapter/json_api/deserialization.rb#L18

and in the latter case, its converted to a hash with string-keys, as can be seen in:

https://github.com/ra

[2020-06-27 00:55] wasifhossain commented on #2384
to be honest, I have found one gotcha though: it should be `relationships` according to the [JSON API spec](https://jsonapi.org/format/#document-resource-object-relationships) in place of `associations` on L35, as found in:

https://github.com/rails-api/active_model_serializers/blob/873cf4add2bfa1ca1a96f63ed7d89912c4d253e4/lib/active_model_serializers/adapter/json_api/deserialization.rb#L27-L56