[2015-03-09 16:34] migeorge commented on #831
+1

[2015-03-09 17:57] joaomdmoura opened #832 "AMS Benchmark tests"
AMS represents a crucial part at an application and it can impact performance (good or badly).
The goal is to make AMS an tool that not only helps you to bring convention over configuration to your JSON generation, but also give you the tools that might help your apps performance.

In order to do this would be great to have some benchmak test that help us to evaluate how much a feature / bug_fix /

[2015-03-09 19:14] dzoltok commented on #573
Issue still seems to be occurring on Rails 4.2.0, AMS 0.9.3, but for me it's occurring in a regular controller. Using the workaround above results in an error "undefined method `build_json' for SomeSerializer:class"

[2015-03-10 00:51] JoshSmith commented on #832
I think it's a great idea, especially after seeing this last week: https://is-ember-fast-yet.firebaseapp.com/

I don't feel one way or another about the implementation of it, but I think in general the concept is a good one. :+1:

[2015-03-10 00:52] JoshSmith commented on #831
@Criten we're not quite sure how to handle documenting `master` which is `0.10.x` and significantly different from `0.9.x`.

Do you have plans to migrate forward when `0.10.x` is released? How about you @migeorge?

[2015-03-10 01:51] Criten commented on #831
Hey @JoshSmith, does `0.10.x` provide a way to serialize with without going through ActiveController's render paths? If so I believe it requires a mention in the documentation.

The documentation on `master` should reflect `0.10.x`, maybe provide a link to the `0.9.x` documentation? Just my opinion :)

[2015-03-10 01:52] JoshSmith commented on #831
@Criten want to open a PR that provides such a link to `0.9.x` from `README.md`?

[2015-03-10 01:53] JoshSmith commented on #831
I'm not familiar enough with `0.10.x` to provide a satisfactory answer to your broader question.

[2015-03-10 02:33] JoshSmith commented on #604
@KurtRMueller would you be alright with closing this since this is quite outdated?

[2015-03-10 02:35] JoshSmith commented on #622
@magg did you try an updated `0.9.x` release?

[2015-03-10 08:22] thibaudgg commented on #827
@joaomdmoura you're right "mandatory" is too strong, but definitely great to have.
My point with associations is to have each object cached separately, so for example if you load & cache a `post` with `comments` and you want to load just a `comment` after it should already be cached.
I guess that @kurko's [comment](https://github.com/rails-api/active_model_serializers/pull/810#issuecomment-7791704

[2015-03-10 13:34] joaomdmoura commented on #827
Yeah @thibaudgg we discussed it yesterday and we'll move forward with this strategy! :smile: I'm not sure if ```fetch_multi``` will be used to associations yet, but they will be cache separately

[2015-03-10 13:37] thibaudgg commented on #827
Great, keep up the good work!

[2015-03-10 23:05] joaomdmoura commented on #832
Great! @kurko also liked the concept. I'll put it in my queue :smile:
btw #833 is exactly the kind of thing that would make a benchmark suite amazing

[2015-03-10 23:17] JoshSmith commented on #832
That's a great example @joaomdmoura.

What are your thoughts about how to implement this?

[2015-03-11 00:15] lsylvester opened #834 "JSONAPI resource relation urls"
Currently, the jsonapi adapter adds resource relationships as link objects with ids and types. The jsonapi spec also allows the the resource relationship to be defined as a URL (see http://jsonapi.org/format/#document-structure-resource-relationships). For example:

[code]
There is currently no way to do this using ActiveModel::Serializers as far as I can tell.

I propose that there should be a `:

[2015-03-11 00:29] kenips commented on #802
thanks so much for your work @joaomdmoura :beers:

[2015-03-11 00:49] joaomdmoura commented on #834
It seems a good proposal but I'm not so sure how many of AMS users are using this pattern.
About the implementation itself it think there is no need for ```[:article, :comment]```.```URL``` might be just a flag.

Ex.

[code]

But would be cool to hear more thoughts about it. btw keep up the good work! :smile:

[2015-03-11 01:13] joaomdmoura commented on #832
Right now I've 2 different implementation on my mind.

1. Use a new file to keep history and ```Benchmark``` module ([link](http://ruby-doc.org/stdlib-2.2.0/libdoc/benchmark/rdoc/Benchmark.html)). This implementation will take into account the code it self.

2. Use and external service like [Loader.io](http://loader.io/), that is freemium and simulate real requests.

I'm tending to the first optio

[2015-03-11 01:17] gwagener commented on #671
Have you tried adding modules `V1` and `V2` to your serializers so they match the directory structure? I did something similar and I can't remember if I then had to explicitly specify the serializer in the `render` call, but I got it working.

[2015-03-11 01:19] JoshSmith commented on #832
I would prefer the first option, I think, (or something like it) since that seems closer to our code and doesn't rely on any external service.

Have you also seen https://github.com/rails/rails-perftest?

[2015-03-11 01:20] gwagener commented on #573
I think upgrading to 0.8.3 fixed this for us with Rails 4.2, but code has changed so I can't check anymore. Can someone verify?

[2015-03-11 02:14] lsylvester commented on #834
So the url would be generated by something along the lines of `url_for(object, association_name)`.

That works for me.

[2015-03-11 04:04] joaomdmoura commented on #832
Agreed. I didn't knew it, but seem great. I'll check it out to see if we can use it or at least have some ideas.

[2015-03-11 11:40] frahugo opened #835 "JSON adapter does not handle nested associations"
It only supports the associations in the model being serialized.  For instance if you serialize Blog, it will serialize the posts, but not the comments of each post.

This line https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json.rb#L14 should probably be changed to get a `serializable_hash` instead of just attributes.

This was discovered whil

[2015-03-11 15:30] magg commented on #622
@JoshSmith

Thanks guys, it works in the later releases.

Sorry for the late response. I'm closing the issue.

[2015-03-11 15:30] #622 closed

[2015-03-11 15:30] JoshSmith commented on #622
Thanks @magg!

[2015-03-11 21:22] joaomdmoura commented on #835
I actually thought about it yesterday!
I even tried to make some tests with it locally, but it didn't seem to be the right direction.

1. Defining ```serializable_hash``` as the default behaviour would result in bigger payload.
 - It's a not a good convention.
 - Taking into account Mobile First *(it isn't just about screen size, network is part of it too)*

2. It would make the AMS a little bit s

[2015-03-11 21:26] joaomdmoura commented on #826
I'm not sure but I haven't seen any support to this at AMS.
It seems a valid idea, but could you explain the benefits of removing associations key from the hash? Why have you chosen this approach?

[2015-03-11 22:03] gwagener opened #838 "0.8 :only and :except options don't support filtering by keys"
When setting attributes with `attribute` you can specify a `key` value that will be used in the serialized JSON. However, if you pass options values for `:only` or `:except` they only work on attribute names, not keys.

Filtering by keys would be useful in order to allow API consumers to specify the data they're interested in because they only know about the key. There is a workaround of including

[2015-03-12 01:41] a5sk4s commented on #835
+1

dealing with the very same issue at the moment with an inherited app - i agree that our request is humongous, but it's cached on the mobile client as i've been told

i was expecting that I could define a nested includes and pass the object to the serializer and it would use it, but as far as i can tell now, it stops at level one, even though the active record object has everything loaded alrea

[2015-03-12 06:11] nitinstp23 commented on #826
I'm just thinking loud here, other gems like `jbuilder` have that kind of flexibility, then why not AMS?

Ideas @joaomdmoura ...

[2015-03-12 23:53] lsylvester opened #839 "JSONAPI linkages"
The jsonapi spec has changed the way resources are linked to.

Instead of having a `type` and `id` keys, it now has a "linkage" key that contains the "id" and "type" keys.

See https://github.com/json-api/json-api/pull/447 for details.

The jsonapi adapter should be updated to reflect this change in the spec.

[2015-03-16 02:27] JoshSmith commented on #835
I think in general this is not a good convention because of the bigger payload, as you said.

Maybe as an option, but I don't think allowing for all this configuration is a good idea, especially when it runs counter to a convention.

[2015-03-16 02:28] JoshSmith commented on #838
@gwagener do you intend to upgrade to `0.10.x` when it's ready? If so, I'd opt for that, and IMO work on `0.8.x` should really die off.

[2015-03-16 02:31] gwagener commented on #838
I always like to stay up-to-date with my gems, so yes. I haven't checked whether this works in 0.10 or not or if things are different enough with the fieldsets that it's irrelevant. If it's relevant and missing from 0.10 it would be a nice feature for that.

[2015-03-16 02:58] JoshSmith opened #844 "Add link to StackOverflow tagged questions to documentation"
As I said in #843:

I think we should actively encourage folks to ask questions on StackOverflow with the AMS tag, and put some documentation in here about that. It would require more than a few of us to actively monitor SO and help where we can.

I don't think this should be taken lightly, as it will require active work, and possibly require us organizing a larger community around AMS than the cu

[2015-03-16 03:31] JoshSmith commented on #826
I'm not sure I understand the use case. I think that's what @joaomdmoura is fishing for. Could you give me an example?

I feel like it's useful to know that the user doesn't have addresses by having the empty array. This seems indicative of the fact that they could have them, but do not. Lacking the key altogether would indicate to me that `addresses` are not even a concept for the user.

[2015-03-16 03:39] joaomdmoura commented on #844
:+1:

[2015-03-16 06:11] nitinstp23 commented on #826
Agreed @JoshSmith  :+1:

And I can't think of a valid example for this for now. ;)
Closing...

[2015-03-16 06:11] #826 closed

[2015-03-16 06:13] JoshSmith commented on #826
Hah, alrighty!

Please keep opening issues like this though @nitinstp23! The more thoughtful people we have here the better :facepunch:

[2015-03-16 14:01] frahugo commented on #835
John, when you say that it runs counter to a convention, why do you mean by that? If people want to follow a convention, they could possibly go with JSONAPI instead.  The issue here is more of a backward compatibility issue.

We could use the same option as JSONAPI:

`render @posts, include: ['authors', 'comments']`

[2015-03-16 15:05] JoshSmith commented on #835
@frahugo is right in this case.

[2015-03-16 15:06] JoshSmith commented on #835
@joaomdmoura is this something that's already handled by the `ActiveModel::Serializer::Adapter::JsonApi`?

[2015-03-16 15:29] joaomdmoura commented on #826
:+1:  @nitinstp23 keep up the good work!

[2015-03-16 19:56] mateuslinhares commented on #844
:+1:

[2015-03-16 20:24] colinreidbrown opened #845 "0.9.3 boolean attrs returns method missing"
in 0.9.3 the following returns method missing where previous versions did not:
[code]
[code]
would also return the declared attr before but 0.9.3 returns the method name instead of the declared attr name fyi

[2015-03-16 22:07] steveklabnik commented on #829
We just labeled an RC3, and are gonna stop changing so that you all can implement stuff :heart:

https://github.com/json-api/json-api/issues/484

[2015-03-16 22:43] JoshSmith commented on #835
Here's a link to reference my above quote http://jsonapi.org/format/#document-structure-compound-documents

[2015-03-16 22:46] JoshSmith commented on #835
@frahugo I think this should be handled by the [`JsonApi adapter`](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json_api.rb), and not the `Json` adapter.

[2015-03-16 22:48] JoshSmith commented on #835
This adapter, according to the documentation, does the following:

`render @posts, include: ['authors', 'comments']`

Am I misunderstanding the issue you're having? Do you want this to also be handled by the `Json` adapter itself?

[2015-03-17 01:00] joaomdmoura commented on #835
@frahugo What @JoshSmith and I meant was that it is not usual and not a convention to choose big payloads including ever object related to the resource you are retrieving.

Indeed the JsonApi adapter already enables you to retrieve included resources, but it's just one level deep.

There is a work-around to this that would be define a method at your serializer.
Imo if decide to move forward on thi

[2015-03-17 01:44] frahugo commented on #835
A work-around would be awesome.  We have existing apps that expect a JSON structure as in 0.9.x. So as long as we can provide the same JSON and that caching works, that would be awesome.

[2015-03-17 17:11] joaomdmoura commented on #835
@frahugo the work around would be something like bellow:

Instead of use ```has_many :comments```, you can add it as an attribute and define a method that will overlap it's value, inside this method you can mount any kind of object you want. In the example bellow I'm returning also the user that is related with the comments. do this solve your problem?

[code]

[2015-03-17 18:06] j4rs commented on #211
Why don't just use the relationship-attribute to access the object it belongs to?. In the example a comment access the post it belongs to using the attribute **post** avoiding the has_one:
[code]

[2015-03-17 18:40] frahugo commented on #835
Would it support caching?  Caching is the main reason why we want to go with the latest code.

[2015-03-17 18:49] joaomdmoura commented on #835
Hell yeah! :smile:
You will find everything you need at #693
All you will need to do is add ```cache``` method:

[2015-03-18 15:53] mrbrdo opened #846 "embed: :ids requires fully loaded objects and their associations"
I would expect `embed: :ids` to only get the ids of the objects, however it seems that it constructs Serializers for each of these objects and requires them to be fully loaded. Moreover, it seems to even touch the associations of these associated objects. This is terrible from a performance standpoint since it recursively does queries for all the associations.

Why is this the case and can this be

[2015-03-18 17:43] ajkochanowicz commented on #70
@josevalim I don't understand how this answers @ahawkins 's question.

It seems to me that we should be able to tell the render to just use a serializer "because I said so"?

[2015-03-18 18:38] dgdosen commented on #548
Still an issue! Need a pull request?

[2015-03-19 11:29] zekefast commented on #829
Guys, do you need any help with that? Please, let me know! I want to faciliate development of 0.10.x and json-api standard support.

[2015-03-19 12:55] kurko commented on #829
I won't have time to work on this until mid april. @zekefast do you have some time to craft a PR? I have time to review 😄

[2015-03-19 13:38] moger777 opened #847 "scope not passed to has_one serializer"
If I have a parent object being serialized with a has_one relationship, the has_one serialization won't have access to the scope object. The scope object will be nil instead of current_user or anything you pass as a scope option.

[2015-03-19 14:08] #847 closed

[2015-03-19 14:09] moger777 commented on #847
sorry, was using serializer_for manually somewhere and forgot to pass option

[2015-03-19 18:34] zekefast commented on #829
@kurko, Yes, I do.

So, we need look into the difference of current implementation and RC3 and fill it right?
Do you have any info about currently implemented version of JSON-API standard?

[2015-03-19 20:16] mateomurphy commented on #829
I'm currently implementing these changes for my own use, I can also submit a PR when I'm done

[2015-03-19 20:27] mateomurphy opened #848 "Overriding association methods"
While going through the tests, I noticed a behaviour that seems wrong to me, but I want to validate before submitting a fix:

We have a serializer:

[code]

And the following test setup (edited for clarity)

[code]

And that gives the following output

[code]

Now, with the overridden association, I would expect it to always return blog: "999", but it only does so if Post has a value for blog. Is

[2015-03-19 22:25] kurko commented on #829
@zekefast current master is supporting RC1. We have to move into using `data` as root key. @mateomurphy can you coordinate with @zekefast :D

[2015-03-19 22:32] JoshSmith commented on #846
Not to discourage users of `0.9.x` too terribly much, but since that branch is kind of a dead end, I would not expect a lot of performance work done there. We're generally rallying efforts around `0.10.x` and beyond, which means you'll find the majority of work headed in that direction.

[2015-03-19 22:32] JoshSmith commented on #848
What version are you on?

[2015-03-19 22:35] mateomurphy commented on #848
@JoshSmith  latest master: the test code I've pasted above is from here https://github.com/rails-api/active_model_serializers/blob/master/test/adapter/json_api/collection_test.rb

[2015-03-19 22:36] JoshSmith commented on #848
Thanks!

[2015-03-19 22:37] mateomurphy commented on #829
@zekefast do you have anything done already, or when were you planning on working on this? I've started already as our app needs to support RC3.

[2015-03-19 22:45] jasonkriss commented on #829
I haven't started any work on this yet, but it's something that I'd love to land asap. I'd be happy to help. @mateomurphy is there a way we could see what you've done so far?

[2015-03-19 23:43] kurko commented on #848
@mateomurphy yes. Likely in `serializer#each_association`. Would you venture a PR? :smile:

[2015-03-20 03:29] mateomurphy commented on #848
Here: https://github.com/rails-api/active_model_serializers/pull/850

[2015-03-20 03:31] mateomurphy commented on #829
I can put together a PR tomorrow

[2015-03-20 04:09] wasaylor opened #851 "'cache' method undefined for ActiveModel::Serializer"
Trying to test AMS caching here. The class is missing the method all together. Any ideas? Using gem version 0.9.3. Cache config is redis_store

[2015-03-20 04:24] mateomurphy commented on #848
Found another bug in the same method https://github.com/rails-api/active_model_serializers/pull/852

[2015-03-20 04:25] joaomdmoura commented on #848
@mateomurphy :+1: keep up the good work!

[2015-03-20 04:27] jasonkriss commented on #829
That'd be great. Thanks @mateomurphy!

[2015-03-20 08:23] zekefast commented on #829
@mateomurphy, I haven't done anything yet. I can look into your PR today and we can then coordinate work further. Please, let me know what's lack in your PR and what part of spec is missing in it.

Thanks!

[2015-03-20 09:46] ipkes commented on #851
same problem.
there is an [alternative](http://blog.zigomir.com/active_model_serializers/rails/caching/2014/08/27/active-model-serializers-caching.html).
i can propose a more complex hook, if you trying to cache object in collection, with custom name serializer. for example:
[code]

JSON.parse(...to_json), looks terrible =) but it works
OR you can use 0.8
Anyone knows, 0.9 much more faster than 0.

[2015-03-20 20:16] mateomurphy commented on #829
Mostly done: https://github.com/rails-api/active_model_serializers/pull/853 the main thing remaining are the URLs in links

[2015-03-20 20:29] mateomurphy commented on #839
Implemented in #853

[2015-03-22 21:42] mrbrdo commented on #846
It's not a performance tweak that much, I am working on https://github.com/kundi/active_loaders and because of this issue I cannot do preloading for embeds: :id assocs. Forgive me as well but `0.10.x` has been started quite a while ago so I am looking for a more short-term solution. I also took a look at current master before and it doesn't seem it even has embeds id implemented.

[2015-03-22 23:55] JoshSmith commented on #848
Closed by #850. Also excellent work in #852.

[2015-03-22 23:55] #848 closed

[2015-03-23 00:40] JoshSmith commented on #779
@tilo ping.

[2015-03-23 14:44] yawboakye opened #854 "Json root is always capitalized"
AMS always capitalizes the JSON root without regard to the value. That is, the root is capitalized whether the value is a single object or an array.

[2015-03-23 16:11] yawboakye commented on #854
So I just realized PR #839 updates the JSON API adapter to the latest spec which requires that all root strictly be called `data`. Closing this issue then!

[2015-03-23 16:11] #854 closed

[2015-03-23 18:45] ccaratori opened #855 "@options variable exists"
In the active_model_serializers 0.9.3 the `@options` variable is not initialized anymore. This prevents users from passing custom options to the serializer.
Was this on purpose? If it was, is there any other way to pass custom options to the serializer?

[2015-03-23 21:18] wasaylor commented on #851
Btw - I'm not set on 0.9.x. It happened to be the version installed by gem. I'm open to the best supported version. Just let me know which one that is. Thanks

[2015-03-24 13:01] OpakAlex opened #856 "0.8.x NoMethodError (undefined method `object' for )"
This happens when i try load has_many with include true, and embed: :ids

[2015-03-24 15:40] brancusi commented on #809
Bump, same issue here. Thanks.

[2015-03-24 18:34] joaomdmoura commented on #851
@wasaylor the greatest version will definitively be the 0.10.0 (it may become 1.0).
The thing is that it still wasn't officially launched, but we are already conducting some productions tests with it.
I'm not so sure if 0.8 would be a easy trade, but you should give it a try.
You might also want to test 0.10.0, but use it carefully and help us by reporting if you find a bug.

[2015-03-24 18:45] joaomdmoura commented on #809
Tks @AW-UC .
Indeed we had the same problem when developing ```0.10.0```, but we fixed it.
I'm more into the ```0.10.0``` development, so I'm not sure about ```0.9.x```, but I can see where it would fail to replicate this error.
```0.10.0``` wasn't release yet but we are already conducting some production tests with it.

[2015-03-24 19:34] AW-UC commented on #809
@joaomdmoura Great to hear it is fixed. Is there a test for this case? Would be so easily testable...

[2015-03-24 19:34] kurko commented on #855
I don't remember  anyone removing it. Can you PR a failing test?

[2015-03-24 19:36] kurko commented on #846
Not sure JSONAPI is your thing, but master implements `embeds: :ids` in that adapter: https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json_api.rb#L153

It can definitely be improved on 0.9, though. If you definitely need it, is there any chance you could craft a PR?

[2015-03-24 19:41] kurko commented on #829
yay closing

[2015-03-24 19:41] #829 closed

[2015-03-24 19:52] kurko commented on #844
Yes, let's do it. :D

[2015-03-24 19:54] mrbrdo commented on #846
Ok, I got confused by https://github.com/rails-api/active_model_serializers/blob/master/test/serializers/associations_test.rb#L47 - I thought you were planning to implement it but it's not yet. Perhaps an outdated test?

I will see if I have spare time for a PR. For now we just manually output the IDs instead of using embeds. Would you also please keep this in mind for future versions? I don't hav

[2015-03-24 20:29] jensbjork opened #857 "Using include_<association>? in 0.10.x not working?"
In a nutshell, I have the following scenario:

Controller:

    def index
        associations = params[:include] ? params[:include].split(",").map { |v| v.to_sym } : nil
        @posts = @posts.includes(associations)

        if @posts
            render json: @posts, include: params[:include]
        else
            render nothing: true, status: 404
        end
    end

Serializer:

    class P

[2015-03-24 21:03] ccaratori commented on #855
My mistake @kurko, it is initialized as you said. My problem might be somewhere else.

[2015-03-24 21:03] #855 closed

[2015-03-24 22:04] ccaratori commented on #855
Just to close this matter, the 0.9.3 version took a different approach to custom options.

As it shows in the `active_model_serializers/test/unit/active_model/serializer/options_test.rb` v.0.9.3, the custom options are accessed through the context method
[code]

In the v.0.8.3 and the current master branch they are accessed through the @options variable

[2015-03-24 23:42] joaomdmoura commented on #809
@AW-UC I think there isn't an specific test, but it's covered by other tests for sure.

[2015-03-25 14:42] kurko commented on #846
@mrbrdo hmmm it's implemented in master. I think that if you're on 0.9 and need a short term solution, you should stick to 0.9. Trying master will likely consume you some time. If you PR against 0.9, I can review it pretty quick and try to merge it asap.

yes, only `ids` are used by convention. I think that if people want other non-conventional primary keys, they can PR then.

[2015-03-26 07:38] deependersingla opened #859 "active_model_serializers issue undefined method `read_attribute_for_serialization' for {:template_name=>"sample", :template_id=>1, :count=>1}:Hash"
Hello team,

First off thanks for writing this gem, we use the 0.8.1 version in our app and it works great for us.

This is some strange error which we just start getting on production and will try my best to explain.

Code for one serializer
[code]

Both method achievements_summary and templates_summary are custom methods which give array of hashes as output.

Output response locally for serializ

[2015-03-26 09:53] EtienneDepaulis opened #860 "Namespacing serializers does not work"
Hi,

I've been using AMS for few months and I still struggle on the same problem for every single API I try to build with AMS. Let me take a very simple exemple with a `Post` which has_may `Comments`.

When I go to `/comments.json`, I have a collection of `current_user.comments`
When I go to `/posts.json`, I have a collection of `current_user.posts`
When I go to `/posts/4.json`, I have the `post`

[2015-03-27 05:25] tricknotes commented on #754
Fixed by https://github.com/drapergem/draper/pull/596 .
draper 2.0 or later works fine with AMS.

[2015-03-27 14:08] kurko commented on #754
Giving this a close :smile: Thanks

[2015-03-27 14:08] #754 closed

[2015-03-27 15:02] joaomdmoura opened #862 "Add Support to serialization_scope"
Older versions supported ```serialization_scope``` method in order to define an scope variable that could be used inside the serializers.

People usually use the ```serialization_scope``` in order to access ```current_user``` or other dynamic data.

Unfortunately the ```0.10.0``` version still doesn't supports it, so, I'm opening an issue before submitting a PR.

I'm, thinking about a new implemen

[2015-03-27 16:09] zekefast commented on #829
@mateomurphy, @kurko thank you guys!

[2015-03-27 21:40] afeld commented on #202
FYI, Rails now gives this warning:

https://github.com/rails/activesupport-json_encoder

[2015-03-27 23:14] joaomdmoura commented on #862
Never mind hahah I found the ```serialization_scope``` implementation on ```0.10.0```.
I'm closing this.

[2015-03-27 23:14] #862 closed

[2015-03-28 01:04] JoshSmith commented on #862
Haha @joaomdmoura :-1:

[2015-03-28 07:21] JoshSmith commented on #856
Can you provide a full example? Thanks @OpakAlex!

[2015-03-28 07:39] JoshSmith commented on #860
Hey @EtienneDepaulis, I would say that something like this is an API design question better suited for StackOverflow and perhaps tagged with `active-model-serializers`.

I think you're misunderstanding how something like this might work.

What you really want is something like:

[code]

[code]

Does this make sense?

[2015-03-28 07:40] JoshSmith commented on #860
Also, I would try to familiarize yourself more with jsonapi.org which is certainly where this is heading.

[2015-03-28 08:25] OpakAlex commented on #856
it works on 0.9.3

[2015-03-28 08:25] #856 closed

[2015-03-29 02:00] dts opened #864 "Less-hacky way to get at `_associations`?"
I want to write my collection_serializer so that it smartly uses `includes` in all the places it can reasonably expect to do so.  Here's what I'm thinking of: (context: this collection serializer renders a list of lists that get flattened into one list - it's a long story, don't worry about that):

[code]

The meat is in the collect function.  I guess I have two concerns:  1) is _associations goin

[2015-03-29 16:10] mehlah commented on #818
I created a new app to verify the issue: https://github.com/mehlah/ams-issue-818
All green and working as expected, with 0.9.3 and Rails 4.2.1

@AlexCppns Do you still experience this issue?

[2015-03-30 01:32] mehlah commented on #825
Hello guys,

I created a Rails app that reproduces what's described by @eliduke https://github.com/mehlah/ams-issue-825/

I'm suggesting a fix at #865, to support Symbols for `:serializer` option, that refers to a method to call.
I'm making myself familiar with AMS code and architecture, so I'm not sure this is the right direction. If so, I think we should support passing a Proc too.
@JoshSmith th

[2015-03-30 09:28] EtienneDepaulis commented on #860
@JoshSmith Will take a look. Apparently I'm not the only one confused by this situation :) Thanks for answering me.

[2015-03-30 09:28] #860 closed

[2015-03-31 17:58] colinreidbrown commented on #845
as a clarification it is not specifically boolean but attr / methods with atrailing "?" in the name

[2015-03-31 22:52] pierrea commented on #548
I still have the issue as well.

[2015-04-02 05:32] lsylvester commented on #834
The spec also allows this url to be embedded in the link object instead of replacing the link object with a url, so the original example would become:

[code]
In this format, it can optionally be combined with the currently used `linkage`.

I think that it would be better to implement support for this format than the original suggestion.

From a api point of view, I think that it would make sense

[2015-04-02 14:13] AlexCppns commented on #818
@mehlah no the issue disappeared...

[2015-04-04 18:19] rounders commented on #824
@twoism - were you able to find a solution this? I just encountered the same issue.

[2015-04-04 18:29] rounders commented on #824
@twoism nm, I was able to solve it in my case by adding 'include ActiveModel::SerializerSupport' to my class.

[2015-04-07 01:20] Konnigun opened #869 "Rails 4.2, Mongo, responders gem"
Hey there!
I am using AMS with Rails 4.2.1 and  responders 2.1.0.
It was getting ignored by controllers in latest Rubygems version (0.9.3 I think?) so I needed to use 0.9.1 to get it working (found it here: http://discuss.emberjs.com/t/rails-4-2-and-active-model-serializer/7051).
My proposal is to add this to Readme because I am sure there are people like me and these guys from EmberJS forum who s

[2015-04-07 10:17] prasadsurase commented on #859
Could not reproduce the error with ruby 2.0.0, rails 4.1.0 and active_model_serializers 0.8.1.

[code]

[2015-04-08 06:50] prasadsurase commented on #784
Could not reproduce the error using ruby 2.1.5, rails 4.2.0, active_model_serializers 0.9.2

[code]

[2015-04-08 20:26] hderms opened #870 "Problem with each_serializer: foo and has_many associations"
So it seems like if you do something like
[code]
you will get an error like `undefined method 'something' for #<Bar:0x007f8c08d5d1f8>`

The regression appears to have been introduced between the following commits:

https://github.com/rails-api/active_model_serializers/compare/a8243761fedbf...48ed7

I believe the issue is in lib/active_model/serializer.rb in `def each_assocation` where we do `optio

[2015-04-09 01:12] JoshSmith commented on #869
I'm debating whether this is a documentation thing or not. I don't know that explicit documentation for this necessarily makes sense. It sounds more like a bug that needs fixed.

I'm also hesitant to add edge cases in documentation for a version that is fundamentally different than what's being supported going forward. I personally would actively discourage development on `0.9.x` and encourage swi

[2015-04-09 01:14] JoshSmith commented on #870
@hderms would you have time to open up a PR with a failing test of some sort? Even if you don't necessarily have time to fix it, at least that's a good starting point for someone.

Thanks!

[2015-04-09 12:05] Konnigun commented on #869
I meant adding something like a temporary notice/alert there, like "MAINTENANCE, PLEASE READ" section currently, something along these lines

[2015-04-09 15:15] laserlemon opened #871 "Version 0.9.4 release"
There are [quite a few changes](https://github.com/rails-api/active_model_serializers/compare/v0.9.3...0-9-stable) between `v0.9.3` and `0-9-stable` that have yet to be released. Could we cut a version 0.9.4? Specifically, the [ability to specify a serializer class per model](https://github.com/rails-api/active_model_serializers/commit/d8b78a36cfde1bef6dc23c6a64f6b92c4597258d) would be great to ha

[2015-04-09 20:47] kurko commented on #870
What AMS version is this?

[2015-04-09 20:50] kurko commented on #845
Can you check 0.9-stable branch

[2015-04-09 20:51] kurko commented on #845
Could you check the 0.9-stable branch, whether this was fixed or not already? We're about to release 0.9.4 via https://github.com/rails-api/active_model_serializers/issues/871 and I'd love to know if that was fixed.

If not, do you think you can venture a PR with a fix?

[2015-04-09 20:54] kurko commented on #869
People are saying that the bug was in 0.9.2, and 0.9.1 was good. 0.9.3 is the same as 0.9.1 minus a regression commit. Can you try that version?

[2015-04-09 21:04] kurko commented on #825
@eliduke `has_many` is a class method whereas `which_serializer` is an instance method. Try `def self. which_serializer` instead. Should work.

[2015-04-10 22:49] formigarafa commented on #671
as @d3chapma said lots of versioning issues have being closed and mostly rejected (if not all). And I believe that there is something missing in all discussions I have seen so far: who defines the resource name?

After all the AMS is responsible to serializer a model for a controller. However, Who owns the namespace? What if the model is also namespaced? Should we search for a serializer according

[2015-04-10 23:06] jejacks0n commented on #671
The primary issue with 0.8 and 0.9 was that it would go through the model to figure out what controller is used. I worked this out in a fork, which is not production worthy, but it's mostly there in 0.10 -- the only problem was that the controller options and association options (eg. `has_many`, `belongs_to`) don't have parity. I adjusted that so they are the same in terms of `has_many` being able

[2015-04-13 06:44] prasadsurase commented on #870
@hderms, you have specified
[code]
Is foo a single object or a collection of objects?

[code]

[2015-04-13 07:46] prasadsurase commented on #845
Checked with and without method name using '?'. This is broken on '0-9-stable' too.
// method using '?'
0-9-stable, 0.9.3, 0.9.1  => error: undefined method
0.9.2, 0.9.0 => returns attribute as expected(with '?').

// method without using '?'
0-9-stable, 0.9.2, 0.9.0 => error: undefined method
0.9.3, 0.9.1 => returns method name as attribute

[2015-04-13 10:38] equivalent commented on #543
exampel of Kaminari gem pagination implementatin hcould be find here http://stackoverflow.com/questions/22947721/rails-active-model-serializer-with-pagination

[2015-04-15 08:21] prasadsurase commented on #845
Further digging revealed that the functionality to autostrip question mark was introduced in [#662] (https://github.com/rails-api/active_model_serializers/pull/662/files) which was in response to [#605](https://github.com/rails-api/active_model_serializers/issues/605) issue.

I think that we shouldn't autostrip any characters from the attributes specified in the serializer since user can always ad

[2015-04-15 15:21] trashhalo opened #873 "Changelog should mention caching"
seems like this is missed in the https://github.com/rails-api/active_model_serializers/blob/master/CHANGELOG.md

https://github.com/rails-api/active_model_serializers/commit/8a432ad2b3a11b54183630b08b47ad2d249f9327

[2015-04-16 21:18] bughit opened #874 "url helpers fail (missing host) because 0.9.x does not pick up controller's url_options"
0.8.x had this:
[code]

[2015-04-18 20:25] ekampp commented on #874
I use something like this, in general, for my applications, in my routes.rb file:

[code]

[2015-04-19 07:36] dangalg commented on #354
What if I want the exact opposite?

from:
"_id": "51c7bd98e77989d1f1000002"

to:
"_id": {
"$oid": "51c7bd98e77989d1f1000002"
}

[2015-04-19 19:36] jasenkoh commented on #719
I am having same issue and I have installed gem from master branch using ```0.10.0```

[2015-04-20 20:47] emma-borhanian opened #875 "8.x: active_model_serializers not intercepting error responses?"
If I do `render json: resource`, and `resource` has `ActiveModel` errors, instead of using active_model_serializers controller hooks, rails seems to end up delegating to [ActionController:: Responder#json_resource_errors](https://github.com/rails/rails/blob/0c2854fa0302acfeb27f1316f2163b3c1dfc4f95/actionpack/lib/action_controller/metal/responder.rb#L289)

[2015-04-21 18:46] eprothro commented on #144
@steveklabnik this seems to be an open issue, by most accounts; thoughts on re-opening?

@chadwtaylor @MarkMurphy appreciate the efforts and agree with y'alls direction here. Are y'all working off master (e.g. 0.10.x) or other (e.g. 0.8.x)? I'm transitioning from jbuilder to AMS and concerned about this versioning issue as well. Any update on progress, or any way I can assist?

[2015-04-21 18:53] skalee commented on #144
…so I wrote this gem: https://github.com/skalee/active_model_serializers-namespaces

It defines `::active_model_serializer` for all models. However this method no longer returns serializer class but a proxy object. Whenever it receives `#new` (as you would normally call `::new` on serializer class), it performs serializer class lookup and passes the call to proper class.

It integrates seamlessly

[2015-04-21 19:12] MarkMurphy commented on #144
@eprothro I haven't put forth any other effort other than outlining the potential solution. It's tough to find the time. I'm still using jbuilder and will continue to until this is resolved.

[2015-04-21 23:23] bf4 commented on #859
My guess it one of the objects doesn't include `ActiveModel::Serialization` http://api.rubyonrails.org/classes/ActiveModel/Serialization.html

[2015-04-22 05:11] stevenwu opened #876 "0.10.0.pre does not include meta in response"
I was able to include meta info when I set  ``ActiveModel::Serializer.config.adapter = :json_api``. However, when I remove this option, there is no ``meta`` in the response. ``meta`` is included in the response once I switch to ``0.8.3`` version.

[2015-04-22 15:10] bf4 commented on #870
Some more info, we're using the JSON serializer, not json-api, and the ref we were working with was a8243761fedbf and broken with 48ed7

[2015-04-22 16:46] Konnigun commented on #869
Thank you, 0.9.3 works great as well. Closing this one.

[2015-04-22 16:46] #869 closed

[2015-04-22 18:20] JustinAiken opened #877 "[0.10.0rc1] `has_many` doesn't work without serializer defined on association"
I have this serializer:

[code]

`style_configurations` doesn't have an AMS defined, it's just using the standard rails json response.  Under 0.9x this works fine, but on today's new RC, I get this:

[code]

[2015-04-22 18:31] kurko commented on #873
Yes, we started the changelog after that. Can you open a PR to add it there? I'll merge it right away :)

[2015-04-22 19:23] JustinAiken opened #878 "[0.10.0rc1] Odd results from `#to_json`"
With this simple serializer:

[code]

and then this test:

[code]

I get this:

[code]

which seems a bit odd compared to what I was getting before in 0.8.x...

[2015-04-23 01:11] sebastianvera commented on #878
:+1: same here :(

[2015-04-23 04:26] nfm commented on #878
I think you need to run the serializer through the adapter. I'm not sure if this is the intended way to invoke the adapter, but this should produce the output you're expecting:

[code]

[2015-04-23 14:50] JustinAiken commented on #878
Hmm, so either:

- `to_json` should never be called on a serializer, and I should change my code to upgrade
- `ActiveModel::Serializer` should have a  `#to_json` method something like:

[code]

?

[2015-04-23 15:28] joaomdmoura commented on #878
@nfm is right, this is how we have being testing it internally:

[code]

But agree with @JustinAiken, would be nice to have thins implementation inside the serializer.
Any thoughts @kurko?

[2015-04-23 15:39] JustinAiken commented on #878
Happy to submit it as a PR w/ tests if you you do want it :+1:

[2015-04-23 17:25] CV-Gate commented on #877
Same here, I avoided specifying a serializer for the relationship.

[2015-04-23 17:43] JustinAiken commented on #673
@steveklabnik

This still seems to be the case on 0.10.0rc1 - should `ActiveModel::Serializer.root = true` work on the .10 branch, or is that option deprecated?

[2015-04-23 18:20] riccardoat1 opened #881 "Serialize self-children of a model"
Hi, I'm using the ancestry gem for have self recoursive children of a model.
Example: Tasks has many sub tasks(that is always Task model)
All works well, the only problem is:
While for the parent is show also the assocation object user, for the children it doesn't show the user object, but only show the user_id

Why ?
my code is: https://gist.github.com/riccardoa/001980cdc6202d3771f3
I've also tri

[2015-04-23 18:38] bernardogalindo opened #882 "0.10.stable / master is ignoring (key/root) option in has_many method"
Example
[code]

This produce a json with charts collection and ignore the custom name as follow
[code]
When I'm expecting
[code]

also fails using key option

[code]

[2015-04-23 20:18] danielevans commented on #881
What version of active_model_serializers are you using?

[2015-04-23 20:46] bf4 commented on #870
Given:

[code]

Going from [https://github.com/rails-api/active_model_serializers/commit/a8243761fedbff9877a957fe9b5f21e644bb8fee](https://github.com/rails-api/active_model_serializers/commit/a8243761fedbff9877a957fe9b5f21e644bb8fee) to [https://github.com/rails-api/active_model_serializers/commits/48ed7cf](https://github.com/rails-api/active_model_serializers/commits/48ed7cf) causes the render to

[2015-04-23 20:50] bf4 commented on #876
Same missing meta on 0.10.rc1 using the json adapter using any combination of single resource and the options root, status, each_serializer

[2015-04-23 21:43] riccardoat1 commented on #881
@danielevans master I think...
gem 'active_model_serializers', github: 'rails-api/active_model_serializers'

[2015-04-24 17:18] Leventhan opened #883 "[0.10.0rc1] JSON key renaming for existing model attributes"
I have a model with attributes `id` and `slug`.
I'm rendering my `slug` model attribute into `something` in my JSON:
[code]
[code]
Okay, that works fine.

But if I specify a key name of one of the model's attributes like so:
[code]

Output is:

[code]

It seems to be pulling the id value instead of renaming the JSON key. Is this a bug?

FYI, the problem may stem from `method_defined?` here: https:

[2015-04-24 21:24] bf4 commented on #882
I think this is a feature request

[2015-04-24 21:38] bf4 commented on #878
Yeah, would be nice.

FWIW, I've written this spec helper code

[code]

and this shared helper

[code]

And I've written some other code to mimic the controller action `_render_with_renderer_json` (called by `_render_to_body_with_renderer`)

[code]

And use `as_json` in my json renderer

[code]

[2015-04-25 04:11] bf4 commented on #877
Duplicate of https://github.com/rails-api/active_model_serializers/issues/870

[2015-04-25 04:15] bf4 commented on #876
I'm happy to submit this as a PR, but here's some stuff I wrote to get meta data included

[code]

[2015-04-25 14:29] bernardogalindo commented on #882
@bf4 I think is backward compatibility. This functionality is a good option to avoid create a method just for customize the name of relationship

0.9 version
https://github.com/rails-api/active_model_serializers/tree/0-9-2#associations
0.8 version
https://github.com/rails-api/active_model_serializers/tree/0-8-stable#associations

[2015-04-26 04:06] chrisccerami commented on #211
Crazy this still hasn't been solved. I'm using the multiple serializers workaround, but I'd still love to see this fixed as I think overall AMS is a great tool.

[2015-04-26 05:55] bf4 commented on #882
Oh, my bad for not looking back. So, it's either a bug or a breaking change.

[2015-04-26 05:56] bf4 commented on #883
Possibly related https://github.com/rails-api/active_model_serializers/issues/882

[2015-04-26 05:57] bf4 commented on #881
@riccardoat1 if you have a Gemfile.lock, copy the ams section near the top, has about 3 or 4 lines, including the git url and hash ref and paste here :)

[2015-04-26 16:44] malroc opened #884 "Serializers don't inherit attributes"
In 0.10.x, serializers don't inherit attributes. It was working fine in 0.8.x, and is absolutely required to keep serializers DRY.
I see there is already a pull request fixing this issue: #880
Posting a ticket just to make sure this PR won't be lost.

[2015-04-27 14:06] joaomdmoura commented on #873
@trashhalo actually the last two lines are:
[code]

[2015-04-27 14:17] joaomdmoura commented on #144
@eprothro Indeed the best way of versioning your serializers right now would be using namespaces.
There is no easy solution here, we could try to implement something by default but we haven't given enough attention on this yet. Would be awesome if some of you propose some implementation on a new issue, would be a great point for us to start discussing it :smile: c @MarkMurphy @JoshSmith

[2015-04-27 15:33] MarkMurphy commented on #144
@joaomdmoura I've already proposed an implementation in my previous comments. Essentially the same implementation rails controllers use to lookup views.

[2015-04-27 17:20] eprothro opened #886 "Handle serializer namespacing more robustly"
Continuing from #144 at the request of @joaomdmoura.

@MarkMurphy and others suggest automatically handling lookup context similar to ActionView. This solves two distinct issues:

1. We want namespaced controllers to use namespaced serializers, without explicitly specifying a serializer or namespace in the controller
2. We want namespaced serializers to use namespaced serializers for association s

[2015-04-27 17:21] eprothro commented on #144
@joaomdmoura I agree with @MarkMurphy architecturally, serializers handling lookup context to more robustly support namespaced serializers feels like the right way forward.

Opened #866 to continue any discussion in that context.

[2015-04-27 22:39] JustinAiken commented on #877
I think it's similar symptoms, but not a dup of #870...

- #870 deals more with when the serializer for the `has_many` does exist, but the options hash for getting the association isn't passing through okay..
- This one is for when the child serializer doesn't exist at all.  In previous versions of AMS, if you have a `Foo` model and a `Bar` model, and the `FooSerializer` `has_many :bars`, but ther

[2015-04-28 15:55] skalee commented on #886
I strongly disagree with this proposal.

Serializers are meant to present objects as JSONs. This includes but is not limited to rendering responses in controllers. Wider namespaces support is required.

Consider elasticsearch-model gem and how does it [serialize records](https://github.com/elastic/elasticsearch-rails/tree/master/elasticsearch-model#model-serialization). You can customize it by def

[2015-04-28 16:34] MarkMurphy commented on #886
@skalee

That's what this does.

Yes. Agreed.

I disagree with this approach entirely and I'm sure the community will agree that it's because of that sort of implementation that AMS was created. People were previously overriding #to_json so this approach would be no different.

[2015-04-28 17:08] skalee commented on #886
Wow, I wanted to convict myself of premature comment but you were faster. In fact I am still pretty 0.8-minded.

When it comes to `#as_indexed_json`, it is `elasticsearch-model`'s standard method, not my suggestion of how it should be used. What I want to say is that namespaces support is crippled unless it works outside controllers too.

To give you more concrete example, this is a line of code I

[2015-04-28 17:35] MarkMurphy commented on #886
@skalee

Fair point. Can provide an example where the model would be serialized to json outside the context of a controller?

[2015-04-28 17:41] eprothro commented on #886
@MarkMurphy I can: a worker delivering a json representation of a model object to an external service (e.g. mobile device notification).

However, the proposal works fine here, unless I'm missing something. The worker has the responsibility of determining which namespace to use for the serializer. Once that is done, association serializers are chosen with the correct namespaces.

[2015-04-28 17:54] skalee commented on #886
@MarkMurphy Following comes from the project I was working on:

[code]

I agree this shouldn't be in models, but `elasticsearch-model` is pretty constraining. Actually, it worked with AMS 0.8.3 with [my patches](https://github.com/skalee/active_model_serializers-namespaces) which I shared with you a little too late, apparently ;)

@eprothro As you wrote, it should preserve namespace when serializi

[2015-04-28 18:01] MarkMurphy commented on #886
@eprothro thanks!

Exactly. And perhaps the it's possible that the calling instance (i.e. the worker or any class for that matter) could be passed through the same serializer resolver. Who said it has to only work for Controllers?

[2015-04-28 18:20] MarkMurphy commented on #886
@skalee Looks like what you need would just be to manually specify the namespace or serializer. AMS already allows you to do the latter, sort of...(it needs work). In any case, I agree that the developer should be allowed to be explicit in specifying what `namespace` to use for resolving the serializer. I would consider this to be an amendment to my initial proposal.

[2015-04-28 20:21] AlexCppns opened #891 "How to serialize an array?"
I am getting the following error:

NoMethodError - undefined method `read_attribute_for_serialization' for #<Array:0x007fd3e1151898>

Ruby code in controller:
[code]

[2015-04-28 20:54] groyoh commented on #881
I think this is the expected behaviour:

[2015-04-28 21:03] groyoh commented on #881
@riccardoat1  I don't know if it is the expected behavior but json adapter only serialize the attributes of the associations (see [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json.rb#L17-36)). So associations of associations won't get serialized.

@joaomdmoura if this is the expected behaviour, then this is not a bug.

[2015-04-28 21:12] joaomdmoura commented on #881
@groyoh Indeed, this is the expected behaviour. And probably the most common case.
@riccardoat1 You can work around this by overriding the user relationship with a method in the serializer. Would be nice to know what version of AMS you are using, you can check it into your Gemfile.lock as @bf4 pointed out.

[2015-04-28 21:52] groyoh commented on #883
I think this happens because you set the key as `:id` which is a method of the serializer class that call `object.id`(see [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L180-182)). This would also happen with `:type` for example. Have you experienced the same issue with a different key name?

As a solution you might override the id method li

[2015-04-28 23:49] skalee commented on #886
@MarkMurphy I don't think it should be a directory path. Firstly, serializers are regular classes, so specifying parent module seems more natural. Secondly, AMS depends on ActiveModel, not whole Rails, therefore enforcing Rails application layout does not seem appropriate.

Example:

[code]

[2015-04-29 07:18] Leventhan commented on #883
@groyoh

Yes, you're right. Using `:type` gives the following:
[code]

[code]
The above pretty much confirms that this is a proper bug. I don't think this is intended behaviour. What does everyone else think?

And yes, that is the workaround I'm currently using. Of course, we'll want to fix the bug.

[2015-04-29 07:49] groyoh commented on #883
@Leventhan I guess that `method_defined?(key)` here might prevent you to override a function defined in a superclass, e.g.
[code]
As the serializer does not currently inherit attributes, you would have to call `attribute :title` in the subclass. Without `method_defined?(key)`, you would override the behavior of the `title` method. I don't know if this is the only case though.

As for the `id` and

[2015-04-29 14:52] skalee commented on #886
@MarkMurphy Is `ActiveModel::Serializer.new(self, options).as_json` supposed to work with current master? I mean, without namespaces support. If yes, then [there's a bug](https://gist.github.com/skalee/a4f25e62093dcfe863dc).

[2015-04-29 16:02] MarkMurphy commented on #886
@skalee no I don't think it does. That was more or less just pseudo code. A syntax I'd like to see because it seems intuitive.

[2015-04-30 00:47] apolzon opened #893 "Dynamic cache keys"
AMS 0.10 is really looking great, thanks for all the work thats gone into it.

The one thing I'm looking for that I don't believe is currently possible is a way to cache serializers on a per-user (or some other runtime-attribute) basis.

ie, I'd like to specify my cache key as:

[code]
(current_user being the serialization scope)

or, if the cache key attribute supported a lambda:
[code]

I guess

[2015-04-30 00:54] joaomdmoura commented on #893
Hey @apolzon, I'm glad you are enjoying AMS 0.10

Indeed, the only way of doing this today would be interpolating string as key:

[code]

I'm not sure what is your use case, but having cache per user may not scale as you might need.
But you could use [fragment cache](https://github.com/rails-api/active_model_serializers#fragmenting-caching), so you can cache only the attributes that makes sense to

[2015-04-30 00:59] apolzon commented on #893
Yeah, the problem is that the cache key is interpolated when the serializer class is initially loaded, so current_user doesn't exist at that point -- thats why I thought of the lambda approach.

I have a couple associations that return different values based on the user's role, so I was planning on putting them in a separate serializer so that the bulk of my model has a shared cache, but a couple

[2015-04-30 01:06] joaomdmoura commented on #893
Oh, I forgot about it, you are right.
Yes, we could implement lambda support, it wouldn't be so hard.
But still, I don't think it is the best way to go, once that it won't scale.
Fragment cache may fit you well

[code]

[2015-04-30 07:57] rowlandrudolf commented on #857
Ran into the same situation... If you don't mind having an empty array you can redefine the `:comments`
[code]
Or override the `associations` method.. Pretty ugly solution but it works like `include_<assocation>?`
[code]

[2015-05-01 15:13] jpaas commented on #490
I'm still seeing this on 0.9.3

[2015-05-03 15:35] imanel commented on #871
Bump - any news about when it will be released?

[2015-05-03 20:21] j-mcnally opened #898 "Default serializer options ignored"
previously i could

[code]

This seems to have been removed, is there a way in master to always include root?

[2015-05-03 20:37] j-mcnally commented on #898
fwiw, i fixed it for now like this

[code]

[2015-05-04 01:23] ace-subido commented on #845
Just posting here since it has a label "Needs bug verification". I might have the same case, I also ran into something like this when we allowed `active_model_serializer, "~> 0.9"` on our Gemfile instead of nailing it at `0.9.0`.

[code]

Tests that expected the serializer hash to contain a "some_bool_attribute?" key are currently failing.

[2015-05-04 02:40] joaomdmoura commented on #898
@j-mcnally what is the version of AMS you are using?

[2015-05-04 09:07] prasadsurase commented on #891
Use ArraySerializer as
[code]

[2015-05-04 17:37] j-mcnally commented on #898
Master

[2015-05-04 17:56] blakemcintyre opened #899 "Side loading doesn't work in 0.10.0.rc1 (non-JSONAPI)"
I've been trying to setup side loading using the standard adapter, (not JSONAPI), and have been unable to generate any embedded data. This works in 0.8.1 but the issue stated in https://github.com/rails-api/active_model_serializers/issues/377 has lead me to trying 0.10.x. When I tried using the JSONAPI adapter I was able to get included/linked data.

The following is the basic setup I've been test

[2015-05-04 18:03] henrymazza commented on #899
+1

I’m using ember-data, is there a way to achieve the same format I had with 0.8.x? That is with `embed :ids` and associations sideloaded?

[2015-05-04 22:53] sebastianvera commented on #876
:+1: bump

[2015-05-05 13:00] akshayrawat opened #900 "Clarify usecase for the 2 JSON adapters"
`active_model_serializers` has two adapters `JSON` and `JSON-API`. It is not clear when to use one over the other, or to just follow one by some convention.

It would be really nice if the README mentioned the use case of one over the other.

[2015-05-05 13:59] joaomdmoura commented on #900
Hi @akshayrawat indeed, your are right! We are already addressing it! I'm putting together a PR that will make ```JSON-API``` the default adapter. :smile: Because of that I'm closing it.
Just for the record we really want to make ```JSON_API``` a convention, we believe it's a great implementation that can help a lot of different technologies.

[2015-05-05 13:59] #900 closed

[2015-05-05 14:29] akshayrawat commented on #900
:+1:

[2015-05-05 19:34] cristianbica opened #901 "Add serializer file digest to cache key"
Rails' `ActionView` caching uses a template file digest (md5 on the file) in the cache key so the cache will expire if you update the template file. I think AMS should also have this. I can work on a PR in the coming days if you guys think this is acceptable.

[2015-05-05 19:55] joaomdmoura commented on #901
Hey @cristianbica, thank you for the issue.
Indeed this makes sense, and would be acceptable.

[2015-05-05 19:57] joaomdmoura commented on #901
btw in order to help you to pull it off, this is probable where you will make the magic happens, but amke yourself comfortable :)

https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter.rb#L65-L67

[2015-05-05 19:59] cristianbica commented on #901
@joaomdmoura thanks. Looking into the 0.10 stuff. looks beautiful :+1:

[2015-05-07 10:02] Soulou commented on #876
Meta are not rendered anymore with the `ArraySerializer`

https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter.rb#L81-L84

[code]

And `root` is always nil because of:

https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/array_serializer.rb#L10

[code]

[2015-05-07 12:57] ovamsikrishna opened #903 "has_one association not working with serializers"
We are using 0.8.x version of Active Model Serializers.
[code]

I don't get any information about the tester from TesterSerializer. I just get only id, name and description of Test model.

[2015-05-07 14:41] ericdfields commented on #891
@prasadsurase that used to be the case in 0.9.3. I'm trying to upgrade to 0.10.0.rc1 and finding that ActiveModel::ArraySerializer doesn't exist anymore…

[2015-05-07 16:11] mcmire commented on #891
Looks like it moved to ActiveModel::Serializer::ArraySerializer.

[2015-05-07 18:14] AlexCppns commented on #891
I fixed the problem, thanks :).

[2015-05-07 18:28] joaomdmoura commented on #891
Tks everyone :smile: you're awesome
It's hard to follow up ever thread :stuck_out_tongue_closed_eyes:

[2015-05-07 18:28] #891 closed

[2015-05-07 20:21] sebastianvera commented on #876
Why in **0.10** is not posible to include `meta` in Array responses? I think it has a great potencial, for example: pagination attributes.

[code]
Is this a bug or there is a good reason behind this? I'll be glad to help if you need something.

[2015-05-07 20:39] apolzon opened #904 "Fragment cache + array payload compounds non-cached keys"
If you define a serializer with a fragment cache, such as

[code]

and then render in your controller, an array:
[code]

the fragment cache's call to attribute (line 52) will continually add field1, such that if resources has 20 objects, by the end, field1 will be called 20 times for the last invocation of the TestSerializer.

I believe ActiveModel::Serializer.attribute should only concat the key

[2015-05-07 21:43] jimmybaker opened #905 "Gitter room?"
Can we start a gitter room for this repo? It's definitely popular enough and would open up a place to possibly get instant answers. :P

[2015-05-07 22:53] joaomdmoura commented on #905
uhmm @JoshSmith how do you feel about, it's your field :smile:

[2015-05-07 23:42] locks commented on #905
There's #rails-api on Freenode, for what it's worth.

[2015-05-07 23:43] joaomdmoura commented on #905
@locks indeed, I'm almost always there :stuck_out_tongue_closed_eyes:

[2015-05-08 03:04] jimmybaker commented on #905
Sweet. thanks guys.

[2015-05-08 12:46] ovamsikrishna commented on #903
Sorry made a change from our end to conditionally load associations. That change caused the issue. Closing this issue.

[2015-05-08 12:46] #903 closed

[2015-05-08 13:37] meltingice commented on #899
This is currently the only thing stopping me from upgrading to 0.10.x. In order to maintain the same API format and prevent breaking our client, I need to be able to sideload objects in the root.

[2015-05-08 13:50] #905 closed

[2015-05-08 16:01] henrymazza commented on #899
Now I hear that ember data is aiming to the same JSONAPI format that AMS 0.10.x is defaulting to. Plus it should ship a compatible beta version somewhere in June.

Can someone confirm this?

Enviado de um aparelho móvel.

[2015-05-08 16:10] meltingice commented on #899
For what it's worth, we aren't using the JSONAPI spec, but we still need to sideload data. I've been playing around with the JSON serializer in order to add the functionality back. I'll see if I can get a proof-of-concept together.

[2015-05-08 17:42] joaomdmoura commented on #899
Hey everybody, I'm just jumping in to let you know that I'm following this and will try to give it a closer look on the weekend. @meltingice would be awesome to have some prof-of-concept :smile:
Thank y'all! :heart:

[2015-05-10 10:32] ivanstojkovicapps opened #907 "Including transient attribute"
Hi,

i am having "transient" attribute, marked as "attr_accessor :project".
In my controller in can set myObject.project = project

How can i tell the serializer to use the project as attribute?

Is there a way in the serializer to say: attribute :project, serializer ProjectCustomSerializer?

regards Ivan

[2015-05-10 18:07] KurtRMueller opened #908 "ams 0.9.3 not embedding ids or sideloading objects (stack level too deep)"
Hey everybody,

I'm using `rails 4.2.1`, `rails-api`, and `ams 0.9.3`. My initializer, `config/initializers/active_model_serializers.rb`. has the following:

[code]

Here are my serializers:

[code]

Unfortunately, here's what happens when I run `BreedSerializer.new(Breed.first).to_json` in the console:

[code]

[2015-05-10 18:17] KurtRMueller commented on #908
Possible duplicate of this issue: https://github.com/rails-api/active_model_serializers/issues/784

[2015-05-10 18:25] KurtRMueller commented on #908
I fixed this issue by regressing to `ams 0.8.3` and using `embed :ids, embed_in_root: true` in each serializer

[2015-05-11 07:00] Leventhan commented on #883
@joaomdmoura Any updates on your thoughts on this issue?

[2015-05-11 14:46] joaomdmoura commented on #907
Hey @ivanstojkovicapps what version of AMS are you using?
Btw StackOverflow would be a better place to this question :smile:
There is more people there to help and also will help other with the same problem.

[2015-05-11 14:51] ivanstojkovicapps commented on #907
Its 0.8.1, i just thought maybe here would be better place to ask, because i always search for issues before going to stack overflow ;).
Do you maybe know is there a way in the serializer to say: attribute :project, serializer ProjectCustomSerializer or should i ask at stack?

[2015-05-11 17:42] Nitrodist commented on #824
Any solution to this?

[2015-05-11 18:44] joaomdmoura commented on #883
Hey ppl, I've just read trough the thread.
Indeed as @groyoh pointed out, ```method_defined?(key)``` prevents you from overriding superclass methods but is also used to keep json-api conventions.

```id``` and ```type``` are indeed required **only** by json-api.
-- **spoiler alert** That will become the default adapter soon :stuck_out_tongue_closed_eyes:, I'm already putting together the PR.

I al

[2015-05-13 19:01] Matt888 commented on #824
Running into this problem too.  Tried overriding attributes hash, as_json and to_json but it doesn't serialize using any of these values.

[2015-05-13 19:05] rbarrera87 opened #910 "AMS is modifying data format (without a serializer)"
I started to use AMS to serialize some data, and it worked pretty good, but I had some issues when I'm rendering json without a serializer.

I have this controller :
[code]
And this code was getting the data in this format:
[code]
But since I started to use AMS the data is like follows:

[code]
Why is AMS adding the "hospitals" key even though I don't have any serializer for it, in addition I also

[2015-05-13 19:08] twoism commented on #824
I didn't see this getting any traction for a while so I closed it. My solution was a bit heavy handed but it works for me. I wrote a serializer minus all the eval magic that I believe is causing the issue. You're welcome to use it as well.

https://gist.github.com/twoism/8ef0f7a3b1ebf6a8e76c

[2015-05-13 21:41] joaomdmoura commented on #910
Hey @rbarrera87 thank you for the issue, what version of AMS are you using?

[2015-05-13 21:43] rbarrera87 commented on #910
Hey! I am using the **0.9.3** version, thank you for your response :+1:

[2015-05-14 04:57] joaomdmoura commented on #824
Hi @twoism what is the version of AMS that you used? :)

[2015-05-14 05:36] twoism commented on #824
I open the issue in February. I remember trying a couple versions and then giving up. Seeing as others are experiencing this still, I would imagine that this is still an issue.

[2015-05-14 23:32] xionon commented on #824
@joaomdmoura This bit me at work today, too. It fails for me on both master 0.10.0rc1 and the Rubygems latest version, 0.9.3

I created [a blank Rails app with a reproduction and a test](https://github.com/xionon/active-model-serializer-with-delegators) for you.

[2015-05-15 01:44] joaomdmoura commented on #824
@xionon thank you so much! It'll definitely help! I'm having a hard time pushing every PR forward but I'll try to give it some attention asap :smile:

[2015-05-15 10:33] Veske opened #911 "Serializer trying to look for attribute where it does not exist [0.10.0]"
So I have this media serializer:
[code]

And the `has_many :comments` looks for this serializer:

[code]

Now in my controller I am querying for media, so I get an array of mediums.
[code]

And now when I load the page that uses this serializer, I get this error:

[code]

The error only occurs when I have an array of mediums. When I just query a single medium and use the same serializer, then the

[2015-05-15 22:33] johnnyshields opened #912 "Question: Caching API two-pass use case?"
Caching API looks really awesome, seems like it will bring big performance gains in my app which has many heavy objects.

One question, is it possible to do two-pass implementation something like:

1. Query DB for only object ID and updated_at (lightweight query)
2. Send ID + timestamp list for serializer, serializer readies the objects which it has cached and returns the list of only those IDs wh

[2015-05-16 03:58] rbarrera87 commented on #910
I've checked the code and it seems like that issue is fixed in the **0.10.0.rc1**. I saw this test in **0.9.3**
[code]
As you can see this test has the key `my` before the array. In the version number **0.10.0.rc1** you have this test:
[code]
In this second test you guys are testing the array without a key at the beginning of the array, which is the correct behavior (I guess).

[2015-05-16 04:16] joaomdmoura commented on #912
Hey @johnnyshields, indeed it was built to increase performance, and we have made some cool benchmarks.
I can see some ways to do what you want, but there is no easy way here. The cache key generated by AMS 0.10rc only use the class name, id and updated_at, but is still expects and instance of the element itself. You can workaround it, by creating a new instance of it with only this parameters, bu

[2015-05-16 04:16] #912 closed

[2015-05-16 10:22] Veske commented on #911
Any idea on how to work around this nicely? I added the methods that it was throwing error about into my Comment model. Now it will pass without errors. But my Comment should not contain thoes attributes at all what it is trying to put into it.

[2015-05-17 12:39] groyoh commented on #911
This is indeed bug due to these two lines [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/array_serializer.rb#L17) and [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L219). In the first line, the `ArraySerializer` option contains `:serializer => MediumSerializer` and is passed to your `Med

[2015-05-17 17:41] Veske commented on #911
Thank you for the response! I hope this will get fixed soon. Will go with the workaround for now.

[2015-05-18 13:25] #911 closed

[2015-05-18 16:01] scttnlsn commented on #857
Is support for `include_<attr or association>?` planned for 0.10.x?

[2015-05-18 18:24] ryansch commented on #857
I've hit my head on this as well.

[2015-05-18 18:25] scttnlsn commented on #857
Here's a simple implementation that I'm trying out at the moment: https://github.com/rails-api/active_model_serializers/compare/master...scttnlsn:inclusion

[2015-05-18 18:30] joaomdmoura commented on #857
I haven't read the thread yet, but it's already in my radar.
@scttnlsn make yourself comfortable,
I can't guarantee that we will merge it, because as I said, I haven't read it yet. But thank you for your help! :+1:

[2015-05-18 18:31] ryansch commented on #772
I just hit my head on this in our default error handling for the api.  The problem here is trying to render out any type that doesn't have a corresponding Serializer inside of an array.

Normal flow:
We'll try `render json: 'a string'`.  AMS fails to find a serializer for the string literal and the action controller extension bails out on https://github.com/rails-api/active_model_serializers/blob/

[2015-05-18 18:42] ryansch commented on #772
To be clear: We usually return something like `{ errors: ['some error'] }`.  I discovered this behavior due to a bug in one of our controllers.

[2015-05-18 20:54] groyoh commented on #904
Nice catch! It was indeed a bug which would also happen simply by calling multiple times `.attributes` or `.attribute` with the same attribute name. I don't know if this has any consequence on the behavior itself, but might slow the overall system since we iterate over the `@_attributes` variable when calling `#attributes`.

I created a PR to fix this (#914).

[2015-05-18 21:23] joaomdmoura commented on #904
Tks @apolzon and @groyoh !
Indeed it was a great catch, and an important issue.
But it didn't impacted the performance so much, it remained the same. :smile: Just ran some benchmark test against an older master commit  and also against ```0.10-stable```
:heart:

[2015-05-18 21:23] #904 closed

[2015-05-18 21:46] ryansch commented on #876
Our v1 API requires this behavior.  Our v2 is a jsonapi.org style api but I can't just suddenly convert the old stuff.  I need meta on array responses.

[2015-05-18 23:38] ryansch commented on #876
Here's what I'm using in an initializer to work around this.

[code]

[2015-05-19 09:52] ignasio commented on #910
Same issue. Will it be fixed at 0.9.3?

[2015-05-19 14:47] nessur commented on #772
This version of AMS lacks any support for a 'default' serializer, which in 0.9.0 allowed any rendering of a ruby class that responds to 'as_json'. So, AMS 0.10.0.rc1 can't serialize: String, Hash, Time, Integer

from Pry, in our rspec test suite:
[code]

[2015-05-19 17:27] ryansch commented on #876
I took a stab at this in #915.

[2015-05-19 17:40] dpmccabe opened #916 "Associations with namespaced models not working"
I have two models that come from a Rails engine, `Spree::Product` and `Spree::Variant`, and I can't figure out how to correctly specify an association between them in my serializers. Here is my current setup:

##### app/serializers/spree/product_serializer.rb

[code]

##### app/serializers/spree/variant_serializer.rb

[code]

A serialization of products loads the attributes correctly, but the vari

[2015-05-19 18:26] rbarrera87 commented on #910
@ignasio The workaround that I found was adding `to_json` in your render response, something like this:
[code]

[2015-05-19 20:07] saneshark commented on #916
May be related to #879 (pending discussion)

[2015-05-19 23:56] ryansch opened #917 "rescue_from handler fails with AMS"
ActionController::Serialization caches the serializer discovered in `#get_serializer` in `@_serializer`.  When the render call raises an error and ends up in a rescue_from handler, the serializer is still set to whatever was discovered before the error was raised.  This usually prevents the correct error response from being generated.

[2015-05-20 06:06] toobulkeh commented on #599
:+1:

[2015-05-20 07:41] ignasio commented on #910
@rbarrera87 You`re right, but in my case this issue is breaking gem "rails3-jquery-autocomplete".

[2015-05-20 09:30] fsainz commented on #664
I'm sure there's a better way but after struggling with it I ended up following this pattern:

in this case to handle the serialization of attachments

[code]

[2015-05-20 11:57] groyoh commented on #916
@dpmccabe I'm not sure if I understood your need, but basically you want the serializer to automatically find a matching association serializer in the same module without specifying any additional option, right? If that's the case, then #879 won't solve this. It is mainly useful when you deal with polymorphic relationship and/or serializer that are defined in a different module. You would still ha

[2015-05-20 12:04] groyoh commented on #916
I don't think that it is related to #879. It might be a bug.
@dpmccabe could you provide a snippet of how you serialize the products?

[2015-05-20 13:51] JoshSmith commented on #884
Since #880 is merged can you verify this fixes this issue @malroc?

[2015-05-20 13:52] JoshSmith commented on #893
@apolzon would you mind responding to @joaomdmoura's thoughts on this when you have a moment? Thanks!

[2015-05-20 13:53] malroc commented on #884
@JoshSmith I'll check a bit later today.

[2015-05-20 13:53] JoshSmith commented on #907
@ivanstojkovicapps definitely ask at StackOverflow. http://stackoverflow.com/questions/tagged/active-model-serializers

[2015-05-20 13:53] #907 closed

[2015-05-20 14:53] ryansch commented on #917
Please see the new test added in #918.

[2015-05-20 16:43] dpmccabe commented on #916
The pull request referenced in #879 fixed this for me. Here are the working association method calls:

`has_many :variants, serializer: VariantSerializer, namespace: Spree`

`belongs_to :product, serializer: ProductSerializer, namespace: Spree`

[2015-05-20 17:20] arc9-admin commented on #893
I'm using the fragment cache now -- however I still think there is a valid use case for a cache key that is evaluated at the instance level instead of the class level (either via lambda or other mechanism).

Obviously the use case I originally raised is not a good one for caching, but a better example might be a field that has a different value for authenticated vs non-authenticated users.

[2015-05-20 17:23] apolzon commented on #893
I'm using the fragment cache now -- however I still think there is a valid use case for a cache key that is evaluated at the instance level instead of the class level (either via lambda or other mechanism).

Obviously the use case I originally raised is not a good one for caching, but a better example might be a field that has a different value for authenticated vs non-authenticated users.

(Sorry

[2015-05-20 20:16] groyoh commented on #916
@dpmccabe I'm glad that it fixed it for you. BTW, you don't need to specify `serializer: VariantSerializer`, this should do it:
[code]
Could you still provide a snippet of the serialization call please? There might still be a bug. What I would like to know is if you render it this way:
[code]
or
[code]

[2015-05-20 21:05] dpmccabe commented on #916
Yes, I believe there is still a bug. I'm going to write it up as a comment in the pull request.

[2015-05-20 21:21] dpmccabe commented on #916
(Scratch that, I'll leave it here since I'm not sure it's actually related to the changed code in the PR.)

When I omit the explicit `serializer` argument in `has_many :variants`, I get an exception (you can see the call to the serialization there):
https://gist.github.com/dpmccabe/39aa96034b599fee81f8

I don't have time to make an example app at the moment, but here's a simple comparison I ran fr

[2015-05-20 21:25] groyoh commented on #916
@dpmccabe thanks for the details. I'll try to take a look a this.

[2015-05-20 22:52] groyoh commented on #916
@dpmccabe This error is really strange IMO. A few questions:
* Does your model have an `serializer_class` method in your models?
* Are you using master? HEAD or older commit?

My best guess right now is that `ActiveModel::Serializer.serializer_for` returns `ActiveRecord::Base` class (or one of its subclass, basically your model) but I have no clue how that could happen.
I managed to reproduce the

[2015-05-21 01:42] joaomdmoura commented on #893
@apolzon I'm closing it. I understand the request, but I can't see a demand for it right now.
The authenticated vs unauthenticated example might be a fit, but se a edge case, I'd probably use fragment cache to cache the other attributes.
But I would be willing to discuss it further if some request show up! :smile:

[2015-05-21 01:42] #893 closed

[2015-05-21 02:21] joaomdmoura commented on #907
You heard the man :stuck_out_tongue_winking_eye:

[2015-05-21 02:39] #917 closed

[2015-05-21 07:05] fsainz commented on #706
I tried different things to solve this but with every attempt I ended up getting a serialization of the whole associated record/s (like if i just did .to_json) instead of going through their custom serializer.

I got this pattern working, it's ugly but it worked well with 0.10.0.pre, it might not be longer needed:

instead of a *has_many* :attachments, I would add this method:

[code]

for a *belo

[2015-05-21 10:56] quaternion opened #921 "json serializer ignores nested associations"
Example 0.10.x:
[code]
PostSerializer produces json without a user node:
[code]
Is this a bug or a feature?

[2015-05-21 10:58] Le6ow5k1 opened #922 ":if option for attribute method"
I think it would be nice to add an `:if` option for attribute method, so attribute will appear only if result of calling lambda specified at `:if` key is `true`.

[code]

[2015-05-21 14:54] groyoh commented on #921
If you're using the JSON adapter then it is the expected behavior. The JSON adapter only render the attributes of associations (see [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json.rb#L28))

[2015-05-21 16:55] quaternion commented on #921
Yes, you are right. I use json adapter.

[2015-05-21 17:08] rainerborene opened #923 "Cache not working"
Not sure about how the `cache` method works but seems not to be working.

[code]

Even with the `cache` enabled I can see some objects being allocated by the `nokogiri` gem.

[2015-05-21 17:50] groyoh commented on #921
If you need a workaround, you can do this:
[code]

[2015-05-22 13:29] pywebdesign opened #926 "Unable to overwrite the id value"
Hi,

It seams impossible to overwrite the id value when serializing. I am using the jsonapi adapter.

this line:

[code]

will output the value of id instead of the conversation_id as the value of the json id key

[2015-05-22 14:33] benedikt commented on #926
For a quick workaround, try overwriting the `id` method like this instead:

[code]

[2015-05-22 14:46] joaomdmoura commented on #926
Yes @pywebdesign it's impossible the way it's designed today, unless you use the workaround proposed by @benedikt
Would be nice to replicate this kind of questions on stackoverflow, we are trying to create a pool of good and usual questions there.

[2015-05-22 14:46] #926 closed

[2015-05-22 15:44] joaomdmoura commented on #876
Commit message, adding meta support:

way, there's no way to support features such as pagination. `0.9` had
this feature in place.

keys, obviously. Also, the response should have a `root` key, otherwise
no `meta` will be included.

a response with a `root`. In that case, `meta` will be included.

As this change was implemented by @kurko I'm not comfortable about moving forward without hearing fro

[2015-05-22 15:46] joaomdmoura commented on #923
The cache feature uses the Rails cache, so ensure that it's enable for the the environment that you are testing :smile:

[2015-05-22 16:34] rainerborene commented on #923
@joaomdmoura `perform_caching` option is already enabled.

[2015-05-22 19:24] rainerborene commented on #923
I suggest you to debug it using the `rack-mini-profiler` gem to measure the number of objects allocated during a request.

[2015-05-22 21:52] malroc commented on #884
Fixed by #880

[2015-05-22 21:52] #884 closed

[2015-05-23 08:13] ovamsikrishna opened #927 "Load associations to one level while conditionally sideloading associations in Active model serializers"
This ain't an issue frankly speaking. May be a tailored feature request. Tried my best to get this working but in vain.
Using AMS version 0.8.3.
I created a base_serializer.rb like this and extended the same.

    class BaseSerializer < ActiveModel::Serializer
      def include_associations!
        if @options[:embed]
          embed = @options[:embed].split(',').map{|item| item.strip.to_sym}

[2015-05-26 13:18] nruth opened #928 "docs for "default" association loading"
This is w.r.t the master branch.

[code]

What's the idiomatic way to change this default?

I'm currently thinking I need to provide 2 serializers in my controller, one for my array collection (index, so it doesn't side-load and get slow), and one for my singular collection (show)?

If that's the expected way then this isn't actually a default (of associations in a serializer), as it isn't configu

[2015-05-26 16:37] nruth commented on #928
I see this isn't ready to use yet so went for 0.8 branch for now, where there's the embed :ids option & other bits and pieces like that.

[2015-05-26 16:37] #928 closed

[2015-05-27 16:17] daino3 commented on #211
+1 for @j4rs solution which works for me, but feels... awkward...

[2015-05-27 17:47] chrisbranson commented on #921
I ran into this today, having previously used 0.9.x where nested associations were found. Is this 'expected behaviour' in that that's the way it is supposed to work, or would a PR be welcome? A small change gets this behaviour back - see my fork https://github.com/insphire/active_model_serializers/commit/80de7191ef6e79c79714ef1a011c46c22ddff210

[2015-05-27 18:25] eliduke opened #929 "NoMethodError (undefined method `fetch_or_store' for #<ThreadSafe::Cache:0x007fcf70821378>)"
I just upgraded my AMS gem to `0.10.0.rc1` in hopes of getting some better caching functionality. I am trying to cache some App Label and the serializer there looks like this:

[code]

And then I hit one of the AppLabel end points with PostMan and I get this error:

[code]

I checked `app_labels_controller.rb` on line 22 and it is this method:

[code]

Which is calling an AppLabel scope:

[code]

[2015-05-27 18:35] eliduke commented on #929
I tried some more troubleshooting and stopped calling the scope and instead just called `AppLabel.all` and I still get the same error.

[2015-05-27 19:26] kWhittington commented on #719
I just started a rails-api app last week and ran into the problem today when I attempted to load up this gem.
[code]

This is kinda weird cause it's working in the rails app at my work:
[code]

[2015-05-27 19:32] joaomdmoura commented on #922
@Le6ow5k1 It isn't the first time I hear this proposition.
I'm not sure how I feel about it once that I usually prefer using a method to overwrite the attribute.
It would also imply in some refactoring on fragment cache.
Is there other benefit, apart of syntax?

[2015-05-27 19:37] groyoh commented on #927
I'm not sure if this would work but have you tried `embed=organizers,participants,related` ?
I might have another solution but I need to try it first.

[2015-05-27 19:54] groyoh commented on #929
Which version of Rails do you use?

[2015-05-28 07:08] ovamsikrishna commented on #927
Thanks @groyoh That works. I never thought of trying like that. But, when I query for events. I would just know that organizers and participants are the associations for that model. Is there any way where I can fetch the association of association objects which are included?

For eg: May be I confused you a lot...

Before I iterate,

      embed = @options[:embed].split(',').map{|item| item.strip.

[2015-05-28 07:40] groyoh commented on #927
Once again I'm not sure about the solution, but you could try:
[code]

[2015-05-28 07:52] ovamsikrishna commented on #927
I don't need associations of RelatedSerializer. I just need attributes of RelatedSerializer.

[2015-05-28 07:58] groyoh commented on #927
I have something in mind then, but I'll try it later and tell you if it works.

[2015-05-28 13:22] groyoh commented on #927
My bad, I made a typo. I updated the snippet.

[2015-05-28 14:29] eliduke commented on #929
4.0.5

[2015-05-28 15:41] groyoh commented on #927
Here is my final solution, I tested it and it work as expected:
[code]
then in your controller:
[code]
Then you can change the `embed_level` option to set how deep it should load associations.

[2015-05-29 06:43] ovamsikrishna commented on #927
This is perfect @groyoh . Thanks a lot. May be I'm asking for too much now. It is a problem from my end actually. the assoc_serializer might be nil at times where we don't specify any serializer option to associations at times. As of now I added a present? check for assoc_serializer. What can I do in those cases? Do we have any option to fetch the serializer when no serializer option is provided?

[2015-05-29 07:07] joaomdmoura commented on #884
:+1:

[2015-05-29 07:14] joaomdmoura commented on #928
Hey @nruth sorry for take some while to check this issue :smile:
No this **is not** the default behaviour. Someone might have miss typed it.
Your serializer will return its relationships only when declared.
I would recommend you to use 0.10rc1, not only because I believe is way better than older version but also to help us into the process of validating it. :smile:

[2015-05-29 07:21] joaomdmoura commented on #921
@quaternion ans @groyoh said, this is indeed the expected behaviour.
This approach takes into account a more lean implementation avoiding heavy responses and also trying to help people into build a "more RESTfull" API.
I'm no saying we will definitely keep it this way, but before move forward into a PR I would like to hear more opinions from other AMS members. cc @kurko @guilleiguaran
I'm closing

[2015-05-29 07:21] #921 closed

[2015-05-29 07:26] joaomdmoura commented on #719
@jasenkoh are you using ```RC1``` or the ```master``` latest commit?

@kWhittington It seem that your issue isn't related to this one, I'd love to help you into use AMS, could you please open a question on StackOverflow using active-model-serializer tag? Make yourself comfortable to send me the link to the question later! @JoshSmith might help you into the open the question if you need :smile: BTW

[2015-05-29 07:26] groyoh commented on #927
Do your models inherit from `ActiveModel::Base`?

[2015-05-29 08:45] ovamsikrishna commented on #927
I think you meant ActiveRecord::Base. If thats the case yes. My db models inherit from ActiveRecord::Base and serializers from ActiveModel::Serializer

[2015-05-29 08:49] groyoh commented on #927
Yes that's what I meant, typo again :smile:. Try:
[code]

[2015-05-29 09:02] ovamsikrishna commented on #927
Thanks again...I actually tried out this at first.

[code]

which one would you prefer? I guess both should work.

[2015-05-29 09:08] groyoh commented on #927
Take yours if that works for you! :wink:

[2015-05-29 10:01] ovamsikrishna commented on #927
Ha Ha...LOL... Thanks a lot @groyoh That was really a timely help...

[2015-05-29 13:35] JonasSynergium opened #932 "My model already has an attribute named 'scope'"
Hi,
one of my models that I try to serialize has an attribute named 'scope'.  Once serialized this attribute is replaced by the value of the current user (as is stated in the documentation).

How can I get the 'scope' value from my model and not from the 'scope' method that AMS provides?

[2015-05-29 13:38] #932 closed

[2015-05-29 14:04] kWhittington commented on #719
@joaomdmoura I switched to the master 0.10.x version and its working (though I'm not sure how up-to-date the JSON API adherence is yet). @Davidslv described the same behavior 0.9.3 was displaying for me with rails 4.2.1. So I added my comment describing how I minorly debugged my issue and discovered the serializers were just not getting run at all, which is why my attributes weren't getting whitel

[2015-05-29 15:04] joaomdmoura commented on #719
@kWhittington Great! JSON-API was removed as default adapter the day before yesterday :cry: But I still strongly recommend you to use it, the master is already updated to use the RC4 and we are following its development.

[2015-05-29 18:05] joaomdmoura commented on #929
@eliduke what's the ```thread_safe``` version?

[2015-05-29 18:08] joaomdmoura commented on #932
@JonasSynergium You can create a virtual attribute in your serializer:

[code]

[2015-05-29 18:14] joaomdmoura commented on #927
Great! I'm glad to see that you guys figured it out! I'm closing it for now! bte @ovamsikrishna give a try to 0.10.x version ;) and try to use JSON API :smile:

[2015-05-29 18:14] #927 closed

[2015-06-01 14:17] remear opened #933 "Serializing errors"
The JSON API docs currently state (I'm not sure if they said this before JSON API 1.0):

[code]

Is there a way to render the errors member in master / v0.10.0.rc1?

[2015-06-01 14:41] joaomdmoura commented on #933
@remear it's a implementation of 1.0
We haven't updated AMS yet, the actual supported version is RC4, we might update it this week but don't take it for granted :smile:

[2015-06-01 15:19] remear commented on #933
Great! Would it be possible to leave this issue open until it's resolved and reference it in commits so others can follow along. I'd love to help test this as soon as it becomes available.

[2015-06-01 15:31] chrisbranson commented on #876
The issue seems to be that the base adapter and the json adapter use different logic to get the `:root` option value, if you change the `root` method in adapter.rb to use the same logic as the json adapter it works: -

    def root
      @options.fetch(:root, serializer.json_key)
    end

https://github.com/insphire/active_model_serializers/commit/cd65b402661b1109f6d3c2130ad715ceee058341

This get

[2015-06-01 19:18] groyoh commented on #929
@joaomdmoura there is something weird going on here. Rails 4.0.x should require thread_safe ~> 0.1 (see [here](https://github.com/rails/rails/blob/v4.0.5/activesupport/activesupport.gemspec)). When I run `gem install thread_safe --version "~> 0.1"`, it will install 0.3.5. When I run `gem install thread_safe --version "0.1"`, it will install 0.1.0. When I run `gem install thread_safe --version "~>

[2015-06-01 22:16] eliduke commented on #929
`gem list` says `thread_safe (0.3.5, 0.3.4, 0.3.3)`.

[2015-06-02 09:45] groyoh commented on #929
@eliduke `fetch_or_store` is only available in versions `>= 0.3.4` so chances are your project use 0.3.3. Try to update it to use 0.3.4 or 0.3.5.

[2015-06-02 12:35] MrWEST commented on #923
+1

[2015-06-02 12:50] jeffsaracco opened #934 "Associations of associations are not using proper serializer"
For instance, if I have

[code]
With serializers:
[code]

When I do a `render json: foo` it properly uses `FooSerializer` and `BarSerializer` but for `Baz` it does not use the serializer but rather the default rails `as_json` method

[2015-06-02 12:56] jeffsaracco commented on #934
I should add that if I request bar directly and render it with `render json: bar` it properly uses the `BazSerializer`

[2015-06-02 15:10] eliduke commented on #929
I ran `bundle update thread_safe` to bring it up to `0.3.5`, and I'm not getting that error anymore. This might be another issue altogether, but, looking at my local server output, the serializer is not being cached. There are still individual db calls for each app_label.

Using version `0.8.3` of AMS and using this caching method:

[code]

There was very clear cache writing and reading in the ser

[2015-06-02 15:56] groyoh commented on #929
@eliduke Might be related to #923. Better to close this issue and open a new one for the cache issue IMO.

@joaomdmoura I think there should be a gem dependency for thread_safe, maybe ">= 3.4"? I know in #833 you guys decided to remove the hardcoded dependency but this issue might pop up again otherwise.

[2015-06-02 15:57] groyoh commented on #934
Which version do you use?

[2015-06-02 15:58] groyoh commented on #916
@dpmccabe bump

[2015-06-02 16:30] jeffsaracco commented on #934
we are using it straight from master.. rev 48ed7cf9ba85e124f41321b4d0d6d2aab44ece08 to be exact

[2015-06-02 16:52] eliduke commented on #929
Ok. I will take a look at that other issue, but I will leave this issue open until @joaomdmoura has a chance to take a look at that gem dependancy. Thanks again for your help @groyoh.

[2015-06-02 17:10] eliduke commented on #923
I recently upgraded my AMS gem from `0.8.3` to `0.10.0.rc1` in hopes of getting some better caching functionality. I am trying to cache some App Label and the serializer there looks like this:

[code]

But I'm not seeing any caching in my local server. Previously, in the older version of AMS, I used this caching syntax:

[code]

And there was a **very clear** indication in the server output showin

[2015-06-02 17:22] groyoh commented on #934
On master, associations of associations should not be rendered by the json adapter (see #921 for a work around). Are the `Baz` elements rendered? If it is, then this might be a bug.

[2015-06-02 17:25] jeffsaracco commented on #934
They are rendered, just not with the `BazSerializer`... the default `to_json` is being used

[2015-06-02 17:40] eliduke opened #935 "Is it possible to ignore all adapters?"
I am working on a large rails-api project with AMS v0.8.3 that currently has 2 native apps and a front-end web app. I am interested in upgrading to AMS v0.10.0 for some of the new features (primarily caching), but then it forces us into the JSON API adapter and essentially renders our end points useless without a substantial rewrite of all the front ends. Is it possible to override the default ada

[2015-06-02 18:07] groyoh commented on #934
I can't reproduce your case. For me, `bazs` are not rendered. Maybe you could be more specific on the context or provide a gist that reproduce it.

[2015-06-02 18:11] joaomdmoura commented on #876
I tested it here, it's seem to work, all tests are still passing, @chrisbranson make yourself comfortable to open a PR! I'll check it, other people may test it too and then we merge it. :smile:

[2015-06-02 18:26] joaomdmoura commented on #929
Hey ppl! :smile:
Sorry for take some time to check it, there is a lot going on, I'm working hard on a new freaking awesome feature that will help us into making this Rails 5 integration happen.

So... I've just read the thread, I glad that you guys managed to find the issue, unfortunately as you @groyoh checked at #883 hardcoded dependencies won't play nicely on Rails updates, so I don't believe t

[2015-06-02 18:54] groyoh commented on #929
@joaomdmoura what about something like:
[code]
Less beautiful but makes it compatible with any version I think.

[2015-06-02 19:19] bf4 commented on #876
I'm happy to write a PR, too. I've been meaning to do it for a while, but I'll do it today unless @chrisbranson would like to (no toe stepping!) or we can work at https://github.com/rails-api/active_model_serializers/pull/915/files ?

[2015-06-02 20:42] groyoh commented on #935
It depends what you mean by "standard" but you can do this:
[code]
to set the default adapter to JSON instead of JSON API.

[2015-06-02 20:56] groyoh commented on #935
JSON API isn't the default on v0.10. At least not yet (or not anymore #930 ). By default it will format as json by rendering attributes and attributes of associations.

The serializers allow you to define WHAT (attributes and associations) would be serialized whereas the adapter basically allow you to define HOW they are serialized. Using adapters also allow you to add your own output format if ne

[2015-06-03 08:04] chrisbranson commented on #876
PR #936 created including a test

[2015-06-03 08:20] chrisbranson commented on #876
@bf4 your branch has a lot more changes in different places to mine, so I created a new PR to keep it clean.

[2015-06-03 12:11] jeffsaracco commented on #934
FWIW, we are using MongoMapper as our ORM, not ActiveRecord... the work around in #921 works for us for now

[2015-06-03 12:11] #934 closed

[2015-06-03 12:33] eliduke commented on #935
Thank for the breakdown, but I think I am still a little confused. You say that there isn't a default adapter for v0.10, but without doing anything else aside from switching from v0.8.3 to v0.10, this app_label end point went from outputting this:

[code]

To this:

[code]

I understand the technical benefits of the latter, but it's just not plausible at this time to rewrite the front ends to rece

[2015-06-03 12:49] groyoh commented on #935
You can try setting the config:
[code]

[2015-06-03 12:51] eliduke commented on #935
And where is the best place to put that?

[2015-06-03 12:52] groyoh commented on #935
If you use Rails, then `config/initializers/active_model_serializer.rb`.

[2015-06-03 12:55] eliduke commented on #935
Awesome. That did the trick! In my mind that seems like there IS a default adapter then, right?

[2015-06-03 12:55] groyoh commented on #935
BTW are you using `0.10.0.rc1` version or master?

[2015-06-03 12:56] eliduke commented on #935
I'm using `0.10.0.rc1` as such:

[code]

[2015-06-03 13:18] groyoh commented on #935
Then try `bundle update active_model_serializers` and try to run it without the config initialized.

[2015-06-03 15:01] eliduke commented on #935
That did it! Wow. So, that was a recent change? Thanks for all your help!

[2015-06-03 15:49] hchood commented on #732
I am having a related issue passing options to a serializer (on v. 0.8.3). Not using `serializer_params`, as my understanding is that these were introduced in 0.9, but just as an option:

[code]

Inspecting `options` inside my serializer, `recommendations_count` is missing:

[code]
Was working off of this StackO:  http://stackoverflow.com/questions/23347587/how-to-pass-parameters-to-activemodel-se

[2015-06-03 15:59] hchood commented on #732
If you're on 0.8, you can pass it directly:

[code]

Then in your serializer, should be able to access it via `options[:include_details]`.  See StackO here: http://stackoverflow.com/questions/23347587/how-to-pass-parameters-to-activemodel-serializer

[2015-06-03 17:49] groyoh commented on #935
Yep, it was changed to JSON API 3 weeks days ago and then reverted a few days ago :wink:
Please close this issue if you're all done :smile:

[2015-06-03 20:45] aaronlerch commented on #921
This one caught me doing an upgrade from 0.9 -> 0.10. The frustrating part is that I couldn't find any documentation about it, though perhaps I wasn't searching for the right terms. So I ended up spending a bit of time debugging why it was silently ignoring my `has_many` relationships. What really threw me off was that it worked for the top-level `has_many`, so it seemed more like a bug or a confi

[2015-06-03 21:09] joaomdmoura commented on #732
@hchood tks for posting the StackOverflow reference! :heart:
@poc7667 You should also give it a try to 0.10 :speak_no_evil:

[2015-06-03 21:23] bf4 commented on #881
Propose closing as stale

[2015-06-03 21:24] joaomdmoura commented on #881
Agreed @bf4

[2015-06-03 21:24] #881 closed

[2015-06-03 21:25] bf4 commented on #859
Propose closing as stale.  I'm happy to add a test and docs for this scenario if there's a desire.

[2015-06-03 21:32] groyoh commented on #923
@rainerborene do you have a non-cached attribute that calls `content`,e.g.
[code]
@joaomdmoura non-cached attributes (overriden) that call cached attributes won't use the cached values because [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L205) we woul call the attribute on the original serializer and not the cached one.

[2015-06-03 21:34] bf4 commented on #876
@stevenwu looks like #936 is going to be the fix PR, good job @chrisbranson (btw, I didn't write the other pr I referenced)

[2015-06-03 21:44] rainerborene commented on #923
@groyoh I don't think so.

[code]

[2015-06-03 22:10] groyoh commented on #923
@rainerborene I couldn't reproduce a failling cache. It works fine for me. Are you sure that the value of `object.cache_key` does not change?

[2015-06-03 22:25] #935 closed

[2015-06-03 23:51] sungwoncho opened #937 "Scope is not passed through the custom attributes"
Scope is nil when serializer is called within a custom attribute of another serializer.

Contrived example:

[code]

[code]

Above works fine. However, `scope` is `nil` when I use `UserSerializer` in a custom attribute of another serializer:

[code]

**Update**

After reading the [code](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L165), I realiz

[2015-06-04 10:10] tommyblue opened #938 "undefined method `embed'"
I'm using the 0.10.0.rc1 version because 0.9.x doesn't work, but with this definition of the serializer:

[code]

I get this error:

[code]

Embed is deprecated? How can I generate the "old" JSON including associated objects, like this:

[code]

[2015-06-04 17:15] glennfu opened #940 "Postgres 9.4 incompatible with active_model_serializers 0.8 or 0.10"
I have a Rails 4.1 app where I use active_model_serializers and grape to serve an API endpoint. Recently I tinkered around with upgrading from 0.8 to 0.9, only to read a bit more deeply and decide I should probably be skipping 0.9 and checking out either the 0.10 rc or master branch. I made changes to adjust to using the "v0.10.0.rc1" and things were going well.

Then yesterday I upgraded my datab

[2015-06-04 20:10] joaomdmoura commented on #802
it was already merged. I'm closing it <3

[2015-06-04 20:10] #802 closed

[2015-06-04 21:15] kev5873 opened #941 "Overridden attributes function does not get called if using fragment cache"
I have a serializer that only shows certain attributes if a user is logged in, in this case I would want the fragment cache to only cache a specific set of attributes.  It appears that the attributes function doesn't get called when using cache.

[code]

[2015-06-05 04:53] abhisheksarka commented on #701
There is a simple solution for this.

In your config/initialisers directory create a patch "serializer_patch.rb" and open up the class `ActiveModel::ArraySerializer`

[code]

You can see the two lines that has been changed(with comments `# patch `)
Now when you call the Array Serialiser, just pass your hash inside `custom: { }`. It will be available in the options hash like every other property th

[2015-06-05 13:59] Le6ow5k1 commented on #922
@joaomdmoura didn't understand how it can be done using method to overwrite attribute. The only way to solve this problem that I found is to use `filter` method to filter out unwanted keys. But this syntax probably better.

[2015-06-05 15:28] dmitriy-sqrt commented on #923
Using rails 4.2.1 and 0.10.0.rc1 gem version. First time playing with this gem.

[code]

[code]
Have

[code]
in my development.rb

Cache files seem to be created in /tmp/cache, but i still can see the corresponding mysql queries in the server log.

[2015-06-05 15:37] aaronlerch commented on #940
I just verified this in my Rails 4.2 app using Postgres 9.4.1. I just deployed my upgrade from AMS 0.9.3 to `master` (`35fb9d`) and it works without a problem. Not on heroku though, I'm using AWS OpsWorks for the app server and RDS for the database.

[2015-06-05 17:44] eliduke opened #943 "Is it possible to pass dynamic value into cache key?"
I am trying to cache an AppLabel serializer, but I'm running into a problem with locales. The app labels should return different values depending on the current user's app_language, so that needs to be factored in with regard to cache keys.

Here is my serializer:

[code]

I tried interpolating into the key like this:

`cache key: "#{scope.app_language.name}/app_label", expires_in: 3.hours`

And I

[2015-06-05 17:49] eliduke commented on #923
I double checked my setup and I had `perform_caching = false` set. The strange thing is that with `v0.8.3` all I did was put `cached` in the serializer caching worked just fine, even with `perform_caching' set to false. Either way, caching is working for me now.

[2015-06-05 19:47] groyoh commented on #943
I could provide a PR to allow cache key to be a Proc but I would like to know @joaomdmoura thoughts on this. Until then, monkey patch is the only solution here IMO. Here are two way that you could try:
* Proc monkey patch
[code]
* Adapter monkey patch
[code]
Disclaimer: this was not tested and might not be accurate.

[2015-06-05 21:58] benwoodward commented on #899
+1

[2015-06-05 23:53] saneshark commented on #899
I've been using a decorator pattern, decorating the collection with an instance variable that has my sideloaded query set and group_by(:foreign_key_id), then my individual decorator overrides the association method, doing a hash lookup based on the sideloaded hash or super if the hash was not passed in as part of the collection's context. For me this is necessary no matter what since my API consum

[2015-06-06 16:16] unpatioli commented on #211
+1 @j4rs

[2015-06-07 17:00] groyoh commented on #938
I'm afraid that is not currently possible with 0.10. @joaomdmoura is this a planned feature for 0.10?
In the meantime, you could workaround it by creating your own adapter based on the json adapter. If you need some help with that let me know.

[2015-06-08 08:22] tommyblue commented on #938
ok, thanks.
Shouldn't this an important option? I have an habtm association and embedding object is a good way to avoid data replication inside the single json response or avoiding multiple requests (one for each id).
Isn't it?

[2015-06-08 15:34] eliduke commented on #943
@groyoh Awesome! I will give that a try for now. Thanks a bunch.

[2015-06-08 18:02] rainerborene commented on #923
@groyoh Just double checked `cache_key` and `perform_caching` values so I am sure.

[2015-06-08 18:29] joaomdmoura commented on #937
@sungwoncho just checkin, are you using 0.10? from master or rc1?

[2015-06-08 20:16] saneshark commented on #211
I did something like this in 0.9 branch:

[code]
But technically you could do `object.association(:association_name).loaded?` I would think just as well.

[2015-06-08 20:31] joaomdmoura commented on #941
Hey @kev5873, are you using rc1 or master?
Btw why don't create a virtual attribute?

[code]

This should work. :smile:
Sorry for take some time to reply you, was off for the weekend

[2015-06-08 20:51] kev5873 commented on #941
I am using master.

I can use a virtual attribute, but I would prefer unauthorized users not see those virtual attributes though, even if they were null.

[2015-06-08 22:30] joaomdmoura commented on #922
@Le6ow5k1 this would be an example.

[code]

[2015-06-08 22:43] joaomdmoura commented on #940
@glennfu did you trying master head? Does it still doesn't work?

[2015-06-09 06:49] jtippett commented on #940
Running postgres 9.4.2 (installed by brew) I've seen no such issues running both 0.8 and 0.9 branches on separate projects. Just FYI.

[2015-06-09 06:53] jtippett commented on #899
+1

[2015-06-09 07:21] groyoh commented on #943
@eliduke you're welcome. If it doesn't work let me know. I'll take some time to try it out and fix it.

[2015-06-09 13:49] Le6ow5k1 commented on #922
@joaomdmoura but this gives me `{ "complete_till": null }` if `object.type == 'Task'`. Instead I want to eliminate this key from response, so for your example response would be `{}` if `object.type == 'Task'`.

My current approach:

[code]

[2015-06-09 15:03] SeyZ opened #944 "JSONAPI 1.0 Support"
JSONAPI 1.0 is now released. Any plans to support it instead of the RC4? I would be happy to contribute if you need help.

[2015-06-09 16:00] saneshark commented on #922
Yea, while I like the :if syntax for readability, I think it could be argued that this approach violates some of the principles of SOLID. I'm not sure a serializer should ever conditionally remove an attribute, instead, that attribute should be NULL. If you don't want the attribute there at all, then perhaps a different serializer is what you want, as any attributes that exist in the serializer ar

[2015-06-09 16:18] kayakyakr opened #945 "Serialize Object/Array when no AMS Serializer is defined"
I'm receiving an issue, in latest master, where I receive ```NoMethodError (undefined method `new' on nil:NilClass.)``` when I attempt to serialize something like, ['Result is invalid'].

From everything I can tell, it's rolling through the get_serializer_for method, failing to find a serializer for my object, but trying to create an instance of that serializer anyway. It should fall back to a def

[2015-06-09 17:27] ankit8898 commented on #922
@Le6ow5k1 Does your `filter` method gets called.. i tried the same approach with `master` but filter is not called ?

[2015-06-09 17:45] joaomdmoura commented on #938
Hey @tommyblue, indeed, @groyoh is right!

Its possible to accomplish something close to it by using JSON-API, but would be a different implementation and not the '"old" JSON'.

btw why not use only:
[code]

This will return the serialized objects, isn't waht you need? You can map the ids if you want to, on a virtual attribute:

[code]

[2015-06-09 17:50] joaomdmoura commented on #923
I'm back ppl, need to take the weekend off to work on new features of AMS.
Have just read through the thread.

@eliduke that's because the 0.10.x cache implementation is based on ```Rails.cache```, so it needs to be enabled.

I'm just catching up with everything and will go back to this.

[2015-06-09 17:54] joaomdmoura commented on #941
Got it.
Indeed this is something that we don't support yet.
Another workaround, you can create 2 serializers, and put the authorized inside you controllers action, depending on the validation you can use one or another. How does it feels for you? :smile:

[2015-06-09 17:59] joaomdmoura commented on #899
@henrymazza confirmed. Ember, as far as I know, is moving forward to use JSON-API. We had to remove it as default because of a WIP Rails integration, but it's already supported and extremely easy to use.

[2015-06-09 18:19] joaomdmoura commented on #943
Hey fellows! :smile:
This is not the first time I hear this request. I'm not sure why I'm not so into doing this lol :stuck_out_tongue_closed_eyes:

But indeed @groyoh, this would be a great implementation.
It doesn't pleases me to need to use scope in order to do this. Another solution would be to define it as an option that you pass to the serializer, but keep this cache options apart from each

[2015-06-09 18:19] Le6ow5k1 commented on #922
@ankit8898 Yes, but I'm using 0.9.3 version.

[2015-06-09 18:20] joaomdmoura commented on #944
@SeyZ as far as I know there isn't anyone working on it, and I would be glad to review it! :smile:

[2015-06-09 18:22] eliduke commented on #943
I gave it a shot, and it didn't seem to work. Unfortunately I don't know enough about Procs to really be able to figure this one out on my own. But I tried both options and got the same "wrong number of arguments (1 for 0)" error on this line:

`cache key: ->(){ "#{ scope.whatever }/app_labels" }, expires_in: 3.hours`

[2015-06-09 19:06] groyoh commented on #943
I made a mistake in my snippet. Here is the correct one, I've tested it and it works for me:
[code]
BTW, make sure that you pass in the scope everytime or it will raise an error.

[2015-06-09 20:04] eliduke commented on #943
That worked! That's awesome. Thanks so much. I'm curious to see if this is some functionality that works it's way in more officially. I'm sure that it could be useful to others.

[2015-06-09 20:05] eliduke commented on #943
@joaomdmoura Should I close this issue or would you like to use it as a reminder? Do you want to flag it as a possible feature request?

[2015-06-09 20:22] edwardloveall commented on #870
I think I've narrowed it down to af81a40. I'm going to try and take this on but it might take me a bit to get in an figure it out. Happy to pair with someone also if they're into that.

[2015-06-09 20:46] bf4 commented on #870
I'd love to pair http://benjaminfleischer.com/pair

[2015-06-09 21:14] tommyblue commented on #938
If I'm not wrong, your solution puts the serialized POI objects inside their Itinerary "fathers". This means that  there will be a lot of replicated POI objects inside different itineraries. This is not a problem with few objects but with a lot of objects is a lot of useless weigth into the JSON

[2015-06-09 21:53] jbhatab opened #946 "Pass options into raw array serializer call"
I'm trying to serialize a collection of objects using the Array Serializer syntax.

[code]

I want to pass the start_date and end_date options so I can access it through serializer_options[:start_date] and serializer_options[:end_date]. When I puts out the serializer options though they are empty. I have serializer_options working when I use it through the render json call like this,

[code]

[2015-06-10 00:56] axsuul opened #947 "Easiest way to serialized outside of a controller?"
Currently, it seems like the best way to serialize outside a controller with the JSON adapter is

[code]

Is this is the most direct way to do it? Or perhaps any recommendations?

[2015-06-10 08:52] SeyZ commented on #944
@joaomdmoura It seems that the master branch is compliant with the 1.0. It supports relationships intead of deprecated linkage for example.

[2015-06-10 13:20] Le6ow5k1 commented on #922
So I guess for 0.10.x version there's no solution for such problem. Would like to hear from repository owners how they feel about my proposal.

[2015-06-10 14:50] iMacTia commented on #835
Sorry to re-open (even if was never closed) this discussion, but I agree with @frahugo.
I just realised testing my application that nested associations serialisation stops after first level.
I Completely understand your concerns about payload size, but as @JoshSmith also pointed out sometimes you just need to send a lot of information to avoid even slower multiple API calls.

That said, @joaomdmou

[2015-06-10 15:01] joaomdmoura commented on #922
@Le6ow5k1 indeed, as @saneshark wrote, **in the actual architecture** using 2 different serializer might be what fits you better.

... @Le6ow5k1 okay cc/ @kurko

[2015-06-10 15:08] joaomdmoura commented on #859
@bf4 tests are **always** welcome! Indeed I'm closing it

[2015-06-10 15:08] #859 closed

[2015-06-10 15:12] joaomdmoura commented on #876
@stevenwu could you confirm if #936 solved it for you?

[2015-06-10 15:12] #876 closed

[2015-06-10 15:48] iMacTia commented on #835
However, for the time being, I created a new adapter called JsonCustom.
It's a copy-and-paste of the standard Json Adapter, but changing line L22 from

    item.attributes(opts)

to

    self.class.new(item).serializable_hash

and it actually seems to be working. No option, it ALWAYS call recursively. That would be the best approach

[2015-06-10 15:49] kev5873 commented on #941
Hmm.. That sounds like an interesting idea, I'll give it a try!

[2015-06-10 18:29] joaomdmoura commented on #944
Hm... @SeyZ I'll just double check if it's being fully supported before merge this. :smile:

[2015-06-10 19:50] kurko commented on #922
1. I'd say that we definitely need `filter` implemented.

2. as for `:if`, it's not something I think I'd personally use. To implement that, I think we should get a lot more people backing this up.

[2015-06-10 20:03] saneshark commented on #922
I'd be :+1: but I really do think it's not good practice. It would help people keep things DRY by using the same serializer, but I think that's what inheritance and concerns and such are better suited to do with unique serializer classes.

@kurko I think to your point, it comes down to *do we want ActiveModelSerializer to have the flexibility that jbuilder has* or do we want to help reinforce some

[2015-06-11 00:50] joaomdmoura commented on #943
I'm closing it for now :smile:

@groyoh in case you want to moves forward with this PR that we discussed just open a new issue so we can talk about what should be the implementation. :stuck_out_tongue_closed_eyes:

btw @eliduke could you replicate this solution for now at StackOverflow, just to help other ppl to easily find it :smile:

[2015-06-11 00:50] #943 closed

[2015-06-11 02:45] BrianTheCoder commented on #706
I am seeing the same behavior. Even when I manually specify the serializer, it's just returning #to_json

[2015-06-11 08:55] iMacTia commented on #835
Line 29 also need to change into
    self.class.new(association).serializable_hash

[2015-06-11 11:22] pedrovcenteno commented on #908
Hi,
I had same problem having ams 0.9.3 and same solution worked. I was getting  an infinite loop that crashed the Linux process.
the serializer:
class UserSerializer < ActiveModel::Serializer
  embed :ids
  attributes :id, :email, :created_at, :updated_at, :auth_token
  has_many :products
end

[2015-06-11 13:30] lukebergen commented on #857
Confirmed that this is also an issue (at least for me) in 0.9.3.

[2015-06-11 19:31] bf4 commented on #947
that's close enough.. see how I wrote some tests here https://github.com/rails-api/active_model_serializers/issues/878#issuecomment-96073030  (but why are you serializing outside of the controller). the tl;dr of how AMS does it is https://github.com/rails-api/active_model_serializers/blob/master/lib/action_controller/serialization.rb#L38-L48

[2015-06-11 19:35] bf4 commented on #946
Please see https://github.com/rails-api/active_model_serializers/blob/master/lib/action_controller/serialization.rb#L38-L48 and perhaps http://www.benjaminfleischer.com/2015/06/02/understanding-rails-model-serializers/ for how AMS works

I'd recommend against calling ArraySerializer directly, in general.  It's not the intended usage, AFAIK.

What are you trying to do that you want to pass start_da

[2015-06-11 19:37] bf4 commented on #945
Needs more info.  What is obj? Which ref are you on? (paste output of `bundle show active_model_serializers`) Which Ruby?  Which Rails?  What does your serializer look like?  Could you provide some more of the stack trace?

[2015-06-11 19:39] bf4 commented on #938
@tommyblue Which adapter are you using? Json or JsonApi? You might want to subclass the adapter you're using to extend it.

[2015-06-11 19:42] bf4 commented on #937
Also, is there any reason you can't use `belongs_to :student` or some such so that it will just work? I know has_one was removed.

[2015-06-11 19:45] bf4 commented on #933
I think what you want here is pseudo-code

[code]

right?

[2015-06-11 19:52] kayakyakr commented on #945
active_model_serializers-7b0a85fdda85
rbx 2.2.10
rails 4.1

code is called as:

[code]

Stack trace is less than interesting and I don't currently have an example set up to cause the error, but digging through the code:

[code]

Is ```render json: {}``` supposed to fall back to a more appropriate renderer?

[2015-06-11 19:59] bf4 commented on #945
perfect. So, the bug is there's no serializer for Hash. solutions: call
`to_json` on your hash, and the resulting string will be your response
body :)

[2015-06-11 20:01] kayakyakr commented on #945
That's a pretty ugly solution. I like my adapter: false workaround better.

[2015-06-11 20:10] edwardloveall opened #951 "Render using explicit each serializer test failing sometimes"
The test added in #949 [here](https://github.com/rails-api/active_model_serializers/pull/949/files?diff=unified#diff-ef7576d68f65ad1dc77b2535b639f048R117) is often failing (about 50% of the time). My thought is that it has something to do with all the instance variables in many other tests. This is a common error to receive:

[code]

And this one:

[code]

It's been very difficult to track down th

[2015-06-11 20:44] remear commented on #933
That's one way. For a rough example, what if I wanted to do this from rack with:

[code]

I wasn't sure how to get ``root`` in there.

[2015-06-11 21:15] bf4 commented on #933
Oh. you probably don't want to do that for a couple of reasons

1. it's not the intended usage and will only cause pain (in my experience)
2. it might be more happy path to have an error controller that you call directly here, e.g. `ErrorsController.action(:show).call(env.merge(something))` (this will skip the rest of the call stack, see actioncontroller::metal

[2015-06-12 00:02] bf4 commented on #945
I suppose we could argue this is a bug in AMS in that if it can't find a serializer for non-string object, it should either just pass it through untouched or call to_json on it depending on the context.

[2015-06-12 00:08] kayakyakr commented on #945
That would be the best, I think.

I also noticed that if you pass it a model that you haven't built a serializer for (yet or at all), it fails in the same way. Previous versions of AMS either passed those objects on to a lower renderer or just called to_json on them. Also chokes in the same way with an association without a serializer.

[2015-06-12 00:11] bf4 commented on #945
Yeah, wanna pair on a PR to pass through if adapter is nil or serializer is nil?

[2015-06-12 00:29] kayakyakr commented on #945
I need to do some more digging. It looks like it should be passing it to super as soon as serializer comes back nil, which means something else is going on.

[2015-06-12 02:09] bf4 commented on #945
I think you have it on the nose, if I understand what you understand. tl;dr

[code]

- where `use_adapter?` is true either when `:adapter` is not given or when it's given and falsy
- where `get_serializer(resource)` returns a serializer class either when `:serializer` is given or when it can be inferred by `ActiveModel::Serializer.serializer_for(resource)`
- thus, the AMS adapter is used when the

[2015-06-12 02:10] kayakyakr commented on #945
Yeah, that's what is confusing me. Let cause this error to occur and see what happens.

[2015-06-12 02:11] bf4 commented on #945
So, that's an easy test to write.

[2015-06-12 02:16] kayakyakr commented on #945
I got it!

[code]

It's because it's wrapped in an array. The error isn't in the rendering code, but instead is here:
```active_model_serializers-7b0a85fdda85/lib/active_model/serializer/array_serializer.rb:17:in `initialize'```

[code]

So it's the array serializer that needs to know how to handle non-serializer data.

[2015-06-12 02:20] kayakyakr commented on #945
Easier test to write. Much harder thing to fix because array serializer feeds that straight in to the adapter which doesn't know how to handle a non-serializer object or string.

[2015-06-12 04:00] bf4 commented on #945
I guess it would need a procy serializer that just calls to_json?

[2015-06-12 05:18] joaomdmoura commented on #877
I'm also not sure if it's a dup. Not sure if #949 impacts it.
Would be awesome to have a PR with a falling test on this one :smile: @JustinAiken would you be able to do this?

[2015-06-12 06:40] joaomdmoura commented on #883
ppl I'm closing this for now because it's a kind of edge-case.
We still can move forward with the proposal of move the ```id``` and ```type``` logic to inside JSON-API, if any you open a PR I'll certainly review it, but for now I'll wait to see if more people to back this up.

[2015-06-12 06:40] #883 closed

[2015-06-12 07:30] joaomdmoura commented on #941
0.8.x versions had the ```filter``` method in order to deal with this kind of things..
We have being discussing it on #922 so I'm closing this one for now :smile: but make youself comfortable to update it in case you need more help :smile:

[2015-06-12 07:30] #941 closed

[2015-06-12 07:44] joaomdmoura commented on #835
Hey @iMacTia, first of all thank you for contributing :smile:
Indeed, the "solution" I provided, as I said, was just a workaround. I'm not in favor of always call relationships recursively but your proposal of optionally including it sounds great to me. I'd be willing to review a PR implementing it. I'm not able to implement it myself right now, I'm already busy working on other new features, but

[2015-06-12 07:46] #873 closed

[2015-06-12 07:49] joaomdmoura commented on #784
Taking into account that we were unable to reproduce it and we would need the controller code to move forward into debugging this, I'm closing it for now.

[2015-06-12 07:49] #784 closed

[2015-06-12 08:01] joaomdmoura commented on #857
ppl, just a quick update, we have being talking about conditional attributes, and we decided that filter will probably be coming back in 0.10.x cc/@lukebergen

We haven't started it yet because we are busy into some new features to AMS too, but we are willing to review a PR implementing it, otherwise it's already on our todo-list to a near-future. For now I'm closing this PR.

[2015-06-12 08:01] #857 closed

[2015-06-12 08:16] tommyblue commented on #938
@bf4 I could, but I'd like to understand from @joaomdmoura if I'm saying something wrong stating that the use of `embed :ids, include: true` is preferable when having a HABTM association with a lot of records since it can reduce the weight of the response.
I don't know the background discussion which led to removing `embed`, but I think it's useful so I'd like to understand why isn't present any m

[2015-06-12 08:40] joaomdmoura commented on #938
@tommyblue indeed I didn't realised the whole scenario. It makes sense.
Actually we haven't decided to remove ```embed```, we just haven't implemented or discussed about it yet. :smile:

The good news is that I'm willing to review a PR implementing it, but the bad one is that I'm busy into some other new features, so we can't work on this right now, but we might do it in a near future!!  :smile: M

[2015-06-12 08:42] tommyblue commented on #938
thanks @joaomdmoura

[2015-06-12 08:55] iMacTia commented on #835
Yep, I can try to do something.
Stupid question, on which branch would you like the PR?
Master? 0-10-stable?

[2015-06-12 09:08] rbarrera87 commented on #910
@joaomdmoura I am trying to fix this bug, it seems like the error is in this function:
[code]
I was trying to modified this function, but I am facing a problem when the option `embed_in_root` is true. Is there any way to access to `ActiveModel::Serializer::CONFIG.embed_in_root` in `lib/active_model/array_serializer.rb` or am I misunderstanding/missing  something?

You can check my commit [here](ht

[2015-06-12 09:46] iMacTia commented on #835
Never mind :).
Just submitted PR #952 on the master.

Great timing for an rc2 with at leat my commit and PR #936 (I REALLY need this), what do you think, @joaomdmoura ;)?

[2015-06-12 16:26] jbhatab commented on #946
I have a filterable/sortable table I'm getting json data served into from my api. I want to make it so they can export that data to csv. I have to do the csv stuff all on the backend so it is accessible via urls and not just the front end. At first I replicated the serializer with a to_csv method but I kept adding fields so I decided to serialize the data and then turn it into a csv so when I add

[2015-06-12 17:13] joaomdmoura commented on #929
@groyoh Indeed, this would make it compatible, but it's definitely not pretty hahaha :smile:
As we had only one case so far it seems a edge thing, so I'm closing this for now. If this come up again we can work something out.

[2015-06-12 17:13] #929 closed

[2015-06-12 17:19] bf4 commented on #946
You want to generate a CSV form the JSON? That sounds like using a CSV renderer e.g.  https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_controller/metal/renderers.rb#L66-L128

It might help if you gave an example input and the desired output.

[2015-06-12 17:47] jbhatab commented on #946
Here's some of my index controller code,

# app/controllers/user_controller.rb
[code]

So I need that to_csv method to use the same serializer logic as the json serializer. Right now I'm kicking it to a to_csv method, which is doing this,

# app/models/user.rb
[code]

But the start_date and end_date aren't getting received by the serializer like they are in the json call.

Here's the serializer.

[2015-06-12 18:53] bf4 commented on #951
@edwardloveall See my PR into your PR https://github.com/edwardloveall/active_model_serializers/pull/1

[2015-06-12 19:11] bf4 commented on #877
I think this is related to https://github.com/rails-api/active_model_serializers/issues/945#issuecomment-111329348 as well

[2015-06-12 20:25] #944 closed

[2015-06-12 21:08] JustinAiken commented on #877
Done in #955

[2015-06-12 21:52] joaomdmoura commented on #947
@axsuul instead ```.to_json``` use ```. as_json```.
But as @bf4 said, why are you trying to serialize it outside the controller?
If possible, could you try to create this question at Stackoverflow and send over the link? We are trying to focus the questions there :smile:  I'm closing it for now

[2015-06-12 21:52] #947 closed

[2015-06-12 21:56] #901 closed

[2015-06-12 22:57] joaomdmoura commented on #877
Yeah it's definitely related to #945, I'm interested in make this happen!
@JustinAiken made a great work writing the falling test, I'll try to pick up from there, but I'm kind busy with other couple features now, so in case some of you want to implement it just make yourself comfortable and let me know, otherwise I'll work on it once I finished this new PR, what might be this weekend :smile:

[2015-06-12 23:04] joaomdmoura commented on #945
Hey ppl, just read trough the thread, I'm happy to see that you narrowed that the issue!
Just keep in mind that we are kind starting the fix the ```has_many``` at #955
I know that it's probably not related to ```array_serializer``` it self but just keep it in mind! :smile:

[2015-06-12 23:08] kayakyakr commented on #945
That should fix it @joaomdmoura, or at least indicate how this should be fixed. It's the same issue at the core if it isn't the exact same issue.

[2015-06-12 23:26] joaomdmoura commented on #910
Hey @rbarrera87, glad to hear ta you are into it!
I made some digging, maybe found the solution, did you tried?:
[code]

Other option, that will affect the object being rendered, would be:
[code]

I agree that taking apart this config, AMS shouldn't mess with the object without a serializer, but as I are really focused into 0.10.x it's hard to develop new thing to older versions. (btw I strongly r

[2015-06-13 00:02] axsuul commented on #947
I'm trying to send a json object to a webhook, using the same serializer that I return as an API response. Hope that makes sense, and thanks for the responses!

[2015-06-13 03:45] dieuit07 commented on #946
+1. I want to pass some params to seriallizer
in comment_seriallizer.rb
[code]

controller

With single it work perfect
[code]

But with array it not work.
[code]

puts options in function initialize => {:scope=>nil, :key_format=>nil, :only=>nil, :except=>nil, :polymorphic=>false, :namespace=>nil}

[2015-06-13 05:35] joaomdmoura commented on #835
Tks @iMacTia! Have just checked the PR.
hahah yeah, Rails folks also are waiting for a new RC.
I'm planning a new one to the next week :smile:, I just need to finish a feature that wanted to include into it. :stuck_out_tongue_closed_eyes:

[2015-06-13 05:53] joaomdmoura commented on #951
Glad that you guys made it :smile:
I saw it was already merged and the #949 was updated so I'm closing this one

[2015-06-13 05:53] #951 closed

[2015-06-13 06:01] #870 closed

[2015-06-13 06:56] joaomdmoura commented on #946
Hey ppl, just read the thread :smile:
What version of AMS are you using? If not 0.10.x ```scope``` might help you into passing parameters to serializer.

[2015-06-13 08:27] dieuit07 commented on #946
yeap. scope save my day :D thanks @joaomdmoura

[2015-06-13 18:24] joaomdmoura commented on #946
Btw would be awesome if we could replicate this issue on StackOverflow to help others :smile:

[2015-06-14 01:28] jbhatab commented on #946
I'm already using scope for current_user but I have to pass in start and end dates. So what is happening is there is a table of data and there's a start and end date filter. Once they change the dates it hits the api again with the new dates and needs to get the new data in json. What I'm doing is passing the params through the serialization options which works great but I'm trying to figure out h

[2015-06-14 02:24] victorhazbun87 opened #956 "ASM issue with render :json with status code"
The problem with this piece of code:

    render json: application_invitation, serializer: Api::V2::ApplicationInvitationSerializer, status: :created

Then in my tests:
expected: "201"
got: "400"

Finally when I switch to the code to be like:

    render json: Api::V2::ApplicationInvitationSerializer.new(application_invitation), status: :created

And my test pass. What is going on here? It is clea

[2015-06-15 02:58] bf4 commented on #956
Does the 400 have any more info associated with it? stack trace?  do your tests also test the structure of the serialized resource? Is the test failing in only one situation but working on the live service for both? Thanks.

[2015-06-15 03:04] bf4 commented on #946
What version of AMS are you using? Which versions of Rails/Ruby?

[2015-06-15 14:25] jbhatab commented on #946
.9-stable and I'm using rails 3.2.17. There were a lot of ways options were handled in various versions of AMS, and .9-stable allows you to pass things as serialization_options.

[2015-06-15 17:40] eliduke commented on #943
Here's the solution I posted on StackOverflow:

http://stackoverflow.com/questions/30851500/how-to-use-a-dynamic-value-for-cache-key-with-activemodelserializers-v0-10-0/

Let me know if there are any changes that I should make to it.

Thanks again for all your help!

[2015-06-16 08:53] GriffinHeart commented on #772
Got bitten by this, its specially bad when trying to migrate from an existing API to use AMS if it keeps this behaviour it means we can't migrate in steps (one serialiser at a time) and have to do it for everything.

In the end I did a find and replace to every `render` and put a `.to_json` on everything that didn't use AMS.

[2015-06-16 12:42] onceatime commented on #908
same problem here

Models:
[code]

Serializer:
[code]

[2015-06-16 13:11] onceatime commented on #908
temporary i did:
[code]

[2015-06-17 01:31] GriffinHeart commented on #945
I think this is the same as #772

[2015-06-17 01:33] kayakyakr commented on #945
Yes, it is. Also the same as #955, or at least should be fixed by the fix for that issue.

[2015-06-17 01:46] GriffinHeart commented on #945
Just to add some info the `nil` comes from here

https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L243-L247
[code]

When using `render json: ['errors']` class will be `String` which has no serialiser, same thing as `render json: [{a: 1}]` where class will be `Hash` which also has no serialiser, thus `serializer_class` is `nil`

[2015-06-19 15:49] imton commented on #835
Needed this too.
I added a check for nested associations because I was getting multiple root keys on them.
[code]

https://gist.github.com/imton/a1e1ee93d469fbd9f2fd

[2015-06-20 16:44] malroc commented on #835
+1 for nested associations.
Also, I don't think that increased payload is a problem at all: if you don't need associations somewhere, you can always create a serializer that don't have them (i.e. use different serializer classes for different cases).
I.e. there IS always a good option to exclude unnecessary associations from the output: define multiple serializer classes + uses inheritance to stay

[2015-06-20 17:31] joaomdmoura commented on #946
@jbhatab Have you tried to use ```.merge``` to merge the data you want, after serialization, with the dates you need

[2015-06-20 17:34] jbhatab commented on #946
I have a unique scenario with this where I need to pass the params into the serializer for it to correctly serialize it. I could use attr_accessor but it makes a lot more sense to pass params from the front end to the serializer and then output the data based on the params.

In my case I have a date range filter and when I change the dates I need the serializer to output different efficiency and p

[2015-06-20 18:11] joaomdmoura commented on #946
@jbhatab unfortunately I don't believe that we have a feature that would allow you to easily do this.
There are some workarounds, but nothing graceful, like pass the date together with the user as scope.
It just seems an edge case for me. :pensive:

[2015-06-20 18:18] jbhatab commented on #946
It's totally fine. I really couldn't think of many other scenarios besides this but I ended up just making custom ruby objects.

Might be something to think about for 1.0 but I'm good!

Really appreciate the input.

[2015-06-20 18:18] #946 closed

[2015-06-21 04:26] brandonparsons opened #960 "Slugs as ID's for relationships"
Hi there,

I'm trying to use the JSON API adapter for AMS. Some of my models use slugs as IDs  - how can I get the ID properties of associated records under `relationships` to use the slugs instead of integer IDs?

I've tried to use
`attribute :slug, key: :id`
and
[code]

[2015-06-21 04:40] bf4 commented on #937
Propose closing since OP hasn't responded with version. (Though I correct myself, [`has_one` was removed, but has since been re-added](https://github.com/rails-api/active_model_serializers/pull/725))

[2015-06-21 08:02] bf4 opened #961 "Race condition in ActionController::Serialization::ImplicitSerializerTest#test_render_fragment_changed_object_with_relationship"
Should be an easy fix if anyone wants to pick it up.

ref: https://travis-ci.org/rails-api/active_model_serializers/jobs/67701995

[code]

[2015-06-21 23:21] sungwoncho commented on #937
@bf4 I am using `0.9.3`.I am no longer working on this project so I am not sure if upgrading the gem would have fixed the issue.

[2015-06-22 15:37] klautcomputing opened #963 "has_many :options doesn't work"
I am in the process of updating to 0.10.0.rc2 and I have an Option model when I try to serialize it with:
[code]
I get the error:
```no implicit conversion of Symbol into Integer```.

If I rename the association via:
[code]
it works fine.
BTW: I am upgrading from 0.9.3, hope that helps.

[2015-06-22 15:46] Mexxerio commented on #963
Can confirm this issue.

I worked around it by renaming the association like you did and add an alias method
[code]

It would be awesome if that could be fixed though.

[2015-06-22 18:03] bf4 commented on #963
To clarify the code we're talking about, is this about right?

[code]

(options might not be a good table name. nor params, tasks, cases, classes, etc... :)

[2015-06-22 18:06] bf4 commented on #960
Did either of those work? What happened? Which version/ref or AMS are you on? Which Rails are on you? Which Ruby?

[2015-06-22 18:09] bf4 commented on #960
Per JSON-API, ids must be immutable and unique. Both integer and uuid are discussed. Are you sure your slugs are immutable and unique?

[2015-06-22 18:10] klautcomputing commented on #963
Yes, seems about right.
Well, it worked with 0.9.3. I guess because it was called serialization_options instead of options.
This is my current and ugly workaround
[code]
is there a particular reason for calling it options instead of serialization_options?

[2015-06-22 19:33] cornerman commented on #963
Please rename this back to serialization_options, as I think the name is too generic to be in scope (or is there a specific reason?). It might also be a good idea, to prefix the other ones as well, like: serialization_params/serialization_ tasks/...

[2015-06-22 19:52] klautcomputing commented on #963
ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux] and Rails 4.2.1 and I am running my rspec test which just does a get to show. If there is anything else I can help with just say so! Stripped my home path to make it a bit smaller.
[code]

[2015-06-22 21:08] bf4 commented on #963
Thanks.  This might be relevant to https://github.com/rails-api/active_model_serializers/pull/962

[2015-06-22 22:30] brandonparsons commented on #960
@bf4 Neither of those worked - I ended up getting integer IDs back in both scenarios, which is not the behaviour I had hoped for.

The slugs should be immutable and unique. I'm using `friendly_id`, which checks for uniqueness of slugs.  Slugs are assigned on create, and never changed.

[2015-06-22 23:44] GCorbel opened #964 "Not able to have the root"
Hello,

I have this serializer :

[code]
And this controller :
[code]
And this initializer :
[code]
I always have this result :

[code]

Is there a solution ?

Thanks!

[2015-06-23 03:29] bf4 commented on #960
Thanks

[2015-06-23 13:36] klautcomputing commented on #964
Which adapter are you using? And which ams version?

If you are using 0.10 then the docu states that:
FlattenJSON  generates a json response **without** a root key.
JSON - generates a json response **with** a root key. The **root key can't be overridden**, and will be automatically defined accordingly with the objects being serialized.

So you would need to use the JSON adapter and live with the n

[2015-06-23 14:54] GCorbel commented on #964
Yes, as you said, it's a pitty. I want to create a web api for a ember application. Ember needs a very specific format. Accodring to [the Ember's doc](http://guides.emberjs.com/v1.12.0/models/connecting-to-an-http-server/), the model have to be contained in a root with the singular model name. If I understand, adapters will give plural name.

Is it possible to use AMS to create an API with Ember?

[2015-06-24 14:40] SweeD commented on #940
I have the same issue.

My setup:
- Rails 4.1.11
- Ruby 2.1.2
- postgres 9.3.5
- active_model_serializers on commit f67fd976ecbe41305c484e4689003758e8631998

I get following error
[code]

Do you need any details to go further?

[2015-06-24 16:48] bf4 commented on #956
Propose closing as stale, pending OP response.

[2015-06-25 06:47] SweeD commented on #940
@glennfu @aaronlerch

Do you use `active_model_serializers` with the `grape-active_model_serializers` gem?

I had this problem only with the combination of these 2 gems.

I changed to a more maintained version of that gem here:
https://github.com/Thanx/grape-active_model_serializers.git

And the problem was gone. :dancer:

[2015-06-25 10:37] piotrpalek opened #968 "How to include nested associations?"
Hey, let's say I have a `Post` model which `has_many :comments`. And I use it like this in the post index controller: `render json: post, include: ['comments']`. That works fine and includes the comments, but let's say the `Comment` model `belongs_to :user` now. Writing `render json: post, include: ['comments', 'user']` doesn't "sideload" the data, is there a solution to this?

[2015-06-25 11:46] aaronlerch commented on #940
I do use AMS, but do not use `grape-active_model_serializers`

[2015-06-25 12:25] hhff opened #969 "JSON API Adapter, don't include relationships"
Using the JSON API Adapter with 0.10.0rc2.

[code]

Response looks like this:
[code]

How can I get this response to only include the `tracks` IDs ?

Thanks so much for all the hard work here!  Happy to update the README when this is solved.

[2015-06-25 14:23] doooks commented on #968
Hi @piotrpalek , I ran into this problem just as you posted this. I've forked and committed a failing test that shows the behaviour I was trying to produce

Does this look like the same problem to you?

317004058a610c28ac15cbeed459ceb2c9323da6

[2015-06-25 14:27] Rodrigora commented on #969
Hi @hhff,

To follow JSON API specifications, this is the way that relationships should be rendered (always include the `type` of the object).

One solution to render an array of tracks IDs is add `:track_ids` to attributes list. So you'll have an list of IDs inside `attributes` object of `Course`.

Maintainers, I'm following this project to know it better, so please correct me if I'm wrong.

[2015-06-25 16:07] dimonzozo commented on #968
Hi @piotrpalek, @doooks. I have the same issue right now.

And I think this is design decision and if adapter will render `has_many` relations recursively we'll get loop. Post -> Comments -> Post -> Comments...

[2015-06-25 17:02] piotrpalek commented on #968
My problem is with AMS 0.10-rc2 and the json-api adapter (just checking if we're talking about the same issue) and I don't know how to sideload nested relationships with that setup (or if it's possible at all).
@doooks My issue is similiar but a bit different, in my example the comment wouldn't have an author (just the post), and I would try to sideload the post's author while serializing the comm

[2015-06-25 17:08] hhff commented on #969
Oh thanks @Rodrigora ! got it.  That means it's working as expected :smile:

[2015-06-25 17:08] #969 closed

[2015-06-25 17:27] kurko commented on #961
Yeah. We can use Timecop.

[2015-06-25 17:30] joaomdmoura commented on #908
ppl I'm sorry about this, we are deeply focus on 0.10, and short-handed to handle the bugs and features request on older version for now. But it's on our radar. :smile:

[2015-06-25 17:44] joaomdmoura commented on #937
```belongs_to: student``` as @bf4 pointed out seems the way to go for me.
IMHO passing an scope by default is unnecessary. :smile:
It indeed won't work, but it seems just an edge-case for me that could be handled with the ```belongs_to```, so I'm closing this for now.

[2015-06-25 17:44] #937 closed

[2015-06-25 18:17] joaomdmoura commented on #960
@bf4 it's 0.10.x because there was no adapter pattern before that.
@brandonparsons indeed the solutions you implemented aren't supposed to work. The JSON API adapter automatically sets the id and and type of the resource being serialized.

*Extracted from [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json_api.rb#L95)*
[code]

We could

[2015-06-25 19:23] joaomdmoura commented on #964
@GCorbel actually we have being working closely with ember to make this kind of integration a piece-of-cake.
And it is! The JSON Adapter matches the expected by ember. The root in singular when retrieving a single resource as a ```show``` method for example and plural when returning a set of resources, like a ```index``` method for example.

@spastorino made and awesome example just some days ago:

[2015-06-25 19:23] #964 closed

[2015-06-25 19:45] joaomdmoura commented on #956
Agreed.
@victorhazbun87 let us know in case you still have the issue.

[2015-06-25 19:45] #956 closed

[2015-06-25 22:38] joaomdmoura commented on #969
@Rodrigora is right. This is the way JSON API is expected to work :smile: I'm glad you guys managed to narrow it down.

[2015-06-25 22:40] joaomdmoura commented on #940
I'm closing this one for now until updates from @glennfu

[2015-06-25 22:40] #940 closed

[2015-06-25 22:59] glennfu commented on #940
I do indeed use grape-active_model_serializers and switching to the one authored by Thanx fixed my problem. Thanks @SweeD !

[2015-06-26 03:08] joaomdmoura commented on #940
@glennfu amazing!
I think the ppl at ```grape-active_model_serializers ``` would appreciate with you let them know about this issue.

[2015-06-26 05:32] #877 closed

[2015-06-26 05:34] joaomdmoura commented on #945
It was fixed at #962
I'm closing this for now, but would be awesome if you guys could test it yourself :smile:

[2015-06-26 05:34] #945 closed

[2015-06-26 12:49] hendricius commented on #910
@rbarrera87 for this you should always use `to_json` as you specified. Else a serializer is always used.

I think this is not really a bug.

[2015-06-26 12:50] hendricius commented on #908
:+1: let's focus on `0.10` and sort out the other issues later.

[2015-06-26 12:52] hendricius commented on #851
@wasaylor `0.10.0` is used by us in production and works stable.

[2015-06-26 13:39] brandonparsons commented on #960
FWIW, it appears that jsonapi-resources has the same behavior.

Don't implement this just for me if I'm the only one asking about it! What
I'm trying to do could be an anti-pattern.
On Thu, Jun 25, 2015 at 12:18 PM, João Moura <notifications@github.com>
wrote:

[2015-06-26 13:56] macfanatic commented on #673
Looks like this isn't suppported yet on `0.10.0.rc2` either.

[2015-06-26 17:54] joaomdmoura commented on #851
awesome! btw @ipkes 0.10 is faster then 0.9, I made some benchmarks, check it out on [AMS talk](https://www.youtube.com/watch?v=PqgQNgWdUB8&index=71&list=PLE7tQUdRKcybf82pLlMnPZjAMMMV5DJsK) at RailsConf

[2015-06-26 17:59] joaomdmoura commented on #910
I'm closing this for now.
@rbarrera87 btw, Let me know if the solution I posted before worked for you :smile:

[2015-06-26 17:59] #910 closed

[2015-06-26 18:06] joaomdmoura commented on #673
@macfanatic It is, but the way it's implemented is different :smile:

The 0.10.x uses an adapter pattern. If you check the [Adapters section](https://github.com/rails-api/active_model_serializers#built-in-adapters) on README you will see that we implemented 3 different Adapters, ```JSON```, ```JSON API``` and ```Flatten JSON```.

It was implemented a couple weeks ago at the [PR](https://github.com

[2015-06-26 18:07] macfanatic commented on #673
Thanks @joaomdmoura I'll give that a try when I attempt to upgrade again.  I had attempted to set the adapter to `flatten_json` and appeared that worked for my arrays, but was still getting `object: {}` root keys throughout any other items and just gave up.

[2015-06-26 18:09] joaomdmoura commented on #673
@macfanatic sorry to hear that! Yeah, you should give it a try again! Way easier and stable :smile:
In case you have some problem just show up at the IRC channel, post it on StackOverflow or on Github and let us know :)

[2015-06-26 18:13] #961 closed

[2015-06-26 21:39] amosjyng opened #973 "Where do I put the code to change the adapter?"
Where am I supposed to put this?

    ActiveModel::Serializer.config.adapter = :json_api

Doesn't seem to work in `config/application.rb` or in the serializers I've generated.

[2015-06-26 21:55] kayakyakr commented on #945
Seems to be working. Had to switch up to using the FlattenJson serializer for some of the parts where I was building up a serializable hash outside of the context of the controller, but that was an unrelated change.

[2015-06-26 22:10] ivaravko commented on #973
@amosjyng in an initializer (config/initializers/ ).

[2015-06-26 22:24] amosjyng commented on #973
Ah excellent, thank you!

[2015-06-26 22:24] #973 closed

[2015-06-27 19:05] GCorbel commented on #964
I changed to use the json adapter. When I do this `render json: skill`, I have this result :

    {"skill":{"id":1,"name":"Ember","description":"JS Framework","user_ids":[2]}}

With ember, I have to add another key "users" to add. I tried this :

      def show
        skill = Skill.find(params[:id])
        render json: { skill: skill, users: skill.users }
      end

But I have this result :

[2015-06-28 12:20] jiajiawang commented on #835
+1 for option to include nested associations

[2015-06-28 16:06] joaomdmoura commented on #973
:smile:

[2015-06-28 16:10] joaomdmoura commented on #964
Yeah @GCorbel, I'm not sure exactly what you need, but if you want the user that have this particular skill, you should add the user relationship into you SkillSerializer.

eg:
[code]

[2015-06-28 18:34] hugopeixoto opened #974 "JSON API adapter word separator issue"
I'm using the JSON API adapter with ember-data and I'm having a small compatibility issue.

The new JSON API adapter currently does not transform the attribute keys in any way. I have an attribute with an underscore in my model, it will be left untouched. ember-data/jsonapi looks up attribute names with dash-separated words. This means that these two adapters cannot be used together without changi

[2015-06-29 06:38] shicholas commented on #968
:+1: having the same issue

[2015-06-29 09:14] doooks commented on #968
do any maintainers have an opinion on this? is this feature going to be accepted if we build it?

[2015-06-29 15:17] shicholas commented on #968
Fwiw I ended up switching to the JSON API standard. I think its handling of associated records is a great alternative to nesting json. What are your reservations to the json API spec?

[2015-06-29 16:00] doooks commented on #968
@shicholas I'd never heard of it until recently, sure its great but I would rather have json that represents the model a bit more intuitively.

[2015-06-29 16:36] wrburgess opened #976 "Is "context" a reserved word?"
I have an serializer associated with a model that owns an attribute named `context`. Despite data being present in the `context` field, the serializer always returns a `nil` value for that particular attribute.

Is the word `context` a reserved word for active model serializers or is another issue at hand?

Here's the database record
[code]

Here's the JSON response from the serializer:

[code]

[2015-06-29 17:38] piotrpalek commented on #968
@shicholas Are you able to "sideload" a nested relationship using JSON API? What I mean is:
`Blog -> belongsTo -> Author`
`Comment -> belongsTo -> Blog`

And now what I want to do is load all comments and sideload all blogs but also sideload all blog authors, is that possible?

[2015-06-29 17:41] shicholas commented on #968
yup, I can do as many chains as possible with JSON API as long as the associations are declared in the serializer classes

[2015-06-29 20:15] ratbeard commented on #398
Has anyone written a camelcase adapter for 0.10?

[2015-06-29 22:52] piotrpalek commented on #968
To include the associations you got to declare them in the controller via `include: ['something']` right? Can you give an example how to include the nested associations?

[2015-06-29 23:11] shicholas commented on #968
sure here's what I did, my example: a body has one hand which has many fingers. This should serialize a collection of bodies including hands and fingers.

[code]

[code]

[code]

[code]

This should give serialized bodies with both hands and fingers, is this what you had in mind @piotrpalek?

[2015-06-30 05:43] joaomdmoura commented on #976
@wrburgess what version of AMS and Rails are you using? Could you please share your serializer too? :smile:

[2015-06-30 05:45] joaomdmoura commented on #398
@ratbeard no, we haven't build a specific CamelCase adapter yet.

[2015-06-30 05:58] joaomdmoura commented on #968
Hey ppl, first of all thank you all for helping each other :smile:
First things first, nested associations will be a feature on 0.10.x, a lot of ppl have being requesting it. :tada:

It started back at #835, there was a PR (#952) I reviewed it a while ago, but it's broken, I'll probably pick it up in some days.
Let me know if some of you want to pick it first of work on a new implementation, I wou

[2015-06-30 12:13] piotrpalek commented on #968
@shicholas thanks for the example I will try it later :)
@joaomdmoura yeah I will give it a try thx :)

[2015-06-30 13:57] wittyfox opened #979 "Any ideas about customize attribute?"
Any ideas about allowing a block or a proc or a lambda for customizing attribute:

[code]

or maybe:

[code]

or maybe:

[code]

In this way, the value of `:slug` will be `title.downcase.split(' ').join('-')`.

[2015-06-30 14:58] hhff commented on #974
:+1: I'm having this issue also.  @hugopeixoto - did you find a way around this for the time being?

[2015-06-30 15:46] hhff commented on #974
IMO - Ember Data should handle this.

That said - AMS should provide a dasherize option also - as the spec recommends it.  Rails is all about underscores, so we'd have to do something like this:

[code]

Not sure if this would even parse...

[2015-06-30 15:47] wrburgess commented on #976
## library versions
[code]

## Serializer

[code]

[2015-06-30 15:52] hugopeixoto commented on #974
@hhff: There's a `:key` option in the `#attribute` (singular) method which you could use:

[code]

I noticed that I forgot to add my current fix to the issue. I have edited the original post with a potential workaround, if anyone runs into this problem.

[2015-06-30 16:16] hhff commented on #974
thanks @hugopeixoto !  seems like this should also be a global config, however...

[2015-06-30 17:04] Rodrigora commented on #979
You can specify a method as attribute:

[code]

[2015-06-30 19:40] joaomdmoura commented on #976
So yes @wrburgess, in 0.9.x ```context``` is a reserved word.
But I would strongly recommend you to check and use the 0.10.x :smile: we are working pretty hard on it and the RC2 is pretty damn solid.
I'm closing this one for now but let me know if there is something we can help you with :smile:

[2015-06-30 19:40] #976 closed

[2015-06-30 19:47] wrburgess commented on #976
Thanks for the reply and answer!

[2015-06-30 19:49] joaomdmoura commented on #979
@wittyfox, today there is no way of use proc or lambda to customize the attribute. But this isn't the first time ppl talk about it.

The alternative the @Rodrigora mentioned would be my recommendation right now, the most straightforward way. I"m really in favor of this one, it seems cleaner for me.

I'm closing this one for now but make yourself comfortable to reopen it and let us know if this doe

[2015-06-30 19:49] #979 closed

[2015-06-30 21:44] wrburgess opened #980 "What is initializer syntax in 0.10.0.rc2?"
Using `active_model_serializers 0.9.3` on `rails 4.2.3` I would establish settings in this manner:

[code]

Using `0.10.0.rc2` I'm receiving this error:

[code]

What is the proper syntax for the initializer?

[2015-07-01 02:09] bf4 commented on #974
@hhff ED does, if you're using the AMS adapter...

[2015-07-01 02:19] bf4 commented on #980
Well, it looks like the `ActiveSupport.on_load(:active_model_serializers) {}` hook has been removed.

The only global config options I see are

[code]

There other configs are per instance or per serializer.

So, you might have

[code]

or

[code]

(the `include` gets passed into the adapter)

[2015-07-01 05:48] hhff commented on #974
Thanks @bf4, thinking more about the new JSONAPI adapter, as AMS adapter is being removed from the official ember data package in favour of it.  The suggestions in the above ember data thread are fine tho.

I do think ams should handle this transform for us tho.

[2015-07-01 07:56] wittyfox commented on #979
That's ok, quite cleaner solution.

[2015-07-01 13:48] bf4 commented on #974
Yeah, though we'd probably want it to be optional since people might still use AMS without a JS frontend and Rails-world still prefers underscores to dashes or camelcase.

[2015-07-01 18:15] toobulkeh commented on #624
Might want to add serialization_scope to the README. very helpful.

[2015-07-01 22:21] joaomdmoura commented on #980
Hey @wrburgess, indeed @bf4 is right.
We are moving always from global configs and focusing on adapters.
I'm closing this one but want to know more about how your migration from 0.9.3 to 0.10.x is going :smile: We know it isn't an easy migration but there are a lot of improvements, including performance :)

[2015-07-01 22:21] #980 closed

[2015-07-02 05:23] joaomdmoura commented on #624
@toobulkeh just checked the README, it's already [here](https://github.com/rails-api/active_model_serializers/tree/0-9-stable#customizing-scope).
I'm closing this one

[2015-07-02 05:23] #624 closed

[2015-07-02 05:40] joaomdmoura commented on #974
@hhff is it? :sweat_smile:  I should stay more tuned into this!

We are kind moving away from global configs, but is seems a good case.
In the order hand, I checked with the JSON API folks and it is indeed the recommended. It seems to me it should be the default format, but I need to give it some thought.

Anyway, I agree with @hhff we should handle this.

[2015-07-02 06:13] hhff commented on #974
<3

On Thu, 2 Jul 2015 at 7:40 am João Moura <notifications@github.com> wrote:

[2015-07-02 20:20] leonelgalan commented on #857
Yeah, `include_[attribute]?` was dropped sometime around 0.9.0 ([CHANGELOG.md change](https://github.com/strzalek/active_model_serializers/commit/82a4f25002d4881f20e9c0a8b579eece971b30b6) and [Implentation commit](https://github.com/strzalek/active_model_serializers/commit/841f3b8181e909225a298bbf70f2d09a2f5652dc)) in favor of `filter`. I'm glad to know filter is coming back!

[2015-07-02 21:31] bf4 commented on #974
Additional references: https://github.com/rails-api/active_model_serializers/issues/507 https://github.com/rails-api/active_model_serializers/pull/699

[2015-07-03 06:39] hhff commented on #974
I was thinking a bit more about this.

In my case - I'm happy for AMS to *not* handle this.  AMS has no control of serializing attributes on the way back into the application - so it means that there has to be two layers of serialization / deserialization / normalization, whatever you want to call it, just to dasherize keys.

IMO, the cleaner way to handle this is on the client (Ember makes this t

[2015-07-03 14:05] joaomdmoura commented on #974
@hhff [FYI](https://github.com/rails-api/active_model_serializers/pull/950), once we finish it, there will be no need of two layers anymore, AMS will do the magic. :smile:

I partially agree with you, but for me is more about follow JSON API conventions, if this is what ppl expect when using JSON API, the adapter should provide it. But in the other hand, as you said, dashes are a no-go for Rails.

[2015-07-03 14:37] hhff opened #983 "JSON API Errors Best practises"
Hi All!

Is there a built-in way to serialize errors as per the API spec?  Or is that left up to the developer - via a custom ErrorSerializer?

TY!

hx

[2015-07-03 19:06] posgarou commented on #947
Manual serializing is also useful if you're using the `react_component` helper that ships with [React-Rails](https://github.com/reactjs/react-rails#server-rendering).

[2015-07-03 20:38] joaomdmoura commented on #983
Hey @hhff someone might correct me, if wrong, but I'm almost 100% sure there is no built-in way right now :sweat_smile:

If you call:
[code]
It will only convert it to json and render it, without using any serializer.

[2015-07-05 07:18] krzkrzkrz commented on #834
Any updates on this? In the meantime, is there a workaround we can use to get the `link` feature going?

[2015-07-05 09:21] krzkrzkrz commented on #974
I'm in the same scenario. Using Ember CLI and the JSON API adapter. I've also configured active_model_serializers to use the JSON API format. i.e. setting `ActiveModel::Serializer.config.adapter = :json_api` in a Rails initializer.

I understand Rails is all about underscores. But if ASM is set to `:json_api` shouldn't it follow the convention of JSON API?

At http://jsonapi.org/format/#document-r

[2015-07-06 13:57] joaomdmoura commented on #834
@krzkrzkrz not yet, there is a pagination link PR going on but not this one yet.
But I still think that this is necessary and a valid proposal.
It's in out radar, I would be willing to review a PR, otherwise I'll work on it once I finish some new features I've being working on focused on deserialization *(that will be also awesome to JSON API :smile:)*

[2015-07-06 14:49] mareczek opened #986 "root attribute ignored"
[code]
gives output
[code]
when expected
[code]

[2015-07-06 16:02] joaomdmoura commented on #986
Hey @mareczek, :smile:
Yes, it was meant to be, as you can see on [README](https://github.com/rails-api/active_model_serializers#built-in-adapters):

I know it seems hard, but it seemed to us that it would help ppl into being consistent with their objects names and overall APIs structure this way.

I'm not saying that I'll not accept your PR (actually I think it makes sense to bring root option ba

[2015-07-06 20:44] bf4 commented on #983
We'd need to add a special error serializer or adapter, or both, since they are different from a normal response. In the short run, returning json that you craft yourself is the best thing to do.

It might be interesting to add an 'error' renderer to the controller, or a rescue_from.

[2015-07-07 00:22] lsylvester commented on #834
The jsonapi spec has been updated since the initial proposal.

The relationships can now look like:

[code]
I think that to represent this in a serializer, it could be like

[code]

In order to include a query param in the link (for example for pagination), you could set the value of the link object to a hash, like:

[code]

Or a custom url could be used by passing in an array or proc as the value

[2015-07-07 05:45] hhff commented on #983
I actually subclass'd Exception, and wrote the render logic into the `as_json` method, so now I just do:

`render json: error.as_json`

[2015-07-07 07:36] mareczek commented on #986
I have a case where i wan't to mask the root name (it has to do with using different serializers depending on the permissions of the current user).

Thanks for the explanation, overall i think it will not be a bad thing to allow developers to change the root key :+1:

[2015-07-07 12:02] Orgil opened #988 "is it possible to use it on top of rack?"
i'm just testing out that latest release jsonapi adapter. I setup grape on rack and tried to serialize objects. But seems it is not possible currently. Is it going to support on next releases or only supports rails?

[2015-07-07 14:09] fsmanuel commented on #983
@bf4 I'm doing this right know. When I'm finished I'll post a gist with the approach.

[2015-07-07 14:11] bf4 commented on #983
@hhff Can you share some code? That sounds both interesting and concerning :)

[2015-07-07 18:11] hhff commented on #983
Sure!  I'm still working on it - but for now this is working nicely.  It's not yet setup for actual model attribute errors, but it's a start.

[code]

**Concern included in API Base Controller**
[code]

**I18n for managing error copy & HTTP status from a single file**
[code]

Then for example, in a controller I just do:
[code]

[2015-07-07 18:33] bf4 commented on #983
Rather than `rescue_from Exception do |error|` you might want to set `Rails.configuration.exceptions_app = Api::ErrorHandling.new`(and see https://github.com/rails/rails/blob/4-2-stable/actionpack/lib/action_dispatch/middleware/public_exceptions.rb and/or maybe `def handle_error(exception)` and  ` def rescue_with_handler(exception)` )

[2015-07-07 19:01] joaomdmoura commented on #988
@Orgil it's deeply based on Rails, Ithink you could use it with PORO objects if you implemented to some AR methods, take look at our [fixture file](https://github.com/rails-api/active_model_serializers/blob/master/test/fixtures/poro.rb) we use some PORO objects, that would be a goos start point.
I'm closing this one for now but make yourself comfortable to keep updating it in case you need more he

[2015-07-07 19:01] #988 closed

[2015-07-07 19:22] joaomdmoura commented on #983
Hey ppl, awesome discussion going on here :smile:
Liked the solution @hhff
Make yourself comfortable to keep the discussion itself, I'm closing the issue for now.

[2015-07-07 19:22] #983 closed

[2015-07-07 20:17] zaeleus commented on #974
It's goofy that the JSON API spec recommends hyphenating names, especially when this is a disallowed character for names in most languages.

I definitely do think it's right to follow the spec recommendation though. AMS should default to hyphenated names, with a global option to customize the transformation. Even though, yes, Ruby and Rails uses the convention of snake case, the data exchange form

[2015-07-07 20:19] meltingice commented on #986
This is currently a roadblock for me. Because there is no longer a way to filter attributes, I have two different serializers for the same object that return different attributes based on the API endpoint that is called. Because of this, the root key for the JSON is wrong when using one of the serializers and there is no way to change it.

I say, either bring back the ability to filter attributes

[2015-07-07 22:30] bf4 commented on #974
@hugopeixoto so, the https://github.com/ember-data/active-model-adapter has been extracted from ember data, but sounds like it expects ams 0.9. It might be a good idea for us to coordinate with that repo...

[2015-07-07 22:37] bf4 commented on #986
I think in the short run you could

[code]

or make your own adapter

[code]

[2015-07-07 22:49] hugopeixoto commented on #974
@bf4 That repo is for the "vanilla" AMS format, not for the jsonapi (http://jsonapi.org) format.
The jsonapi format adapter is still in the ember-data main repo.

[2015-07-07 23:18] meltingice commented on #986
Oh cool, both look like good solutions.
Thanks!

--
Ryan LeFevre (@meltingice)
HODINKEE, Inc.
Sr. Software Engineer

On Tue, Jul 7, 2015 at 3:37 PM -0700, "Benjamin Fleischer" <notifications@github.com> wrote:

I think in the short run you could

class BrandBaseSerializer < ActiveModel::Serializer
  def json_key
    "brand-base"
  end
end

or make your own adapter

require "active_model/serializer

[2015-07-07 23:28] daino3 opened #989 "Naming collision of 'instrument' in ActiveModel::Serializable"
Hello,

I have a serializer like so:
[code]

It actually doesn't matter where the ```:instrument``` is but I get the following error:

[code]

After digging through the code, it appears that private methods are available inside the class that includes the module and are being called.

This seems like a relatively easy fix -> change the method name to something like ```serializable_instrument``` to

[2015-07-08 03:56] toobulkeh commented on #976
sounds like you guys are recommending 0.10.x pretty heavily, and a lot of features are only on that, but the README still says 0.9.x. Any recommendations to standardize the message to us plebeian users? :)

And as a follow on, is `object` still reserved in 0.10.x? It's a core symbol to getstream.io, which is why i ask.

[2015-07-08 13:35] piotrpalek commented on #923
@rainerborene did you fix your problem somehow? I seem to have the same problem (the strange thing is I think it worked for me before)

[2015-07-08 14:29] bf4 commented on #986
@meltingice let us know what you do, and maybe add it to the wiki

[2015-07-08 14:30] meltingice commented on #986
I ended up going with overriding `json_key` and it worked like a charm. I'll add it to the wiki now.

[2015-07-08 14:31] wrburgess commented on #976
@joaomdmoura I tried to upgrade to 0.10.x on a branch and a good portion of my specs blew up. Without full documentation to know what/why I need to change, it's hard to spend the time trying to accommodate the changes in the new version.

[2015-07-08 14:31] bf4 commented on #986
cool (and please reference this issue, and the ams version or ref you're on)

[2015-07-08 14:32] meltingice commented on #986
Looks like there aren't any pages in the wiki that I can edit. I'll send a PR for the README.

[2015-07-08 15:09] Yoshyn opened #992 "How to filter attributes?"
Hi, I want to be able to filter over attributes like this :

[code]
The fields options can be found here : https://github.com/rails-api/active_model_serializers/blob/master/lib/action_controller/serialization.rb
[code]

But this does not work. I try to understand a few the code and write something like this and binding inside the attributes method :
[code]
Let's see the attributes method inside se

[2015-07-08 17:35] joaomdmoura commented on #986
Hey ppl, I glad to see how you guys are working it out.

@meltingice I understand your needs, and as I said, I'm inclined to merge #987. (I'll try to review it today)

Another change I might do is to define the root key based on the model name and not on the serializer one.

[2015-07-08 17:38] joaomdmoura commented on #986
sorry for the flood. About the wiki thing, we are aborting the GH wiki and I'm already working on a ```docs``` folder structure. (Will also try to push it tonight)

[2015-07-08 17:39] meltingice commented on #986
Sounds good to me :+1:

[2015-07-08 20:50] daino3 commented on #989
Closing this because rc2 doesn't appear to have the same issue.

[2015-07-08 20:50] #989 closed

[2015-07-08 20:51] joaomdmoura commented on #989
Awesome! Tks @daino3  :smile:

[2015-07-09 08:36] piotrpalek opened #993 "[ams 0.10.0.rc2] ArgumentError - Unknown adapter: json_api"
Hey, I am adding `ActiveModel::Serializer.config.adapter = :json_api` in `app/config/initializers/active_model_serializers.rb` and when I try to fetch some data I get this error: `ArgumentError - Unknown adapter: json_api. Valid adapters are: [":fragmentcache", ":json", ":flattenjson", ":null", ":jsonapi"]`

[2015-07-09 11:56] piotrpalek commented on #974
@hugopeixoto just wondering, wouldn't the fix be also needed for the relationship names?

[2015-07-09 13:07] joaomdmoura commented on #834
Hey @lsylvester, tks for point out the change on relationship proposal.
But I'm not sure about the format proposals.
I wouldn't worry about pagination yet, and maybe we could make ```link``` a ```boolean```

[code]
- ```data``` default value would be ```true```
- ```links``` default value would be ```false```

How do you feel about it?

[2015-07-09 13:15] hugopeixoto commented on #974
@piotrpalek you're probably right. I'm not using relationships at the moment, so I haven't run into this. Relationship keys seem to be dasherized in ember-data as well.

Relationship keys come from `Serializer.each_association`, so the workaround wouldn't work, as it only fixes `Serializer.attributes`.

I suppose one could override `each_association` in `BaseSerializer` as well:
(I have not tried

[2015-07-09 13:27] joaomdmoura commented on #986
Just letting you guys know that I just opened the Docs PR we mentioned before. #994

[2015-07-09 13:33] joaomdmoura commented on #976
@toobulkeh and @wrburgess
Indeed, we have being promoting 0.10.x! :smile:

As soon as we officially release it, we will update the README, but it's already being used in production for some ppl, and pretty stable, so I would recommend anyone to give it a try.

Yeap, we kept ```object``` working the same way it was on older versions.

In order to make it easy to update and use 0.10.x we decided to

[2015-07-09 13:40] wonderbread commented on #993
Same issue.

Work around:
[code]

My reason (likely yours too?):
[code]
`.classify` in [this method](rails-api/active_model_serializers/blob/90fb1cf809dfa606181a1e047f30a05efe71912a/lib/active_model/serializer/adapter.rb#L35-L37) is turning it into `jsonAPI` instead of `jsonApi`

[2015-07-09 13:41] piotrpalek commented on #993
Good catch, yeah the workaround you posted works, forgot to update the issue with it. Nice catch with the inflector :+1:

[2015-07-09 15:26] bf4 commented on #993
Do you think you can write a failing test and/or a PR to fix this?

[2015-07-09 15:27] bf4 opened #995 "Transient test failures"
- https://travis-ci.org/rails-api/active_model_serializers/builds/70221324
- https://travis-ci.org/rails-api/active_model_serializers/jobs/70249853

[code]

[2015-07-09 17:42] joaomdmoura commented on #923
hey @piotrpalek have you checked  the ```perform_caching```?

[2015-07-09 21:04] rainerborene commented on #923
@piotrpalek nope, still with the same problem.

[2015-07-10 07:40] piotrpalek commented on #923
@joaomdmoura yeah I checked it and it's set as `true` (I even checked it while the server is running just to be sure). It is strange I don't know what changed, I tried AMS 0.10 a few weeks ago (was rc-2 as well I think) and I remember the caching working since the response times were in the < 20ms range back then. But now it isn't working, I confirmed it by checking the response times while having

[2015-07-10 15:29] joaomdmoura commented on #992
Hey @Yoshyn,

Indeed, ```fields``` seems to be only used on JSON API adapter, like ```included```.

You can check the PR that implemented it [here](https://github.com/rails-api/active_model_serializers/commit/fc1562c04ad5df16a264c2a5b7b15f507d5588f7)

I've just opened a new PR (#999) that fix some options mistakes and implements the fields option on Json Adapter.

[2015-07-12 05:41] tpitale commented on #974
Another potential workaround, temporarily on the ember-data side:

[code]

I placed this in my ember app's `app/serializers/application.js`.

Obviously, this is not ideal in the long term.

[2015-07-12 09:56] hhff commented on #974
Ember Data has exposed those hooks on purpose to account for cases like this.  It's an elegant solution to the problem and IMO can be considered "the" solution here, as its normalizing both the input to Ember and the output back to Rails.  Rails doesn't have to know anything about keys in this case.

Tony, not sure how you're declaring keys in Ember Data models, but if you're using camel case (tha

[2015-07-12 17:14] mminkoff commented on #974
Thanks @hhff and @tpitale.  This workaround worked for me with the following changes/additions:

1. String needs to be capitalized in @hhff's code above.  Here's the complete code:

[code]

2. unless your API URLs are dasherized, you'll need to tell Ember Data to make them underscored in app/adapters/application.js:

[code]

It looks like the JSON API spec is [indifferent between dashes and unders

[2015-07-13 10:24] shicholas opened #1001 "Question: Specifying an Adapter Per Model"
I would like to use the ``json`` adapter for some models and the ``json_api`` adapter for other models. Our team is interested in the ``json_api`` spec, but are not ready for a complete overhaul of how we render json. I tried creating some base classes that override the ``config`` in ``ActiveModel::Serializer`` to no avail.

Sorry if this is a duplicate, how would I go about this?

[2015-07-13 16:27] shicholas opened #1002 "Question: Programmatically invoking ArraySerializer for JSONAPI"
I am trying to write a controller spec for something that already works as expected, namely:

[code]

which gives me the JSON API that I expect. I'm trying to write something like this in my tests:

[code]

but I can't seem to get the ``included`` part to display (the ``data`` and ``meta`` attributes work just fine). Any help to programatically create a JSON document w/ ``included`` would be great

[2015-07-13 18:54] joaomdmoura commented on #993
tks you all! great work! Just flaged the PR as good for new contributors.

[2015-07-14 02:04] bf4 commented on #1002
what version are you one? Which ruby? Ruby version? Rails version?

Right now, in order to get what you want, you need to crib the code from the controller.  There's some examples in https://github.com/rails-api/active_model_serializers/pull/889#issuecomment-109348755

Soon, when #954 is merged, you'll be able to just use that.

[2015-07-14 02:10] shicholas commented on #1002
thanks for the quick response @bf4!

0.10.0.rc2, 2.2.2p95, 4.2.3

I'll try the comment you referenced and get back shortly. Thanks again!

[2015-07-14 03:19] shicholas commented on #1002
unfortunately I got:

with both the rc2 and the latest master. Here is my code:

[code]

I will dig deeper into this over the weekend.

[2015-07-14 05:06] joaomdmoura commented on #923
That's really strange, @piotrpalek have you change anything else that could impact on this?

[2015-07-14 05:32] shicholas commented on #1001
Just read https://github.com/rails-api/active_model_serializers/pull/1000#issuecomment-121135502 which answered my question, sorry for the spam.

[2015-07-14 05:32] #1001 closed

[2015-07-14 05:34] joaomdmoura commented on #1001
Hey @shicholas! Great, I glad you read that, so yeah, you could do something like:

[code]

[2015-07-14 05:35] #995 closed

[2015-07-14 05:54] ramontayag opened #1005 "Discussion: gracefully upgrading"
Apologies if this doesn't belong here. I couldn't find a mailing list, and this does not seem to fit StackOverflow.

I'm working on a bunch of apps that use AMS `0.8.x` to `0.9.x`. Upgrading to `0.10.x` will break the API endpoints of my apps. How do you recommend we upgrade gracefully? An example: create a fork of AMS with a different namespace (e.g. `ActiveModel::SerializersOld`). The `v1` API e

[2015-07-14 06:11] bf4 commented on #1002
I think the problem is that the adapter is `json_api` not `jsonapi`.

If that doesn't work, you can also try setting Serializer.adapter = ActiveModel::Serializer::JsonApi

what are `serializer` and `product` in the above?

[2015-07-14 06:13] bf4 commented on #1002
Also, for reasons, in the controller `each_serializer: serializer` becomes `serializer: serializer`, which is used by ArraySerializer (if you have a collection, which product doesn't appear to be)

[2015-07-14 06:14] bf4 commented on #1005
Maybe we could make adapters?  Some of this discussion will be addressed in the docs #994

[2015-07-14 06:20] shicholas commented on #1002
thanks! ``json_api`` resolved the nil issue. I am still having trouble getting the ``included`` working with this code (meta and data work as expected):

[code]

[2015-07-14 06:21] bf4 commented on #1002
[see which opts go the serializer and which to the adapter](https://github.com/rails-api/active_model_serializers/blob/954e4c51fe6ff4ebbca1692045b3decf3cc1633d/lib/action_controller/serialization.rb#L9)

include (not included) is an adapter opt

[2015-07-14 06:22] shicholas commented on #1005
I think your idea of making serializers is great. Are you thinking something like a ``version_8`` adapter and a ``version_9`` one?

[2015-07-14 06:25] shicholas commented on #1002
thanks for your help, this worked!

[code]

[2015-07-14 06:27] #1002 closed

[2015-07-14 06:28] bf4 commented on #1002
@joaomdmoura wanna mark this for documentation?

[2015-07-14 14:31] piotrpalek commented on #923
I have no idea honestly, if I will find out what my problem is I will let you know.

[2015-07-14 21:42] linesarefuzzy commented on #516
Why is the filter feature not in the master Readme? It is described in branch `0-9-stable`, but it works in my project, which has simply `gem 'active_model_serializers'` in the Gemfile (and `0.9.3` listed in Gemfile.lock).

[2015-07-15 09:01] jfragoulis commented on #657
I cannot find any solid examples on how to replace the `attribute` method, for the life of me. Can anyone provide some or update the `README.md` ?

[code]

Is this the way ?

[2015-07-15 14:07] stevemadere opened #1008 "How to serialize a hash member that has values which are objects with custom serializers under AMS 0.10.0?"
Described in this stack-overflow question:

http://stackoverflow.com/questions/31432702/how-to-serialize-a-hash-member-with-object-values-with-custom-serializers-with-a

[2015-07-15 18:51] jpaas opened #1009 "jsonapi for POROs"
I've been unable to use the jsonapi adapter for any object that is not an ActiveRecord object and ActiveModel::SerializerSupport seems to have been removed. Is there any plan for 0.10.x to support POROs?

[2015-07-16 00:46] shicholas commented on #1005
@ramontayag I took your advice and created https://github.com/shicholas/active_model_serializers/tree/0-8-with-namespacing. This way we can require both ``0.10`` and ``0.8`` in the same project with the later being ``ActiveModel::SerializerVersion8``.

[2015-07-16 02:17] bf4 commented on #1005
Watch out for any behavior it mixes in when required esp the controller

[2015-07-16 14:30] SeyZ commented on #834
:+1:

[2015-07-16 15:26] shicholas commented on #1005
thanks for the heads up.

[2015-07-16 16:07] trek opened #1011 "Testing Infrastrucutre"
I can't tell where (`git log --` returns nothing for that file), but at some point after 0.9.3 the [Rails test case integration code](https://github.com/rails-api/active_model_serializers/blob/97c9c5084a1531e086848e4d75fc90145fba9b83/lib/action_controller/serialization_test_case.rb) was removed.

I can't find where the equivalent code is in the current revision, so this breaks controller unit test

[2015-07-16 18:34] sternhenri opened #1012 "Running Serializers with Rails Nginx and Unicorn"
Hey there,

This is a bit of a shot in the dark but I am having trouble running the gem on a server to customize our API's json returns. (**see below for where it is included in the app**).

To make a long story short, the gem works great on the server when I run rails s, but somehow, when I deploy to the webserver using nginx/unicorn, I run into errors in my Unicorn log and the client can't acces

[2015-07-16 21:00] zreitano commented on #1012
I have the same exact problem! Any help would be greatly appreciated.

[2015-07-16 21:33] petermumford commented on #510
For me I passed the **view_context** to the array serializer:

`ActiveModel::ArraySerializer.new(your_array, each_serializer: YourSerializer, scope: self.view_context)`

And make sure you include `serialization_scope :view_context` to you application_controller.rb and then `delegate :current_user, to: :scope` in your **serializer.rb**

With the above done you can simple call **current_user** as yo

[2015-07-16 21:41] petermumford commented on #624
For me I had to include the **view_context** to the ArraySerializer please see my comment on this issue: #510 (sorry don't know how to link to a comment on the issue)

[2015-07-17 02:21] ramontayag commented on #1005
Yes I took a quick stab at it and there are issues with the stuff AMS injects in the controller

[2015-07-17 16:34] marknadig commented on #516
As one how is/was searching... surprised not in README... guess the 10.x overshadowed it.

[2015-07-17 16:48] #986 closed

[2015-07-18 19:09] shicholas commented on #1005
I've been noticing the same thing, so I opted to create a controller concern around the code in https://github.com/rails-api/active_model_serializers/issues/1002#issuecomment-121143172. @bf4, is anyone working on a version_8 adapter for version ``0.10``? I can take a stab at it

[2015-07-20 16:34] wallaceicy06 commented on #211
I just wanted to chime in and say I had a very difficult time dealing with this issue. I understand why stack depth becomes a problem for serializers that include their collections from their many-to-many relationships. What I don't understand is why the stack explodes when I choose to **not include** the collections at all.

For example:

[code]

These associations cause an infinite recursion loo

[2015-07-21 03:08] joaomdmoura commented on #1002
Hey ppl, have just read trough it, I'm glad you figured that out!
Of course, I'm always up for documentation! I'll check the #1005 before open a new issue.

[2015-07-21 03:09] joaomdmoura commented on #923
This is still bothering me, any news @piotrpalek ?

[2015-07-21 03:16] joaomdmoura commented on #657
Hey ppl, sorry for take soo long to come back to this. We've being really busy with the new version 0.10.0. Btw I strongly recommend you to give it a try :smile:
@jfragoulis yes, you are right.

FYI the `key` feature is back already on 0.10.0

[2015-07-21 03:30] rainerborene commented on #923
@joaomdmoura `rack-mini-profiler` disables cache feature during profiling. Just figured this out when I've moved from `rack-mini-profiler` to `request_profiler` gem. Thanks a lot @joaomdmoura.

[2015-07-21 05:07] joaomdmoura commented on #1008
Hey @stevemadere, I'm glad that you posted it on stackoverflow and here :smile:
Just to make sure that I got it, is this part of you serializer or an action from a controller?

[code]

Could you please explain a little bit more the structure that you have and what you are trying to accomplish?

[2015-07-21 05:12] joaomdmoura commented on #1009
Hi @jpaas, indeed the actual AMS implementation is deeply tied to AR. By doing this we were able to made a lot of optimizations.

In our tests we have being using POROs but in order to make it work you will need to create some methods that AMS expects. I'd recommend you to check [our implementation](https://github.com/rails-api/active_model_serializers/blob/master/test/fixtures/poro.rb#L1)

I'm cl

[2015-07-21 05:19] joaomdmoura commented on #1011
Hi @trek, actually the 0.10.x version wrote from scratch, base on 0.8.0 structure.
But indeed would be awesome to bring that to 0.10.0. I'm totally up for it.
I'll keep this open and flagged in case someone wants to do it, otherwise I might do it once I finish the deserialization feature.

[2015-07-21 05:31] joaomdmoura commented on #1012
Hi @sternhenri and @zreitano.
This quite strange. In order to help you on this I'll try to cover the basics first.

- Make sure the gem is in your gemfile
- Make sure you have ran `bundle install` both, in you local environment and product/whatever

I know it might seem pretty basic stuff but you might have installed the gem without ran `bundler`

[2015-07-21 05:38] joaomdmoura commented on #516
Hi @linesarefuzzy and @marknadig, indeed our efforts are deeply focused on 0.10.x, but we still want to help ppl who use older versions!

First of all, we strongly recommend you to check 0.10.x version and give it a try, we already have a RC2 and you can also point it to master if you like to live on the cutting-edge.

I've just checked the 0.9-stable branch and it seems the `filter` features *is*

[2015-07-21 05:51] joaomdmoura commented on #1005
Hey you all! sorry for take so long to reply, I'm on a kind of business trip :smile:
So, first of all, enable people to upgrade from older version is definitely a priority for us!
I totally agree that we should address it on the new `docs` structure. Probably a guide from ppl upgrading from 0.8 and another from 0.9. what they will need to change in order to make it happen.

I'm not sure about the

[2015-07-21 05:58] joaomdmoura commented on #211
@wallaceicy06 we have being really focused on the new 0.10.x version. btw I would totally recommend you to check it out and give it a try, it is being wrote from the scratch. We already have a RC2 and you can also give master a try :smile:

We know there are some important issues on older versions of AMS, and we want to help you to fix it, but more important than that we also want to finish the ne

[2015-07-21 06:09] joaomdmoura commented on #923
awesome @rainerborene ! @piotrpalek are you using `rack-mini-profiler` as well?

[2015-07-21 06:19] wallaceicy06 commented on #211
@joaomdmoura I actually have a workaround using a custom serializer like mentioned above, so it's "fixed". I will check out master for sure. Keep up the great work, as this is an awesome gem!

I am on Rails 4.2.1 and AMS 0.9.3.

[2015-07-21 11:43] trek commented on #1011
If you happen to know the general direction, point me in it and I'll do the work. It wasn't as simple as just restoring the file :p

[2015-07-21 14:47] stevemadere commented on #1008
The picklists method is from the serializer.

The model that I am serializing called Thing has_many active_picklist_items which are of type
PicklistItem.

i.e.
[code]

In the custom serializer for the Thing model, I want to group the  PicklistItems by
picklist_type and store them in a hash accessed as 'picklists' so that in JSON, an
instance of my Thingy class would look like this:

[code]

Note,

[2015-07-21 14:52] sternhenri commented on #1012
Hey @joaomdmoura Thanks so much for the reply, the gem is installed just fine, it was actually a problem with the gemset being loaded by unicorn!

[2015-07-21 14:52] #1012 closed

[2015-07-21 15:18] Rodrigora commented on #898
Hi @j-mcnally,

(according this)[https://github.com/rails-api/active_model_serializers#flattenjson], if you want to generate
the responses with root key, you should use `Json` adapter.

By default, AMS uses `FlattenJSON` which doesn't generates the root key.

Did you configure the Json adapter for you application?

[2015-07-21 19:10] vyrak commented on #968
Any updates on this?

[2015-07-22 06:03] piotrpalek commented on #923
@joaomdmoura don't have that gem but this could be a hint at what's happening (maybe some other gem I have installed does the same). This would mean everything will be fine in production which is good news for me :) Will update you if I figure out what's happening in my case, though this isn't a priority for me right know so it might take a while.

[2015-07-22 08:20] piotrpalek commented on #968
@vyrak Well this worked for me (from schicholas example): `include: ['hand.fingers']` to include the nested `fingers` association.

[2015-07-22 13:00] Zelnox commented on #1002
This was helpful. In terms of performance compared to 0.8.x, it's a bit slower due to the adapter step.

[2015-07-22 13:31] yjukaku commented on #968
@piotrpalek That's only when using the JsonAPI adapter, right?

[2015-07-22 14:09] SeyZ commented on #834
Hey guys, I repeat the @krzkrzkrz question:

[2015-07-22 15:21] langalex commented on #875
I have the same problem. Just upgraded from Rails 4.0.13 (worked) to 4.2.3 (stopped working).

[2015-07-22 15:48] langalex commented on #875
fixed it by upgrading to 0.10.

[2015-07-23 05:42] iRet commented on #922
+1 for filter
I'm currently using to trim unwanted atributes this code and passing arguments to searializer through scope:
[code]
That's might be not the best idea to override scope. But the question is how to filter attributes in 0.10.x?

[2015-07-23 07:42] piotrpalek commented on #968
@yjukaku yeah right, I think it's only jsonapi adapter (didn't try any other)

[2015-07-23 21:14] zaaroth commented on #943
I jump bumped into this now.

Isn't there any way to cache different versions of a fragment for different languages? If you use Globalize on your app you are pretty much left with stale data depending on which language hits the cache first. On Globalize's website they advise to redefine cache_key including the current locale so rails cache knows that we got two versions of the same object dependin

[2015-07-23 21:36] zaaroth commented on #943
Oh! I figured this one out. When I read the README of this repo I saw somewhere that the key: option would be preprended to the key on a given form I dont recall. When I removed the key option then the cache_key method got called. Sorry to bother guys, RTFC to the win.

[2015-07-24 03:54] linjunpop commented on #624
@joaomdmoura The README on master branch does not have this section. Maybe add one?

[2015-07-26 10:32] pedrokost opened #1020 "Understanding caching"
Issue: caching actually slowing down requests when response has many objects.

Without caching, I can retrieve a set of records in about 10ms:

[code]

When I activate caching, the first request is somewhat slower as it needs to warm up the cache:

[code]

Subsequent request are faster, but still slower than without caching:

[code]

My understanding is that the reduction in speed is that querying

[2015-07-26 14:57] joaomdmoura commented on #211
Awesome! Great, in case of any problems just let us know, you can also use the [new docs](https://github.com/rails-api/active_model_serializers/tree/master/docs), it's not that big yet, but we are working on it.

[2015-07-26 14:59] joaomdmoura commented on #1011
hey @trek, awesome, I think a could start would be something similar to what the 0.9.3 had. Once we have it we can evolve it or add new features, but I think it would be a good starting point.

[2015-07-26 15:00] joaomdmoura commented on #1009
oh @jpaas I'm sorry to hear that, can you share it with us so we can give a try and find a better way to help you?

[2015-07-27 17:13] joaomdmoura commented on #992
@Yoshyn, have you checked #999 already? Wanted tome :+1: before thinking about merge it.

[2015-07-27 18:53] jpaas commented on #1009
Here's my model:
[code]
Here's my serializer:
[code]

Here's a sample of the JSON I get as a response. You can see it doesn't look very JSONAPI-like. Additionally, the serializers for the related ActiveModel objects were not used. Those are simple `to_json` hashes.
[code]

[2015-07-27 19:01] gahissy commented on #973
[code]

[2015-07-27 23:39] dpmccabe commented on #857
I wanted to customize both the attributes and the associations according to `some_flag` (where if `true` then only a few of the attributes and one particular association are included) and this is how I solved it:

[code]

[2015-07-28 10:51] christhekeele commented on #801
My monkeypatch implementation of this feature has made its way through my `config/initializers/active_model_serializers.rb` in various projects for almost 2 years now, since `v0.8.0`, and since I've recently updated it to be `0.10.0` compatible, I thought I'd bump it.

I'm interested to hear thoughts on this interface and API, but since there's not been any discussion to date, I've furnished a mas

[2015-07-28 12:50] sentience opened #1022 "README does not explain how to work with non ActiveRecord models"
The README on master (for 0.10.0) does not explain how to use AMS with non-ActiveRecord models. Everything that Google will return pertains only to previous releases (i.e. including `ActiveModel::SerializerSupport`, which is no longer available).

It appears that mixing `ActiveModel::Serialization` is the main thing that is required. E.g., for a Mongoid document:

[code]

Is there something more t

[2015-07-28 12:58] sentience commented on #1022
Actually, with further experimentation, it seems that nothing is required for Mongoid documents, not even `ActiveModel::Serialization`. It seems they support `read_attribute_for_serialization` out of the box?