[2015-10-06 15:27] beauby commented on #1243
First we have to make sure it is actually possible to build such legacy adapters.

[2015-10-06 15:37] groe opened #1244 "Which version to use?"
Hi,

I am currently thinking about migrating an existing [jbuilder](https://github.com/rails/jbuilder)-based API to ActiveModel::Serializers. However, I am not sure which version to use right now.

Version 0.9.3 is the latest stable on rubygems, but according to [this discussion on stackoverflow](http://stackoverflow.com/questions/23347587/how-to-pass-parameters-to-activemodel-serializer) the AMS

[2015-10-06 15:41] beauby commented on #1244
Hi @groe,

As the version indicates, 0.10.0.rc3 is a release candidate, meaning it's very close to being ready for prod. We're currently polishing the edges, and mainly adding some missing JSON API functionalities (but those were not present in 0.8/0.9 either). So I'd suggest using 0.10.0.rc3, as 0.10 is close to release.

[2015-10-06 15:42] groe commented on #1244
@beauby Awesome, that's what I was hoping to hear! :grinning:

Thank you very much!

[2015-10-06 15:42] #1244 closed

[2015-10-06 15:45] beauby commented on #1152
Closing this for now as I believe it is solved by my last comment. Feel free to reopen if needed.

[2015-10-06 15:45] #1152 closed

[2015-10-06 16:41] groe opened #1245 "Can not filter attributes dymically?"
In version 0.8.x it was possible to dynamically exclude certain attributes by implementing `include_<name>?` and returning false. In 0.9.x the same could be achieved with the `filter(keys)` method. For 0.10.0.rc3 [this SO answer](http://stackoverflow.com/a/32490558) suggests overwriting the `attributes` method but that requires the attribute to exist anyway (and it is fetched always, even when exc

[2015-10-06 18:16] beauby commented on #1235
@tommyblue Could you try #1247?

[2015-10-06 20:38] bf4 commented on #1245
HI @groe would you mind giving an example of what you're trying to do so we can tailor our answer to your use case?

[2015-10-06 21:06] groe commented on #1245
Hi @bf4, sure! One example would be to exclude attributes the `current_user` does not have access to.

Could be something like this:
[code]

Or to exclude things which are not required, depending on the given `params` in the HTTP request:
[code]

And another example would be to depend on the object itself:
[code]

In my current app the JSON in fact would depend on all of these: `current_user` (whi

[2015-10-06 21:58] beauby commented on #1245
I would tend to think those are actually controller concerns and that your situation should be resolved by chosing an appropriate serializer within the controller (although I understand this would amount to more code on your end).

[2015-10-06 22:03] groe commented on #1245
@beauby For simple examples, as above, that might work but the problem is that in my application there are numerous possible combinations of columns and privileges, which effect which columns are included in the JSON. If I would create 1 serializer class for each of these combinations that would be hundreds or thousands of classes required.

Or am I missing an other way to do it other than creatin

[2015-10-06 22:05] beauby commented on #1245
You are right, that was the direction I was hinting. The idea of a 0.8 style `filter` feature is currently being discussed, so feel free to advocate for it here :)

[2015-10-06 23:29] bf4 commented on #1245
So, I think you can do what you want with the current code, but it's not well-documented (if this works, a PR would be great!)

Try using [`serialization_scope`](https://github.com/rails-api/active_model_serializers/blob/d02cd30fe55a3ea85e1d351b6e039620903c1871/lib/action_controller/serialization.rb#L13-L20) [tests](https://github.com/rails-api/active_model_serializers/blob/d02cd30fe55a3ea85e1d351

[2015-10-07 01:06] beauby commented on #1245
If you want to actually exclude some attributes from the response, you could use the technique @bf4 outlined in order to give those attributes a special value like `:_do_not_serialize`, and then override your serializer's `attributes` as follows:
[code]

[2015-10-07 01:08] beauby commented on #1245
Moreover, including attributes depending on a param is doable via the `fields` option.

[2015-10-07 01:28] bf4 commented on #1191
@rails-api/ams reminder to myself etc. to write this up, maybe in an ARCHITECTURE.md?

[2015-10-07 04:12] marucjmar18 opened #1250 "No serializer found for resource"
AMS version -> 0.10.0.rc3
![Image of Yaktocat](http://i.imgur.com/OqrzQe3.png)

AMS version -> 0.9.3  All ok

[2015-10-07 08:12] ciaoben commented on #1152
@beauby I am sorry for my late response, but I did not get notified of your last solution. I had removed the gem because did not work, now re-installed, tested your method, and it works! thanks

[2015-10-07 08:28] groe commented on #1245
@bf4 I am not sure how this code solves the issue of including/excluding attributes dynamically?

@beauby Assigning `:_do_not_serialize` or alike has these problems:
1. Assigning it as a value for the attributes will not work with your code since it removes the *key* `:do_not_serialize`. So it would have to remove the attribute based on the value, not the key. That, however, would (besides that fa

[2015-10-07 08:32] tommyblue commented on #1235
it's ok!
I'd like to find a good way to automatically add at least the `self` link.
Something like this: `links: { self: { href: request.url } }`
Probably it could be automatically added if set using a config variable

[2015-10-07 09:02] bf4 commented on #1235
The adapter has access to the request object (as context)

[2015-10-07 09:05] bf4 commented on #1235
@joaomdmoura I'd like to break up the errors rfc into 1) the mvp error objects  2) all error objects 3) decide if we require an errors key or an ActiveModel::Errors or something that responds to errors 4) to what extent error codes and status codes live in AMS

[2015-10-07 10:08] NullVoxPopuli commented on #1250
can you post the model and serializer you expect it to use, and the controller action which tries to render with the serializer?
thanks!

[2015-10-07 10:10] bf4 commented on #1250
also, the full backtrace, ruby version, rand rails version (this should really all be in CONTRIBUTING.md but appears to be missing)

[2015-10-07 10:11] bf4 commented on #1250
This is an expected situation for primitive associations, so we'll need more info to see why you're getting it. (It's handled later)

[2015-10-07 10:22] bf4 commented on #1245
There's certainly a code reason, which I can go into, but, before we go down that road, are you certain you need those attribute options, or would you consider other ways to filter options?

given the desired code above

[code]

you could implement this as

[code]

Alternatively, just have two serializers that you toggle in the controller based on the scope there

We want to make this easier, too,

[2015-10-07 10:49] groe commented on #1245
@bf4 I'm just advocating ;)
Great to hear that you want to make it easier too. I think this is relevant for lots of applications out there!

Having 1 serializer for each scope only works for a very limited number of potential attribute combinations (see above) and shifts the responsibility of deciding which attributes to include back to the controller and other places calling AMS. I would prefer t

[2015-10-07 11:00] #1219 closed

[2015-10-07 11:38] bf4 commented on #1245
not yet, but I think @beauby is going to implement the `fields: { foo: { only: [], except: {} }`

[2015-10-07 14:20] beauby commented on #1245
@bf4 The problem with your last suggestion is that if you call `super` first it *will* compute all the values (https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L151).

[2015-10-07 14:34] beauby commented on #1152
@ciaoben Glad it did!

[2015-10-07 14:54] marucjmar18 commented on #1250
model
[code]
Serializer
[code]
SimpleUserSerializer
[code]
grape controller
[code]

[2015-10-07 15:00] bf4 commented on #1250
still missing https://github.com/rails-api/active_model_serializers/issues/1250#issuecomment-146139515

the fact that you're using Grape and not Rails is incredibly important to share. The gem you're using is out of date https://github.com/jrhe/grape-active_model_serializers/blob/ca9c8faaa99727300ff21419aa20471ac27eed42/lib/grape-active_model_serializers/formatter.rb#L15-L25

[2015-10-07 15:00] bf4 commented on #1250
I'm going to close this, since it's a grape gem issue. I'll help you with a PR there if you want, or even a monkey patch

[2015-10-07 15:00] #1250 closed

[2015-10-07 15:02] bf4 commented on #1250
@rails-api/ams I'd be up for adding a grape adapter to AMS. It would be easier for end-users to track changes, and shouldn't include much code or otherwise involve much

[2015-10-07 21:29] passalini commented on #1045
@joaomdmoura I had to change the cache to the `serializable_hash` method. I did it to use russian doll  with collection objects, with it we can cache (russian doll) object by object... We can do some code to russian doll all objects in one cache, is just use the code above with my new approach

[2015-10-07 22:02] codehugger commented on #1176
I managed to replicate the error consistently using edge Rails (5.0.0.alpha fef1064)

[code]

Inside the Rails console create a user

[code]

Launch the Rails server (bundle exec bin/rails s) and produce the error by doing a basic GET request

[code]

I don't know if this will help at all but I also discovered that this error only appears in 0.10.0.rc3' but not in '0.10.0.rc2'. So by forcing the v

[2015-10-07 22:03] bf4 commented on #1176
This is expected behavior.  Serializer is just a bad name for historical reasons.

See https://github.com/rails-api/active_model_serializers#using-a-serializer-without-render

[2015-10-07 22:05] bf4 commented on #1176
@codehugger I think you might be having a different issue

[2015-10-07 22:14] codehugger commented on #1176
@bf4 so how would you make my trivial example work using rc3?

[2015-10-07 22:15] beauby commented on #1176
@codehugger https://github.com/rails-api/active_model_serializers/issues/1176#issuecomment-145364143

[2015-10-07 22:15] beauby commented on #1176
Although you should really provide an object rather than a hash.

[2015-10-07 22:22] codehugger commented on #1176
I get that #1176 is the way to do a serialization outside the context of a controller's render call but I am only using the controller's render call when requesting http://localhost:3000/users.json

[code]

I am doing no customization what so ever and the generated serializer inside app/serializers looks like this

[code]

[2015-10-07 22:23] beauby commented on #1176
Could you post your `User` model and the corresponding migration as well?

[2015-10-08 01:03] joaomdmoura commented on #1190
Yup, it could but we can put on the end os the list, if we end up having some extra-time maybe :smile:

[2015-10-08 01:20] joaomdmoura commented on #1235
@bf4 :+1: thx for update the issue.
What exactly do you mean by break up? different issues / PRs? check boxes?
Let's keep the focus on MVP

[2015-10-08 03:54] LcpMarvel opened #1256 "I found that root: false option is not working."
I use `ActiveModel::Serializer.config.adapter = :json` as adapter, but the `root: false` option is not working.

[code]

it will generate json as follow.

[code]

[2015-10-08 09:06] codehugger commented on #1176
Like before everything is as vanilla as it gets with no customization.

[code]

[code]

Here is also the sqlite schema created by rake db:migrate

[code]

And like I said earlier this works fine in 0.10.0.rc2 but not 0.10.0.rc3.

[2015-10-08 09:25] NullVoxPopuli commented on #1176
Is there any way you can make a small app demonstrating the problem?
Something downloadable that doesn't work would be really helpful

On Thu, Oct 8, 2015, 5:06 AM Bjarki Gudlaugsson <notifications@github.com>
wrote:

[2015-10-08 09:53] codehugger commented on #1176
Here is the repo for the project that is currently failing.

http://github.com/codehugger/active_model_serializers_issues_1176

I am on another system now (both are running OS X 10.11, ruby 2.2.3, rubygems 2.4.5.1) where the error does NOT appear. The only difference between the systems is the rubygems version which is 2.2.0 on the failing system.

[2015-10-08 11:31] NullVoxPopuli commented on #1176
is this supposed to error?

![image](https://cloud.githubusercontent.com/assets/199018/10365094/9098cb3c-6d8e-11e5-942a-88b2908101d0.png)

[2015-10-08 12:23] beauby commented on #1256
In master, the way to remove the root of the JSON document is by using the `Attributes` adapter. Just pass the `adapter: :attributes` to your render call.

[2015-10-08 12:28] asfarto opened #1257 "request.base_url"
How can I get request.base_url ?

[2015-10-08 12:29] codehugger commented on #1176
@NullVoxPopuli like I said this the errors only appear on one of my systems. Will investigate further tonight when I get to the failing system. Hopefully this has something to do with my environment and I can figure out exactly what it is so this issue can be closed as having nothing to do with the active_model_serializers gem :)

[2015-10-08 12:30] NullVoxPopuli commented on #1176
Awesome. Thanks for the update! And best of luck to you debugging!

[2015-10-08 12:31] beauby commented on #1257
Could you be more specific?

[2015-10-08 12:31] Padchi commented on #1176
Yo! Why close this @NullVoxPopuli I still got this....

[2015-10-08 12:32] NullVoxPopuli commented on #1176
Sorry. Do you have a repo that I can clone that demonstrates the problem?

[2015-10-08 12:33] Padchi commented on #1176
@NullVoxPopuli Still the same repo as before: https://github.com/Padchi/ams-test/tree/master

[2015-10-08 12:34] NullVoxPopuli commented on #1257
Do you mean on the rails side of things? I think you may want to check stack overflow for which type of URL you want from the request object?

Unless I misundecstand, or something

[2015-10-08 12:37] NullVoxPopuli commented on #1176
Thanks! I'll look at this asap

On Thu, Oct 8, 2015, 8:33 AM Timmie Sarjanen <notifications@github.com>
wrote:

[2015-10-08 12:40] Padchi commented on #1176
Nice, see my comment on this issue 14 days ago, think it is https://github.com/rails-api/active_model_serializers/commit/215fb85c7fc10d8fce504e5a7f6256d8a364e16c that creates the problem

[2015-10-08 12:47] NullVoxPopuli commented on #1176
@Padchi I think more info is needed, or something needs to be constrained on your test repo. Because I get this:
![image](https://cloud.githubusercontent.com/assets/199018/10366531/14e0a748-6d99-11e5-89e8-7b69c2a8c643.png)

output of `rvm info`

[code]

[2015-10-08 12:57] beauby commented on #1176
I just tested it and everything is working on my end as well.

[2015-10-08 12:59] Padchi commented on #1176
rvm info
[code]

[code]

[2015-10-08 13:01] NullVoxPopuli commented on #1176
how many posts do you have / how did you make them? I wonder if there is something weird about your data that @beauby and I haven't replicated.

[2015-10-08 13:01] beauby commented on #1176
Yup, please show us your data (`rails dbserver`, `SELECT * FROM posts;`).

[2015-10-08 13:03] Padchi commented on #1176
With `rake db:seed`

[code]

[2015-10-08 13:05] NullVoxPopuli commented on #1176
using rake db:seed didn't change anything for me. :-\

[2015-10-08 13:06] NullVoxPopuli commented on #1176
I wonder if this is something wrong with the environment?

[2015-10-08 13:14] Padchi commented on #1176
Maybe this isn't supposed to work but:
[code]

[2015-10-08 13:16] NullVoxPopuli commented on #1176
why are you doing that?

[2015-10-08 13:17] Padchi commented on #1176
Just tried to replicate:
[code]

My post 14 days ago, but the same code dosn't give the same error anymore.

[2015-10-08 13:18] NullVoxPopuli commented on #1176
@Padchi what happens if you try master of ams in your gemfile?

[2015-10-08 13:20] Padchi commented on #1176
@NullVoxPopuli just tried, exactly the same thing.

[2015-10-08 13:30] NullVoxPopuli commented on #1176
@Padchi, @joaomdmoura is going to take a look at this later.

I'm personally of the opinion that the cache_key maybe shouldn't be generated the way it is, because there is no caller_file. This only happens in `irb` -- I'm unsure as to why a similar error is happening in while your server is running though.  cache_key could maybe be generated by using the `object_id`, but that's a discussion for an

[2015-10-08 13:34] Padchi commented on #1176
@NullVoxPopuli With a simple rails s. Tried with pow but same thing there.

[2015-10-08 13:37] NullVoxPopuli commented on #1176
are you using `bash`?

[2015-10-08 13:38] Padchi commented on #1176
Nope zsh

[2015-10-08 13:39] NullVoxPopuli commented on #1176
I'll install and try zsh, one sec

[2015-10-08 13:42] NullVoxPopuli commented on #1176
zsh (aside from not interpreting my PS1 correctly) behaves the same as bash in this scenario. :-\

[2015-10-08 13:45] Padchi commented on #1176
I don't get it, i'm not doing anything fancy except ZSH and RVM...

[2015-10-08 13:45] LcpMarvel commented on #1256
ok, thx

[2015-10-08 13:45] #1256 closed

[2015-10-08 13:50] NullVoxPopuli commented on #1176
my next step would maybe see if *you* can replicate it on a linux vm? using virtualbox or something?
otherwise I'm personally out of ideas.

[2015-10-08 13:57] #1257 closed

[2015-10-08 13:59] beauby commented on #1203
Could you provide a github repo with a minimal project exhibiting the behavior?

[2015-10-08 14:06] bf4 commented on #1176
We need to write up this debug stuff in contributing or troubleshooting

[2015-10-08 14:07] NullVoxPopuli commented on #1176
:+1: @bf4

[2015-10-08 14:59] nadeemja commented on #1203
Hmm.. Will try, but it might take a while. :)

[2015-10-08 18:10] jpaas commented on #1009
Sorry for being so late following up, but yes once I put the include in the serializer options it worked. Thanks! Now I have to figure out why its not wrapping it using "data" and "includes"

[2015-10-08 18:17] jpaas commented on #1009
I'm inching closer. But now I can't get it to include my relationships...

My lame poro:
[code]

My serializer:
[code]

The result (note that the relationships are always null). Perhaps I no longer have an issue with poros anymore, but its this issue? #1180
[code]

[2015-10-08 19:10] bf4 commented on #1038
Also, grape-ams doesn't work with the current version of ams

[2015-10-08 19:13] jpaas commented on #1009
I solved my problem using the information in #1241. This new way of adding serialization support to POROs helped.

[2015-10-08 19:14] bf4 commented on #1009
great, I wast just writing that for you here.. but you found it before I pasted the link :)

t and examples for how to make a compatible poro https://github.com/rails-api/active_model_serializers/pull/1241#discussion_r41398549

[2015-10-08 19:15] bf4 commented on #1009
Can this be closed? Will you help us update the documentation with what you've learned?

[2015-10-08 19:17] jpaas commented on #1009
Yes this can be closed. I think the documentation created in #1241 is excellent and sufficient. I followed it exactly as shown and it worked. Thanks.

[2015-10-08 19:17] bf4 commented on #1257
@asfarto When you get the answer to your question, or stop working on it, please paste here. It'll help other people who come across this issue.

[2015-10-08 19:19] #1202 closed

[2015-10-08 19:41] bf4 opened #1258 "Grape Support"
https://github.com/jrhe/grape-active_model_serializers/blob/ca9c8faaa99727300ff21419aa20471ac27eed42/lib/grape-active_model_serializers/formatter.rb#L15-L25

[code]
which uses `serializer = ActiveModel::Serializer.serializer_for(resource)).new(resource, options)` which is (somewhat intentionally) not supported in 0.10.

I'd be in favor of adding a grape serializer something or other (grape users c

[2015-10-08 19:41] bf4 commented on #1258
@rails-api/ams

[2015-10-08 22:56] beauby commented on #1203
One possible issue: you define a `lecturers` method on your model and a `has_many :lecturer_users` on your serializer. Have you made sure your naming is consistent?

[2015-10-08 23:05] beauby commented on #1164
I'll close this for now as I can't reproduce the behavior on master. Feel free to reopen if needed.

[2015-10-08 23:05] #1164 closed

[2015-10-08 23:08] beauby commented on #1044
I think there should be a helper or a separate gem in order to fetch "just the right data" depending on a serializer and serialization options. Thoughts @joaomdmoura @bf4 @NullVoxPopuli?

[2015-10-09 06:38] bf4 commented on #1044
would a reasonable api be just to document the following:

[2015-10-09 08:48] nadeemja commented on #1203
Good question. The naming is consistent as far I can tell. I think I have tried with the lecturer method commented out, too.

Thanks for looking into this. I will try to provide you with a minimal project as you requested.

[2015-10-09 09:04] bf4 commented on #1203
Would you mind summarizing
- the query (on Event) to eager load lecture users (or whatever the association is)
- the current state of the serializer

if what you need is `event = Event.includes(:lecturer_users).where(id: self.id); event.lecture_users`

[2015-10-09 09:41] groe commented on #1245
If I find the time, I would like to get an overview of the codebase and try to add the `if`/`unless` options to the `attributes` method to allow for this DSL:

[code]

@bf4 Would you mind to give me a quick overview of the code reasons you mentioned that make this difficult?

[2015-10-09 16:01] phcoliveira commented on #1243
@beauby, is there any reason to use the option ```include``` when rendering an object? My point is, if that option must be included when of rendering - ```render json: @posts, include: 'comments'``` e.g. -, I expect the serializer to exclude the comments relationship when used without the ```include``` option.

I have a use case where a user can have many sessions, in order to be able to sign them

[2015-10-09 16:05] beauby commented on #1243
@phcoliveira Could you open a separate issue with the definition of your serializers and your render calls and a description of the unexpected behavior?

[2015-10-09 16:30] linesarefuzzy commented on #516
@joaomdmoura Yes, it's described in 0.9-stable but not in master. However, it works in whatever version is used when the Gemfile says `gem 'active_model_serializers'`, which I assume is master or previous to master. Shouldn't it then also be in the master readme?

[2015-10-09 16:32] ryedog opened #1261 "a "test" attribute on model will cause an exception"
If you have an attribute called "test" on your model it will throw an exception

There is a "test" method from the kernel on Serializer so when serializing in the attributes instance method of ActiveModel::Serializer you'll get

[code]

The source of the test method is

[code]

Digging into the implementation of ActiveModel Serializer it's apparent that any attribute with the same name as a method

[2015-10-09 16:41] bf4 commented on #1261
yup, sorry about that.  do you not have a `test` method on your resource? I've seen similar issues with `select` which is an IO mixin that's in Kernel for some reason, and even a BasicObject has it

[2015-10-09 17:28] cesarjr commented on #490
I'm having the same trouble using has_one at 0.9.3.

[2015-10-09 20:19] kulte commented on #963
You can also use the following if you are on 0.10.0.rc3 and can't upgrade to master:

[code]

[2015-10-10 14:11] beauby opened #1264 "Missing tests for fragment cache."
There are tests missing for some parts of the caching mechanism.
The line [`end unless method_defined?(key) || _fragmented.respond_to?(attr)`](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L72) in `serializer.rb` is not being tested, as replacing it with `end unless method_defined?(key)` does not make any test fail.
Moreover, I suspect (but I do n

[2015-10-10 18:01] nickgnd commented on #1176
I've the same error only in production environment with active_model_serializers 0.10.0.rc3, instead with rc2 version all works well.
I've just pushed a repository with a basic app with 1 model to reproduce the error
https://github.com/nickgnd/AMS_rc3_bug

My `rvm info`:
[code]

##### produciton.rb (default settings)
[code]

##### test_serializer.rb
[code]

##### test migration
[code]

when i star

[2015-10-10 18:17] bf4 commented on #1176
+100 open source points!

B mobile phone

[2015-10-11 09:17] Padchi commented on #1176
#1260 solves this, a big thanks! Close now or wait for merge?

[2015-10-11 19:09] beauby commented on #1176
@Padchi Let's wait for merge and close both.

[2015-10-13 20:38] jimboslicethat commented on #648
I know this is a closed issue, but has anyone experienced problem with the has_one method behaviour changing in production? I understand that we are supposed to use has_one instead of belongs_to. I'm just wondering if anyone has run into problems with has_one. See my stackoverflow question for examples:

http://stackoverflow.com/questions/33111605/why-does-grape-api-activemodelserializer-has-one-b

[2015-10-14 13:37] jpaas opened #1268 "JsonApi PaginationLinks doesn't work outside of ActionController"
I'm trying to use Grape+Kaminari+AMS 1.0 (head) and I get a stack trace like so...

[code]

It seems to assume that the context has been set as an ActionDispatch::Request. I would try setting it, but I can't figure out how to get it in Grape.

[2015-10-14 14:08] jpaas commented on #1268
Looking at the code, I can't even see how this would work for ActionController. The SerializableResource filters the adapter options, so that they must be one of `[:include, :fields, :adapter, :meta, :meta_key, :links]`. Which means there's no way the adapter options could contain a :context entry.

[2015-10-14 18:13] bf4 commented on #1258
ref: https://github.com/rails-api/active_model_serializers/issues/1268

[2015-10-14 18:22] bf4 commented on #1268
@jpaas good bug report.  https://github.com/rails-api/active_model_serializers/blob/da7e6dc795ac4f6eb0af63c19c46638b13d0d04e/test/action_controller/json_api/pagination_test.rb should cover that it works

I agree that we are sometime too eager to add foreign objects to the app. It should really be encapsulated. [context should maybe be called 'request_context' and has two methods we use](https://gi

[2015-10-14 18:44] jpaas commented on #1268
I was using a fork of grape-active_model_serializers https://github.com/Thanx/grape-active_model_serializers.git, but once I started using the jsonapi adapter, I built my own very simple grape json formatter:

[code]

I also had to create this little grape helper to pass my serializer options to the formatter via the env:
[code]

So now I can implement a grape endpoint like this and put metadata i

[2015-10-14 18:48] jpaas commented on #1268
Oh and BTW, my workaround for this problem at the moment was to subclass the JsonApi adapter to simply skip links for now...

[code]

[2015-10-14 18:50] bf4 commented on #1268
@jpaas would you want to submit the formatter here as a PR?

Also, you should be able to just `to_json` not `as_json.to_json`

[2015-10-14 18:55] bf4 opened #1269 "SerializationContext: request url info, content type, query params, api version, namespace, etc"
following: https://github.com/rails-api/active_model_serializers/issues/1268#issuecomment-148144139

- [x] rename `options[:context]` in the controller etc. to `options[:serialization_context]` #1289
- [x] test an example of passing in a custom `serialization_context` #1289
- [x] create a `SerializationContext` object that wraps the `request` and exposes `original_url` and `query_parameters` #1289

[2015-10-14 18:59] jpaas commented on #1268
Ah yes @bf4 to_json alone works. I thought I tried that at one point but had trouble. I can submit as a PR.  Where would you like it in the namespace?

[2015-10-14 19:59] bf4 commented on #1268
I'm thinking `Grape::ActiveModelSerializers` in `lib/grape/active_model_serializers` or something like that and maybe in lib `grape-active_model_serializers.rb` that requires `active_model_serializers` and `grape/active_model_serializers`. Just try something that makes sense to you

[2015-10-15 16:21] jsdir commented on #1269
:+1:

[2015-10-16 01:31] neilgupta opened #1274 "Loading serializers in a namespaced engine failing"
I have 2 serializers with 2 different engines:

Located at `#{Rails.root}/components/engine_a/app/serializers/engine_a/account_serializer.rb`:

[code]

Located at `#{Rails.root}/components/engine_b/app/serializers/engine_b/session_serializer.rb`:

[code]

`EngineB::SessionSerializer` loads just fine within EngineB's controller, but it throws the following error:

`Unable to autoload constant Accou

[2015-10-16 04:29] neilgupta commented on #1274
Nevermind, it was a silly user error....

[2015-10-16 04:29] #1274 closed

[2015-10-16 04:31] bf4 commented on #1274
@neilgupta Would you mind elaborating in case anyone else has the same or similar issue? Thanks

[2015-10-16 04:39] neilgupta commented on #1274
Sure, I somehow missed that I had forgotten to place `AccountSerializer` in its namespaced folder. The error message was actually showing the correct path and was complaining because that path wasn't being auto-loaded. As soon as I created the `serializers/engine_a` directory and moved `account_serializer.rb`into it, everything started working perfectly. This is what I get for not taking a break f

[2015-10-16 13:23] #1176 closed

[2015-10-16 14:02] bf4 commented on #1274
Thanks so much!

B mobile phone

[2015-10-16 19:19] PratheepV opened #1275 "Inherited serializers not working"
Hi,

I am using AMS-master, I trying to extend one serialiser and use that as in one my controller actions, but its giving bellow error.

[code]

My Serialisers are

[code]

AMS-master, rails - 4.2.3

--Pratheepv

[2015-10-16 19:48] bf4 commented on #1275
would you mind including your Ruby version the commit ref of master?

What have you tried to debug this?

[2015-10-17 05:32] joaomdmoura commented on #1189
@edwardloveall does it works for you? Can you give us some update on it?

[2015-10-17 05:35] joaomdmoura commented on #1244
btw if you don't want ot be on cutting-edge 0.10.c-rc2 is a good option as well, You might not have some new features, but it would be something you would not have on 0.9/0.8 as well.

[2015-10-17 05:38] joaomdmoura commented on #1152
Nice :kissing_heart:

[2015-10-17 05:55] PratheepV commented on #1275
@bf4,

 commit version is 240387bc452fc494476885f59e428a6a00798fd0

ruby version - ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin13]

--Pratheepv

[2015-10-17 12:59] edwardloveall commented on #1189
@joaomdmoura Did you mean @edwinlunando?

[2015-10-17 16:05] beauby commented on #1189
@edwardloveall I'm sure he did ;) Thanks for pinging @edwinlunando

[2015-10-17 16:07] beauby commented on #1275
@PratheepV This happens because you're trying to serialize a collection with a serializer designed for a single resource. Replace `serializer: Search::UserSerializer` with `each_serializer: Search::UserSerializer` and it should work (this will use the generic collection serializer, and serialize each resource according to your `UserSerializer`).

[2015-10-17 16:10] beauby opened #1277 "Make it clear in the doc how to serialize a collection with a custom serializer"
A few issue were opened where people had issue serializing a collection with a custom serializer because they used the `serializer` option instead of the `each_serializer` option.
Ref: #1152, #1275

[2015-10-18 16:15] edwinlunando commented on #1189
Here is the update. Both the `ingredient` and `unit` key is not printed out.

<img width="273" alt="screenshot 2015-10-18 23 14 27" src="https://cloud.githubusercontent.com/assets/1451080/10564908/16b5e094-75ee-11e5-8319-ebb8fc149ffa.png">

[2015-10-18 18:59] beauby commented on #1189
By design, only the first level associations are serialized (this is being discussed currently). In your case, you could add `include: '**'` in your `render` call so that *all* associations will be serialized recursively.

[2015-10-19 06:53] PratheepV commented on #1275
@beauby , Yeah I tried your suggestion its working fine.

```ruby render json: Users.all, each_serializer: Search::UserSerializer ```

[2015-10-19 06:53] #1275 closed

[2015-10-19 10:41] edwinlunando commented on #1189
AHHHH, I see. It works purrfectly now. I think we need to add this to the readme. :smile:

[2015-10-19 16:02] bdmac commented on #1243
The include option does not seem to work for me w/the JSON adapter in RC3 at least. I cannot get it to include associations 2 levels down; just the top level seems to get included. Take the following for example:
[code]
The `business` objects get nested appropriately in an array under `admin` but they do **not** include their industry. The key is not even present at all.

[2015-10-19 16:25] beauby commented on #1243
@bdmac Did you specify the `include: '**'` option on your `render` call?

[2015-10-19 16:29] joaomdmoura commented on #1190
This is done. I'm closing the issue, congratz to @beauby for the hard work on this.

[2015-10-19 16:29] #1190 closed

[2015-10-19 18:03] aserafin commented on #1153
I've noticed it also doesn't respect the `root: false` option when we return empty array

[2015-10-19 18:26] NullVoxPopuli commented on #1153
For root false, the attributes adapter would cover that

[2015-10-19 19:30] bf4 commented on #1153
@meltingice As I wrote in https://github.com/rails-api/active_model_serializers/issues/1153#issuecomment-140624893 there's no serializer for an Array, so AMS won't do anything and you'll get `[].to_json`. ref: https://github.com/rails-api/active_model_serializers/blob/architecture/docs/ARCHITECTURE.md  in https://github.com/rails-api/active_model_serializers/pull/1253

@aserafin

Is that related t

[2015-10-19 19:45] lcharbon commented on #1176
Solved this by removing a space in file path.

CALLER_FILE regex does not like whitespace.

This path does not work
/application/application-Inc repos/application-api/app/serializers/item_serializer.rb:24:in `<top (required)>'

This path does
/application/application-Inc_repos/application-api/app/serializers/item_serializer.rb:24:in `<top (required)>'

[2015-10-19 20:41] bdmac commented on #1243
Yes I tried that and also the more specific flavored of include.

—
Sent from Mailbox

On Mon, Oct 19, 2015 at 9:25 AM, Lucas Hosseini <notifications@github.com>
wrote:

[2015-10-19 21:46] beauby commented on #1243
@bdmac Could you open a separate issue in which you provide your models, serializers and `render` calls?

[2015-10-19 22:17] eliduke commented on #825
I came across another instance where I could use a conditional serializer, and so I was very excited to give this a shot again. Unfortunately, it didn't work. Keep in mind, that I am using AMS 0.8.3.

[code]

And that gives me this error:
[code]

That `authors` method just checks a couple things and conditionally returns Event Speakers or Post Contributors.

[2015-10-19 23:20] NullVoxPopuli commented on #825
@eliduke just curious, what's keeping you on 0.8.3? 0.10 has some really nice syntax that would help clean this up (cause @beauby is awesome)

[2015-10-20 01:02] dmastylo opened #1278 "Is it possible to pass outside variables into the serializer?"
I have a collection that, in order to save db trips, uses a second collection that has some data associated to the records in the first collection. In RABL I could simply reference the global variable ```@data``` inside the view template and be done. Is this doable with AMS?

[2015-10-20 01:04] beauby commented on #1278
Could you be more specific?

[2015-10-20 01:09] dmastylo commented on #1278
Controller
[code]

Serializer
[code]

[2015-10-20 01:55] bf4 commented on #1278
what's the variable you're trying to pass in?  Check out
https://github.com/rails-api/active_model_serializers/pull/1252

In the past, I've created an attr_accessor on my model and used that to
pass in info

On Mon, Oct 19, 2015 at 8:09 PM, Damian Mastylo <notifications@github.com>
wrote:

[2015-10-20 01:56] dmastylo commented on #1278
@bf4 @beauby I want to pass in that `@players` variable from the controller.

[2015-10-20 02:17] bf4 commented on #1176
PR?

On Mon, Oct 19, 2015 at 2:45 PM, Luc Charbonneau <notifications@github.com>
wrote:

[2015-10-20 02:28] beauby commented on #1278
@dmastylo You could add `attr_accessor :best_finish` to your `Game` model, then in the controller you could do `@games.each { |g| g.best_finish = @temp_players[g.id] }`.

[2015-10-20 02:33] beauby commented on #1176
This seems consistent with @nickgnd's case (`/Users/Nico/Documents/Ruby on Rails/ams_rc3_bug/app/serializers/test_serializer.rb:1:in `<top (required)>'`).
@bf4 did your fix solve that?

[2015-10-20 04:32] dmastylo commented on #1278
Thanks that works! @beauby

[2015-10-20 04:32] #1278 closed

[2015-10-20 05:47] eliduke commented on #825
@NullVoxPopuli I have been waiting for it to be an official release. As far as I know, it's still just a release candidate. Has 0.10 been officially released yet?

[2015-10-20 09:54] constantm opened #1279 "Unable to set side loaded objects `type` for JSON API"
I'm unable to set the `type` for `relationships` in the JSON payload. I have a User model, which is mapped to a `Candidate` model in Ember. The `Candidate` model has_many `UserQualifications`, which maps to the `Qualification` model in Ember. For it to work properly in Ember, I need to give provide custom types for the serialisers. Everything works perfectly fine, except for the sideloaded `UserQu

[2015-10-20 11:27] NullVoxPopuli commented on #825
it has not been released yet, but AMS is on the *3rd* release candidate. so, you could use the tag `v0.10.0.rc3` in your gemfile, or the branch `master`.

It's not 100% guaranteed, but master is raaaaaarrreeelllyy ever has any failing tests (and it's usually because of an oversight when merging something else)

[2015-10-20 15:01] beauby commented on #1279
You should set the type on the corresponding serializer (here, in your `UserSerializer`).

[2015-10-20 15:31] vasilakisfil commented on #1269
Btw why context is always passed down using default Rails render? I am using JSON adapter. Not an expert but I think it's useless to JSON adapter and adds memory for no reason.

[2015-10-20 15:37] tchak commented on #1235
It seems relationship-level links and meta are missing from the checklist

[2015-10-20 15:39] beauby commented on #1269
@vasilakisfil It does not add that much memory though, does it? If I'm not wrong it's just a reference.

[2015-10-20 15:43] tchak commented on #1235
Relationship-level pagination links are also not supported right now I belive

[2015-10-20 15:45] beauby commented on #1235
@tchak Very true, I edited the checklist. Thanks!

[2015-10-20 16:00] dyatlov opened #1281 "ActiveModel::SerializableResource doesn't take into account ApplicationController's scope"
Hope title makes sense..

[2015-10-20 16:01] beauby commented on #1281
Could you be more specific? Maybe write a snippet that describes the behavior you're talking about.

[2015-10-20 16:07] dyatlov commented on #1281
Sure..

ApplicationController:

[code]

my view:

[code]

and finally my serializer:

[code]

[2015-10-20 16:08] dyatlov commented on #1281
My current workaround is to pass `scope` to serializer options, like this:

[code]

this works, but doesn't seem beauty and very scalable..

[2015-10-20 16:21] constantm commented on #1279
@beauby, the User serialiser gets used for something else and is completely unrelated. It needs to happen in the the two serialisers getting used here, ie. CandidateSerializer and UserQualificationSerializer. As said, I can override the type of everything except the sideloaded `type`.

[2015-10-20 16:30] tchak commented on #1235
@beauby I found a pull request you can link to #1028

[2015-10-20 16:36] beauby commented on #1279
By `UserSerializer` I meant `UserQualificationSerializer`.

[2015-10-20 16:36] beauby commented on #1279
Oops sorry, wait.

[2015-10-20 16:37] beauby commented on #1279
Just change this line:
`belongs_to :user, key: :candidates, type: 'candidates'`
to
`belongs_to :user, key: :candidates, serializer: CandidateSerializer`

[2015-10-20 16:38] beauby commented on #1279
I'm closing this as it is a usage issue. Feel free to keep commenting if you need further assistance.

[2015-10-20 16:38] #1279 closed

[2015-10-20 16:54] alanwilhelm commented on #1085
thx.. thats the 3rd iteration, from options to serialization_options to instance_options.. this one does make the most sense.

[2015-10-20 16:58] beauby commented on #1281
This is expected behavior. The `scope` is automatically set *only* upon `render` calls. The reason for that is that there is no restriction as to where you're instantiating `SerializableResource` from.
Your workaround is the way to go.

[2015-10-20 16:58] #1281 closed

[2015-10-20 17:50] bf4 opened #1283 "Document ActiveModelSerializers::Model"
See https://github.com/rails-api/active_model_serializers/pull/1272#issuecomment-149645909
- [ ] https://github.com/rails-api/active_model_serializers/pull/1272#discussion_r42172925
- [ ] https://github.com/rails-api/active_model_serializers/pull/1272#discussion_r42111785
- [ ] https://github.com/rails-api/active_model_serializers/pull/1272#discussion_r42111871
- [ ] Add changelog

[2015-10-20 17:57] bf4 commented on #1277
Addressed in https://github.com/rails-api/active_model_serializers/pull/1253/files#diff-264f0dd1ee08f0efe10ba3bcc1b93eebR48

[2015-10-20 20:29] eliduke commented on #825
Okay. So, let's say that I can convince my team that we should upgrade, how would 0.10 make what I want to accomplish here easier? You say that there's some nice syntax that would help clean up what I want to do.

[2015-10-20 20:32] beauby commented on #825
@eliduke In 0.10 the serializer lookup is made in such a way that if your `author` is an instance of `EventSpeaker` and you have defined an `EventSpeakerSerializer`, then that's what will be used.

[2015-10-20 20:32] NullVoxPopuli commented on #825
:+1:

[2015-10-20 20:35] eliduke commented on #825
Curious... So, when `authors` is a collection of `EventSpeakers` it will use the `EventSpeakerSerializer` and when `authors` is collection of `PostContributors` it will use the `PostContributorSerializer`?

[2015-10-20 20:35] beauby commented on #825
Yes, exactly.

[2015-10-20 20:37] eliduke commented on #825
Ok. That's awesome. That would work perfectly in that instance. Is there a way to specify the serializer you want to use in some conditional?

[2015-10-20 20:38] beauby commented on #825
Not per se, but you can define nested serializers, which might help. Could you elaborate on what you're trying to achieve?

[2015-10-20 20:42] eliduke commented on #825
There are times where, if we could, we would pass in some `options` in the `render json:` that would tell the root level serializer to conditionally use 2 different serializer. Like in the example I give at the very top of this issue.

[2015-10-20 21:00] beauby commented on #825
Currently the only way to do that is to pick your serializer in your controller.

[2015-10-20 21:04] eliduke commented on #825
But this is a 2nd level serializer, not the root serializer. How can I pick a secondary serializer (for a has_many association) from the controller? Is this just not a feature that people want or is it prohibitively difficult to implement? I have run into this type of situation many times over the last 6 months on this project.

[2015-10-20 21:50] vasilakisfil commented on #1269
@beauby I don't know how much memory it adds but it's a bit huge object. And not used at all (again I am using JSON adapter). I can always remove it by setting context: nil but not sure why it's added by default. Maybe have an option for that just like serializable_scope ?

[2015-10-20 22:33] bf4 commented on #1235
@rails-api/ams per http://jsonapi.org/schema pasted below we can break our goals up into

- [ ] success
  - [ ] data: `"$ref": "#/definitions/data"`
  - [ ] included: array of unique items of type `"$ref": "#/definitions/resource"`
  - [ ] meta: `"$ref": "#/definitions/meta"`
  - [ ] links:
    - [ ] link: `"$ref": "#/definitions/links"`
    - [ ] pagination: ` "$ref": "#/definitions/pagination"`

[2015-10-21 07:19] vasilakisfil commented on #1269
Just looked up and I really think context shouldn't be included at all :) Why we need it? The only reason I saw was to get the query_parameters. Getting the query_parameters in order to create the pagination links **shouldn't** be AMS responsibility. If you have a paginated object you can retrieve the current/previous/next page/per_page and size numbers and then create the links. Unless I am missi

[2015-10-21 07:35] vasilakisfil opened #1288 "Specify which render options should go to adapter and which to serializer"
Here:
https://github.com/rails-api/active_model_serializers/blob/master/lib/action_controller/serialization.rb#L50-L51

we pass all options to both (adapter/serializer). We should only pass to each one the relevant options. We also explicitly separate the options, if the constructor is used, here: https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializable_resou

[2015-10-21 07:53] constantm commented on #1279
Awesome thanks @beauby, that's exactly what I needed! 👯

[2015-10-21 10:12] tchak commented on #1269
I d'like to work on this. Several questions:
- Are we sure about name `request_context`? Maybe `serialization_context` as mentioned in #1282 by symmetry with `serialization_scope`?
- Should we expose url helpers on this object? I find that in rails app, generating urls in serializers is pretty common. It is a "view" layer after all :) If not, what are other options?

[2015-10-21 12:05] tchak commented on #1269
@vasilakisfil for top level pagination, yes in theory you could provide links from the controller via links option, but in case of relationship level pagination, things are not that simple. You want to build links in the context of the association, it's parent and you need access to request context at the same time.

[2015-10-21 14:35] beauby commented on #1288
I'm not sure I understand what you mean. Could you make a PR just to show your idea?

[2015-10-21 14:46] vasilakisfil commented on #1288
No need for a pull request. What I am saying is that here: https://github.com/rails-api/active_model_serializers/blob/master/lib/action_controller/serialization.rb#L50-L51
default render passes all options to both the serializer and adapter (= to both SerializableResource constructor and serializable_hash method). Is that the desired behavior ?

[2015-10-21 14:47] bf4 commented on #1288
@vasilakisfil what you describe is intentional.  All render options go to the serializer except those diverted to the adapter.

[2015-10-21 14:47] bf4 commented on #1288
Closing for now, but please feel free to re-open

[2015-10-21 14:47] #1288 closed

[2015-10-21 14:54] vasilakisfil commented on #1288
But if all options go to serializer by default why having options param for both ActiveModel::SerializableResource.new and serializable_hash ? To override them ?

[2015-10-21 14:57] bf4 commented on #1269
@tchak I'm thinking `serialization_context` is the superior name (disclaimer: I made the suggestion :)

Yes, it should have url helpers.

Part of the purpose of this object is to expose a defined interface for `serialization_context` (url_helper, request_url, query_params) without any danger of the encapsulated object(s) being used elsewhere not-as-intended. i.e. if we passed around the controller

[2015-10-21 14:58] bf4 commented on #1269
@tchak Just start working on it.  You can probably do the bare minimum in one small commit that renames the option and sets it to a SerializationContext object instead of controller.request

[2015-10-21 15:25] joaomdmoura commented on #1258
Should we put it somewhere else, like docs? @bf4

[2015-10-21 15:43] tchak commented on #1269
@bf4 my initial work is in #1289

[2015-10-22 13:08] danielfahy commented on #624
I'm passing information to the front end using the gon gem, as we are slowly moving towards a react front end.

In my application controller I call the UserSerializer manually if the user visits the /users endpoint

 gon.users = current_account.users.map do |user|
        UserSerializer.new(user, {scope: current_user}).attributes
      end

[2015-10-22 15:37] #1191 closed

[2015-10-23 14:45] trek opened #1293 "AM::S trying to use non-ActiveModel::Serializer seriaizers"
I have a project is migrating to AMS over time. They have classes that AMS is finding but aren't AMS classes so don't adhere to the AMS interface. It'd be great if AMS skipped these or provided a interface for non-AMS classes to say "please don't use me" when `serializer_for` is called.

[2015-10-23 14:47] trek commented on #1293
Happy to a PR if someone chimes in with whether this should be a fix in `serializer_for` or an option passed to `render` like `render :json ... serializer: false`

[2015-10-23 19:43] hut8 commented on #1038
@bf4 seems like you're always a couple days ahead of me! I am getting the same error as @yokree with the same versions just FYI. Grape support would be awesome.

[2015-10-23 20:16] hut8 commented on #1258
Hey @bf4 -- thanks for documenting this. I'm a bit lost on this line:

[code]

Looks like unbalanced parenthesis and `merge!` isn't defined on that context.... what should this be?

[2015-10-24 18:29] maurogeorge opened #1298 "RFC: Name-spacing of objects under (module) ActiveModelSerializers vs. (core class) ActiveModel::Serializer"
Hi guys,

Today most of the public API is under `ActiveModel::Serializer` like:

- `ActiveModel::Serializer.config`
- `ActiveModel::Serializer`, which is the base class of our serializer

I think the only 2 public APIs that are under the `ActiveModelSerializers` is `ActiveModelSerializers::Model` and `ActiveModelSerializers.logger`, I think this 2 APIs need to live under `ActiveModel::Serializer`

[2015-10-24 18:32] beauby commented on #1298
Assigning @bf4 to this one as I believe you made those 2 PRs (`AMS::Model` and the logger). Could you explain the rationale behind exposing those via `ActiveModelSerializers` rather than `ActiveModel::Serializer`?

[2015-10-24 21:25] bf4 commented on #1298
Basically, ActiveModel::Serializer is a terrible name for what it is and I'd like to move away from it.  It's both the gem name, a namespace, and a resource attribute mapper.

Also, using a class as a namespace for unrelated things isn't very Ruby-friendly.

I can write more, but does that make sense?

[2015-10-25 01:47] hut8 commented on #1268
I just spent like 6 hours figuring this out. I'm using the same set of tools as @jpaas and I can get the links to work if I pass in the (bastardized) context where I would least expect it :interrobang:

So I changed the code at https://github.com/rails-api/active_model_serializers/issues/1268#issuecomment-148153186 to:

[code]

Without passing my little context hack into `to_json`, they don't make

[2015-10-25 03:55] bf4 commented on #1258
I just wrote it up, untested, so do what makes sense? There's also a grape pr

B mobile phone

[2015-10-25 17:57] NullVoxPopuli commented on #974
since we have various work arounds (ruby side and javascript side), I'm going to close this issue.

Just as a recap (because this is what I'm doing)

I've made the following modifications on the ember side to work with rails 4 and AMS:

[code]

A guide for rails 5 can be found here http://emberigniter.com/modern-bridge-ember-and-rails-5-with-json-api/

[2015-10-25 17:57] #974 closed

[2015-10-25 18:20] bf4 commented on #1258
Implementation PR is in https://github.com/rails-api/active_model_serializers/pull/1273

[2015-10-25 18:23] #1277 closed

[2015-10-25 21:34] beauby commented on #1298
@bf4 I get what you're saying. Maybe it's still worth going into more details here so that we can keep a written trace of the exact reasons why.

[2015-10-26 00:16] bf4 commented on #1298
I'm going to try to write up something tonight that is json api focused that higkights the mismatching of terms

But also, activemodel:: seializers right now attracts data and behavior not related to it being a serializer class since it is also a namespace that sounds like the namenof the gem
B mobile phone

[2015-10-26 00:17] bf4 commented on #974
Docs pr?  Howto code and links?

B mobile phone

[2015-10-26 00:28] beauby commented on #1293
As @bf4 stated somewhere, there is already an option to disable AMS on a render call, namely `render json: post, adapter: false`.

[2015-10-26 01:38] #1209 closed

[2015-10-26 01:39] beauby commented on #1209
Closing as #1213 was merged.

[2015-10-26 03:01] #1293 closed

[2015-10-26 04:00] bf4 commented on #1261
would it be helpful if we just defined a `test` and `select` method on the Serializer base object that raises if you try to call it but haven't defined it?

[2015-10-26 04:02] beauby commented on #1261
That sounds like a terrible idea, as we would keep defining many such methods as more similar issues arise.

[2015-10-26 04:04] beauby commented on #1261
Plus, it does not fix the situation where you have a `select` attribute on your model, and declare it as `attribute :select` in your serializer (as the serializer will see that `#select` is already defined on the serializer, thus not defining it as `object.select`).

[2015-10-26 05:43] bf4 commented on #1261
Dunno, OP hasn't responded.  As to Ruby stdlib gotchas, those are the only two I can think of.  Anyhow, I just meant AMS could be nice and somehow tell you that you've asked for the `select` attribute but it's hitting Kernel.  I agree that I'm not sure that would necessarily be the better solution.  Hence the question :)

[2015-10-26 05:56] beauby commented on #1261
@bf4 There's also `binding`, `open`, `system` among those most likely to cause trouble.

[2015-10-26 10:38] vasilakisfil commented on #1245
Isn't that technique generally slow? Just wondering..

[2015-10-26 11:59] maurogeorge commented on #1298
Thanks for the comments guys.

@bf4 I want to hear more about your idea, I am working a little time on this project so maybe I miss something. Could you please expose what is the idea of the public APIs, something like:

[code]
The actual state I think is a little confusing having something in `ActiveModelSerializers` and something in `ActiveModel::Serializer` as a public API. My focus here is onl

[2015-10-26 13:46] bf4 commented on #1298
Welcome to team 'make things less confusing'

I made a pr about this last night

B mobile phone

[2015-10-26 15:25] frank06 commented on #1238
What's the status of deserialization?  Should I migrate to `jsonapi-resources` or will 0.10.x be out soon?

[2015-10-26 16:41] beauby commented on #1238
@frank06 I'm currently working on deserialization. You can check #1248 – would love your feedback on it.

[2015-10-26 18:55] maurogeorge commented on #1298
@bf4 great work thanks :+1:

Adding a link here to PR https://github.com/rails-api/active_model_serializers/pull/1301 to keep the reference.

[2015-10-26 19:35] maurogeorge commented on #1298
@bf4 I think you PR do not cover the `ActiveModelSerializer.logger` and `ActiveModelSerializer::Model` since this is not the objective in fact of the PR. But following the comment here https://github.com/rails-api/active_model_serializers/pull/1301#discussion_r42963185 I think the main entry point and public API will be `ActiveModelSerializers` right? Correct me if I am wrong.

What I feel a littl

[2015-10-26 20:06] bf4 commented on #1298
@maurogeorge Thanks for your thoughts here. I really appreciate it.

So, I haven't thought it all the way through, and I just wrote it out without any review, but what I'm thinking right now is something like:

| Current | Desired |
|----|---|
| require 'active_model_serializers' | require 'active_model_serializers'
| ActiveModelSerializers | ActiveModelSerializers
| ActiveModel::SerializableResou

[2015-10-26 21:31] bf4 commented on #1298
@maurogeorge would you be interested in turning this issue into a PR so we can comment on diffs?

using the hub gem would be something like

[code]

[2015-10-27 06:19] edwinlunando commented on #1189
Wait. After I tried it again, it did not work and when I check the guide, `include: '**'` is only working for `:json_api` while I am using `:json`. any idea?

[2015-10-27 06:22] beauby commented on #1189
You can use `include: '**'ˋ with the Json adapter in master.

[2015-10-27 06:43] edwinlunando commented on #1189
I'm adding `gem 'active_model_serializers', github: 'rails-api/active_model_serializers'`

And it give me errors like a ruby interpreter bug. This is part of the stack trace.

[code]

How about it?

[2015-10-27 10:28] beauby opened #1302 "Drop support for ruby 1.9.3"
Official support for ruby 1.9.3 has been dropped almost a year ago.

The benefits for AMS are:
 + possibility to use lazy enumerators
 + probably many other things

[2015-10-27 10:30] beauby opened #1303 "Add ruby 2.2.3 to the TravisCI build matrix"
Currently we only test ruby 1.9.3...2.2.0 and ruby-head. Rails5 requires ruby >=2.2.3.

[2015-10-27 10:51] NullVoxPopuli commented on #1302
Yes :+1:

On Tue, Oct 27, 2015, 6:28 AM Lucas Hosseini <notifications@github.com>
wrote:

[2015-10-27 14:46] maurogeorge commented on #1298
@bf4 really happy that you appreciate my thoughts :heart:

Thanks for the feedback and the idea, first I will work on the https://github.com/rails-api/active_model_serializers/pull/1291 and later I will create the PR.

[2015-10-27 14:49] webattitude commented on #825
+1

[2015-10-28 16:16] MarkMurphy commented on #555
0.9.0

[2015-10-29 06:12] yoda opened #1306 "default serializer selection should scope to namespace?"
[code]

In my opinion Fruit::Banana::SugarSerializer should serialize the molecule relationships (via include) with the Fruit::Banana::MoleculeSerializer instead of the global namespaced one. If Fruit::Banana::MoleculeSerializer did not exist then it would use the global namepsaced one, or if SugarSerializer was not namepsaced it would use the global namespaced molecule one. I realise I can work a

[2015-10-29 06:14] beauby commented on #1306
The docs of master are slightly out of date, but this feature was merged last month. On master, lookup happens exactly as you expect it.

[2015-10-29 06:21] yoda commented on #1306
Ah ok, thank you heaps, dang you guys are quick.

[2015-10-29 06:21] #1306 closed

[2015-10-29 06:22] beauby commented on #1306
ref #1225

[2015-10-29 06:41] yoda commented on #1306
I guess my problem is related to this comment from bf4

https://github.com/rails-api/active_model_serializers/pull/1225#discussion-diff-41540287

[2015-10-29 06:44] beauby commented on #1306
Could you give an example? I guess one possible extension would be to lookup serializers inside the "root serializer"'s namespace (i.e. the namespace of the serializer of the base resource of a chain of associations). I threw the idea around but it didn't get much traction.

[2015-10-29 06:50] yoda commented on #1306
My problem is something like this:

[code]

Only seems to use the global scoped MoleculeSerializer and not the nested one. If I remove the global one, it just errors looking for Sugar::Molecule

[2015-10-29 06:57] beauby commented on #1306
Hmm that's weird. See, [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L191), it explicitly looks for `Fruit::Banana::MoleculeSerializer` (and actually not at all for `MoleculeSerializer`).
Could you a) make sure the problem is still here with master (I'm not sure this was merged pre-RC3), and b) provide a failing test?

[2015-10-29 07:00] yoda commented on #1306
Ok I'll look into it

[2015-10-29 07:21] yoda commented on #1306
It does seem to be working now for some unknown reason (didnt change anything, just restarted app server a few times while checking stuff). Maybe preloaded was playing silly buggers. Also any suggestion if I have an existing thing like this:

[code]

To make it use that MoleculeSerializer as the serializer for molecule in Fruit::Banana:: Sugar,Salt? Does one extend it into there or something?

[2015-10-29 07:48] yoda commented on #1306
I've gone with:

[code]

[2015-10-29 09:02] vasilakisfil opened #1307 "Performance optimization with fields option: AMS should compute only the requested fields"
I am using JSON adapter but I am pretty sure it's the same on every adapter: When you request specific field from a serializer, it shouldn't compute everything in advance, only the fields you requested. For instance when you request only for :id: it should be much faster than computing all fields because some of them might be VERY expensive.

I found that the issue is here: https://github.com/rail

[2015-10-29 09:03] beauby commented on #1306
Currently, in your case, the serializers would be correctly inferred only if your models were declared in the `Fruit::Banana` namespace. Other than that, the use-case you describe (where the namespace of the serializer of the base resource is considered for looking up serializers for associations) is the one I mentioned above, and it is doable without to much effort in the current code base (I had

[2015-10-29 09:05] beauby commented on #1307
You're very right. There is work being done in that direction, but let's use this issue as a tracker for what I refer to as "lazy computation of attributes and associations" (the attributes case is pretty straightforward, but for associations it requires a tad more work).

[2015-10-29 09:19] yoda commented on #1306
I think its probably a fairly unusual use case, it happens to me because of a legacy codebase where the existing models are in global scope and I'm lurking off to the side.

[2015-10-29 11:36] victor95pc opened #1308 "Delegate or only options for reflections"
Guy I don't know if I using this awesome gem right, but I need to get just 3 fields from a has_one association, ex:

[code]

I have a association between employed and person, so I build a serializer:

[code]

But there no options of what fields I want, it can be like this one:

[code]

My workaround was done that way, but is so fucking ugly :smile: :
[code]

Thx guys for your attention

[2015-10-29 11:41] beauby commented on #1308
You could simply define a serializer for your person model:
[code]

[2015-10-29 13:18] vasilakisfil commented on #1269
@tchak have you or anyone else here ever worked on APIs that serve tons of resources using json-api from AMS branch 0.10 ? because then you really want to inject your own pagination. Kaminari or will_paginate work really great but if you need performance optimizations the way these do pagination is not good at all. There have been many threads about it on Kaminari about changing the way it counts

[2015-10-29 13:26] vasilakisfil commented on #1269
hmm now that I took a look on the code, the implementation is not tight to will_paginate or kaminari so I could include my own pagination module on ActiveRecord::Relation. So it's :+1: but we could explain which methods are needed on the wiki.

[2015-10-29 13:51] NullVoxPopuli commented on #1269
@vasilakisfil when you get something implemented, if you could post your findings / maybe even a documentation PR, that would be fantastic. :-)

[2015-10-29 16:27] victor95pc commented on #1308
But I already have a serializer for Person and I need all that attributes on there, I just need :name, :sex, :dead when I get the json by EmployedSerializer

[2015-10-29 16:32] victor95pc commented on #1308
A good option maybe is creating a bunch of serializer for each use case like this, but I think there is a better way to do this, ex:

[code]
[code]

[2015-10-29 17:01] beauby commented on #1308
In this case use a namespaced serializer:
[code]
Note that the `PersonSerializer` is defined inside the `EmployerSerializer` namespace, and AMS will give priority to such nested serializers.

[2015-10-29 17:02] beauby commented on #1308
More over you might be interested in the fact that to designate a person that is employed by a company, the English word is "employee" and not "employed".

[2015-10-29 17:21] victor95pc commented on #1308
Oh sorry, I wrote wrong in so many places(README) :smile:
Thx great solution.

[2015-10-29 17:21] #1308 closed

[2015-10-29 22:32] maurogeorge commented on #1298
@bf4 I created the RFC here https://github.com/rails-api/active_model_serializers/pull/1310.

I am closing this in favor of the PR.

[2015-10-29 22:32] #1298 closed

[2015-10-30 17:59] davidwparker commented on #599
Thanks @jszwedko - exactly what I needed!

[2015-10-31 17:52] beauby opened #1314 "Add examples for each adapter in docs."
Add examples *of a sample JSON output* for each adapter in [adapters.md](https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md).

[2015-10-31 18:57] beauby commented on #1264
cc @joaomdmoura

[2015-11-01 20:45] garytaylor opened #1316 "Isolate namespace when used in an engine"
I am currently using this gem with rails_api and my API is defined inside an engine.

So, if my model was called "FinanceManager::AccountTransaction" then the "type" property in the  serialized JSON API output is "finance_manager_account_transactions".

Is this correct ?  When I was using the jsonapi_resources gem, it was just "account_transactions".

This does make the client side a little awkwar

[2015-11-01 23:16] doei commented on #1203
I've got a similar problem, namely I can't figure out how to customize nested has_many relations in my user_serializer.rb, and I also think it has something to do with my convoluted models.

So i've got something like this
My User can give a lecture, or receive a lecture
[code]
All this works fine in console, and the serializer gets the corrects teachers and students, but i cannot edit the fields

[2015-11-02 03:31] bf4 commented on #1203
@doei would you mind creating a new issue? Also, if you could include the link to issue that helped you and take a look at https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md ? Thanks!

[2015-11-02 08:18] beauby commented on #1316
You can specify the type manually as follows:
[code]

[2015-11-02 12:27] garytaylor commented on #1316
Thanks for that @beauby - never realised

Cheers

Gary

[2015-11-02 12:27] #1316 closed

[2015-11-02 15:08] joaomdmoura commented on #1264
@beauby Indeed, I'll check it, I think I'm the one with more context on this.

[2015-11-03 08:11] philipgiuliani commented on #827
Already any updates on this? I noticed that most of the time my controller spends to talk with redis for fetching the records. Would be a great improvement!

[2015-11-03 14:13] bf4 commented on #827
Wanna help?

B mobile phone

[2015-11-03 16:22] mooreniemi commented on #1314
@beauby What kind of examples you looking for?

[2015-11-03 16:24] beauby commented on #1314
@mooreniemi Updated the description. I meant examples of a sample JSON output for each adapter. Thanks for noticing the ambiguity of the request!

[2015-11-03 16:26] mooreniemi commented on #1314
@beauby NP. I was wondering if this'd cover something I was looking for: examples of custom adapters. I'd like to write one for the [Mason](https://github.com/JornWildt/Mason) hypermedia type. Perhaps a separate issue?

[2015-11-03 16:27] beauby commented on #1314
@mooreniemi Yup, please open a separate issue. I'd be happy to help you, we can talk on [slack](https://amserializers.herokuapp.com/).

[2015-11-03 16:32] mooreniemi opened #1317 "Custom adapters examples and tutorial on writing a new one"

[2015-11-03 16:39] beauby commented on #1317
Thanks for opening this issue. We should definitely have some docs guiding users through writing a custom adapter.

First thing, your adapter should inherit from `ActiveModel::Serializer::Adapter::Base`. Then you mainly have to define one method: `serializable_hash` (and possibly `fragment_cache` in case you want to support fragment caching, but let's get into this later).

[code]

[2015-11-03 20:03] mhuggins commented on #340
I'm still seeing this error on Rails 3.2.22 with ActiveModel Serializers 0.8.3.  Am I missing something?

[code]

[2015-11-03 20:49] #1307 closed

[2015-11-03 20:49] beauby commented on #1307
Fixed on master.

[2015-11-03 21:41] mooreniemi commented on #1317
Thanks! I'll see about trying to flesh this out. Perhaps tangential, but will there be a strategy to submit adapters to those supported in the core lib? I saw JSON+API was added, and it might be cool to add a few other key competing hypermedia types.

[2015-11-03 21:43] beauby commented on #1317
Yeah, feel free to open a PR to add your adapter to AMS. If it looks good and there are other people interested we'll merge it. Note that we need traction to merge it not because we don't want it, but because we want to make sure there will be good support for it.

[2015-11-03 22:58] gnapse commented on #331
Hi, sorry to resurface this discussion, but I'm not sure if this feature was finally provided, and if so, how to use it. Or else any workarounds. Any updates on this?

[2015-11-03 23:01] oliverjesse commented on #331
afaict everyone has stopped using ams and gone back to jbuilder :( too bad, i like the ams interface way better

--
Jesse Sanford

[2015-11-04 00:21] mooreniemi commented on #1317
@beauby When defining this adapter, what's my best route to do it? Do I need to have a whole Rails project initialized and install AMS into it? Should I clone down AMS as a repo and do it in the adapter folder? I was hoping I could just write the adapter separately. But if I install the gem and require it into my file, I don't get access to:

    main » ActiveModel::Serializer::Adapter
    NameErr

[2015-11-04 00:23] beauby commented on #1317
The easiest way is to build unit tests for your adapters (following those for other adapters).

[2015-11-04 00:24] mooreniemi commented on #1317
Yep -- I just mean literally in what project, like could I do it independent of a full rails repo. When I switched to requiring the release candidate I see I have access to `Adapter` so I think that was all my problem. Just leaving these comments here in case anyone tries to follow my steps.

[2015-11-04 00:25] beauby commented on #1317
Just clone the AMS repo and add your tests within the `test/` folder.

[2015-11-04 00:45] mooreniemi commented on #1317
@beauby sure, I could do that. For now I'm just playing around in a separate gem/repo and requiring the release candidate in. We'll see how far I can go with that... :) https://github.com/mooreniemi/amsa-mason

[2015-11-05 02:39] mooreniemi commented on #1317
@beauby Ok, next question: https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/base.rb#L17

How/where am I handing in `_options` and how are these different from `instance_options`?

[2015-11-05 15:36] beauby commented on #1317
@mooreniemi Short answer is: you shouldn't care about those `_options` (the ones provided to `serializable_hash`, as those are handled by rails and we can't really make any assumption about them). The options you should care about are the ones passed to the serializer and to the adapter (directly via `AdapterClass.new(..., options)` / `SerializerClass.new(..., options)` or indirectly via `Serializ

[2015-11-05 18:05] mooreniemi commented on #1317
@beauby K. So I can just define `def serializable_hash(*)` to accept all args and be good, yah? Thanks again for your on-going support!

[2015-11-05 18:06] beauby commented on #1317
Yup, exactly.

[2015-11-05 19:34] wagenet opened #1319 "ActiveSupport::Notifications Support"
Is there any objection to adding ActiveSupport::Notifications instrumentation? It looks like it existed briefly in 0.9 but is no longer in master. I'd be happy to help with this for use in [Skylight](http://www.skylight.io).

[2015-11-05 19:35] beauby commented on #1319
No objection. Possibly related to #1291.

[2015-11-05 19:37] bf4 commented on #1319
Sure @wagenet you wanna make a PR?

[2015-11-05 19:44] wagenet commented on #1319
Looks like #1291 would actually address my use case. Missed it in earlier searching.

[2015-11-05 19:44] #1319 closed

[2015-11-06 11:57] scttnlsn commented on #1044
I have some endpoints where the client can pass in various AMS `include` options (via query string) to embed any needed relationships.  In order to prevent over-fetching data from the database I need to parse the `include` string and then call the `includes` method on the `ActiveRecord::Relation` accordingly.

I think a separate helper/Gem that parses the AMS string (i.e. `'comments,author.profile

[2015-11-06 12:29] NullVoxPopuli commented on #1044
does `ActiveModel::Serializer::IncludeTree::Parsing.include_string_to_hash(..)` do what you want?
https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/include_tree.rb#L19

[2015-11-06 15:21] wjdhamilton commented on #1027
@shicholas Thank you very much!

[2015-11-06 17:48] passalini commented on #1205
I think that specify what associations you want is pretty helpful too and when I looked to the code I saw that adding 3 lines we can do it!!!

If I'm right (please correct me if I'm wrong) changing `#relationship_value_for` from the adapter will solve the problem. In my tests I created a new adapter...

[code]

... now I can use `include` at the association's call just like in `controllers` and `s

[2015-11-07 23:06] maliqq opened #1321 "put back 0.9.x serializer instance #to_hash or #serializable_hash"
instead of

[code]

to this
[code]

[2015-11-09 18:29] bf4 commented on #1321
Would you mind clarifying which ams version you're targeting? Also, what's your use case? Call serializer.attributes if you want the raw attributes.

[2015-11-09 21:28] scttnlsn commented on #1044
@NullVoxPopuli That looks exactly like what I need.  Thanks!

[2015-11-09 21:49] NullVoxPopuli commented on #1044
woo!

[2015-11-10 15:08] richmolj opened #1325 "Avoid DB hits for JSONAPI relationships"
I've been searching through the issues, and this may be relevant to bringing `filter` to 0.10.x, but I couldn't find anything on this specifically.

If I use JSONAPI adapter, and put `has_many :comments` in my `PostSerializer`, there will be a DB hit to fill out all the ids for the comment `relationships`. Even when no `include` is specified.

I thought of avoiding this by something like

[code]

[2015-11-10 17:28] eliduke opened #1326 "Conditional skip in each_serializer"
In an each serialization, is it possible to skip a record based on some conditions?

I have an Event Prize Entrant Serializer, which includes some basic information about an event attendee and the number of prizes that they have entered. I'm passing in a collection of users and then tallying their prize count. I don't need to return them if they haven't entered any prizes, so I'm imagining somethi

[2015-11-10 20:48] gaganawhad commented on #1235
@joaomdmoura Thanks for all the work here.

Do you know of a workaround for Resource-level meta object that I can use for the time-being ?

[2015-11-11 04:56] edwinlunando commented on #1189
Is there any release data for the next version release? I think I need this feature, but I cannot use the master.

[2015-11-11 16:40] beauby commented on #1326
This type of filtering should be done at the model level. Just define a method on your model that does the correct filtering, and expose that through your serializer.

[2015-11-11 16:41] bf4 commented on #1326
Or even before it gets to ams...

[2015-11-11 16:44] beauby commented on #1325
You could use the `fields` option to filter out your `comments` association. The db should not get hit.

[2015-11-11 17:17] eliduke commented on #1326
That's what I figured and that's what I did in the end, but it seemed somewhat simpler to do it in the serializer. Just wondered if that functionality existed. Thanks!

[2015-11-11 17:17] #1326 closed

[2015-11-11 22:25] sandstrom commented on #1205
I think many client-side applications are architected in a way that make it fairly easy to retrieve additional resources as needed. In addition HTTP/2 will make this cheaper (at the network level).

Thus, I'd vote for having it non-recursive by default (i.e. first-level only). But definitely in favour of making deep/recursive inclusion customisable.

[2015-11-11 22:48] NullVoxPopuli commented on #1205
I feel like at this point, everyone wants the json adapter to fit their specific use case -- it's not really capable of doing that.

I think the json adapter should be an example for how to make a basic adapter that aids in rendering basic json documents, such that users can implement whatever they need as they please.

JSON API is the future.

[2015-11-11 23:19] NeoElit commented on #332
Custom meta not showing up even with root on active_model_serializers (0.9.3).
[code]
is working fine and meta is retrieved, however with:
[code]
it's not giving any meta or message.

[2015-11-11 23:39] voltechs commented on #331
Not sure what poll you're referring to. Can you cite your source @oliverjesse? We for one are still using AMS...

I'd also like the 411 on how to use this feature, if it exists.

[2015-11-11 23:50] bf4 commented on #332
@NeoElit please open a new issue, or search existing issues. I believe I solved this for my team and have a comment on it in one of them.  Please also take a look at https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md

This issue was closed in 2013.

[2015-11-12 00:04] NeoElit opened #1328 "Meta key not being picked up !!"
Custom meta not showing up even with root on active_model_serializers (0.9.3).
[code]
is working fine and meta is retrieved, however with:
[code]
it's not giving any meta or message.

[2015-11-12 00:13] NeoElit commented on #1328
tried same with version 0.8.3 and worked fine.
Seems like an issue with 0.9.3

[2015-11-12 14:01] karlentwistle commented on #871
:+1:

[2015-11-12 22:12] gaganawhad commented on #1235
@joaomdmoura I would be happy to try submitting a PR For Resource-level meta. Does that work? Any reason not to ? Let me know! Thanks.

[2015-11-13 15:39] beauby commented on #1235
@gaganawhad Adding resource-level meta should be fairly easy. I wanted to do it after the resource-level links but got busy with other stuff. So feel free to make one, and ask questions on Slack if need be. I'll be happy to review it.

[2015-11-13 16:28] richmolj commented on #1325
This would work, and the upcoming `filter` would make it even better. My question is, shouldn't this be a default? This would make it much easier to build a `?include=comments`-style API that would not hit the database when the relationship is not included.

[2015-11-13 16:58] richmolj commented on #1325
Also worth noting if you're using the JSONAPI `links` feature for your relationships (https://github.com/rails-api/active_model_serializers/issues/834, https://github.com/rails-api/active_model_serializers/pull/1282) then putting the `relationships` in the response is not needed and may be invalid. Maybe that should be the logic - if the relationship has `links` then don't include `relationships`

[2015-11-13 18:04] LoganD commented on #1328
I'm using 0.9.3 with the following code and it works:
[code]

[2015-11-13 18:35] bf4 commented on #1328
@NeoElit thanks for the issue. Have you taken a look at the code to see what might be happening?

[2015-11-14 11:39] NeoElit commented on #1328
@bf4 following is the render code and response in test
[code]

[2015-11-14 11:40] NeoElit commented on #1328
@LoganD
How did meta({hash}) works for you? It's throwing no method error for me.
Following is the render code and reponse
[code]

[2015-11-14 12:27] michaelstokes opened #1330 "Using Parameters on Many Model Associations in Serializer"
Hello,

I'm looking to use parameters to filter a query onto multiple model associations i.e. A Query to a Product table joining onto a category table where a category equals a param.

I'm not sure on the best approach, as the query can be constructed in an action call i.e. search

[code]

but then in serialized_products

[code]

Thanks

[2015-11-14 16:23] kirley commented on #1085
I'm using
[code]
and the instance_options method doesn't exist.
Here is the relevant code in my controller:

[code]
and in my serializer:

[code]
I couldn't find where this happens in the source, perhaps someone can help point me in the right direction?

[2015-11-14 17:10] pranavpr commented on #943
Well I am trying to do fragment caching with dynamic key as outlined in this thread. But it's not working when I specify `except`. Below is my cache code of serializer

[code]
Cache key is not being appended with `@options[:platform]` value. However when I remove the `except`, it works as expected. Can someone please help me in this regards?

[2015-11-14 17:10] LoganD commented on #1328
@NeoElit Sorry for the confusion, meta was a function that I wrote.
[code]

then in the render `meta: make_meta(code, message)`.
Since you can return a status code as a separate param, you don't need to return that in the meta, unless that has a different meaning and is specific to your api. I made that function so that I can do customized formatting for the meta block since that render function i

[2015-11-14 20:06] NeoElit commented on #1328
@LoganD it doesn't solve the problem rt?  This method just returns the hash to render. However what i need is to change root/name of meta.

[2015-11-14 22:53] LoganD commented on #1328
Ah, I see that now @NeoElit. Is there a reason you don't want to use meta for the details and status just for the http status code?
I have a work around for this, but it involved making the whole return object separately, not in the render statement.

First I serialize the data by doing either:
`serialized_data = ActiveModel::ArraySerializer.new(data, each_serializer: serializer_name, root: false)

[2015-11-14 23:00] NeoElit commented on #1328
@LoganD  Thank you.
-----------
Is there a reason you don't want to use meta for the details and status just for the http status code?
-----------
Actually No. Api was designed liked that. That's it. :)

However isn't it a bug? Because documentation says you can customize meta then and there,

[2015-11-14 23:08] LoganD commented on #1328
I needed to do that because I wanted to add another main key and couldn't do that in the render function anyway. I just looked at the docs for that and I think I found your issue (from the docs):
`render json: @posts, serializer: CustomArraySerializer, meta_object: {total: 10}, meta_key: 'meta_object'`
The key name used needs to be the key name specified by the `meta_key` param:
[code]
I didn't ha

[2015-11-15 12:32] robinboening commented on #1314
@beauby your link is a 404. You probably mean this file: https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md

[2015-11-15 13:51] beauby commented on #1314
@robinboening Thanks, I just edited my post.

[2015-11-15 13:57] beauby commented on #1325
@richmolj the `include` parameter of the JSON API spec does only specify which *associated resources* should be returned in the `included` part of the document, not which relationship `field` should appear in the primary resource (for this, as mentioned, the `fields` option is what you are looking for). So it is expected behavior that the db gets hit, and it is expected behavior that the key appea

[2015-11-15 15:49] robinboening commented on #1314
We just picked this issue for the upcoming 9th edition of https://rubyissues.ongoodbits.com :)

[2015-11-15 16:25] NeoElit commented on #1328
@LoganD  I don't think it's syntax issue since it works with other versions unless there is a change.

[2015-11-16 00:29] yijia-zhan commented on #1085
@kirley, `instance_options` is not available in rc3. Switch to master for now.

[2015-11-16 00:30] kirley commented on #1085
@yijia-zhan - Thanks.

[2015-11-16 14:30] richmolj commented on #1325
@beauby I agree with you. I think I did not communicate the problem with the `?include=`-style API well. My point was more that this still makes a default case (an `?include=`-style API) pretty difficult. You'd have to parse the included relationships, gather all possible fields from the serializer, then remove fields that are relationship names that are not part of the include array. This gets pa

[2015-11-16 16:14] beauby commented on #1085
@kirley I believe `options` was renamed to `instance_options` in rc3, so there's a chance you could stick with rc3 and use `options` if using master is not possible in your case.

[2015-11-16 16:17] beauby commented on #1325
I do not understand what you mean by `?include=`-style API. Could you elaborate? Also, I do not understand what your `eager_relationships` option would do.

As far as "links-only" relationships are concerned, this will be dealt with in the "relationship-level links" PR, which will provide a mechanism for not specifying the `data` attribute, and hance not hitting the DB.

[2015-11-16 16:55] richmolj commented on #1325
By `?include=`-style API I mean [what is referenced in the readme](https://github.com/rails-api/active_model_serializers#json-api). For a URL like:

`/posts?include=author.city.state,comments`

Lets say I make the request:

`/posts?include=author.city`

My controller would have to do something like:

[code]

In addition to just being cumbersome, I'm not sure how this logic would work for nested in

[2015-11-16 17:55] beauby commented on #1325
Ok, that's what I thought. Thing is, the JSON API spec *does not* state that, when explicitly not including a resource, the corresponding relationships should not be present. It is perfectly compliant (and I believe intended) to return resources with relationships referencing (by `id` / `type`) an other resource that is not present in the document.

The behavior you are describing is not part of t

[2015-11-16 18:16] richmolj commented on #1325
Yep, we totally agree on what the spec does and does not support. AMS is definitely compliant here as far as JSONAPI is concerned. I believe this is more about how the internals of AMS operate. Allowing something like `has_many :comments, default: false` or the other alternatives above would

* Make this use case, which is pretty common, much easier to support
* You could use the same code for rel

[2015-11-16 20:30] Drabc opened #1331 "Autoloading issue"
AMS: Master(0.10r3)
Rails: 4.2.3
Ruby: 2.2.2p95
I'll use the following structure as an example. I have:

-- comment_serializer
--posts
---- post_group
------- type1_post_serializer

    class CommentSerializer
        has_many :posts
    end

    module posts
        module postGroup
            class Type1PostSerializer
                attribute :id
            end
        end
    end

When I try

[2015-11-16 21:02] Drabc commented on #1331
I can't post my actual structure, but I'll mimic it.

-- serializers
---- comment_serializer
----posts
------ post_group
--------- type1_post_serializer

model structure is the same as serializers

-- models
---- comment
----posts
------ post_group
--------- type1_post

the error is

LoadError (Unable to autoload constant Type1PostSerializer, expected /home/dev/app/serializers/posts/post_group/typ

[2015-11-16 21:11] beauby commented on #1331
Then please provide a minimal rails application exhibiting the issue as this is most probably a usage issue and experience shows that those can only be diagnosed with real code.

I see one possible issue: your module names (`post` and `postGroup`) have lowercase letters as first character, which is against rails conventions. But impossible to be sure, as this is not real code.

[2015-11-16 22:59] Drabc commented on #1331
Here is a minimal app that shows the issue. https://github.com/Drabc/AMS_test
To test do:
- Bundle install
- rake db:drop db:create db:migrate db:seed
- rails c
- Run ActiveModel::SerializableResource.new(Comment.first).serializable_hash

[2015-11-16 23:19] daino3 opened #1332 "Getting ActionView::Template::Error: undefined method `_cache' for NilClass:Class in rspec tests"
I'm getting errors randomly when running my rspec suite in random mode, while rendering the view in my controller tests (for a more integration-like test suite).

I should be tracking what's on master.

[code]

Here's the stack trace:

[code]

Here's my monkey patch: in config/initializers:
[code]

[2015-11-17 03:03] prusswan commented on #1205
Recurse was the default behavior in `0-9-stable`. To avoid confusion, the docs for 0.10 should mention this

[2015-11-17 06:20] oyeanuj opened #1333 "Include option for associations in serializers"
I am migrating from 0.9.3 to 0.10.0-rc3 to take advantage of json-api. Based on the current docs, it seems if I want the association's data as part of the response, I will have to specify it as part of 'include' option when calling render in the controller.

Is there a way to specify this in the serializer instead of the controller, so that I can specify it once and everytime I render that seriali

[2015-11-17 09:07] beauby commented on #1205
@prusswan You are right. Would you mind issuing a PR to update the docs? That would really help.

[2015-11-17 09:10] beauby commented on #1333
Not at the moment, but there is discussion about it.

[2015-11-17 12:39] michaelstokes commented on #1330
Hi, Thank you!

Yeah its mostly in terms of Querying based on Posted Parameters so in the case above with search being called and joining Product Categories, Left joining Categories and Subcategories and then rending the json and serializing but in this Serializer the querying will then happen again
based on the has_many almost like the query could be done in the controller and then a serializer c

[2015-11-17 14:54] oyeanuj commented on #1333
Fwiw, I think having them included by default would make the upgrade path from 0.8 and 0.9 to 0.10 much easier and more backwards compatible (and not needing to include associations every time or refactor code to prevent repetition).

[2015-11-17 17:09] CostaRico commented on #1085
Hi, guys, I've tried rc1 and rc3, and both 'instance_options' and 'serialization_options'. No one works, anybody knows whats the right way in >10.0 versions? Thx a lot!

[2015-11-17 17:17] yijia-zhan commented on #1085
@CostaRico, just a couple comments up. `instance_options` are not in the current RC versions of `0.10.x`. For now you will need to use the `master` branch for it.

[2015-11-17 17:23] CostaRico commented on #1085
Thx! I missed it (end of the day)
gem 'active_model_serializers', :git => 'https://github.com/rails-api/active_model_serializers.git'

[2015-11-17 20:19] Drabc commented on #1331
I was able to Hack it by doing this. Hopefully, there is a better solutions

        def self.get_serializer_for(klass)
          serializers_cache.fetch_or_store(klass) do
            # NOTE(beauby): When we drop 1.9.3 support we can lazify the map for perfs.
            serializer_class = serializer_lookup_chain_for(klass).map { |x|
              begin
                constant = x.safe_constanti

[2015-11-17 21:08] Drabc commented on #1331
I was able to Hack it by changing this method. Hopefully, there is a better solutions

        def self.get_serializer_for(klass)
          serializers_cache.fetch_or_store(klass) do
            # NOTE(beauby): When we drop 1.9.3 support we can lazify the map for perfs.
            serializer_class = serializer_lookup_chain_for(klass).map { |x|
              begin
                x.safe_constantiz

[2015-11-18 10:22] iMacTia commented on #1333
@oyeanuj, PR #1127 does exactly what you're asking, but unfortunately have been merged the 21st of September, only 5 days after 0.10.0-rc3 was released.
@joaomdmoura, any plan for the rc4? this feature have been requested by many and rc3 have been out for almost 2 months now.

[2015-11-18 14:49] beauby commented on #1331
Looking into it

[2015-11-18 15:01] oyeanuj commented on #1333
@iMacTia Thats really good to know, thank you for that. Couple of questions with your PR:

1. Without the include, does it only get the type and id? And include specific fields if we want more of that object? Ideally to maintain backward compatibility, there would be an `include: false` option which only then shows the id & type but by default associations would be included.

2. Does your PR also

[2015-11-18 15:18] iMacTia commented on #1333
@oyeanuj unfortunately I can't take the merit for that PR because is all @NullVoxPopuli work :)
So it's quite hard for me to correctly answer your question, also because I've never used the json-api adapter so far, but only the standard json one.
I'm simply really interested as much as you are on getting this new features out od the door ;) So sometimes I open the project page to see what's the st

[2015-11-18 15:22] beauby commented on #1333
@oyeanuj

 1. Have a look at the [JSON API spec](http://jsonapi.org/format). The idea is that it differentiates between "resources" (actual objects) and "resource identifiers" (only `type` and `id`, which are basically references to other resources). When a resource is referenced as a relationship for an other resource, only its resource identifier appears. Using `include`, you can have the actual

[2015-11-18 15:28] beauby commented on #1331
Indeed, there seems to be an autoloading issue here.
[code]

Will investigate more.

[2015-11-18 15:34] Drabc commented on #1331
Great. Thanks!

[2015-11-18 18:22] CostaRico opened #1334 "Dynamic attributes in associations."
Hi. I user master branch.
[code]
I'd like to control what attributes are needed in associations of a main model, how could I do it?
I have an Order
[code]
And Client:
[code]

And in controller:
[code]

I can read custom_options with instance_options in serializer methods, but how can I pass serializer for Client in OrderSerializer?

Thx a lot!

[2015-11-18 18:56] oyeanuj commented on #1333
@beauby Thanks for the context, I was missing that.

In that case, it would be really helpful to have `include', `except`, `only` options in the serializer when specifying associations. That would make the upgrading process much easier wherein folks don't have to rework everyplace where they are currently using those options in the 0.8 and 0.9 versions.

Thanks again for your work on this library!

[2015-11-19 00:58] JiHunJeon opened #1335 "ams does not generate an initializer"
i tried install version which 0.9.3 and 0.10.0.rc3

but didn't generate ac initailzer

my rails version is 4.2.4
gem version is 2.4.5

[2015-11-19 20:09] bf4 commented on #1335
It's not supposed to. Was anything not working? Did you run any commands?

[2015-11-19 21:49] natematykiewicz opened #1337 "Serializer for association does not look for siblings"
I'm using master of the repo (currently locked to revision efe5128a2e6b8578d81bc7a807ace427c0b4d847). I really needed all of the include tree magic for the json adapter, and unfortunately, that's not in a release candidate yet (hint hint :)).

I have the current setup:

[code]

The lookup chain for the sale listing serializer is:

[code]

I believe that it should check:
child
sibling
rooted

Inter

[2015-11-20 20:20] typeoneerror commented on #573
Still exists in 0.9.x branch. Looks like if I have a database field that ends with `_url` it's trying to look up a route url in the app's namespace. Removing "terms_url" and "privacy_url" from my serializer fixes the bug.

[2015-11-20 20:39] bf4 commented on #573
@typeoneerror so, you're good? perhaps set a key for the `_url` attributes?

[2015-11-20 20:47] typeoneerror commented on #573
@bf4 I'm good. What do you mean by "set a key for the _url attributes?"

[2015-11-22 00:53] rafael opened #1339 "Resource level meta key"
Does active model serializer supports jsonapi resource meta key at the resource object level? I would like to do something like this:

[code]

I've been trying to see how to achieve this, but only been able to achieve it at the top level, not at the resource object level.

[2015-11-22 19:37] tylerwillingham commented on #1339
It looks like that doesn't conform to the jsonapi spec. The spec points to the meta key being specific to the document/response.

You can implement a custom key through a serializer to get the data that you want but if conforming to the spec is important to you I would choose a different name for your key.

[2015-11-22 19:44] tylerwillingham commented on #1334
I think this might be what you're looking for:

[code]

[2015-11-22 21:47] rafael commented on #1339
@tylerwillingham are you sure that doesn't conform the spec? I was reading this part and thought it should be valid:

[code]

Is this not the right interpretation? Reading the docs looks to me that is allowed both at the `top level` and  the `resource object` level.

[2015-11-22 21:48] beauby commented on #1339
The spec, indeed allows it. It is not yet possible in AMS, but there's a PR in the making for this.

[2015-11-22 21:49] rafael commented on #1339
@beauby oh that's cool. Could add a reference to the PR?

[2015-11-22 22:02] tylerwillingham commented on #1339
My mistake. I should have provided a link to the section I was looking at it in the docs. It didn't give any mention of that :)

[2015-11-22 22:24] beauby commented on #1339
@rafael Just issued one. If you have time to write a few tests, it would certainly help getting it merged quickly. Otherwise I'll write some when I get a chance.

[2015-11-23 02:36] rafael commented on #1339
@beauby. Awesome. Will do, I can get some tests written by EOD tomorrow. Closing this ticket in favor of #1340.

[2015-11-23 02:36] #1339 closed

[2015-11-23 08:02] CostaRico commented on #1334
@tylerwillingham thx a lot, but what if I need dynamic "YourCustomSerializer" based on query params?

[2015-11-23 12:56] beauby commented on #1339
@rafael Awesome

[2015-11-24 04:02] oyeanuj commented on #599
Great discussion, I was struggling with the similar behavior (follow vs not). Since I am still on 0.9, wondering if there any options for those 0.9 apart from adding a hack (attr_accessor)?

[2015-11-24 06:45] bufordtaylor opened #1342 "has_many uses the wrong serializer"
Banging my head trying to figure out what is going on here. on 0.10.0.rc3

[code]

output using no config adapter

[code]

output using json adapter

[code]

output using json_api adapter

[code]
For sanity, Role.find(49371) has records of auditions in the database. Why do the audition records only appear on the json_api adapter?

I tried a few things to try to get it to work on the non json_api a

[2015-11-24 08:24] bufordtaylor commented on #1342
FYI, I was able to get this working using this code:

[code]

[2015-11-24 08:54] sebbean commented on #398
hey ya'll

Just wanted to point out: https://github.com/domchristie/humps as a nice way to not have to change the API format (I'm partial to snake_case for API data) to fit the front end library (React in my case).

[2015-11-24 17:39] bf4 commented on #1342
Does your `render` specify any serializer options?  Have you tried removing those?

[2015-11-24 17:41] bf4 commented on #1332
What's the relationship between the error and the monkey patch?

[2015-11-24 17:42] bufordtaylor commented on #1342
I'm just calling the plain `json: @project` in the controller.

In the console, I don't set any options either:

`ap ActiveModel::SerializableResource.new(Role.find(49371)).serializable_hash` yields results with auditions
`ap ActiveModel::SerializableResource.new(Project.find(6806)).serializable_hash` yields results without auditions regardless of the adapter

[2015-11-24 18:32] victormier commented on #599
Any solution for `0.10.0`? `instance_options` are empty when I do this:
[code]

[2015-11-24 19:01] kevintyll opened #1344 "Issues with #object_cache_key method"
In my use case, I have 2 separate issues that I've come across with the current implementation of the `object_cache_key` method.

The first is when I use a PORO object that does not have an `updated_at` attribute, I've defined a cache key, but `object_cache_key` does not look for that until after it builds `object_time_safe` and therefore throws an error.

I overrode `object_cache_key` in my app t

[2015-11-24 19:13] daino3 commented on #1332
How do you mean @bf4? The backtrace tells me my monkey-patch is the caller that sets off the error. However, the _cache is in the internals of ARS.

Here is the serializer:

[code]
I'll see if I can reproduce this error in a gist or something too.

[2015-11-24 19:16] bf4 commented on #1332
Sounds like the monkeypatch is the problem. It's also not a recommended usage, which is why that interface doesn't exist.   I'm pretty sure you don't need it.  Just use what AMS provides: SerializableResource.

Are you responding to an html request with json?  That would be surprising behavior.

I'm going to close this since it appears the problem is in your monkey patch.

Please reopen if you can

[2015-11-24 19:16] #1332 closed

[2015-11-24 19:19] bf4 commented on #1344
Looks like this would make a good PR.  Would you mind making one?   BTW, not sure if you've seen https://github.com/rails-api/active_model_serializers/blob/5d0cc5990a18c9371441bad90cd8c50f642640fd/lib/active_model_serializers/model.rb or https://github.com/rails-api/active_model_serializers/blob/5d0cc5990a18c9371441bad90cd8c50f642640fd/docs/ARCHITECTURE.md#what-does-a-serializable-resource-look-li

[2015-11-24 19:21] bf4 commented on #599
@jszwedko I think everyone would :100: if you were to write a documentation PR for this... :smile: or maybe even with tests :)

[2015-11-24 19:33] bf4 commented on #1342
Oh, I think this is because AMS won't included the third level resource by default.  I believe, @beauby can correct me, you can include an infinite depth of resources using `include: '*'`.

[2015-11-24 19:52] kevintyll commented on #1344
I had not seen `ActiveModelSerializers`, nice.

[2015-11-24 19:54] beauby commented on #1342
@bf4 Actually, `include: '*'` includes only one level. You can do `include: '*.*.*.*'` to include 4 levels, or `include: '**'` to include an infinite depth of resources.

[2015-11-24 20:19] bf4 commented on #1342
@beauby or `include: 'project.role.audition'` would be more correct?

[2015-11-24 21:27] cickes commented on #599
I too receive `undefined local variable or method 'instance_options'` when trying `render json: @post, user_id: 1234` with v0.10.0.  Can anyone help to explain or point to the correct resource?

[2015-11-24 21:28] beauby commented on #1342
@bf4 more correct than what?

[2015-11-24 21:29] beauby commented on #599
@cickes `instance_options` is only available in the master branch, not in the current RC. In the current RC, you have to use `options` instead.

[2015-11-24 21:30] beauby commented on #1334
@CostaRico Could you explain in what kind of situations this would be needed?

[2015-11-24 21:33] dilizarov commented on #599
While instance_options is a method that I think works great, I'd like to say that I really enjoy the attr_accessor way of doing things as well. For example, in a feed of posts, I need to mark if a user has liked each post.

After fetching the feed's posts, I then do something like `current_user.mark_liked_posts!(@posts)` which for each Post would mark the `attr_accessor :liked` as false or true. I

[2015-11-24 21:42] cickes commented on #599
Thanks @beauby.  Changing from `instance_options` to `options` worked.

[2015-11-24 22:31] oyeanuj commented on #315
Not sure if this is in 0.9.x as well (it wasn't clear from the documentation).

Can I access current_user directly in 0.9.x (instead of using scope)? It seems to give me an error but not sure if I was doing it incorrectly, or the feature never made it to 0.9.x branches?

[2015-11-25 02:50] kenn commented on #599
@dilizarov your case is one of the "legit" use cases of `attr_accessor`, as `liked` sounds like a model concern. But you clearly don't want `show_details` option in the model, do you? :)

I consider serializer as one of the presenter / decorator patterns, and the view (serializer) concerns should be self-contained.

And considering how often we use them, repetitive `@instance_options[:show_details

[2015-11-25 07:53] CostaRico commented on #1334
@beauby Hello, in one controller I need to show pretty big json (100 models with some associations) and I'd like to show only that fields that I will show in table on the frontend side, so this way I will make speed up. For now I see the only way to do that somehow like this
[code]

[2015-11-25 17:54] kevintyll commented on #1344
PR created.  Had to take implement the solution differently since caching is now it's own object.

[2015-11-25 18:33] beauby commented on #1334
@CostaRico In case you are using the JsonApi adapter, you could make use of the `fields` option, which allows you to limit attributes for each type of resource you will be serializing.

[2015-11-25 23:45] danlaffan opened #1348 "Disruption to custom scaffold templates on rails g scaffold..."
I have customised templates for Rails to follow when running `$ rails generate scaffold product name:string price:decimal` etc., including a `controller.rb` template and SLIM templates.  Having installed this gem in my project, the controller and SLIM templates are being ignored.  If I comment out the gem from the Gemfile and re-run `$ bundle install`, the templates become active again.

Two possi

[2015-11-26 02:04] bf4 commented on #1258
Updated, is https://github.com/rails-api/active_model_serializers/pull/1336

[2015-11-26 03:25] bf4 commented on #1348
Hi, please see https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md

We need more information to be able to help.

[2015-11-26 05:16] bf4 commented on #814
Is this still a problem?  Please re-open if it is.  I was unable to verify.

[2015-11-26 05:16] #814 closed

[2015-11-26 05:19] bf4 commented on #808
Yes, it is usable outside of Rails. See `ActiveModel::SerializableResource` [docs](https://github.com/rails-api/active_model_serializers#using-a-serializer-without-render) and [`ActiveModelSerializers::Model`](https://github.com/rails-api/active_model_serializers/blob/8aaaa44ba3d5b328fbbf92d59b9f3ecf1b802c8f/lib/active_model_serializers/model.rb)

However, it does have some [rails-related runtime

[2015-11-26 05:21] bf4 commented on #808
Please re-open if I am closing this in error.

[2015-11-26 05:21] #808 closed

[2015-11-26 05:41] bf4 commented on #741
@rafaelcgo in case you're interested, I'm documenting this in https://github.com/rails-api/active_model_serializers/pull/1252

Thanks for the view_context idea

[2015-11-26 06:06] bf4 commented on #1038
I think this has been addressed and may be closed?

[2015-11-26 06:07] bf4 commented on #831
independent rendering has been added to the 0.10 series/master

[2015-11-26 06:07] #831 closed

[2015-11-26 06:31] bf4 commented on #817
Closing since it is stale. Please re-open if it is still an issue.

[2015-11-26 06:31] #817 closed

[2015-11-26 08:26] CostaRico commented on #1334
@beauby it seems like exactly what I need. Thx u a lot!

[2015-11-26 08:29] CostaRico commented on #1334
If somebody needs the same, here the example:
[code]

[2015-11-26 08:29] #1334 closed

[2015-11-26 09:22] tumayun commented on #1342
I have the same problem.
What do I do?

[2015-11-26 10:05] johnhamelink commented on #1038
@bf4 yep! Closing issue.

[2015-11-26 10:05] #1038 closed

[2015-11-26 13:32] rafaelcgo commented on #741
I'm glad I could help! :clap:

[2015-11-26 13:32] #741 closed

[2015-11-26 19:16] bufordtaylor commented on #1342
I was unable to make it work with the above suggestions, @tumayun. For now, I'm going with 0.9.0 until I can debug further.

[2015-11-27 02:38] bf4 commented on #1342
We can help if you share some failing code we can reproduce.  The behavior should be pretty straight forward

B mobile phone

[2015-11-27 10:31] muichkine opened #1350 "serialization of serialized columns"
I have such a model

    class WhiteScan < ActiveRecord::Base
      serialize :parsed_prices, Array
    end

the serializer looks like

    class WhiteScanSerializer < ActiveModel::Serializer
      attributes :parsed_prices
    end

which renders the `parsed_prices` attribute as a string/text. Shoudn't the attribute be rendered as a an array by default ?

[2015-11-27 10:37] beauby commented on #1350
Could you provide examples of expected/actual output?

[2015-11-27 10:38] beauby commented on #1342
@bufordtaylor `render json: @posts, include: '**'` should do what you're trying to achieve.

[2015-11-27 11:03] muichkine commented on #1350
Sorry, my mistake. The behavior is in fact as expected. Problem was on my side.

[2015-11-27 11:03] #1350 closed

[2015-11-27 17:15] #656 closed

[2015-11-28 08:25] doei commented on #825
would love that feature too..

[2015-11-28 17:12] vitorbaptista opened #1351 "Document usage in rails-api"
Sorry if this is already documented somewhere, but I couldn't find and spent a few hours trying to understand what was going on.

When using `active_model_serializers` with Rails, there's no need to change the controllers. The same isn't true for when using `rails-api`. As far as I can see, you need to add `include ActionController::Serialization` to your `ApplicationController` (or each individua

[2015-11-28 21:29] vitorbaptista commented on #1351
As an example of another gem that has the same "issue" and how they solved it, https://github.com/CanCanCommunity/cancancan#getting-started

[2015-11-29 02:21] linuxlewis commented on #490
I'm having this issue on 0.9.3 as well

[2015-11-29 02:36] linuxlewis commented on #490
Seems rubygems is just out of date. Installing from the 0-9-stable branch fixed for me :+1:

[2015-11-29 20:24] danlaffan commented on #1348
Additional information required by the contributions policy:

- The project in question uses Rails 4.2.4 and Ruby 2.2.3.
- ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14]
- The version of AMS installed is 0.9.3.
- Mac OS X 10.11.1
- What I was doing:

  - Installed AMS in the usual way, using bundle install.
  - Added serialisers and successfully returned JSON objects.
  - Then, I dec

[2015-11-29 20:38] bf4 commented on #1348
Hi @danlaffan thanks for your help in sharing more information.

If I could boil down your issue, it is that

1. You have custom generators for models, views, controllers that generate template files in `lib/templates`
2. When you install ActiveModelSerializers, 0.9.3, the custom generators are no longer used by Rails

Without some sample code that demonstrates this, it's a little hard for me to d

[2015-11-29 20:46] bf4 commented on #1351
Hi @vitorbaptista Thanks for your issue.

I can't tell which AMS version you're on. Might you take a look at https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md and see what other information might help us?

Indeed, whatever controller you are using would need to have `ActionController::Serialization` included, but it should be included in the action controller base f

[2015-11-29 20:51] danlaffan commented on #1348
@bf4 Hi Benjamin, Thank you for such a prompt response.

If I can offer some clarity, I am not using custom generators for my scaffold, I have template files inside my lib folder.  For example, I have the following file to customise the content of my newly-created controllers (the template is saved in `lib/templates/rails/scaffold_controller/controller.rb`:

[code]

If I comment out (or before I e

[2015-11-29 21:12] bf4 commented on #1348
yup.. I changed the condition at the last moment and forgot that it changed the consequence. I first wrote it using an env variable.

Which versions of AMS and Rails are you on?

Have you considered using a custom rails template? Or looked for a hook to change the template?  I feel like there should be something like but I don't see it in http://guides.rubyonrails.org/generators.html#customizing-y

[2015-11-29 21:33] danlaffan commented on #1348
- truthy/falsey: Great; thanks.
- Rails 4.2.4, AMS 0.9.3, Ruby 2.2.3.
- Hooks: I did quite a bit of experimentation with the `config.generators` to force Rails to take my template despite whatever interruption is being triggered by AMS, but to no avail.  The current setup in there right now is as follows (in `config/application.rb`):

[code]
- I wil check out your links presently and get back to y

[2015-11-29 21:40] danlaffan commented on #1348
Regarding the first link you offered, I did try experimenting with an explicit (actually several experimental versions) of the scaffold_controller value.

Regarding the second link, I apologise for this, but I don't quite get the linkage between this ticket and that page - could you possibly enlighten me?

[2015-11-29 21:53] danlaffan commented on #1348
One further thought: all of the scaffolds I have been generating since installation of AMS have been namespaces, such as `rails g scaffold sales/customer ..` if that sheds any light for you.

[2015-11-29 23:09] danlaffan commented on #1348
Apologies Benjamin, I forgot to @bf4 tag you in those previous entires.

[2015-11-30 04:36] bf4 commented on #1348
out of curiosity, if you install 0.10 from master, do you have the same problem? There have been a few changes in 0.9, but I'm not so good at generator code.

[2015-11-30 05:10] bf4 commented on #825
@doei If your issue is not on the 0.8 series, please create a new PR. In any case, all help appreciated.  We're all just people with day jobs, right? :)

[2015-11-30 05:15] bf4 commented on #490
@kurko @joaomdmoura seems we should release a `0.9.4`  [https://github.com/rails-api/active_model_serializers/compare/v0.9.3...0-9-stable](https://github.com/rails-api/active_model_serializers/compare/v0.9.3...dc08f0e) ?

[2015-11-30 21:50] danlaffan commented on #1348
@bf4 Hi Benjamin.  That appears to have worked 100% (without the need for a ternary operator on ARGV as previously suggested).

I used this in my Gemfile:
[code]
May I ask - is it safe to rely on this branch in my Gemfile?  What is the best procedure for me to follow from here for me to keep the gem up to date, and to transition to the latest versions?

[2015-11-30 21:59] bf4 commented on #1348
So you changed from 0.9.3 to 0-10-stable and it works fine? Great! If you have any issues, please help us improve the documentation and/or code.

Right now we're on 0.10.rc3.  You're right that we should keep 0-10-stable up to date. Looks like it's on 0.10.rc2 right now.  Master should be stable as long as you're not doing anything fancy with the internals.  We're just not releasing often.

Gemfil

[2015-11-30 23:00] danlaffan commented on #1348
Thanks so much Benjamin!

[2015-11-30 23:00] #1348 closed

[2015-11-30 23:50] danlaffan commented on #1348
@bf4 I have forked the repo and will propose some documentation changes as you suggested.

[2015-12-01 03:17] bf4 commented on #1348
Link? :)

B mobile phone

[2015-12-01 18:46] blanchma opened #1359 "Ignore serializer option in has_one in nested serializations"
I have the following:

class ParticipationSerializer < ActiveModel::Serializer
  attributes :id, :approved, :meeting_id, :created_at, :meeting, :user, :message

  has_one :meeting, serializer: MeetingBaseSerializer
  has_one :user, serializer: UserBaseSerializer
end

class MeetingSerializer < MeetingBaseSerializer
  has_one :user, serializer: UserBaseSerializer
end

class UserBaseSerializer < Acti

[2015-12-01 18:49] bf4 commented on #1359
Please see https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md

[2015-12-01 20:11] danlaffan commented on #1348
@bf4 Hi Benjamin:

https://github.com/danlaffan/active_model_serializers

https://danlaffan.com/

[2015-12-01 22:04] bf4 commented on #1005
Bump, if anyone wanna help with docs or code?

[2015-12-01 23:05] KaraAJC commented on #1303
I'd like to solve this issue! This will be my first OSS contribution, so I'm using the steps in the contributors.md but any tips would be appreciated!

[2015-12-02 17:25] tak1n opened #1361 "Nested assocation"
I currently have following setup of serializers:

[code]

When I visit `/profiles/1.json` I get following json:

[code]

Now when I visit the endpoint for giving me the user as json I get:

[code]

For displaying the profile address attributes in user json I would need to add `attributes :address` to my profile serializer:

[code]

It feels somehow weird that for displaying it in a nested way you

[2015-12-02 21:31] jay-clark commented on #490
Is this release going to happen? Just hit this issue on has_one also.

[2015-12-03 02:28] therealjessesanford commented on #542
In case anyone finds this via google I have written a SO answer over here that explains how to use PORO hashes with AMS: http://stackoverflow.com/a/34056668/511168

[2015-12-03 02:31] therealjessesanford commented on #181
In case anyone finds this via google I have written a SO answer over here that explains how to use PORO hashes with AMS: http://stackoverflow.com/a/34056668/511168

[2015-12-03 05:57] winterchord commented on #555
@steveklabnik, are you saying that

[code]

is actually the same as

[code]

If so I think I can fix that; you end up changing `Association#key` to consider `options[:root]`, `options[:key]` or `name`.

[2015-12-03 16:15] luizbafilho commented on #1342
Thanks @beauby the ```include``` option worked for me. There is global way to set that as a default ? I don't want to include that option to every ```render``` in my app.

[2015-12-03 17:20] bf4 commented on #542
@therealjessesanford This is fixed in 0.10. I'll reply in SO.

[2015-12-03 17:20] bf4 commented on #181
@therealjessesanford This is fixed in 0.10. I'll reply in SO.

[2015-12-03 20:42] lookitsatravis commented on #1316
@beauby - I'm using 0.10.0.rc3 and I get the following error using the code you've provided:

[code]

My serializer looks like this:

[code]

I even went as far as created a brand new engine and only including AMS and a single model controller, and the result is the same. Am I missing something here?

[2015-12-03 21:23] lookitsatravis commented on #1316
Nevermind. I saw the 10.x tag and thought rc3 was included. But when I checked the 10-stable branch, the code for the 'type' method is not included.

[2015-12-03 21:30] bf4 commented on #1316
Yeah, 10-stable should either be up-to-date or not exist until the actual release

[2015-12-03 21:50] bf4 commented on #1342
I asked:

@beauby asked:

So, there's two uses of `include`, I'm suggesting

- JSON API-approach: where you want the request to include some specific data, in addition to the primary data
- Nesting approach: where, for whatever reason, you want to include multiple layers of nested associations.

So, if you want to include `project.role.audition`, that should be the argument.  If you want to includ

[2015-12-03 21:51] bf4 commented on #1342
@bufordtaylor If you pick 0.9, you'll help us write upgrade to 0.10 docs? :smile: (I think we generally would recommend 0.8 over 0.9 at this point, but it's been awhile for me.)

[2015-12-03 22:12] natesholland commented on #1325
I just ran into this in my app and it caused a surprise N+1 query for me. I would really like to be able to have the serializer just create the JSON without reaching out to the DB.

[2015-12-04 14:11] Drabc commented on #1361
This version doesn't automatically include nested associations of a nested association. You have to specify what to include.

include: "profile.address" or include: "**" to specify you want all associations to be loaded
here is a link https://github.com/rails-api/active_model_serializers#json-api

[2015-12-04 15:45] jordpo opened #1362 "Using multiple adapters for a single app"
We have a legacy code base that is using the default attributes adapter that we are building on for v2 and we want to use the JSON API adapter for v2 resources. Is there a way to specify an adapter in the Serializer class definition?

[2015-12-04 15:58] bf4 commented on #1362
Please see https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md to help us with more information

In 0.10 the serializer and adapter interact through the controller (via serializable_resource).  They are intentionally separated.  You can always specify which serializer and adapter to use.

[2015-12-04 16:13] jordpo commented on #1362
Thanks. It's clear with the docs that you can specify an adapter in a initializer but what we are trying to do is specify an adapter in the serializer class, here:

[code]

The idea being that v1 resources will continue to use the attributes adapter while v2 resources can use the JSON API one.

Sorry if this is still not clear or this is a rare situation that other developers wouldn't normally com

[2015-12-04 16:45] bf4 commented on #1325
@richmolj asks:

and @natesholland asks similarly:

I answer:

This isn't surprising.  If your serializer maps `comments`, then when the record is serialized, it will serialize comments.  The fact that the record hits the DB is a property of the record, not of AMS.

However, I do think we might want to reconsider the behavior of the JSON API adapter to only serialize relationships when included, i

[2015-12-04 17:04] richmolj commented on #1325
@bf4 thanks for the detailed response. I agree with most of what you've said, except the last bit on `include_tree`. This is an important distinction - `included` is pretty easy to modify and adjust. I'm cool with that, and I would just create a mixin if it were that easy. But the DB hit I'm concerned with is caused by `relationships`, not `included`.

Please correct me if I'm misunderstanding, bu

[2015-12-06 20:22] tak1n commented on #1361
@Drabc  Thx for your comment, but note that I'm not using the json-api adapter.
I cannot switch to json-api because the project where I want to introduce AMS is not that tiny (currently json is done through rabl view) and therefore I have to be backwards compatible with the old json format.

Thats why I want to use AMS with its default adapter to reconstruct the old json format to switch stepwise

[2015-12-07 14:20] Drabc commented on #1361
@tak1n I believe you have to use include for any adapter. It has to do with the way AMS serializes associations. I use the attributes adapter and I still have to specify the include.
The reason why has_one :address is not working its because its not specify as part of the include chain, so AMS doesn't see it. The reason why attributes :address works its because AMS is calling profile.address. If y

[2015-12-07 14:57] tak1n commented on #1361
Okay thx, will try it when I'm at home :)

[2015-12-08 17:51] beauby commented on #1362
This is currently not possible, and will probably never be, as the direction we have taken is to make the serializers (almost) totally adapter-agnostic. A possible solution to your situation would be to add the `adapter: Whichever::Adapter::You::Want` to all your `V2` `render` calls. I realize this is not ideal, but it seems like the best solution right now (at least to me).

[2015-12-08 17:58] beauby commented on #1342
@luizbafilho Currently, there is no option to globally set the default nesting to be unbounded (or anything different than one level, really). I opened an issue to discuss whether we should change the default, but it didn't get much traction.
@bf4 To be fair, the reason more than one level of nesting is discouraged is not that clear to me

[2015-12-08 18:02] beauby commented on #1337
The initial idea behind the `serializer_lookup_chain_for` method was that it could be monkey-patched for specific/complicated use-cases. There has been talks about adding the siblings somewhere in the lookup chain, but we ended up deciding that it would make some situations too confusing. If you had time to make a doc PR to explain how to monkey-patch the lookup chain, that would be awesome.

Conc

[2015-12-08 18:04] beauby commented on #1333
I'll try to issue a PR that adds support for `only/except` on associations tonight, we'll see whether it gets traction!

[2015-12-08 18:13] beauby commented on #1303
Great! If you're interested, have a look at #1302, which is a similar kind of issue.

[2015-12-08 18:20] renaebair opened #1366 "version 0.10.0.rc3 returns ALL attributes, not just the ones specified in the serializer"
In version 0.8.0 everything works as expected. If I have a model "ExampleThing" and generate a serializer "ExampleThingSerializer" and do something like:

[code]

[code]

The json output will be:
[code]
However, when I update to use Active Model Serializer 0.10.0.rc3 (and without making ANY other changes), the output will include not only the title, but every other attribute of the object:

[code]

[2015-12-08 18:43] jordpo commented on #1362
Thanks for the info! Yeah maybe a custom render function scoped to the v2 application controller will let us get by. It makes sense that the serializers are adapter agnostic. Going to close this issuer. Thanks again.

[2015-12-08 18:43] #1362 closed

[2015-12-08 18:56] oyeanuj commented on #1333
@beauby thank you, appreciate it!

[2015-12-08 22:03] edude03 opened #1367 "AMS 0.10 rc3 doesn't implement to_json on serializer correctly?"
I've fairly familiar with AMS 0.8 so for this project I decided to try 0.10

In 0.8 to use a serializer without render I would do
[code]
And I would get
[code]

I just tried the same thing with 0.10 RC3 and instead got

[code]

After digging in the source I found that ```SerializableResource.new ...``` is the new recommended way to do this however since `get_serializer_for` users class name + seri

[2015-12-08 22:16] KaraAJC commented on #1303
will do!

[2015-12-08 23:10] KaraAJC commented on #1302
I can work on this too!

[2015-12-09 00:04] deepsystm commented on #1366
same question!

[2015-12-09 03:57] bf4 commented on #1366
Thanks for your question.  I'm going to need some more details in order to help you, ideally something reproducible.   I'm guessing your issue has to do with the adapter, but I can't say for sure.

Note:  I recommend running off of master.

[2015-12-09 04:00] bf4 commented on #1302
HI @KaraAJC Thanks for looking here.. this one isn't a good one to work on.  Basically, this one is doesn't require any work except an announcement (with major version change) and a change in the CI matrix.  Have you looked at https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md#writing-code-and-comments ? There's lotsa stuff that we've labeled that would be much appre

[2015-12-09 04:01] bf4 commented on #1367
It's not a bug. The JSON library in Ruby mixes in `to_json` but we should probably make it raise an exception.

[2015-12-09 04:05] bf4 commented on #1367
Accidentally hit enter, though somehow it still sorta makes sense:

It's not a bug. The JSON library in Ruby mixes in methods into Object such as `to_json`.

The job of the serializer is just to represent the serialization of the model/record you pass it.  You can see this by calling `attributes` on your instantiated serializer.  The adapter is what we can to_json.  This was kind of confusing and

[2015-12-09 04:06] bf4 commented on #1367
I'm going to close this, but feel free to ask any questions.  And if you can help us with our 0.8 -> 0.10 upgrade docs, that'd be fantastic! See https://github.com/rails-api/active_model_serializers/issues/1005

[2015-12-09 04:06] #1367 closed

[2015-12-09 04:11] bf4 commented on #1333
@beauby

For JSON API, there shouldn't be a need for only exclude, since it's always opt-in.  Otherwise, it would be an argument to the include tree thingy, right?

[2015-12-09 04:17] bf4 commented on #1342
@beauby

I think there's probably a whole bunch of reasons that can be boiled down to people with a lot of experience designing resource-oriented endpoints have found it easier to work with and less bug-prone.  I think we'd agree 5 levels is too much? So there's a limit somewhere.

Also, it introduces possible recursion issues in the code and can create duplicate resources. I've come across this b

[2015-12-09 04:52] oyeanuj commented on #1333
@bf4 Having the only/except also is allowing for major backwards compatibility for those upgrading from 0.8.x and 0.9.x. When dealing with associations in serializers, `only` and `except` turn out to be invaluable to customize API responses.

[2015-12-09 06:31] bf4 commented on #1333
You're right. I keep mixing up internal vs external options.  Internal like here would work well with serilization scopes and requested attributes

B mobile phone

[2015-12-09 07:29] jameswilliamiii commented on #331
You can use the options to pass along the info to the association.  An example would be:

[code]
There is probably an elegant solution, but this is how I am solving the problem for now.

[2015-12-09 12:11] beauby commented on #1342
@bf4: Agreed that for the "legacy" Attributes/Json adapters, it can lead to possible infinite recursions and almost certain duplications. But those are actually design flaws in the structuring of data, not in the serialization process. However, I'm personally fine with it, I just wanted the reasons to be stated for the record.

[2015-12-09 12:12] beauby commented on #1366
Your issue lies in this line:
[code]
Just replace it with
[code]

Or if you need to specify the serializer:
[code]

[2015-12-09 12:16] beauby commented on #1333
@bf4 There will be some discussion about priorities of the options, but my current thought is "if an explicit `include` option is provided to the render call, disregard the serializer-level options".

[2015-12-09 12:22] beauby commented on #1302
@bf4 I disagree it's not a good one to work on. It has to be done, and it's a pretty straight forward PR (as you mentioned, modify the travis config + make an announcement), so it seems to me like a good candidate for a new contributor.

[2015-12-09 12:30] NullVoxPopuli commented on #1302
@beauby agreed. Ruby 1.9 is no longer supported officially, so a next release of AMS shouldn't have to support 1.9 either

[2015-12-09 13:53] beauby commented on #1331
@Drabc Upon further investigation, it seems you'r manually adding `app/models` to the autoload paths. Is there a reason for that?

[2015-12-09 14:16] beauby commented on #1331
Ok, so the problem comes from the fact that you manually add `app/serializers` to your autoload path.

[2015-12-09 14:16] #1331 closed

[2015-12-09 14:18] beauby commented on #1180
Closing this one as it is probably a usage issue. Feel free to reopen if needed.

[2015-12-09 14:18] #1180 closed

[2015-12-09 14:45] bf4 commented on #1302
We can't until we decide to break compatibility in 0.10

B mobile phone

[2015-12-09 14:46] bf4 commented on #1302
I'm not opposed, we just have to be responsible ro to end users

B mobile phone

[2015-12-09 14:47] bf4 commented on #1333
Agreed

B mobile phone

[2015-12-09 14:50] beauby commented on #1302
Let's look at the facts here:
+ PRs requiring ruby > 1.9.3 have been merged into the 0.8 branch
+ ruby 1.8.7 and 1.9.2 EOLed more than a year ago, ruby 1.9.3 EOLed almost a year ago, so anybody who might be using any of the 0.10-RC would almost certainly not use such old versions

We should definitely make an announcement, but IMO it is a no-brainer to drops support for those.

[2015-12-09 15:00] bf4 commented on #1342
I wouldn't say that's **the** reason. We inherited it, and this lib's history is bound to that of JSON API which, after much discussion etc.there's probably a nice issue there somewhere where they discuss (bikeshed) nesting

B mobile phone

[2015-12-09 15:14] bf4 commented on #1302
Not disagreeing except with the 'now'  part.

Fwiw rspec and the mail gem still support 1.8 and heroku had made security releases of Ruby.  EOL is an action item, not a requirement for gem authors.

Again, we can't do it now and we don't need to.  I imagine after we release 0.10 we can then remove < 2.2 and bump to 1.0

Relatedly, that why I added Rails 5 to the build matrix, because that we **do*

[2015-12-09 15:16] beauby commented on #1302
EOL means the ruby core team won't backport any security fix made to more recent versions. Not sure I understand why we could not do it now.

[2015-12-09 15:52] Drabc commented on #1331
We seem to have misunderstood some things around auto-loading. I removed the manual addition and everything is working as it should. Thanks for the help!

[2015-12-09 16:02] natematykiewicz commented on #1337
https://github.com/rails-api/active_model_serializers/issues/1337

The use case of controller and serializer namespace you've got laid out in [this PR](https://github.com/rails-api/active_model_serializers/pull/1265) is exactly what I'm doing. Something along these lines would help my situation a lot.

That PR references a lot of issues of people asking for versioned serializer support, and I keep

[2015-12-09 19:18] pelted opened #1368 "Return non-wrapped json from specific serilaizer"
I've been using rc3 with very good results on a rather large Rails based API project. I've run into an issue where I have a couple of routes where I need to return just the json array and not the fully wrapped response.

[code]

instead of

[code]

Am I just not seeing a way of configuring this from the controller or serializer

[2015-12-09 19:57] deepsystm commented on #1366
Thanks, i will try it now and provide feedback

[2015-12-09 20:18] bf4 commented on #1153
Closing as stale. Please re-open if I closed this in error.

[2015-12-09 20:18] #1153 closed

[2015-12-09 20:20] bf4 commented on #1243
@beauby This is a great issue. As the domain master of includes, I'd love if you added some docs of how it behaves and what data structures are inputs and outputs.

[2015-12-09 23:21] bf4 commented on #1302
I mean, we literally could, but it wouldn't be very nice to our end users.  I admit semver for `0.x` makes no guarantees, and we've made breaking changes from `0.8` to `0.9`, so `0.10` wouldn't be terrible.

I've just been thinking of 0.10 as the last release before its gets more tightly coupled with Rails, and such should be more flexible.

But, it looks like there may be some feature-pressure to

[2015-12-10 05:13] bf4 commented on #1368
Seems like you should just specify the adapter you want to use, or just serialize your record in the controller (`to_json`) and AMS won't change it

[2015-12-10 14:05] beauby commented on #1368
As @bf4 mentioned, you seem to be using the `JsonApi` adapter (from the second example), where you should be using the `Attributes` adapter in order to get the result in the format from the first example (`Attributes` is basically the same as the `Json` adapter, except the response document does not have a root).

[2015-12-10 16:32] pelted commented on #1368
@bf4 I'm just not sure how in the world I missed that the `adapter` option being available to pass to the renderer. I've got a couple of API projects and one is using the older .9 stable branch so maybe just got the docs confused.

[2015-12-10 16:32] #1368 closed

[2015-12-10 17:05] bf4 commented on #1368
@pelted Thanks.  If you'd like to help us with the upgrade docs, that'd be great! ref: https://github.com/rails-api/active_model_serializers/issues/1005

[2015-12-10 20:39] bf4 commented on #1302
oboi, [looks like the decision has already been made](https://github.com/rails-api/active_model_serializers/blob/614e349502e060a57550ad2627e1463d6adb52e3/README.md#release-candidate-please-read).  Full steam ahead.

compatible with `0.9.0` or `0.8.0`.

My apologies for the delay.

The .travis.yml can be

[code]

[2015-12-10 21:03] joaomdmoura commented on #1302
Totally agree into drop this. :+1:

[2015-12-10 21:07] bf4 commented on #1302
We should consider dropping Rails 4.0, too. It requires minitest 4, which is pretty different from minitest 5. If we drop Rails 4.1, we can also drop support for `_render_option_json`. :)

[2015-12-10 22:05] maurogeorge commented on #1302
Guys I made a pr to close this https://github.com/rails-api/active_model_serializers/pull/1369 it seens to be a consensus to drop support to Ruby 1.9.3.

About the Rails 4.0, I think we can create another issue and PR.

Thanks guys.

[2015-12-10 22:08] maurogeorge commented on #1302
@KaraAJC sorry I sent a PR before I saw your comment :disappointed: I will close my PR and wait for yours :heart:

[2015-12-10 22:10] KaraAJC commented on #1302
thanks ya'll, do you use screenhero? would you help me rebase/squash my
commits from my PR so I can push the updated PR?

[image: photo]
*Kara Carrell*
Dev Bootcamp Grad, Web Developer
m:773-382-8220 | e:KaraAJC@gmail.com
<http://us.linkedin.com/in/KaraAJC>  <http://twitter.com/KaraAJC>
<http://about.me/KaraAJC>  <http://github.com/KaraAJC>

On Thu, Dec 10, 2015 at 4:08 PM, Mauro George <notificat

[2015-12-10 22:26] beauby commented on #1302
Hi @KaraAJC, in order to squash your commits, just do `$ git rebase -i HEAD~4` (here 4 is the number of commits you want to squash, starting from the latest one included). If you're unsure how many commits you want to squash, you can look at the `$ git log`. I cannot pair at the moment, but should you have further questions, feel free to join us on our [Slack](https://amserializers.herokuapp.com/)

[2015-12-10 22:35] KaraAJC commented on #1302
I know the commands, just a lil turned around with the order on what's
being squashed and what's being reworded for my commit, ill try again and
if i need another pair of eyes, join the slack in a few...

Awesome thanks!

On Thu, Dec 10, 2015, 4:27 PM Lucas Hosseini <notifications@github.com>
wrote:

[2015-12-11 19:51] AlexCppns opened #1373 "How to use AMS with the Sequel ORM ?"
I have been reading the docs and I was quite confused on the part about ORMs. Is there an example I can look at?

[2015-12-11 20:25] bf4 commented on #1373
I'm not sure I understand your question, but I'll make some assumptions and throw a few ideas.

(Also, see https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md )

Assuming:

- You're on 0.10.0.rcx or master (I recommend master...)
- You're not sure how to use non-activerecord objects

Possible solutions if you're on 0.10.0 or master:

- Use ActiveModelSerializers::Mode

[2015-12-11 22:18] beauby commented on #1366
Closing this, as it is a usage issue. Feel free to ask if you need further information.

[2015-12-11 22:18] #1366 closed

[2015-12-13 21:41] bf4 commented on #1335
see https://github.com/rails-api/active_model_serializers/pull/1374

[2015-12-14 20:03] bf4 commented on #1373
Closing, but please re-open and/or share your problem/solution :) https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md#after

[2015-12-14 20:03] #1373 closed

[2015-12-14 20:06] bf4 commented on #1335
Closing as OP has not responded. Please either comment on what you ended up doing or re-open if this is still a problem.  Ref: https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md#after

[2015-12-14 20:06] #1335 closed

[2015-12-14 20:10] bf4 commented on #1303
@beauby I noticed that tests are passing here on Rails 5 (master) on Ruby 2.2.2 and see the [gemspec in Rails is `>= 2.2.2`](https://github.com/rails/rails/blob/dbf867cfcb4dac32bdb0b9491229fa8198ed8033/rails.gemspec#L10).  I imagine there's another source out there that said 2.2.3, but I haven't found it. Could you help me?

[2015-12-14 20:29] remear commented on #1303
fwiw, I've only ever officially heard >= 2.2.2 for Rails 5, https://github.com/rails/rails/pull/19753. There has been talk of requiring 2.2.3 due to some Symbol GC bugs, but the decision seems to have been to leave the requirement at 2.2.2, https://github.com/rails/rails/pull/21620.

[2015-12-14 20:48] bf4 commented on #1303
Closed by #1360

[2015-12-14 20:48] #1303 closed

[2015-12-14 20:49] bf4 commented on #1302
Closed by #1360

[2015-12-14 20:49] #1302 closed

[2015-12-15 08:31] wxianfeng commented on #673
hmmm..
i use active_model_serializers 0.10.rc3, and use  flatten_json adapter
response json has root, how to solve it?
i dont want root.

[2015-12-15 16:30] bf4 commented on #673
@wxianfeng Please open a new issue and take a look at https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md

[2015-12-15 16:30] #673 closed

[2015-12-15 16:31] bf4 commented on #673
This issue has started to attract off-topic comments. If this is still a problem, please open a new issue, reference which 0.9 version is is for (per https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md )  and reference this issue

[2015-12-16 00:51] mattholtom commented on #938
Here's my workaround for now, similar to @joaomdmoura above:

[code]

[2015-12-16 11:16] nikolai-b commented on #1321
This is an issue on master.  I'm using rocket pants which [uses that method](https://github.com/Sutto/rocket_pants/pull/138/files).  It isn't a big issue to change but `MySerializer.new(@message).serializable_hash` does feel a bit nicer to use.

[2015-12-16 16:45] casiodk opened #1379 "How to include nested dynamic associations in object"
I have a search model, where i save the query params

depending on these search params i find a collection of Containers

If I want to render these containers as an association on the search model, and use the container serializer for that, how do i go about that?

ex

    class API::V1::SearchesController < ApplicationController
      def show
        @search = Search.find_by_token!(params[:id])

[2015-12-16 17:08] bf4 commented on #1321
This issue comes up a lot in the 0.10 series.  Someone (me? you?)  should really add this to [common issues and resolutions section in contributing](https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md#common-issues-and-resolutions)

So, tl;dr the serializer has a different interface because it is different.  I'm not sure what kind of output you're expecting, but you c

[2015-12-16 17:10] bf4 opened #1380 "Add 'why doesn't the Serializer in 0.10 have to_json/as_json/serializable_hash' to common questions"
see [common issues and resolutions section in contributing](https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md#common-issues-and-resolutions)

So, tl;dr the serializer has a different interface because it is different.

You could monkey patch the serializer with a call to the serializable resource and the attributes adapter?

The serializer in the 0.10 series does ha

[2015-12-16 17:11] bf4 commented on #1321
I'm going to close this, but feel free to continue asking questions, and re-open if you think there's a solution that fits in this lib.

[2015-12-16 17:11] #1321 closed

[2015-12-16 18:54] bf4 commented on #1379
Please see https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md so we can help you

[2015-12-17 16:38] rodrigomonteirof opened #1381 "Error using AMS with Sequel Model"
I'm using AMS with Sequel model and when I try use a serializer I've got error:

undefined method `read_attribute_for_serialization' for #<Foo:0x007fa1813e8058>

This error happens only for serialization of attributes obejct, if I use only object methods it works fine!

[2015-12-17 17:05] rodrigomonteirof commented on #1381
I add to my model the follow include and works:

include ActiveModel::Serialization

Sorry!

[2015-12-17 17:05] #1381 closed

[2015-12-17 19:33] fabiancarlos opened #1382 "Serializer manually"
I can be wrong, but can i call the oject model serializer to create on manually? Like this.

UserSerializer.new(@user)

[2015-12-17 19:50] remear commented on #1382
Assuming you're using 0.10.x, is this what you're looking to do? https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/outside_controller_use.md

[2015-12-17 20:16] bf4 commented on #1382
Thanks @remear

Closing due to too little information.  Please see https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md for what we need, then re-open and let's continue the discussion. (This just keeps issues from staying open if the poster never comes back :)

@rails-api/ams we have in the docs to use stackoverflow for questions.  Should we keep that, change it to sl

[2015-12-17 20:16] #1382 closed

[2015-12-21 16:37] jdenquin commented on #704
+1, work with delegate fix

[2015-12-21 20:22] bf4 commented on #704
@jdenquin it would make a nice PR to the 0-8-stable branch :)

[2015-12-22 00:25] svenfuchs opened #1389 "0.10.0.rc3 outside of rails?"
`active_model_serializers` unconditionally requires `action_controller/railtie` (https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model_serializers.rb#L4). This raises in an application that does have `railties` loaded:

[code]

I've looked at including `active_model/serializer` directly, but that requires `ActiveModelSerializers` to be known.

It now also requires both

[2015-12-22 02:59] bf4 commented on #1389
@svenfuchs (nice to meet you)

Since AMS has always been coupled to Rails and used in Rails projects, it does assume most of the Rails stack, at this point. It walks kind of a funny line that way.

I believe when I added railties and actionpack to the gemspec it was because they were implicit dependencies.

But does it need to be so tightly coupled on load? No, I don't think so.

Besides making th

[2015-12-22 22:49] bf4 commented on #1258
Closed by https://github.com/rails-api/active_model_serializers/issues/1336

[2015-12-22 22:49] #1258 closed

[2015-12-23 18:44] jasdeepsingh commented on #923
hey guys, I know the issue is closed, but this is problem for me as well, I'm using: `0.10.0.rc3` with `rails 4.2.1` It seems it was working fine for me at some point but not any more.

I've verified all possible solutions noted above, such as:

`config.action_controller.perform_caching = true`

and my serializers look like the following:

[code]

I've also tried this with different cache stores,

[2015-12-23 18:48] bf4 commented on #923
@jasdeepsingh This is something I'm looking it, but haven't yet figured out when it broke.  Do you have a working AMS version or gitref (via Gemfile.lock) you can share? That would be very helpful.

[2015-12-23 19:08] jasdeepsingh commented on #923
@bf4 I'm also investigating the issue at the moment myself, I'll try to get you a working gitref shortly.

[2015-12-23 22:03] dfjosh commented on #664
each_serializer still not fixed in 0.9.3, I downgraded to 0.8.3 and it works

[2015-12-23 22:32] bf4 commented on #923
Running something now, will update this comment as I get more data

[code]

[2015-12-23 23:58] bf4 opened #1396 "Move rbx-2 to the allowed_failures in the .travis.yml build matrix"
ref: https://github.com/rails-api/active_model_serializers/pull/1395#issuecomment-167011054

it just fails intermittently

[2015-12-24 01:49] svenfuchs commented on #1389
Hi @bf4, nice to meet you, too

I used to use ARM outside of Rails, simply by subclassing it and calling `as_json` on it. I seem to remember there are guides/tutorials out there for that. E.g. a Sinatra application that uses ActiveRecord and wants to serialize to json-api.

I feel requiring railties and actionpack in the gemspec might not actually be necesary if ARM only loaded it's own railtie if

[2015-12-24 02:02] bf4 commented on #1389
Yeah that's basically possible now except I guess we set the requirements too tightly.

If that's a PR you'd be interested in making, I'd love to help.  It would mostly be moving a few require statements around, and me finishing the PR to isolate the Rails app stuff in the Railties.

There's a docs page now that links to our slack, if you're interested.  Amserializers.herokuapp.com I believe

B mo

[2015-12-24 02:42] djsegal commented on #834
Any updates on this?

[2015-12-24 08:25] bf4 commented on #923
Ok, I think I figured it out, at least on master.

1. upon load, when AMS.config.perform_caching is true, serializers inherit the cache store from ActiveModelSerializers.config.cache_store
1. if the serializers are loaded before Rails is initialized (`Rails.application.initialize!`), these values are nil, and are not applied to the already loaded serializers

1. If Rails is initialized before any

[2015-12-24 17:33] bf4 commented on #664
@dfjosh If you have some test code I could run, I could probably help.  See https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md

[2015-12-24 17:36] bf4 commented on #1396
again https://travis-ci.org/rails-api/active_model_serializers/jobs/98591940 in #1394

[2015-12-24 17:37] bf4 commented on #1396
again https://travis-ci.org/rails-api/active_model_serializers/jobs/98460114 in #1392

[2015-12-24 17:38] bf4 commented on #1396
again https://travis-ci.org/rails-api/active_model_serializers/builds/98350902 in #1385

[2015-12-24 18:08] #1396 closed

[2015-12-27 14:20] groyoh opened #1400 "[RFC] Option to decide whether a "link" should be a string or object"
JSONAPI spec speficy that a `link` can either a string or an object (http://jsonapi.org/format/#document-links). Currently when using `ActiveModel::Serializer::link` method, we cannot specify whether the link should be serialized as a string or an object.
If we don't use a block, then it is always serialized as a string:
[code]
and if we use the block version, then it is always serialized as an ob

[2015-12-27 21:16] stephanngamedev opened #1401 "undefined method `config' for ActiveModelSerializers:Module"
I'm using Rails 5

My `.gemfile`
[code]
My initializer (`config/initializers/active_model_serializers.rb`) based on guides (https://github.com/rails-api/active_model_serializers/blob/master/docs/general/configuration_options.md)
[code]
Error:
[code]

I solved with:
[code]

[2015-12-27 22:06] beauby commented on #1400
You make a valid point, although I'm not convinced by the `as_string` option. We could possibly add a `string` method to the `Link` class, which would force the value to be a string.

[2015-12-28 00:15] beauby commented on #1401
You are right, the change from `ActiveModel::Serializer.config` to `ActiveModelSerializers.config` was made post-RC3. I'll close this issue for now, but it's good to have it pinned down for future reference.

[2015-12-28 00:15] #1401 closed

[2015-12-28 01:21] bf4 commented on #1400
I think a config option would be sufficient.  The default would be: If a link has only one item in it, then the value is a string.  Else, it's an object. And configurable would be: Always use an object.  Also, passing in 'self: href' would always result in an object

[2015-12-28 01:55] bf4 commented on #1401
Technically `AMS.config` just delegates to `AM::S.config`, for backwards compat. Maybe this could be a PR to the docs to emphasize they always apply to master?

[2015-12-28 01:59] groyoh commented on #1400
@beauby I thought about this too but then realized that it would prevent us from serializing as an object when not using a block e.g. `link :self, "//an-url" # => { :self => { :href => "//an-url" } }`. In my opinion, we should able to decide how to serialize it whether we use a block a not for consistency reason.

[2015-12-28 02:05] beauby commented on #1400
@groyoh Not really, as you could currently do `link :self, { href: '//an-url' }`.

[2015-12-28 03:09] bf4 opened #1404 "RFC: Introduce a `DSL` object"
I'll flesh this out later, but the basic idea is that the class-level methods in ActiveModel::Serializer are basically DSL methods, and it's worth considering delegating these methods to a DSL object, which would make their implementation and usage a little easier to follow from file to file, as compared to our current mix-ins approach.

see https://github.com/rails-api/active_model_serializers/pu

[2015-12-28 08:15] groyoh commented on #1400
@beauby you're right. I forgot about this even though I'm not convinced it's the best idea to be able to pass in a hash directly. If I were to choose I'd rather only pass a string and then AMS would take care of serializing as string or a hash. I also find it less error prone (e.g. no chance of typo when writting `href`).

[2015-12-28 13:41] beauby commented on #1400
@groyoh That's why we introduced the DSL for link objects. I'd like to address as many use-cases as possible but at the same time I don't want to introduce too much complexity and confusion.

[2015-12-28 19:52] beauby commented on #1404
This is an interesting idea. However, I'm personally more in favor of separating code by feature rather than behavior (although, arguably, the DSL could be seen as a feature). I'll look more into it when I have a bit more time.

[2015-12-28 19:59] bf4 commented on #1404
I mostly like how it makes the public api of the srializer more obvious, otherwise it's just interesting

B mobile phone

[2015-12-29 08:20] groyoh commented on #1400
@beauby alright, so in the end would it be like this:

[code]
or did you expect a different usage of the `string` method?

[2015-12-29 18:54] beauby commented on #1400
I don't understand your first example. Your `link :self, "//an-url", as_string: false` outputs the exact same thing as `link :self, "//an-url"` currently does.

What I had in mind was:
[code]
So in the block, one could either specify a string (possibly using dymanic stuff), or call DSL methods to build an object (`href`, `meta`, etc.).

[2015-12-29 19:05] beauby commented on #1400
@groyoh Check out the PR I just issued (which does what I described above).

[2015-12-30 05:02] bf4 commented on #1351
Closing as stale.  Please re-open and comment if this is still an issue.

[2015-12-30 05:02] #1351 closed

[2015-12-30 05:05] bf4 commented on #1330
It appears this issue is resolved.  Please comment and reopen if it is not.

[2015-12-30 05:05] #1330 closed

[2015-12-30 05:12] bf4 opened #1408 "Add JRuby-9000 to appveyor.yml"
Per https://github.com/rails-api/active_model_serializers/pull/1405

Perhaps see https://github.com/shoes/shoes4/blob/master/appveyor.yml and https://github.com/rails-api/active_model_serializers/commit/8bddef6

Should just be

[code]

[2015-12-30 05:18] bf4 opened #1409 "Run all branches against JRuby on CI"
ref: https://github.com/rails-api/active_model_serializers/commit/8bddef6

Diff should be something like:

[code]

[2015-12-31 08:41] groyoh commented on #1400
@beauby there was a mistake in my answer which didn't make sense. I'll take a look at the PR ;)

[2016-01-01 22:25] cesarjr commented on #490
+1

[2016-01-03 02:53] bf4 commented on #490
@wycats @steveklabnik @joaomdmoura @josevalim @spastorino @kurko would love for someone with push rubygems privileges to cut 0.9.4...

[2016-01-03 20:17] sevab commented on #1210
I have a similar issue, I was on `0.10.0.rc3` (specifically https://github.com/rails-api/active_model_serializers/tree/efe5128a2e6b8578d81bc7a807ace427c0b4d847) and updated to today's `master` (specifically https://github.com/rails-api/active_model_serializers/tree/df594c630db5b11c1c0b7c9f053fa4275a2ee035) and suddenly caching via `cache key: some_key` inside the serializer just stopped working, o

[2016-01-03 23:18] spastorino commented on #490
@bf4 I'm not actually maintaining AMS. I think @kurko and/or @joaomdmoura are the ones, now.

[2016-01-03 23:45] bf4 commented on #490
Yeah, but you have gem ownership and can push :)

B mobile phone

[2016-01-04 00:56] bf4 commented on #1210
@sevab There's an open issue for this at https://github.com/rails-api/active_model_serializers/issues/923#issuecomment-167067238 if you'd like to repost there.

Also, I'm having a heckavu time demonstrating caching as improving performance,  and when that went away.  See https://github.com/rails-api/active_model_serializers/pull/1393 and I think https://github.com/rails-api/active_model_serializer

[2016-01-04 03:19] beauby commented on #834
@djsegal I'm getting some other stuff into the pipe currently but this is on my priority list. What I have in mind is a block-based syntax such as:
[code]

[2016-01-04 04:08] bf4 commented on #834
Needs the url_helpers PR mentioned in https://github.com/rails-api/active_model_serializers/pull/1282#issuecomment-167185540

[2016-01-04 09:01] josevalim commented on #490
Please ask one of the maintainers to contact us if they need to push permission. It would be rude of us to just publish a project we no longer maintain.

[2016-01-04 15:18] josevalim commented on #490
@bf4 that clarifies *a lot*! :D sorry for the confusion! Can you please let me know your rubygems e-mail? you can spell it out here or send me an e-mail (you can find my e-mail on my profile).

[2016-01-04 15:26] josevalim commented on #490
I have added you and removed myself. :)

[2016-01-04 15:43] joaomdmoura commented on #490
Just read it, glad you figure it out, let me know in case you still need any help @bf4, was offline this xmas + new year

[2016-01-05 04:36] hoahm opened #1411 "undefined method read_attribute_for_serializati ActiveRecord_Relation"
I use serializer for rendering all records as json, but got these exceptions. How can I fixed this issue?

    @manufacturers = Manufacturer.all
     render json: V1::ManufacturerSerializer.new(@manufacturers).serializable_hash

    NoMethodError - undefined method `read_attribute_for_serialization' for #<Manufacturer::ActiveRecord_Relation:0x007fb2db9b5d58>:
    activerecord (5.0.0.beta1) lib/act

[2016-01-05 04:38] bf4 commented on #1411
Thanks for the issue!

Please add some more information per https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md
Also, what happens if you call `to_a` at the end of `@manufacturers`?

[2016-01-05 15:08] hoahm commented on #1411
Also, what happens if you call to_a at the end of @manufacturers?
--> It returns an Ruby array

Bellow is the exception when I call to_json method:

    [12] pry(main)> manufacturers = Manufacturer.all
    [12] pry(main)> se = V1::ManufacturerSerializer.new(manufacturers)
    => #<V1::ManufacturerSerializer:0x007fd888ec4268
     @context=nil,
     @except=nil,
     @key_format=nil,
     @meta=nil,

[2016-01-05 15:20] bf4 commented on #1411
@hoahm please respond to my requests in https://github.com/rails-api/active_model_serializers/issues/1411#issuecomment-168895314

[2016-01-05 19:48] bf4 commented on #490
Released!  0.9.4 https://twitter.com/rubygems/status/684456579471683586 https://rubygems.org/gems/active_model_serializers/versions/0.9.4

I tried to [update the change log but the pr history across branches was a little weird. Lemme know](https://github.com/rails-api/active_model_serializers/commits/0-9-stable)

[2016-01-06 19:45] NickOttrando commented on #851
@joaomdmoura  When will the caching functionality be available in .10? I'm using 0.10.0.rc3 and getting an "undefined local variable or method `cached' for [serializer]" error.

Thanks

[2016-01-08 15:07] afn commented on #490
:beer: Thanks!

[2016-01-08 18:29] mepatterson commented on #1243
I'm seeing what might be the same issue. I can't really get any use out of the `include` feature at all for the problem I'm trying to solve. I'm using the simple JSON adapter.

I have an Organization:
[code]
and a ClientAppSerializer:
[code]
and a ServiceSerializer:
[code]
Pretty simple, right?

Let's say I want to serialize starting at the App level:
[code]

I'll get the serialized data for the A

[2016-01-09 18:47] beauby commented on #1243
@mepatterson Could you open a separate issue adding the current output you're getting?

[2016-01-09 18:54] mepatterson opened #1421 "can't getting serialized associations of parent of object"
I can't really get any use out of the `include` feature at all for the problem I'm trying to solve. I'm using the simple JSON adapter.

I have an OrganizationSerializer:
[code]
and a ClientAppSerializer:
[code]
and a ServiceSerializer:
[code]
Pretty simple, right?

Let's say I want to serialize starting at the App level:
[code]

I'll get the serialized data for the App, and the serialized data for

[2016-01-09 18:54] mepatterson commented on #1243
Done. https://github.com/rails-api/active_model_serializers/issues/1421

[2016-01-10 10:43] d3crypt3d commented on #1243
Hello, guys.

Can you tell me whether it's possible to use this option inside the serializer class itself
[code]
rather than inside controller?

[2016-01-10 21:39] bf4 commented on #1421
Please see https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md and add the requested information to this issue.

[2016-01-10 21:42] bf4 commented on #1243
@d3crypt3d short answer is no. It's an adapter option. Please open a new issue to make a proposal if you'd like to discuss further, or better, join us on the slack chat. See  https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md

[2016-01-11 13:01] d3crypt3d opened #1422 "Links object must be a member of Relationships object"
I discovered that [links object](http://jsonapi.org/format/#document-links) currently is not a member of [relationships object](http://jsonapi.org/format/#document-resource-object-relationships).
Here is an example of resource object that I got:
[code]
In other words **link** object is a neighbour of the **relationships** one. However, according to JSON API specification, **relationships** should

[2016-01-11 23:34] beauby commented on #1422
The JSON API spec defines various types of links. You are looking for relationship-level links, for which I'm working on a PR.

[2016-01-12 11:10] glennpjones commented on #968
@mankind @shicholas - I'm experiencing the same problem and while following your solution I get `wrong number of arguments (2 for 1)`.

Do you see what I'm doing wrong? I call `render_serialized_array` like this (which I'm pretty sure is not the right way):
`render_serialized_array @matches, included: ['games', 'games.game_teams']`
thanks in advance :)

[2016-01-12 14:34] beauby commented on #1421
Could you post the result of `@app.organization.services`?

[2016-01-12 15:02] mepatterson commented on #1421
[code]

[2016-01-12 15:04] beauby commented on #1421
Could you provide your AMS, Rails, and ruby versions, as well as your model definitions?

[2016-01-12 15:21] mepatterson commented on #1421
active_model_serializers (0.10.0.rc3)
rails (4.2.4)
ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14]

[code]

[2016-01-12 15:40] beauby commented on #1421
Could you try with master instead of 0.10.0-rc3?

[2016-01-12 15:44] beauby commented on #772
Closing this as it seems to be fixed in master. Feel free to reopen if neede.

[2016-01-12 15:44] #772 closed

[2016-01-12 15:46] beauby commented on #779
Closing this as the following workaround seems acceptable:
[code]

[2016-01-12 15:46] #779 closed

[2016-01-12 21:56] matixmatix commented on #1027
@joaomdmoura any news on when we won't have to declare custom MIME type manually for when json_api adapter is selected?

[2016-01-12 22:36] matixmatix opened #1428 "Serializing resource errors using json_api adapter"
How to serialize model's errors in a way that conforms to [JSON API error response](http://jsonapi.org/examples/#error-objects-basics) spec when using json_api adapter? Is there a solution present for this or do I need to make my own custom errors serializer?

[2016-01-12 22:49] bf4 commented on #1428
There is a branch that's being refined that does that  https://github.com/rails-api/active_model_serializers/pull/1004

[2016-01-13 04:24] bf4 commented on #1027
@matixmatix right now that change would have to be in the Rails JSON Renderer, if I'm not mistaken. or do you mean something like https://github.com/rails-api/active_model_serializers/issues/1027#issuecomment-126543577

[2016-01-13 04:26] bf4 commented on #779
@beauby Nice job pointing out the splat `*`.  Vital Ruby syntax!

[2016-01-13 05:41] bf4 opened #1430 "Re-add Serializer#schema"
Was a nice feature in [0.8.x](https://github.com/rails-api/active_model_serializers/blob/0-8-stable/lib/active_model/serializer.rb#L164-L232) that could be useful with #1162 and #1270

[code]

[2016-01-13 16:21] bf4 opened #1433 "Fix docs for overriding attribute and association methods"
https://github.com/rails-api/active_model_serializers/blob/dde843d1627ad05c05ddd1c5239d9aaf86e26103/docs/general/serializers.md#overriding-association-methods

Now should be block format.  We don't use instance methods any more

[2016-01-13 16:22] beauby commented on #1433
:+1:

[2016-01-13 18:02] JahBrewski opened #1434 "Unable to use attributes adapter within controller"
I'm having trouble setting the attributes adapter for a particular controller.

For most of my controllers, I want to use the json adapter, so I have this line of code in my ams.rb initializer:
[code]

However, I don't want the root element in several of my controllers, so I am trying to use the attributes adapter like so:

[code]
And now I'm getting this error:

[code]

I am using:
[code]

[2016-01-13 19:47] bronson commented on #886
Curious, it looks like this won't be a part of 0.10 final?  Or has there been work on namespacing/versioning that hasn't been mentioned back here?

[2016-01-13 19:50] bf4 commented on #1434
I haven't confirmed this is tests, but do you perhaps have any inflections configured

[2016-01-13 19:56] JahBrewski commented on #1434
That did it! Awesome.

[2016-01-13 19:56] #1434 closed

[2016-01-13 22:41] bf4 commented on #1434
@JahBrewski and thanks for coming back, commenting, and closing the issue!

[2016-01-14 03:24] bf4 commented on #886
@bronson It could make it in :)  I haven't seen this issue. Lots of good discussion. cc @beauby and ref https://github.com/skalee/active_model_serializers-namespaces https://github.com/hookercookerman/active_model_version_serializers

[2016-01-14 09:00] beauby commented on #1430
:+1:

[2016-01-14 15:50] skalee commented on #886
@bronson If you don't mind reverting back to 0.8, then [my gem](https://github.com/skalee/active_model_serializers-namespaces) works out of the box.

On the other hand, the AMS' interface changed a lot between those versions. If it's an existing project, you may need to implement some controller method to bridge them both. I don't know if it'd be easy or not, it may be project-dependent.

@bf4 I n

[2016-01-16 17:28] NullVoxPopuli opened #1437 "There should be documentation on how best to verify controller responses"
For example, lets say I want to test my index action, it returns a list of items.
But instead of having to do:
[code]

it would be nice to have an easily navigable JSON API document object, maybe resulting in this kind of test assertion

[code]

So, I guess this issue may need to be broken in to two issues, but I'd like:
 - documentation on recommended ways to test serialized responses from contro

[2016-01-17 16:43] Masquetina opened #1438 "Errors after rails s"
Hi,

This is inside my config/json_api.rb:
ActiveModel::Serializer.config.adapter = ActiveModel::Serializer::Adapter::JsonApi

Problem is, when I run rails s, (after I installed active_model_serializer 0.10.0.rc3 of course), I get tons of errors, and can not get server to run. ... But sometimes, it just works... Most of the time it does not! Is there any rational explanation?
And important info is

[2016-01-18 02:36] natematykiewicz commented on #1438
What are the errors?

[2016-01-18 02:40] natematykiewicz commented on #1337
Did you have any thoughts on this @beauby?

[2016-01-18 03:14] natematykiewicz commented on #1437
I use RSpec and like to add this in my test environment:

[code]

Then I use `response.parsed_body` in my tests. I know it's not packed into AMS, but it definitely helps me.

I like to use request specs for the majority of my API testing, and then add some model tests for complex logic.

Ex:
[code]
(I have some shared_examples that help me cut down on some of that boilerplate.)

Writing the tests

[2016-01-18 04:39] MarkMurphy opened #1439 "How can I create the key "object" without conflicting with the internal object reference?"
Looking to generate the following:
[code]

[code]

[2016-01-18 04:49] MarkMurphy commented on #1439
Nevermind, I got it working on the [current master](https://github.com/rails-api/active_model_serializers/commit/f2d59b20caa52244f907aa607bf7d8827c46cb7f) instead of v0.10.0.rc3

I used the following:

[code]

[2016-01-18 04:49] #1439 closed

[2016-01-18 06:20] MarkMurphy opened #1440 "Custom (default) CollectionSerializer"
I'd like to configure a custom CollectionSerializer which would generate output similar to the following:

[code]
I know how to change the default collection serializer via the config settings in an initializer but I can't seem to get this output working. It continues to just output a basic array. I'm using [current master](https://github.com/rails-api/active_model_serializers/commit/f2d59b20caa52

[2016-01-18 12:27] NullVoxPopuli commented on #1437
I think I like the idea behind what you're doing there.
In addition,
maybe I could also make rspec matchers that would behave something like this:

[code]
or
[code]
that way, there is less hackery which in itself could be prone to error.

[2016-01-18 14:26] MarkMurphy opened #1441 "Common functionality between Serializer and CollectionSerializer"
It would be nice to have a shared api between `ActiveModel::Serializer` and `ActiveModel::Serializer::CollectionSerializer` (why not just `ActiveModel::CollectionSerializer`?) so that one could do something like this:

[code]

[code]

[code]

[2016-01-18 16:48] beauby commented on #1437
@NullVoxPopuli: IMO, the serializers should be tested separately (using `AMS::SerializableResource.new(post).serializable_hash` and testing the returned hash's equality against an expected hash), and integration tests should be done kinda the same way (i.e. testing equaity of the returned JSON document with a pre-established expected JSON document).

[2016-01-18 16:55] beauby commented on #1441
Interesting idea. In the current philosophy of AMS, what you're doing in your `ListSerializer` is arguably the adapter's job. Note also that the format you are describing is really close to that of [JSON API](http://jsonapi.org), for which there is almost full support in AMS.

[2016-01-18 17:01] NullVoxPopuli commented on #1437
So, @beauby are you saying the returned value from the controller should be tested against the value of the serialized result?

maybe something like:

[code]

and that matcher, would be the `SerializableResource.new(whatever_model).serializable_hash`

something like that?

how would you write a test for the create action?

[2016-01-18 17:12] beauby opened #1442 "[RFC] Automatic serializer lookup"
# TL;DR
What should be the lookup mechanism when inferring a serializer for a resource?
# Current situation
Work has been done to get us to a more flexible situation in this regard.
Currently, for a resource `CoolNamespace::CoolResource`, AMS will look for a `CoolResourceSerializer` in the following namespaces:
+ If it is being serialized as an association of some other resource using `OtherNamesp

[2016-01-18 17:14] beauby commented on #1437
I wouldn't rely on AMS to generate the expected output. I'd have a manually typed hash, which I'd compare against the parsed response document.

[2016-01-18 17:24] NullVoxPopuli commented on #1437
why is that? just if there is a bug in AMS it would go unnoticed by the tests?

any other way, I feel is kinda cumbersome

[2016-01-18 17:32] beauby commented on #1437
Because otherwise you're testing AMS's output against itself, which has very little value.

[2016-01-18 17:33] NullVoxPopuli commented on #1437
Well, it ensures that all the logic performed for the request has returned as expected. Like, there could be permissions or scopes involved, ya know?

[2016-01-18 17:37] beauby commented on #1442
(cc @bf4, @joaomdmoura)

[2016-01-18 17:46] MarkMurphy commented on #1441
@beauby Yeah, not a fan of jsonapi.org's proposal for several reasons but I'll save that rant for another time.

I think this idea would greatly simplify things for a lot of developers, although I admit I am lacking in depth experience/knowledge with AMS (mostly due to insufficient examples and documentation).

[2016-01-18 17:52] bf4 commented on #1442
Change to pr?

[2016-01-18 17:53] bf4 commented on #1442
Mention this is controller by global option or adapter:nil

[2016-01-18 17:56] bf4 commented on #1442
Mention 0.9 behavior w serializer_nanespace option to limit the cases ams had to handle. Could ve an option to serialization context

[2016-01-18 18:54] bf4 commented on #1437
Depends if it's a unit test or integration

[2016-01-18 18:56] bf4 commented on #1437
I have a pr to verify serialization that I'll make someday... Right now testing agajnst serializableresource should be good enough... I like to also write out serialization results to a fike and check for regressions

[2016-01-18 18:57] bf4 commented on #1437
Great issue! :100:

[2016-01-18 19:00] NullVoxPopuli commented on #1437
For my specific case, It's integration. I have all of my controllers as empty as possible, so I can unit test  smaller chunks of logic, via my skinny_controllers gem.

:-)

I was thinking about adding an rspec matcher addition, if that would be of interest -- though, @bf4, I'd like to know what you have planned for verifying serialization.

This is something that would make my life easier on my pr

[2016-01-18 19:10] natematykiewicz commented on #1437
Another good reason to test hash vs hash instead of by using the AMS code is, my tests won't have to change when AMS completely changes its syntax. AMS has gone through some hefty changes over the past few versions, so hash vs hash can remain constant when I go to update a "major" (0.x) version.

Another reason I like to avoid testing against the output of something like serializable resource is t

[2016-01-18 20:22] bf4 commented on #1437
I've left links around what rspec stuff I wrote back around rc1.  It should be adaptable to presenr patterns... Injust haven't done that yet

Re

Aren't those the conditions you are serializing with?

B mobile phone

[2016-01-19 00:42] bf4 commented on #1441
@markmurphy I'm going on vacation for a week and a half, and when I get back, I'd love to work with you on improving code and docs.  Have you read the Architecture doc or others?

[2016-01-19 01:44] natematykiewicz commented on #1437
That depends on some complex logic. ;)

[2016-01-19 01:53] natematykiewicz commented on #1442
I believe this is related to my ticket: #1337

I've had a use-case where I had `CoolNamespace::CoolResource` and the serializer I needed to use was `Api::V1::CoolNamespace::CoolResourceSerializer` because the request came from `Api::V1::CoolNamespaceController`. Furthermore, I wanted my resource to have a root_node of `cool_resource` instead of `cool_namespace/cool_resource`. I don't expect this t

[2016-01-19 02:10] natematykiewicz commented on #1440
Which adapter are you using currently? For this kind of structure, you'll need to write your own custom adapter. Unfortunately there's currently no documentation on creating a custom adapter. See #1317 for some details, though.

I will say, this looks similar to http://jsonapi.org. JSON API is supported using the `:json_api` adapter.

[2016-01-19 04:24] #1389 closed

[2016-01-19 15:20] beauby commented on #1442
@natematykiewicz It is indeed (and I haven't forgotted #1337, but thought I'd make an issue to broaden the scope a bit).
I agree that `Api::V1::CoolNamespace::CoolResourceSerializer` would make sense as well in many situations.

[2016-01-19 15:24] beauby commented on #1442
I just edited the issue to add your suggestion. If this RFC gets a bit of traction, I'll turn it into a PR so that everyone can chip in easily.

[2016-01-19 15:40] natematykiewicz commented on #1442
@beauby my app actually isn't `Api::V1::CoolResourceController#index` but instead `Api::V1::CoolNamespaceController#cool_resource`. We chose to make a controller per vendor. Though, I could see being more RESTful and making a `Api::V1::CoolNamespace::CoolResourceController` instead. The thing is, these vendors are not RESTful, and don't have many actions to them, so making a single controller for

[2016-01-19 15:46] beauby commented on #1442
@natematykiewicz I see. Note that in the scenario I described, it does not make a difference what your controller/action is called, since only its namespace is used.

[2016-01-19 15:56] natematykiewicz commented on #1442
Oh, right. 👍🏻

[2016-01-19 21:08] MarkMurphy commented on #1441
@bf4

Yes I have, I really didn't find them very helpful, my eyes sort of glazed over...

I've been looking through the repository's code over the last couple of days and I'm slowly beginning to wrap my head around how things are pieced together. However, the more I begin to understand the more  frustrated I become. It just shouldn't be this difficult for someone to customize a serializer any way

[2016-01-19 21:23] bf4 commented on #1441
Yeah, codebase has cruft... I wrote the architecture docs orginally as a comment explaining how the main objects and what the do... I'd love your input on how to make it more helpful.  We're all in this together:) clarifying the public interfaces is one of my goals

B mobile phone

[2016-01-19 21:40] beauby opened #1446 "Move ActiveModel::Serializer::Adapter to ActiveModelSerializers::Adapter"

[2016-01-19 21:59] beauby commented on #1400
@groyoh Should we close this now that #1406 has been merged?

[2016-01-20 00:32] beauby commented on #1342
Closing this as it seems to be solved. Feel free to reopen/keep commenting if needed.

[2016-01-20 00:32] #1342 closed

[2016-01-20 00:35] beauby commented on #1359
@blanchma `:user` and `:meeting` should not appear as attributes (and neither should `:meeting_id`, unless your API is designed that way for some legacy reasons).
Closing this as there has been no reply from op for almost 2 months. Feel free to reopen/keep commenting if you need further assistance.

[2016-01-20 00:35] #1359 closed

[2016-01-20 00:37] beauby commented on #1361
Closing this as there has been no reply from op in more than a month. Feel free to reopen/keep commenting should you need further assistance.

[2016-01-20 00:37] #1361 closed

[2016-01-20 00:39] beauby commented on #1261
Closing, as a fix has been merged in master. Could you confirm @ryedog ?

[2016-01-20 00:39] #1261 closed

[2016-01-20 00:39] beauby commented on #1245
Closing this, as #1403 has been merged.

[2016-01-20 00:39] #1245 closed

[2016-01-20 00:42] beauby commented on #1203
Closing this for now. Feel free to reopen/keep commenting if needed.

[2016-01-20 00:42] #1203 closed

[2016-01-20 00:42] beauby commented on #1240
What's the status on this one? (cc @bf4)

[2016-01-20 00:43] beauby commented on #1379
Closing this as there has been no reply from op for more than a month. Feel free to reopen/keep commenting should you need further assistance.

[2016-01-20 00:43] #1379 closed

[2016-01-20 06:03] joaomdmoura opened #1448 "Polymorphic association on JSON API"
When using JSON-API with polymorphic associations there is a strange behavior, instead of using the name of the resource it chooses to use the name assigned to the polymorphic relation.

This is not `wrong` :copyright:, but if you think about the most of JS clients frameworks around, it makes more sense to use the resource's name.

Here is as example to illustrate:

*model/address.rb*
[code]

*mod

[2016-01-20 07:19] #1400 closed

[2016-01-20 12:20] dkniffin opened #1451 "How do I configure the adapter?"
I tried adding this into `config/initializers/active_model_serializers.rb` (which is what the [the docs](https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md) say to do):

[code]

But now when I do `rails s`, I get:

[code]

Can someone please tell me how to configure AMS to use json_api?

[2016-01-20 12:21] #1451 closed

[2016-01-20 12:22] dkniffin commented on #1438
I'm having a similar issue.

I tried adding this into `config/initializers/active_model_serializers.rb` (which is what the [the docs](https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md) say to do):

[code]

But now when I do `rails s`, I get:

[code]

[2016-01-20 13:45] natematykiewicz commented on #1438
@dkniffin, which version of active_model_serializers are you using? Is it 0.10.0.rc3 as well?

[2016-01-20 14:08] dkniffin commented on #1438
Nope, mine is the current release version: 0.9.3

[2016-01-20 14:13] joaomdmoura commented on #1438
@dkniffin the 0.9.3 does not support `json-api` only the 0.10 RCs support it.
@Masquetina could you paste the Rails logo here or in a gist so that we can check the errors?

[2016-01-20 14:20] natematykiewicz commented on #1438
Also, @dkniffin 0.8, 0.9 and 0.10 are all pretty different. You'll want to make sure you look at the docs for the version you're using.

https://github.com/rails-api/active_model_serializers/blob/v0.9.3/README.md

[2016-01-20 14:20] dmons opened #1452 "JsonApi pagination gives wrong links under specific circumstances."
It's very easy to bring down a per_page count for JsonApi adaptor.
Used:
* ams from github/master(7bc66c53342540a5a6e9506abdbc04db0c2c966d)
* rails 4.2
* kaminari
* ruby 2.1.1

Steps to reproduce:

1. Configure **:json_api** adapter and use it with any serializer for collection which have enough items for couple pages
E.g. We have ```{@items.count}.to eq 10```

2. Having `page[:size]=4` we are goi

[2016-01-20 14:37] beauby commented on #1448
I agree. We might need a `polymorphic` relationship option as described in #1420.

[2016-01-20 14:43] beauby commented on #1451
`ActiveModelSerializer` should be `ActiveModelSerializers` (plural). Plus, this applies only if you're running master. Otherwise, you have to use `ActiveModel::Serializer.config`.

[2016-01-20 15:07] beauby commented on #1448
cf #1453

[2016-01-20 15:10] dkniffin commented on #1438
:+1: Switching to 0.10.0.rc3, and following the docs for it helped. I ended up needing `ActiveModel::Serializers.config.adapter = :json_api`

[2016-01-20 19:11] Masquetina commented on #1438
Exiting
/home/masquetina/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/active_model_serializers-0.10.0.rc3/lib/active_model/serializer.rb:152:in `read': no implicit conversion of nil into String (TypeError)
	from /home/masquetina/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/active_model_serializers-0.10.0.rc3/lib/active_model/serializer.rb:152:in `digest_caller_file'
	from /home/masquetina/.rbe

[2016-01-20 19:12] beauby commented on #1438
@Masquetina Could you try with master? I believe this is caused by your file's path having a space in it (`Završni rad/`), and was fixed post RC3.

[2016-01-20 19:15] joaomdmoura commented on #1448
Checked both! Nice!

[2016-01-20 22:33] beauby commented on #1446
(cc @bf4, @joaomdmoura)

[2016-01-20 23:16] bf4 commented on #1446
:)

B mobile phone

[2016-01-20 23:37] CedricLor commented on #706
Hello, I ran into the same issue. It was solved after restarting my server... if it may help anyone.

[2016-01-21 02:58] beauby commented on #834
ref #1454

[2016-01-21 03:03] beauby commented on #1235
ref #1454

[2016-01-21 10:48] edwinlunando opened #1455 "Specify Serializer For Nested Model For JSON Adapter"
So, my model is `Story` has many `Moment`. `Moment` belongs to `Formula`. When I create `StorySerializer`.

[code]
and `MomentSerializer`
[code]

This the `StoriesController`
[code]

The moment object is not outputting any of the `Formula` object like this.
[code]

If I change the `MomentSerializer` into

[code]

It print the `Formula` but not using the appropriate serializer. I'm using the JSON a

[2016-01-21 14:40] Masquetina commented on #1438
@beauby Yes, that is it! Thank You!

[2016-01-21 14:47] beauby commented on #1455
The Json adapter by default only includes one level of associations. Try `render json: Story.all, include: '*.*'` to include 2 levels.

[2016-01-21 17:02] beauby commented on #1452
This seems right indeed. Would you mind issuing a PR @dmons?

[2016-01-22 03:05] edwinlunando commented on #1455
Still not outputting the `Formula` object. I used `0.10.0.rc3` version.

[2016-01-22 06:13] edwinlunando opened #1456 "Options Variable is not defined"
I'm using the master branch of this Gem, but I cannot use the `options` on the serializer. This is the serializer. It says `undefined local variable or method 'options' for #<FormulaSimpleSerializer:0x007fbbce312bd0>`

[code]

This is the render code.

[code]

When I'm using the `0.10` version, it works well.

[2016-01-22 16:32] beauby commented on #1456
`options` has been renamed `instance_options` post RC3.

[2016-01-22 16:41] jordonbiondo commented on #1422
#1454

[2016-01-22 17:08] bdmac commented on #1442
I _think_ the line mentioning "_all_ of the calling controller's prefix namespaces" addresses my use-case in #1338. Just to bring that inline here:

#1338 adds support for modifying the lookup chain for a serializer's relationships based on its own namespace. Concretely, given:
[code]
we will wind up with the following items in the lookup chain for an
author when serializing a Post with Public::V1

[2016-01-22 17:34] bdmac opened #1457 "Fragment Caching + ActiveModel::Serializer::Type"
I am using the `type` class method provided by `ActiveModel::Serializer::Type` to override the type for a certain serializer. This works fine with normal AMS caching. As soon as I add the `except` keyword on my cache call (triggering Fragment Caching), the class-level type setting in my serializer gets ignored and it reverts to inferring the type from the serialized object's class.

This does not

[2016-01-22 17:39] bdmac commented on #1457
I believe I could fix this by modifying FragmentCache around L#97 to be:
[code]
The first line is already there to proxy forward the _cache_options but that is the only internal setting that is handled. I also see a few other possible problems similar to `type` that use `serializer.class_attribute`:

- _reflections
- _attributes_data
- _links

[2016-01-22 17:41] bdmac commented on #1457
Do not see a clean way to ensure that any serializer DSL settings such as `type` are brought forward in FragmentCache since none of them are setting any kind of common structure. If they were all being merged into something like `dsl_options` or whatever then we could set that on the cached serializer in FragmentCache.

[2016-01-22 17:58] #1456 closed

[2016-01-22 17:59] bdmac commented on #1457
Actually the above almost works but not quite because I guess we wind up using `deep_merge` which is order dependent as to which hash's values win. Options seem to be either set it on both the cached and non-cached serializers OR only set it on the non-cached serializer which feels arbitrary.

[2016-01-22 18:01] beauby commented on #1455
@edwinlunando Have you tried `master`?

[2016-01-22 18:15] bdmac commented on #1457
Another, perhaps more "correct" solution is to have the dynamic cached/non-cached classes that FragmentCache creates be based on the serializer being cached instead of just "ActiveModel::Serializer". This would remove the need to copy any of the class variables over like we are doing today.
[code]
becomes
[code]
I don't see a any immediate drawback to this and it seems more correct. This would rem

[2016-01-22 18:22] natematykiewicz commented on #1442
@bdmac++ Sibling lookup is actually something I would love to see as well (#1337), though your PR seems to cover even more cases that I hadn't thought of.

[2016-01-22 19:32] bdmac commented on #1457
I have a fix for this in #1458

[2016-01-22 23:39] tilo commented on #582
for an API it would be great if there was support built-in to AMS to display times in UNIX format, either as decimals or floats

[2016-01-23 18:43] NullVoxPopuli opened #1460 "Is there a way to pass values to a relationship?"
For example, I have this:

   has_many :ticket_purchasers, each_serializer: RaffleTicketPurchaserSerializer

in a raffle serializer.

ticket_purchasers returns a list of Attendances (Buyers).

my RaffleTicketPurchaserSerializer looks like this:

[code]

In order to get the number of tickets purchased, I need the raffle Id -- So I'm wondering if there is a way to pass that to the relationship defin

[2016-01-24 01:37] NullVoxPopuli commented on #1460
Ok, here is what I ended up doing... though, I'm not happy with it. :-(

[code]

[code]

I have yet to find a way to aggregate data among rails models... so.. if anyone has any tips, they'd be much appreciated.

[2016-01-24 01:37] NullVoxPopuli commented on #1460
I'm gonna close this issue as it doesn't really have to do with AMS in anyway, but rather aggregation technique.

[2016-01-24 01:37] #1460 closed

[2016-01-24 02:26] NullVoxPopuli opened #1461 "undefined method `_cache' for NilClass:Class in cached_serializer.rb:23:in `cached?'"
This happens when rendering a namespaced model from the controller.
Using `master`'s code as of the time of writing this issue (`8981683b9fa8d0bcff0e76b3702d699689b787b4`). (though, this happened with `efe5128a2e6b8578d81bc7a807ace427c0b4d847` as well.

[code]

in the log of my test, it shows:

[code]

I'm gonna see if I can replicate this in a branch.

[2016-01-24 04:21] NullVoxPopuli commented on #1461
I haven't gotten anywhere, but I found a more specific area where the error is happening:
[code]

json.to_json throws the error.

json is an ActiveModel::SerializableResource

[2016-01-24 04:24] NullVoxPopuli commented on #1461
the last line from AMS is in serialization.rb at:

[code]

at the bottom of the file

[2016-01-24 04:45] NullVoxPopuli commented on #1461
gonna close this, as it appears to have been an issue with my test

[code]

[2016-01-24 04:45] #1461 closed

[2016-01-24 14:12] olegantonyan opened #1463 "Namespacing serializers as namespaced models gives undefined method `all'"
0.9.4, rails 4.2.5, ruby 2.3.0, linux

I have 2 models
[code]
And I want to put their serializers accordingly:
[code]
But this causes error
[code]
I found discussions/prs about namespacing (#1196, #879), but none of them related to this particular case.

[2016-01-24 16:43] vanboom opened #1464 "Rendering via controller is not working"
I have implemented a serializer and controller method exactly like the documentation with the `master` branch version of the gem...

[code]

Instead of the serializer version of the json,  the controller is returning the same data as `@post.as_json` and does not appear to be using the serializer.  Is something missing from the docs?

[2016-01-24 16:44] vanboom commented on #1464
UPDATE:  I upgraded Rails to 4.1.8 from 4.1.0 and everything is working now!

[2016-01-24 16:44] #1464 closed

[2016-01-24 20:42] andrewhamon opened #1465 "Breaks Rails model generator"
Just by having `gem 'active_model_serializers', github: 'rails-api/active_model_serializers'` in my Gemfile, running `rails g model foobar` simply does nothing and returns immediately.

##### Version (from Gemfile.lock)

[code]

##### Operating system
OSX El Capitan

##### Ruby manager
chruby

##### Ruby version
`ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]`

##### Steps to reproduce

[2016-01-24 20:55] beauby commented on #1463
Could you provide a full stacktrace?

[2016-01-24 21:00] #1433 closed

[2016-01-24 21:17] beauby commented on #1457
Thanks for looking into this @bdmac. I believe caching is indeed not in sync with the latest features added to AMS. I'm a bit busy currently but just wanted to let you know that I'll review #1458 asap.

[2016-01-24 21:21] beauby commented on #1448
What happens when the `addressable` association is `nil`? What name should we give it?
What happens with heterogeneous `has_many` polymorphic associations?

[2016-01-24 21:25] #1438 closed

[2016-01-24 21:26] #1422 closed

[2016-01-24 21:29] beauby commented on #1325
@richmolj There's a PR in the pipe (#1454) that supports relationship-level links (as well as skipping the `data` attribute of a relationship, which avoids hitting the DB).

[2016-01-24 21:31] richmolj commented on #1325
Looks like that will solve my problem :+1:

[2016-01-24 23:00] beauby commented on #1442
Updated my initial post with a proposed mechanism (taking into account the recommendations of those who chipped in), and updated #1436 to implement such mechanism.

[2016-01-25 03:09] edwinlunando commented on #1455
Yes, I tried master and it works! Thanks!

[2016-01-25 03:13] edwinlunando opened #1466 "Pagination Link Do Not Outputted on JSON"
Hi, I'm using `master` branch and `JSON` adapter. I want to show pagination links, this is my pagination serializer.

[code]

This is my render code

[code]

There no `meta` key on the result. This happens after upgrading from 0.10.RC3 to master. Any idea?

[2016-01-25 05:45] olegantonyan commented on #1463
Stacktrace:
[code]

And code looks like this
[code]

[2016-01-25 05:57] #1455 closed

[2016-01-25 06:04] olegantonyan commented on #1463
I found what's wrong. It's not AMS fault. `Device.all` in controller confuses model `Device` with module aka namespace for serializer `Api::V1::Device`.

To workaround this I have to specify top-level namespace for model `::Device.all`. Ugly and may be confusing. Is there a better solution?

[2016-01-25 06:22] edwinlunando commented on #1466
I tried to dig the old `ArraySerializer`

[code]

and compare it to the new `CollectionSerializer`

[code]

Why there is no `meta` declaration? Is this expected? What I must to do in order to add pagination links?

[2016-01-25 06:34] edwinlunando commented on #1466
Come to this rendering page, does it means we cannot use something like `PaginationSerializer` anymore? Do we need to explicitly put it in `render` method?

[2016-01-25 06:49] edwinlunando commented on #1466
Come to this [pull request](https://github.com/rails-api/active_model_serializers/pull/1233), seems the  pagination documentation on `master` branch is no longer valid. I can make a PR if you want to fix the docs?

[2016-01-25 07:14] anonova commented on #1465
Did a bisect, and the offending commit is 8981683b9fa8d0bcff0e76b3702d699689b787b4. cc @dgynn @bf4

[2016-01-25 07:52] beauby commented on #1465
Thanks for the investigation guys! @bf4 won't be around until next week I believe.
@dgynn: Would you mind investigating the cause?

[2016-01-25 07:53] beauby commented on #1466
@edwinlunando Yes, a docs PR would be great!

[2016-01-25 16:46] bdmac commented on #1442
@beauby correct me if I'm wrong but the proposal still seems to rely on the controller's namespace instead of the serializer's own namespace. Also it does not sound like sibling lookups are handled when serializing an association.

The last part of your proposal says
[code]
and I would expect this instead:
[code]
My request/proposal also accounts for walking further up the namespaces.

[2016-01-25 17:16] dgynn commented on #1465
Yes. I've found the problem and I'm testing a fix now. Thanks for finding that @andrewhamon and @anonova.

[2016-01-25 21:26] kurko opened #1468 "Release 0.9.4"
I talked to @bf4 about releasing 0.9.4.

@bf4 can you link here what issues are pending for a new release so we can track it in one place?

[2016-01-25 21:54] karellm commented on #1411
@bf4 I'm having the same issue. As much as I understand what supporting OS means (I do too), I have to say that the `CONTRIBUTING.md` is likely the most off putting I've seen. I will try to offer steps to reproduce but won't spend 30+mn reading this enormous list of contribution requirements and answer them all. It is likely overkill anyway.

Back to the matter, here is how we serialize record or

[2016-01-25 22:37] beauby commented on #1468
:+1:

[2016-01-26 02:40] bf4 commented on #1468
Already released, https://rubygems.org/gems/active_model_serializers/versions/0.9.4 just didn't update the changelog on master yet

[2016-01-26 02:40] #1468 closed

[2016-01-26 02:42] bf4 commented on #1468
(It *is* updated on 0-9-stable https://github.com/rails-api/active_model_serializers/blob/0-9-stable/CHANGELOG.md )

[2016-01-26 16:10] DrSayre opened #1469 "Setting fields with a parameter using JSON API"
I am trying to pass a fields parameter in my request.  It works fine if I do this:
[code]
I get only the id on authors and title for posts, but if I have this:
[code]
_http://localhost:3000/authors?include=posts&fields[authors]=id&fields[posts]=title_ will return all attributes on authors and posts.  I would expect I would get the same thing as I did in my first example.

Here is my models:
[code]

[2016-01-26 17:16] #1465 closed

[2016-01-26 17:18] beauby commented on #1469
Try `params[:fields] = params[:fields].map { |rel, fields| { rel => fields.split(',').map(&:to_sym) }.reduce({}, :merge)`.

[2016-01-26 17:25] pasku commented on #1421
Any updated on this?

[2016-01-26 17:26] beauby commented on #1421
@pasku Awaiting submitter's response.

[2016-01-26 17:26] mepatterson commented on #1421
Hi, sorry… i haven’t had a chance to test yet. been pulled away on other things. will try to get to it soon.

On January 26, 2016 at 11:26:01 AM, Guillermo Pascual (notifications@github.com) wrote:

Any updated on this?

—
Reply to this email directly or view it on GitHub.

[2016-01-26 18:13] DrSayre commented on #1469
@beauby did you forget a } in that? I put it at the end and got this error:
[code]

[2016-01-26 18:44] beauby commented on #1469
Yeah I did. I just edited my answer.

[2016-01-26 18:46] beauby commented on #1469
You probably need to call `to_unsafe_hash` on `params[:fields]` though, as it does not inherit from Hash anymore.

[2016-01-26 19:18] DrSayre commented on #1469
Excellent, thanks @beauby!

[2016-01-26 19:18] #1469 closed

[2016-01-26 20:04] alexperezpaya commented on #1421
class ApplicationSerializer < ActiveModel::Serializer
  def self.has_one_included(*atts)
    atts.each do |att|
      attribute(att) do
        ActiveModel::SerializableResource.new(object.send(att))
      end
    end
  end
end

This is our current approach for solving this. cc// @pasku

[2016-01-27 00:32] bf4 commented on #1421
Would you mind adding some more information per the CONTRIBUTING?  I'm not sure if this is a bug or feature request.

Thanks for writing!

B mobile phone

[2016-01-27 14:14] Mohakjuneja commented on #1022
AMS won't work with my mongoid models. I'm using the version 0.9.3. Is there any configuration that I'm supposed to add in order to make it work?

[2016-01-27 16:09] Mohakjuneja commented on #469
Hey Mankind! I'm using version 0.9.3 of ams but my universities controller still returns all the attributes inspite of specifying them in the UniversitySerializer class. The intializer is somewhat working because the document ids are returned as "_id" : "3453458349583495". What am I missing? Can you please help?

[2016-01-27 16:40] joaomdmoura commented on #1022
Hey @Mohakjuneja, the older versions are not as much coupled to AR as the new ones, something the some ppl usually did when using the older versions like 0.9.3 to make it work was creating a new initializer with the following:

[code]

I'm not sure if it woks, but you can open a new issue for that and let us know about you progress on this and how we can help you.

[2016-01-27 21:29] chrise86 commented on #573
This also seems to be an issue on 0.10.0.rc3

[2016-01-27 22:17] rubydev opened #1470 "Rspec tests & assert_response_schema"
Is possible use this method "assert_response_schema" for rspec? Or how can I test schema with rspec? Thanks for answer!

[2016-01-28 02:57] bf4 commented on #1470
@rubydev I'm not sure where to implement that right now.  I'd be up for creating an rspec-active_model_serializers repo in the rails-api org.  I'd help write it, too.  Cc @rails-api/ams