[2016-05-02 18:21] willcosgrove commented on #1554
Hey, sorry to reopen this issue. I've gotten a chance to play around with the stuff added in #1633 and it looks great, but I can't find a way to set the instance options of the serializer.  I can set the reflection options, but those don't get copied over to the instance options of the serializer.

[code]
Source: [`reflection.rb:137-144`](https://github.com/rails-api/active_model_serializers/blob/

[2016-05-03 10:14] groyoh commented on #1713
@hbarrington please have a look at https://gist.github.com/groyoh/01b218e9e1f4a1af6fc7b700de17cd3e. It seems to work fine.

In your example, we can see `number_of_children: 0`, maybe that's the issue?

[2016-05-04 00:58] hbarrington commented on #1713
@groyoh thanks for the in depth example! You were right it worked correctly.

I was including the relationship `scheduled_children` rather than the key name in the serializer `children`

I assumed that in the render statement using include would need the name of the relationship. Is it a bug that using the json-api adapter gives the same result whether I do `include: ["scheduled_children"]` (the r

[2016-05-04 01:43] beauby commented on #1713
Oh, I get it now, the problem came from the fact that you were aliasing the relationship (with the `key:` option), and the `include` logic checks for the keys, not the attribute name (which are the same when no `key:` option is provided). The reason behind that is that `include` which comes from the JSON API spec, can be a query parameter, hence it makes sense to `include` with the relationship na

[2016-05-04 01:43] #1713 closed

[2016-05-04 03:05] hbarrington commented on #1713
@beauby thanks for the help and the explanation to boot 👍

[2016-05-04 05:16] prusswan commented on #886
Currently the non-namespaced (or "default") serializer is prioritized ahead of the namespaced serializer, making it rather unintuitive (the namespaced serializers need to be referenced explicitly all the time).

[2016-05-04 05:38] prusswan commented on #1442
For `CoolResource` not under any specific namespace (since it is the same model), should the lookup take  the namespace(s) of the controllers into account? Like `Api::CoolResourceController` should look for `Api::CoolResourceSerializer` ahead of `CoolResourceSerializer`. I know this is not how it works right now, but I might not want to create `Api::CoolResource` if there is no need for it.

[2016-05-04 14:27] cgmckeever opened #1717 "Nested Associations and type declarations in Polymorphic serializations 0.10+ (latest)"
#### Expected behavior vs actual behavior

The polymorphic test of the master branch leads me to a bit of confusion with the expected behavior of the returned serialization.  Expected, from the example, I would think that imageable would identify the type and then there would be a lower association of 'employee' with the employee data

https://github.com/rails-api/active_model_serializers/blob/db8

[2016-05-04 14:45] cgmckeever commented on #1717
here is one earlier reference to the nested types  .. It wasnt the very direct one that had a good conversation around it - still looking for that

[code]

https://github.com/emberjs/data/issues/1574

[2016-05-05 18:28] cgmckeever commented on #1717
It appears that @marcgarreau has gotten the polymorphic relation to properly give the data (as Im desiring).  Hoping this bat signal can bring him out for a little lend-of-hand to help me get my payload like that 👍

[code]

https://github.com/rails-api/active_model_serializers/pull/1420#issuecomment-170284925

[2016-05-05 18:35] natematykiewicz commented on #1442
I don't know what others think, but it makes sense to me that the lookup chain would include `['Api::CoolResourceSerializer', 'CoolResourceSerializer']` (in that order).

[2016-05-05 22:29] cgmckeever commented on #1448
Realize this is closed, but I am fighting a similar issue around the naming of polymorphic associations.  No offense @joaomdmoura, but I feel the way the json-api is set up is correct.  There may be multiple of those polymorphs, so nesting them under 'addressable' and then defining what type it is gives the flexibility needed.

It appears that this behavior stopped happening for the JSON adapter c

[2016-05-06 16:41] cgmckeever commented on #1717
Conversed via @remear via Slack@help on this.  It appears that this is the expected/intended behavior, but may not be the long term desire.  He is looping back with @beauby on the direction/decisions of polymorphs.  Ill dig in and try to make a PR for some type/nested handling

[2016-05-07 16:56] KevinColemanInc opened #1719 "Dynamic serializer selection"
Currently the serializer param on `has_x` takes an object.

It would be cool if it could accept a method name as well.

Use case:

Dynamically setting the serializer for polymorphic relationships:

    has_one :user, polymorphic: true, serializer: :serializer_picker

    def serializer_picker
       if user.class == 'Admin'
         SparseAdminSerializer
       end
     end

[2016-05-08 00:33] cgmckeever commented on #1719
cant you just do this as an attribute then and make a method for said attribute?

[code]

[2016-05-10 10:23] wilder-misfit opened #1721 "Useless and error code logic which leads to bad performance"
#### Steps to reproduce
Please add the following test case to active_record_test.rb
def test_cache
      first_comment = Comment.new(id: 1, content: 'ZOMG A COMMENT')
      comment_first_serializer = CommentSerializer.new(first_comment)
      x = comment_first_serializer.as_json
      sec_comment = Comment.new(id: 2, content: 'ZOMG B COMMENT')
      comment_sec_serializer = CommentSerializer.new(s

[2016-05-11 05:33] gabrieltong commented on #197
+1

[2016-05-11 10:46] mitjok opened #1724 "Question: the best way to serialize a model with 2 nested has_many (:through) associations with attributes of the associations. V: 0.10.x I: Question R: Not a bug"
**Question**: what is the best way to serialize a model with 2 nested has_many (:through) associations so that resulting :api_json included some of the attributes of the nested associations.

**Background**
[code]

[code]

**Question explanation**: I need resulting Vendor json to include Service#name and Vendor -> Service json to include Item#name. In another words I'd like to have Item#name prope

[2016-05-12 11:12] KevinColemanInc commented on #1719
@cgmckeever true, but I want to specify the serializer of the thing that spawned. For my particular use case, I am have a model called "Notifications"  It has a `source_obj` polymorphic relationship on it such that many different models can be a `source_obj`.

The default model's serializer is often too big for what I want.  So I want to the source_obj to have use special "sparse" serializers for

[2016-05-12 15:40] groyoh commented on #1719
@KevinColemanInc use this:

[code]

[2016-05-12 16:01] cgmckeever commented on #1719
@groyoh NICE!

[2016-05-13 06:50] KevinColemanInc commented on #1719
Cool! I will use that.  I was hoping to be able to something like this:

[2016-05-13 06:50] #1719 closed

[2016-05-15 04:58] chrisdpeters opened #1725 "JSON API adapter's "include" option not translating dasherized keys to underscored"
#### Expected behavior vs actual behavior

If I run a URL like this against my API with a dasherized key in the `include` param:

[code]

[2016-05-15 08:10] mkaravaev commented on #1578
I want to make test on this issue should I put it in `test/serializers/meta_test.rb`, or create other file?

[2016-05-16 01:29] AmrN opened #1727 "Including nested associations not working when using the "key" option"
#### Steps to reproduce
If I have the following models
[code]
Now everything works fine if I try to include the nested association `posts.comments` like so:
`render json: @user, include: "posts.comments"`
but if I want to rename the key of the association in the json output by using the `key` option:
[code]
Now the nested association isn't included in the output. Am I missing something?

I'm using

[2016-05-16 03:35] beauby commented on #1727
The filtering is happening on the keys, not on the relationship names. In your case, use `include: "posts.reviews"`.

[2016-05-16 04:03] AmrN commented on #1727
Hi beauby, I've tried that and unfortunately results are the same. The only thing that seems to work for me is `"posts.*"`

[2016-05-16 04:59] AmrN commented on #1727
hmm, the key needs be a symbol not a string...I didn't think about it because including nested associations was the only problem, otherwise it was working fine.
[code]
it works fine this way.

[2016-05-16 07:51] beauby commented on #1719
We should document this. PR anyone?

[2016-05-17 07:15] Mohakjuneja opened #1731 "Cache key 'except' option overriding conditional attributes"
I was working with the master branch when I came across this issue.

#### Expected behavior
The preview attribute is a private amazon S3 URL that should only be rendered in the preview action. Using conditional attributes, I have defined it to be rendered when the `instance_option[:preview]` is true. I do not want cache it since it's an expirable url

#### Actual Behaviour
 The conditional attribu

[2016-05-17 14:33] bf4 commented on #1731
You might want to implement fragment caching by composing multiple serializers. At this time, it appears to be a performance hit, anyhow.  As a maintainer, that's a bit uncomfortable to say, but that's the state of things right now.

When responding, would you mind sharing your ref from your Gemfile.lock?  this might do it `bundle show active_model_serializers | ruby -p -e 'sub(/\A.*active_model_s

[2016-05-17 15:18] Mohakjuneja commented on #1731
Here you go-
070d58eacf86
So do you recommend not caching serializers all together using the master branch or just not fragment caching? I was so looking forward to this :(

[2016-05-18 12:47] icco opened #1735 "Root no longer works?"
#### Expected behavior vs actual behavior

I have a very simple serializer:

[code]

Which works great in 0.9, but in 0.10 fails with:

[code]

#### Steps to reproduce

Above, but actual code is at https://github.com/icco/inspiration/blob/master/lib/cache_db.rb#L330

#### Environment

active_model_serializers (0.10.0)

[code]

[2016-05-18 13:37] JamesChevalier commented on #1667
The released version of 0.10.0 does not resolve this issue.

[2016-05-18 13:40] NullVoxPopuli commented on #1667
@JamesChevalier, please take a look at this repo: https://github.com/NullVoxPopuli/aeonvera
specifically: https://github.com/NullVoxPopuli/aeonvera/tree/master/app/controllers/api/users

I have AMS + super basic token auth working with devise.

[2016-05-18 13:41] JamesChevalier commented on #1667
Thanks, @NullVoxPopuli but the issue is between active_model_serializers & devise_token_auth.

[2016-05-18 13:43] NullVoxPopuli commented on #1667
Do you *need* devise_token_auth? Devise token auth doesn't provide much and it seems like it's just preventing you from upgrading AMS

[2016-05-18 14:07] bf4 commented on #1667
I'm not sure what else we can do-- we've all put time into it-- without prioritizing this over features or performance or bugs with failing testa

B mobile phone

[2016-05-18 14:16] remear commented on #1735
As noted in https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md

It sounds like you might want to use, or continue using, the `attributes` adapter and remove `root false` from your serializer.

[2016-05-18 14:24] JamesChevalier commented on #1667
I have another update... The short version is that this actually **is** working as expected with the latest 0.10.0 version.

The longer version is:

I read back through the issue, and I was reminded that there's unreleased devise_token_auth code. I decided to try out the latest AMS against different DTA git refs to see if I could get a functional environment that way...

I tried the latest commit

[2016-05-18 14:25] NullVoxPopuli commented on #1667
glad it works now!!! yay!!! :100:

[2016-05-18 14:25] #1667 closed

[2016-05-18 14:29] bf4 commented on #1667
So much awesome that you shared this back!

B mobile phone

[2016-05-18 15:14] bf4 commented on #1735
I'm going to close this since the reason it doesn't work is because it's not a supported feature. However, if you'd like to make a PR adding a mixin that people upgrading from version 9 can use for easier upgrades, I would probably merge that!

[2016-05-18 15:14] #1735 closed

[2016-05-18 15:14] bf4 commented on #1735
(To clarify, what @remear wrote will help you with your issue https://github.com/rails-api/active_model_serializers/issues/1735#issuecomment-220039730 )

[2016-05-18 16:13] JamesChevalier commented on #1667
I spoke too soon. With active_model_serializers version 0.10.0, the API response body is correct but the headers lack the `access-token` and have an incorrect `client` value.

The only other difference that I've spotted so far is that v0.10.0 includes `[active_model_serializers] Rendered ActiveModel::Serializer::Null with Hash (0.29ms)` in the Rails log, and 0.10.0.rc4 does not. This does not seem

[2016-05-18 17:00] NullVoxPopuli commented on #1667
are you wanting the access token to be included in every response? or every request?
for token auth, you don't need to return tokens in the headers (they are only needed in requests)

[2016-05-18 17:02] hickscorp opened #1737 "Getting PORO serialization to work with classes we don't have control over."
I'm trying to give another try at AMS. This issue might be a follow up on #1521. We're still usung `0.10rc3`.

We're hitting an API via an `ActiveResource` based gem we don't own. When we get results (Basically a collection of `ActiveResource::Base` derivates), we would like to be able to serialize them, so we could filter and remodel some fields.

For the sake of this explaination, let's say the

[2016-05-18 19:02] JamesChevalier commented on #1667
Yeah `access-token`, `client`, `expiry`, `token-type`, and `uid` are all sent back & forth in each request.

There are two places in the docs that mention this behavior:

- The [Token Header Format](https://github.com/lynndylanhurley/devise_token_auth#token-header-format) section includes a line, "The authentication headers required for each request will be available in the response from the previ

[2016-05-18 19:28] NullVoxPopuli commented on #1667
have you thought about using JWT? it sounds like you may want to use that? along with knock? https://github.com/nsarno/knock

[2016-05-18 19:38] bughit opened #1738 "0.8.0: specifying custom attribute type does not work"
In the following docs example :string turns into a key in the serialized hash
Specifying the type is seemingly pointless even if it worked, what's it for?
____________________
The type of a computed attribute (like :full_name above) is not easily calculated without some sophisticated static code analysis. To specify the type of a computed attribute:

class PersonSerializer < ActiveModel::Serialize

[2016-05-18 22:22] EJIqpEP opened #1739 "How can I return relationships pagination in serializer?"
Hello guys. I want to implement pagination in relationships but I didn't found any examples. Is it possible at all?
The url looks like this
/api/users/1/comments?page=1

The response is the single user with relationships
[code]

[2016-05-19 00:42] remear commented on #1737
Have you worked through https://github.com/rails-api/active_model_serializers/blob/master/docs/general/rendering.md#serializing-non-activerecord-objects?

[2016-05-19 01:25] andrewhavens opened #1740 "Problem with serializing "included" array when the same model uses two different serializers"
#### Background

I have an application that uses the JSON API format with an endpoint that returns a polymorphic collection. Some of the records in the collection have relationships to the same records, but each use a different serializer in order to reduce the payload to the bare minimum that is needed.

#### Actual Behavior
When the serializer adds the record to the `included` array, it seems th

[2016-05-19 01:29] cgmckeever commented on #1740
@andrewhavens when you define the relationship in the serializer, make sure to add polymorphic: true (that will allow the nested relationships), and then if you want infinite traversal, include: '*.*'

Check out this test which seems to do (not as deep) what you are looking for?
https://github.com/rails-api/active_model_serializers/blob/660e982c7272e24cc7d11183b208dbda8bd9d91c/test/adapter/polymor

[2016-05-19 01:30] cgmckeever commented on #1740
or crap @andrewhavens I just realized you are using ``json_api`` which that example does not apply to.

[2016-05-19 10:23] beauby commented on #1737
You could either monkey-patch the foreign class in an initializer, adding the methods required by AMS, or you could use a decorator class.

[2016-05-19 14:55] u007 opened #1742 "feature: support for cancancan"
#### Expected behavior vs actual behavior

anyway to pass in current_user, or current_ability from cancancan gem to determine the serialisable attributes?

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

maybe:
options = {  ability: current_ability }
serialization = ActiveModelSerializers::SerializableResource.new(resource, options)

[2016-05-19 14:57] cgmckeever commented on #1742
@u007 this PR surprised me with the ability of getting the controller current_user
https://github.com/rails-api/active_model_serializers/pull/1734

Maybe it will lead you down the path you need?

[2016-05-19 15:00] u007 commented on #1742
@cgmckeever nice :)
when will this be main stream?

[2016-05-19 15:01] bf4 commented on #1742
this is already present https://github.com/rails-api/active_model_serializers/blob/db87f8d85e7a46ef195a555cb7e2509f1affc622/docs/general/serializers.md#scope as serialization scope, no?

[2016-05-19 15:02] cgmckeever commented on #1742
I think it is already in the 0.10 branch.  Which version are you using?

[2016-05-19 15:02] bf4 commented on #1742
Or just https://github.com/rails-api/active_model_serializers/blob/db87f8d85e7a46ef195a555cb7e2509f1affc622/docs/howto/passing_arbitrary_options.md#passing-arbitrary-options-to-a-serializer

[2016-05-19 15:03] u007 commented on #1742
nice, ive 0.10 :)

[2016-05-19 15:03] #1742 closed

[2016-05-19 19:27] dgdosen commented on #1735
hmm - I'm still getting a root when I use the json adapter...  is this in the main branch yet?

[2016-05-19 21:53] nicklandgrebe opened #1743 "Overriding serializer lookup when rendering"
#### Expected behavior vs actual behavior

Expected: I define `resource.serializer_class`, and this allows me to customize the serializer for a given class, and have that serializer be used as `:each_serializer` when serializing a collection of records of that class.

Actual: I define `resource.serializer_class`, and that serializer is used both when serializing a singular instance of that class,

[2016-05-19 21:55] #1743 closed

[2016-05-19 21:56] nicklandgrebe commented on #1743
I believe I can accomplish this by just using `:serializer` and doing the lookup myself before the render.

[2016-05-19 22:10] #1659 closed

[2016-05-19 22:11] #1691 closed

[2016-05-20 03:40] dgdosen commented on #1735
In reading the documentation, I read there being two adapters (json and json_api).  I didn't realize there was a 3rd adapter (attributes).  I thought the use of attributes was describing how the json adapter worked... My mistake in reading that...

[2016-05-20 18:06] beauby commented on #1740
The quick answer is: with the `JsonApi` adapter, you should only use one serializer per resource, and tailor it down with the `fields` adapter option and/or conditional attributes/relationships.
Due to the nature of JSON API serialization (flattening of the data graph, hence no duplicates), each resource can be serialized only once, even if it is referenced many times. Supporting your use-case wou

[2016-05-20 18:06] #1740 closed

[2016-05-20 20:19] vasilakisfil commented on #1027
@bf4 could you elaborate ? Could you give a dirty solution ?

I use 0.10.0.rc5 with JSONAPI and I had the same issue. It can be VERY furstrating I thing I am lucky that I found this issue in the first 30 mins. What it needs to be done so that users don't have this issue ?

[2016-05-20 21:15] #1717 closed

[2016-05-20 22:54] bf4 commented on #1027
ActiveSupport.on_load :action_controller do
  require 'active_model_serializers/register_jsonapi_some.....
End

Sorry, on phone

If you can make a pr summarizing what brought you here and what the solution is, that would be great.

Maybe see http://www.benjaminfleischer.com/journey-of-a-media-type-in-rails-part-1 re content negotiation

B mobile phone

[2016-05-21 03:57] KendallPark commented on #1442
I'm running into the automatic lookup issue as well.

I have a `Api::V1::CoolResourceSerializer` and a `Api::V1::CoolResourceController` but the resource is a plain old `CoolResource`.

[2016-05-21 10:56] mohsenjalalian opened #1744 "customize activemodel serializers error codes"
Hi . I use ActiveModelSerializers on Rails to response my clients in a restfull app . I use jsonapi.org standard in my response . I want to customize my error response like following :

"errors": [
{
  "code":   "123",
  "source": { "pointer": "/data/attributes/first-name" },
  "title":  "Value is too short",
  "detail": "First name must contain at least three characters."
}

I want to have error

[2016-05-22 01:38] mockdeep opened #1745 "Empty collection rendering with incorrect root"
#### Expected behavior vs actual behavior

When I upgraded to AMS 0.10.0, a started seeing this issue. When an empty collection is rendered within a controller, the wrong root key is transmitted to the client side. I get:

[code]

when I expect:

[code]

I have a tasks controller that looks like the following. In this case it's returning an empty array, not an ActiveRecord::Relation object:

[code

[2016-05-23 15:36] remear commented on #1744
It's unclear to me if you're having an issue, encountering the inability to do something, or simply asking how to render error responses with custom status codes.

Please read through https://github.com/rails-api/active_model_serializers/blob/master/docs/jsonapi/errors.md

If after reading that document you're having specific issues, please clarify them in this issue so we can better assist you.

[2016-05-23 15:36] #1744 closed

[2016-05-23 16:18] #1737 closed

[2016-05-23 16:22] #1181 closed

[2016-05-23 17:23] vladra commented on #1745
Having very similar error.

When I render an array of integers, automatic serializer which is used is `Rendered ActiveModel::Serializer::CollectionSerializer with Array`

But when I render empty array, it is selecting wrong serializer: `Rendered ActiveModel::Serializer::CollectionSerializer with ActiveModelSerializers::Adapter::Json`

And this makes output `{"": []}` instead of `[]`

[2016-05-23 23:21] beauby commented on #1739
The way the spec. outlines [fetching relationships](http://jsonapi.org/format/#fetching-relationships), you would fetch `/api/users/1/relationships/comments`, which would not return the user, but only the comments as primary data. Pagination would be handled the same way as for any other collection.

[2016-05-23 23:22] beauby commented on #1738
Good question. @rails-api/ams anybody from the 0.8 era to answer this one?

[2016-05-23 23:25] beauby commented on #1745
@mockdeep If your `undone_and_pending_tasks` method returns an empty array, then your `render json: current_user.undone_and_pending_tasks` is essentially the same as `render json: []`, for which AMS has no way of guessing the name you want for the root.
The recommended way is to have your method return an AR collection. You could also explicitly set the root by doing `render json: [], root: "posts

[2016-05-23 23:27] mockdeep commented on #1745
@beauby This seems to work as expected on version 0.9.5, though. I'm not sure why, but does it not infer the type from the controller?

[2016-05-23 23:28] beauby commented on #1727
Note for followup: There's a missing `to_sym` somewhere.

[2016-05-23 23:29] beauby commented on #1745
No currently it does not, although it would be doable via `serialization_context`. Wanna make a PR for this?

[2016-05-23 23:31] beauby commented on #1727
Ref: #1702

[2016-05-23 23:32] mockdeep commented on #1745
@beauby is that something that is done in 0.9.5 but not in 0.10.x? Not sure if I'll get the time to work on it, but if there's a pretty straightforward path I could take a look.

[2016-05-23 23:35] beauby commented on #1745
I'm not very familiar with the 0.9 codebase (0.10 was a total rewrite based off 0.8), so I can't really say. I have a PR on my list to move the `root` stuff from the serializer to the adapter (where it belongs). I'll try to get that done tonight, then I can outline to you how to do the controller-based inference based on the new code.

[2016-05-24 09:05] martinezcoder opened #1748 "Concerns in Rails way"
#### Expected behavior vs actual behavior

This is about how to write class methods using ActiveSupport::Concern

https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/attributes.rb#L27

#### Steps to reproduce

Instead of

[code]

ActiveSupport::Concern give us a cleaner way

[code]

#### Additonal helpful information
http://api.rubyonrails.org/classes/Acti

[2016-05-24 13:24] NullVoxPopuli commented on #1748
this isn't compatible with rails 4.1

[2016-05-24 13:24] #1748 closed

[2016-05-25 00:49] NullVoxPopuli commented on #1707
Closed by #1710

[2016-05-25 00:49] #1707 closed

[2016-05-26 03:26] fogisland commented on #1325
@richmolj @boobooninja
Check object.comments.loaded? in PostSerializer works for me well, thanks.

And also  I found a way to ensure loading associations.

Firstly, transform the `include` option in request to ActiveRecord::QueryMethods `includes` format, for example: `?includes='comments' `  to   ` { :comments }`

Then use this `includes` option to query records, like: Post.includes(:comments).fi

[2016-05-26 19:40] remear commented on #1709
Resolved by #1426

[2016-05-26 19:40] #1709 closed

[2016-05-26 20:04] remear commented on #1626
The short answer here is, probably, in the sense that there's a high likelihood the generated documentation will be served by GitHub pages. I'm still working on a solution to the docs issue on a larger scale.

[2016-05-26 20:04] #1626 closed

[2016-05-26 20:09] #1536 closed

[2016-05-26 20:28] remear commented on #1532
Resolved with the addition of [register_jsonapi_renderer](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model_serializers/register_jsonapi_renderer.rb)

[2016-05-26 20:28] #1532 closed

[2016-05-28 20:02] beauby commented on #1725
Closing this as the parsing of include parameters are now delegated to the [jsonapi gem](http://github.com/beauby/jsonapi). Moreover, the name of the relationships in the `include` parameter should match those of the relationships in the generated JSON.

[2016-05-29 13:36] onomated commented on #1268
Is Grape support complete?  I've followed this thread and updated to the latest `0.10.0` release and getting the following error after following the [Grape Support documentation](https://github.com/rails-api/active_model_serializers/blob/master/docs/integrations/grape.md)

[code]

[2016-05-29 16:56] chrisdpeters commented on #1725
@beauby Would you provide me with an example of how to use the jsonapi gem to tell AMS which serializers to include when it's rendering my query?

For example, this is the controller code:

[code]

What do I do with that 2nd line to get AMS to load the correct association name(s) from `params[:include]`? Right now, it's passing in `content-templates`, which matches what the JSONAPI payload defines

[2016-05-29 17:01] chrisdpeters commented on #1725
I'll have to give it a shot tomorrow, but I suppose I need to write the equivalent of this? (Perhaps just always parsing in a `before_action`.)

    render json: theme, include: jsonapi::IncludeDirective.new(params[:include])

It just feels incomplete that AMS wouldn't do this for me automatically like it does for everything else in rendering the payload.

[2016-05-29 18:13] bf4 commented on #1268
That's a bug. Please open a new issue

B mobile phone

[2016-05-30 11:05] tokhi opened #1755 "upgrade from rc2 changes the underscore ("_") to dash("-")"
After the upgrade all the attributes with `_` replaced to `-`
e.g; instead of `account_id` the response renders `account-id`

[2016-05-30 11:14] janvarljen commented on #1755
@tokhi yes it's the default key_transform now.

Check docs here:

https://github.com/rails-api/active_model_serializers/blob/master/docs/general/configuration_options.md#key_transform

[2016-05-30 12:13] tokhi commented on #1755
Thanks alot @janvarljen .

[2016-05-30 12:13] #1755 closed

[2016-05-30 13:20] ehannes opened #1756 "Exclude namespace in root key in 0.10?"
Using the `:json` adapter, is there some way to exclude the namespace part from the root key?

I used version 0.9 before and my JSON representation of a `User` at api/v1/users/1 was something like:

    { "user": { "id": 1, "first_name": "Foo", "last_name": "Bar" } }

I recently upgraded to version 0.10 and now I get the namespace included in the root key:

    { "api/v1/user": { "id": 1,"first_na

[2016-05-30 19:46] NullVoxPopuli commented on #1756
According to https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md#json

The root key can't be overridden :-(

I think @beauby was doing some work on this.

[2016-05-30 20:38] beauby commented on #1725
Reopening this, as it is actually a short-coming of AMS, since the key transformation is done automatically under the hood. Will work on a PR in the coming days.

[2016-05-31 00:47] bf4 commented on #1756
You should be able to change it by controlling `Serializer#json_key`.  See `Adapter::Base#root`

[code]

[2016-05-31 00:52] bf4 commented on #1745
Also see https://github.com/rails-api/active_model_serializers/issues/1756

[2016-05-31 00:53] bf4 commented on #1703
let us know :)

[2016-05-31 03:43] bf4 opened #1759 "`Grape::ActiveModelSerializers` raises exception on missing serialization_context"
#### Expected behavior vs actual behavior

Per https://github.com/rails-api/active_model_serializers/issues/1268#issuecomment-222360982 and https://github.com/rails-api/active_model_serializers/issues/1268#issuecomment-211497074

The AMS Grape adapter does not pass in `serialization_context`, which is required to generate JsonApi pagination links, which raises an exception.

#### Environment

Acti

[2016-05-31 10:59] ehannes commented on #1756
@NullVoxPopuli I read that, but I also read this at https://github.com/rails-api/active_model_serializers/blob/master/docs/general/rendering.md#overriding-the-root-key:

Is that documentation obsolete?

[2016-05-31 12:20] ehannes commented on #1756
@bf4 What docs are you suggesting to be updated? The one that @NullVoxPopuli linked to?

[2016-05-31 12:21] ehannes commented on #1756
I have now two working solutions:

1. Set `type` in the serializer as @bf4 suggested.

2. Set the root key explicitly when rendering, something like:
`render json: @user, root: 'user'`

The second alternative is obviously only suitable when changing the root temporary.

I think I'll go the first alternative and programmatically determine the root key through a module or something. That has the adv

[2016-05-31 13:51] bf4 commented on #1756
Whatever would have helped you before you made the issue :) probably need to update those docs

B mobile phone

[2016-05-31 14:54] remear commented on #1756
needs to be corrected in https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md#json. It should be updated to make known, in brief, it *is* possible to override the root key in the ways mentioned in this issue and link to the other guide sections:

- Passing `root` in `render` calls - Detailed in the [Rendering Guide](https://github.com/rails-api/active_model_se

[2016-05-31 16:27] groyoh commented on #1745
@beauby @mockdeep on 0.9 the root key is automatically infered from the controller name if the root is not set. See https://github.com/rails-api/active_model_serializers/blob/v0.9.5/lib/action_controller/serialization.rb#L91 and https://github.com/rails-api/active_model_serializers/blob/v0.9.5/lib/active_model/array_serializer.rb#L32.

@mockdeep If you really need it, something similar could be ac

[2016-05-31 19:30] #1486 closed

[2016-06-01 04:57] ehannes commented on #1756
Great work! Then I think we can consider this issue as resolved, right?

[2016-06-01 05:04] bf4 commented on #899
Also see #1127

[2016-06-01 05:46] ehannes commented on #1745
I have the same problem.

If not supporting this, how would you suggest that the client consuming the JSON response would handle this? Sometimes the root key is included, sometimes it is not.

This is one of several features that have broken my application while upgrading. If not supported, it would at least be great with some sort of guidelines on known problems when upgrading to 0.10.

[2016-06-01 06:29] groyoh commented on #1756
@ehannes yeah, thanks for your input. 👍

[2016-06-01 06:29] #1756 closed

[2016-06-01 07:14] bf4 commented on #1745
@ehannes See resolution of what I think is a duplicate in https://github.com/rails-api/active_model_serializers/issues/1756#issuecomment-222570499

[2016-06-01 07:35] #1724 closed

[2016-06-01 07:36] bf4 commented on #1724
@mitjok might you share why you closed it? If you have a resolution?

[2016-06-01 13:48] xawiers commented on #1053
Anyway this does not work.

[2016-06-01 13:58] NullVoxPopuli commented on #1053
what adapter are you using?

[2016-06-01 20:02] xawiers commented on #1053
Tried latest 0.10 version.
adapter Redis, ruby 2.2.4, OS windows 10 x64, rails 4.2.6
have articles and topics relation many to many
defined in articles serializer has_many :topics, embed: :ids, include: true
changed to version ~0.9.5 and worked fine, but not with 0.10

[2016-06-01 20:07] remear commented on #1053
Redis is not an AMS [adapter](https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md). This issue has been closed for a long time. Please open a new issue and provide the information requested by the issue template.

[2016-06-02 20:17] augustosamame opened #1770 "ActiveModel::Serializer.setup(&config) not present in 0.10; causes failures in integrated gems"
It seems this issue has been changing back and forth.

Previous versions of AMS can be configured with this block in the initializer:

ActiveModel::Serializer.setup do |config|
 config.adapter == :json_api
end

as opposed to the way indicate in the latest documentation:

ActiveModelSerializers.config.adapter = :json_api # Default: `:attributes`

current version (0.10.0) will fail when using the bl

[2016-06-02 20:42] bf4 commented on #1770
well, the AMS version 0.8, 0.9, and 0.10 are all incompatible, so I'd argue it's the job of any gem supporting multiple versions to put any necessary conditionals in there.

If you want the old syntax, you could

[code]

but I wouldn't implement that since you can just

[code]

since `config` is essentially a hash, you could also just `config.merge!`

[2016-06-02 20:46] augustosamame commented on #1770
Thanks. So in order to fix devise_token_auth I could just check if the ActiveModel::Serializer class responds to setup or config and configure accordingly?

[2016-06-02 21:22] bf4 commented on #1770
@augustosamame are you asking as a maintainer of devise_token_auth or someone who wants to work around its current incompatibility with 0.10.0

[2016-06-02 21:23] bf4 commented on #1770
@augustosamame why not let's discuss this in https://github.com/lynndylanhurley/devise_token_auth/issues/644#issuecomment-223419787 where you're proposing a fix?

[2016-06-02 21:23] #1770 closed

[2016-06-03 07:20] mustela commented on #1667
Having exactly the same issue. I had to downgrade AMS to `0.10.0.rc4`

[2016-06-03 14:31] bf4 commented on #1667
@mustela I believe this is resolved https://github.com/rails-api/active_model_serializers/issues/1667#issuecomment-220042301

[2016-06-03 14:33] bf4 commented on #1667
It may also be worth keeping in mind that https://github.com/lynndylanhurley/devise_token_auth is regularly having issues with AMS due the gem's design... might be worth considering improving the code *there* or using different gem

[2016-06-03 14:34] NullVoxPopuli commented on #1667
it's much easier to write your own token auth (As I have pasted in an earlier comment). It's easier to understand, customize, and upgrade.

[2016-06-03 15:03] jgamedev opened #1771 "Add link to how-to page in the Readme file"
If it had a link to :
https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/add_pagination_links.md#json-adapter

..in the readme, it would have saved me hours of needless search and banging my head against the wall.

[2016-06-03 15:05] NullVoxPopuli commented on #1771
The docs to do need to be re-organized a bit

[2016-06-03 15:10] jgamedev commented on #1771
I actually missed the guides link. Twice :-P

[2016-06-03 15:21] remear commented on #1771
This should be solved in other ways. This method isn't scalable. We have some documentation changes in the works. Stay tuned.

[2016-06-03 15:21] #1771 closed

[2016-06-03 21:56] KevinColemanInc opened #1772 "polymorphic associations don't always follow the same footprint"
#### Expected behavior vs actual behavior
    class FooSerializer < ActiveModel::Serializer
      attributes :id

      has_one :fizz, polymorphic: true
    end

 EXPECTED OUTPUT:

    {
       "id":3,
       "fizz":{
          "type":"buzz",
          "buzz":{
             "id":3
          }
       }
    }

ACTUAL OUTPUT:

    {
       "id":3,
       "fizz":{
          "id":3
       }
    }

####

[2016-06-03 22:43] KevinColemanInc opened #1773 "single table inheritance classes cant find serializer"
#### Expected behavior vs actual behavior

    class ReviewRequestSignupInviteSerializer < SignupInviteSerializer; end

    class ParentFoo;include ActiveModel::SerializerSupport; end
    class ParentFooSerializer; attributes :id; end

    class Foo < ParentFoo; end

Actual Behavior:

    ActiveModelSerializers::SerializableResource.new(ParentFoo.new).to_json # uses ParentFooSerializer
    ActiveM

[2016-06-03 22:43] KevinColemanInc commented on #1772
another potential problem with this breaking the polymorphic pattern:

    class Buzz
    end

    class Foo
      has_one :fizz, polymorphic: true
    end

    class FooSerializer
      has_one :fizz, polymorphic: true
    end

ACTUAL OUTPUT:

    buzz = Buzz.create
    foo = Foo.create fizz: buzz

    # if Buzz has no serializer
    ActiveModelSerializers::SerializableResource.new(foo, options).

[2016-06-04 14:09] groyoh commented on #1773
@KevinColemanInc which version of AMS do you use? This serializer lookup should lookup parent serializer. Please have a look at https://gist.github.com/groyoh/34356f48dbbbb2a70e1f6a52e19e6351.

[2016-06-04 20:23] bf4 commented on #1646
@ianks see https://github.com/sorentwo/knuckles :)

[2016-06-04 20:23] #1646 closed

[2016-06-04 20:26] bf4 commented on #1321
btw, this is now done in 0.10.0 :)

[2016-06-05 14:34] chrisdpeters opened #1774 "ErrorSerializer not pointing to JSON:API relationship errors appropriately?"
Stripped-down model logic:

[code]

And it's matching serializer:

[code]

If I submit a blank value for the `asset` relationship, I get this error payload:

[code]

Because of the JSON:API payload that the server must accept, shouldn't the error look more like this?

[code]

This is the payload that the server expects to receive to further illustrate how the `pointer` should work:

[code]

This o

[2016-06-05 16:26] NullVoxPopuli commented on #1774
Well, your validation is on the belongs to relationship, so that is a field on your theme asset. I think to get the behavior you want, it may require a change to Active Record.

[2016-06-05 17:31] chrisdpeters commented on #1774
@NullVoxPopuli Do you think it would be possible for `ErrorSerializer` to check if an error is set on an attribute involved with an AR `belongs_to` association and then instead map the error in the manner that I've outlined above if it is?

I could see how it would get complicated pretty fast though, especially if it is a polymorphic association.

[2016-06-05 17:38] chrisdpeters commented on #1774
Plus it would need to reflect the association to see what the key's name is vs. if the error is on the association itself. `asset` and `asset_id` are both attributes that are involved with the association that could have errors, plus the `belongs_to` call could also map a different `foreign_key` as well.

I'm considering if this is something that I could submit a pull request for. I've tried pokin

[2016-06-06 00:21] bf4 commented on #1774
@chrisdpeters thanks for finding a JSON Pointer generation bug.  Shouldn't be too hard to fix...

It doesn't do `included` ( e.g. `"/included/0/attributes/#{attribute}"` ) properly, either :(

[2016-06-06 00:22] bf4 commented on #1774
Also, the ErrorSerializer is kind of an MVP.  There's a lot of useful things it doesn't do :)

[2016-06-06 00:26] chrisdpeters commented on #1774
@bf4 I didn't know that it was appropriate/allowed to submit `included` data on a `POST`/`PATCH`. I've never seen that in any examples at least.

I figured that `ErrorSerializer` was relatively fresh. :) I've been watching the JSON:API adapter for AMS developed with eager anticipation. Thanks to you @rails-api for everything that you've been doing to make this a reality.

[2016-06-06 01:37] KevinColemanInc commented on #1773
@groyoh I am in the process of moving up to 0.10.0, since I noticed it was released recently.  Thanks for fixing that in the latest version :) 👍

[2016-06-06 01:37] #1773 closed

[2016-06-06 03:40] bf4 commented on #1774
@chrisbranson sorry, that if query request has `include` and there is an error on an `included` attribute in the response...

[2016-06-06 03:42] bf4 commented on #1772
I assume this is AMS 0.10.0 with the attributes adapter?

[2016-06-06 03:51] cgmckeever commented on #1772
@KevinColemanInc .. it appears that (as you said), if no serializer is defined, it bumps out and doesnt include the nesting

https://github.com/cgmckeever/active_model_serializers/blob/bbed12864d96952293f9157ee53f8978bffd8307/lib/active_model_serializers/adapter/attributes.rb#L50

I wonder how when there is no ``relationship_value`` how it derives the response for that relationship?

actually L45

[2016-06-06 07:08] beauby commented on #1772
This is actually true even for non-polymorphic associations. There was an issue describing this behavior. Long story short, we need to issue a big warning, if not fail, when a serializer cannot be found.

[2016-06-06 12:56] chrisdpeters commented on #1774
@bf4 Gotcha. Just making sure that you didn't shed the light on something that I was unaware of. I've stared at that spec for many, many hours. 😄

[2016-06-06 16:36] KevinColemanInc commented on #1772
@bf4 I am still in the process of upgrading to 0.10.0 from 0.9-stable, so maybe this is fixed, although @cgmckeever seems to think this is an issue in 0.10.0.

I lean toward failing or maybe being smarter about generating the type:

    @object.class.to_s.demodulize.underscore.to_sym

[2016-06-06 17:02] bf4 commented on #1772
@KevinColemanInc Please be the hero of everyone else upgrading and turn your notes and lessons learned into a PR here :) :) :)

This definitely an area of AMS that can best be improved by real-world use-case such as yours. Right now I'm thinking the collection serializer should optionally yield control when no serializer is found, that it exits too early

[2016-06-06 17:26] KevinColemanInc opened #1775 "Controllers acting like helpers?"
#### Expected behavior vs actual behavior
I am not a huge fan of the decision to have the controller code create the pagination information for a given array with the json adapter.

In 0.8.x and 0.9.x, I was able to create a `PaginationSerializer < ActiveModel::ArraySerializer` that would automatically add in the pagination information when used.  It seems that in 0.10.0, the controllers are respo

[2016-06-06 18:14] KevinColemanInc opened #1776 "not showing valid list of adapters in error message"
#### Expected behavior vs actual behavior
Expected behavior

    ActiveModelSerializers::Adapter::UnknownAdapterError:
       NameError: ActiveModelSerializers::Adapter::UnknownAdapterError. Unknown adapter: :paginated_json. Valid adapters are: [:json, :json_api, :base]

Actual behavior

    ActiveModelSerializers::Adapter::UnknownAdapterError:
       NameError: ActiveModelSerializers::Adapter::Un

[2016-06-06 18:37] groyoh commented on #1776
I assume that's because the adapters are actually autoloaded and therefore won't appear until they are loaded. I guess we should either make sure `:json, :attributes, :json_api` are in there by default or require the files instead of autoloading.

[2016-06-06 19:09] groyoh commented on #1775
I strongly believe that the pagination is definitely not a serializer concern but more an adapter concern. I can understand that this may confuse you though as there was no concept of adapter in 0.8.

What I would suggest in your case would be to build your own adapter that would mimic what you expect:

[code]

[2016-06-06 20:06] KevinColemanInc commented on #1775
@groyoh yeah I am looking at creating my own adapter, but its not really behaving the in a way that makes sense to me.

It is my understanding that serializers are meant to take in an object and to generate JSON for that object.  I liked there is a (class)[https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model_serializers/adapter/json_api/pagination_links.rb] for creati

[2016-06-06 20:56] KevinColemanInc commented on #1775
@cgmckeever yeah, the slicing would be done by the Kaminari upstream.  but my goal is to go from a model that has methods like `current_page`, `next_page`, `prev_page`, etc. to json using a serializer.

[2016-06-06 22:38] KevinColemanInc opened #1779 "root is rendered inside a collection instead of labeling the collection"
#### Expected behavior vs actual behavior

[code]

[code]

it seems if `each_serializer` is given a nil, then I get this kinda wonky json back.  it is an array of

[code]

In version 0.9.5, it would try to guess the serializer if the each_serializer was nil.  so expected would be:

[code]

I think what is going on is its using the default `as_json` serializer and instead of the root key having the

[2016-06-07 01:00] KevinColemanInc opened #1780 "module classes"
#### Expected behavior vs actual behavior
I have a class `Review::Current` and its serializer `CurrentSerializer`  if I do:

    render json: current, serializer: CurrentSerializer

    # out {"review/current":{"status":null}}

Is that root expected behavior? I would think the root would just be "current"

[2016-06-07 01:01] NullVoxPopuli commented on #1780
that happens, because `current.class.name.underscore == 'review/current'`

namespaces are prepended with /'s

[2016-06-07 01:08] KevinColemanInc commented on #1780
@NullVoxPopuli I think I understand why. but maybe it should be `.class.name.demodulize.underscore`

[2016-06-07 01:12] NullVoxPopuli commented on #1780
the root is customizable per-serializer, so you could set that, if you wanted.

see
https://github.com/rails-api/active_model_serializers/blob/master/docs/general/serializers.md#type
and

https://github.com/rails-api/active_model_serializers/blob/master/docs/general/serializers.md#root

[2016-06-07 01:12] #1780 closed

[2016-06-07 01:17] KevinColemanInc commented on #1780
@NullVoxPopuli I haven't tested this with the json_api adapter, but I think this would be affected by the issue,  but according to this documentation the "/" is not a valid character for a member name.

http://jsonapi.org/format/#document-member-names-reserved-characters

[2016-06-07 01:20] NullVoxPopuli commented on #1780
yeah. Ember doesn't even support namespaced models -- so most people flatten them out and have to specify the `type` for their serializers. (This is what I do on my project: https://github.com/NullVoxPopuli/aeonvera/)

[2016-06-07 01:21] KevinColemanInc commented on #1780
so why don't you at least demodulize the member name so you can at least sorta follow the format?

[2016-06-07 01:24] #1775 closed

[2016-06-07 01:26] NullVoxPopuli commented on #1780
because some people may want the namespace information and handle it differently.

A common way to handle namespaces is a double dash.

Then on their client, they can do whatever with them.

[2016-06-07 01:28] KevinColemanInc commented on #1780
so what you're saying is the current implementation does not follow either the advertised jsonapi.org format or the "common way" of double dash?

[2016-06-07 01:30] NullVoxPopuli commented on #1780
yeah, the reason is to let the users decide how they want to handle it.

[2016-06-07 01:35] KevinColemanInc commented on #1780
Since the `json_api` does not follow the jsonapi.org, do you think that comment should be amended in the documentation?

[2016-06-07 01:45] NullVoxPopuli commented on #1780
perhaps. Though, what it really should say is that its recommended to use the 'type' setting

[2016-06-07 10:55] hhff commented on #1703
Will look into it later this week / early next!
On Mon, 30 May 2016 at 8:53 PM, Benjamin Fleischer <notifications@github.com>
wrote:

[2016-06-07 14:01] beanieboi opened #1783 "Migrate serialization_options"
hey,

first of all, thank you for maintaining AMS and putting so much effort into this!
i have a quick question.

we are currently using serialization_options to customize filters.

controller
[code]

serializer
[code]

do you have any advise on how to do this in 0.10?

thank you so much,
ben

[2016-06-07 15:02] randallb opened #1784 "Thank you!!!!!"
#### Expected behavior vs actual behavior

I should have to do work. I don't have to do as much work.

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

Install gem
Rejoice.

#### Environment

Joy

#### Additonal helpful information
*(e.g., Gemfile.lock, configurations, PR containing a failing test, git bisect results)*

Thank you so much for this projec

[2016-06-07 15:02] #1784 closed

[2016-06-07 15:03] NullVoxPopuli commented on #1784
lol. thanks for the issue. Made me smile :-)

[2016-06-07 19:10] randallb commented on #1337
@natematykiewicz did you just throw that in an initializer and call it a day? I'm doing that now... will edit this with my specific result.

[2016-06-08 00:31] natematykiewicz commented on #1337
@randallb, I know you edited your post. Yes, I did put that in an initializer. I also did `require 'active_model/serializer'` before the monkey patch, for safety.

[2016-06-08 03:14] bf4 commented on #1337
Anyone wanna make a PR to document how to add this behavior?

[2016-06-08 03:34] bf4 commented on #1783
@beanieboi

[code]

Yeah, just use `instance_options`.  See the `docs/` for more info :)

[2016-06-08 03:35] bf4 commented on #1783
If you're updating AMS versions, please share back any lessons learned to our not-yet-existent upgrade guide :)

[2016-06-08 07:44] NIHERASE commented on #1779
+1

[2016-06-08 11:33] NullVoxPopuli commented on #1779
what kind of data is `objects`? (Is it ActiveRecord, is it some custom array?)

[2016-06-08 14:07] beanieboi commented on #1783
oh, sweet. my fault, totally overlooked that.
just a quick other question. we used AMS 0.9 before and used the `root: false` option in the call to `render`. it couldn't find a way to get the same behavior with the JSON adapter and AMS 0.10.
do you have a quick hint? :)

[2016-06-08 16:28] osyoyu opened #1787 "Nested attributes fails to use serializers under versioned APIs"
AMS seems to fail finding the correct serializer when:
1. Controllers and serializers are located under modules (like `V2`)
2. The serialized object is deeply nested, and the same model appears more than once

#### Expected behavior vs actual behavior
[code]

Expected:
[code]

Actual:
[code]

#### Steps to reproduce
I've made a sample blog Rails application that produces the problem: an unversione

[2016-06-08 16:38] osyoyu commented on #1787
I added a seeds.rb to the demo repository. Run `rails db:seed`, and `curl localhost:3000/v2/users/1` should show the JSON above.

[2016-06-08 18:45] KevinColemanInc opened #1788 "undefined method `model_name' for User::ActiveRecord_Relation:Class"
edit: this is wrong.  see my comment [here](https://github.com/rails-api/active_model_serializers/issues/1788#issuecomment-224702643) on how to re-create.

#### Expected behavior vs actual behavior
I am trying to serialize an ActiveRecord_Relation.

    users = User.select('LENGTH(email) as email_length, users.*')
    render json: users

    class UserSerializer < ActiveModel::Serializer
      att

[2016-06-08 18:49] NullVoxPopuli commented on #1788
what's the output of just users? like if if [awesome_print](https://github.com/awesome-print/awesome_print)ed it?

[2016-06-08 18:54] bf4 commented on #1788
@KevinColemanInc super important information is missing from this bug report: what did you do to get the error and the stack trace.

`undefined method `model_name' for User::ActiveRecord_Relation:Class`

what were you doing that caused that issue.  We're all busy people https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md#steps-to-reproduce

Thanks

[2016-06-08 19:33] KevinColemanInc commented on #1788
@bf4 @NullVoxPopuli Sorry about that! here is a better example:

Steps to reproduce

    users = User.select('users.*').joins(:profile).group(:source)

    class UserThreeSerializer < ActiveModel::Serializer
      attributes :id
    end

    ActiveModelSerializers::SerializableResource.new(users, serializer: UserThreeSerializer).to_json

    Rendered UserTwoSerializer with ActiveModelSerializers::

[2016-06-08 19:52] KevinColemanInc opened #1789 "Serializing non-AR classes"
With the change to go from a mixin to parent class, I am finding I need to do something like this for my non-AR classes, because my non-AR class uses the initializer method.

    class Person < ActiveModelSerializers::Model
      attr_accessor :full_name, :email, :user

      ATTRIBUTES = %i(full_name email user)

      def initialize(obj)
        case obj
        when User
          from_user(obj

[2016-06-08 20:12] KevinColemanInc opened #1790 "calculated fields on non-AR models"
#### Expected behavior vs actual behavior
##### Actual
    # Powers the deprecated bubble chart.
    # Will be deprecated later by SkillScores
    class ScoredUser < ActiveModelSerializers::Model
      def score
        User.count
      end
    end

    class ScoredUserSerializer < ActiveModel::Serializer
      attributes :score
    end

    scored_user = ScoredUser.new

    ActiveModelSerializers

[2016-06-08 20:27] KevinColemanInc commented on #1788
##### Full backtrace

Rendered UserThreeSerializer with ActiveModelSerializers::Adapter::PaginatedJson (4.75ms)
/Users/kcoleman/.rvm/gems/ruby-2.3.1/gems/active_model_serializers-0.10.0/lib/active_model/serializer.rb:175:in `json_key'
/Users/kcoleman/.rvm/gems/ruby-2.3.1/gems/active_model_serializers-0.10.0/lib/active_model_serializers/adapter/base.rb:51:in `root'
/Users/kcoleman/Sites/steadyfoot/

[2016-06-08 20:30] KevinColemanInc commented on #1772
@bf4 can you give me some guidance on how to add the documentation?  Would this fall under "How to"?

[2016-06-08 20:35] bf4 commented on #1788
Thanks. So, the issue here is that you're serializing a collection (active relation) as if it were a single resource.  For collections, you need to specify `each_serializer: ` instead of `serializer`.  I admit these options are a little confusing, but they've been around a while... (in this case, `serializer:` refers to the collection serializer.  It makes sense, but doesn't behave how you'd expec

[2016-06-08 20:36] bf4 commented on #1788
Please let me know if this resolves your issue. If you think the docs or code could be improved with what you've learned, a PR would be most welcome.

[2016-06-08 20:39] bf4 commented on #1789
You're not required to use AMS::Model, it's just usable documentation of what's required for a PORO...

[2016-06-08 20:41] bf4 commented on #1790
See my answer in https://github.com/rails-api/active_model_serializers/issues/1789#issuecomment-224720151 This is effectively a duplicate. You'll need to look at the source of AMS::Model

[2016-06-08 20:41] #1790 closed

[2016-06-08 20:41] bf4 commented on #1789
Please let me know if this resolves your issue. If you think the docs or code could be improved with what you've learned, a PR would be most welcome.

[2016-06-08 20:43] KevinColemanInc commented on #1789
@bf4 ok! cool.  I miss the flexibility the mixin provided over the i AMS::Model.  I will look at creating my own.

[2016-06-08 20:43] #1789 closed

[2016-06-08 20:43] #1788 closed

[2016-06-08 20:43] KevinColemanInc commented on #1788
thanks! I totally forgot about that.

[2016-06-08 20:54] bf4 commented on #1789
Maybe you can make a PR to make it more clear that AMS::Model is a convenience, you can see it for the mixins it uses AND/OR look at the serializer lint for required methods

[2016-06-08 21:07] KevinColemanInc commented on #1787
@osyoyu I had a similar problem.  with version 0.10.0, the default serialization "deepness" is only one level down.

My hack to fix this was to do this

    module ActiveModel
      class Serializer
        module Associations
          remove_const(:DEFAULT_INCLUDE_TREE)
          DEFAULT_INCLUDE_TREE_STRING = '**'
          DEFAULT_INCLUDE_TREE = ActiveModel::Serializer::IncludeTree.from_string(

[2016-06-09 02:04] beauby commented on #1788
As this issue arises a lot, and custom collection serializers do not seem to be used a lot, it might make sense to have the `serializer` option handle this automatically when called on a collection.

[2016-06-09 11:58] osyoyu commented on #1787
@KevinColemanInc Thanks for your reply! I've tried your patch in AMS `0.10.0rc5` (didn't work after `0.10.0`, but the situation didn't change 😦

I should have used `master` in the first place: strangely, the incorrectly-serialized `reaction` in the above sample got swapped.

[code]

[2016-06-09 12:04] osyoyu commented on #1787
Actually, I'm not sure if this is related with serialization depth. Associations deeply nested get correctly serialized when they don't share model names:

[code]

Given that everything goes completely correct if the API isn't versioned, I'm completely lost. Any ideas?

[2016-06-09 18:05] KevinColemanInc commented on #1779
@NullVoxPopuli active record models

[2016-06-09 18:15] KevinColemanInc opened #1793 "reserved characters in `json_api` adapter"
#### Expected behavior vs actual behavior

version 0.8.x removed reserved characters, but 0.10.0 does not seem to follow the guidelines laid out by [jsonapi.org](http://jsonapi.org/format/#document-member-names).

I think the documentation should stop claiming to follow the jsonapi.org or prevent reserved characters from being rendered.

two examples I have found so far:
##### Question marks are a

[2016-06-09 21:26] KevinColemanInc commented on #1787
@osyoyu I know the guidelines say that master is "safe" to use, but there seems to be a lot of breaking changes between commits such that I would advice against hitting github directly.

I ran into this issue when I had a model in a module like you.  I think that my other classes seemed to deeply nest, but not my model in a module.

I think there was ~50 commits between 0.10.0 and 0.10.0-rc5.

[2016-06-10 01:30] bf4 commented on #1793
fwiw, EmberData's JSON API does this too. Been a bug I've been meaning to go and fix.

PR's welcome

[2016-06-10 01:37] remear commented on #1793
#1563 and #662 already touched on this and the options presented seemed to be acceptable to those participating. If you have any new insight to add to those conversations, I'm open to hearing it here.

[2016-06-10 02:42] bf4 commented on #1783
Use adapter: :attributes

[2016-06-10 18:55] beanieboi commented on #1783
the problem is that we have a mixed setup. some contain the root and some don't (we disabled with root: false). it looks like this is not possible anymore since the adapter is configured globally?

[2016-06-10 21:01] ezekg opened #1795 "How do I respond with only meta data?"
I am using the `:json_api` adapter and am wanting to render only meta data for a few endpoints, e.g. responding without a top-level `data` key. As far as I can tell, [this is allowable under the JSON API spec](http://jsonapi.org/format/#document-top-level). I would expect to be able to do something similar to,

[code]

But even passing in an empty (or `nil`) `json: {}` hash throws errors like `und

[2016-06-10 21:02] KevinColemanInc opened #1796 "undefined method `each' for nil:NilClass"
#### Expected behavior vs actual behavior
`render json: [nil]` causes `undefined method 'each' for nil:NilClass` when this is called `Attributes.new(serializer, instance_options).serializable_hash(options)` in the adapter.

maybe it should just do `[]` or `[null]`?

version: 0.10.0

[2016-06-10 21:38] bf4 commented on #1783
@beanieboi are there requests where one resource may have a root but another may not?  If each request is either rooted or not, then just choosing the adapter or passing arguments is sufficient.  If that doesn't answer your question, I'll need a more specific example

[2016-06-10 21:38] bf4 commented on #1796
`[nil]` doesn't make any sense to me as a value you'd want to render

[2016-06-10 21:39] bf4 commented on #1796
but just call `[nil].to_json` if that's really what you want

[2016-06-10 21:42] #1796 closed

[2016-06-10 21:54] bf4 commented on #1795
I do this in my app a lot. But I just generate my JSON directly when using meta:

[code]

You can use the TransformKeys utility function directly:

[code]

But looks like this works, though I think the above is better:

[code]

[2016-06-10 21:54] bf4 commented on #1795
If this works, please share back and improve the docs!

[2016-06-10 22:44] ezekg commented on #1795
I'm currently doing something similar but got a little frustrated with the repetition. Shouldn't we be able to render `json: nil` if a `meta` option is passed? In any case, I was able to get what I wanted by defining a helper in my `ApplicationController`,

[code]

[2016-06-11 22:13] oyeanuj commented on #1333
@beauby Did this ever make it in to 0.10 and documented?

[2016-06-13 01:43] bf4 commented on #1795
`json: nil` makes less sense than `json: {}` in this scenario, since `json:` refers to the JSON renderer. I'm not sure how we should should handle this situation as AMS, but what you've done and what I've done works for me :)

[2016-06-13 02:03] jfeltesse-mdsol opened #1798 "fields option working with symbols, not working with strings"
#### Expected behavior vs actual behavior

If I pass `fields` with an array of string objects it should behave the same as if I'm passing an array of symbols

#### Steps to reproduce

[code]

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*

[2016-06-13 13:20] ezekg commented on #1795
Fair enough. I'd be happy to add something in the docs about this. Any place in particular I should add that in, just another section under the `docs/howo` directory?

[2016-06-13 21:49] onomated commented on #1703
Thanks @hhff
I'm experiencing this also.  Same setup. `redis-cache`, `puma`, `rails 4.2.2`.  I'm getting wrong attributes associated with ids, and cache excluded fields seem to reflecting invalid cached state.  So:
[code]

`num_followers` isn't getting updated even though I've confirmed that the corresponding redis field is updated and propagated to the point of rendering the response.

Says this

[2016-06-13 21:55] hhff commented on #1703
phew - I thought I was losing my mind.  Just spent today building a stress test for this - but haven't been able to reproduce it yet.

@onomated - can you confirm that disabling `cache_classes` fixed the issue?

[2016-06-13 22:50] onomated commented on #1703
@hhff So far it does with the id -> attributes mismatch.  My cache exclude issues may be related to the fact that I override the `object_cache_key` method in my serializers.  Some of my models are cached under the expected keys and some are under the original AMS defaults.  I'll continue testing to see if these are isolated issues

[2016-06-14 08:42] dlupu opened #1803 "has_one association named root is always serialized to nil"
#### Expected behavior vs actual behavior

Given the following models

[code]

[2016-06-14 09:49] onomated commented on #1703
@hhff from what I can tell disabling `cache_classes` fixes the issue with the id mismatch, but I haven't been able to reproduce empirically, just performed multiple deploys to production and the issue hasn't popped up.  Just worried about the effect on the rails app as a whole.

Other "issue" I mentioned with `except` option seems to be a completely different problem related to fragment caching.

[2016-06-14 11:37] zaaroth commented on #1803
I might be missing something, but you should use include: "**" during rendering in order to serialize associations.

[2016-06-14 11:44] dlupu commented on #1803
@zaaroth I have other association that I have not included in the code examples who are serialized just fine. If I rename the association in the model from `root` to anything else it also serializes just fine. So this seems to be related to the fact that the association is named `root`

[2016-06-14 14:21] bf4 commented on #1803
@dlupu I'm pretty sure you can get around this by using the block form

[code]

This will get around that [`root` is one of the few public methods on a serializer](https://github.com/rails-api/active_model_serializers/blob/v0.10.0/lib/active_model/serializer.rb#L178-L186)

[code]

and https://github.com/rails-api/active_model_serializers/blob/v0.10.0/lib/active_model/serializer/associations.rb

[c

[2016-06-14 14:23] bf4 commented on #1798
@jfeltesse-mdsol I'd love to help you write a PR to fix this!

[2016-06-14 14:34] onomated opened #1804 "Cannot override default cache key with fragment caching"
I have a model say `User` that I would like to present in two representations say a `UserSerializer` and `ProfileSerializer`.  My serializers are defined as follows:

[code]

The generated cache keys do not follow the overidden `object_cache_key` and fall-back to the AMS default that is based on the model name.  So `ProfileSerializer` responses overwrite responses of the `UserSerializer` in cache

[2016-06-14 14:36] bf4 commented on #1804
In [master](https://github.com/rails-api/active_model_serializers/pull/1781) I've removed the dynamic serializers. I'm curious if you can find a better solution there...

[2016-06-14 14:39] bf4 commented on #1804
Also, any particular reason you're skipping the digest?

[2016-06-14 14:42] onomated commented on #1804
No strong reason other than I purge all cache on deploy, so computing digests is extra computation that isn't required.

[2016-06-14 15:41] hhff commented on #1703
Yeah - I mean it would be nice to be able to use `cache_classes` with AMS.

So far I haven't had any luck reproducing the bug with a vanilla rails app.  I'm guessing that you need a tangled bulk of models and requests to trip it up...

[2016-06-14 17:42] onomated commented on #1804
Ok, so looks like @bf4 is off the project?  All comments, mentions, and PRs and gone

[2016-06-14 19:49] onomated commented on #1804
@bf4 You probably are a robot with all the activity you're balancing at a time.

Took a look at master and my `object_cache_key` method override works as long as I provide the cache `key` configuration option as well.  Ideally, it'll be great if the AMS cache method took a `namespace` or `prefix` option so clients won't have to dig in and override methods.  That way I can prefix api responses with

[2016-06-14 20:15] bf4 commented on #1804
Turns out I made too many links in an issue on my blog repo (was just using it to link dump)

[2016-06-14 21:06] onomated commented on #1703
From the sounds of it in this [blog post](http://tenderlovemaking.com/2012/06/18/removing-config-threadsafe.html), `cache_classes` should contribute to thread safety especially if rails is eager loaded on boot.  Haven't encountered this since, but definitely has look like a race condition somewhere

[2016-06-14 21:08] onomated commented on #1703
@hhff, do you happen to have fragment caching in any of your serializers i.e. specify (except or only cache options).  Prior implementations dynamically created classes to handle this.  This may have something to do with thread safety.  This has since been changed in master branch

[2016-06-14 22:21] hhff commented on #1703
@onomated - I ran my server with Webbrick (single threaded) and still got these errors, so it doesn't seem related to threadsafety - but most likely leaky memory allocations.

I did notice this commit: https://github.com/rails-api/active_model_serializers/pull/1622

My guess is that's our culprit

[2016-06-14 22:22] hhff commented on #1703
And yes I do use fragment caching

[2016-06-14 22:55] bf4 commented on #1703
Have any benchmarks that show perf improvement w fragment caching on?  I've been working on it a lot but still is slower that not caching or full caching

Original benchmark when introduced isn't available

B mobile phone

[2016-06-14 23:36] onomated commented on #1703
@hhff ah yes, that logic has been [changed](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/caching.rb#L233)

@bf4 No benchmarks unfortunately.  The fields I exclude from caching are all stored in redis, same as my cache so I'm **hoping** it will almost be as fast as fully cached, and definitely faster than non-caching.  Don't have numbers for this tho

[2016-06-15 05:06] adamcrown opened #1806 "Normalizr adapter"
React and Redux or Flux are becoming very popular. I'm working on a couple projects now that have Recat+Redux frontends. Certain JSON schemas are more easily integrated into Redux than others.  [Normalizr](https://github.com/paularmstrong/normalizr) is a popular project for handling converting JSON schemas to a Redux/Flux friendly format. However, it seems like it would be better to just output a

[2016-06-15 07:47] NullVoxPopuli commented on #1806
I like the idea of using gems for additional adapters. :-)

When releasing, be sure to mention tested versions of AMS. I think there are plans to give all adapters the same functionality as JSON API. See: @bf4. So, the interface for making adapters may change before the 1.0 release.

[2016-06-15 08:36] adamcrown commented on #1806
Thanks. Right now I'm definitely just targeting 0.10.0 since I need to have this functionality soon. But I'll try to keep it up to date with new versions.

[2016-06-15 09:36] onomated commented on #1804
@bf4 May be related to your recent changes to caching, but I started getting this error during cache fetch.  See stack trace below.  AMS commit hash is up-to-date with master.  There have been no changes to application code since:

[code]

[2016-06-15 09:43] luizkowalski opened #1807 "api is ignoring "only" configuration"
I have a serializer like this

[code]

in one specific controller, I don't want to return first name and last name, so I've done this

[code]

in previous version (0.9.5) it was working, but when I updated to 0.10.0, it returns the first_name and last_name as empty values on the JSON

I'm using Ruby 2.3.1p112 with Rails 4.2.6

[2016-06-15 11:12] onomated commented on #1804
@bf4 Error above is a result of fragment caching not being invoked.  AMS is attempting to cache an excluded field in my entity.  I've inspected my redis cache and confirmed that excluded fields are being cached.  Stepping through `caching.rb` it doesn't look like [fetch_attributes_fragment](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/caching.rb#L23

[2016-06-15 11:26] groyoh commented on #1807
You need to use the `fields` option instead of `only` e.g. `render json: user, fields: [:access_token], status: 201`. Seems like the [docs](https://github.com/rails-api/active_model_serializers/blob/b73b780b7961b7708a40aefd016bb543a4e8137c/docs/general/rendering.md) are missing for this options, maybe you would be willing to create a PR for it?

[2016-06-15 15:09] hhff commented on #1703
@bf4 I don't have any useful benchmarks - but can confirm that when I released our caching layer (which is heavily fragment cached in places) we noticed a big slowdown (2x in places) on our monitoring (skylight.io).  I've been hoping it would shake out, and been tweaking things here and there - but can confirm that it slowed the app.

[2016-06-15 15:09] hhff commented on #1703
@onomated - please let us know your findings!

[2016-06-15 15:35] NullVoxPopuli commented on #1779
do you have a repo that we can checkout and play with this?

[2016-06-15 17:36] bf4 commented on #1804
Do you think you can narrow this down to a failing test?  I can pair w you if it helps

B mobile phone

[2016-06-15 20:19] #1759 closed

[2016-06-15 20:30] bf4 commented on #1804
@onomated any debug info you can provide here is helpful.  I was going to release 0.10.1 but am hesitant if there's a bug

[2016-06-15 23:24] lmorais opened #1809 "uninitialized constant ActiveModel::ArraySerializer"
Hi, i'm trying to render a collection with ActiveModel::ArraySerializer but this raises the error: **uninitialized constant ActiveModel::ArraySerializer**

The version of AMS is 0.10.0

`
render json: { meta: { success: true, locale: I18n.locale }, collection: ActiveModel::ArraySerializer.new(@collection, each_serializer: MyCollectionSerializer)}, status: 200
`

[2016-06-16 02:13] lmorais commented on #1809
Problem solved chaging from _**ActiveModel::ArraySerializer.new**_ to **ActiveModel::Serializer::CollectionSerializer.new**

[2016-06-16 02:13] #1809 closed

[2016-06-16 03:30] lmorais opened #1810 "Cache not working with collections"
AMS 0.10 is not caching collections, only single resources. For example, on index action the cache doesn't works, but on show action, it works perfectly.

[2016-06-16 03:46] remear commented on #1810
When someone opens an issue, we [ask for specific information](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md). Unfortunately, since this issue provides nearly none of that information, others' ability to aid in reaching a resolution to this issue is severely limited. If you'd like to pursue help with this or other issues, please provide the information

[2016-06-16 03:46] #1810 closed

[2016-06-16 04:13] lmorais opened #1811 "AMS cache doesn't works with collections"
AMS cache doesn't works on actions of controllers that rendering a collection, for example, the index action always hit database instead of retrieve data from the cache.

[code]

### Log
Started GET "/api/v1/resources" for 127.0.0.1 at 2016-06-16 00:48:07 -0300
Processing by Api::V1::ResourceController#index as JSON
Location::Neighborhood Load (0.4ms)  SELECT "location_neighborhoods".* FROM "locat

[2016-06-16 05:03] lmorais commented on #1811
Very weird, solved removing Gemfile.lock and running `bundle` again.

[2016-06-16 05:03] #1811 closed

[2016-06-16 13:12] onomated commented on #1804
@bf4, Sorry just seeing this.  I can take a look at writing specs for this later today.  Cursory glance at the  `cache_test` shows direct invocations of `fetch_attributes_fragment`.  I'll try to write a test that renders directly from the adapter on a fragmented serializer.  Any helpful starting points will be great.

[2016-06-16 13:55] zaaroth commented on #1586
@bf4 I picked this issue since it might be related to performance boosts. Is there any plans to come up with something along the lines of ActiveRecord's preload for serializers? I see a lot of has_one relations that could be streamlined in a single call not using multi fetches. I also see some Collection serializations not using it as well in my tests (0.10.0 release, not master).

[2016-06-16 14:45] bf4 commented on #1586
@zaaroth there's improvements in master which I just released in `0.10.1`. would love to discuss in amserializers.herokuapp.com slack. Thanks!

[2016-06-17 15:36] adamcrown commented on #1806
So here is what I have so far for anybody who's interested.

https://github.com/worshipresourcemedia/active_model_normalizr

The code is a bit messy and needs some refactoring, which I will hopefully be able to do soon but it seems to be working so far.

[2016-06-17 20:13] theotherzach opened #1813 "Possible regression in 0.10.1 - Object instance variable in parent serializer set to serializer in 10.1"
#### Expected behavior vs actual behavior

This bug came up after I upgraded AMS from 0.10.0 to 0.10.1. Note that I cannot reproduce this behavior outside of the controller.

**Given**

* A serializer defines a custom method which makes a call to the `object` method
[code]
* A second serializer inherits from the above serializer

**When**

* The second serializer is explicitly instantiated inside

[2016-06-17 20:16] theotherzach commented on #1813
Here is the result of the same test run under 0.10.0

[code]

[2016-06-19 06:03] bf4 commented on #1813
Hi @theotherzach !!!

So, My first response is that calling the serializer directly is more a something I'm trying to improve, than the official usage.  (re: improve, it wasn't long ago that it wasn't possible :)

So, since I'm just skimming the issue right now, and I imagine this is for work, have you tried using `render json: @order_line_item, status: :ok, serializer: ::Api::V1::Cart::OrderLineI

[2016-06-19 17:50] theotherzach commented on #1813
### Using `serializer:`

I hadn't and that works!

[code]

### Debug Answer

They appear to.:

The result of
[code]

is

[code]

### The `to_json` hypothesis

Bingo, got it. This works:

[code]

### How I Got Here

Thank you so much for the work you've done in allowing serializers to be called manually. I often start with an API first approach and then collapse portions back down into a big ball o

[2016-06-19 19:29] bf4 commented on #1813
If you write the pr :)

B mobile phone

[2016-06-20 17:52] theotherzach commented on #1813
Would you mind pointing me in the general direction of the code that I would need to update? Nothing too specific, just a general hand-wave to the directory I should start in would be great.

[2016-06-20 18:22] bf4 commented on #1813
could be somewhere in https://github.com/rails-api/active_model_serializers/blob/32a3b5389274054910e7485912169a55384cea68/lib/active_model_serializers/serializable_resource.rb

but probably just  https://github.com/rails-api/active_model_serializers/blob/32a3b5389274054910e7485912169a55384cea68/lib/action_controller/serialization.rb#L26-L28

[code]

[2016-06-21 16:03] danielrosewarne opened #1816 "What is the recommended approach for invalidating the cache on 0.10.0?"
I'm using caching at the serializer level, which mostly works exactly as I want it to (e.g. the model's updated_at changes and the associated serializer get's invalidated in the cache).

However, in some cases, I need to be able to manually target a specific serializer and have it invalidate it's cache. As an example, we're currently building a question and answer feature, the question serializer

[2016-06-21 17:20] zaaroth commented on #1816
Add :touch => true to answer_count.

That way, when you change the number of answers to the question it's updated_at field will get a new timestamp, thus "invalidating" the previous question cache.

[2016-06-21 22:46] chrishough opened #1817 "Couldn't find template for digesting"
[code]

I have been researching this for awhile now.  With GET requests to my JSON api I am seeing these in the logs.  Any ideas?

[2016-06-22 00:52] bf4 commented on #1817
How are you calling render?  Are you using the cache-digest gem or anything?  This isn't coming from AMS

[2016-06-22 00:52] bf4 commented on #1817
e.g. https://github.com/rails/rails/issues/19198

[2016-06-22 00:54] bf4 commented on #1816
If you use default cache keys, they depend on the object's updated at and will 'self invalidate'. This is outside the scope of AMS.  https://signalvnoise.com/posts/3113-how-key-based-cache-expiration-works

[2016-06-22 00:54] #1816 closed

[2016-06-22 02:01] chrishough commented on #1817
No, I am not. I am just using this for example:

[code]
and...
[code]

[2016-06-24 02:08] cannahum opened #1819 "Undefined method 'key?' -- NoMethodError"
#### Expected behavior vs actual behavior
I'm trying to run my Rails app on Heroku, but it fails at start because of the NoMethodError

#### Steps to reproduce

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*: 0.10.1

Output of `ruby -e "puts RUBY_DESCRIPTION"`:

OS Type & Version:

Integrated application and version *(e.g., Rails, Grape, etc)*: Rails 4.2.3

#### Back

[2016-06-24 02:30] zaaroth commented on #1819
Try one has_many per line. Place vote_options under it's own has_many

-- Paulo

[2016-06-24 05:00] groyoh commented on #1819
@cannahum the solution given by @zaaroth is indeed the right one:

[code]

The first argument is always the association name and the second one the options `Hash`. I'm closing this issue as it is simply a misusage :wink:

[2016-06-24 05:00] #1819 closed

[2016-06-24 05:11] #1807 closed

[2016-06-24 19:43] bf4 commented on #1817
@chrishough it's mentioned in http://www.akitaonrails.com/2016/03/23/improving-your-microservices-integration-performance-with-memcache-and-etags seems to be a result of ` if stale?(@shop)` that is okay

[2016-06-27 11:33] jaredgalanis opened #1820 "undefined method `fetch_or_store' for #<ThreadSafe::Cache"
#### Expected behavior vs actual behavior

I upgraded to 0.10.1 from 0.9.5. Previously hitting an endpoint worked just fine and a payload was returned without error. Nothing has changed in my Rails controllers or serializers. Now when I hit an end point there is the following error:

[code]

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

My serializer

[2016-06-27 14:32] bf4 commented on #1820
What version of the thread_safe gem do you have?

[2016-06-27 14:34] jaredgalanis commented on #1820
from the gem file it looks like:

`gem 'thread_safe', '0.2.0'
`

[2016-06-27 14:37] bf4 commented on #1820
ok.  I think that was added in 0.3.4. https://github.com/headius/thread_safe/tree/v0.3.4  Any way you can upgrade?

[2016-06-27 14:39] bf4 commented on #1820
That's like going from the  Feb 26, 2014 version to May 27, 2014. Otherwise, you'll have to either patch the gem or patch the serializer. https://github.com/headius/thread_safe/commit/aed23e870be68fbac2d61731f715a1add044b226

[2016-06-27 14:40] jaredgalanis commented on #1820
Thanks @bf4, this is an upgraded rails project so it probably got left in the gem file accidentally. I'll update it now and post the results.

[2016-06-27 19:52] aalvarado opened #1821 "CollectionSerializer defaults"
#### Expected behavior vs actual behavior

using carrierwave to have attachments attached to 'tasks'

in development mode, querying `tasks/1/attachments` yields:

[code]

in test it yields:

[code]

ie `attachments` != `attachment`
It seems like it's using a different adapter for collections. And also it's wrapped differently

if you scroll below you can see the output of both test and development

[2016-06-27 22:23] aalvarado commented on #1821
0.9.5 seems to work correctly

[2016-06-28 11:11] NullVoxPopuli commented on #1821
can you paste your test?
thanks!

[2016-06-28 18:21] groyoh commented on #1821
@aalvarado could you also output how you serialize the collection?

[2016-06-28 18:26] #1820 closed

[2016-06-29 13:51] aditya01933 opened #1822 "Not working with api version system"
I am not sure if it's an issue with gem or I am following wrong steps.

According to doc of 0.10 :
When serializing a model inside a namespace, such as Api::V1::Post, ActiveModelSerializers will expect the corresponding serializer to be inside the same namespace (namely Api::V1::PostSerializer)

I followed the same step but it's not working. Please check if it's a bug.
My active model serializer v

[2016-06-29 13:54] NullVoxPopuli commented on #1822
do you have a repo set up?
can you answer the questions in the New issue template? https://github.com/rails-api/active_model_serializers/issues/new

thanks!! :-)

[2016-06-29 14:11] NullVoxPopuli commented on #1822
can you add your (unexpected) output?

[2016-06-29 14:20] aditya01933 commented on #1822
Its not generating any error. It's showing normal json response without serialization of data.

[2016-06-29 17:18] aalvarado commented on #1821
there's no attachment serializer, however the point is, that somehow is picking up a different serializer in dev than in test. Why is it doing that is the real question, does the initializer for an adapter does no effect on latest version?

[2016-06-29 17:19] aalvarado commented on #1821
works fine in 0.9.5... hmmm

[2016-06-29 19:25] bf4 commented on #1822
What's a normal JSON response?

Namespace lookup isn't perfect.  Nothing wrong with passing in the serializer to render.

[2016-06-29 19:27] #1822 closed

[2016-06-29 19:28] aditya01933 commented on #1822
I have changed it to class Api::V1::PlanSerializer < ActiveModel::Serializer and its working. :)

[2016-06-30 05:34] ekampp opened #1823 "How do I change the default pagination params?"
#### Expected behavior vs actual behavior

[JSON API states](http://jsonapi.org/format/#fetching-pagination) that "[...]  For example, a page-based strategy might use query parameters such as page[number] and page[size] [...]"

So I would expect some way of configuring this. I cannot find that place. Am I missing something, or is this just not a config option?

#### Steps to reproduce

N/A

#### E

[2016-06-30 07:58] groyoh commented on #1821
Does not really tell much. 0.10 is based mostly on 0.8 and 0.9 was a complete rewrite.

Then I don't get how you actually use AMS :confused:. If you can't provide any code snippet, I'm not sure we will be able to provide much help here.

[2016-06-30 17:55] aalvarado commented on #1821
I'll try to get a failing test soon.

[2016-07-01 06:04] LcpMarvel opened #1826 "render json object without serializer shoud not call `serialization_scope`"
#### Expected behavior vs actual behavior

I found the test in `test/action_controller/serialization_test.rb`

[code]

I think the `serialization_scope` can not help for this pure json reuslt, so I don't have to fetch db to find current_user.

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*
[code]

[2016-07-01 06:09] LcpMarvel commented on #1826
I found that using ` render json: { error: 'Result is Invalid' }, scope: nil ` will be fine, but serializer can do better.

[2016-07-01 15:19] tommiller1 commented on #1333
Is anyone working on adding the 'include: true' option to associations? Would be nice to couple 'include' with 'if' so we can move inclusion logic to the serializers.

[2016-07-02 15:09] tommiller1 opened #1828 "including nested associations"
Hi,

I have been searching around for a solution to the issue of having to explicitly specify nested associations in the controllers in order to serialize them. It seems nested associations are skipped to avoid the cyclic dependency issues that could arise from blindly serializing everything. Attributes on the other hand are always serialized, but if I replace a has_one with attribute it will just

[2016-07-03 08:06] kapso commented on #1803
I have the same issue in `0.10.1`. This was working in `0.9.5`

[2016-07-03 14:49] steverob opened #1829 "Caching entire collection"
I understand that AMS caches objects individually. And it seems to work great. Here is my serializer -

[code]
And this is my controller action -

[code]
Although individual viewer objects are being fetched from the cache, the query to fetch all the viewers is still firing - and I understand why that's happening.

Inorder to prevent even that from hiring, should I have a serializer that has `viewe

[2016-07-03 17:26] steverob commented on #1804
Thanks for the hard work @onomated and @bf4. I can confirm I am facing the same issue with `v0.10.1`. Going to try with master.

[2016-07-05 18:29] bf4 commented on #1823
There's a couple of ways, but basically you probably want to look at https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/add_pagination_links.md#how-to-add-pagination-links and report back here if that resolves your question or any followup questions

[2016-07-05 18:30] bf4 commented on #1821
@aalvarado What's your controller's render statement look like?

[2016-07-05 18:31] bf4 commented on #1817
@chrishough would you consider this resolved, that it's a non-Rails, non-AMS  warning that can be ignored?

[2016-07-05 18:32] bf4 commented on #1813
@theotherzach how are you feeling about making a PR?

[2016-07-05 18:33] bf4 commented on #1804
I just released 0.10.2 which fixes the fragmented cache with read_multi issue https://twitter.com/hazula/status/750394854115450880

[2016-07-05 18:33] bf4 commented on #1804
@onomated What's needed to consider this issue resolved?

[2016-07-05 18:34] bf4 commented on #1803
@kapso does my comment resolved your issue? https://github.com/rails-api/active_model_serializers/issues/1803#issuecomment-225896669

[2016-07-05 19:06] theotherzach commented on #1813
Hey @bf4, sorry that I've been quiet on this. I'm still at least a week away from this PR, unfortunately. :(

I'll put time on my calendar for this weekend.

[2016-07-05 19:48] onomated commented on #1804
@bf4 Swamped with looming deadlines, but what I did in the time being was to disable caching all together for those models.  I can re-enable and verify, but it is a pretty straightforward verification.  I rendered json for my models and inspected the fields saved in cache expecting the my `except` fields are omitted in the cached result.
As a side note, I use [Rubymine](https://www.jetbrains.com/r

[2016-07-05 19:59] bf4 commented on #1804
would love to know what this entails.

[2016-07-05 21:05] aalvarado commented on #1821
Using Rails api

This is the Base API controller
[code]

This is the tasks controller:

[code]

[2016-07-05 21:47] ekampp commented on #1823
I have looked there. It doesn't supply any immediate option for changing the resulting JSON from `page[number]` to e.g. `page`, and `page[size]` to `per_page`.

As quoted the JSON API standard doesn't have any preference. So I would like to move away from the `page` hash and into a more simple, flat pagination parameter structure in my project. I would have expected this to be both possible and si

[2016-07-05 21:57] bf4 commented on #1823
Maybe take a look at https://github.com/rails-api/active_model_serializers/issues/1549#issuecomment-191568335 and https://github.com/rails-api/active_model_serializers/pull/1596#issuecomment-202103599 ?

[2016-07-05 21:59] bf4 commented on #1821
`  [{\"attachment\":{\"id\":2,\"file\":{\"url\":\"url/text.txt\"},\"task_id\":3,\"created_at\":\"2016-06-27T19:45:50.276Z\",\"updated_at\":\"2016-06-27T19:45:50.276Z\"}}]
`

looks like it's called `to_json` on the `@tasks` object and not using the serializer.  but why would it have content in the test but not in production? Is that relevant?

[2016-07-05 22:32] bf4 commented on #1828
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this issue.

[2016-07-05 22:32] #1828 closed

[2016-07-05 22:33] bf4 commented on #1828
Also, attributes aren't the same as associations, which is why you're not seeing serializers used on attributes when the attribute is an active record object.

However, you can specify a method on the serializer with the association name and manually specify a serialization there.

Could you link to the old issue you referenced? Thanks

[2016-07-05 22:47] aalvarado commented on #1821
no, it had content, but was just trying to illustrate how it was being wrapped differently.

[2016-07-06 11:08] tommiller1 commented on #1828
Old issue: #1333

[2016-07-06 14:00] pravi opened #1831 "request to follow SemVer/mention it in README"
Do you follow Semantic Versioning http://semver.org? If yes, can this be mentioned in README? If not, can you consider it?

[2016-07-06 14:55] onomated commented on #1804
@bf4 Still seeing excluded fields in cache with `0.10.2`.  Will pull master and work on a failing spec.

[2016-07-06 16:53] kapso commented on #1803
Yea tried, but did not work @bf4

[2016-07-06 19:05] ekampp commented on #1823
Both of those relates to disabling pagination. I'm not interested in that. I'm interested in hot to configuring the `page[number]` to just `page`, and the `page[size]` to `per_page`.

[2016-07-06 19:15] bf4 commented on #1823
@ekampp yeah, you need to disable the convention and then write it yourself.  I'm not sure what you were expecting.

[2016-07-06 19:17] bf4 commented on #1823
@ekampp If you want to modify the PaginationLinks builder in a PR so that it can be customized, you are welcome to, but we already let you build what you want.

[2016-07-06 19:18] bf4 commented on #1831
We do use semantic versioning. I'd welcome a PR to add it to the readme.

[2016-07-06 20:19] ekampp commented on #1823
Since the standard specifically states it's agnostic I did expect a configurable option for the names. But I'll figure it some other way, then.

[2016-07-06 20:19] ekampp commented on #1823
@bf4 Thanks for your help. 👍

[2016-07-06 20:32] bf4 commented on #1823
@ekampp Yeah, we generally implement the recommendations when possible, but not require them. In some cases, such as this, we weren't as careful in making it easy to opt out of the recommended pagination

[2016-07-06 22:12] talune opened #1832 "Rendering a nil object with a custom serializer fails"
Updating from 0.9.5 to 0.10.2, encountering error when custom serializer attempts to render a nil object

Seems to be the same error as closed issue #204. Is this error now the expected behavior?

#### Expected behavior vs actual behavior

**Given**
[code]

**Expected**
`json` equals nil

**Actual**
Error: `undefined method 'read_attribute_for_serialization' for nil:NilClass`

#### Steps to reprod

[2016-07-06 22:22] bf4 commented on #1832
Don't do that!

[2016-07-06 22:22] #1832 closed

[2016-07-06 22:25] bf4 commented on #1832
Serializers expect records.  We can't stop you from passing in nil.  It's outside the scope of AMS to prevent users passing in the wrong data type for a serializer.

If you have something that may be nil, do a nil check or use SerializableResource

Anything else come up in the upgrade? Please feel free to continue discussion here.

[2016-07-07 01:32] #1826 closed

[2016-07-07 13:38] rikas commented on #1389
I have the same problem. Also using AMS outside Rails (Sinatra API).

[2016-07-07 18:36] bf4 commented on #1389
@rikas could you open a new issue? This is resolved in released code, I believe

[2016-07-08 20:25] bdmac opened #1834 "Key translation mutates JSON attributes on serialized models"
#### Expected behavior vs actual behavior

https://github.com/rails-api/active_model_serializers/commit/c533d1a7fe202a904af178cd22c54cc14383bab0 added support for key transformation to e.g. snake case or dasherized. Nice and useful however it appears to use `deep_transform_keys!`. I'm not 100% sure but I have a feeling this is causing serialized models with JSON attributes (e.g. postgres JSON colu

[2016-07-08 20:28] bdmac commented on #1834
A second part of this bug is that I do not think it would be expected behavior that if a model includes a JSON attribute, that that JSON attribute would ALSO go through the same transformations as the model/response itself. I mean maybe but it seems like that should be something that can be opted in/out at least.

[2016-07-08 20:30] bdmac commented on #1834
I can fix the mutation problem by simply not using the bang version of `deep_transform_keys!` in ActiveModelSerializers::KeyTransform.

I'm not sure how to make it so a JSON attribute of a serialized object is not transformed...

[2016-07-08 20:47] bdmac commented on #1834
Eek yah I tried to look at KeyTransform a bit and it seems like it would be pretty damn hard to make it not transform JSON model attributes since it just gets the entire Hash structure and recursively transforms all the keys at once. It does not have access to the underlying/original models to even try to check if the nested JSON it's dealing with is there because of a JSON attribute/column or not

[2016-07-08 21:07] bf4 commented on #1834
@bdmac we shouldn't be mutating the model, no matter what.  Is that specific to using a JSON field?  I'd be happy to work with you on PR for that.

[2016-07-08 21:08] bf4 commented on #1821
Ok, well, without more information, I can't really help any further

[2016-07-08 21:11] bdmac commented on #1834
@bf4 I believe so, yes, because we use the mutating version of `deep_transform_keys` and it seems like the hash representing the JSON column is sharing a pointer with what was pulled from the model originally still. E.g. at some point when we are building up the hash representation of the model with a JSON attribute we are just doing `hash[attribute_name] = model.read_attribute(attribute_name)`.

[2016-07-08 21:24] bf4 commented on #1834
@bdmac fwiw, the key transform is a performance hit you might resolve better on the client...

[2016-07-08 21:27] bdmac commented on #1834
@bf4 that may be true but transforming is the default behavior of the JsonApi adapter in AMS.

[2016-07-08 21:37] bf4 commented on #1834
@bdmac yeah, in retrospect I don't think it was a good decision. I have it set to `:unaltered` in my own app.  Picking good defaults is hard

[2016-07-08 21:45] bdmac commented on #1834
I mean maybe it was a bad decision but the JSON API spec calls for dasherized keys so even if you did not automatically dasherize, the end-user would end up needing to dasherize anyways. We were dasherizing prior to attempting to update to 0.10.2 (which includes the KeyTransform stuff) just in a way that did not mutate (or recursively dasherize everything).

[2016-07-08 21:53] bdmac commented on #1834
@bf4 FWIW I've been able to work around this problem. I turned off key transformation as you mentioned by setting key_transform config to `:unaltered`. Here is our initializer now for reference:

[code]
We were already/previously using the custom `DasherizedJsonApiAdapter` adapter since pre-release versions of 0.10.x did not have support for key transform / dasherized keys. I was __hoping__ to get

[2016-07-08 21:54] aalvarado commented on #1821
Yeah sorry, I've had some difficulties trying to get that test.

[2016-07-10 16:32] pravi commented on #1831
@bf4 are you planning for a 1.0 release soon?

[2016-07-10 16:59] aandis commented on #938
+1. This is a [necessity](https://github.com/ember-data/active-model-adapter#description) for `active-model-adapter`. Would really like it back.

[2016-07-10 18:30] bf4 commented on #938
@aandis This macro won't be re-added as it was from an earlier iteration of JSON API see https://github.com/rails-api/active_model_serializers/issues/938#issuecomment-188129077

The docs you link to are because that repo hasn't been updated https://github.com/ember-data/active-model-adapter/issues/66

[2016-07-10 23:30] bf4 commented on #1831
When we have a 1.0 we'll release it.

[2016-07-11 07:10] smoothdvd opened #1837 "When collections render to json, there is no root key."
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

[code]

[code]
and output json is:

[code]
#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:
0.10.2
Output of `ruby -e "puts RUBY_DESCRIPTION"`:
2.2.3
OS Type & Version:
OS X 10.11.6 Beta
Integrated application and version *(e.g., Rai

[2016-07-11 07:13] smoothdvd opened #1838 "Collection render to json and lost root key"
#### Expected behavior vs actual behavior

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

[code]

[code]
and output json is:

[code]
#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*:
0.10.2
Output of `ruby -e "puts RUBY_DESCRIPTION"`:
2.2.3
OS Type & Version:
OS X 10.11.6 Beta
Integrated application and version *(e.g., Rai

[2016-07-11 07:13] #1837 closed

[2016-07-11 22:42] bdmac commented on #1442
@bf4 is there any update on serializer lookup support? As things stand today on 0.10.2 I'm still in need of my monkey patched version of `serializer_lookup_chain_for`. I see this RFC is still open and there are seemingly many other interrelated Issues/PRs and I'm having trouble figuring out where this stands.

[2016-07-11 23:09] NullVoxPopuli commented on #1442
@bdmac there is this: https://github.com/rails-api/active_model_serializers/pull/1757

[2016-07-12 00:06] bdmac commented on #1442
@NullVoxPopuli is that the final result/direction from this RFC? I notice that is not merged yet either so still unclear what the ultimate direction will be.

[2016-07-12 00:11] NullVoxPopuli commented on #1442
I'm not sure. We've had a hard time deciding on a proper API for this.

I'm in favor of one that's configured via the initializer (like in #1757).

[2016-07-12 00:11] NullVoxPopuli commented on #1442
if you have any opinions, please share! :-)

[2016-07-12 02:07] NullVoxPopuli opened #1841 "Casing on keys is performed too early during serialization"
Everything should use the same casing, I suggest `under_score`.
Currently, for the various options we pass to `render`, which casing we have to use is up in the air.
Sometimes its underscore, sometimes its the casing we have chosen for the config (such as hyphenated)

#### Expected behavior vs actual behavior

If `key_transform` is `dash`

Expected:
[code]
or
[code]

Actual:
[code]

#### Environme

[2016-07-12 02:19] bf4 commented on #1442
My own solution is rather simple: I have a method in the controller that drrives the record class and passes that in to render, so it's not a pressure I'm feeling.  It's def on the todo list, just needs a simpl impl

B mobile phone

[2016-07-12 02:23] NullVoxPopuli commented on #1442
I thought my implementation was pretty simple :-\

[2016-07-12 04:29] bdmac opened #1842 "Testing JSON API"
Warning: I believe this issue is only tangentially related to AMS but is related to JSON API testing in general.
#### Expected behavior vs actual behavior

I am trying to upgrade an app to Rails 5 / AMS 0.10.2 and I am using `register_jsonapi_renderer` to register the JSON API mime type and parser with Rails. This works great for inbound data but I'm seeing some annoying behavior in Rails' `Action

[2016-07-12 04:46] bdmac commented on #1442
Ben that works for the top level but unless something else is wrong for me this fails to carry through to associations. The top level serializer gets the namespace fine but associations on that serializer don't respect the namespacing without my monkeypatch (which I submitted as a pr ages ago).

 ~ Brian McManus

[2016-07-12 11:59] jaredgalanis commented on #1820
Just circling back on this to confirm that @bf4 was correct. The upgrade of thread_safe gem to 0.3.x fixed this issue. For those in the future that may have the same issue: the thread-safe gem was outdated because we upgraded to Rails 5.0.x beta (from Rails 4), but we did not also move to the current version of the thread_safe gem.

[2016-07-12 14:22] iMacTia commented on #1828
+1 for this one 👍
We've been discussing a lot about it and @NullVoxPopuli reached a good point in the implementation of this feature, but then the support was suddenly dropped.
We simply want to know if someone is working on this feature and what are the plans for it.

In short, `v0.10.2` allows you to do this:

[code]

But it would be great to be able to do this:

[code]

This was first asked on

[2016-07-12 14:28] bf4 commented on #1828
@iMacTia this isn't really the right place for your comment.  what you've written is a feature request.  Bear in mind, that AMS is oriented to using the semantics of jsonapi.org/format/ which doesn't map well to your implementation. The AMS way to do that would be to use default params in your render call, rather than patch the serializer. i.e. something like `render json: post, include: [:metrics

[2016-07-12 14:37] NullVoxPopuli commented on #1828
@iMacTia - @bf4 hit the nail on the head.

since JSON API is the most full-featured, we're based all the adapter functionality off of that. We also want to ensure the apis are the same in all adapters, (which we currently don't have) -- so this feature request _may_ be implemented post 1.0, but for right now, a new issue fully describing your feature request would be most beneficial! :-)

[2016-07-12 14:39] iMacTia commented on #1828
@bf4, @NullVoxPopuli  I know it looks like a feature request, but this was indeed requested hundreds of other times in the past. All we (me and @tommiller1 in this case) wanted was an update on the current situation of the highly requested feature.

Reading your answer, it looks like you (an by "you" I mean the AMS team) don't plan anytime soon to implement it, and from your explanation it would m

[2016-07-12 14:45] NullVoxPopuli commented on #1828
actually, if you want to do a PR that gives the same API across all adapters, I'll gladly review and accept it.

The issue with the team right now is prioritization of things that absolutely *have* to get done for AMS 1.0 / Rails 5.1. :-(

I totally understand your frustration though, and I'm sorry about all that :-(

This is something I want to stop doing. Having different options between the ada

[2016-07-12 14:49] iMacTia commented on #1828
I'm sorry to appear "frustrated", I'm just concerned about my projects that are stuck with old monkey-patched versions of AMS for this very reason.

This is really an amazing gem and I would be happy to contribute, so if that's ok with you I would drop a message in #1333 which is the perfect representation of my feature request (and is still open) to push for the "team discussion".

If the team is

[2016-07-12 14:51] NullVoxPopuli commented on #1828
You already have a monkey patch for this feature? That sounds like it may easily be translated to a PR?

can you post what you have in #1333?

Thanks!

[2016-07-12 15:46] iMacTia commented on #1333
I would like to 👍 +1 on this one and to trigger the "Team Discussion" needed to progress on this :)
Just finished chatting about it with @bf4 and @NullVoxPopuli in #1828, this would be a really nice and useful addition to those sticking with the good old standard JSON adapter.

I understand the concerns around this feature, as @bf4 already pointed out:

[code]

And @NullVoxPopuli added:

So here w

[2016-07-12 15:58] bf4 commented on #1828
@iMacTia

So sorry that it read this way.  What I meant is that I, Benjamin, tend to work on problems that I have a good understanding of the problem and an idea for the solution. But, that doesn't mean I don't want anyone else to do any work!  I would definitely accept a PR that meets your need, and work with you to make the PR follow the 'AMS' way, such that there is one, or at the least, make i

[2016-07-12 16:07] NullVoxPopuli commented on #1333
@iMacTia thanks for posting your code!

Some questions I have:
 - if a has_many is specified as `included: true`, what happens when someone uses the render `include` option? is he serializer option ignored? is it ALWAYS included? (I think always is the most intuitive -- so the only way to not include that has_many is to whitelist fields other than that has_many)

- should the api for this be `incl

[2016-07-12 16:14] JamesChevalier commented on #1667
FYI, for anyone who ends up here on this issue:
I just updated devise_token_auth to version 0.1.38 and active_model_serializers to 0.10.2 and it looks like things are working out OK!

[2016-07-12 16:36] iMacTia commented on #1333
Very interesting questions, I asked myself the same and here is my personal opinion:

1. The association `include` option will not substitute the render one, they simple fit two different scenarios. The former intrinsically means "when using this serialiser, you should always include this association", whether the latter means "in this specific case, include these associations in the rendering". S

[2016-07-12 16:40] iMacTia commented on #1828
That's fine @bf4, I completely understand. Last thing I wanted was pretending the AMS team to implement the feature for me as soon as possible :).

I just wanted to know what the status was and of course if we have the necessary agreement to plan a solution implementation.

If no-one is available to get the implementation done, and I feel like fitting the job, then I will be happy to provide a PR

[2016-07-12 16:45] oyeanuj commented on #1333
So happy to see this issue come alive again! Thanks @iMacTia @NullVoxPopuli :)

Couple of questions which I'd like clarified -

1. It seems like the options are being discussed only for JSON adapter and not the JSON-API adapter. When I originally created the issue, I was hoping to migrate the JSON-API adapter as well. Reading through the JSON-API spec, it doesn't seem like the JSON-API adapter can

[2016-07-12 20:31] danielgrippi commented on #824
Per the [PORO documentation](https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/serialize_poro.md), we added `alias :read_attribute_for_serialization :send` to our SimpleDelegator and it fixed the issue for us.

[2016-07-12 20:33] danielgrippi commented on #824
per @rounders's comment, including 'ActiveModel::SerializerSupport' to a delegator fixes this.

[2016-07-12 20:34] tommiller1 commented on #1333
+1 for default_includes, it could be used for conditionally including associations too. WIth the include: true option, the next feature request will be include: :is_current_user? etc.

[2016-07-12 23:59] bdmac commented on #1442
@NullVoxPopuli i believe that works for my case as I just wound up monkeypatching `serializer_lookup_chain_for` to add:

[code]

Pretty sure your implementation allows me to still do that but w/out monkeypatching.

[2016-07-13 08:21] iMacTia commented on #1333
@tommiller1 not sure what do you mean by

could you provide an example :)?

@NullVoxPopuli it looks like this `default_includes` makes sense to others, I'll fork (again) the repo and start working on it

[2016-07-13 09:06] tommiller1 commented on #1333
If you look at the ':if' keyword in ams, it supports blocks and lambdas to allow conditions. Similarly a ':default' keyword would also be expected to support all that. Anyway nevermind, the 'default_includes' is probably the most elegant and unobtrusive way of adding this functionality. Thanks for working on it, hope the creators will accept your pr.

[2016-07-13 10:05] iMacTia commented on #1333
Thanks! Will do my best to get something done to have this feature in place as soon as possible, with the help of the AMS team. After that, it could be the starting point for additional sub-features like the one you described :)

[2016-07-13 12:32] NullVoxPopuli opened #1843 "RFC - Refactor (Part 1) to get all the adapters using the same API"
Current Issues with adapters:

 - repeated code:
   - include logic
   - building relationships
   - building the attributes hash (from fields whitelisting, for example)
- all the logic for retrieving fields from the cache is different per adapter
- `JSON` and `Attributes` are missing features that `JSON API` offers
   - If adapters are what we intend them to be, they'll all be just _formatters_..

[2016-07-13 14:16] iMacTia commented on #1333
Ok guys, quick update.
After spending some time digging into the code this morning, I now have a better idea of how the architecture works.
The easiest solution I can see, is a little more restrictive than what I initially planned, but I also think it would still fit most cases.

The idea is to modify [`ActiveModel::Serializer::Associations#associations`](https://github.com/rails-api/active_model_

[2016-07-13 14:22] NullVoxPopuli commented on #1333
I think the value of default_includes should be `nil`

I think the format of how it's specified should be the same as the include param, then you could do:

[code]

[2016-07-13 14:47] iMacTia commented on #1333
@NullVoxPopuli: thanks, I've been thinking the same and that would be great!
But unfortunately I'm concerned by a couple of issues here:

1. Deep merge is not a method of `JSONAPI::IncludeDirective` (we can always implement it :D)
2. Are we sure that doing this, nested includes will be correctly passed to the associations serialisers?

[2016-07-13 15:01] bf4 commented on #1843
? https://github.com/rails-api/active_model_serializers/blob/master/docs/rfcs/template.md

[2016-07-13 15:14] NullVoxPopuli commented on #1333
@iMacTia you can get the hashes from the include_directive. It's just a fancy wrapper around a hash anyway, and I think it can take its output as input.

So,

[code]
(I think)

re: 2: that's what unit tests are for :-)

[2016-07-13 15:15] NullVoxPopuli commented on #1843
I didn't know that existed, thanks!

[2016-07-13 15:15] bf4 commented on #1843
- serializers have an `attributes` methods. It executes `read_attribute_for_serialization` on each attribute in `self.class._attributes`.
  - the list of serialized attributes can be limited by passing in an argument `options[:fields]`
- serializers have a list of defined `associations`
  - for each associated, a serializer is found, and we call `attributes` on it.
    - we pass in to attributes `

[2016-07-13 15:16] iMacTia commented on #1333
Good to know, will give it a try now :)!

[2016-07-13 15:29] bf4 commented on #1843
We'll also want to discuss other concerns, not totally related, but on my mind:

- Using a serializer on it's own
- Trying to serialize a serializer
- The [default serializer like in 0.8](https://github.com/rails-api/active_model_serializers/blob/0-8-stable/lib/active_model/serializer.rb#L499-L514) and  in 0.9 the [default_serializer](https://github.com/rails-api/active_model_serializers/blob/0-9-

[2016-07-13 15:36] iMacTia commented on #1333
@NullVoxPopuli unfortunately this doesn't work well with wildcards. All internal options are also lost after calling `to_hash` 😞

Looks like we'll need some sort of ad-hoc implementation. Does it make sense to have it in the same PR?

[2016-07-13 15:59] NullVoxPopuli commented on #1333
[code]

?

[2016-07-13 16:00] bf4 commented on #1333
@iMacTia @tommiller1 @NullVoxPopuli I wrote some comments in https://github.com/rails-api/active_model_serializers/issues/1843#issuecomment-232387846 that I think relate to this discussion.

but I think the comments beginning with https://github.com/rails-api/active_model_serializers/issues/1333#issuecomment-229974176 deserve a new issue as the original issue is really invalid, and in any case, it

[2016-07-13 16:07] iMacTia commented on #1333
@bf4 got it, I agree. Let us fix this to_hash thing and then I'll open a new Issue :)
@NullVoxPopuli I made a quick test:

[code]

And the result is:

    $ rake test
    => 512 runs, 786 assertions, 78 failures, 20 errors, 0 skips

This is because values in `JSONAPI::IncludeDirective` are nested `JSONAPI::IncludeDirective` objects, and these objects have an `@options` property where to store the

[2016-07-13 16:22] NullVoxPopuli commented on #1333
ah ok. Maybe we need to implement a merge method in the JSONAPI gem. It's owned by one of our maintainers, @beauby :-)

[2016-07-13 16:24] iMacTia commented on #1333
nested pool requests 😄 !
@beauby: is it fine for you if we create a PR in your gem to add this method?

[2016-07-13 16:25] NullVoxPopuli commented on #1333
@iMacTia @beauby is pretty laid back, I'd just do the PR, and submit it, and see what happens :-)

[2016-07-13 16:26] iMacTia commented on #1333
ok, let's for jsonapi as well!
Also, as @bf4 suggested, I'll open a new issue to keep discussing about this :)

[2016-07-13 16:43] NullVoxPopuli commented on #1843
@bf4, updated with the RFC template.

[2016-07-13 16:46] NullVoxPopuli commented on #1843
So that it's recorded, I'm going to start with some PRs of refactoring some of the smaller things, such as include,fields, and see where that takes me

[2016-07-13 16:56] bf4 commented on #1333
Related, test written by Rich https://github.com/rails-api/active_model_serializers/compare/47d7848%5E...bf4:richmolj-master

[2016-07-15 13:27] kjs3 opened #1847 "Serializer not emitting JSON API spec"
#### Expected:

In Rails, when configured with `ActiveModelSerializers.config.adapter = :json_api`

I expected using `ArticleSimpleSerializer.new(article).as_json` (or `.to_json`) **_outside_** of a controller to emit JSON in JSON API format including `data`, `type`, and `attributes` root keys.

#### Actual:
I get JSON object with Serializer attributes. Essentially what I would have expected in
`j

[2016-07-15 13:30] NullVoxPopuli commented on #1847
`SerializableResource` will take all the render options, so you can pass the serializer to it :-)

Lemme know if that changes anything :-)

[2016-07-15 13:36] kjs3 commented on #1847
Thanks @NullVoxPopuli!

[code]

works perfectly.

Are you interested in a PR that spells this out in the docs?

[2016-07-15 13:39] NullVoxPopuli commented on #1847
yeah, it looks like https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/outside_controller_use.md doesn't say what can be in `options` :-)

[2016-07-15 17:28] lbrito1 commented on #1240
I'm interested in using some stuff from`ActiveModel::AttributeAssignment` in a PORO. [Documentation](http://api.rubyonrails.org/classes/ActiveModel/AttributeAssignment.html) uses this example:

    class Cat
      include ActiveModel::AttributeAssignment
      attr_accessor :name, :status
    end

Which raises an `uninitialized constant ActiveModel::AttributeAssignment` as noted by @vasilakisfil.

[2016-07-15 20:55] bf4 commented on #1240
@lbrito1 I think you're in the wrong repository.  `ActiveModel::AttributeAssignment` is part of Rails. you may want to ask on the rails-talk list serve or look on stack overflow or in the Rails source.

[2016-07-17 17:39] Jarred-Sumner commented on #938
+1. I need this too.

[2016-07-17 17:54] NullVoxPopuli commented on #938
some work on this is actually being done here: https://github.com/rails-api/active_model_serializers/pull/1845

[2016-07-18 03:27] saneshark commented on #1823
Just added this to my initializer and it seemed to solve the problem.

[code]

[2016-07-18 10:54] iMacTia opened #1849 "Provide a clear way to include nested associations and fields"
#### The Situation
I encourage to have a read to #1333 and #1845.

Let's assume we have the current serializers:

[code]

#### The issue
The only way to specify nested associations inclusion, at the moment, is through the controller's render `include` option, as shown in the current examples:

[code]

The issue is that in this case (I admit is probably a stupid example, but stay with me), when ren

[2016-07-18 11:56] NullVoxPopuli commented on #1849
Some thoughts:

re: 1:
Where this gets complicated is when you want to stray from your default (say, when you want to render an aggregate index view, and you only want limited amounts of data).

the render include should for sure have the final say in what gets included. But with default include setups, how do specify that we don't want something (like if we're aggregating things for a large amoun

[2016-07-18 12:18] tommiller1 commented on #1849
The problem that we started off with was how to avoid 'repetitive includes' in the controllers. Ex. if you have a 'Product' serializer with a has_one :price and has_one :image, you might |always| want to include those two associations since the product wont be complete without them. By default only the associations on the top-most object are serialized (to avoid cyclic dependencies) so if you are

[2016-07-18 12:27] tommiller1 commented on #1849
**always_include:** associations that should always be serialized even if the object is deeply nested.
**include/exclude:** specific fields on the target association that you want to include/exclude (when you dont want to serialize the whole thing).
**default_include:** associations that you want to include by default (without default_includes the adapter decides which associations to include, whi

[2016-07-18 12:39] NullVoxPopuli commented on #1849
since acceptable values for `include` are pretty limited, maybe we need to be looking at `fields` functionality? `fields` will wihtelist both attributes and relationships.

[2016-07-18 14:37] iMacTia commented on #1849
I agree with both of you and I also think that we're getting some confusion here in order to allow too many different possibilities.

@tommiller1 actually got straight to the point, the issue we want to solve is that sometimes an object really makes sense only when serialised with some associations. Or simply we need those associations to always be included when that object is serialised. To get t

[2016-07-18 18:23] NullVoxPopuli commented on #1849
an example:

[code]

I'll use include notation to keep things short,

[code]

implies: `include: 'author,comments.author,comments.replies'`
by traversing the tree, I mean that all the way down relationships tree, default_include is merged

[code]
since we only specified a *default*, this would mean your result would simply be `comments`, and none of the specified default included stuff.

but if we

[2016-07-18 19:00] iMacTia commented on #1849
Yes thanks! That's a lot clearer now :)
Unfortunately I don't think there's a correct answer to this, whichever implementation we'll go for will never cover all possible cases.

I think that giving something powerful like `always_include` should also rely on users understanding that they simply can't override that. You'll need to use a different serialiser for that (which is not even that much dif

[2016-07-18 19:03] rzane commented on #1829
Less than ideal, but:

[code]

[2016-07-18 19:22] bf4 commented on #1842
@bdmac would you mind adding which AMS version you're on and what's in your initializer, or wherever you are configuring AMS?

[2016-07-19 00:03] bdmac commented on #1842
Sure, here's the initializer I wound up with: https://gist.github.com/bdmac/e75870b162e1b842af3de46bc2bbc1db

[2016-07-19 00:49] brosintoski opened #1851 "#as_json option :only Not working"
#### Expected behavior vs actual behavior
Expected: Only fields passed to only option are returned from `as_json`.

Actual:  All fields/attributes of the serializer are returned.

#### Steps to reproduce
1.  Create an activerecord model called User with say name and status.
2.  Create a serializer for that model with `attributes :id, :name, :status`
3.  From console execute following steps:
     `

[2016-07-19 01:03] tommiller1 commented on #1849
Looks good to me, PR plx.

[2016-07-19 08:31] iMacTia commented on #1849
Would like to agree with @bf4 and @NullVoxPopuli as well before coming back to #1845 and adding the association options.

[2016-07-19 12:09] mehta commented on #1022
@joaomdmoura - this will change with upcoming release(commit SHA - aa4d89ab4765aa7721aa053840a4bb57152ea7ba), I believe -

updated (with  -

and it will solve the use-case, right?

[2016-07-19 13:55] bf4 commented on #1849
It's okay for solutions to exist in userland :).

B mobile phone

[2016-07-19 14:43] iMacTia commented on #1849
@bf4 your thoughts on the above?

Does the difference lie on the position in the includes-tree of the serialiser?

[2016-07-19 20:54] bf4 commented on #1022
@mehta please open a new issue.

[2016-07-20 00:48] chrishough commented on #1735
@icco  how did you solve the root: false issue? I have the same requirement

[2016-07-20 03:38] icco commented on #1735
@chrishough I just ripped it out and wrote it myself. Got to remove a dependency and my implementation was only a few lines.

[2016-07-21 08:51] iMacTia commented on #1849
@NullVoxPopuli @bf4 sorry for chasing you, would really like to come back working on this asap 😄

[2016-07-21 10:53] NullVoxPopuli commented on #1849
I think my preference would be have it both ways.
both the default_include and always_include, and the relationship-level options.

[2016-07-21 12:57] bf4 commented on #1849
I'd like to come back too

B mobile phone

[2016-07-21 12:59] iMacTia commented on #1849
It's fine for me, we can probably split it into 2 separate PR.
#1845 can provide `default_include` and `always_include`, and then we can have a separate one for the relationship-level include.
I'm not sure I'll have the time/will to work on the latter tough, I'm not even sure about its complexity at the moment.

[2016-07-21 17:57] cantino commented on #1068
I think the default behavior of AMS should be to error if a serializer cannot be found.  Otherwise, it's easy to stumble into a major security hole.

Imagine you have a controller, maybe something like:

[code]

and a serializer:

[code]

Now, imagine you either put that serializer at the wrong path by accident, or you named it `RecentUserSerializer`, but forgot to specify it by name in the render

[2016-07-21 19:25] bf4 commented on #1068
@cantino can you create a new issue to discuss this?

[2016-07-21 19:26] bf4 commented on #1851
So, this isn't currently supported.  Are there docs that suggest otherwise?  I've been thinking about the differences between the AMS serializer api and the active model serialization api, but nothing's happened yet.

Related #1845

[2016-07-21 19:34] bf4 commented on #1849
@iMacTia I need a few things clarified here to understand the needs in AMS

1. Is this for JSON API, only?
1. Why is having explicit render_options in the controller inferior to having implicit render options in the serializer?
1. Arguably the serializer's job is to map attributes and associations, not provide default rendering options
1. `include` is a JSON API thing. `exclude` would be the AMS-s

[2016-07-21 20:04] cantino opened #1853 "AMS should error when no serializer can be found"
I think the default behavior of AMS should be to error if a serializer cannot be found.  Otherwise, it's easy to stumble into a major security hole.

Imagine you have a controller, maybe something like:

[code]

and a serializer:

[code]

Now, imagine you either put that serializer at the wrong path by accident, or you named it `RecentUserSerializer`, but forgot to specify it by name in the render

[2016-07-21 20:04] cantino commented on #1068
Sure! #1853

[2016-07-21 21:05] brosintoski commented on #1851
@bf4 yes yard doc examples found here:

- https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L155
- http://www.rubydoc.info/github/rails-api/active_model_serializers/ActiveModel/Serializer#serializable_hash-instance_method

[2016-07-22 01:56] lmorais commented on #943
I tried with the `except` option but doesn't works. Someone can help?

[2016-07-22 02:06] lmorais commented on #943
Guys, you can solve this question adding code below on their serializer:
[code]

[2016-07-22 13:54] iMacTia commented on #1849
1. No, the idea is to have this feature on the serialiser level, so completely adapter-agnostic. In fact, I personally need it on the standard `Attributes` serialiser.
2. Not sure what do you mean by "inferior" here. The idea in case of conflict between controller and serialiser `include` directives is that controller takes precedence.
3. Totally agree on this one, but don't you have scopes in `ac

[2016-07-22 15:44] bf4 commented on #1849
@iMacTia I was writing an awesome response when github magically cleared it

[2016-07-23 00:49] browrp opened #1854 "Serializing a Plain-Old Ruby Object (PORO) via Inherited ActiveModelSerializers::Model fails"
### Expected
In Rails, when using a Plain Old Ruby Object (PORO) with Active Model Serializers and inheriting from the **_ActiveModelSerializers::Model_** class as defined in the guides on page https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/serialize_poro.md, I expected the PORO to serialize to JSON.

[code]

[code]

[code]

I expect to see:

[code]

### Actual
What I

[2016-07-25 17:40] foucist commented on #1328
Was this fixed?

I have this exact issue on active_model_serializers v0.9.4,

meta & meta_key was working fine in v0.8.3

[2016-07-26 17:49] bf4 commented on #1854
The problem is you're clobbering the initialize method with

[code]

[2016-07-26 17:54] bf4 commented on #1552
Related:

- https://github.com/rails-api/active_model_serializers/pull/1100
- https://github.com/rails-api/active_model_serializers/pull/1750
- https://github.com/rails-api/active_model_serializers/issues/762
- https://github.com/rails-api/active_model_serializers/pull/1797
- https://github.com/rails-api/active_model_serializers/pull/1845

Related code:

in JSONAPI::Resources, the relationship obj

[2016-07-26 18:16] browrp commented on #1854
@bf4 I get that, however, when the initializer is removed

[code]

All the attributes that are serialized to JSON are empty with this result:

`{"success":true,"info":"Project Sponsor Overview","data":{"project_list":[{},{}]}}`

There are 2 items in the array that are being returned however everything is empty...  I've updated my repo with changes to replicate this...  Should I re-open this issue

[2016-07-26 18:32] bf4 commented on #1854
Sure, re-open it. Can you include a short snippet initializing and rendering it?

e.g.

[code]

[2016-07-26 19:40] bf4 commented on #1854
@browrp  So, this is a side point, but is anyone working with you on this code? It has a lot of concerning features.

[code]

and really `s/uuid_key/uui`

and

[code]

[code]

and you either need a custom adapter or do something like the below.  AMS doesn't inspect your json for something it knows how to serialize. Either it does, or it doesn't.

[code]

I took some amount of time to write this up

[2016-07-26 19:40] #1854 closed

[2016-07-26 20:21] browrp commented on #1854
@bf4 The code up here was a test project I threw together in 15 minutes to illustrate the issue that I was having, that is why the code to build the object model looks the way it does. Was there something specific that was concerning to you?

I'm new to using AMS (was using Jbuilder before) and I was following the documentation in respect to POROs https://github.com/rails-api/active_model_serializ

[2016-07-26 20:27] bf4 commented on #1854
@browrp

I admit the docs could be better, and ask for your help in improving them :)

Both those concerns are very much addressed in the docs.

- https://github.com/rails-api/active_model_serializers/#high-level-behavior
- https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/outside_controller_use.md
- https://github.com/rails-api/active_model_serializers/blob/master/docs/

[2016-07-26 20:39] browrp commented on #1854
@bf4 Will do, although I'm still rather new to Rails so the best contribution I could do at this time is towards the documentation.  Thanks for your help with my issue and putting all the pieces such as the SerializableResource into context for me.

[2016-07-26 20:50] bf4 commented on #1843
@NullVoxPopuli can you turn this into a PR?

[2016-07-26 20:52] bf4 commented on #1854
@browrp Sure.  I'm just guessing, but I think a doc PR that added some cross-references would be helpful to future readers :)

[2016-07-26 22:52] NullVoxPopuli commented on #1843
I think so. Should I wait on your caching removal PR / any other PRs?

[2016-07-27 02:10] exadeci opened #1858 "Json_api adapter ignoring post parameters"
#### Expected behavior vs actual behavior
Parameters are sent on post by correctly by [json_api_client](https://github.com/chingor13/json_api_client), AMS with `:json_api` adapter should make them available in the controller

Instead, params are empty, but if I require the `register_jsonapi_renderer` they are available just not deserialized.

#### Steps to reproduce
Doing a create from json_api_cl

[2016-07-27 03:57] bf4 commented on #1858
Do you know what your `Content-Type` and `Accept` headers are?

FWIW, In my own app I have a controller method `deserialized_params` and a comment `TODO: Handle invalid post params`.

[code]

I call permit/require etc on this method

[2016-07-27 04:07] bf4 commented on #1853
@cantino I think there is room for a 'strict mode', that raises an `MissingSerializer = Class.new(ArgumentError)`  instead of returning `nil` when no serializer is found.  The complication is that we'd need to ensure that the object respond to `read_attribute_for_serialization` or something so that it's not a string, hash, array, etc.

Relevant code https://github.com/rails-api/active_model_serial

[2016-07-27 04:09] bf4 commented on #1853
FWIW, if you use a a JSON-Schema to validate your requests/responses in tests, you can be assured you're not rendering a model without a serializer...

[2016-07-27 04:14] exadeci commented on #1858
`application/vnd.api+json`
https://github.com/chingor13/json_api_client/blob/master/lib/json_api_client/middleware/json_request.rb

Your `deserialized_params` works great.

[2016-07-27 04:14] bf4 commented on #1851
@brosintoski Well, that's clearly a major fail on my part. Those comments weren't meant to stick around so long.

[code]

was meant for people reading the code to see that this should be implemented...  I think if I just made it an issue it would get lost.. hmm

[2016-07-27 04:17] bf4 commented on #1849
Related, I think, to https://github.com/rails-api/active_model_serializers/pull/1857

@iMacTia I owe you a longer response.

[2016-07-27 08:20] sxjoel opened #1859 "Cannot initialize an activemodel serializer with user options"
#### Expected behavior vs actual behavior
I would like to run some calculation based on serializer options (passed from the controller), and have it available to all serializer methods as an instance variable . It made sense in my eyes to do this in the initializer:

[code]

however the constructor has no access to `serializable_options` so this won't work.  The only way I could get something simi

[2016-07-27 10:51] iMacTia commented on #1849
@bf4 I totally understand that, it's frustrating when it happens.
If the comment is going to be too long, then is probably better to write it on a word processor and paste it at the end.

[2016-07-27 13:17] bf4 commented on #1849
@iMacTia yeah.. well GitHub is good at preserving comments in progress, but I had something that must have been in the flash cache that killed it... I'll try to come back to this at lunch today

[2016-07-27 13:41] brosintoski commented on #1851
@bf4 no problem.  For now I just override `#relationship_value_for` in my base serializer to allow support for something like:  `fields: {roles: [:id, :name], default_account: [:id, :code]}`.  To me that format is more inline with arel include option.  The nested only/exclude just add unnecessary complexity since I never use exclude logic.

With that said I'm open to any design that achieves filte

[2016-07-27 20:18] bf4 commented on #1843
@NullVoxPopuli no, and the caching removal pr is really mean to refactor caching. I'll push the tests to it to make that more clear

[2016-07-28 18:03] djsegal opened #1862 "Related links being sent over http instead of https"
#### Expected behavior vs actual behavior

I have `force_ssl` on, so I want my related links to have `https://` instead of `http://`

#### Steps to reproduce

+ Start project with rails.
+ Add `config.force_ssl = true`
+ Create user resource with nested comments
+ Add user serializer with:

[code]

+ Related links will only have **`http`**

#### Environment

ActiveModelSerializers Version *(commit

[2016-07-28 18:24] bf4 commented on #1862
@djsegal Good catch for the documentation. The links are generated by Rails url helpers, which are just [included](https://github.com/rails-api/active_model_serializers/blob/v0.10.2/lib/active_model_serializers/serialization_context.rb#L5) in the [Link](https://github.com/rails-api/active_model_serializers/blob/v0.10.2/lib/active_model_serializers/adapter/json_api/link.rb#L42)) object

This most l

[2016-07-28 18:26] bf4 commented on #1859
Hi, thanks for this.  Perhaps serialization scope will meet your needs? Without myself going and reading the source code, I don't know.

[2016-07-28 19:03] djsegal commented on #1862
Sorry I don't have SSL working locally, but after macgyvering an error response in production, I got the following results:

| command        | result           |
| ------------- |:-------------:|
| ActiveModelSerializers::SerializationContext.default_url_options     | {:host=>"api.ahab.io"}       |
| Rails.application.routes.default_url_options  | {:host=>"api.ahab.io"}       |
| ActiveModelSeria

[2016-07-28 19:46] bf4 commented on #1862
@djsegal I don't think `ActiveModelSerializers::SerializationContext.url_helpers.methods - Rails.application.routes.url_helpers.methods` is what you're looking for.  See the action dispatch link I pasted above. Most of these methods are dynamic, so, in terms of equality, checking `object_id` would be more appropriate, or checking for `url_for`, I guess.  (Maybe try `public_methods` instead of `met

[2016-07-28 21:47] djsegal commented on #1862
@bf4, you're correct. closing the issue.

-----------------

for future reference:

to solve the problem, I added the following `initializer`:

[code]

[2016-07-28 21:47] #1862 closed

[2016-07-28 22:45] bf4 commented on #1862
@djsegal so much ❤️ ✨ for coming back and sharing your resolution! Do you think we should add this to the documentation?

[2016-07-29 19:01] bf4 commented on #1851
Good eyes on `relationship_value_for`.  That method is does a bit too much.  I'm working in it right now to fix https://github.com/rails-api/active_model_serializers/pull/1857

[2016-07-29 19:01] bf4 commented on #1851
@brosintoski Mind include a snippet for anyone else whom it might help?  (Or maybe it should even be a PR?)

[2016-07-29 19:48] brosintoski commented on #1851
Happy to share the code but would consider it a stop gap solution for now due to how `relationship_value_for` is structured.  Had to completely override that method (i.e. no use of super).

Here is the code:

[code]

[2016-07-29 20:24] bf4 commented on #1851
@brosintoski yeah, method just part of an ongoing effort to improve the design, which is why I labeled it as api private :)

[2016-08-01 19:45] hmistry opened #1864 "AMS errors after upgrading from v0.9.5 to v0.10.2"
#### Expected behavior vs actual behavior
Serialize model to JSON after upgrading and making changes required by version 0.10.2.
I'm getting 2 types of errors, one is `undefined method '[]' for nil` and the other is `undefined method root` in separate areas.

I've done all the conversions I read, i.e. subclassing from `ActiveModelSerializers::Model` instead of `include ActiveModel::Serialization`.

[2016-08-01 20:07] bf4 commented on #1864
you are likely explicitly passing `nil` into a serializer.  We don't protect you against that as the problem is in userland

likely what you want here is to pass in `adapter: :attributes`.

Much appreciate for writing. Anything you can share back to help others upgrade is much appreciated and makes the world a better place :)

See https://github.com/rails-api/active_model_serializers/pull/1844 for

[2016-08-02 04:33] MartinKoerner opened #1865 "How to exclude an association in AMS 10 comparing to AMS 9"
Using rails 4, I have a domain object with a Serializer
[code]
Using active_model_serializer v0.9.4 I could do

[code]
to get a JSON-String containing all the attributes and the association `:bars`, but not the association `:foos`.

After switching to active_model_serializer v0.10.2 this does not work anymore. The string contains all attributes. It seems, like the following gives me the same outpu

[2016-08-02 12:53] musaffa opened #1866 "Making error serializer implicit by default"
Currently we need to write error handler like this:
[code]
It would have been much better if we could simply write like this:
[code]

In the latter case `active_model_serializers` would need to look for errors in the resource object and if it finds any error in the object then it will use implicitly invoke the error serializer unless the user has passed any serializer already.

[2016-08-02 15:08] bf4 commented on #1866
@musaffa I tried writing something like this when I first wrote the error serializer and didn't find a satisfactory solution since it requires a much tighter controller integration.

I'm open to any suggestions.

[2016-08-02 15:17] bf4 commented on #1865
AMS 0.10.2 doesn't (yet) support the Rails `as_json` semantics.

Related https://github.com/rails-api/active_model_serializers/issues/1851 and maybe https://github.com/rails-api/active_model_serializers/issues/1849 and https://github.com/rails-api/active_model_serializers/pull/1845

Probably you'd want something like:

[code]

This is definitely an area that needs work for people coming from 0.8/0

[2016-08-02 15:47] vinodlala commented on #1328
For `meta_key`, use a symbol instead of a string.

The docs on http://www.rubydoc.info/gems/active_model_serializers/0.9.5 has this:

[code]

But that doesn't work.

This will work:

[code]

In `lib/active_model/serializer.rb`, check out the `initialize` method:

[code]

If `options[:meta_key]` is `nil`, `@meta_key` is `:meta` (a symbol, not a string).

Using the example in the docs, if `options[:

[2016-08-02 15:57] vinodlala opened #1868 "0.9.x meta_key has to be a symbol and will not work for a string"
For `meta_key`, use a symbol instead of a string.

The docs on http://www.rubydoc.info/gems/active_model_serializers/0.9.5 has this:

[code]

But that doesn't work.

This will work:

[code]

In `lib/active_model/serializer.rb`, check out the `initialize` method:

[code]

If `options[:meta_key]` is `nil`, `@meta_key` is `:meta` (a symbol, not a string).

Using the example in the docs, if `options[:

[2016-08-02 16:02] bf4 commented on #1868
Thanks @vinodlala would you mind making a PR (against the 0-9-stable branch) to fix the docs? Would be much appreciated.

[2016-08-02 17:47] vinodlala commented on #1868
Done - https://github.com/rails-api/active_model_serializers/pull/1869

[2016-08-03 06:01] steverob commented on #1829
@rzane that's a good idea. Thanks.

[2016-08-03 16:06] ivanstojkovicapps opened #1870 "wrong number of arguments "attributes""
Hi,

i am using the latest version 0.10.2 and i am getting this stacktrace:

if i switch to 0.9.5 it works great

Rails 4.2.1

My model.rb has

but anyway if i comment this out i get the same problem

best regards Ivan

[2016-08-03 16:11] bf4 commented on #1870
Why would you delegate `attributes` to `object`?  That's one of the most important and fundamental methods in AMS.  If you're going to do that, though, you should follow the same method signature as in AMS.  That's up to you, in userland, to hack yourself when monkey patching fundamental parts of a gem.  I'm closing, though I welcome you to bring up your use-case if you think it would be useful fo

[2016-08-03 16:11] #1870 closed

[2016-08-03 16:13] #1868 closed

[2016-08-03 17:20] betasve opened #1871 "AMS transforming key names replacing '_' with '-'"
#### Expected behavior vs actual behavior

I'm using
[code]
to generate a request object that I'm using in my RSpec tests (avoiding to write down the entire structure by hand.

#### Steps to reproduce

The Desk class has attributes like:
[code]

When using the above method `as_json` on the instantiated object it generates:
[code]
instead of:
[code]
but I need `language_code` instead of `language-c

[2016-08-03 17:24] NullVoxPopuli commented on #1871
the docs you're looking for are here: https://github.com/rails-api/active_model_serializers/blob/master/docs/general/rendering.md#key_transform

[2016-08-03 20:35] bf4 commented on #1871
Closing. Please confirm the config you want is

[code]

[2016-08-03 22:09] #1871 closed

[2016-08-04 05:52] betasve commented on #1871
@NullVoxPopuli @bf4 Thanks guys, this is perfect. I couldn't find it for some reason. Then I was looking at http://www.rubydoc.info/gems/active_model_serializers/0.9.1/ with no success either.

[2016-08-04 16:44] #1587 closed

[2016-08-05 14:27] jmarceli opened #1875 "JSON API SerializableResource relationships with attributes"
Hi,
I'm using:
[code]
to generate JSON data for JSON API request. The problem is that relationships are generated without `attributes`.

Desired output is:
[code]

Actual result is:
[code]

My serializers looks like this:
[code]
[code]

Is it possible to generate what I want with `active_model_serializers` ?

[2016-08-05 17:43] bf4 commented on #1875
per JSON API, what you need to do is `include: :items`.  That will result in another top-level attribute `included` that has the relationships with their attributes. The resource identifiers only ever have `id` and `type`.

[2016-08-05 17:44] bf4 commented on #1875
Since the answer is just how JSON API works, I'm going to close this. But please report back if this resolves your issue and if not, more details on the errors.

[2016-08-05 17:44] #1875 closed

[2016-08-05 17:48] bf4 commented on #1865
Related https://github.com/rails-api/active_model_serializers/issues/1643

[2016-08-05 17:49] bf4 commented on #1859
Closing as stale

[2016-08-05 17:49] #1859 closed

[2016-08-05 17:50] bf4 commented on #1851
Related https://github.com/rails-api/active_model_serializers/issues/1643

[2016-08-05 17:53] bf4 commented on #1838
Looks like you need to set the default adapter to `:json`?

[2016-08-05 17:55] bf4 commented on #1643
Re-opened since those options aren't actually handled

[2016-08-05 19:22] jmarceli commented on #1875
Thanks for your response.
I'm using [active_model_serializers-jsonapi_embedded_records_deserializer](https://github.com/spieker/active_model_serializers-jsonapi_embedded_records_deserializer) for resource deserialization and nested resource creation. I know it's not yet an official JSON API [way](https://github.com/json-api/json-api/issues/795) but as far as I know there is no official format for

[2016-08-05 20:47] bf4 commented on #1875
@jmarceli So, AMS has adapters for this purpose.

Correct, but you can subclass it :)

That embedded thing comes up periodically. It seems to cause a lot of problems.

[2016-08-06 05:35] NullVoxPopuli commented on #1875
@jmarceli these are all the modifications I use. https://github.com/NullVoxPopuli/aeonvera/blob/master/config/initializers/active_model_serializers.rb

I found that gem you found to be insufficient.

[2016-08-06 09:04] jmarceli commented on #1875
@NullVoxPopuli what is the advantage of your solution over mentioned gem?
I'm asking because I don't see any problems with it (as for now).

Meanwhile I come up with my own solution:
**config/initializers/nested_jsonapi_serializer.rb**
[code]

So in order to get what I was trying to generate it is enough to write:
[code]

[2016-08-06 10:23] NullVoxPopuli commented on #1875
I actually took most of the code from the gem. I have namespaced and
polymorphic models, and the gem broke with one of those.

On Sat, Aug 6, 2016, 4:04 AM jmarceli <notifications@github.com> wrote:

[2016-08-06 10:28] jmarceli commented on #1875
OK. Thanks for the clarification. If you have some time maybe consider a PR with your improvements.

[2016-08-08 16:09] stephen-puiszis opened #1876 "AMS 10.2 Throwing NameError for name-spaced object that should not be serialized"
I'm getting a `NameError` on a service object that should *not* be serialized. This object shares a shares a similar namespace as an object that *should* be serialized. AMS appears to be attempting to serialize any object that shares a namespace to one that is in the serializers in the controller. This is unexpected default behavior and didn't see anything in the documentation regarding this. Even

[2016-08-09 11:47] vasilakisfil opened #1877 "Inheriting from ActiveModelSerializers::Model to support serialization of a PORO is a bad practice"
#### Expected behavior vs actual behavior
Expected:
[code]

Actual
[code]

What would happen if my SimpleObject was inheriting from another class?

#### Additonal helpful information
#1272

[2016-08-09 12:17] NullVoxPopuli commented on #1877
that's a good point.

if you want to make a quick lil PR that extracts the body of AMS::Model into a module and update the docs for using it, that would be hugely appreciated.

Maybe call it `ModelMixin` or something? idk. that way AMS::Model could include it, and people's existing code wouldn't break.

[2016-08-09 12:18] vasilakisfil commented on #1877
alright!

[2016-08-09 18:50] bf4 commented on #1877
Why AMS::Model is an executable documentation of the API.  Why is inheritance a problem?

[2016-08-09 18:51] bf4 commented on #1877
Oh, you'd rather just be able to include a mixin. So, here's the issue: you might not want the precise implementation of AMS::Model.  In fact, there's a bug in it.

[2016-08-09 18:52] bf4 commented on #1877
Also related

- https://github.com/rails-api/active_model_serializers/issues/1283
- https://github.com/rails-api/active_model_serializers/pull/1873#issuecomment-237859399

[2016-08-10 10:20] sineed commented on #1864
I've recently upgraded from patched 0.9.5 version to 0.10.2. I want to share with my adapters and common changes in codebase: https://gist.github.com/sineed/9c9a5d837d558e79309f90919a9b7aad.
For example, for `root: false` option I've implemented my own adapter.
Hope it helps somebody.

[2016-08-10 13:14] bf4 commented on #1864
@sineed that's fantastic! Would you be interested in writing it up in a PR like https://github.com/rails-api/active_model_serializers/pull/1844 ?

[2016-08-10 13:34] sineed commented on #1864
I think my solution is quite specific that is why I created gist. I don't think that it is a good idea to make it like general solution for everyone. It can help to understand upgrade path but not to be a 100% solution.

[2016-08-10 16:44] alfmatos commented on #1667
@JamesChevalier Any configuration options required? I've got a ng-token-auth authenticating with devise_token_auth, and it always gives:
[code]

[2016-08-10 17:54] bf4 commented on #1667
@alfmatos `Rendered ActiveModel::Serializer::Null with Hash` makes it look like your trying to serialize a hash, which usually is from trying to use a serializer directly

[2016-08-11 06:15] ehannes commented on #1745
Any news on this? Currently using quick fix mentioned above.

[2016-08-11 13:53] bf4 commented on #1745
@ehannes #1867 should resolve it once merged

[2016-08-11 14:26] ehannes commented on #1745
@bf4 Sorry, I missed the reference. Thanks!

[2016-08-11 21:49] alfmatos commented on #1667
@bf4 It seems I was getting a hash whenever the credentials failed (invalid). It created an empty session object and tried to serialise that. Not sure if that's an expected behaviour.

This was related wit  `ng_token_auth` requests from angular not coming though as json (not sure why) and processed as HTML. I managed to track this down with `curl`. The response (for a request with proper Content-T

[2016-08-12 02:20] remear commented on #1864
Personally, I'd encourage the writing of blog posts about AMS upgrade experiences and strategies, and to keep a list of links to them in a documentation page, or at least a single issue with an `upgrading` tag, for others to reference.

[2016-08-12 10:22] attenzione opened #1879 "Best way url_helpers to work in json adapter (not json_api)?"
Hi!
i'm not using json_api adapter, so link method is not working for me.
Can you please advise good way to resolve problem with undefined url or path?

[code]

[2016-08-12 12:06] markiz commented on #1879
Try `include Rails.application.routes.url_helpers`

[2016-08-12 12:15] attenzione commented on #1879
yeas, that fastest approach, but this requires to ```:host``` in ```default_url_options``` and I don't like it, because url helper method in view context returns correct url, based on request I think. I don't like this ideas for json_api also.
Another solution (which works without specifying host):

[code]

[2016-08-12 14:26] rossholdway commented on #1442
Any update on this? It would be great to namespace with Api::V1::CoolResourceSerializer and a Api::V1::CoolResourceController and have it work via auto lookup.

[2016-08-12 14:51] NullVoxPopuli commented on #1442
@rossholdway there is this: https://github.com/rails-api/active_model_serializers/pull/1757

[2016-08-15 05:24] evolve2k commented on #784
Although not directly relevant I came here as I was getting the error "undefined method `setup' for ActiveModel::Serializer:Class (NoMethodError)". As it seems ActiveModel::Serializer.setup is no longer supported from version 10.  I was just trying to namespace my json.

To help anyone else who comes after me.

You can remove this:

[code]

and replace it with this.

[code]

Reference: http://api.

[2016-08-17 14:01] ehannes opened #1885 "Conditional for attributes in plural not working"
#### Expected behavior vs actual behavior
I expect conditionals for `attribute` and `attributes` to behave the same, but they don't. An example:
[code]

This gives me `TypeError ({:if=>"admin_signed_in?"} is not a symbol nor a string):`

If I change this it to `attribute` in singular, it works!
[code]

#### Environment

ActiveModelSerializers Version *(commit ref if not on tag)*: `0.10.0`

Output

[2016-08-17 21:05] bf4 commented on #1885
PR's welcome :) Let me know if you'd like any guidance. There are some other similar feature requests that have been posted.

By the way, you should try 0.10.2, esp  if you're using caching.

[2016-08-17 21:07] bf4 commented on #1879
@attenzione you'll need to either write a custom adapter or one of the above options. I'm going to close this issue as resolved since it is squarely in userland, but please report back here what you end up doing for others who are interested.

[2016-08-17 21:07] #1879 closed

[2016-08-17 21:10] bf4 commented on #1877
@vasilakisfil Is there anything else you'd like to discuss here?  FWIW, I use AMS::Model, but there is a known bug in it around the attributes hash and read attribute for serialization not returning the same thing, which is due to different implementation decisions in AM::Model and AM::Serializers::JSON.. I haven't resolved it yet

[2016-08-18 08:06] attenzione commented on #1879
@bf4 currently i'm using solution, what I've provided before. This way I have access to all helpers without including them in each/some serializers, more flexible

[2016-08-18 08:41] vasilakisfil commented on #1877
No I think I am fine although I haven't seen the bug you are talking about.

[2016-08-20 11:12] nhattan commented on #983
@hhff the correct file path should be
`# app/controllers/concerns/api/error_handling.rb`

[2016-08-21 14:47] bf4 commented on #1876
So, is the problem that `Api::V1::Givex::CardSerializer,` that has an associated `Givex::CardService` looks up the card service serializer as `Api::V1::Givex::CardService` instead of `Givex::CardSerializer`?  I'm having a hard time following what the exact problem is.

[2016-08-21 21:49] zts-rbecker commented on #1838
I am seeing this problem as well, but I can absolutely confirm I am setting the adapter to :json.

In my case, rails 4.2.5.1, AMS version 0.10.2,
ruby -e "puts RUBY_DESCRIPTION": ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-linux]

I created a file "config/initializers/ams.rb".  I verified it's getting executed by adding a log statement inside it.

I've tried all of the following in the initi

[2016-08-21 22:56] zts-rbecker commented on #1779
+1

[2016-08-22 06:25] smoothdvd commented on #1838
@bf4 Yes, it works.

[2016-08-22 06:25] #1838 closed

[2016-08-22 14:19] stephen-puiszis commented on #1876
hey @bf4, my apologies. AMS thows an error in the controller because it tries to serialize `Givex::CardService` when there isn't a serializer for it and it should not be serialized. However, there is another object in the controller action that does have a serializer associated with it and should be serialized, `Givex::Card`. These two service objects share a similar namespace and it appears that

[2016-08-23 21:11] bf4 commented on #1876
@stephen-puiszis not quite. Can you share the relevant parts of your serializer(s) and controller render logic?

e.g.

[code]

[code]

[2016-08-23 21:13] bf4 commented on #1876
Oh, looking at what part of the stack trace you gave me above, the problem is on the line referenced

[code]

i.e. `         @gift_card = Givex::CardService.balance(gift_card_params.fetch(:givex_number)).card`

should be `::Givex::CardService`

[2016-08-24 17:28] HOllarves commented on #1667
I was having a similar issue and after many tweaks I found the problem that was affecting my project.

Just like many of you have said, my response headers didn't have the access-token and client

The server was rolling back the transaction because a required attribute was missing. After I sort that out, everything worked as expected. I felt kind of stupid after realizing it was such a minor thing

[2016-08-25 14:37] ganlron opened #1890 "ApplicationSerializer not picked up by generator"
#### Expected behavior vs actual behaviour
I've created an ApplicationSerializer in app/serializers/application_serializer.rb and was expecting rails g serializer foo to inherit from this, but it still defaults to ActiveModel::Serializer.

I can get around this by passing ApplicationSerializer with --parent and it works, but wasn't expected behaviour

#### Environment

Rails 5.0.0.1
ruby 2.3.1p112

[2016-08-25 17:25] bf4 commented on #1890
@ganlron which AMS version? I'm unfamiliar with `--parent`.  You ran `rails g serializer User --parent ApplicationSerializer`?

[2016-08-25 17:26] bf4 commented on #1890
Oh, ha, it's our own option https://github.com/rails-api/active_model_serializers/blob/master/lib/generators/rails/serializer_generator.rb#L9

Looks like it's because the generator checks if the ApplicationSerializer is defined, and it may not have been loaded yet?  So, logic there could be better?

[2016-08-25 17:43] ganlron commented on #1890
LOL ya, was your option :)

[2016-08-26 00:39] thejourneydude opened #1891 "key_transform not transforming keys to camelCase"
#### Expected behavior vs actual behavior
I expect the Rails controller response JSON keys to be camelCased. However, they respond with snake_case.

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*
I have added into the controller:

      def index
          render status: :ok,
                 json: Comment.all,
                 each_serializer: Comment

[2016-08-26 02:01] NullVoxPopuli commented on #1891
what adapter are you using?

[2016-08-26 02:02] thejourneydude commented on #1891
None. I have not specified an adapter.

[2016-08-26 02:02] NullVoxPopuli commented on #1891
the default is the attributes adapter. which hadn't respected key transform until earlier today actually.
if you point your gemfile at master, it should resolve the issue.

[2016-08-26 02:10] thejourneydude commented on #1891
That fixed it. Thanks!

[2016-08-26 02:10] #1891 closed

[2016-08-26 02:14] NullVoxPopuli commented on #1891
woo!

[2016-08-26 13:33] ivanstojkovicapps opened #1892 "Include attributes from another Serializer"
I am trying to include attributes from another serializer, for example my first serializer:

[code]

i need new serializer that includes all attributes from MyMinimalSerializer and has few more

[code]

How to do that?

[2016-08-26 18:27] bf4 commented on #1892
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this issue.

[2016-08-26 18:27] #1892 closed

[2016-08-26 18:43] bf4 commented on #1890
I'm pretty sure you could fix this by changing the `defined?` check

[code]

[2016-08-27 21:39] dnlsandiego opened #1893 "Unable to render hash"
I have a Rails 5 app in API mode using this gem and [devise_token_auth](https://github.com/lynndylanhurley/devise_token_auth) for token based authentication. `devise_token_auth`'s controllers renders plain hashes as responses but neither of all the 3 adapters seem to be able to render the hashes to JSON.

#### Expected behavior vs actual behavior
`curl -i -X DELETE http://localhost:3000/v1/auth/si

[2016-08-28 10:29] ivanstojkovicapps commented on #1892
Hi, what is here insufficient?

I have a model serializer with some fields, in my example: id, field1, field2. This is my minimal serializer because i don't want to transfer all model fields, just those 3.
Now i need one new serializer that will transfer those three fields and one or two more.
Of course i can just create the serializer like this:

[code]

but i don't want to write every attribute

[2016-08-28 12:03] NullVoxPopuli commented on #1892
have you seen https://github.com/rails-api/active_model_serializers/blob/master/docs/general/fields.md ?

[2016-08-28 12:30] ivanstojkovicapps commented on #1892
Hi,

yes of course but this doesn't help me.
Is there something like this:

[code]

[2016-08-28 12:32] NullVoxPopuli commented on #1892
i'd recommend you abstract your attribute definitions to a mixin module.

[2016-08-28 12:37] ivanstojkovicapps commented on #1892
hi, i am not sure are am following you, can you post some basic example, like i started?

[2016-08-28 12:39] NullVoxPopuli commented on #1892
[code]

AMS will not support  what your asking out of the box, but it's pretty easy to achieve on your own.

[2016-08-28 12:41] ivanstojkovicapps commented on #1892
Ok, thanks a lot!

[2016-08-28 23:33] bf4 commented on #1893
I'm guessing this is related to eager calling of the serialization context `current_user` upon render.  Try in your controller setting `serialization_scope nil` if you don't use scopes, or `serialization_scope :view_context` if you do.  see https://github.com/rails-api/active_model_serializers/blob/master/docs/general/serializers.md#scope

[2016-08-29 01:38] bf4 commented on #1858
I added the 10.x mandatory tag to this, but want to add a little more information why this isn't part of the registered params parser, yet:

Basically, we need to make sure that we 1) don't lose information when adding a params parser for JSON API and 2) that we handle non-jsonapi structured data in a non-surprising way.  Until we resolve those issues, handling post params parsing this way remains

[2016-08-29 05:06] dnlsandiego commented on #1893
Thanks for the reply. I tried setting `serialization_scope nil` in a controller and it didn't work. I also tried setting it instead in the `ApplicationController` but still didn't work. Is there anything else I can try setting or configuring?

[2016-08-30 17:47] nscricco opened #1895 "#filter and #include not working property for :attributes adapter"
#### Expected behavior vs actual behavior
Right now my application has a problem with deeply nested response bodies. Ideally, I would like to keep all the existing associations in the serializers and limit the attributes of nested associations in the controller.

*(see below for full associations)*
[code]

I know that in the past, the default serializer in Rails < 4.0 one could do the following:
[

[2016-08-30 17:50] NullVoxPopuli commented on #1895
it looks like you need to include `author` as well in your include parameter.

[2016-08-30 22:01] netbe opened #1896 "Encoding of pagination links"
#### Expected behavior vs actual behavior

I have kaminari setup with the json_api adapter and I am getting the following links:

[code]

instead of
[code]

Am I missing something or is the expected behavior?

#### Steps to reproduce
*(e.g., detailed walkthrough, runnable script, example application)*

Controller:

[code]

#### Environment

ActiveModelSerializers Version *0.10.2*:

Output of `ruby

[2016-08-30 23:08] NullVoxPopuli commented on #1896
- How are you getting the link?
- What's the output of the render call?
- is your problem just that page[number] is 17 instead of 3?
- actual is uri-encoded, decoded, it's identical, sans the unicode character and the 17 and 3 :-\ so, I'm not sure exactly what is expected / what is happening. :-\

[2016-08-31 01:29] JamesSchiiller commented on #974
You can now set it globally,

config/active_model_serializers.rb:

ActiveModel::Serializer.config.adapter = ActiveModel::Serializer::Adapter::JsonApi
ActiveModelSerializers.config.key_transform = :underscore

https://github.com/rails-api/active_model_serializers/blob/master/docs/general/key_transforms.md

[2016-08-31 01:37] dnlsandiego commented on #1893
@bf4 Sorry to bug you but I've been on this issue for almost a week. Do you have any other ideas or possible aspects I can look into to fix this?

[2016-08-31 01:46] bf4 commented on #1893
Do you have a backtrace?

Btw, that gem appears buggy.  Had issues a lot.

[2016-08-31 01:48] bf4 commented on #1893
Are you passing a hash into a serializer by any chance?  (Help me help you)

[2016-08-31 02:05] dnlsandiego commented on #1893
Here's a backtrace on a request thats suppose to `401` and return `{ success: false, errors: ['...'] }`.

<details>
    <summary>Backtrace</summary>
[code]
</details>

I'm not passing a hash into a serializer. `devise_token_auth` just renders hashes as response. This is one of the methods they handles responses:

[code]

Yeah, I realized that AMS and DTA has a lot of issues together while trying t

[2016-08-31 03:01] dnlsandiego commented on #1893
@bf4 I tried removing all of my serializers and completely deleting the serializers directory under `app` and `devise_token_auth` is able to render its responses just fine.

[2016-08-31 03:39] dnlsandiego commented on #1893
Figured it out. It was a custom serializer I've made that was causing the issue. Deleting it fixed the issue.

This is the serializer:

[code]

Created this for convenience. So I could access AR object hash keys as symbols instead of strings.

Apologies on this ultimately unnecessary issue.

[2016-08-31 03:39] #1893 closed

[2016-08-31 04:36] bf4 commented on #1893
@dnlsandiego I figured it was something like that, but I didn't have enough info to point it out to you.  BTW, your 'backtrace' formatting is neat, but not a backtrace, just logging. I thought there was an exception?  Or if not `puts caller` (with some sanitization) might have been helpful.

[2016-08-31 04:37] bf4 commented on #1893
Glad it worked out!

If you have any more info to share that might help a future person, please do!

[2016-08-31 05:18] dnlsandiego commented on #1893
Oh yeah, the backtrace was supposed to include 2 logs of requests. One with the exception, guess it got cut off somewhere.

I'll probably spend some time looking into both AMS and DTA this weekend and figure out why having a custom serializer breaks DTA. Could be useful for people who run into the same issue I did.

Thanks again for the help!

[2016-08-31 05:32] bf4 commented on #1893
@dnlsandiego It not a custom serializer per-se, it's that a Hash is not the kind of object AMS is meant to take as input. It expects a model.  AMS can handle virtual and dynamic attributes, so that might be a better way to add your special logic.

[2016-08-31 06:25] bf4 commented on #1895
Is this basically backporting JSON API adapter behavior to the Attributes adapter?

[2016-08-31 06:31] bf4 commented on #1896
@netbe per uri spec although we write `page[number]=3&page[size]=1` it's actually going to be uri encoded as `page%5Bnumber%5D%3D3%26page%5Bsize%5D%3D1` You're getting page%5Bnumber%5D=17\u0026page%5Bsize%5D=1` which has some encoding differences that are strange

[code]

It's hard to know why the `%3D3%` would become `=17\u002` and `%3D1` become `=1` without having a more intimate look your code.

[2016-08-31 06:39] bf4 commented on #1896
@netbe I can say though that you're using strong params wrong.

[code]

[2016-08-31 16:52] nscricco commented on #1895
Yes, exactly. If you think it's worth adding I am happy to put up a PR for it.

[2016-08-31 16:54] NullVoxPopuli commented on #1895
This just further proves the need to unify everything.

[2016-08-31 17:01] shime opened #1899 "Filtering fields for association"
First of all, thank you for your hard work on this great gem. 🙌 🙇🏻 👏  It saved me hours and hours. Great work!

I have an issue with filtering. Seems like passing options to association being serialized is not supported yet.

Consider this example:

[code]

[code]

[code]

I would expect this to filter out the users attributes that are not explicitly passed in options hash and only serialize user'

[2016-08-31 17:20] NullVoxPopuli commented on #1899
take a look at the fields docs: https://github.com/rails-api/active_model_serializers/blob/master/docs/general/fields.md

I think that's what you're looking for?

[2016-08-31 17:24] shime commented on #1899
Nope, that doesn't help. Tried by specifying `fields` too. Updated the issue description to reflect that.

[2016-08-31 17:24] NullVoxPopuli commented on #1899
You have you syntax mixed up:

[2016-08-31 17:29] NullVoxPopuli commented on #1899
examples:
 - https://github.com/rails-api/active_model_serializers/blob/a319fef239d355e0530b43c6bb2b92a696272b75/test/action_controller/json_api/fields_test.rb#L27
- https://github.com/rails-api/active_model_serializers/blob/a319fef239d355e0530b43c6bb2b92a696272b75/test/adapter/json_api/has_many_test.rb#L43

[2016-08-31 19:13] bf4 commented on #1895
Very closely related to https://github.com/rails-api/active_model_serializers/issues/1843

@nscricco Since there's a lot involved, might be best to pick something small and make a lot of small prs. Join us on the amserializers.herokuapp.com slack to discuss .

[2016-08-31 20:16] netbe commented on #1896
@bf4 good to know that links are encoded

I have tried with to decode them and this works well even for the `&`:

[code]
And thks for pointing out the strong params issue

[2016-08-31 20:16] #1896 closed

[2016-08-31 21:11] #1831 closed

[2016-09-01 11:44] shime commented on #1899
Tried updating my controller to

[code]

but now I'm getting an error

[code]

[2016-09-01 12:11] NullVoxPopuli commented on #1899
do you have a trace on that?

[2016-09-01 13:34] shime commented on #1899
<details>
[code]
</details>

[2016-09-01 21:16] kris commented on #1772
I believe I'm running into this issue, but it makes little sense, and here's why:

    class Article
        has_many :entities
    end

    class Entity
        belongs_to :entityable, polymorphic: true
    end

    class ArticleSerializer < ActiveModel::Serializer
        has_many :entities
    end

    class EntitySerializer < ActiveModel::Serializer
        has_one :entityable, polymorphic: tr

[2016-09-02 03:46] jamesbrooks opened #1905 "Fragment caching not working when using the JSON API adapter"
When using the JSON API adapter fragment caching does not function correctly; rather full non-fragment caching is used, even when `:only`/`:except` options are specified to #cache.

Fragment caching does however work correctly with the standard JSON adapter.

From my initial investigation this seems to be because [`ActiveModelSerializers::Adapter::JsonApi#resource_object_for`](https://github.com/r

[2016-09-02 13:47] bf4 commented on #1905
Closing due to insufficient information to easily help.

Please review the requested information in our [issue template](https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md) and reopen with the additional information, or any questions and comments you may have.

Thanks for your help, and thanks for making this issue.

[2016-09-02 13:47] #1905 closed

[2016-09-02 15:29] bf4 commented on #1899
@shime I think

[code]

[2016-09-02 15:31] bf4 commented on #1772
@KevinColemanInc Just open a PR and we'll guide you :)

[2016-09-02 15:32] bf4 commented on #1772
@kris please open a new issue and provide the context, per the issue template, we need to help us help you

[2016-09-02 16:21] kris opened #1907 "Serializers with polymorphic association return no attributes for relationship"
#### Expected behavior vs actual behavior

When serializing an object with a `has_many` association, where the association has a `polymorphic` association, it should infer the serializer for the polymorphic object and return the data, but instead, it's returning nothing.

#### Steps to reproduce

    class Article < ApplicationRecord
      has_many :entities
    end

    class Entity < Application

[2016-09-02 16:30] kris commented on #1907
Nevermind, the issue is the `default_includes` option. This was VERY unclear and should probably be better documented.

[2016-09-02 16:30] #1907 closed

[2016-09-02 16:31] NullVoxPopuli commented on #1907
we have a `default_includes` option?

[2016-09-02 16:33] kris commented on #1907
https://github.com/rails-api/active_model_serializers/blob/master/docs/general/configuration_options.md#default_includes

[2016-09-02 16:33] bf4 commented on #1905
@jamesbrooks That said, I'd love to work with you in helping debug any of this.  It looks like you got a good start.  I just don't have enough info for any specific feedback.

[2016-09-02 16:34] bf4 commented on #1907
@kris can you trace back how you looked for the documentation and thought process and help use make it easier to find and know about?

[2016-09-02 16:35] NullVoxPopuli commented on #1907
oh, that option. I thought you were talking about the per-serializer one everyone keeps wanting. :-\

my bad.

[2016-09-02 17:49] danderozier opened #1908 "Serialized ActiveRecord attributes serialize as empty hash"
#### Expected behavior vs actual behavior
Serializing serialized ActiveRecord Attributes (http://api.rubyonrails.org/classes/ActiveRecord/AttributeMethods/Serialization/ClassMethods.html) using AMS is failing. Expected behavior is for said attribute to appear in the serialized object, but instead appears as an empty hash.

#### Steps to reproduce
For example, take a model with a serialized attribu

[2016-09-02 17:58] bf4 commented on #1908
@danderozier Interesting. I'm guessing the reason for that has to do with a bug in the Rails implementation of read_attribute_for_serialization for serialized fields.

By the way, you probably want to use the JSON encoder for your field, based on what it looks like. It's faster and safer. `  serialize :preferences, JSON`

What happens if you call `widget.read_attribute_for_serialization(:config)`?

[2016-09-02 18:45] danderozier commented on #1908
@bf4 Thanks for the reply. `widget.read_attribute_for_serialization(:config)` gives the expected value, `{:attr => ["foo", "bar", "baz"]}`.

[2016-09-02 19:50] bf4 commented on #1908
FYI, you can also

[code]

[2016-09-02 19:52] bf4 commented on #1908
I can't think of anywhere that'd cause that kind of behavior.

What's the backtrace if you do the following?:

[code]

[2016-09-04 14:55] richmolj commented on #1877
I rather agree with @vasilakisfil a mixin would be preferable. My understanding from [this comment on #1873](https://github.com/aldreth/active_model_serializers/blob/aa3e0f4a7d0082c357c745984cefd4aac7f49179/lib/active_model_serializers/model.rb#L32-L38) is that the bug is:

[code]

Quick guess on why this doesn't come up more often and maybe why @vasilakisfil hasn't seen it: Many of us use [Virtus

[2016-09-04 19:32] bf4 commented on #1877
@richmolj If you can solve this, you will be my hero!  I've tried!

In terms of being a mixin, we'd have to discuss what should be included and what not and what defaults.

At this point, it might be best to first drop activemodel::model as a dependency and instead use the useful parts of it, get AMS::Model all fixed up, then move to a mixin.

[2016-09-04 19:37] bf4 commented on #1877
ref: https://github.com/rails-api/active_model_serializers/pull/1903

[2016-09-05 08:42] antonioparisi commented on #1849
hi guys, any update on this?

[2016-09-05 13:23] richmolj commented on #1877
@bf4 so I was able to add the additional accessor tests, get them all passing, *and* convert to a mixin. However, as I was finishing I thought a better solution would be to deprecate this class altogether and support serializing POROs and hashes with no extra work, subclass or mixin required. https://github.com/rails-api/active_model_serializers/pull/1911.

If I'm missing something the code to con

[2016-09-05 14:25] richmolj commented on #1843
Spent some time looking at the JSON API adapter yesterday and here is an issue I see.

Attributes adapter has a serializer-calls-serializers pattern. One serializer [serializes itself and its relationships](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model_serializers/adapter/attributes.rb#L7), turtles all the way down.

JSON API adapter [recurses](https://github.c

[2016-09-05 14:56] shime commented on #1899
@bf4 this works, thanks!

[2016-09-05 14:56] #1899 closed

[2016-09-06 06:03] jpmoral opened #1915 "How to retain question mark in JSON keys on 0.9 stable"
#### Expected behavior vs actual behavior

I wish to retain question marks in the keys.  These were stripped out by #662.  Is there any way to override this behavior on 0.9?
#### Steps to reproduce

_(e.g., detailed walkthrough, runnable script, example application)_
#### Environment

ActiveModelSerializers Version _(commit ref if not on tag)_: 0.9.5

Output of `ruby -e "puts RUBY_DESCRIPTION"`: r

[2016-09-06 19:42] #1890 closed

[2016-09-06 19:46] richmolj commented on #1823
@ekampp @saneshark on master, you can now do:

[code]

[2016-09-06 19:46] #1823 closed

[2016-09-06 21:09] JasonMannon opened #1918 "undefined local variable or method `object'"
I'm trying to assign attributes to my serializer, and i'm getting a "undefined local variable or method `object'" error

This is what my serializer looks like:

[code]

Anyone know why i'm having this problem?  I'm following this serializer guide at this link: [https://github.com/rails-api/active_model_serializers/blob/master/docs/general/serializers.md](https://github.com/rails-api/active_model_s

[2016-09-06 21:10] NullVoxPopuli commented on #1918
Closing due to insufficient information.
Please follow the issue template, and I'll re-open :-)

[2016-09-06 21:10] #1918 closed

[2016-09-07 08:40] hcarreras commented on #211
So, to be clear: ams 0.9 still has this bug and we have to upgrade to ams 1.0?
I'm currently using ams 0.9 and I can't upgrade since I use Rails 3.2.

[2016-09-07 20:39] vasilakisfil opened #1920 "Fields should be mapped to the object methods and not to the final serialized values"
#### Expected behavior vs actual behavior
Suppose that we have:

[code]

and I call:

[code]

Expected behaviour: It returns the resource along with relationships (`bio` and `locations`).

Actual behaviour: It returns just the resource without the relationships.

#### Environment

Latest master branch of AMS

#### Other Info
The fields there should filter the **methods** of the object and not the

[2016-09-07 20:51] richmolj commented on #1920
I actually just ran into this same issue myself, but I arrived at the opposite conclusion.

Given the API response where `relationships` has `somebio`: The consumer of this API has no knowledge of the word `bio`. They only have knowledge of `somebio`. So they would expect a URL with `fields` and `include` to accept `somebio` not `bio`.

This is [per the jsonapi spec](http://jsonapi.org/format/#fet

[2016-09-07 20:56] vasilakisfil commented on #1920
hmm ok no big difference here. Either way is ok for me as long as we have a method that gets one or another set of keys. Because yes client does not know the internal name, but other classes shouldn't know the "external" (or "final") key name.

I will play with that and let you know. I will close this issue for now although I think AMS should provide the method I described. Feel free to re-open if

[2016-09-07 20:56] #1920 closed

[2016-09-07 21:03] richmolj commented on #1920
@NullVoxPopuli @bf4 the suggestion I have @vasilakisfil is private, thoughts on some sort of public API for this?

Personally, I am not a favor of `key` in general. I would rather:

[code]

[2016-09-07 21:09] NullVoxPopuli commented on #1920
I agree that this is a bug. I've ran in to it, and I actually have a PR out there that addresses this (at the dev/user level): https://github.com/rails-api/active_model_serializers/pull/1840

But I'd rather the problem actually be resolved.

I think a complication is that fields can be taken from parameters, which the JSON API consuming client would prefer to be in whatever casing it uses.

BUT! I

[2016-09-07 21:19] richmolj commented on #1920
@NullVoxPopuli wouldn't this be a problem for any API, not just JSON API? That's the example but it someone had an API where `foo` was supposed to limit fieldsets we'd have the same problem.

[2016-09-07 21:21] NullVoxPopuli commented on #1920
I use JSON API as an example, because that's what I work with day-to-day. :-)

[2016-09-07 21:33] richmolj commented on #1920
Sorry I think I was unclear - just wanted to note this is not a JSON API-specific problem.

It really comes down to whether or not you want to optimize for `render` (to match the URL) or outside-of-controller usage (to match the internal serializer). I'd prefer the former as it's the more 'usual' use case.

Or go a step further and deprecate `key` altogether...I'm not totally sure what this buys t

[2016-09-08 14:34] ggpasqualino opened #1921 "Railties dependency"
#### Expected behavior vs actual behavior
One of our applications is a non rails application and we use standalone activerecord 4.2.7.1, active_model_serializers 0.8.3 and ruby 2.3.1.

We are looking forward to update active_model_serializers to 0.10.x, but in this version railties is not an optional dependency anymore, and because of that it would mess our initialization.

Is there a reason behin

[2016-09-09 16:26] richmolj commented on #1920
@NullVoxPopuli @bf4 this just came up in slack as well. How do you feel about deprecating `key` and avoiding the complexity?

[2016-09-09 16:27] NullVoxPopuli commented on #1920
I'm a fan. The simpler the better.

[2016-09-09 16:36] bf4 commented on #1920
@richmolj `key` and its ilk have been around for a while.  However, I agree it can be a confusing api since it forces an attribute -> method mapping in the reverse order that it is declared in the DSL.  I think it would be easier to understand as something like `attribute :somebio, method: :bio`.

On the other hand, the way it's currently written means that you the insides know which attributes to

[2016-09-09 16:37] bf4 commented on #1920
(I implemented `read_attribute_for_serialization` on the serializer instance for a more consistent api, and it's pretty convenient to have)

[2016-09-09 16:44] richmolj commented on #1920
@bf4 I *think* we agree? I would say either your last comment snippet or overriding `read_attribute_for_serialization` are superior to `key`, which suggests it should be deprecated.

[2016-09-11 17:03] oyeanuj commented on #600
@MarcusSky @sbycrosz While generating scaffolds with a Rails 5 API project, I ran into the following issue on 0.9x which goes away on 0.10x - did you guys see the same issue?

[code]

[2016-09-11 17:09] oyeanuj opened #1923 "Compatibility of Rails 5 API-only mode and AMS 0.9x"
Hi folks, I was trying to upgrade my current project to Rails 5, API-only mode while continuing to use AMS 0.9 (due to pending #1845 being blocker for us) and ran into the following issue which goes away on upgrading to 0.10x (which unfortunately, I can't do for my project).

While generating scaffolds with a Rails 5 API project, the project complains about `api_controller.rb`:

[code]

Is this ex

[2016-09-12 15:07] Elvinra opened #1924 "[Q|BUG] 3 level of Nested Serializers"
class ASerializer < ActiveModel::Serializer

has_many :bs

class BSerializer < ActiveModel::Serializer

belongs_to :c

class CSerializer < ActiveModel::Serializer
end
end

The C class is not serializer bug or not ?
if a put "attributes :c" my model is serializer but not with my CSerializer

i need to define manually the serialize

def c
{...}
end

i'm working on the lastest version of rails 4 on R

[2016-09-12 15:13] NullVoxPopuli commented on #1924
Closing due to insufficient information, please follow the issue template (and format your code :-) )
Will re-open when the issue template is followed: https://github.com/rails-api/active_model_serializers/blob/master/.github/ISSUE_TEMPLATE.md

[2016-09-12 15:13] #1924 closed

[2016-09-12 23:23] raphox commented on #1044
For new versions (after #1685 Replace IncludeTree with IncludeDirective from the jsonapi gem.):

[code]

[2016-09-13 03:06] snovity commented on #1834
Had the same issue, implemented an alternative solution in initializer

[code]
Not sure, but maybe it would make sense to give `KeyTransform` access to current `serializer` object.

[2016-09-14 12:20] ddefrenne opened #1925 "Receiving a PATCH with an Array inside the "data"-key should be valid"
#### Expected behavior vs actual behavior
* Expected: Receiving a PATCH with an Array inside the "data"-key is valid, according to http://jsonapi.org/format/#crud-updating-relationships
* Actual: It throws an error `ActiveModelSerializers::Adapter::JsonApi::Deserialization::InvalidDocument: Invalid payload ({:data => "Expected Hash"})`

#### Steps to reproduce
PATCH to /articles/1/relationships/co

[2016-09-14 12:26] NullVoxPopuli commented on #1925
IMO, document validation shouldn't be the responsibility of AMS. @beauby this would be a great opportunity to add a native extension to your jsonapi gem :-)

But anyway, @ddefrenne, do you have time to submit a failing test as a PR?

[2016-09-14 14:16] richmolj opened #1926 "[RFC] Deprecate ActiveModelSerializers::Model"
- Start Date: (2016-09-14)
- RFC PR: N/A
- ActiveModelSerializers Issue: https://github.com/rails-api/active_model_serializers/issues/1877

# Summary

[The documentation on serializing POROs](https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/serialize_poro.md) leads one to believe the PORO should subclass `ActiveModelSerializers::Model`. There are three issues with this:

[2016-09-14 14:25] richmolj commented on #1925
I'd actually like a little clarification around expected versus actual behavior. It sounds like an invalid payload is being submitted, and we raise an error saying an invalid payload was submitted. This sounds like the correct behavior to me, is the suggestion we accomodate invalid jsonapi by not throwing an error?

[2016-09-14 14:28] NullVoxPopuli commented on #1925
@richmolj according to the jsonapi link the given patch payload is valid json api. It's just not a resource or document.

[2016-09-14 14:41] richmolj commented on #1925
Oh, my mistake, thanks for correcting me. You gotta scroll up from the given link to find that example.

Is there a reason we don't rely on https://github.com/beauby/jsonapi for this functionality?

[2016-09-14 14:43] NullVoxPopuli commented on #1925
oh hey: he already has a validation function https://github.com/beauby/jsonapi/blob/master/lib/jsonapi/document.rb#L37

we should use that.

[2016-09-14 14:52] richmolj commented on #1925
@NullVoxPopuli agreed.

Though separately @ddefrenne could you send us a backtrace? [It looks like there is already a passing test for this](https://github.com/rails-api/active_model_serializers/blob/master/test/adapter/json_api/parse_test.rb#L23-L27) and I can't tell what would throw that error.

Are you sure you aren't passing a raw array that is not nested under `data`? eg

[code]

versus

[cod

[2016-09-14 14:56] richmolj opened #1927 "Use jsonapi gem for Deserialization"
#### Expected behavior vs actual behavior

`ActiveModelSerializers::Adapter::JsonApi::Deserialization` has its own logic for deserialization. As we already depend on [https://github.com/beauby/jsonapi], let's use that gem for this purpose instead.

#### Steps to reproduce

N/A

#### Environment

N/A

#### Backtrace

N/A

#### Additonal helpful information

Relevant method for validating documents:

[2016-09-14 14:56] richmolj commented on #1925
@NullVoxPopuli https://github.com/rails-api/active_model_serializers/issues/1927 to use jsonapi gem instead

[2016-09-14 14:58] ddefrenne commented on #1925
@richmolj The data Array I supplied is not one that is to be nested in "relationships", but is at the top level. When you send a request to an endpoint for a specific relationship to a resource (<resource>/<id>/relationships/<relationship-resource>), it should allow sending an Array of them (in this case comments).

[2016-09-14 15:01] ddefrenne commented on #1925
This is the part of the spec I'm refering to:
<img width="713" alt="screen shot 2016-09-14 at 16 59 33" src="https://cloud.githubusercontent.com/assets/83854/18517510/d8943072-7a9c-11e6-8a3f-6d2051b5ae24.png">

[2016-09-14 15:01] NullVoxPopuli commented on #1925
There is opportunity here to make a gem that automatically adds relationship endpoints to every resource. :-)

[2016-09-14 15:23] richmolj commented on #1925
@ddefrenne thanks for pointing me in the right direction, we're on the same page now.

[Here's a failing test](https://github.com/richmolj/active_model_serializers/blob/deserialization_fix/test/adapter/json_api/parse_test.rb#L66-L72) for this. Though @NullVoxPopuli I still favor moving this to the jsonapi gem.

[2016-09-14 15:24] richmolj commented on #1925
@ddefrenne could you verify the expected behavior would be a parsed document like:

`[ { id: 2 }, { id: 3 } ]`

[2016-09-14 15:28] NullVoxPopuli commented on #1925
@richmolj if you change the validation code to use the jsonapi gem's validation? does that test pass?

[2016-09-14 15:30] ddefrenne commented on #1925
@richmolj Looks ok. Is there a reason why the "type" gets ignored? You can deduce it from the route, but I like to see it as an extra check that users are accessing the right endpoint.

[2016-09-14 15:35] richmolj commented on #1925
@NullVoxPopuli the validation will not fail, but I think the actual parsing code would. Would the parsing fail if it, too, were moved to jsonapi gem? Unsure. They work slightly differently so I'd have to revisit this later.

@ddefrenne I'm just following the [existing behavior](https://github.com/rails-api/active_model_serializers/blob/master/test/adapter/json_api/parse_test.rb#L33-L40). That said

[2016-09-14 15:36] NullVoxPopuli commented on #1925
@richmolj parsing checks if the document is valid, so parsing *should* if the validation check is changed.

[2016-09-14 15:36] richmolj commented on #1925
Unless maybe we added something like `ActiveModelSerializers::Adapter::JsonApi::Deserialization.parse(document, root: true)`?

[2016-09-14 15:37] NullVoxPopuli commented on #1925
no more roots!

[2016-09-14 15:39] richmolj commented on #1925
Well, we're changing the expected contract of the parse code, so it would no longer work. Same as if we changed the validation check to be an empty method. [Here's where the failure would happen](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model_serializers/adapter/json_api/deserialization.rb#L92) (code expects a hash but given an array)

[2016-09-14 17:16] #1921 closed

[2016-09-14 17:44] NullVoxPopuli commented on #1927
:+1:

[2016-09-15 15:57] remear commented on #1817
Closing due to lack of submitter response.

[2016-09-15 15:57] #1817 closed

[2016-09-15 16:01] remear commented on #1876
Closing due to inactivity

[2016-09-15 16:01] #1876 closed

[2016-09-15 16:02] remear commented on #1795
@ezekg Sure, that sounds like a good place to start.

[2016-09-15 16:03] #1739 closed

[2016-09-15 16:04] #1772 closed

[2016-09-15 16:08] chrishough commented on #1817
Sorry for the delay, I have a list of these issues I need to get back to.  The issue has disappeared magically for now. I would consider this closed and will re-post if it pops back up.

[2016-09-15 16:22] NullVoxPopuli commented on #1927
I'm going to grab this one

[2016-09-15 17:00] remear commented on #1923
It's undesirable, but not entirely unexpected. This is a symptom of development efforts shifting to 0.10.x and support for 0.9.x being reduced and deprecated. Problems like these will become more frequent as 0.9 ages. I'd recommend migrating to 0.10.x and would be interested to hear why you're currently unable to do so.

[2016-09-15 17:30] remear commented on #1834
@bdmac Regarding json attributes, https://github.com/rails-api/active_model_serializers/issues/1834#issuecomment-231464439.

Are you saying it's currently changing the case of keys in the value of each json attribute of the model? KeyTransform wasn't originally designed to do that. I use jsonb fields in my Rails API applications and that hasn't been my experience. If you're seeing the jsonb value'

[2016-09-15 17:50] oyeanuj commented on #1923
@remear Thanks for the response! While I totally understand not wanting to invest more on the 0.9x and 0.8x versions, I am hoping that atleast having them compatible with Rails-5 would be worth the effort and fits under 'reduced support'.

For our case, I'd love to upgrade to 0.10x but #1845 is a blocker which I know @bf4 is mulling over and working on. (_In general, and please correct me if I'm w

[2016-09-15 18:47] bf4 commented on #1817
Great!

[2016-09-15 18:57] NullVoxPopuli commented on #1927
@richmolj added you, cause @remear told me you want to tackle this. I can just work on native extensioning key transforms. I've extracted key transforms into a gem already, as it needs to be shared between AMS and whatever ends up doing deserialization.

[2016-09-15 19:53] bdmac commented on #1834
@remear yes that's exactly what I'm saying. I know it wasn't designed to and included the commit SHA that broke this and indicated what needed to be changed above as well (https://github.com/rails-api/active_model_serializers/issues/1834#issuecomment-231464895).

The problem has moved slightly as KeyTransform has been refactored but looking at it I would think it is still present. There are severa

[2016-09-15 20:18] remear commented on #1834
Right, the mutating part of this issue is a separate concern to me from transforming keys of the _value_ of a json attribute of a model and I don't want that problem to get forgotten when the mutation issue gets fixed.

Just so we're on the same page, I'm talking about a structure like:

[code]

I would expect that nothing in the value of `json_things` to be transformed. `a_key`, `a_subkey`, `anot

[2016-09-15 20:27] bdmac commented on #1834
Right, gotcha. I cannot confirm what happens in the latest master, just what I was using at the time when I reported this (we're on a fork at this point for other reasons). At that point in time using a KeyTransform like dasherize was deep transforming all the way down the model's hash structure into the `json_things` key on down. It was mutating these keys which was bad from both a "that's not wh

[2016-09-15 21:14] remear commented on #1923
Even fixing all known issues with 0.9 and Rails 5 would bring an increased support burden because issues will continue to come up. The expectation would then become that AMS support 0.9.x on Rails 5.x. Support has to end at some point. I know that's a bummer.

With that being said, if this is the only issue to get 0.9 working with Rails 5, we could probably consider a PR that fixes the issue. I th

[2016-09-15 21:26] oyeanuj commented on #1923
@remear I'd be happy to give it a shot if I can get some guidance on the right direction. Given that you all have a plethora of knowledge, if you can help point me to the right direction, I can report back with the PR/steps/solution.

I hear you. Maybe putting a big disclaimer on the README? :)

I just think that the AMS change is the hardest on those on 0.9x and this disconnects upgrading AMS fro

[2016-09-16 00:18] remear commented on #1923
Great, thanks for your willingness to contribute!

I suspect a good place to start would be comparing the differences between the generators:

0.9 - https://github.com/rails-api/active_model_serializers/tree/0-9-stable/lib/active_model/serializer/generators
0.10 - https://github.com/rails-api/active_model_serializers/tree/master/lib/generators/rails

It could be something like https://github.com/r

[2016-09-16 07:33] rmcsharry commented on #1027
I am using AMS 0.10.2 with Ember 2.7 and did not need to register a mime type for everything to work. I simply added the AMS gem and configured it as recommended:

/config/initializers/active_model_serializer.rb
[code]

However, the Header being sent from Rails is `application/json` and not `application/vnd.api+json`

My understanding is that if you want the api to be spec-compliant, the server sh

[2016-09-16 10:17] polarlights opened #1929 "Integer attribute was converted to string"
#### Expected behavior vs actual behavior

I'm new to AMS. I created a table named 'tags'.  Here it is.
[code]

The data type of id is Integer. However the output is **String**.

##### Expected:

[code]

##### Actual:

[code]

#### Steps to reproduce

* Model

[code]

* Controller
[code]

* Serializer
[code]

#### Environment

ActiveModelSerializers Version *0.10.0*:

Output of `ruby -e "puts RUBY

[2016-09-16 12:00] richmolj commented on #1929
Hi @polarlights - looks like you're outputting jsonapi. According to the jsonapi spec, id must be a string: http://jsonapi.org/format/#document-resource-objects

[2016-09-16 12:00] #1929 closed

[2016-09-16 12:50] polarlights commented on #1929
Yep. My fault. Thank you very much! 👍

[2016-09-16 13:18] richmolj commented on #1927
@NullVoxPopuli @remear not sure this is coming from, I was glad to see you pick it up 😄 I can take it, but probably won't get a chance until next week/end.

[2016-09-16 13:43] NullVoxPopuli commented on #1927
That's cool. Lets just stay in contact then, cause I've also started a few gems this week:

Released
 - https://github.com/NullVoxPopuli/case_transform - needs native extensions

In Progress
 - https://github.com/NullVoxPopuli/rails_module_unification
 - https://github.com/NullVoxPopuli/has_integrations

Placeholder I had made until I heard you were interested :-)
 - https://github.com/NullVoxPopu