[2015-07-28 14:16] joaomdmoura commented on #1008
It's probably because the way that the new AMS version splits it's logic between `serializers` and `adapters`.

[code]
You could try to refactor the `picklists` virtual attribute to use something like it.
Another option would be not have the `PicklistItemSerializer` and built the `Hash` you need inside the custom serializer for the `Thing` model.

[2015-07-28 14:17] joaomdmoura commented on #1012
awesome :+1:

[2015-07-28 14:23] joaomdmoura commented on #898
Indeed @j-mcnally, as @Rodrigora mentioned, back then it wasn't true, but right now only the `Json` adapter enables you to use root.
I'm closing this one but let me know in case you have any problems with it.

[2015-07-28 14:23] #898 closed

[2015-07-28 15:49] randallb opened #1023 "[ams 0.10.2] undefined method `new' for nil:NilClass with relations"
So i have one serializer which does `has_many` to another relationship.

The second model doesn't have a serializer currently, and I get this error:

`undefined method `new' for nil:NilClass with relations`

stack trace:

```/Users/rb/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/bundler/gems/active_model_serializers-a7c8c60929ec/lib/active_model/serializer/array_serializer.rb:16:in `block in initiali

[2015-07-29 00:50] jfelchner opened #1024 "Objects with an attribute named 'type' don't have that attribute serialized properly"
We're overriding the polymorphic inheritance column:

[code]

And we have a field in our DB named `type`.  It seems that AMS [has it hard coded](https://github.com/rails-api/active_model_serializers/blob/90fb1cf809dfa606181a1e047f30a05efe71912a/lib/active_model/serializer/adapter/json_api.rb#L105) that `type` should be deleted from the attributes which I believe is not correct.

[2015-07-29 09:54] thomasdavis commented on #370
Great tips so far guys, hope someone can come up with a plug and play solution =D

[2015-07-29 21:20] jfelchner opened #1025 "Serializing Relationship Without Include"
I've been looking through the code and there doesn't appear to be a way to serialize a `relationship` without also serializing an `include`.  Let me explain:

We have two systems.  In one we have, let's say, a `Product` and in the other we have, for example, an `Alert`.  An `Alert` has a `product_id` on it.  For the purposes of our backend systems, the alert system could care less about the `Produ

[2015-07-29 23:50] trezona-lecomte commented on #835
+1 for supporting nested associations deeper than 1 level

[2015-07-30 01:42] joaomdmoura commented on #923
Awesome @piotrpalek just let as know. I'm closing this one for now.

[2015-07-30 03:55] joaomdmoura commented on #834
so @SeyZ and @krzkrzkrz you could try to workaround this by creating a new adapter that inherits from json-api's one but it is almost implement the feature itself.
I can't thing on a easy workaround on this that would still follow the json-api conventions. :cry:

[2015-07-30 03:57] joaomdmoura commented on #875
:+1: :+1: :+1: :+1: :+1:

@emma-borhanian we would need to check on this, but we are focusing out efforts into 0.10.x, so it might take a while.

[2015-07-30 04:20] joaomdmoura commented on #922
@iRet and everyone involved.
I know this is not exactly what we discussed but might by a cleaner and good option to filter attributes. This `fields` options it already used by `json-api` adapter, I've fixed it and implemented it to on `json` adapter.
Check it out and :+1:  it if it would work for you. Btw it's for 0.10.x version.

[2015-07-30 07:05] iRet commented on #828
So, guys, what is the default_serializer_options destiny? is it available, renamed or removed?

[2015-07-30 07:06] iRet commented on #898
So, guys, what is the default_serializer_options destiny? is it available, renamed or removed?

[2015-07-30 07:17] iRet commented on #922
@joaomdmoura actually this is not exactly what I'm looking for. It may be useful especially in combination with ability to define `default_serializer_options` which seems non functional anymore?
However second handy scenario is to have presets of fields depending on action, requires ability of custom processing from serializer side. In particular render light set of data for index action and detai

[2015-07-30 10:08] begedin opened #1027 "Adding custom mime type for 'application/vnd.api+json' seems to be required to receive data from clients using JSON API"
Using ember and ember-data with it's built in JSON API support means my client is sending POST/PUT/PATCH requests with `ContentType` set to `'application/vnd.api+json'`.

By default, even though I've set my adapter in my rails app to`:json_api`, the controller action for create/update doesn't receive any data.

After some troubleshooting and googling, I've found out I need to create an initializer

[2015-07-31 02:06] joaomdmoura commented on #1027
Hey @begedin, thank you for the issue:

Probably, you might not even need to set the adapter depending on how we decide to do this.

Not sure, we haven't started to implement it so it's a new problema for us as well, but we are already working on deserialization, what means we will face this problem soon.

As I said, I'm not sure, we will face the same problem on the deserialization implementation

[2015-07-31 02:06] #1027 closed

[2015-07-31 02:17] shicholas commented on #1027
hey @begedin I'm using rails with AMS ``.10`` and the latest ember/ember-data (``1.13``). I added this as an initializer:

[code]

and everything seems to be working fine :).

[2015-07-31 04:46] #839 closed

[2015-07-31 05:34] joaomdmoura commented on #968
Taking into consideration there is a [issue](https://github.com/rails-api/active_model_serializers/issues/835) and some work in progress on a PR related to it, I'm closing this one in favor of others.

[2015-07-31 05:34] #968 closed

[2015-07-31 06:11] joaomdmoura commented on #943
hahah @zaaroth glad that you made it @zaaroth

[2015-07-31 06:54] joaomdmoura commented on #1020
Hi @pedrokost, indeed, we are aware of this, there are two implementation we will do to decrease the response time.
1 - Russion Doll Caching (as you mentioned)

[2015-07-31 08:04] begedin commented on #1027
@shicholas That seems like a cleaner way to do it, so thank you for that snippet.

[2015-07-31 13:52] joaomdmoura commented on #624
@linjunpop Indeed, it would be great to add it, but maybe to our new [docs](https://github.com/rails-api/active_model_serializers/tree/master/docs) instead. I'm sure if the behavior still exactly the same but `serialization_scope_name` is implemented on 0.10.x

[2015-07-31 14:05] #801 closed

[2015-07-31 14:12] joaomdmoura commented on #1009
@jpaas and can you share where you are calling the serializer/adapter itself?
Yeap, probably what you would need is to `include` the other resources, [check it here](https://github.com/rails-api/active_model_serializers#jsonapi), it would also imply into removing `embed_in_root`. This would give you something that probably follows json-api conventions

[2015-07-31 14:17] joaomdmoura commented on #857
@dpmccabe would be awesome if you could checkout https://github.com/rails-api/active_model_serializers/pull/999 and give it try. Check if it solves your problema, if it does :+1: it. :smile:

[2015-07-31 14:21] jpaas commented on #1009
I'm using grape and grape-active_model_serializers. My grape endpoint returns the PORO, and grape-active_model_serializers calls the serializer/adapter.

Ah, I didn't realize that the convention had changed from the include directive being in the serializer to being on the render. I'm not sure if grape-active_model_serializers will pass that include option along for me, but I can try and I'll get

[2015-07-31 14:24] joaomdmoura commented on #1022
@sentience indeed we haven't mentioned anything on README. Would be awesome  if you could make a PR to add some guide into our [new docs](https://github.com/rails-api/active_model_serializers/tree/master/docs) to 0.10.x if you end up making it :smile:
Our tests suit uses PORO objects as well so the best suggestion I have would be to [check it out](https://github.com/rails-api/active_model_serializ

[2015-07-31 14:28] joaomdmoura commented on #1023
@randallb could you give it a try to `master` to check if it's fixed already?

[2015-07-31 14:30] joaomdmoura commented on #1024
@jfelchner yes, right now `type` is a protected word for anyone that we use to follow `json-api` conventions, `id` as well.
We are actually discussing about changing to no impact users that are using other adapter.

[2015-07-31 14:33] joaomdmoura commented on #370
@thomasdavis this is not exactly the same implementation but we might add something similar to 0.10.x

[2015-07-31 14:39] joaomdmoura commented on #898
@iRet removed

[2015-07-31 14:40] iRet commented on #898
@joaomdmoura is any convenient way to specify to serializers options globally exist? instead of every time to `render`.

[2015-07-31 14:41] joaomdmoura commented on #828
`default_serializer_options` was removed on 0.10.x

[2015-07-31 14:45] joaomdmoura commented on #922
@iRet sorry I had forgot [the link](https://github.com/rails-api/active_model_serializers/pull/999). It does exactly what you said. (or not?)

[2015-07-31 14:47] joaomdmoura commented on #898
that depends on the option.
A lot of the usual options are related to the adapter you choose, so it's a way of set a convention application-wide without bother using it on every `render`

[2015-07-31 14:50] iRet commented on #922
@joaomdmoura thanks! not exactly but better than nothing.

[2015-07-31 15:15] iRet commented on #898
@joaomdmoura for example if I want to specify some context to Serializer. I think it is useful to have at least two sets of fields one light for index and another detailed. I know I can implement two separate serializer and I've used this approach but finally found it is more conveninent to tweak one.

[2015-08-01 20:19] joaomdmoura commented on #898
Other option would be to use the `field` option on the render.
But indeed, if are going to use the **same** different set of attributes on many actions (rather than just `index`, as the example above), the only way to make it DRY right now is to have two serializers.
I agree that have different set of fields might be convenient, but seems to be an edge-case for me.

[2015-08-02 05:26] kimsuelim commented on #1023
It works fine in ``master``

[2015-08-04 13:21] bolshakov commented on #1011
Hi, @trek

I was the author of `assert_serializer` and currently I don't use it anymore and I think It's not very useful.
I'm not against `assert_serializer`, but there is a much better approach for testing rails controllers with serializers. Each API endpoint I describe with [JSON Schema](http://json-schema.org). This is not waste of time! You can reuse your schemas on documentation and on tests.

[2015-08-04 13:24] bolshakov commented on #1011
If you're curious about rendering JSON Schema in docs, look at awesome library [docson](https://github.com/lbovet/docson). It can generates something like this http://lbovet.github.io/docson/index.html#/docson/examples/example.json

[2015-08-04 15:43] agis- commented on #582
Adding the commit for future reference: https://github.com/rails/rails/commit/28ab79d7c579fa1d76ac868be02b38b02818428a.

[2015-08-04 19:55] yjukaku opened #1036 "Using serializers outside of ActionController"
1) It would be awesome if the docs could be updated to show how to use AMS outside of a controller.  If you want to do some checking in the console, it's not clear how to view serializer output.  I believe it comes down to creating the eg. `ArticleSerializer` object and passing it to an ie. `FlatternJsonAdapter` but I can never remember how to do it - and I can't quickly find it even now.

2) Is t

[2015-08-05 12:43] yjukaku commented on #1036
Found the answers:

1) Using AMS outside of controllers:
[code]

2)  Default serializer for a class

[code]

I'm leaving this issue open because I think this should be in the README

[2015-08-05 13:23] johnhamelink opened #1038 ""not opened for reading" on ams > 0.9.3"
Hey there,

I'm working on a new API project where I'm using AMS with Grape and Swagger-UI. I wanted to use the 0.10.0 release candidates so I could utilize JSON-API in full while building my API. However in both `0.10.0.rc1`, `0.10.0.rc2`, and git master I get the following error when trying to serialize (JSON output from Swagger UI):

## Stack Trace:

[code]

## My `Gemfile.lock`:

[code]

## Ex

[2015-08-05 14:24] bolshakov opened #1039 "Overriding adapter"
I can override adapter for specific action this way

[code]

This is not convenient enough if you use your own adapter, since adapter string is converted to adapter class in the `ActiveModel` namespace:

[code]

My suggestion is to pass adapter as a class instead of symbol, or allow to pass both class an symbol.

[2015-08-05 18:53] bacarini opened #1040 "Pagination Links on AMS"
Hey guys,

I am working on an API and I need to return pagination links on my responses. I am wordering the best way to to that. [JSON-API](http://jsonapi.org/format/#fetching-pagination) specification does not let it clear on how it should display the links top-level.

what is your thoughts about the following example?

[code]

Anyway, I've opened a [PR](https://github.com/rails-api/active_model_

[2015-08-05 20:32] dbwieland18 opened #1042 "change adapters conditionally"
I'm wanting to implement the jsonapi adapter for version 2 of an api, but I understand that this configuration is set in an initializer, according to the docs. Any ideas for specifying a different adapter ONLY for requests to V2 routes?

[2015-08-05 20:47] dbwieland18 commented on #1042
just came across another issue mentioning that the default adapter can be overridden for certain actions like this
[code]
maybe that's my answer?

[2015-08-06 01:12] dbwieland18 commented on #1039
Wondering how you're able to override the adapter as shown above--any other setup required to pass
[code]
and have it change adapters? I get a NoMethodError currently when trying it that way.

[2015-08-06 07:23] bolshakov commented on #1039
Yep, it should change adapter. When you are passing :adapter options to `render` method, it forwards options to `ActiveModel::Serializer::Adapter.create` method. Look at the code here https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter.rb#L30-L38

AMS changing a lot now, so you may be looking to not latest version.

[2015-08-06 07:32] bolshakov commented on #1042
AMS does not support this feature by itself not, but this behavior easy to achieve.

[code]

[2015-08-06 21:19] joaomdmoura opened #1043 "Change logic on virtual associations"
on 0.10 we are enabling ppl to override association with virtual ones using methods on serializer, for example:

[code]

But there is a small bug, if the object being serialized have a `nil` relationship, it won't run the serializer's method.
I've already isolated and fixed the bug, will open a PR, this is issue is just to keep track of it.
here is a potato: :sweet_potato:

[2015-08-07 18:46] kulte commented on #1020
@joaomdmoura Hey man, this is a huge bottleneck for our new API. How can we help!?

[2015-08-07 21:55] elliotlarson commented on #835
:+1: I both agree that it's a bad idea for the default, but the option to configure it to allow nested associations would be very useful

[2015-08-07 23:01] atbyrd commented on #851
After update to 0.10 i get an error saying ```wrong number of arguments (1 for 0) ``` when calling render.
[code]

[2015-08-08 17:48] joaomdmoura commented on #1020
Hey @kulte we are supposed to start working on this in a couple of weeks, but if you feel that you could handle it you could starting opening an issue explaining better the implementation we want to implement and maybe some examples or anything that would be worth sharing before start working on that for real.
Then we can speed up the process by gathering other ppl thought about it, then depending

[2015-08-08 17:53] joaomdmoura commented on #1023
Awesome @kimsuelim tks, I'm closing this one then.

[2015-08-08 17:53] #1023 closed

[2015-08-08 18:21] joaomdmoura commented on #507
I'm closing this one, mostly because it's out of date and we are already handling it on other PR's a discussions.

[2015-08-08 18:21] #507 closed

[2015-08-09 15:25] richmolj commented on #835
+1 Another scenario here is when you have a recursive tree structure. Looking at https://github.com/rails-api/active_model_serializers/issues/968 you can actually make this work with dot-notation, though @joaomdmoura I'm not sure if this is officially supported or something that just happens to work?

[code]

[2015-08-09 22:25] jfelchner opened #1044 "Performance improvement with associations using includes?"
Just wanted to throw this in here for someone with more knowledge about AMS than I.

It seems as though it would be a prudent thing to do to check to see if the thing being serialized in an `ActiveRecord::Relation` and, if so, fire off an `includes` for the set of associations on the serializer.

This doesn't seem to me to be something that should be handled at a higher level since we're specifyin

[2015-08-10 06:45] bilby91 commented on #835
+1

[2015-08-10 13:38] joaomdmoura opened #1045 "Implement Russia Doll Cache"
We have already implemented cache and fragment cache on 0.10.x, but we still need to make it better by implementing a Russia Doll Cache that will enable us to increase our performance when serializer different set of a resource.

[2015-08-10 14:15] trek commented on #1011
Comparing to JSON Schema is partially how we unit test the serialization itself, but this approach turns your controller unit tests into more of an integration tests. Similar to how tests would behave with `integrate_views`/`render_views` turned on in RSpec.

I've found this approach to end up being mostly annoying, especially as you're mid-development of the next version of a public API. You chan

[2015-08-11 00:56] joaomdmoura commented on #1011
Great @bolshakov, I like json-schema, and indeed it seems a good approach. I'm deeply interested into documentation stuff right now :smile:
@trek I would not discard the implementation itself, as you said, it still pretty useful. You could start creating a new using with a proposal of it as reference point.

[2015-08-11 00:57] joaomdmoura commented on #582
:+1:

[2015-08-11 01:15] joaomdmoura commented on #1036
Hey @yjukaku, first of all thanks you for your issue!

Indeed we need to update our docs! I'm glad to announce that we started working on an official docs (that we are not kind spreading yet), but you can check it [here](https://github.com/rails-api/active_model_serializers/tree/master/docs).

The code you posted above **was** right, but we have updated the way you use serializer in other to make

[2015-08-11 01:23] joaomdmoura commented on #1038
Hey @johnhamelink, first of all I'm really glad to hear the you are building cutting-edge API's! :smile:
Some ppl have already reported errors involving `ams` + `grape-active_model_serializers` but only when related to cache, this is the first time I see something like it.
I'll try to replicate it, but please if anyone else have some experience with `grape` make yourself comfortable to share with

[2015-08-11 06:55] bolshakov commented on #1011
@trek look at [discussion](https://github.com/rails/rails/issues/18950) about deprecating `assert_template` in Rails. It contains interesting thoughts about testing controllers.

@joaomdmoura if you have some ideas about documenting API, please don't hesitate to share it with us :)

[2015-08-11 07:10] bolshakov commented on #1042
I found ancient age [discussion about using Responders](https://github.com/rails-api/active_model_serializers/pull/228) instead of overriding internal methods `_render_option_json` and `_render_with_renderer_json`.

I think using responders may solve the same problem more elegant way. In my code base I have several overriding of those methods. For example:

Fields for serialization:
[code]

Includ

[2015-08-11 10:18] johnhamelink commented on #1038
Cheers! We're using 0.9.3 right now to get started, but we'll want to switch over to 0.10 asap so we don't need to rewrite too much client side code :)

Let me know if there's anything I can do to help!

[2015-08-11 10:37] PratheepV opened #1046 "root option in render json is not working"
Hi,

I am using the rails-api and ams. But root option in render json is not working. Its always returning the class name only.

[code]
At https://github.com/rails-api/active_model_serializers/blob/v0.10.0.rc2/lib/active_model/serializer/adapter/json.rb#L40, are forcing the root as serializer json_key.

It should respect my root option while rendering the json right.

If I change the code like bel

[2015-08-12 01:23] joaomdmoura commented on #1039
Hey @bolshakov, indeed, this would be an improvement.
You can workaround this by using the same namespace, but that would be quite a hack.
If it's something system-wide you can also use the `config.adapter`, then you can use a class.

It seems an edge-case for me, but it's a valid scenario, I'll keep it open! :smile:

[2015-08-12 05:55] joaomdmoura commented on #1024
@jfelchner I'm closing this one. It's already implemented on master :smile: btw `id` as well.

[2015-08-12 06:09] jfelchner commented on #1024
@joaomdmoura awesome! 😄

[2015-08-12 06:17] #1024 closed

[2015-08-12 13:55] joaomdmoura commented on #1042
@dbwieland18  as @bolshakov mentioned right now we do not support it with an application-wide feature but you could use an adapter string instead of an option to override it on a specific render.

Indeed @bolshakov I already had to implement a similar thing that would change the adapter accordingly the MIME Type. (for json-api).

I'm not in favor or using `respond_with` instead of the render metho

[2015-08-12 14:04] joaomdmoura commented on #851
Hey @atbyrd, I'm sorry to hear that, I'm not sure if you still have this problem. If you do, could you please open a new issue for that letting us know your Rails version and with you are use ams 0.10 rc1, rc2 or master?

[2015-08-13 01:32] joaomdmoura commented on #835
Yeap @richmolj it's officially supported, but I **think** it only work with json-API adapter.

[2015-08-13 01:35] joaomdmoura commented on #1046
@PratheepV  Would you mind to test it against master? I think it was already fixed.
Thank You. :smile:

[2015-08-13 01:43] joaomdmoura commented on #1011
:grin: @bolshakov let's chat on IRC or over email someday. But I'll open an issue to discuss it once I finish deserialization :smile:

[2015-08-13 05:23] #1046 closed

[2015-08-13 14:17] dbwieland18 commented on #1042
Thanks for the thoughts! I've ended up just using an adapter string for testing the json-api adapter for my V2, but I'll keep the other techniques in mind once we settle on something.

[2015-08-13 14:17] #1042 closed

[2015-08-13 17:52] dbwieland18 opened #1053 "embedding ids in 0.10.x"
I've come across a few issues that have started the discussion about including support for side-loading associations in 0.10.x, but with that still somewhere down the pipeline, I'm wondering if anyone has gone through the process of re-implementing the 'old' (not json-api) formatting that previous versions of AMS allowed for through use of
[code]
... need to stay on master for caching support, but

[2015-08-14 05:05] josercruz01 opened #1054 "Failure to embed same nested association attribute on the root (Exception) 0.9-stable"
There seems to be a small bug when embedding nested associations in the root. AMS is failing to merge the ```Type``` field of both the child ```User``` instance and the parent ```User``` instance on the root level.

I need to serialize the following association, but the serializer fails to merge the values for the nested ```TypeSerializer``` by throwing an exception inside the ```embedded_in_root_

[2015-08-14 18:09] al3x-edge commented on #922
@joaomdmoura Is this currently the only way to filter in 0.10.x?  Seems odd when I have 30-40 attributes in a few of my models and I need to only remove 1 or 2 based on scope; end up with a 3 line string of fields in my controller as well as multiple render statements depending on which to remove.

Is AMS open to having an `except` option to optionally just remove fields as well or is it possible

[2015-08-14 20:08] iRet commented on #922
@al3x-edge +1 for except!
Lack of this feature and missing customization makes 0.10 unusable for my and I belive for many projects running on 0.8 – 0.9.
I'm staying on 0.8 just because of better features set.

@joaomdmoura can we do something with this before release?

[2015-08-15 15:53] maclover7 opened #1055 "Move to Rails Github Org"
A recently extracted gem, ActiveModel::Serializers::Xml, is now hosted in the Rails Github organization. For consistency, and since rails-api is now in Rails master, does it make sense to move active_model_serializers as well, and to deprecate the rails-api Github org?

[2015-08-16 00:31] thecritic opened #1056 "Serializer with relationship serializer not working with json_api adapter"
I am trying to use custom serializers in my relationship, and they seem to work with the custom adapter, however, when I specify the json_api adapter in an initializer, they stop to work.

Here is my serializer:

    module Api
      module V1
        module Serializers
          class PostSerializer < ActiveModel::Serializer
            attributes :title, :id

            belongs_to :author, seri

[2015-08-17 01:00] qasic opened #1057 "Serializer unable to open file paths with colon"
This line in `serializer.rb` is not Windows friendly.

[code]

On Windows, `caller.first` could return a file path that contains a colon:

[code]

After it goes through the regular expression, I path gets translated to

[code]

which obviously fails to resolve.

[2015-08-17 06:25] joaomdmoura commented on #1053
@dbwieland18 I think you can use the `include` option that we have on 0.10.x.

[code]

You can also use `.` in order to chain associations

[code]

We still have `embed` but only when declaring a association on a serializer:

[code]

I'm not sure if this solves your problem, just let me know :smile:

[2015-08-17 06:37] joaomdmoura opened #1058 "Bringing Filter to 0.10.x"
### **tl;dr**
Older versions of AMS had a `filter`feature that older users are used to. We would like to bring this to 0.10.x.

---
Older versions of AMS had a `filter`feature that older users are used to.
We would like to bring this to 0.10.x mainly for two reasons:

1. There is no easy way to filter attributes on 0.10.x so far
2. It will help ppl to update from 0.8 and 0.9

The idea is to provid

[2015-08-17 06:37] joaomdmoura commented on #922
Hey @iRet and @al3x-edge, I understand the case here, and indeed it makes sense.
We'll find a solution to this before the release, for sure. I'm inclined to implement `filter` back and move away from `if` and `except`.
Because of that I'm closing this Issue, opening a [new one](https://github.com/rails-api/active_model_serializers/issues/1058) to bring `filter` back

[2015-08-17 06:37] #922 closed

[2015-08-17 06:52] joaomdmoura commented on #992
closing this one in favor of https://github.com/rails-api/active_model_serializers/issues/1058

[2015-08-17 06:52] #992 closed

[2015-08-17 06:56] joaomdmoura commented on #1055
@maclover7 this is already being taken care of, we are in touch with the Rails team and working on the details. @spastorino is probably the one with the most up to date info regarding this matter.

[2015-08-17 13:47] bacarini commented on #1056
Hey @thecritic,

It is works fine for me. Relationships only returns `id` and `type` according to [json-api exmaples](http://jsonapi.org/examples/). If you need to return more information about this relation you should add `include` option on your render action.

[jsonapi.org/format](http://jsonapi.org/format). It will include the associated
resources in the `"included"` member when the resource n

[2015-08-17 13:53] joaomdmoura commented on #1056
@thecritic it's as @bacarini just said, you may also include chained associations by using:

[code]

@bacarini could you please add the same response to the SO question? :smile: It might be easier for other to find as well.

[2015-08-17 13:57] thecritic commented on #1056
Hi @bacarini!
First of all, thanks for your reply. Yes I knew about includes and I went this route and it does make sense when I think about it (one wouldn't want to always include the fully fleshed out objects in the response data without explicitly specifying includes...), but isn't there a way to specify that these objects should be fully fleshed out within the relationships ? Or is this expect

[2015-08-17 14:24] spastorino commented on #1055
@maclover7 that's the idea and what I'd like to do but I'm waiting for a reply from the rest of the Rails core team.

[2015-08-17 14:52] maclover7 commented on #1055
:+1:

[2015-08-17 14:59] joaomdmoura commented on #1056
So @thecritic, this is the expected behavior, because it follows the json-api conventions, as you can see by the chain bellow, it does not support an `attributes` key.

...
- data: **resource linkage**

...
- A "resource identifier object" MUST contain `type` and `id` members.

I know it might seems an overkill, but the idea is to force you to keep it simple. I honestly don't think it's an overkil

[2015-08-17 16:23] thecritic commented on #1056
@joaomdmoura I could imagine that you could infer the relationship objects from the includes ? I thought that the set of includes overlaps with the relationship objects, which is where the redundancy comes in. Well I guess there is a good reason for doing it this way, so not going to further question this approach. Thanks @joaomdmoura and @bacarini for pointing me into the right direction and solv

[2015-08-17 16:40] joaomdmoura commented on #1056
We do not infer the relationship from the includes because you can also include other objects that are not related to the original object, as in:

[code]

I think this is a suitable question but more related to json-api itself, they have a pretty active project and are really friendly in case you want to open an issue there to question about it :smile:  https://github.com/json-api/json-api

[2015-08-17 16:40] #1056 closed

[2015-08-17 16:42] bacarini commented on #1056
:+1: :smiley:

[2015-08-17 20:41] yijia-zhan opened #1059 "Only use AMS (0.9.3) for specified controller?"
I have been playing with AMS(0.9.3) and it has been working out really nice. My plan is to gradually introduce it to the application and replace existing JSON rendering.

The problem is that, once the gem is included, it immediately affects all existing `render json: @object`. This breaks all existing versions of APIs. Is there a way to turnoff or disable AMS globally and only use it in newly adde

[2015-08-17 20:48] joaomdmoura commented on #1059
Hey @yijia-zhan, first of all thank you to give a try :smile:
I would recommend the newest version we have being working on, the 0.10.x, you can use the rc2 or the master (we focus on always keep it working).

Yup, the default behavior of AMS is to use a serializer (if there is one) on every  `render` of that object.

There someways to work-around this, the easiest one that come to my mind right n

[2015-08-17 21:14] yijia-zhan commented on #1059
Thanks for the super fast reply @joaomdmoura. So if i'm understanding you correctly, what you are suggesting is to namespace serializers to fool the look up logic? For example:

[code]
And with this, the old API would fall back to existing serializing behavior because it couldn't find the serializer for `Blog`?
[code]

---

I did try `0.10.rc2`. But I think it currently has problems serializing ne

[2015-08-17 21:25] joaomdmoura commented on #1059
Yup, that's exactly what I meant.
We do not support more than 1 level deep association for now, so in the example above the `blog` rendering would return the `posts`, but not the `comments`, unless you use the `include` option as described on the thread you mentioned :grin:

[2015-08-17 21:27] yijia-zhan commented on #1059
Actually, I just gave it a try with namespacing the serializer, but I got:

[code]

[2015-08-17 22:30] joaomdmoura commented on #1059
@yijia-zhan you have to use the namespace on the render:
[code]
and the serializer have to follow the namespace convention, so it need to be on `/app/serializers/new_api/blog_serializer.rb`

[2015-08-17 23:10] yijia-zhan commented on #1059
It's the existing controllers which I don't want to use AMS that's having the problem. For example, I don't want the controller below to use AMS:
[code]
And my hid my `PostSerializer` in `/app/serializers/new_api/blog_serializer.rb`:
[code]
With this setup, I got the error below when I try to call the `/posts/:id`
[code]

[2015-08-18 00:51] joaomdmoura commented on #1059
This is strange, I'll check the code, but for now other work-around that I'm sure that works is pass an option `adapter` as `false` instead.
[code]

[2015-08-18 10:35] GCorbel opened #1061 "Deserialize from json_api to ActiveRecord's format"
I'm using the :json_api adapter in Ember and Rails. I works very well when I receive data from Rails to Ember. Ember understand the format very well. When I save a record on Ember, I receive this kind of format :

    {"data"=>{"id"=>"2", "attributes"=>{"email"=>"test@test.com", "nickname"=>"Test", "password"=>"[FILTERED]", "password-confirmation"=>"[FILTERED]"}, "relationships"=>{"trails"=>{"data

[2015-08-18 12:03] GCorbel commented on #1061
I made the uggliest code ever but it works for basics :

    class JsonApiDeserializer
      attr_accessor :original, :converted

      def initialize(original)
        @original = original
        @converted = {}
      end

      def call
        original[:data].kind_of?(Array) ? convert_array : convert_hash
        converted
      end

      private

      def convert_array
        array_convert

[2015-08-18 12:07] bradleypriest commented on #1061
I think you're looking for https://github.com/rails-api/active_model_serializers/pull/950

[2015-08-18 12:16] mib32 commented on #1045
Hey @joaomdmoura ! Thanks for all your work.
Could you elaborate, is this related to my desire to have separate cache sources, like in next gist.
The FullMarker inherits from marker, and it also inherits it's cache.
[code]

I'm correct that now it doesn't work?

[2015-08-18 13:57] bacarini opened #1062 "Creating adapters by media-types."
I would like to know what is yours thoughts about creating adapters by `media-types`.
Ex.
[code]
@akakuruma and I want to implement that if it is approved.

[2015-08-18 15:33] joaomdmoura commented on #1061
Hey @GCorbel, indeed we are aiming to have deserialization, as @bradleypriest mentioned, I've being working on that, we are almost done, and you can even you the branch itself to help us test it :smile:

[2015-08-18 17:05] jimbeaudoin commented on #1061
You can use rails strong_parameters to "deserialize" your data:

[code]

[2015-08-18 17:34] joaomdmoura commented on #1045
No, @mib32 the Russian Doll cache is a technique of nesting fragment caches to maximize cache hits. By nesting fragment caches, it ensures that caches can be reused even when content changes.
When a change occurs to the top-most fragment cache, only that cache must be expired. Every nested cache of the parent can be reused, which provides a significant performance increase.

I'll need to check but

[2015-08-18 17:36] joaomdmoura commented on #1061
Yup, #950 does it behind of the scenes as well.

[2015-08-18 17:45] joaomdmoura commented on #1062
I've implemented it on a fork of AMS already, with some hacks.
I'm not sure about it yet, for json-api it makes a lot of sense, but it seems the kind of decision you don't want to infer, once you even have the initializer to set it, or the possibility to lock it on one adapter using the `adapte` options on `render`.
Also not sure if it could bother something to ppl that use ActionController::Respo

[2015-08-18 17:45] GCorbel commented on #1061
Excellent ! I will try it. I lost some times to write the code but it was
fun. Thanks.

2015-08-18 13:36 GMT-04:00 João Moura <notifications@github.com>:

[2015-08-18 17:53] akaKuruma commented on #1062
@joaomdmoura could you share your implementation?

[2015-08-18 18:17] joaomdmoura commented on #1062
https://github.com/ride/active_model_serializers/blob/support-rc1-and-1-0-jsonapi/lib/action_controller/serialization.rb#L29

[2015-08-18 20:03] bacarini commented on #1062
@joaomdmoura, we were thinking about it but not has default. As long as user send it through `render` We will not override it.
ex.
If adapter options is defined on `render`, AMS will serialize the model even if the user sends headers with `application/hal+json`(hypothetically). But if it is not specify on `render` we may look at `content-type`.
At last, if there is netheir defined in `render` nor

[2015-08-19 01:22] feedthebayer commented on #1022
Anyone figured this out yet? I'm currently trying to get AMS to work without ActiveRecord (with Neo4j, so basically vanilla Ruby classes).

[2015-08-19 01:28] joaomdmoura commented on #1022
hey @feedthebayer you would recommend you to check [our tests](https://github.com/rails-api/active_model_serializers/blob/master/test/fixtures/poro.rb). We use PORO objects.
The new interface to serialize object without passing through render id:
[code]

[2015-08-19 02:18] feedthebayer commented on #1022
Thanks @joaomdmoura. But it looks like that interface isn't in a release yet, correct?

From your suggestion, I found out I could test the serializer using this:
[code]
Which actually worked fine for me out of the box after following the basic AMS install instructions (I'm also using rails-api). So the real issue for me turned out to be I needed to render Org.all.to_a instead of Org.all because of

[2015-08-19 16:58] eric-norcross commented on #968
I know this has been closed, but could anyone point me to the most recent/appropriate issue for including nested associations?

I would love to see this feature included sooner rather than later!

[2015-08-19 18:55] joaomdmoura commented on #1022
Yeap, the version rc2 does not have the `SerializableResource` but I would recommend you to give it a try to master version. btw we might release RC3 version soon.
But I'm glad it worked out for you! :smile:

[2015-08-19 19:02] joaomdmoura commented on #968
@eric-norcross https://github.com/rails-api/active_model_serializers/issues/835 :smile:

[2015-08-20 11:46] thecritic commented on #1056
@joaomdmoura @bacarini I now fully understand what's happening there (Re-read the JSON 1.0 Format, now it's clear why it is the way it is... ), however do I understand correctly that I have to aggregate the data myself ? So, with the "conventional" JSON format I could just access the relationships, for example post.post_sections would be an array and I could just simply iterate over it. With the 1

[2015-08-20 13:48] sschepens opened #1064 "Serializing ActiveModel::Model doesn't work"
Having a class that only includes ActiveModel::Model but doesn't inherit from ActiveRecord::Base fails simple serialization.
Class:
[code]
Serializer:
[code]

This simple example fails with:
[code]

Modifying the serializer to proxy methods to object does work:
[code]
I know that making the class `include ActiveModel::Serialization` works, but one would expect that serializing ActiveModels would w

[2015-08-20 20:21] joaomdmoura commented on #1056
I'm not sure I got it, but you could use other adapter than the json_api, like the usual `flatten_json` or the `json` one, this would not follow json-api conventions but would work really well.

[2015-08-21 00:00] bf4 commented on #1064
You're correct that about `include ActiveModel::Serialization`  (also see [lint.rb](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/lint.rb)).

`ActiveModel::Model`  "[includes the required interface for an object to interact with ActionPack](http://api.rubyonrails.org/classes/ActiveModel/Model.html)", which I guess doesn't include the serializer.  May

[2015-08-21 00:12] bf4 commented on #671
@jeromeboe Specifically here the issue is Ruby.

We want two classes, one for each version, to subclass Serializer.

We can do that with `module V1; class ContractSerializer < ActiveModel::Serializer; end` (or `class V1:: ContractSerializer < ActiveModel::Serializer` if the V1 module has already been loaded), the same for V2.

You'll need `render @blog, each_serializer: V1::ContractSerializer`.

I

[2015-08-21 00:26] bf4 commented on #1058
This is also a feature of the JSON API

- http://jsonapi.org/format/#fetching-filtering
- http://jsonapi.org/recommendations/#filtering

[2015-08-21 01:03] joaomdmoura commented on #1058
But in specific to JSON-API I think the `fields` implementation is covering it.

[2015-08-21 01:05] joaomdmoura commented on #1064
yup, @bf4 is right.
Let us know if there is something else we can help you with @sschepens

[2015-08-21 03:10] bf4 commented on #1058
Not sure I understand. Fields is different.

- http://jsonapi.org/format/#fetching-sparse-fieldsets
- http://jsonapi.org/examples/

[2015-08-21 05:03] joaomdmoura commented on #1058
Yup, you're right I messed up.
It seems it's not necessary but it's a recommendation that we should aim for.

It seems to me that some cases are not so useful, taking into considerations the rails context we usually have, like:
`GET /comments?filter[post]=1`

But as I said,  is part of the convention and we should aim for that. :smile:
Would be awesome to have `filter` back working out of the box

[2015-08-21 05:15] joaomdmoura commented on #671
Hey everyone, this is open for a while,
As you noticed we have discussed versioning on other issues and PR's as well, and
I'm glad to read so really nice thought from all of you.

On 0.10.x, the best option would be to specify the serializer as @bf4 just posted above.

@jeromeboe it seems there are some pieces of code missing on what you posted, there are no namespace declared neither we know what

[2015-08-21 05:15] #671 closed

[2015-08-21 07:57] lukehorvat opened #1068 "Config option to enforce an ActiveModel::Serializer for every model"
It would be nice if one could ensure that every model is serialized by an `ActiveModel::Serializer`, and if one doesn't exist for a given model, raise an error (instead of silently using the model's default serialisation). I'm thinking a config option like `ActiveModel::Serializer.config.required = true` (defaulting to `false`).

I don't have any familiarity with the codebase, but if I'm not mista

[2015-08-21 15:05] yijia-zhan opened #1072 "Trigger AMS from views? (0.9.3)"
`render json: @posts` is most of the time called in controllers. Is there a way to render json using AMS from views? I tried making the exact same call in views but the error below. It's because `render` in the view context is different from in the controller context:

[code]

I tried creating a simple template `new_api/posts/index.html.erb` and rendering with `render template: ...`, but it doesn'

[2015-08-21 20:19] CodedBeardedSignedTaylor commented on #1036
Hey there.

Has anybody done this yet? Looking to knock out a few documentation requests in the next few days. Been using AMS inside and outside controllers on a current project. Just need to know what needs to be highlighted!

[2015-08-21 20:24] joaomdmoura commented on #1036
Amazing @CodedBeardedSignedTaylor!
I'm looking forward to have as many docs as possible, make sure to use the conventions on our new doc.
I think we discuss topics in other issue maybe a more generic one? Make yourself comfortable to create it.
I'm closing this one.

[2015-08-21 20:24] #1036 closed

[2015-08-21 21:02] CodedBeardedSignedTaylor opened #1074 "Updating Documentation for 0.10"
Seems like there are a few ideas floating around for updating the documentation for the *current* version of AMS. I think a lot of confusion comes from the people not knowing what's in the current version of the gem.

So, maybe we should highlight what's changed from 0.8.x and 0.9.x versions? Almost like an upgrade or "What's New" guide for users who are migrating from previous versions. Hopefully

[2015-08-21 23:30] josemarluedke commented on #1074
:+1:

[2015-08-21 23:35] joaomdmoura commented on #1074
Hey @CodedBeardedSignedTaylor, awesome github handler btw.
As I said, this is something I've reenforced across issues and PR's, and something that I'm deeply interested about.
I'm not sure about the "What's New", but would great to have some articles on the new docs with specific "tutorials" on how to updated from x.x.x to x.x.x.
Let us know through this PR if there is something we can help you wi

[2015-08-22 09:39] chibicode commented on #921
Waiting for this PR: https://github.com/rails-api/active_model_serializers/pull/952 and  relevant issue: https://github.com/rails-api/active_model_serializers/issues/835#issuecomment-12919875)

By the way, to add to @groyoh's comment (https://github.com/rails-api/active_model_serializers/issues/921#issuecomment-104370171), for `has_many` relationships, you can try something like this:

[code]

[2015-08-22 17:31] joaomdmoura commented on #921
Hey everyone there is actually a new PR in place as well, it's a different approach I have not review it yet, but it _seems_ nice: https://github.com/rails-api/active_model_serializers/pull/1073

[2015-08-23 18:21] beauby opened #1075 "Inconsistent JSONAPI serialization when missing related serializer"
Suppose we have a `Post` class with `has_many :comments`, along with a `PostSerializer`. If we forget to define a `CommentSerializer`, rendering a `Post` with the JSONAPI adapter leads to the confusing following result (the comments are actually embedded in the relationship, which breaks JSONAPI spec):
[code]
It might be helpful to either have a way to warn the user that a given model does not hav

[2015-08-23 19:03] beauby commented on #1009
Would it make sense to define an abstract class that serializable POROs would inherit from? And maybe a generator.

[2015-08-23 20:20] joaomdmoura commented on #1043
This was fixed on master already.

[2015-08-23 20:20] #1043 closed

[2015-08-24 00:30] feedthebayer commented on #1009
@beauby yeah!

[2015-08-24 01:08] toreriklinnerud commented on #762
I'm seeing the same thing on 0.8.3. Is this likely fixed on newer versions or should I try to submit a fix?

[2015-08-24 04:32] loganb opened #1076 "Canonical way to general URLs"
Hello,

I googled around but couldn't find anything. What's the canonical way to generate URLs inside AMS?

[2015-08-24 04:51] bf4 commented on #571
Fixed in 0.10.x in #1067

[2015-08-24 07:56] mrsutter opened #1077 "Nested Associations"
Hi, I've tried to move my project from 0-9-3 to 0-10-0 and found that version 0.10 doesn't support nested associations.

    class AppSerializer < ActiveModel::Serializer
      has_one :user, serializer: UserSerializer
    end

    class UserSerializer < ActiveModel::Serializer
      has_one :address, serializer: AddressSerializer
      has_one :account, serializer: AccountSerializer
      has_man

[2015-08-24 13:19] bacarini commented on #1040
@joaomdmoura,

I think we can close this issue, since #1041 was merged, no?

[2015-08-24 14:25] #1040 closed

[2015-08-24 14:25] joaomdmoura commented on #1040
Indeed, closed! :smile:

[2015-08-24 14:40] CodedBeardedSignedTaylor commented on #1074
Thanks dude!

I'm gunning to have a PR with content to fulfill #1036 within the near future.

[2015-08-24 15:31] Looted opened #1078 "Utf-8 escaped in 0.9.3"
Hey,
for whatever reason unicode characters get escaped when using AMS 0.9.3 (Rails 3.2.22, Oj). Is this desired behaviour? Is there any way I can disable escaping them?

[2015-08-24 15:35] r4m commented on #697
I've investigated a little bit and it seems that this bug comes up when setting `config.eager_load = true` in a Rails env config.

[2015-08-24 16:55] Looted commented on #1078
Turns out I wasn't using Oj after all (despire MultiJson.use(:oj) in initializer). What I needed was https://github.com/GoodLife/rails-patch-json-encode. Unicode content doesn't get escaped now as it should.

[2015-08-24 16:55] #1078 closed

[2015-08-24 18:37] yijia-zhan commented on #1072
I figured out a workaround for this, basically I needed to support json rendering outside of Rails controllers. Closing this issue now.

[2015-08-24 18:37] #1072 closed

[2015-08-24 19:23] #1053 closed

[2015-08-24 20:01] mattboldt opened #1080 "Using Ember Data 2.0.0-beta1 with ActiveModel::Serializer::Adapter::JsonApi"
Since the new ember no longer has `DS.ActiveModelSerializer` or `DS.ActiveModelAdapter`, I'm looking to switch to their new `DS.JSONAPISerializer`. This seems to be the best way to go, if the previous two won't be supported in the future.

Ember is expecting the data from the api to be something like
[code]

But from my rails app, with the `:json_api` option set to true, my api is returning `user`

[2015-08-24 20:15] beauby commented on #1080
Right, the JSONAPI spec does not take a stand on whether the `type` should be singular or plural. I think there should be a global config for `ActiveModel::Serializer` to pluralize or not the resources.

[2015-08-24 20:30] beauby commented on #1080
I'm working on a PR to add this. Should be ready in a few minutes. Could you test it when it's out?

[2015-08-24 20:31] mattboldt commented on #1080
Absolutely!

[2015-08-24 20:58] beauby commented on #1080
@mattboldt Here it is. Simply set `ActiveModel::Serializer.config[:jsonapi_resource_type] = :singular` and it should work.

[2015-08-24 21:12] mattboldt commented on #1080
Yes, this worked! Thanks so much.

[2015-08-25 20:34] mrageh commented on #1039
Hi @joaomdmoura and @bolshakov

I am thinking of tackling this issue but I am not sure which approach is better

Secondly if we allow users to pass the class name should it be name spaced under
`ActiveModel::Serializer::Adapter::CustomSerializer`?

Or should we allow users to just define a class `CustomerSerializer` and then pass in the constant name?

[2015-08-25 20:59] bacarini commented on #1039
@mrageh, there is already something about that on https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer.rb#L92, but it works only if you are not using in your action.

I believe we could improve it, what do you think?

About your question, I would go for defining a class instead of declare the entire path `ActiveModel::Serializer::Adapter::CustomSerializer`.

[2015-08-25 21:12] CodedBeardedSignedTaylor commented on #844
We currently have a link to the Stack Overflow tag in the README. Does that mean that this request has been fulfilled?

[2015-08-25 21:14] CodedBeardedSignedTaylor commented on #633
So, this is almost a year old.

@zachaysan, could you look over the current README give some suggestions for missing tutorials or examples? I'm going through and mocking up as many examples as I currently can!

[2015-08-25 21:35] zachaysan commented on #633
Hey Josh! I can do that over the next week if that is ok. I'm still working on the application I started building a year ago but I wasn't keeping up to date with the changes being made over at http://jsonapi.org/ and it seems much more robust, but (sadly) much more chatty too. I do have the complex relationships that I can help make documentation for, but I've stayed on AMS 0.8, so it will take me

[2015-08-26 01:10] feedthebayer commented on #835
Is there anything specific to to get this working as mentioned by @richmolj? It's not working for me with use the latest on master and with the json-api adapter.
[code]
Do you need to define the nested relationship in the serializer?

[2015-08-26 06:49] joaomdmoura commented on #916
related to: https://github.com/rails-api/active_model_serializers/pull/879

[2015-08-26 08:14] joaomdmoura commented on #1078
Cool @Looted , glad that you found your way through it. Btw you should give it a try to 0.10.0rc2 or master :smile:

[2015-08-26 08:15] joaomdmoura commented on #1072
Hey @yijia-zhan I'm glad you figured it out by yourself, sorry for take so long to show up! Lets u know if we can help you with anything more

[2015-08-26 08:24] joaomdmoura commented on #1068
Hey @lukehorvat, thank you for this issue, this is not something I would personally use right now, seems and edge case to me, but I wold not discard it if a PR comes along.

On the other hand, when using json-api as @beauby mentioned on #1075 it seems something that we should have, maybe we could try to solve both using the same implementation underneath the code, so `ActiveModel::Serializer.confi

[2015-08-26 08:24] joaomdmoura commented on #1075
Check https://github.com/rails-api/active_model_serializers/issues/1068#issuecomment-134895391

[2015-08-26 08:29] joaomdmoura commented on #1009
btw just to keep it on the record, some user have being reporting some problems involving `grape-active_model_serializers`.
I'm :-1: for the generators @beauby  but we can make some abstract class that can be even used on our on tests.
Maybe another issue for that.
I'm closing this one for now, if @jpaas come back with news we can reopen it.

[2015-08-26 08:29] #1009 closed

[2015-08-26 08:32] joaomdmoura commented on #762
@toreriklinnerud I think it's fixed on master already, but we don't have a test covering that, maybe open a PR with this test would be a good start :smile:

[2015-08-26 08:35] joaomdmoura commented on #1076
Hey @loganb, what exactly is your need? Can you share an example? it might be easier for us to help you out, I can think in a bunch of way to generate URLs depending on what you want :smile:

[2015-08-26 08:46] joaomdmoura commented on #1077
Hey @mrsutter, indeed 0.10.x right now does not support nested association, but that is something we look forward to! It's mandatory to 0.10.x release and I mention it on the [Future of AMS article](https://medium.com/@joaomdmoura/the-future-of-ams-e5f9047ca7e9).
You can make nested association using json-api and `include`, but would be just a workaround that might not suit you if you don't want t

[2015-08-26 08:47] joaomdmoura commented on #697
This is weird, please @r4m share any updates you get in here.
0.8.x and 0.9.x support is iced for now because we are focused on 0.10.x but we might be able to check it again in a while.

[2015-08-26 09:10] r4m commented on #697
@joaomdmoura I spent a couple of hours on it. I discovered that it happens when `config.eager_load = true` and the `embed :objects, embed_in_root: false` call is used inside a specific serializer. In this situation, the `embed(type, options={})` method inside the `active_model_serializers/lib/active_model/serializer.rb` is called multiple times, completely overriding the global configuration of AM

[2015-08-26 09:23] mrageh commented on #1039
So do we want to pass both a class and a symbol to `adapter`?
Or do we only want to pass the class to `adapter`?

This is a PR I can finish today but I need guidance on how we want this api to work. So far I know that we won't require users to name space their custom serialisers thanks to @bacarini.

Do we still want to substitute `API` to `Api` (`.sub("API", "Api")`) in their custom serialiser?

[2015-08-26 09:40] ahmeij commented on #899
We are not using ember, however we are using 0.9 with embed: ids, and sideloading. this works quite well for us however since we desperately need caching we'd like to upgrade to 0.10.

As we have multiple clients for our api based on the above model updating the output to be compatible with json_api is a ways off.

Is there a way to upgrade? // did someone make a json_legacy adapter maybe? I think

[2015-08-27 02:30] NullVoxPopuli commented on #938
side loading is the preferred method of retrieving data for ember.
it reduces redundancy when nested models would otherwise reference the same model.

for example, if your json references "tag" objects, you don't want to include the same tag data twice, so you just make an id reference.

[2015-08-27 02:36] Criten commented on #938
:+1:  I also need this functionality...

[2015-08-27 12:06] NullVoxPopuli commented on #938
I'm going to work on this a bit today, as I absolutely NEED it for communicating with ember.

[2015-08-27 15:31] yijia-zhan opened #1085 "Passing in parameters from controller (0.9.3)"
I've looked at https://github.com/rails-api/active_model_serializers/issues/946, https://github.com/rails-api/active_model_serializers/issues/599 and [this stackoverflow question](http://stackoverflow.com/questions/23347587/how-to-pass-parameters-to-activemodel-serializer). However, the approach suggested to pass options from controller to serializers for (0.9.3) doesn't seem to work for me:

[cod

[2015-08-27 17:24] yijia-zhan commented on #1085
Just figured out the `serialization_options` way of passing in arguments. Turned out it's a `to_json` bug from OJ, https://github.com/ohler55/oj/issues/244, https://github.com/ohler55/oj/pull/252. In the latest release(2.1.2) Oj now supports arguments in the `to_json` method.

However, it seems that the parameters from controller only get passed to the top node serializable object. For example:

[

[2015-08-27 17:37] yijia-zhan commented on #1085
Ahh looks like this patch https://github.com/rails-api/active_model_serializers/pull/748 for propagating `serialization_options` to associations has been merged to `0-9-stable` but not in `0.9.3`. Switching to the branch for now.

[2015-08-27 18:09] johnnagro commented on #1077
+1 same experience in my testing of 0.10.rc2

[2015-08-27 18:21] johnnagro commented on #1077
@mrsutter interesting: https://github.com/rails-api/active_model_serializers/pull/1073 and: https://github.com/rails-api/active_model_serializers/issues/921

[2015-08-27 19:27] NullVoxPopuli opened #1086 "Add Code Climate Coverage and Quality Badges"
https://codeclimate.com/github/rails-api/active_model_serializers/code

Currently, they display as:

[![Code Climate](https://codeclimate.com/github/rails-api/active_model_serializers/badges/gpa.svg)](https://codeclimate.com/github/rails-api/active_model_serializers) [![Test Coverage](https://codeclimate.com/github/rails-api/active_model_serializers/badges/coverage.svg)](https://codeclimate.com/gi

[2015-08-27 20:22] sandstrom commented on #1068
@lukehorvat Could probably be implemented with a module included in your models, e.g. `module Ensure; def as_json; raise NotImplementedError, 'Must use serializer'; end; end;`

I don't want to sound negative, but in my view this isn't very useful to have built-in, since it's pretty easy to roll your own.

[2015-08-27 20:26] sandstrom commented on #1039
Would also be very useful to override the adapter within the serializer (i.e. not in the controller), based on scope/user properties.

A common use-case is client-versioning, e.g. the mobile client < Y.x should get data serialized using the adapter-A, and newer clients should use adapter-B.

Changing the adapter on-the-fly must also take caching into consideration (pretty obvious), since the outpu

[2015-08-27 20:30] sandstrom opened #1087 "Close all 0.8 & 0.9 issues"
I'd suggest closing all 0.8 and 0.9 issues, with a friendly note asking people to reopen if it's still an issue under the 0.10 branch (or submit a PR with passing tests against the older branch).

A good deal of the issues are already labeled, so gardening should be fairly easy :tulip: :deciduous_tree:.

[2015-08-27 21:54] mankind commented on #1077
@joaomdmoura  you mentioned that we could make nested association using json-api and include. I am using 0.10.0.rc2 and tried making nested association with include but it is not working.

       class UserSerializer < ActiveModel::Serializer
            attributes :id, :email
            has_one :account
       end

       class AccountSerializer < ActiveModel::Serializer
            attributes :

[2015-08-27 22:14] mankind commented on #968
@shicholas  and @piotrpalek  the approach that worked for two of your in creating nested association using json-api with include is not working for me. I am using 0.10.0.rc2 and I tried making nested association with include but it is not working.

       class UserSerializer < ActiveModel::Serializer
            attributes :id, :email
            has_one :account
       end

       class AccountS

[2015-08-27 22:17] maurogeorge commented on #882
Hi @joaomdmoura I try to write a broken test and got no success :cry:
I think the https://github.com/rails-api/active_model_serializers/pull/984 closes this issue. Could you please review this and close this issue if make sense?

Thanks

[2015-08-27 22:27] shicholas commented on #968
@mankind, first of all, excellent name :).

Your serializer definitions look good to me. What type of error are you getting?

FWIW, I am using a concern for JSON API rendering because I am trying to use both ``.8`` and ``.10`` in the same app. My controller concern looks like:

[code]

which I learned from https://github.com/rails-api/active_model_serializers/issues/1002. Then in my controller I i

[2015-08-27 22:42] mankind commented on #968
@shicholas thanks for  the quick response. It is finally working now. Thanks for your code because it helped me. Cheers ):

[2015-08-28 00:46] NullVoxPopuli commented on #938
I have a pull request #1088 which I hope addresses this for most people

[2015-08-28 00:46] NullVoxPopuli commented on #899
I have a pull request #1088 which I hope addresses this for most people

[2015-08-28 04:09] bf4 commented on #882
@bernardogalindo Does #984 resolve you issue so we can close this?

[2015-08-28 08:53] ahmeij commented on #1087
I'd suggest first making sure that 0.10 can actually replace 0.8 and 0.9. I think at least one of the sideloading pullrequests should be completed and merged before 0.8 and 0.9 can be phased out like this.

[2015-08-28 10:48] #1080 closed

[2015-08-28 10:50] joaomdmoura commented on #844
Yup, @CodedBeardedSignedTaylor. I''m closing this one.

[2015-08-28 10:50] #844 closed

[2015-08-28 10:53] joaomdmoura commented on #1087
We have iced the 0.8.x and 0.9.x support for now, but we also know that upgrade from older version might be a little tricky, so we are aiming to have a section on our [new docs](https://github.com/rails-api/active_model_serializers/tree/master/docs) to help ppl into upgrading their apps.

Anyway, I also feels there is a lot of older issues that might not even suit the older version, I think after

[2015-08-28 10:53] #1087 closed

[2015-08-28 10:55] joaomdmoura commented on #633
Cool, @zachaysan. You should give it a try to 0.10x just saying :stuck_out_tongue_closed_eyes:
Btw, you might also check out [new docs](https://github.com/rails-api/active_model_serializers/tree/master/docs). I'm closing this one specifically in order to concentrate the discussion on #1074

[2015-08-28 10:55] #633 closed

[2015-08-28 11:00] joaomdmoura commented on #835
@feedthebayer Nops, all you would need the the usual relationship declaration, if it does not work, could you open a new issue if more info, it might be a little details because it is supposed to work.

[2015-08-28 11:03] joaomdmoura commented on #1085
I'm glad you manage to find your way through this @yijia-zhan! Please let me know with the patch merged work, and would be nice to update the StackOverflow question base on your experience with this.

[2015-08-28 11:09] joaomdmoura commented on #1086
Thanks @NullVoxPopuli we will do it for sure!

[2015-08-28 11:11] joaomdmoura commented on #1068
Indeed @sandstrom. I would still review a PR with this if someone is interested but I'd recommend to go with the solution above.

[2015-08-28 11:11] #1068 closed

[2015-08-28 11:55] ivanstojkovicapps opened #1091 "Response with multiple lists"
Hi,

is there a way to specify something like this:

render json: {projects: @projects, each_serializer: ProjectSerializer, clients: clients, each_serializer: ProjectSerializer}, status: :ok

[2015-08-28 14:22] sandstrom commented on #1087
That's a valid point, I agree on having a path ready first.

[2015-08-28 16:24] beauby commented on #1062
I'm interested to know about the use cases of this feature.

[2015-08-28 17:24] beauby commented on #1091
This is not currently possible. Two workarounds:
 + make a model that encapsulates the two collections (something like `ProjectsAndClients`), and serialize that (being careful of the few gotchas of serializing POROs)
 + make an heterogenous array with all your `projects` and `clients`, and serialize that (the array serializer will select the right serializer for each object), and split it into two

[2015-08-28 17:48] bf4 commented on #1061
@GCorbel can think be closed? can you show us what worked and what didn't?

[2015-08-28 17:49] beauby commented on #1061
Yeah, we should close this one in favor of #950, in order to keep the discussion in one place.

[2015-08-28 17:49] #1061 closed

[2015-08-28 18:07] ivanstojkovicapps commented on #1091
Thanks, for the second option, if i have multiple serializers for projects and clients, how can i specify the right one?

[2015-08-28 19:13] beauby commented on #1091
Not sure this is possible under the current circumstances. @joaomdmoura @bf4?
If I were you, I would go with 1. and do something along the lines of:
[code]

[2015-08-28 19:16] beauby commented on #1091
If you decide to stick with 2. you could modify [ArraySerializer](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/array_serializer.rb) to make it suit your needs (that is requiring a specific adapter for each record depending on whether it is a `client` or a `project`).

[2015-08-28 19:23] bf4 commented on #1086
I can add the codeclimate simplecov formatter to https://github.com/rails-api/active_model_serializers/pull/1069 (the pr that introduces simplecov)

[2015-08-28 19:32] bf4 commented on #1086
Done

[2015-08-28 19:41] beauby opened #1097 "Namespacing config options"
As more and more config options become available, some of which being relevant only to certain adapters, it would make sense to namespace them. I'm opening this issue to have a place to discuss it.

[2015-08-28 20:10] ivanstojkovicapps commented on #1091
if i go with the first option, do i need to create an ActiveRecord?
if i use render json: {projects: @projects, clients: clients}, serializer: ClientsAndProjectsSerializer i get error "undefined method projects for Hash<..."

[2015-08-28 20:15] beauby commented on #1091
No, you do not need `ActiveRecord` for 1., although there are currently a few gotchas for serializing PORO models (search in the issues, you should define some methods like `read_attribute_for_serialization(attr)`.
You should encapsulate it in a `Model` like:
[code]
then do
[code]

[2015-08-28 20:16] ivanstojkovicapps commented on #1091
oh, great! Thanks a lot man!

[2015-08-28 20:16] #1091 closed

[2015-08-28 22:47] bf4 opened #1098 "Consider having a `SerializableResource` and `DeserializableDocument`"
Whereas

- Having `SerializableResource.serialize` return an instance of `SerializableResource` is not intuitive.
- It makes more sense for `SerializableResource.new` to return a `serializable_resource`
- A SerializableResource takes a Ruby model and presents it with a serialization interface `serializable_hash`, `as_json`, `to_json` that is usually [consumed by the Renderer in Rails](http://www.b

[2015-08-28 22:47] bf4 commented on #1098
cc @beauby @joaomdmoura @kurko

[2015-08-29 05:08] bf4 commented on #1091
I'm not at a computer now so I can't be as precise as I'd like.

1. Since this issue is closed, would you mind sharing your solution including gem versions
2. Just reading the github emails Ot doesn't seem like it would work

It sounds like either you'd like to treat a specific collection as a single resource
Or you'd like to customize an adapter for a specific collection

If the former, this shou

[2015-08-29 08:15] beauby commented on #1098
My quick 2cts here:
+ `SerializableResource::serialize()` is, indeed, for the reasons stated above
+ `SerializableResource` is, at least to me, a bit confusing as well, since a) the name implies that usual resources (`ActiveModel`s) are not, in fact, serializable, and b) there is a history of AMS using actions as class names (mainly `Serializer`)
+ In any case, I agree that `deserialize()` falls o

[2015-08-29 19:20] maurogeorge commented on #1011
Hi guys,

I made a PR to bring back the `assert_serializer` https://github.com/rails-api/active_model_serializers/pull/1099

@bolshakov the gem is [json-schema-rspec](https://github.com/sharethrough/json-schema-rspec) and phere has a post about it](https://robots.thoughtbot.com/validating-json-schemas-with-an-rspec-matcher) too.

I really like the idea of @bolshakov I think we can have both helper

[2015-08-30 01:12] PericlesTheo opened #1101 "Getting the serialized hash without render"
Hey humans,

Let's say I have

[code]

When I use `render json: @message` in the controller I get `{:message=>{:content=>"some peoisadfnsaidfnple like wefaefsushi", :user=>{:email=>"hi@example.com"}}}` which is what I'd expect.

However, I'd like to be able to get the same serialization without using `render` in the controller.

I couldn't find anything in the docs and the only way around I found

[2015-08-30 05:39] bf4 commented on #1098
@beauby As much as I agree with you that `serializable_hash = PostSerializer.serialize(post) (and serializable_hash.to_json)` would be nice, given that the the thing we call `ActiveModel::Serializer`, which all resource serializers inherit from, 1) currently only serializes a single resource and 2) would need to add the responsibilities of both Adapters and collection serializers, I think it's jus

[2015-08-30 06:02] bf4 commented on #1064
@sschepens PR to improve the docs?

[2015-08-30 06:05] bf4 commented on #1039
ref: https://github.com/rails-api/active_model_serializers/pull/1017

[2015-08-30 06:07] bf4 commented on #993
Fixed by #997  and https://github.com/rails-api/active_model_serializers/pull/1006

[2015-08-30 06:22] bf4 commented on #1101
What version of AMS are you on?  That's more or less right. Take a look at `SerializableResource` or some of its tests if you're on 0.10.x but not on master

ref (just to link relevant issues/prs here for us and the future):
- https://github.com/rails-api/active_model_serializers/issues/1011
- https://github.com/rails-api/active_model_serializers/pull/1099
- https://github.com/rails-api/active_mod

[2015-08-30 06:25] bf4 commented on #974
@joaomdmoura would be great to have some labels for common themes in issues: resource keys, serialization outside of a controller, testing, custom adapter, JSON API compliance, assocation issues, db queries, active record models, non-active record models (poros), upgrading, deserialization, proposing new features, asking questions (mailng list? json api forum?), refactoring, usage, who's using it,

[2015-08-30 06:39] vmanamino commented on #641
@igagnidz Your patch worked perfectly for me.

[2015-08-30 09:19] PericlesTheo commented on #1101
I'm following the master branch currently on `0.10.0.rc2`

I had a look before in the SerializableResource` but probably I missed something as one can use `ActiveModel::SerializableResource.new(Message.last).serializable_hash` instead.

Should a reference of the above be added to the documentation? It would have saved me quite some time :)

[2015-08-30 14:20] bf4 commented on #1101
Yes please!

B mobile phone

[2015-08-30 16:51] bernardogalindo commented on #882
@bf4 I still having the same issues that I mentioned with the current master branch.

Version 0.9.3 allow me to do `root=false`  to get

[code]
instead of

[code]

And allow me customize my the object keys as I mentioned

[code]
When I'm expecting
[code]

##### The current master branch still ignoring the root and key options

[2015-08-30 17:04] bernardogalindo commented on #882
Here is one of my test result

[code]

I'm expecting a false object root and  rows as key instead of charts, also that collections use the correct serializer with settings.

File code

[code]

[2015-08-30 17:13] Looted commented on #1078
Is the rc or master production ready? I settled for stable version for now, but I'm really excited about caching in 0.10 :)

[2015-08-31 01:15] bf4 commented on #571
Also related to - Fix circular load warning as described in https://github.com/rails-api/active_model_serializers/commit/cf6a074a1c62e3f5a30f90a0987b8cf049272953
 in #1017

[2015-08-31 01:40] bf4 commented on #882
Which commit ref are you on on master? (It would be in your Gemfile.lock)

I think you want [`self.root=nil`](https://github.com/rails-api/active_model_serializers/pull/936#issuecomment-108621699) depending on what commit you're on.

If you have the `FlattenJson` adapter available, that might do what you want.

(Also, I'm not sure if this is from your real code, but calling anything `p` is bug-pro

[2015-08-31 15:43] bernardogalindo commented on #882
@bf4 the master branch returns

`undefined method root=  for  Class`

p method is just under serializer scope.

[2015-08-31 15:46] bernardogalindo commented on #882
@bf4 however if I deleted this requirement the custom keys seems to be working I think we can close this issue however `self.root= nil` and `self.root=false` is not working.

[2015-09-01 08:54] conf commented on #932
For anybody, who is, like me, still needs to keep `scope` key, you can do the following trick:
[code]

[2015-09-01 11:33] beauby commented on #1101
Should we close this issue now that the question seems to have been answered?

[2015-09-01 11:59] beauby opened #1112 "Non-compliant JSONAPI tests"
While investigating the relevance of virtual values for relationships with the `json_api` adapter, I came across those tests, which expect an output that is not JSONAPI compliant:
+ [test_has_many_with_no_serializer](https://github.com/rails-api/active_model_serializers/blob/master/test/adapter/json_api/has_many_test.rb#L111)
  + expected output: `{:data=>{:id=>"1", :type=>"posts", :relationships=

[2015-09-01 12:31] NullVoxPopuli opened #1113 "[RFC]Thoughts on an explicit way to define nested relationships?"
I've been working on sideloading (#1107) for the json adapter, and needed recursive relationship building of the json object.

The problem with doing a strictly recursive approach (independent of sideloading or not), is that if you have enough references on your objects to other objects, a single request (of any kind) is basically going to return the whole database.
Example: `Post` `belongs_to` an

[2015-09-01 12:33] PericlesTheo commented on #1101
Yeap, I will create a PR for hopefully today. Cheers

[2015-09-01 12:33] #1101 closed

[2015-09-01 16:10] conf commented on #1057
It seems this has been fixed in https://github.com/rails-api/active_model_serializers/commit/215fb85c7fc10d8fce504e5a7f6256d8a364e16c (on master branch).

[2015-09-02 08:19] bterkuile commented on #834
I had the same problem. I created a virtual example for getting a list of posts and then clicking on it what should trigger fetching the comments. For ORMs  where a hasMany relation call results in a query there will be  N+1 queries performed just for returning the posts including the comments ids, where 1+1 = 2 queries should be enough. Based on the advice of @joaomdmoura I modified the adapter t

[2015-09-02 11:49] iMacTia commented on #1113
Hi @NullVoxPopuli, just to answer your last question (I'm the author of #952) the nesting can actually bring the recursive problem, but that's intended. It is actually a very similar feature to your side-loading, as you're actually asking to AMS to side-load all associations without explicitly declaring them. That's allow you to keep your code easier to maintain (if you add a new relationship late

[2015-09-02 12:04] NullVoxPopuli commented on #1113
thanks for explaining your your technique.

But yeah, I'm trying out this solution to the recursive problem: #1114
So, lets say you have these two serializers:
[code]

when rendering a `blog`, you'd get posts and comments for each post, but not the author for the comments.

I think this is handy, in that you have a more explicit control of how deep the recursion goes

[2015-09-02 13:09] ccleung opened #1115 "Consider refactoring override implementation _render_with_renderer_json"
Currently active model serializer only supports serialization to json of it's serializable hash

It would be nice to support other formats, such as xml, and can be as simple as adding `_render_with_renderer_xml` to the list here:
https://github.com/rails-api/active_model_serializers/blob/master/lib/action_controller/serialization.rb#L49

and implementing something similar, or exactly the same as `

[2015-09-02 15:22] iMacTia commented on #1113
Yes, that definitely makes sense, and if you want the author too you just need to change the BlogSerializer like this:

    BlogSerializer < #...
      has_many :posts, include: [comments: :author]
    end

Recursive loop problem should be fixed as well, the problem is that if you want a standard behaviour (like you always want the comment author when you get a comment), you have to copy-and-paste

[2015-09-02 15:28] NullVoxPopuli commented on #1113
Yeah, I don't think either should conflict with each other (functionality-wise anyway, I'm sure there are code conflicts, as I refactored a bit too)

[2015-09-02 19:40] trek commented on #1011
Closing in favor of #1099

[2015-09-02 19:40] #1011 closed

[2015-09-03 04:14] joaomdmoura commented on #1039
@sandstrom that would be nice, but would be kind complex, I think that right now I would let ppl use conditionals inside controllers in order to render a specific `Adapter`,
there is also some WIP PR on letting AMS to use adapter taking into consideration the `Accept` http Header, what would also enable you to automatically use multiple adapters.

@mrageh sorry for take so long to reply my last we

[2015-09-03 04:53] joaomdmoura commented on #899
Nice to see this being bumped! I'll check both PRs @ahmeij && @NullVoxPopuli

[2015-09-03 08:47] mrageh commented on #1039
@joaomdmoura I think someone else already created a really nice PR for this issue :)
I'll try to find something else I can do

[2015-09-04 05:07] NullVoxPopuli commented on #1113
@iMacTia so, lets say someone wants to always include the author on their comments, how do you feel about the following?
[code]

to notate that no matter who is rendering a comment, they also get the comment's author.

This makes for some interesting notation nuances for other seralizers:

[code]
Here, the specification of author on comments is redundant and doesn't matter.

[code]
I think this is

[2015-09-04 08:55] iMacTia commented on #1113
@NullVoxPopuli, you actually raised another interesting point.
I agree on this as it could actually address situations that both our solutions can't address without a copy-and-paste.
I think it could be a nice addition to the set of options for associations.
Maybe not needed in the first place, but if we want to have even greater flexibility, we can also later introduce an `exclude` option to over

[2015-09-04 13:25] bterkuile commented on #834
Note that the above code applies to 0.10.0.rc2 and fails against the current master.

[2015-09-06 15:40] endash commented on #808
The situation here used to be somewhat better, with heavy Rails-specific code being conditionally loaded (ActiveSupport is a different story). However, both 0.10.0.rc2 and master increasingly assume Rails is present entirely: rc2 merely requires manually requiring `active_support/base_ext` and stubbing `Rails::Railtie.initializer`. Master removes a begin/rescue around the ActionController setup, a

[2015-09-06 21:30] joaomdmoura commented on #1086
Done.

[2015-09-06 21:30] #1086 closed

[2015-09-06 21:44] joaomdmoura commented on #1077
So just updating this thread it seems we are getting close to get it on #1114 cc @johnnagro @mrsutter

[2015-09-07 05:12] joaomdmoura commented on #1097
Thank you for opening this @beauby, indeed there are quite some new config option on the 0.10.x version.
Could you point out on the issue what are the ones that would be affected?

[2015-09-07 05:36] joaomdmoura commented on #1064
Closing this for now waiting for a feed back from @sschepens

[2015-09-07 05:36] #1064 closed

[2015-09-07 05:36] #993 closed

[2015-09-07 14:30] joaomdmoura commented on #974
Thanks @bf4 I'll try to figure it out some new tags that we might use in order to make it easier

[2015-09-07 14:52] joaomdmoura commented on #974
btw everyone interest on this, would be awesome to have your opinion on  #1029

[2015-09-07 15:00] joaomdmoura commented on #1101
Nice, I glad that you find your way through it @PericlesTheo, Would be nice to have it on our [new docs](https://github.com/rails-api/active_model_serializers/tree/master/docs) as well.

[2015-09-07 15:01] PericlesTheo commented on #1101
I know I'm terrible :(

I should have done it last week.

I'll try tonight

[2015-09-07 15:02] joaomdmoura commented on #1101
haha np, tks! :smile:

[2015-09-07 15:03] joaomdmoura commented on #641
Nice @vmanamino, I'd recommend you also to give it a try to 0.10.x :grin:  elt us know in case you need some help when migrating

[2015-09-07 15:05] joaomdmoura commented on #1078
Yup, there are some ppl already using it on production, me included (despite of not being using the latest version).
Our new version is schedule to be released on the end of Octuber.

[2015-09-07 15:58] joaomdmoura commented on #882
Hey @bernardogalindo so, there is a bunch of different things in here.

If you are using master, you will have access to different adapters one of them is `FlattenJson` that basically removes the `root` for you. You can check more about it on [its docs](https://github.com/rails-api/active_model_serializers/blob/master/docs/general/adapters.md). This is now the way to control the `root` existence,

[2015-09-07 16:21] joaomdmoura commented on #1011
moving to #1099

[2015-09-08 00:26] willcosgrove opened #1128 "JSON API nicer include syntax"
I have a lot of nested associations in my app, and was getting tired of writing really long strings/arrays for the include option.  So I wrote a little helper that turns an include that looks like this:

[code]

into an include value that looks like that

[code]

I tried to follow the format of what you can pass in to `ActiveRecord::Relation#includes` method.

It's a little messy but something alo

[2015-09-08 04:31] NullVoxPopuli commented on #1128
I can work on this once my json adapter implementation is merged

[2015-09-08 10:37] NullVoxPopuli commented on #1128
See #1113 and #1127

[2015-09-08 18:05] afn commented on #490
Thanks @r4m! Can you push a new version to rubygems please?

[2015-09-09 04:17] bf4 commented on #1098
related: [Rails PR 21496: Add configurable serializers in each renderer](https://github.com/rails/rails/pull/21496)

[2015-09-09 05:14] joaomdmoura commented on #1112
I know this sound tricky, and we really love and want to help ppl to use json-api, but I'd keep virtual value for now, mostly because is something some ppl are kind used to, and it does not impact others that want to follow the convention.
The `no_serializer` could be overridden to follow the conventions though

[2015-09-09 05:18] joaomdmoura commented on #1057
Yup. it seems to be fixed, and now we officially have appveyor to guarantee our windows support :smile:

[2015-09-09 05:18] #1057 closed

[2015-09-09 05:30] joaomdmoura commented on #1115
Hey @ccleung, first of all thank you for contributing :smile:
Actually the whole idea of the `Adapters` is to enable developer into doing exactly what you suggested.

So we incentivize developers to create their on adapters, and then use it and submit it as a PR to us, basically trying to isolate all logic inside an `xxx_adapter.rb` file as we have `flatten_json_adapter.rb`, `json_adapter.rb` and

[2015-09-09 05:34] #1039 closed

[2015-09-09 06:31] joaomdmoura commented on #808
@endash this is indeed a conscious decision.
Now that we are becoming part of Rails 5 we are starting to become more dependent of it naturally, also because we want to provide a set of new feature related to the integration itself.

This doesn't means we don't plan to support non-Rails users, we will, but right now we are focused on get it done in order to keep out rollout plans, but once we finis

[2015-09-09 06:33] joaomdmoura commented on #490
@afn We have a new release schedule for tomorrow actually

[2015-09-09 11:23] ccleung commented on #1115
Ah I see, is there an example of how to configure different adapters for different formats (e.g., xml, json, csv...)?

Or would I extend an adapter, e.g., `:json` adapter, and try to hook into the xml renderer...? I know that the base adapter has a `as_json` (https://github.com/rails-api/active_model_serializers/blob/v0.10.0.rc2/lib/active_model/serializer/adapter.rb#L23) method that hooks into th

[2015-09-09 13:44] bf4 opened #1130 "Fix transient test failures"
- https://ci.appveyor.com/project/joaomdmoura/active-model-serializers/build/49/job/pf3g0vp1otqecv42
- https://ci.appveyor.com/project/joaomdmoura/active-model-serializers/build/49/job/j0tijlxbeluf9r5e

[code]

ref: other race conditions https://github.com/rails-api/active_model_serializers/issues/961 might be useful to look at

[2015-09-09 13:45] beauby commented on #1130
Yup, I saw that the other day as well.

[2015-09-09 13:47] beauby commented on #1128
I like the idea of a better syntax for `include`, especially since nested resources are by essence a tree structure. However, I think it would make more sense to actually transform the text syntax (the current one) into a tree (i.e. an array of hash/symbols), than the opposite. Will open a PR for JSONAPI.

[2015-09-09 13:47] bf4 commented on #1130
Also

- https://ci.appveyor.com/project/joaomdmoura/active-model-serializers/build/52/job/t3erlut52i0t22j3
- https://ci.appveyor.com/project/joaomdmoura/active-model-serializers/build/52/job/fyady8yp0kn2lair

[code]

[2015-09-09 13:48] NullVoxPopuli commented on #1128
But why use the string syntax? what does it get us?

[2015-09-09 13:51] beauby commented on #1128
@NullVoxPopuli I would like to get rid of the string syntax but
  1. it might be a concern to people who already use it
  2. for some simple cases (like no nesting), people might arguably prefer `'author, comments'` to `[ :author, :comments ]`

[2015-09-09 13:54] beauby commented on #1128
Also, the string syntax makes it easy to sideload a "grand child" resource without sideloading the "child resource", which I don't really see a use case of, but still.

[2015-09-09 14:24] NullVoxPopuli commented on #1128
@beauby we could support both?, esp if the string is gonna get converted to the array/hash syntax anyway.
The include array/hash could be used to do grandchild stuff, but there would need to be a defined way to skip the child's full serialization. maybe adding a `relationships_only: true` or something similar?

like:

[code]

but that is getting kinda verbose... :-(

[2015-09-10 02:12] jfelchner commented on #1113
@iMacTia @NullVoxPopuli glad I found this. :grinning:  I was just about to open an issue.  This is _exactly_ what we need out of AMS right now.  I read through the issues.  I think that `include_nested_associations` could be replaced by doing something like:

[code]

IMO this:

[code]

Reads like "always include the `posts` in this output from the blog serializer".  What that really means is "incl

[2015-09-10 02:24] jfelchner commented on #1128
I think you all need to stick to one or the other. Supporting both adds unneeded complexity for little benefit.  I personally think that if strings are passed in, they should be converted over to a Hash.  If a Hash is passed in, it is used as-is.

[2015-09-10 02:28] beauby commented on #1128
@jfelchner The idea is to support an "hybrid" syntax, which is made of Arrays of Symbols and Hashes of Arrays (in terms of grammar, it would be something along the lines of `S → Array[Symbol, Hash[S]])`), which is more user-friendly than a pure hash (that would be for instance `{ comments: { author: {} }, author: {}, posts: {} }`, where the hybrid syntax would allow `[ :author, :posts, comments: [

[2015-09-10 02:28] jfelchner commented on #1128
Also, whatever does the conversion from the strings to hashes internally needs to be able to be called as a utility method.  This way if the user wants to pass in `include` as a query param, the user can transform it into a Hash and then use some sort of whitelisting to make sure that someone didn't pass in something nefarious.

For example if I have an association called `super_secret_stuff` whic

[2015-09-10 02:30] jfelchner commented on #1128
@beauby agreed :+1:  That's what I meant by Hash.  I don't know why you didn't catch on. :wink: :smile:

[2015-09-10 02:30] beauby commented on #1128
@jfelchner That seems like an authorization concern I am not sure AMS should be responsible of. Currently you could get away with defining two serializers, one for the Admins, one for the Users, which define different sets of relationships, and only the relationships declared in the serializer can be included.

[2015-09-10 02:31] beauby commented on #1128
@jfelchner If we agree on the format of include, I think you will be pleased by #1131 (although it states that the string syntax is removed, I'm actually adding it back since I overlooked the JSONAPI spec on that one).

[2015-09-10 02:36] jfelchner commented on #1128
@beauby no no. It definitely shouldn't be responsible for authorization.  What I'm saying is something like:

[code]

Obviously just pseudocode.  The general gist is that users of AMS won't have to duplicate the logic of how the `foo.bar.baz` include string gets converted to `{ foo: { bar: :baz }` or whatever.  And they can then take that and apply whatever authorization logic is appropriate for t

[2015-09-10 02:37] beauby commented on #1128
@jfelchner Well, in that case you will be even more pleased with #1131, since I am currently precisely working on that "translator".

[2015-09-10 02:37] jfelchner commented on #1128
@beauby Fantastic :grinning:

[2015-09-10 02:53] estum commented on #1128
I believe that `include` is designed to use with the same request parameter, which [described in the jsonapi specs](http://jsonapi.org/format/#fetching-includes). So, it should stay to take a flatten comma-separated list of associations at least in controllers.

But, I think, there is a related but somehow not so popular opposite issue: when the `include` parameter is passed, it's expected to prel

[2015-09-10 02:57] beauby commented on #1128
@jfelchner, @estum: I just updated #1131 to handle both formats under the hood in the `render` call, with a helper function also directly accessible via `ActiveModel::Serializers::Adapter.include_options_to_hash()` which takes either a string or an array of symbols and hashes.

[2015-09-10 02:57] jfelchner commented on #1128
@estum the JSON API spec only specifies what the _client_ should send to the _server._  Which, as you stated is a string of comma separated values.  But what happens to it after that point is up to the backend implementation to decide.

[2015-09-10 02:57] jfelchner commented on #1128
@beauby you are awesome.  I can't wait to get all this goodness merged in!

[2015-09-10 05:23] beauby commented on #1115
@ccleung You are right, the adapters do not actually build any json, but just hashes that represent the structure of the serialized data. Hence, your first hunch was right, you do need to add `_render_with_renderer_xml` to the list. You also need to add something like `as_json` to the [adapter](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter.rb

[2015-09-10 05:42] beauby commented on #1115
@ccleung See #1133

[2015-09-10 14:44] NullVoxPopuli commented on #835
hey, I think #1127 resolves this.

[2015-09-10 16:59] xn opened #1134 "Ember 2.0"
I've been reading the issues all morning trying to puzzle out which version of AMS and which adapter I need to use to communicate with ember data 2.0 and what I would need on the ember side as well. I see the underscore fix in #974, btw. It seems the release candidate and the jsonapi adapter isn't there yet.

Can anyone point me in the right direction?
thanks.

[2015-09-10 17:04] bf4 commented on #1134
Ember does support multiple adapters, and last time I looked, it's support of JSON API 1.0 wasn't complete, either.  If you're proficient at JavaScript, using the AMS JsonApi adapter on the Ruby side and customize your adapters as needed on the Ember side, you should have no problems.  Ember has built in dasherize and camelize  support, so master (0.10.rcx)  should be ok.  Maybe see

- https://git

[2015-09-10 17:08] xn commented on #1134
Thanks!

[2015-09-10 17:08] #1134 closed

[2015-09-10 19:08] t2 opened #1135 "Handling Reserved Words"
I have a column named `method` on my payment model. This is throwing AMS for a loop. Giving me an error `ArgumentError (wrong number of arguments (0 for 1))`. Any way to circumvent this without changing the column name? That would be a huge hassle.

[2015-09-10 19:40] ccleung commented on #1115
@beauby great looks like what I need!

And if I have additional formats I would need to support, such as say csv, would I append to `RENDERER_METHODS ` ? and create an adapter method to handle returning the seriliazable hash, similar to the xml PR?

[2015-09-10 19:59] bf4 commented on #1135
If you could use a different name that would really be best.  Besides in this library, replacing `Object#method(name)` with `Foo#method` is going to cause lots of unexpected bugs.  it's best to avoid names like `method`, `end`, `class`, and other core methods make your app work.

However, good news, you don't need to change the column name.  In your Rails record you can `alias_attribute :method, :

[2015-09-10 20:01] bf4 commented on #1115
@ccleung I'm curious, are you trying to represent json as xml?

[2015-09-10 20:18] t2 commented on #1135
@bf4 Thanks for the quick response! I was afraid of that. I have aliased the `:method` attribute even though is pains me :). Btw, for anyone reading this, it is actually `alias_method :some_method, :method`.

[2015-09-10 20:18] #1135 closed

[2015-09-10 20:59] bf4 commented on #1135
Thanks @t2 I thought I might have it reversed. Did `alias_attribute` not work?  That's better for Rails.

There's just some words in any language you want to avoid.  Also, 'case', 'task', 'process', 'object'..

[2015-09-10 21:07] t2 commented on #1135
@bf4 Worked like a charm. I was afraid of that when building the model but wanted to be concise with my column names. I try to keep away from the underscore as much as possible. I aliased `:payment_method` with `:method` and all works as it should. I'll just cringe a little while typing it :smile:.

[2015-09-10 23:33] beauby commented on #1115
@ccleung Technically yes, but you would have to build the string yourself in `to_csv`. However, I am not too sure AMS would be the right tool for CSV as it is a linear format, and makes it a pain to serializer relationships.
@bf4 You are right, but you don't need anything special to render json either!

[2015-09-10 23:41] ccleung commented on #1115
@bf4 I'm trying to take the `serializable_hash` i.e., https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json.rb#L7,  that activemodelserializer's adapter providers, and convert that to xml (e.g., calling `to_xml` on the hash that `serializable_hash` returns)

[2015-09-11 01:08] bf4 commented on #1115
@ccleung but why? does the record not serialize the way you want on its own?  AMS has a goal of helping you compose JSON and a record. Its origins and development are tied to JSON API and Ember.  I'm not say it's can't be used for XML, but I think, from a maintainer point of view, I wouldn't want to expand the scope of the gem, though I'd be ok if people write their own adapters, and as an end use

[2015-09-11 01:11] beauby commented on #1115
@bf4 Adapters themselves don't have much to do with JSON, they're merely a way of aggregating and organizing model data for presentation. The actual format you use for presentation is not really a concern.

[2015-09-11 01:19] bf4 commented on #1115
I'd rather write instructions in the README on how to use it for other media types and encourage people to share issues and pull requests they encounter.

I just don't think expanding the scope of AMS is good for the project, which is different from saying it can't do it.  Also, I think think the library has code rot that should be cleaned up first.

[2015-09-11 01:22] ccleung commented on #1115
@bf4 @beauby I'm using the active model serializer in my current API. the json adapter gives me a hash in exactly the format I want, and if a user requests the response to be in xml, Ideally I would want the has to be transformed into xml in the response.

I see that this method: https://github.com/rails-api/active_model_serializers/blob/v0.10.0.rc2/lib/action_controller/serialization.rb#L37 has b

[2015-09-11 01:29] bf4 commented on #1115
@ccleung Exactly. So, https://github.com/rails/activemodel-serializers-xml aka https://github.com/rails/rails/blob/4-2-stable/activemodel/lib/active_model/serializers/xml.rb#L196-L235 doesn't do the job? nor things like builder or oat or...

[2015-09-11 02:37] ccleung commented on #1115
@bf4 I won't be able to get the hash that AMS gives me using the links you sent, since AMS only overrides and takes care of `_render_with_renderer_json`

Once master is released though, I can easily get the AMS serializer_hash, and will not need to modify AMS gem itself

[2015-09-11 03:43] yoda opened #1136 "Using 0.9.x and 0.10.x in same project"
Hi All,

I am working on a largish rails codebase which uses 0.9.x for all the json serialisation. I want to start using the jsonapi style adapter either along side or as a engine or something so that I do not have to change all the 0.9.x code directly to 0.10.x. However I am at a loss as to how to get them to play nice together. As I have heaps of legacy stuff dependent on 0.9.x and want to slowl

[2015-09-11 05:15] joaomdmoura commented on #1098
Hey everyone showing up late here:

:+1: totally agree `.new` should be enough

I really like how the serializer worked solo, but having `SerializableResource` to tie up `Serializers` and `Adapters` is a good thing for ppl trying to build get the json without going through `render`

Agree, we will need to split this logic, not sure if `DeserializableDocument` is the best name but we need to have a

[2015-09-11 07:29] joaomdmoura commented on #1113
Hey everyone, I've being following it along and have just read through the last comments.
In really in favor of this implementation, really looking forward to get #1127 merged.

@iMacTia the schedule look great, indeed, let's take some baby steps, have the `include` will be awesome already and solve may of the existing needs. Then we can move forward with the other options.

Indeed @jfelchner, but

[2015-09-11 15:02] joaomdmoura commented on #834
Nice @bterkuile thank you for sharing indeed this is something that we want to have no 0.10.x

[2015-09-11 15:04] joaomdmoura commented on #1130
Are these failing only on appveyor?

[2015-09-11 15:05] bf4 commented on #1130
So far that's the only place I've seen it :)

[2015-09-11 15:23] joaomdmoura commented on #1128
Nice everyone, indeed we need to keep the string format, ppl have being using it and it looks similiar to what JSON API spec on what clients should send.
I'll check the PR, but I'm okay with the concept here.

[2015-09-11 15:35] joaomdmoura commented on #1134
Nice @bf4, maybe you could write a docs article about the easy way to integrate it before we release it :grin:

[2015-09-11 16:41] Dschee commented on #933
Following @bf4's suggestion the structure still isn't in accordance with the JSON API specifications example and [suggested structure](http://jsonapi.org/format/#error-objects). Here's an example structure from jsonapi.org:

[code]

[2015-09-11 16:58] bf4 commented on #933
@Dschee see https://github.com/rails-api/active_model_serializers/issues/1004

[2015-09-11 17:14] Dschee commented on #933
@bf4: Thank you, looks like good progress. I'm currently using the https://github.com/joaomdmoura/active_model_serializers/tree/deserializer-implementation branch though since I really need the deserializers, so I will have to wait until both come to complete fruition. I might be mistaken but my feeling when reading through the other threads was that this issue is either already solved or a duplic

[2015-09-11 18:22] bf4 commented on #1134
:eyes:

[2015-09-11 18:23] bf4 commented on #933
@Dschee I would say it can be done, just not explicitly supported, esp JsonApi, that's more work.  In fact, it led me to create a json api errors examples on their examples page.. which is also why so many of the features are still unchecked in that pr :)

For rehydrating, take a look at some of the libs on http://jsonapi.org/implementations/

[2015-09-11 18:25] bf4 commented on #1098
re removing `SerializableResource.serialize` in https://github.com/rails-api/active_model_serializers/pull/1129

[2015-09-12 04:47] beauby commented on #1136
Good question. If somebody comes up with a satisfying answer to this one, I think it is worth putting in the docs.

[2015-09-12 08:10] nahtnam commented on #974
+1

IMO this should be fixed on rail's side, and not on ember's. JSON API's format requires it to be dasherized instead of underscored. Yes, ember is flexible and lets you fix this, but there might be other frameworks that arent as flexible.

[2015-09-12 12:23] NullVoxPopuli commented on #1136
I don't know if this is possible due to how bundler works. (unless there is something I don't know about -- which is likely)

What functionality are you wanting that is different between the two versions?

With 0.10 RC3 and forward, you'll be able to specify adapters manually in your controllers - so that would help with the json api using

[2015-09-12 21:11] bterkuile commented on #834
Note that this solution of merging parts of the serializer and the adapter indicates that a proper implementation using the current adapter structure will be a challenge :smile: Good luck!

[2015-09-13 03:33] bf4 commented on #974
Not required, recommended

[2015-09-13 04:09] nahtnam commented on #974
Sure, you know what I mean ;)

We should assume that other parsers, adapters, serializers, etc follow recommendations.

[2015-09-13 12:28] brauliobo opened #1143 "Crash when render json: array"
Using version 0.10.0.rc2, active_model_serializers will crash for a simple array used on `render json: array` inside a controller.

[code]

[2015-09-13 12:29] NullVoxPopuli commented on #1143
can you provide the exact data passed to the serializer?

[2015-09-13 12:31] brauliobo commented on #1143
It seems it will always try to find a serializer class. In this case we have a legacy app where jsons are still coded manually, so the case where the serializer is not found should be handled.

[2015-09-13 12:32] brauliobo commented on #1143
@NullVoxPopuli yeah, here it is: https://github.com/blogoosfero/noosfero/blob/master/app/controllers/public/chat_controller.rb#L98

[2015-09-13 12:37] NullVoxPopuli commented on #1143
cool, thanks.

have you tried with the `master` branch? to see if that fixes the problem?

[2015-09-13 12:38] NullVoxPopuli commented on #1143
gem "active_model_serializers", github: "rails-api/active_model_serializers"

[2015-09-13 12:46] brauliobo commented on #1143
@NullVoxPopulli it worked, thanks!

[2015-09-13 12:46] #1143 closed

[2015-09-13 16:38] zach-taylor opened #1145 "Serializer is generated incorrectly when using references"
Using Rails 5 (master) and Ruby 2.2.3 and a fresh Rails API application (`rails new --api`), the following scaffold generation command:

`bundle exec rails g scaffold user organization:references name:string ...`

Produces:

[code]

[2015-09-13 21:21] beauby commented on #1128
@jfelchner It is merged. The following methods are now available as well:
+ `ActiveModel::Serializer::Utils.include_string_to_hash`: transforms a JSONAPI-style string into a hash;
+ `ActiveModel::Serializer::Utils.include_args_to_hash`: transforms an array of symbols and hashes into a hash.

[2015-09-13 21:31] willcosgrove commented on #1128
Looks awesome!  Great work @beauby!

[2015-09-13 21:31] #1128 closed

[2015-09-14 02:13] BenMorganIO commented on #1058
I was just working on this, this was my implementation:

[code]

Its based on the controller and I think the JSON API's definition of a filter is to identify objects that have an id of `1,2,3,..,n+1` or what if you have a prices endpoint and you want to filter by currency? Use cases:

[code]

The filtering should be more controller based since we're focusing more on content coming from a URI and d

[2015-09-14 02:16] beauby commented on #1058
Considering what the spec says:

I think it is not AMS's responsibility to handle this parameter.

[2015-09-14 02:18] beauby commented on #1058
However, the 0.8.0 filter feature (which is unrelated to the JSONAPI filter) remains a useful tool that I believe should be available in 0.10.0.

[2015-09-14 02:18] BenMorganIO commented on #1058
@beauby considering how easy it is to do on ones own, maybe make another gem that just adds more conventional sugar.

[2015-09-14 02:19] BenMorganIO commented on #1058
The 0.8.0 "filter" feature might need to be renamed to "fields". I think that's how the JSON API spec uses the terms.

[2015-09-14 02:19] beauby commented on #1058
Thing is, I'm not even sure what AMS should do with the `filter` query param if it were to do anything. Surely, filtering a collection before rendering should be done at the DB level.

[2015-09-14 02:22] beauby commented on #1058
@BenMorganIO The 0.8.0 filter is not really the same as the JSONAPI fields, as the former allows for the dev to pick which attributes/relationships will be serialized depending on certain conditions (like "is the current user an admin?"), whereas the latter allows the client to specify which fields it wishes to receive.

[2015-09-14 02:23] BenMorganIO commented on #1058
There's an `include` helper, so I think there's room for an argument on why the `filter` and `fields` params should be a part of the AMS 0.10.

However, I would opt for AMS to be have a second gem that adds that sugar to ActionController.

[2015-09-14 02:25] BenMorganIO commented on #1058
@beauby I like how the filter can do that based on the current users role. I'm :+1: for that. I'd rather opt for something like a `public_attributes`, `user_attributes`, `admin_attributes`. I feel like that would would be a much more intuitive API.

[2015-09-14 02:25] beauby commented on #1058
Again, `include` is intended to be usable by the dev to specify which relationships they want to include in the response. As a commodity, AMS supports the JSONAPI format for the `include` query parameter, but it's not limited to that scenario.

I'm all up for having JSONAPI-related helpers somewhere (I think that'd be great). I just don't think they all belongs within AMS.

[2015-09-14 02:28] BenMorganIO commented on #1058
@beauby I'm all :+1: for a JSONAPI-related helper gem for AMS. I'd love to put my JSON API `filters` params as a helper somewhere.

[2015-09-14 02:49] yoda commented on #1136
Well our current "api" is a mess and using 0.9.x (it works but its not standardised etc). In 0.9.x we are using the default serialisation mode that it supports (with heavily customised serialisers). Whereas with the 0.10.x I wanted to use  the json_api mode one. So ideally it would be that I could somehow use the 0.9.x style for some and then the json_api style for others. If I need to do this as

[2015-09-14 03:05] joaomdmoura commented on #1143
Nice! I'm happy you all were able to fixed it this fast :smile:

[2015-09-14 03:07] joaomdmoura commented on #1128
Nice! :smile:

[2015-09-14 03:17] joaomdmoura commented on #1136
@NullVoxPopuli On RC2 you can already specify adapter manually in controller I think.
@yoda  I've done something similar in order to keep different versions of JSON-API on the same application. There are a lot of way of making this work but two specially that looks nicer.

- If there are no specific 0.9 features involved basically you would want to use multiple adapter, and in order to do this you

[2015-09-14 03:32] yoda commented on #1136
Ah ok I'll give those a go. Thanks.

[2015-09-14 11:57] blanchma opened #1148 "Serialize an Array of strings"
I want to return an array of strings (for a search) and I get

NoMethodError (undefined method `new' for nil:NilClass)

Can I disable AMS for a specific controller/action ?

[2015-09-14 13:36] NullVoxPopuli commented on #1148
can you provide a code example of what you are trying to do?

[2015-09-14 14:02] NullVoxPopuli commented on #211
this is solved on master, via a new `include` options, where you define the nested associations.
Side loading is coming later this week.

[2015-09-14 14:06] NullVoxPopuli commented on #1077
resolved by #1127

[2015-09-14 14:13] NullVoxPopuli commented on #938
as for embedding ids only, would it make sense to have `embed_ids: true` on the associations declaration?

[2015-09-14 14:23] ZackMattor commented on #938
Didn't v0.9 do it on the class level? But I do see the appeal of being able to change the behavior per association.

[2015-09-14 16:03] blanchma commented on #1148
@NullVoxPopuli look that I made a mistake in the description. I mean "array", not "hash"

class Api::GamesController < ApplicationController
  respond_to :json

  def index
    games = Meeting.select(:game).distinct.where("game LIKE ?", "%#{params[:game]}%").pluck(:game)
    render json: games
  end
end

[2015-09-14 16:05] NullVoxPopuli commented on #1148
what happens if you try the master branch of AMS?

[2015-09-14 16:09] blanchma commented on #1148
I'm using gem 'active_model_serializers', '0.10.0.rc2' (I need this version)

2015-09-14 13:05 GMT-03:00 L. Preston Sego III <notifications@github.com>:

[2015-09-14 16:11] NullVoxPopuli commented on #1148
rc3 is going to be released soon, but in the mean time, I *think* that this issue is resolved on master.

so,

`gem 'active_model_serializers', github: 'rails-api/active_model_serializers'`

should do the trick

[2015-09-14 16:23] beauby commented on #1113
One common pattern to avoid infinite loops in this case is to have a "light" serializer for non-primary resources (relevant for Json/FlattenJson, but not JsonApi). We could possibly make it so that primary resources are serialized according to `ResourceSerializer`, and by default, non-primary resources get serialized according to `ResourcePreviewSerializer`, if such a serializer is defined, and fa

[2015-09-14 21:53] beauby commented on #1145
I just tried and it produces:
[code]

Which version of AMS are you using?

[2015-09-14 22:38] zach-taylor commented on #1145
Hey @beauby. I'm using version 0.10.0.rc2

[2015-09-14 22:52] beauby commented on #1145
Bug confirmed, and I can confirm the bug is fixed in master (which will become RC3 in a few hours).

[2015-09-14 22:52] #1145 closed

[2015-09-14 22:53] beauby commented on #1148
@blanchma Could you confirm this worked for you?

[2015-09-14 22:55] beauby commented on #1085
Closing this one for now as it seems to be solved. Feel free to reopen if needed.

[2015-09-14 22:55] #1085 closed

[2015-09-14 22:57] #1055 closed

[2015-09-14 23:01] zach-taylor commented on #1145
Thank you!

[2015-09-14 23:02] beauby commented on #637
Closing this one for now, feel free to reopen if needed.

[2015-09-14 23:02] #637 closed

[2015-09-14 23:03] beauby commented on #635
Closing this one for now, feel free to reopen if needed.

[2015-09-14 23:03] #635 closed

[2015-09-14 23:04] beauby commented on #604
Closing this one for now, feel free to reopen if needed.

[2015-09-14 23:04] #604 closed

[2015-09-14 23:04] beauby commented on #545
Closing this one for now, feel free to reopen if needed.

[2015-09-14 23:04] #545 closed

[2015-09-15 07:01] yoda commented on #1136
#1005

[2015-09-15 07:12] malroc commented on #1077
@joaomdmoura @NullVoxPopuli I'm not sure about this solution. Am I right that we have to specify `include: ...` every time we need to serialize a nested association?
Isn't it the syntax AMS is supposed to replace? Instead, in the current implementation it is just moved one level deeper.
There was a great convention implemented in 0.8.x branch: if we need to serialize an association, the serializer

[2015-09-15 07:13] malroc commented on #1077
Also, I can try to implement 0.8.x approach for 0.10.x and send a pull request with the solution, but not sure about the exact dates.

[2015-09-15 07:35] yoda opened #1151 "Missing custom root ability in 0.10.x"
The ability to customise the root json key has gone missing in 0.10.x. I think there has been some sort of merge issue or divergence from master as this doesn't seem to occur on master.

Problem on 0-10-stable
https://github.com/rails-api/active_model_serializers/blob/0-10-stable/lib/active_model/serializer.rb#L170-L172

Issue seemed to occur at:
https://github.com/rails-api/active_model_serialize

[2015-09-15 08:25] joaomdmoura commented on #1151
Yup, It's  working on master, and will be back on RC3 that will be release in a few hours :smile:

[2015-09-15 08:26] yoda commented on #1151
hooray thanks again

[2015-09-15 10:38] malroc commented on #1113
Including all nested associations was the default option in 0.8.x.
All possible problems of this approach come from bad design and bad development practices. So why the interests of the bad developers should be respected more than the interests of the good ones?
As @beauby mentioned, there is a good way to prevent unnecessary nesting in 0.8.x approach: create a separate light serializer for the as

[2015-09-15 10:50] malroc commented on #1113
Also, `include` approach breaks 'convention over configuration' principle, which stands beyond the whole ideology of RoR (and old AMS btw).

[2015-09-15 11:25] malroc commented on #1113
Finally, `include` approach means that we have to handle atomic nodes and associations separately for an associated model: atomic nodes are handled by the serializer of the model itself, and associated nodes are handled by the serializer of the container model.
Having in mind that the serializer of the associated model can have its own associations defined, we get a mess in the code base.
Please t

[2015-09-15 11:45] NullVoxPopuli commented on #1113
@malroc, I understand your concern, and that you may be upset with this change.

There has been quite a bit of discussion on this topic over the past months on various issues.
The primary issue being solved is the infinite nesting that comes with always including every relationship.

To counter your argument for creating a separate 'light' serializer, for the association would result in something

[2015-09-15 11:58] malroc commented on #1113
@NullVoxPopuli yes, you are right on that, and actually that's the only issue with the old (0.8.x) approach (please compare to the number of issues of the new approach I listed above).
But think about it from another perspective: if we need several representations of the same object for different cases, isn't it logical to create several serializers? After all, that's what serializers are for. If

[2015-09-15 12:02] NullVoxPopuli commented on #1113
Yes, but doing that for associations isn't the way to go. I'm working on some tests right now to demonstrate using flat serializers, and specifying nesting in the controller.

valid point -- the reason it's in the seralizers now, is because it was easier - a stepping stone to get to fuller functionality. This feature isn't final, and I plan to implement sideloading before RC4

[2015-09-15 12:18] NullVoxPopuli commented on #1113
@malroc here is the relevant commit that should address your issues: https://github.com/NullVoxPopuli/active_model_serializers/commit/5806cb79b9e8d263a58ca96df1b13c9ec8c76883

by default, nested associations are not rendered. So, specifying them in the controller would also allow for associations to be specified upon request from your frontend.

[2015-09-15 12:22] NullVoxPopuli commented on #1113
@malroc full diff here: https://github.com/rails-api/active_model_serializers/pull/1127/files

[2015-09-15 12:23] malroc commented on #1113
So we step back to specifying nesting in the controllers? Again, why do we need serializers at all in that case?
I can specify all attributes and nesting in the controllers right now, and I don't need serializers for that.

The first line of the AMS documentation states that:

And the new approach for handling nested associations breaks that.

[2015-09-15 12:24] NullVoxPopuli commented on #1113
I believe if we take convention over configuration in the way you want it, we just wouldn't have any serializers, and it would all be generated... -.-

[2015-09-15 12:25] NullVoxPopuli commented on #1113
(you can continue to use 0.8, btw - you don't *have* to upgrade) :-)

[2015-09-15 12:26] malroc commented on #1113
The support for 0.8.x is already dropped, so I can't continue using it in the long run.

[2015-09-15 12:41] malroc commented on #1113
It worked perfectly for 0.8.x, and I see no reason why it can't work now.

[2015-09-15 13:46] ciaoben opened #1152 "Problem with namespacing"
in my controller I call:

    render json: @customers_filtered, serializer: User::CustomerSerializer

My serializer:
[code]

But when I call the controller's action, it gives me:

[code]
But my Customer has the id attribute.

What is this `ActiveRecord_Relation` in the message? Why it is not a model?

[2015-09-15 13:53] NullVoxPopuli commented on #1152
Can you post your relevant models?
and, do you have a User class?

[2015-09-15 14:36] ciaoben commented on #1152
[code]

located in `models/user/customer.rb`

in the DB it has id, firstname, lastname

[2015-09-15 14:39] NullVoxPopuli commented on #1152
what's the definition of `User` look like?

[2015-09-15 14:42] beauby commented on #1113
I have a design in my head that could be pretty cool for nested JSON stuff: building on 0.8.x, and the idea I mentioned above, we could make it so that when a nested related resource gets serialized, let's say Post > Comment > Author, we would first look for `PostCommentAuthorSerializer`, then `CommentAuthorSerializer`, then `RelatedAuthorSerializer` (which would be some sort of catch-all for non-

[2015-09-15 14:43] ciaoben commented on #1152
User is not a class, it is only a namespace!

[2015-09-15 14:45] NullVoxPopuli commented on #1152
that's what I was hoping for :-)

but anywho, we'll need to write a test to verify this.

have you tried using the master branch of AMS?

[2015-09-15 14:46] beauby commented on #1113
To be honest, I see use in both solutions:
- @NullVoxPopuli's is terribly usefull when you want to conditionally include nested resources,
- the one I sketched above or a variation of it is really cool when you statically know what you want serialized.

[2015-09-15 14:46] ciaoben commented on #1152
I am actually using RC2

[2015-09-15 14:48] NullVoxPopuli commented on #1152
could you see if the issue exists on master?

you can just use

`gem 'active_model_serializers', github: 'rails-api/active_model_serializers'`

if the issue persists, we'll file this as a potential bug.

Also, once that is tested, if you could paste the stack trace, that would be awesome.

[2015-09-15 14:50] malroc commented on #1113
@beauby +1 for your solution.

[2015-09-15 14:50] NullVoxPopuli commented on #1113
@beauby that *is* a very interesting idea.
Only downside I can think is the one that @malroc mentioned in that you'd have to update attributes in many places if things change.

[2015-09-15 14:53] beauby commented on #1113
@NullVoxPopuli Not really, because if your `Author`s are always serialized the same way, you don't even need to define a nested serializer. And if you did define one, then it was because you had custom needs over the attributes/relationships you wanted to be included.
I'll make a PR for the solution sketched above, we'll see whether it gets traction.

[2015-09-15 14:53] ciaoben commented on #1152
Using the master branch, the error is now:
[code]

[2015-09-15 14:54] NullVoxPopuli commented on #1113
@beauby cool

[2015-09-15 14:58] NullVoxPopuli commented on #1113
for clarification:

[code]

[2015-09-15 14:59] NullVoxPopuli commented on #1152
@ciaoben do you have a stack trace for that? (just between your render call and that error would be more than enough)

[2015-09-15 15:00] ciaoben commented on #1152
The error page it gives me only this under fulltrace:

[code]

But I don't think can be usefull

[2015-09-15 15:01] NullVoxPopuli commented on #1152
what about in your server log in the terminal?

[2015-09-15 15:03] ciaoben commented on #1152
[code]

[2015-09-15 15:06] NullVoxPopuli commented on #1152
well, silly rails, that's not very helpful. haha

I'll see if I can come up with a test for this later today.

[2015-09-15 15:06] ciaoben commented on #1152
Thanks, will be great

[2015-09-15 15:07] ciaoben commented on #1152
An idea, should be implement a method to personalize the model (resource) of the Serializer. Would make things simplier

[2015-09-15 15:51] meltingice opened #1153 "JSON adapter with empty array does not maintain root key"
If you attempt to serialize an empty array with the JSON adapter and ArraySerializer, the root key becomes an empty string. This issue is present in 0.10.0.rc2 and the latest master branch commit at this time (`17c353826056bc3eac3e6d6a2fd081af175bb6ad`).

**Example Code**
[code]

**Expected**
[code]

**Actual**
[code]

[2015-09-15 21:45] beauby commented on #1153
Thing is, when you have an empty array, there is no real way for AMS to infer the type of resources you would have had in it (at least not based on the resources themselves since, well there aren't any). Two possible workarounds:
+ explicitly specify the `root` option
+ make a custom collection serializer that inherits from `ArraySerializer` that sets the `root` for you.

[2015-09-15 21:48] beauby commented on #1152
@ciaoben Could you post:
+ your `CustomerSerializer`
+ your `User::CustomersController#index` method

[2015-09-15 21:48] NullVoxPopuli commented on #1153
AMS could attempt to safe_constantize the model part of  `{model}Serializer` and derive the root key from that?

[2015-09-15 21:52] meltingice commented on #1153
From a design standpoint, is there ever really an instance where you wouldn't have an array of homogenous object types? At least, for the JSON adapter? I don't see why AMS couldn't deduce the root key based on the serializer. The workarounds are fine, but it was definitely a surprise to me how it reacted in this instance. Doesn't seem like a good expected result.
--
Ryan LeFevre (@meltingice)
HODI

[2015-09-15 22:17] NullVoxPopuli commented on #1153
@beauby @joaomdmoura how do you feel about inferring the root name in this scenario? Can you think of any down sides?

[2015-09-15 22:18] beauby commented on #1153
I think we should do it but only if it cannot be inferred from the resources themselves (mainly because there are none), otherwise it will bring pain when serializing with a custom serializer (like `PostPreviewSerializer`).

[2015-09-15 22:19] NullVoxPopuli commented on #1153
yeah, that's what I was thinking.

[2015-09-15 23:40] NullVoxPopuli commented on #1153
Imma get a PR for this

[2015-09-16 02:21] NullVoxPopuli commented on #1153
Addressed in #1156

[2015-09-16 02:52] wallace commented on #363
For those who may stumble upon this issue via direct searching in AMS issues, you want [this stackoverflow answer](http://stackoverflow.com/a/23814855/91029).

[2015-09-16 03:31] bf4 commented on #363
@wallace Thanks for that!

[2015-09-16 04:37] bf4 commented on #1153
@meltingice are we discussing `Array.new` or `Article.none`?

If `Array.new`, AMS does nothing to resources that have no serializer, and there's no serializer for the Array primitive ([0.10.0 master](https://github.com/rails-api/active_model_serializers/blob/610775a95fb4a9348990ace19f621a7921ae20c3/lib/action_controller/serialization.rb#L37-L39), [0.10.0.rc2](https://github.com/rails-api/active_mo

[2015-09-16 07:13] ciaoben commented on #1152
@beauby

The serializer is exactly the simple one from the first post.

The method:

[code]

[2015-09-16 07:44] beauby commented on #1152
Does adding `:id` to the attributes list of your serializer solve the problem?

[2015-09-16 07:49] ciaoben commented on #1152
@beauby no, sorry, I didn't notice that in the original post wasn't there... the :id attributes is present in the serialize, now I am editing the first post

[2015-09-16 07:50] beauby commented on #1152
Could you provide your `pagination_filter` method as well. I suspect this is where stuff is going wrong, as it seems to return an association.

[2015-09-16 07:52] ciaoben commented on #1152
[code]

[2015-09-16 12:34] bf4 opened #1160 "Generate and lint YardDoc"

[2015-09-16 12:34] NullVoxPopuli commented on #1160
:+1:

[2015-09-16 15:25] bf4 opened #1162 "Validate JsonApi serializations against http://jsonapi.org/schema"
- [ ] Validate JsonApi serializations against http://jsonapi.org/schema

Ref:
- https://github.com/json-api/json-api/issues/867 esp see the distinction in `additionalProperties` when consuming vs. producing

[2015-09-16 15:28] beauby commented on #1162
:+1:

[2015-09-16 15:35] beauby commented on #1113
Some news:
+ https://github.com/rails-api/active_model_serializers/pull/1158 Allows for specifying on render which related resources to serialize along, with a wildcard syntax (`path.to.resource.*` for including all resources directly related to nested resource `path.to.resource`, `path.to.resource.**` for including all resources related to nested resource `path.to.resource` and all its descendant

[2015-09-16 16:08] sbauch opened #1163 "Custom Adapter for Overriding root key"
I'm in the process of upgrading to `0.10.0.rc2`. I'm a little bit inconsistent throughout the client app in terms of whether to expect a root or not, something I'll eventually get around to fixing.

But for now I need the functionality present in previous versions that allow me to pass a `:root` option, including `nil` to a serializer in order to customize or remove the root key from a json result

[2015-09-16 23:11] xn opened #1164 "JSON-API includes"
How do I configure or where does the logic live to select which serializer serializes an include in the json-api adapter?

I've got a situation like:

[code]
What I want is:
[code]
What I get is (note the integer ID in the includes):

[code]
When I create a `BarSerializer` without the namespacing, I get what I want as far as the output goes, but I still want my namespacing.

Similarly, when I have

[2015-09-17 00:52] bf4 commented on #1164
Good question :)  Do you think you could write a failing test for what you want?

[2015-09-17 00:54] xn commented on #1164
Yes. Won't happen till next week though. Overloaded ATM.

[2015-09-17 02:09] chrisdpeters commented on #974
@joaomdmoura :+1: on what #1029 is aiming to achieve. Especially love that the default for JSON API would be dasherized.

FYI, @hugopeixoto's workarounds mentioned in this issue break on association keys with today's release of `v0.10.0.rc3`. (`#each_association went away in rc3). I'm personally looking forward to #1029 being completed and released. Rolling back to rc2 in the meantime...

[2015-09-17 02:25] bf4 commented on #827
The related thoughtbot article is pretty good, even though for 0.8 https://robots.thoughtbot.com/fast-json-apis-in-rails-with-key-based-caches-and

[2015-09-17 04:21] yokree commented on #1038
I have the same error with rails 4.2 and `0.10.0.rc3`

Hard to say where is exactly this problem, as I have similar serialisation logic and this error appears only for rendering particular models.
[code]

[2015-09-17 04:53] bf4 commented on #1038
I saw `to_json_with_active_support_encoder` and looks like https://github.com/rollbar/rollbar-gem/issues/271 and mentioned it's a bug in ActiveSupport (I see you're on 4.2.3 and 4.2.4), so I found

- https://github.com/rails/rails/issues/20775#issuecomment-118706497
  - Introduced in https://github.com/rails/rails/pull/10278
  - Fixed in master https://github.com/rails/rails/pull/10278
    - 4-2 p

[2015-09-17 12:26] NullVoxPopuli commented on #1163
you can specify which adapter to use per-request.
So, if you didn't want a root, you could use 'adapter: :flatten_json`

[2015-09-17 15:05] #1130 closed

[2015-09-17 18:08] shicholas opened #1170 "problem with loading ActiveModel::Serializer::Associations"
here's my stacktrace:

[code]

It seemed to work fine when I required the associations file before ``active_model_serializers.``

FWIW I'm developing using AMS in a rails engine. I don't think that should matter, but maybe it does.

[2015-09-17 18:10] NullVoxPopuli commented on #1170
is this just when booting your app?

[2015-09-17 18:11] shicholas commented on #1170
yes

[2015-09-17 18:13] shicholas commented on #1170
* booting the app with the engine where I'm using AMS .10.rc3 in.

[2015-09-17 18:14] NullVoxPopuli commented on #1170
is your engine open source, or is there a way you can make an example engine demonstrating the problem?

[2015-09-17 18:38] shicholas commented on #1170
It's not but I can try to reproduce w/ an open-source project.

[2015-09-17 18:44] bf4 commented on #1170
Looks like it may be a race condition.  Which Ruby are you on?

https://github.com/rails-api/active_model_serializers/blob/3f0794bd390521616c1270d1350b95ad31e0731c/lib/active_model/serializer.rb#L7-L15

should probably

[code]

you can `bundle open active_model_serializers` try that, if it works, `bundle gem pristine active_model_serializers` and submit it as a PR :)

[2015-09-17 18:56] shicholas commented on #1170
ruby 2.2.3. and submitted a PR. Adding a require with the include did the trick.

[2015-09-17 19:18] bf4 commented on #1170
yay!

[2015-09-17 19:29] sbauch commented on #1163
right, that would help, but I still want to customize the root key in other places (i.e. change it from `photos: {...}` to, for example, `images: {...}`

it seems like a custom root key is only possible with the JSONAPI adapter, which sounds like a smart thing to use, but at the moment would be a pretty major refactor for my client app.

[2015-09-17 19:32] NullVoxPopuli commented on #1163
Could you make a test for the json adapter for specifying a root as a render option?

something like this: `render json: @object, serializer: SomethingSerializer, root: 'custom'`

[2015-09-17 20:12] sbauch commented on #1163
ah, okay, I was definitely wrong!

@NullVoxPopuli sorry, I'm not sure what you're asking. To write a test for the library and submit a PR that ensures rendering as you suggested returns json with a root of "custom"?

I'm actually now using a custom adapter based off of the NestedJson adapter proposed in https://github.com/rails-api/active_model_serializers/pull/1073, which is really a separate iss

[2015-09-17 23:24] yokree commented on #1038
For my case it seems, like it also related to #963. But I'm using mongoid, so relation probably handles in a different way. Renaming `has_many :options` solved my problem

[2015-09-18 00:22] nahtnam commented on #916
Im having a similar issue.

I have two serializers in my rails mountable engine.

[code]

and

[code]

The resulting JSON for `Steam` is ok but for some reason, the has_many association isn't working. The JSON is returning things like the created_at and updated_at attributes even though they aren't in my serializer which leads me to believe that AMS cant find my serializer.

Thanks.

[2015-09-18 09:23] Padchi opened #1176 "no implicit conversion of nil into String"
Got this error on rc3 but not on rc2 and I do not do anything fancy here:

[code]

[code]

Application trace:
[code]

I get the same error on every adapter

[2015-09-18 13:44] NullVoxPopuli commented on #1170
@shicholas is this resolved?

[2015-09-18 14:09] shicholas commented on #1170
Yup, ha

[2015-09-18 14:09] shicholas commented on #1170
*thanks

[2015-09-18 14:09] #1170 closed

[2015-09-18 14:18] NullVoxPopuli commented on #1176
hi, @Padchi,

I'm having issues replicated our error with the given information.

A few questions:
 - Do any other serializers have this issue?
 - Could you post your `Post` model?
 - Could you post your `Post` schema entry? (just to see what fields exist on the model)
 - Is it only when you render the result of a `{model}.all`?

[2015-09-18 14:21] NullVoxPopuli commented on #1163
Just for clarification:  you're saying are are *not* having a problem with `root: 'profile_image'`? but you experience a problem / unexpected behavior with `root: nil`?

[2015-09-18 15:58] bf4 commented on #1176
Is the id actually nil?

Might be related to https://github.com/rails-api/active_model_serializers/commit/995bbcc18d6b270cdfb0ee443fc596bcc3d698f9

btw, Post.all might not be a good idea, unless you mean that just as example code

[2015-09-18 17:40] thiagogabriel commented on #1163
I need a custom root because my collection is a STI, so the root can many things.
I tried a custom root but it doesn't work on rc2, even on the render. The solution for my problem was to set `flatten_json` adapter on the render, so it will not appear "random" root keys on STI collection.

[2015-09-18 19:30] Padchi commented on #1176
Hello @NullVoxPopuli and @bf4!

All my serializers have the same problem.

[code]

[code]

No i tried with a simple show action as well.

No posts in my database has a null id.

That's just my simplified example, but i got the same error with my real code

[2015-09-18 19:52] NullVoxPopuli commented on #1163
I just made this really quick passing test:

[code]

This is on master.

can you see if you can set the root on master?

interestingly enough, when I set the root to nil, I got this for the root:

[code]

so... not sure if that should be considered a bug, as it's the fully qualified name of the serializer - it's just... long and awkward.

@thiagogabriel is there anyway you can fork AMS, and implem

[2015-09-18 19:52] bf4 commented on #1176
B mobile phone

Ok, but if you def id; fail object.id.inspect; end inyour PostSerializer, what do you get?

[2015-09-18 20:09] Padchi commented on #1176
@bf4 Exactly the same thing unfortunately

[2015-09-18 20:17] bf4 commented on #1176
That tells me that your `object.id` is nil :)

[2015-09-18 20:22] Padchi commented on #1176
@bf4 I don't get it. If my posts table is empty i just get a response with `{"data": [] }` and then i tried to add a record in the console and the new record got a ID but i get the same error?

[2015-09-19 14:22] NullVoxPopuli opened #1179 "Extract Attributes Adapter methods to a module to share between Attributes and Json for overriding."
This is dependent on #1127 getting merged in to master as it contains a lot of refactoring of the now attributes adapter.

So, if all the hash building methods get moved to a module, it would be really easy to change how relationships, and even the core data is added.

I forsee this affecting the json api adapter as well, and cleaning that up.

for example using sideloading:

lets say when buildin

[2015-09-19 14:25] NullVoxPopuli commented on #1179
Or, maybe a lot of the methods in attributes can get moved to adapter::base, since all the adpters are pretty much going to have the same association traversing logic.

[2015-09-19 18:36] NullVoxPopuli commented on #1179
here is a better example of the refactor: https://github.com/NullVoxPopuli/active_model_serializers/pull/1/files

I'd have to work pretty closely with whomever knows the most about the json api workings to get the pattern extracted to Adapter::Base or something.

[2015-09-19 20:08] Padchi commented on #1176
@bf4 and @NullVoxPopuli i have replicated the error, you can find it here https://github.com/Padchi/ams-test/tree/master

[2015-09-20 03:01] beauby commented on #1176
Will look into it in an hour.

Le samedi 19 septembre 2015, Timmie Sarjanen <notifications@github.com> a
écrit :

--
Lucas Hosseini
lucas.hosseini@gmail.com

[2015-09-20 05:03] nahtnam opened #1180 "JSON API relationships null"
Hey!

I am kind of in a weird situation. I have my models nested under a namespace called `steam` and in one of my relations, I have set: `has_many :status_datacenters, foreign_key: :steam_status_id`.

When I try to render out the JSON API, I get something like this: https://gist.github.com/nahtnam/ee105a6d2ac1634eafdf#file-status-json-L84

Notice how the relationships data is null. It wasnt like

[2015-09-20 16:37] beauby commented on #1180
This is supposed to happen for an empty to-one relationship. Could you post your models and serializers?

[2015-09-20 17:10] bf4 commented on #1179
I'd like to keep the Attribute adapter slim, and would prefer to avoid using inheritance through modules to avoid inheritance through classes

[2015-09-20 17:13] NullVoxPopuli commented on #1179
Yeah, after some more thought, I think this stuff would work better in `Adapter::Base`

[2015-09-20 17:41] nahtnam commented on #1180
I'm not on my computer right now but I found a gist I made. https://gist.github.com/nahtnam/890cf453e1b4af4ec008

Ignore the errors and stuff. I fixed it by setting a foreign key on the has_many.

[2015-09-20 21:11] blanchma commented on #1148
@beauby sorry for the delay. Yes, it works.

[2015-09-20 21:12] beauby commented on #1148
Cool, then I'm closing this for now. Feel free to reopen if the problem arises again in the future.

[2015-09-20 21:12] #1148 closed

[2015-09-20 22:12] bf4 opened #1181 "Good for New Contributors"
- Add [CHANGELOG.md](https://github.com/rails-api/active_model_serializers/blob/master/CHANGELOG.md) entry for merged pull-requests without one: [Label: Changelog missing](https://github.com/rails-api/active_model_serializers/labels/Changelog%20Missing)

[2015-09-21 01:04] dukex commented on #1176
Hi @Padchi I cant reproduce the error using your test repo.

I did:

[code]
The GET ```/posts``` is OK, returning a empty JSON object

[code]

[2015-09-21 02:45] beauby opened #1184 "Options not passed from Json to Attributes adapters"
Currently, the Json adapter simply calls the Attributes adapter, and spits out the result inside a hash. However, as [discussed](https://github.com/rails-api/active_model_serializers/pull/1158#discussion_r39937199), the former does not pass the options to the latter.
I'm not really aware of the situation of Json options, but I think this should be fixed.

[2015-09-21 09:59] Padchi commented on #1176
@dukex how is that even possible? I used a fresh clean gemset and i guess that you use the same ruby version as specified in the gemfile?

[2015-09-21 16:12] beauby commented on #1184
Solved by #1185.

[2015-09-21 16:12] #1184 closed

[2015-09-21 16:15] beauby commented on #1180
@nahtnam Could you post your serializer as well? It seems like you're never calling `render`. Did you include all the related logic?

[2015-09-21 16:23] beauby commented on #1164
Namespacing is currently very poorly handled within AMS. We're working on it.

[2015-09-21 17:00] nahtnam commented on #1180
Hey!
Here are the serializers and the render:
https://gist.github.com/nahtnam/c1eac377cfb3aec5e51e
Thanks.

On Mon, Sep 21, 2015 at 9:15 AM Lucas Hosseini <notifications@github.com> wrote:
@nahtnam Could you post your serializer as well? It seems like you're never calling render . Did you include all the related logic?

—
Reply to this email directly or view it on GitHub .

Thanks.

[2015-09-21 17:06] beauby commented on #1180
As far as I know, AMS does not support any option called `foreign_key`, nor should it be aware of the internal DB representation of your data. As long as your model exposes the relationship through the right method, you shouldn't need to specify anything more.
Could you make sure the issue is not happening when removing the `foreign_key` option?

[2015-09-21 17:51] thec0keman commented on #1054
We have a very similar situation on 0.9-stable and this fix seems to resolve.

[2015-09-21 20:45] meltingice commented on #1153
Sorry, thought I replied to this, but must have forgotten to send the email. In this case it actually is `Array.new` because I'm not serializing an `ActiveRecord::Relation`.

[2015-09-22 00:54] thiagogabriel commented on #1163
@NullVoxPopuli on it.

[2015-09-22 01:10] thiagogabriel commented on #1163
@NullVoxPopuli All bugs I found are fixed on master but it was broken on rc2 and I couldn't test on rc3 due to another bug.

[2015-09-22 01:42] NullVoxPopuli commented on #1163
That's great news!

[2015-09-22 01:42] #1163 closed

[2015-09-22 03:54] givigier opened #1188 "Inheritance of serializer"
[code]
[code]
I'm trying to use something like this on branch master AMS but it does not work. When I use CustomerSerializer, it does include the attribute :id. Is it possible to do this on AMS?

[2015-09-22 06:57] bf4 commented on #1188
Try defining `read_attribute_for_serialization(attr)` on your model and handle id there

Otherwise, we'll need some more information of
- what you're trying to serializer and
- with what data
- what you expected
- what you saw
- what you tried
- ruby flavor and version, rails version

[2015-09-22 06:58] bf4 commented on #1188
Also, if you could help improve https://github.com/rails-api/active_model_serializers/blob/master/CONTRIBUTING.md#how-can-i-help that would be great, too :)

(and https://github.com/rails-api/active_model_serializers#getting-help )

[2015-09-22 08:41] edwinlunando opened #1189 "belongs_to and has_one Nested Form Use Wrong Serializer"
Hi, I have a problem with nested serializer. This is my serializers

[code]
My formulas API result.
Actual result:
[code]

Why there is `created_at`, `updated_at`, and `taxon_id` is there? It seem that it rendered without using my serializer.

Expected result
[code]

The serializers works perfectly if I render the Ingredient API. Is this a bug?

[2015-09-22 09:23] PratheepV commented on #1046
@joaomdmoura , root options is not working for array serializers. Meaning if we have the

[code]
Getting the response as

[code]

I tried using json_key in serializer also.

I am using 0.10.0.rc3

[2015-09-22 09:38] chenghung commented on #1176
the same problem on 0.10.0 rc3

[2015-09-22 09:52] dukex commented on #1176
Yes @Padchi, using the ruby 2.2.1.p85.

Look my screenshot
![screenshot from 2015-09-22 06 47 05](https://cloud.githubusercontent.com/assets/91538/10015346/ff7eb1f6-60f5-11e5-9250-a682b8c5c33a.png)

[2015-09-22 09:55] Padchi commented on #1176
@chenghung it's only on rc3 for me, not on rc2

[2015-09-22 09:59] Padchi commented on #1176
@dukex I tested the repo on ruby 2.2.3 to and it's the same problem so don't think that's ruby is the problem. But still thinks it's wierd that you don't get the error with the same repo as me.

[2015-09-22 10:27] beauby commented on #1189
This behavior happens when AMS cannot find a suitable serializer. It then falls back to transforming the raw object to JSON. Here, `has_one :ingredient, each_serializer: IngredientProductSerializer` should be `has_one :ingredient, serializer: IngredientProductSerializer` (without the `each`).

[2015-09-22 10:44] dukex commented on #1176
I got the Post `nil` id when I update the scheme with `create_table "posts", id: :uuid, default: "uuid_generate_v4()", force: :cascade do |t|`

but no problems with `nil` id

[code]

[2015-09-22 10:45] beauby commented on #1176
That is because in the JSON API adapter the `id` is manually casted to a string.

[2015-09-22 10:52] dukex commented on #1189
And given the example code, `IngredientProductSerializer` should be `IngredientSerializer`

[2015-09-22 10:54] edwinlunando commented on #1189
I'm sorry. It was a typo. I changed it into IngredientSerializer and it keeps outputting the same result

[2015-09-22 11:07] dukex commented on #1189
@edwinlunando Do you made the changes that @beauby said?

[2015-09-22 13:53] beauby commented on #1189
@edwinlunando See https://github.com/rails-api/active_model_serializers/issues/1189#issuecomment-142241016

[2015-09-22 14:13] beauby opened #1190 "Nested serializers/attributes"
### **tl;dr**
We need better serializer lookup in order to handle namespaces, which brings the opportunity to handle nested serializers, and introduce a friendly syntax to declare them.

---
As you may have noticed, there is currently some work being done on nested serialization. Different needs have been identified:
 1. nesting some or all of the relationships (this is taken care of by #1158 and

[2015-09-22 14:24] beauby commented on #1164
However, for your situation, you might find #1157 helpful. There is currently no way to specify a serializer for the include chain passed in the `include` adapter option, and this is kind of by design. Feel free to share any suggestion on how you think the whole thing should behave in #1190.

[2015-09-22 14:25] beauby commented on #1113
Let's continue this discussion in #1190.

[2015-09-22 14:32] beauby commented on #1075
After giving more thoughts to this, I really think there should _at least_ be a warning when a related serializer does not exist, because in the current situation gets _very_ confusing when you misspel a serializer name in its definition (like `class PotsSerializer`).

[2015-09-22 14:35] beauby commented on #1077
See #1157, #1190.

[2015-09-22 14:37] NullVoxPopuli commented on #1190
I really like that block syntax. omg.

[2015-09-22 14:37] beauby commented on #1044
I really think AMS should not be responsible for any of the data-related stuff. However, I think the kind of queries that would implicitly be fired by AMS through ActiveRecord should be documented, as well as suggestions and/or helper methods to help preload stuff with AR.

[2015-09-22 14:41] beauby commented on #1025
So by default the JsonApi adapter *does not* put the related objects in the `include`, *and* it still serializes the defined *relationship objects*. However, it currently relies on the corresponding object to exist an be available as a method on the parent. You could probably get away with defining a method on your model that would behave as expected by AMS to solve your situation. I am also think

[2015-09-22 14:54] bf4 commented on #1044
@beauby +1

[2015-09-22 15:18] bf4 opened #1191 "Document serializer/each_serializer options"
from: https://github.com/rails-api/active_model_serializers/pull/1156#issuecomment-142320010

So, AMS doesn't handle primitives, and when they find their way it, they are passed through as is. ( Specifically, when you're not rendering an object with a defined serializer.)

How options are parsed

1. **ActionControllerSerialization**
1. `serializable_resource = ActiveModel::SerializableResource.new

[2015-09-22 15:20] beauby commented on #1191
:+1: for the explanation. As I said in #Icantremember, I think the NoSerializerError for associations should not be rescued, or at least should issue a warning when rescued.

[2015-09-22 15:38] bf4 commented on #1191
@beauby

Actually, that's what it was introduced for, though perhaps `try/catch` would be a more correct use for control flow.

Ref:
- [Rendering array objects that doesn't have serializers](https://github.com/rails-api/active_model_serializers/pull/962) Specifically: https://github.com/rails-api/active_model_serializers/pull/962#issuecomment-114204858

[2015-09-22 15:44] NullVoxPopuli commented on #1191
It would be great to have this explanation of things in SerializableResource are other related areas.
Sometimes, it's just convenient to see the possible flows in the code comments.

Also, Is there a place currently documented that states that AMS does not serialize primitives?

[2015-09-22 15:46] givigier commented on #1188
Thanks @bf4. I could ask this on Stackoverflow. Could you close this issue please?

[2015-09-22 15:48] beauby commented on #1188
@givigier Closing for now, please post the link of the StackOverflow question here if you do open one.

[2015-09-22 15:48] bf4 commented on #1191
@NullVoxPopuli

Yeah, that's why I made this issue.. would be good to have a overview something like this but that won't break with changes

Dunno. It does come up every now and then.  I do think `ArraySerializer` is a misleading name since it really is a Collection.

Probably best would be a blurb in the README

1. If AMS is not given an serializer and cannot infer one, it will just pass through

[2015-09-22 15:49] NullVoxPopuli commented on #1191
:+1:

[2015-09-22 15:50] bf4 commented on #1188
(And link from your question here, as well.)

[2015-09-22 16:19] bf4 commented on #1190
attributes :body, :date
    belongs_to :author # This would be serialized by PostSerializer::AuthorSerializer, unless we define a PostSerializer::CommentSerializer::AuthorSerializer
  end

anonymous class or dynamic constant set here are fine with me.  I think this interface is most intuitive.

I do like always being able to hook into a method or template method like:

  if current_user.admin?

[2015-09-22 17:07] jfelchner commented on #1044
@beauby I agree up to a point. I'm looking at this from the perspective of what is the most common use case as well as what does the user interface look like.

As it currently stands, the `include` option can (and should) be specified from the controller. However, this means that the data manipulation for including associations can either be:

* done on the object there in the controller before it

[2015-09-22 17:21] bf4 commented on #1044
Perhaps provide a hook of some sort where you can 'prepare' an object for an association?

[2015-09-22 17:25] jfelchner commented on #1044
@bf4 yeah that would work, but still has the problem of being opt-in. Whereas if you're serializing an AR object with associations included (in the serialized hash), I can't think of a single time where those associations should _not_ be included.

[2015-09-22 18:25] givigier commented on #1188
http://stackoverflow.com/questions/32722921/inheritance-of-serializer

[2015-09-22 18:42] givigier commented on #1188
I guess that it's a bug. I'll try to explain exactly what I did.
I have two serializers, first is ApplicationSerializer and the second is CompanySerializer that inherits of ApplicationSerializer.
[code]

[code]
When I run  on ``branch: '0-10-stable'`` I got:

[code]
"company-1" is the slug of company with email name3@email.com

When I run on ``branch: 'master'`` I got:

[code]
In this case, slug i

[2015-09-22 18:47] givigier commented on #1188
@bf4 @beauby is there any info i could post here to explain better?

[2015-09-22 19:11] NullVoxPopuli commented on #1188
what happens if you do:

[code]
?

[2015-09-22 19:58] bf4 commented on #1044
Polymorphic handlng of poros vs arecord?

B mobile phone

[2015-09-22 20:02] givigier commented on #1188
[code]
return NoMethodError: undefined method `id' for V1::CompanySerializer:Class

[2015-09-22 20:04] NullVoxPopuli commented on #1188
well, that didn't do what I thought it would...

anyway,
I'll see if I can re-create your scenario in a test and debug a bit

[2015-09-22 20:08] bf4 commented on #1188
I'm guessing the bug is in Serializer._attribute(*args) that conditionally defines attribute methods on the serializer , and that sonething is wrong in one of them

What's

ApplicationSerializer.instance_method(:id).source_location
ApplicationSerializer.instance_method(:id).source

And

CompanySerializer.instance_method(:id).source_location
CompanySerializer.instance_method(:id).source

And for ea

[2015-09-22 20:30] jfelchner commented on #1044
@bf4 I think that would be the right approach yeah. :)

[2015-09-22 20:58] youroff opened #1192 "What is the inline usage in 0.10?"
With 0.9 I was able to do just `SomeSerializer.new(obj).to_json`. How to achieve something similar with the latest version?

[2015-09-22 21:01] bf4 commented on #1044
I'd just hope we conservative in what we promise and easy to customize so  as to keep maintanance needs low, mostly at the interface level, and minimize bugs....

Exoanding the scope to manage ar associations worries me.

[2015-09-22 21:02] NullVoxPopuli commented on #1192
[code]
(I believe)

[2015-09-22 21:02] bf4 commented on #1044
Ooh!  The poro is activemodel::serializer and the ar is activerecord::serializer!!!

[2015-09-22 21:05] youroff commented on #1192
Yeah, just found it in docs for master branch (it wasn't in 0.10-stable), but it didn't work either for some reason. Here's the trace:
[code]

But now at least I see where to dig, thanks ;)

[2015-09-22 21:06] jfelchner commented on #1044
@bf4 that's what I was outlining above yeah. :) if it seems like that's the best option I think we go for it. ❤️

[2015-09-22 21:11] #1192 closed

[2015-09-22 23:09] beauby commented on #1188
As you can see [here](https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json_api.rb#L81), if the method `id` is defined on the serializer, that is what will be used as `id`. In your case, it seems like the `id` method is not defined on the inherited serializer. Could you post the output of what @bf4 suggested? That would probably help solve the i

[2015-09-22 23:12] beauby commented on #1192
@youroff Seems like the inferred serializer for your resource does not exist.

[2015-09-23 03:42] beauby commented on #1190
Update: nested implicit serializers are here (https://github.com/rails-api/active_model_serializers/pull/1193).

[2015-09-23 04:10] nahtnam commented on #1180
@beauby Sorry? I dont have `foreign_key` set in the serializers, only in the model. If I remove the `foreign_key` from the rails model, rails throws an error saying that it cannot find the related datacenters. I havent set `foreign_key` on AMS at all.

[2015-09-23 14:02] leonhall commented on #927
I know this issue is closed, but I don't think this is working on 0.10.0.rc2. I add a method as below in my serializer, and it still includes the associations.

def include_associations!
    false
end

[2015-09-23 14:18] beauby commented on #927
Since #1158 / #1127 you can do stuff like `include: '*.*.*'` (which exactly includes 3 levels of nested relationships) in 0.10.x.

[2015-09-23 14:38] givigier opened #1194 "Include does not work on nested associations"
I'm trying to use the feature of nested associations. My structure of serializers is:
[code]

[code]

[code]

[code]

[code]

When I add 'include' of associations on controller(like on QuotesController) it works fine and return:
``
{"id"=>"1", "company"=>{"id"=>"1", "addresses"=>[], "phones"=>[]}}
``

Otherwise, when I add 'include' of associations on serializer it does not work and doesn't return

[2015-09-23 14:48] NullVoxPopuli commented on #1194
It no longer is implemented on serializer association definitions. This was
a design decision. But an argument could be made for bringing it back.
Like, if you always want a few nested associations on a particular object.

On Wed, Sep 23, 2015, 10:38 AM Gabriel Givigier Guimarães <
notifications@github.com> wrote:

[2015-09-23 15:57] beauby commented on #1194
As @NullVoxPopuli said, this feature is currently not part of master (only the adapter option). Could you provide a link to the doc where it says otherwise so that we correct it?

[2015-09-23 16:05] givigier commented on #1194
I was reading on https://github.com/rails-api/active_model_serializers/pull/1127. It's not a doc, sorry.

I understand the point that you said but this logic on controller is not against DRY? I'll need to set include on every controller that I use the serializer. If this logic was on serializer I didn't repeat on every controller.

[2015-09-23 16:05] tomcanham commented on #908
Unfortunately, the lack of sideloading is crippling. EmberData currently has a bug WRT async belongsTo relationships (you can't set/save them) and sideloading is the only supported/scalable way to do non-async relationships. So basically this blows the whole stack out of the water.

[2015-09-23 16:09] beauby commented on #1194
@givigier Currently, we're thinking about going down the way described in #1193. Basically, what it allows, in your case, is:

[code]
Combined with `render json: @quotes, include: '**'`, it will have the desired result. Feel free to comment/add suggestions to #1090 (which is where we discuss how nested serializers should be).

[2015-09-23 16:10] beauby commented on #1194
Thanks for pointing out the inconsistent PR description though, I'm fixing this right now.

[2015-09-23 16:12] givigier commented on #1188
[code]
Company is an ActiveRecord model. It's not necessary to add read_attribute_for_serialization(attr) or am I wrong?

@beauby I added ``id`` on serializer too and it does not work :cry:
[code]

[code]

It only work when I'm using ``branch: '0-10-stable'``, on master it's broken.

[2015-09-23 16:14] beauby commented on #1188
You're right about this.

In order to help you, we still need the output of:
[code]

[2015-09-23 16:20] beauby commented on #1180
Sorry about that, I read too fast. I'll look into it.

[2015-09-23 16:25] givigier commented on #1188
[code]
["/Users/givigier/Sites/agrid-api/app/serializers/application_serializer.rb", 4]

[code]
"  def id\n    object.slug\n  end\n"

[code]
["/Users/givigier/Sites/agrid-api/app/serializers/v1/company_serializer.rb", 9]

[code]
"  def id\n    object.slug\n  end\n"

[code]
[:id]

[code]
[]

[code]
[:id, :email]

[code]
[]

[2015-09-23 16:29] givigier commented on #1194
Thanks! I guess we could close this issue.

[2015-09-23 16:29] #1194 closed

[2015-09-23 16:48] beauby commented on #1188
So what happens is that, in your parent serializer (`ApplicationSerializer`), you define the method `id`, which get inherited to `CompanySerializer`. However, when you latter call `attributes :id, :email` in `CompanySerializer`, this overrides the custom `id` method inherited from `ApplicationSerializer`, and replaces it with a stock `def id; object.id; end`. This problem arrises only with the `id

[2015-09-23 17:17] beauby commented on #1188
@givigier Could you test #1195 and confirm it fixes your issue?

[2015-09-23 17:48] givigier commented on #1188
It fixes the issue, thanks. I was going to try contributing but you fix fastly :+1:

[2015-09-23 17:48] givigier commented on #1188
@beauby Can I close the issue?

[2015-09-23 17:49] beauby commented on #1188
Sure :+1:

[2015-09-23 17:49] #1188 closed

[2015-09-23 18:42] yijia-zhan commented on #1085
I'm spiking to update to `0.10.0.rc3` from `0.9.3`. Looks like `serialization_options` has been removed in `0.10.x`, is there any alternative way to achieve this?

[2015-09-23 21:27] NullVoxPopuli commented on #908
I'll be releasing a PR for sideloading sometime this week.. Whenever I find the time to do it. (I need sideloading, too) :-)

[2015-09-23 23:37] sd commented on #1085
in 0.10, it seems that the method you're looking for is "instance_options"

# in controller
render json: @posts, param_a: "abc", param_b: "xyz"

# in PostSerializer
def some_attribute_method
  instance_options[:param_a] == "abc"
end

[2015-09-24 00:28] yijia-zhan commented on #1085
Thanks @sd, that's what I was looking for! It's in the current latest master but not `v0.10.0.rc3`. I'll switch to using master for now.

[2015-09-24 02:25] beauby commented on #1164
After investigating a bit, I find this really weird. Could you try again with master to see if the issue has been fixed?

[2015-09-24 02:32] beauby commented on #1151
Closing as the issue seems to be solved. Feel free to reopen if needed.

[2015-09-24 02:32] #1151 closed

[2015-09-24 02:35] beauby commented on #1077
Nested associations are back, and you can control what exactly will be nested through the `include` adapter option (#1158, #1127), or simply trust your serializers to choose for you by supplying the `include: '**'` to the adapter (default is to include only the first level of relationships).

Closing this for now, feel free to reopen if needed.

[2015-09-24 02:35] #1077 closed

[2015-09-24 02:36] beauby commented on #1076
Closing this for now, as it has been awaiting submitter response for a month. Feel free to reopen if needed.

[2015-09-24 02:36] #1076 closed

[2015-09-24 02:45] beauby commented on #963
Closing for now, as I believe this is fixed in master (`options` has been renamed to `instance_options`). Feel free to reopen if needed.

[2015-09-24 02:45] #963 closed

[2015-09-24 02:47] beauby commented on #960
Closing this, as we have integrated the ability to override `id` in master. Feel free to reopen if needed.

[2015-09-24 02:47] #960 closed

[2015-09-24 04:09] beauby commented on #878
So the current way (in master) to "get the JSON" is to do `ActiveModel::SerializableResource.new(my_resource).serializable_hash.to_json`.

Closing this for now. Feel free to reopen if needed, or open a new issue with a feature request if you feel the interface should be different.

[2015-09-24 04:09] #878 closed

[2015-09-24 04:12] beauby commented on #835
So #1158 and #1127 solve this problem. If you want to serialize all defined relationships (which might be dangerous if you have cycles in your data graph), you would just provide the `include: '**'` option to the adapter. You could also manually specify the include tree, or just specify a level of nesting (like `include: '*.*.*'` for 3 levels).

Closing this for now, feel free to reopen if needed.

[2015-09-24 04:12] #835 closed

[2015-09-24 04:13] beauby commented on #882
Closing this for now as the issue seems to be solved by @joaomdmoura's suggestions. Feel free to reopen if needed.

[2015-09-24 04:13] #882 closed

[2015-09-24 04:16] beauby commented on #825
@eliduke Did @kurko's suggestion help?

[2015-09-24 04:21] beauby commented on #760
I believe this is done in master. Closing for now, feel free to reopen if needed.

[2015-09-24 04:21] #760 closed

[2015-09-24 04:23] beauby commented on #732
This is fixed in master (future 0.10). Closing this for now, feel free to reopen if you need further assistance.

[2015-09-24 04:23] #732 closed

[2015-09-24 04:24] beauby commented on #716
Closing this for now, feel free to reopen if needed.

[2015-09-24 04:24] #716 closed

[2015-09-24 17:58] jimmybaker opened #1197 "Getting data as the root key on 0.10.0.rc3"
My app is rendering "data" as the root element on all of my endpoints when using 0.10.0.rc3 and the json_api adapter. Anyone know how to fix this?

[2015-09-24 17:59] jimmybaker commented on #1197
Nevermind. Silly me. I meant to use the json adapter. Works fine now.

[2015-09-24 17:59] #1197 closed

[2015-09-24 19:40] Padchi commented on #1176
I don't think it's something wrong with the id, i get the error on this simple thing:

[code]

Know that it's bad code and that it doesn't do anything but just wanted to show that the error throws by just accessing `ActiveModel::Serializer`

[2015-09-25 00:24] asselstine commented on #974
@mminkoff Thank you for that code snippet; I was able to use standard AMS without defining :key for every attribute!

I'm using AMS v0.10.0.rc3 with Rails 4.2.1 and Ember 0.13.

[2015-09-25 07:48] edwinlunando commented on #1189
@dukex @beauby  Update on this. I already tried
[code]
and
[code]

Still not as expected result.

[2015-09-25 09:02] edwinlunando commented on #1189
The problem is on finding serializers is that the `IngredientSerializer` works perfectly if I use the ingredients API.

[2015-09-25 13:31] nadeemja opened #1199 "Associations no longer show when upgrading from 0.8.X to 0.9.X"
Hi,

All of my associations disappear from the JSON when upgrading from 0.8.X to 0.9.X.

I've read the docs and the changelog and commits. There doesn't seem to be any breaking changes.

Please help.

[2015-09-25 14:11] bf4 commented on #1199
0.9 is quite different from 0.8..  You should either stay on 0.8 or move to the 0.10 rc (and please report and/or document any issues you have in upgrading)

[2015-09-25 14:16] nadeemja commented on #1199
Thanks. I will try it asap.

[2015-09-25 14:19] nadeemja commented on #1199
0.10.0.rc3 works!

[2015-09-25 14:19] #1199 closed

[2015-09-25 14:40] eliduke commented on #825
@beauby Thanks for pinging me again on this. In the end I switched things up and found a different solution, but now that this is back in my brain I will take a look and see if @kurko's suggestion works.

[2015-09-25 14:42] beauby commented on #1189
I think your problem is that you have both an attribute and an association named `ingredient`. Your associations should not be in the list of attributes.

[2015-09-25 14:47] beauby commented on #1152
Just realized, you're serializing a collection with a serializer that's not designed for that. Try `render json: @customers_filtered, each_serializer: User::CustomerSerializer` (notice the `each_serializer` instead of `serializer`).

[2015-09-25 14:50] beauby commented on #1176
@Padchi What's your platform? (OS version, ruby version, etc.)

[2015-09-25 15:12] Padchi commented on #1176
@beauby OS X 10.10.5, RVM 1.26.11, ruby 2.2.1 (also tried 2.2.3). You need something more?

[2015-09-25 15:55] hut8 opened #1200 "JSON API - Include documentation"
Looking here:

https://github.com/rails-api/active_model_serializers#json-api

it neglects to mention the `*` and `**` options which I found in `include_tree.rb`. Are these intentionally undocumented? Because `**`, I think, is exactly what I want in order to include one layer of everything. It seems like `**` isn't mentioned anywhere in the JSON-API spec, so is this intentionally undocumented in c

[2015-09-25 16:01] beauby commented on #1200
It is not mentioned yet, but will be. You're probably looking for `*` or `*.*` which respectively mean "include all first level relationships" and "include all first and second level relationships". `**` means "include *all* levels of relationships".

[2015-09-25 16:02] beauby commented on #1200
If you have time to make a PR for documentation on this, it would be amazing.

[2015-09-25 20:45] hut8 opened #1202 "Duplicate resource object in compound document"
There's a bug here (unless I'm reading something wrong) and I can't find an open issue that describes this. Please forgive me if this is a duplicate.

**Reproduction set-up**

Making a [compound document](http://jsonapi.org/format/#document-compound-documents) using `include`. It contains an `Organization`, which `has_many :people`, and `Person` `belongs_to :organization` (there are many other cas

[2015-09-25 20:49] hut8 commented on #1202
Also it's only going to happen with `**` specified for `include`, or equivalent.

[2015-09-25 22:53] bernsno commented on #1176
I'm seeing the same in RC3. A simple (contrived) example:

**Example serializer**

[code]

**RC2**
[code]

**RC3**
[code]

[2015-09-26 08:19] nadeemja opened #1203 "Associations linked by several "has_many, :through" show up blank in JSON."
Hi,

Here's the entire context:

I'm using active_model_serializers with rails_api.

My model Event relates to the User model using a HABTM association.

For each Event, a User can have one of two roles: Lecturer or Student.

I manage these roles through the gem Rolify.
https://github.com/RolifyCommunity/rolify

To get AMS and Rolify working together, I do this:

    # event.rb
    class Event < A

[2015-09-27 12:58] brauliobo opened #1204 "Manual serialization for embedding in a attribute"
I need to serialize manually, either to test on the console but mainly for a riot component, something like

[code]

But `attributes` does not includes associations. So, how to do it?

[2015-09-27 15:28] NullVoxPopuli commented on #1204
Have you tried `SerializableResource.new(obj).serializable_hash`?

On Sun, Sep 27, 2015, 8:58 AM Bráulio Bhavamitra <notifications@github.com>
wrote:

[2015-09-27 17:15] beauby commented on #1202
You are very right, thanks for pointing that out @hut8. I'll provide a fixing PR in the coming hour.

[2015-09-27 17:18] beauby commented on #1204
@brauliobo As @NullVoxPopuli said, and as mentioned in the [docs](https://github.com/rails-api/active_model_serializers/blob/master/docs/howto/outside_controller_use.md), in order to use AMS outside of a Rails controller, you just have to
[code]
If you find the docs are not clear, we'd love for you to provide a PR making it better.

Closing this for now, feel free to reopen if you need further ass

[2015-09-27 17:18] #1204 closed

[2015-09-27 22:06] brauliobo commented on #1204
@beauby @NullVoxPopuli ok, this seems rather long to me. You think it would be good to have a `seriarialize_hash` method on `ActiveModel::Serializer` that just do this?
Something like:
[code]

[2015-09-27 22:19] brauliobo commented on #1204
Also, `serializable_hash` is rather long and difficult to type, maybe `to_hash` or something else as an alias to it...

[2015-09-27 22:20] beauby commented on #1204
I agree with you to some extent that the naming is not optimal. Thoughts @bf4, @joaomdmoura, @NullVoxPopuli?

[2015-09-27 22:31] brauliobo commented on #1204
@beauby now maybe a bug. When I serialize `ContextSerializer`, which has many `TeamSerializer`, which has many `MemberSerializer`, the has_many `MemberSerializer` is discarded. Is it not recursive?

[2015-09-27 22:55] beauby commented on #1204
@brauliobo Could you open a separate issue for this, with your serializers and specifying the adapter used?

[2015-09-27 23:01] brauliobo opened #1205 "Recurse associations by default"
Given these two serializers
[code]
If I call
[code]
It will serialize `teams`, but not `members`. For `members` I would have to specify `include: {teams: :members}` option for it to work.

But this seems very strange to me. Intuitively, by default it should go recursively.

[2015-09-27 23:03] brauliobo commented on #1204
@beauby done, #1205

[2015-09-27 23:06] beauby commented on #1205
You are right that the current default behavior of AMS with the Json/Attributes adapters is to embed only the *first level* associations. I am personally in favor of making the default embedding policy `**`, i.e. embed all levels, although we would need to add a check for infinite recursion in case the data graph has cycles. Thoughts @bf4, @NullVoxPopuli, @joaomdmoura?
As a workaround, you can spe

[2015-09-27 23:09] brauliobo commented on #1205
@beauby this is workaround is quite handy :)

[2015-09-27 23:10] brauliobo commented on #1204
Addressing #1205 at the same time, would do:
[code]

[2015-09-27 23:15] beauby commented on #1204
@brauliobo It being technically feasible is not the issue here. The issue is mainly separation of concerns between classes, and so far it has been deemed outside of the serializer's scope to actually build a serializable hash for a resource (the rationale behind it being that a serializer should only be concerned with presenting one type of resources, not its associations).
Feel free to open an is

[2015-09-27 23:19] brauliobo commented on #1204
@beauby ok, will keep that in mind. This is my first week on AMS, and it only maked sense to serialize using the serializer itself, this concept of SerializableResource is still not yet fully justified to me, as the serializer is already linked to the resource (`object`).

[2015-09-27 23:20] beauby opened #1206 "[RFC] Clean up/rethink test infrastructure"
Currently the tests use models and serializers defined in `test/fixtures/poro.rb` and `test/fixtures/active_record.rb` (as well as some dynamically defined/locally scoped serializers inside tests) in combination with actual fixtures defined in the `setup` method of many test classes, which leads to lots of code duplication.
I am opening this RFC to discuss alternatives to this, as I feel writing t

[2015-09-27 23:25] beauby commented on #1204
I totally understand that, and I've been working on some doc that explain the internal of AMS so that new contributors can grasp it more quickly. Roughly:
 + **serializers** present models for serialization (that is, they describe *what* will be serialized, and under *what name*),
 + **adapters** take a bunch of serializer instances and build a hash that's ready for JSONification (the structure of

[2015-09-27 23:38] brauliobo commented on #1204
Yeah, the concept of serializers and adapters are quite easy to understand and accept. For adapters I would only add some configuration (for example, customize root key on `:json`)

[2015-09-27 23:40] beauby commented on #1204
@brauliobo This is already the case. If you'd like to further discuss AMS-related stuff, feel free to join us on the [AMS slack](http://amserializers.slack.com).

[2015-09-28 00:15] bf4 commented on #1205
I'd rather make deep nesting an intentional oractice, rather than easy, and so therefore like that more than two levels requires explicitness

B mobile phone

[2015-09-28 02:06] NullVoxPopuli commented on #1206
I've always been a fan of having a support folder under my test directory, and then having files named after groups of what they represent. I guess in our case, it could be: models.rb, serializers.rb, model_support.rb (this one could be the model object itself) etc.

[2015-09-28 02:08] NullVoxPopuli commented on #1204
as for the naming of `serializable_hash`, I think `to_hash` would be generic enough to make sense, but not too generic to not may sense, if that makes any sense :-)

We are technically converted models/associations to a hash, and while it doesn't exactly say what is going on, I think that's what may be implied by passing the model to `SerializableResource.new`

[2015-09-28 02:22] bf4 commented on #1204
No!!!!!! It's the ActiveModel::Serialization interface.  Take it up with Rails

Also, it's not a problem except for lib authors

B mobile phone

[2015-09-28 02:23] bf4 commented on #1204
Please read the Lint

B mobile phone

[2015-09-28 02:27] julianosaless opened #1207 "Improve the command line message [Ynaqdh]"
Hello everyone, sorry for my English :)

I am new user the api active_model_serializer, when i was using i think confused this command in label red  below:

**Before** :
![help](https://cloud.githubusercontent.com/assets/1616798/10126616/309e0f50-656c-11e5-96ba-eecf5ccc410b.JPG)

The **[Ynaqdh]**  is confused because one is word, because it does not seem  one list the individual command.

**After*

[2015-09-28 02:32] beauby commented on #1207
Hi @julianosaless, thanks for taking the time to report this issue. However, this behavior is part of rails, not of active_model_serializers (we have no control over the way rails handles file conflicts during generation of files), so you should bring this up to the rails team.

Closing this, since it is not AMS-related.

[2015-09-28 02:32] #1207 closed

[2015-09-28 02:45] julianosaless commented on #1207
Thank You @beauby , i will send pr to show this information at documentation AMS

[2015-09-28 21:51] youroff opened #1209 "Custom type for json-api adapter"
Wouldn't it make more sense to have type set after serializer name, not the model class?
https://github.com/rails-api/active_model_serializers/blob/master/lib/active_model/serializer/adapter/json_api.rb#L73-L79
I think that's the point of having multiple serializers for different occasions. In my example I have `ProfileSerializer`, but main object there is obviously `User`, however I expect Ember

[2015-09-28 22:09] passalini opened #1210 "cache not working"
I google and try a lot, but I just can't see/do the AMS's cache work.
Right now I'm in `development env` using `0.10.0.rc3`

ps: I can use `Rails.cache` normally

[code]

[code]

Any help will be very welcome!!

[2015-09-29 12:17] passalini commented on #1210
Update
----

I can see the cache working on ubuntu 15.04 but not in my other machine, OS X Yosemite 10.10.5,
both using rbenv, ruby 2.1.5 and rails 4.2.1.

I will close the issue, but when I figure out why it does not work in osx, I will do an updade here!
:)

[2015-09-29 12:17] #1210 closed

[2015-09-29 13:57] beauby commented on #1210
@passalini Great, please keep us posted if you find the reason so that we can include it in an FAQ.

[2015-09-29 15:16] hut8 opened #1211 "NoMethodError: undefined method `key?' for nil:NilClass when using key"
I was actually just trying to update my other pull request and was figuring out exactly what the "include" parameter expects for including related entities with JSON-API. Then I think I found a bug.

**Exception**

[code]

**Working Steps**

I have a model that has this:
[code]

When I hit a route that invokes this code, it works great:

[code]

**Broken Steps**

I have another model that has a `[

[2015-09-29 15:22] bf4 commented on #1211
@NullVoxPopuli @beauby worked on that.  They may have some insight

[2015-09-29 15:29] hut8 commented on #1211
Cool. Here's some stuff that might be useful from pry:

[code]

[2015-09-29 15:34] NullVoxPopuli commented on #1211
@hut8 thanks for reporting this!

I'm at work right now, and can't look too deeply in to this for the next few hours. But if you have the time right now, it would be suuuuuuuuuper beneficial if you could maybe come up with a failing test for this scenarios?

we love PRs that are failing tests. they are best PRs :-)

[2015-09-29 15:37] hut8 commented on #1211
Will do.

[2015-09-29 15:39] NullVoxPopuli commented on #1211
thanks a ton!

[2015-09-29 16:25] hut8 commented on #1211
@NullVoxPopuli Done.

[2015-09-29 17:01] NullVoxPopuli commented on #1211
woo!

[2015-09-29 17:40] youroff commented on #1209
Just created a pull-request implementing something like this. I made it really simple so that if user sets type in serializer it'll be used, but also we can do setting to choose whether serializer class_name or model class_name should be used, or custom field.

https://github.com/rails-api/active_model_serializers/pull/1213

[2015-09-29 19:02] nadeemja opened #1215 "Deeply nested HABTM doesn't show in 0.10.0.rc3"
Hi,

I have the following associations between three models:

Event has_many Schedules.
Schedule has_and_belongs_to_many Rooms

In 0.8.3, I get what i want:

    -Event
    -- Schedules:
    ---- Rooms:

In 0.10.0.rc3, I only get:

    -Event
    -- Schedules

I've downgraded to 0.8.3 for now.
Let me know if you need more info.

[2015-09-29 19:24] NullVoxPopuli commented on #1215
Hi there!

can you show us your serializer? and controller action where you are rendering the data?

[2015-09-29 22:23] beauby commented on #1215
Hi @nadeemja, in 0.10, the default is currently to serialize only the first level of relatinoships (this is being discussed here #1205). You can override this behavior either at the controller level, by specifying the `include: '**'` option in your render call (like `render json: @posts, include: '**'`), as *soon to be* mentioned in the docs (there's a pending PR to add this to the docs), or globa

[2015-09-29 23:09] beauby commented on #1211
Ok, got it.
So, the issue is that [here](https://github.com/NullVoxPopuli/active_model_serializers/blob/issue/1211-failing-test/lib/active_model/serializer/adapter/json_api.rb#L136) and [here](https://github.com/NullVoxPopuli/active_model_serializers/blob/issue/1211-failing-test/lib/active_model/serializer/adapter/json_api.rb#L157), we use `association.key` and in [here](https://github.com/hut8/ac

[2015-09-30 01:59] vasilakisfil commented on #1058
I am totally against having the filtering logic inside the AMS classes. However there should definitely be an option for filtering attributes in a serializer, but outside the AMS class. This was possible in the 0.9.x with the only: option. Maybe relevant to #1141

[2015-09-30 02:39] vasilakisfil commented on #1058
I think I can provide you a gem that filters attributes of a resource in the db level for ActiveRecord and Mongoid using AR's select(*attributes) and Mongoid's only respectively. I would create that anyway next week so why not coordinating with you..

[2015-09-30 06:22] BenMorganIO commented on #1058
So, Spree's V2 API actually can filter attributes. What I want to do is focus it on `self` and support associations later on. See: https://github.com/spree-contrib/spree_api_v2/blob/master/app/controllers/spree/api/v2/base_controller.rb#L28

You can see it in action here: http://spree-contrib.github.io/spree_api_v2/#filtering

However, what I want it to be able to do is:

[code]

[2015-09-30 08:48] edwinlunando commented on #1189
Ok, I tried removing them from the `attributes`
[code]
The `ingredient` and `unit` key is not on the result set.

Any idea?

[2015-09-30 08:56] edwinlunando commented on #1189
Trying with single attribute is the same. It uses the wrong serializer.
[code]

[2015-09-30 09:52] beauby commented on #1189
If it is an association, it should not be defined as an attribute. Could you post your `render` call (in your controller) as well?

[2015-09-30 11:35] NullVoxPopuli commented on #1215
I'd be careful with `'**'` though. If you know exactly what associations you want, I think it would be safer to specify those.

@beauby also has a pending PR where you can specify nested relationships in the serializers. see #1193

[2015-09-30 15:00] jeffbonhag commented on #1027
@shicholas Thanks, that was a great help.

[2015-09-30 15:45] passalini commented on #1210
@beauby today the code just work, memory's garbage perhaps? I don't konw yet, but if I figure out I will come back.

[2015-10-01 16:44] passalini commented on #1045
@joaomdmoura I'm trying to use this technic to improve the response time and the only way that I thought was caching the `as_json` from the `adapter`. This idea came up after I read [Hawkins](http://hawkins.io/2012/07/advanced_caching_part_6-fast_json_apis/)'s posts and changed that a little bit.

Right know I have something like this:
[code]

[code]

ps: I added `cashier` to expire that cache by

[2015-10-01 20:43] bf4 commented on #1206
ref something I wrote in RSpec on 0.10.0.rc1, https://github.com/rails-api/active_model_serializers/issues/878#issuecomment-96073030 as I will (hopefully) get to in https://github.com/rails-api/active_model_serializers/pull/967

[2015-10-01 22:05] passalini opened #1219 "Inheritance of serializer does not inherits the cache!"
I'm on `0.10.0.rc3` and when I do a serializer inheritance the child does not inherits the parent's cache config.. Is this expected or an issue?

Expected or not, I think that it needs some doc.

[2015-10-01 22:41] jszwedko commented on #599
Is there a recommended way to do this with `0.10`? I see https://github.com/rails-api/active_model_serializers/pull/679 was merged in after this issue was opened, but since 0.10 is based on 0.8 it is not in master.

[2015-10-01 22:44] jszwedko commented on #599
Never mind, found it under `instance_options` :smile:

[2015-10-02 02:59] bf4 commented on #1219
Right now it is expected since it's a class method, not a `class_attribute`.  We could try a pr that changes

[code]

to

[code]

pr?

[2015-10-02 03:02] bf4 commented on #599
@jszwedko do you have an example of what you did? This issue has great discussion in it..

[2015-10-02 03:08] jszwedko commented on #599
@bf4

Sure thing, I did something like:

PostController
[code]

PostSerializer
[code]

[2015-10-02 03:22] bf4 commented on #599
ah, @jszwedko awesome, very clever use of all options going to the serializer unless the adapter ~~eats~~ uses them

[2015-10-02 11:44] passalini commented on #1219
:+1: It will be nice!

I tried to put this code in Gem's `Serializer` but just it does not work or I put it in the wrong place.. Right now I'm a little busy with russian dolls to spend more time with it, but when I finish it I will try to do your ideia work.

[2015-10-02 11:55] semikolon commented on #398
Some models have trailing questionmarks in method names like model.was_good? and I wanted it to translate to wasGood in JSON. Here's my solution. Some repetition for has_many/has_one/belongs_to  - how would you simplify it?

[code]

Here's the current code for associations in AMS: https://github.com/rails-api/active_model_serializers/blob/aaa60bfdc131cbd96b322037f56bce99a9f36de5/lib/active_model/s

[2015-10-02 13:29] #1211 closed

[2015-10-02 13:30] #1200 closed

[2015-10-02 13:31] aivils commented on #543
Even this goes out of AMS's scope AMS already have built-in solution. You can
use any custom method as serialization_scope

[code]
Not very sane because you dont need 2nd page of messages of every message thead. Rather
you need limited count of messages per thread.

[2015-10-02 13:43] dfabreguette-ap commented on #354
Just had an issue using elasticsearch mongoid gem (calling rake es:reindex). After Some Search I found this github issue solving my problem : https://github.com/nesquena/backburner/issues/80

[2015-10-02 15:08] scttnlsn commented on #1025
I'm having this issue with the `FlattenJson` adapter.  I'd like to be able to pass in `include: []` and have none of the relationships included in the serializable hash (currently relationships 1 level deep are included by default it seems?).  In other cases I'd like to explicitly include various nested relationships.  Is that possible somehow?

[2015-10-02 15:10] NullVoxPopuli commented on #1025
@scttnlsn that's a good idea. I'll check on that real quick, I'm not sure if that's currently possible.

[2015-10-02 15:12] scttnlsn commented on #1025
@NullVoxPopuli OK, I'm happy to put together a pull request if this is something you'd be interested in.

[2015-10-02 15:13] beauby commented on #1025
@scttnlsn This is currently possible. Passing `include: ''` or `include: []` will make the adapter include no relationship at all.

[2015-10-02 15:13] NullVoxPopuli commented on #1025
are you using master? FlattenJson actually isn't the name of the adapter anymore, and I just wrote a test for the json adapter to achieve your desired result, and it worked.

[2015-10-02 15:15] scttnlsn commented on #1025
I'm using `0.10.0.rc3` and it is not working.  I try `master`.

[2015-10-02 15:15] NullVoxPopuli commented on #1025
@scttnlsn https://github.com/rails-api/active_model_serializers/pull/1227

it's not using the attributes adapter, but both json and attributes adapters use almost all the same code.

[2015-10-02 15:18] scttnlsn commented on #1025
@NullVoxPopuli OK, awesome.  It's working great on `master`.  Thanks!  Will this be in a `0.10.0.rc4` release?

[2015-10-02 15:19] NullVoxPopuli commented on #1025
@scttnlsn I'm glad!
and yes, it'll be either rc4, or official 0.10.0. Not sure on official next release.
@joaomdmoura probably knows

[2015-10-02 15:19] beauby commented on #1025
@scttnlsn Yes, it will be part of the next release.

[2015-10-02 17:11] jfelchner commented on #1025
@beauby yeah I know we could probably hack something but I'd prefer if AMS would take care of this more transparently for us.

[2015-10-02 23:56] joaomdmoura commented on #1113
Nice, moving then, I'm closing this one then in favor of #1190 :smile:

[2015-10-02 23:56] #1113 closed

[2015-10-03 00:59] joaomdmoura commented on #1190
Nice, also in love with the `block` implementation.
Way nicer and easier to use!

I tried to catch up with the referenced PR and Issues, but this whole nested thing seems to have chunks spread across everywhere :smile:

About 3. I don't think `include_if` is way to go, I think we should keep the [filter implementation](https://github.com/rails-api/active_model_serializers/issues/1058), or some imp

[2015-10-03 02:42] beauby commented on #1190
@joaomdmoura It would look first for the nested serializer, then for the namespaced serializer (if the resource is inside a namespace), then for a global serializer. Possibly, we can add a lookup in the controller's namespace as well.

[2015-10-04 13:01] beauby commented on #1190
After giving it more thoughts, I'm also against `include_if` or similar attribute-level, as I believe this logic does not belong in AMS. Instead, I'm more in favor of a way to explicitly specify to the adapter what fields to include (and potentially exclude) for each type at the adapter level (JSON API `fields` style). However, we should also think about a clever way to have different _flavors_ of

[2015-10-04 13:11] beauby commented on #1215
Closing this for now. Feel free to reopen if needed.

[2015-10-04 13:11] #1215 closed

[2015-10-04 13:13] beauby commented on #1205
@bf4 I don't feel strongly either way, but it should be made clear in the docs so that people don't get surprised by this behavior (intuitively, at least I, would expect all relationships to be serialized for the Json/Attributes adapters).

[2015-10-04 13:15] beauby commented on #1203
Which version of AMS are you using?

[2015-10-04 13:22] nadeemja commented on #1203
0.8.3. Have tried 0.10.x too.

[2015-10-04 13:22] brauliobo commented on #1205
@bf4 @beauby to make sense that the top association (`teams`) is going to get serialized, an option `include: true` on `has_many :teams` is necessary. otherwise, this option could be true recursively, by default.

[2015-10-04 13:22] beauby commented on #1180
There is probably a problem with your models. Could you give the result of `Steam::StatusDatacenter.first.status` inside rails console?

[2015-10-04 14:17] NullVoxPopuli commented on #1205
I'm against having ** by default, as it could lead to an infinite loop of including, and redundant data. :-\

[2015-10-04 14:21] brauliobo commented on #1205
@NullVoxPopuli so what do you think about associations explicity saying they need to be included?

[2015-10-04 14:26] beauby commented on #1205
@NullVoxPopuli I agree this would happen, although it would just be the consequence of bad design (Json adapter + cyclic data graph).

[2015-10-04 14:28] NullVoxPopuli commented on #1205
The trend right now is to only have the model you ask for, and the ids of the asnociations for that model. I know ember prefers things to be sideloaded, so, this would align with that.  And there is a push for async relationships as well. But depending on what other people want to do, and what their workflow is, maybe we need a configuration option?

I don't know what is 'best', but having an AMS

[2015-10-04 14:30] beauby commented on #1205
@NullVoxPopuli If you start doing sideloading and async relationships, you might as well go with JSON API. The goal of the Json adapter should not be to define a poor man's version of JSON API.

[2015-10-04 14:31] NullVoxPopuli commented on #1205
Agreed

On Sun, Oct 4, 2015, 10:30 AM Lucas Hosseini <notifications@github.com>
wrote:

[2015-10-04 14:31] NullVoxPopuli commented on #1205
We should maybe say that in the docs though, so people don't try it

On Sun, Oct 4, 2015, 10:31 AM L. Preston Sego III <lt.sego@gmail.com> wrote:

[2015-10-04 14:41] beauby opened #1229 "Add information about default included associations policy per adapter"
The docs should be clear which associations will get serialized by default (Json/Attributes: only first-level associations, a.k.a `'*'`, JsonApi: no associated resource, but all first-level relationship objects).

[2015-10-04 15:34] NullVoxPopuli commented on #1229
:+1:

[2015-10-04 16:22] beauby commented on #1189
@edwinlunando The following should work:
[code]

I'm closing this for now, as it is a usage issue and not an AMS issue. Feel free to keep commenting if you need further assistance (or better yet, open a StackOverflow question and link it here).

[2015-10-04 16:22] #1189 closed

[2015-10-04 16:26] beauby commented on #1176
@bernsno You should not call `serializer.to_json`, as it is not what you'd expect anymore. In order to serialize a resource outside of a controller's `render` call, you have to do the following:
[code]

[2015-10-05 05:50] joaomdmoura opened #1235 "Full JSON-API support"
### **tl;dr**
We need to cover what we are missing, mostly the links (all-levels)

---
Right now we are covering most of JSON-API conventions but there are some tiny parts missing and we need sync this up.
We are really missing all-levels links support, right now I think there might be just one missing, but we also need to double check overall convention to make sure we are good to go.

[2015-10-05 05:50] joaomdmoura opened #1236 "A better AC/Serializers integration API"
### **tl;dr**
Implement a first-class serializer interface in Rails much like there is for renderers.
Proposed interfaces are: serializer_for  and ActionController::Serializers.register

---
This is something @bf4 is working on. Great work btw.
It will probably be handle most on Rails, but this issue will help us to keep track of it on our side.

relate to issue:
https://github.com/rails/rails/pul

[2015-10-05 05:50] joaomdmoura opened #1237 "Docs describing new version and features"
### **tl;dr**
Update new docs and cover new topics: https://github.com/rails-api/active_model_serializers/tree/master/docs

---
I've being personally pushing a new docs forward: https://github.com/rails-api/active_model_serializers/tree/master/docs
We have being updating it accordingly but there is still a long way to go.

We've an ambitious goal with this doc, cover:
- Usual doubts (avoid unneces

[2015-10-05 05:50] joaomdmoura opened #1238 "Deserialization"
### **tl;dr**
The initial proposal of Deserialization is to convert your json input into something the ActiveRecord understands.

Edit: #1248 has been merged.

---
related to issues:
#1098

related to PRs:
#950
#1248

[2015-10-05 06:10] beauby commented on #1179
I believe we did make a decision on this so I'm closing for now.

[2015-10-05 06:10] #1179 closed

[2015-10-05 11:23] tommyblue commented on #1235
Hi @joaomdmoura, is it possible with 0.10.0.rc3 to use `links`? I tried with:

[code]

but I only have the "data" key in the JSON object :/

[2015-10-05 11:45] NullVoxPopuli commented on #1179
yup

[2015-10-05 11:50] vasilakisfil opened #1240 "Document PORO support"
Is there for PORO support? I can see this library is too tied to AR and not AM. Is that a deliberate action?

Personally I think it's a bad idea because there are many cases where simple POROs are needed + it can't be used with other backend databases like mongoid etc.

[2015-10-05 12:05] NullVoxPopuli commented on #1240
we don't specifically have a requirement to use ActiveRecord, in fact, our gemspec only specifies ActiveModel.
Ya just can't use associations with *just* ActiveModel

you can kind of fake it with https://github.com/joker1007/activemodel-associations but it can get messy.

I believe, in order to get everything working without active record (or any backend) (mainly associations), you need to include

[2015-10-05 12:05] NullVoxPopuli commented on #1240
and actually, if you look at our tests, we use a lot of POROs that aren't active record based (but we manually define relationships, as they can't be inferred)

[2015-10-05 12:37] vasilakisfil commented on #1240
I tried what you said and I got uninitialized constant ActiveModel::AttributeAssignment) and uninitialized constant ActiveModel::Associations). Removing these too worked, however the root key comes from the directory the class defined. I am using json adapter, I guess in jsonapi adapter there would be more issues.

[2015-10-05 12:38] NullVoxPopuli commented on #1240
I don't actually have code to reference for those modules, but I do know that ActiveModel associations is a non-rails gem, and is not supported by the rails team.

What, specifically are you trying to do / serialize?

[2015-10-05 12:41] vasilakisfil commented on #1240
I am trying to serlalize a regular PORO Object with data coming from multiple db tables. We could set up a non rails project in another repo and see what happens there.

[2015-10-05 12:42] NullVoxPopuli commented on #1240
Yeah, I think that would be a great way to isolate the problem. :-)

[2015-10-05 18:00] beauby commented on #1240
@vasilakisfil Our goal is to support POROs with minimal friction, and we're planning to document/streamline it soon. Mainly, what is required is:
 1. a `read_attribute_for_serialization(name)` method defined on your models, (which could be just `def read_..._serialization(name); send(name); end`)
 2. a  `model_name` class method
 3. an `id` method if you're going to use JSON API
 4. possibly a `ca

[2015-10-05 18:01] NullVoxPopuli commented on #1240
@beauby can we document what's required for a poro to be compatible with AMS in one of the new docs files?

[2015-10-05 18:03] beauby commented on #1240
@NullVoxPopuli Not only we can, but I think it's a must. I've mentioned it a few times but I haven't had the time to do it myself (nor am I the more knowledgeable on the matter).

[2015-10-05 18:05] NullVoxPopuli commented on #1240
I'll try to come up with an example tonight of how to do this, and submit a doc PR

[2015-10-05 19:33] NullVoxPopuli commented on #1240
PR: #1241

[2015-10-05 20:17] vasilakisfil commented on #1240
Nice! thanks!

[2015-10-06 03:53] joaomdmoura commented on #1190
Nice @beauby. No need for controller namespace look up, i think we have done enough to make it easy to use already :smile: thank you btw, great work with all this.

[2015-10-06 10:25] NullVoxPopuli commented on #1190
Controller namespace lookesup is handy for versioning serializers. Like Api::v1::___

[2015-10-06 14:52] beauby opened #1243 "Add docs for `include` in Json adapter."
The `include` option with Json adapter works the same as with the JsonApi adapter, but it's not written anywhere in the docs.

[2015-10-06 14:59] vasilakisfil commented on #1243
That's interesting! Do you know if fields or something relevant is also working with JSON adapter? If not is there any interest to send a pull request for that ? Cause I really need it and I am going to implement it anyway..

[2015-10-06 14:59] bf4 commented on #772
I believe this was fixed in https://github.com/rails-api/active_model_serializers/issues/772 for raw json in associations, and `render json: [ 'No session found for the current user' ]` will skip using AMS serializers altogether

[2015-10-06 15:02] beauby commented on #1243
@vasilakisfil Currently you can use the `fields` option with Json/Attributes adapters, but you can only filter the primary resources (`render json: @posts, fields: 'id, title, body'`).

[2015-10-06 15:03] beauby commented on #1243
I am not sure extending the Json adapter to fit the broader JSON API style `fields` option (where you specify the attributes for each type) is a good thing. The goal is to keep Json/Attributes adapters very simple.

[2015-10-06 15:09] vasilakisfil commented on #1243
given that's an adapter I don't think it's an issue. Plus there should be
an adapter that opts for compatibility with  0.9.x and  0.8.x (supporting
only, except etc options). Otherwise the way to go is create an external
plugin adapter just like ember? is there support for that?
On Oct 6, 2015 5:03 PM, "Lucas Hosseini" <notifications@github.com> wrote:

[2015-10-06 15:11] beauby commented on #1243
Oh yeah, AMS is deisgned in such a way that you can create your own adapter and/or extend an existing one. I agree the migration from 0.8/0.9 should be made as easy as possible, I'm just not sure what's the best way to make that happen.

[2015-10-06 15:20] NullVoxPopuli commented on #1243
maybe for the initial 0.10 release, we could copy the old adapters? maybe name them `json_08`, `json_09` etc

[2015-10-06 15:20] NullVoxPopuli commented on #1243
and then in the next release after 0.10, remove them?